#altTabPopup {
  padding: $base_margin * 2;
  spacing: $base_margin * 4;
}

.switcher-list {
  background-color: $panel_bg;
  border: 1px solid $borders_color;
  border-radius: $base_border_radius * 2;
  box-shadow: 0 0 6px 0 $shadow_color;
  padding: $base_padding * 3;

  &-item-container { spacing: $base_margin * 3; }

  .item-box {
    padding: $base_margin * 2;
    border: 1px solid transparent;
    border-radius: $base_border_radius;
    background-color: transparent;

    // this doesn't ever seem to get used
    &:outlined { border-color: red; }
    &:selected {
      border-color: $borders_color;
      background-color: $base_color
    }
  }

  .thumbnail-box {
    padding: 0;
    spacing: $base_margin;
  }

  .thumbnail { width: 256px; }
}

.switcher-preview-backdrop { background-color: transparentize(black, 0.5); }

.switcher-arrow {
  border-color: transparent;
  color: $fg_color;

  &:highlighted {}
}

// these still exist in the code but we don't seem to run into them anymore
// now that the switcher resizes when more windows are added
.switcher-list .separator {}
.thumbnail-scroll-gradient-left {}
.thumbnail-scroll-gradient-right {}
