// Modal dialogs

.dialog {
  background-color: $bg_color;
  border-radius: $base_border_radius;
  border: 1px solid $borders_color;

  .dialog-content-box {
    margin: $base_margin * 6 $base_margin * 8;
    spacing: $base_margin * 3;
    max-width: 28em;
  }

  .dialog-linked-button {
    @extend %linked_button;

    &:default { @extend %linked_button_default; }
    &:destructive-action { @extend %linked_button_destructive; }
  }

  .confirm-dialog-title {
    @extend %title_2;
    text-align: center;
    padding-bottom: $base_padding;
  }
}

// message dialog

.message-dialog-content {
  spacing: $base_padding * 3;

  .message-dialog-title {
    text-align: center;
    @extend %title_2;

    &.leightweight { @extend %title_4; }
  }

  .message-dialog-description { text-align: center; }
}

// run dialog

.run-dialog {

  .dialog-content-box {
    margin-top: $base_padding * 3;
    margin-bottom: $base_padding * 3;
  }

  &-description {
    @extend %caption;

    text-align: center;
    color: darken($fg_color, 20%);

    &.error { color: $error_color; }
  }

  &-completion-box {
    padding-top: $base_padding;
    padding-left: $base_padding * 2;
  }

  &-entry {
    @extend %entry;

    width: 20em;
    height: 1.2em;
  }
}

// password or authentication dialog

.prompt-dialog {
  width: 28em;

  .dialog-content-box {
    margin-bottom: $base_margin * 6;
  }

  &-password-entry {
    @extend %entry;
    width: 20em;
  }

  &-password-layout { spacing: $base_margin * 2;}

  &-error-label,
  &-info-label,
  &-null-label {
    text-align: center;
    @extend %caption;
  }

  &-error-label { color: $error_color; }
}

// polkit dialog

.polkit-dialog {

  &-user-layout {
    text-align: center;
    spacing: $base_margin * 2;
    margin-bottom: $base_padding;
  }

  &-user-root-label { color: $error_color; }
}
