// various on screen popups

$barlevel_height: 6px;

$ws_indicator_height: 32px;
$ws_dot_active: $ws_indicator_height / 3;
$ws_dot_inactive: $ws_indicator_height / 6;

// media keys osd

.osd-window {
  @extend %osd_base;

  spacing: 1em;
  padding: $base_padding * 3;

  .level {
    height: 0.7em;
    background-color: $light_bg_color;
    border-radius: 99px;
  }

  .level-bar {
    border-radius: 99px;
    background-color: $fg_color;
  }
}

.info-osd {
  @extend %osd_base;

  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

.workspace-switch-osd {
  @extend %osd_base;
  @extend %title_4;

  margin-bottom: 4em;
  border-radius: 9999px;
  font-weight: bold;
  padding: $base_padding * 2 $base_padding * 6 0 $base_padding * 6;

  &-indicator-box { spacing: $base_padding * 2; }

  &-indicator {
    background-color: transparentize($fg_color, 0.5);
    padding: $ws_dot_inactive / 2;
    margin: ($ws_indicator_height - $ws_dot_inactive) / 2;
    border-radius: $ws_indicator_height;

    &:active {
      background-color: $accent_bg_color;
      padding: $ws_dot_active / 2;
      margin: ($ws_indicator_height - $ws_dot_active) / 2;
    }
  }
}

.monitor-label {
  border-radius: 0;
  color: black;
  padding: $base_padding * 2;
  text-align: center;
}

//  resize popup

.resize-popup {
  @extend %osd_base;

  padding: $base_padding;
}