$menu_outer_padding: 9px;
$menu_outer_border_radius: $base_border_radius * 1.25;

%start_menu_button {
  padding: $base_padding;
  spacing: $base_margin;
  border-radius: $base_border_radius;
}

.menu {

  // this can be used to color the entire menu background but we aren't using it here
  &-background {}

  &-favorites-box {
    padding: $base_padding * 1.5;
    background-color: $light_bg_color;
    border: 1px solid transparentize(black, 0.9);
    border-radius: $base_border_radius;
  }

  &-favorites-button {
    padding: $base_padding * 1.5;
    border-radius: $base_border_radius;

    &:hover { background-color: $lightest_bg_color; }
  }

  &-categories-box { padding: $menu_outer_padding $base_padding * 4; }
  &-applications-box { padding: $menu_outer_padding; }
  &-applications-inner-box {
    &:ltr { padding-left: $base_padding * 4; }
    &:rtl { padding-right: $base_padding * 4; }
  }

  &-application-button {
    @extend %start_menu_button;

    &-label { padding: 0; }

    &:highlighted { font-weight: bold; }

    &-selected {
      @extend %start_menu_button;

      background-color: $light_bg_color;

      &:highlighted { font-weight: bold; }
    }
  }

  &-category-button {
    @extend %start_menu_button;

    &-label { padding: 0; }

    &:hover { background-color: $lighter_bg_color; }

    &-selected {
      @extend %start_menu_button;

      background-color: $light_bg_color;
    }

    &-greyed {
      @extend %start_menu_button;
      color: $insensitive_fg_color;
      font-style: italic;

      StIcon { opacity: 0.5; }
    }
  }

  &-context-menu {}

  &-selected-app-box {
    padding-right: $base_padding * 4;
    padding-left: $base_padding * 4;
    text-align: right;
  }

  &-selected-app-title { @extend %heading; }
  &-selected-app-description { color: $insensitive_fg_color; }

  &-search-box {
    padding: 0  0 $base_padding $menu_outer_padding;
  }
}

#menu-search-entry {
  @extend %entry;
}

.menu-search-entry-icon {
  icon-size: $scalable_icon_size;
}

// gridmenu (icon-menu)

.menu-category-button:highlighted, // Used to highlight category containing newly installed apps.
.menu-category-button-selected:highlighted {
  font-weight: bold;
}

.menu-applications-header-text { // shows folder name, "no recent files", error messages etc.
  font-weight: bold;
  font-size: 110%;
}

.menu-applications-subheading {
  font-weight: bold;
  font-size: 100%;
  padding-top: 0.3em;
  padding-left: 0.3em;
  //text-align: center; - known bug: causes label to jump about when resizing menu.
}

.menu-applications-grid-box {
  left-padding: 8px;

  .menu-application-button,
  .menu-application-button-selected {
    padding: 10px 2px;
  }

  .menu-application-button-label {
    text-align: center;
  }
}

.gridmenu-sidebar-box {
  padding: 0px 6px;
}

.gridmenu {
  .menu-applications-inner-box {
    padding: 0px;
  }

  .menu-categories-box {
    padding: 0px 6px;
  }

  .menu-search-box,
  .menu-search-box:ltr,
  .menu-search-box:rtl {
    min-width: 160px;
    padding: 0px 8px;
  }

  &.sidebar-left {
    .gridmenu-sidebar-box {
      padding-right: 16px;
    }
  }

  &.sidebar-right {
    .gridmenu-sidebar-box {
      padding-left: 8px;
    }
  }

  &.sidebar-left,
  &.sidebar-right,
  &.sidebar-bottom {
    .gridmenu-middle-pane {
      padding-bottom: 12px;
    }
  }

  &.sidebar-top .gridmenu-middle-pane {
    padding-top: 12px;
  }
}


