$menu_outer_padding: 9px;
$menu_outer_border_radius: $base_border_radius * 1.25;

%start_menu_button {
  padding: $base_padding;
  spacing: $base_margin;
  border-radius: $base_border_radius;
}

.menu {

  // this can be used to color the entire menu background but we aren't using it here
  &-background {
    // using this to override the default padding on menus so widgets can span edge
    // to edge. The side effect is that some of our internal container widgets
    // will need to have a border-radius added to them or the corners will poke out
    // the edges of the menu.
    .popup-menu-content { padding: 0; }
  }

  &-sidebar {
    background-color: $base_color;
    border-radius: $menu_outer_border_radius 0 0 $menu_outer_border_radius;
    border-right-width: 1px;
    border-color: $borders_color;

    .sidebar-user-box {
      padding-top: $menu_outer_padding;
      padding-bottom: $menu_outer_padding / 2;
    }

    StScrollBar StButton#vhandle {
      // add some extra spacing at the top to align this with the separator
      margin-top: $menu_outer_padding;
    }

    .menu-favorites-button {
      @extend %start_menu_button;

      padding: 3px $base_padding 3px $base_padding;
      margin: 0 $menu_outer_padding 0 $menu_outer_padding;

      &:hover {
        background-color: $lighter_bg_color;
        border-color: $borders_color;
      }
    }

    .popup-separator-menu-item {
      -gradient-height: 1px;
      -gradient-start: lighten($base_color, 5%);
      -gradient-end: lighten($base_color, 5%);
      -margin-horizontal: 0;
      height: 1px;
    }
  }

  &-system-buttons-box {
    spacing: 6px;
    padding-left: 6px;
    padding-right: 6px;

    .system-button {
      padding: $base_padding * 1.4;
      border: 1px solid $borders_color;
      border-radius: 9999px;
      background-color: lighten($bg_color, 10%);

      &:hover { background-color: $accent_color; }
    }
  }

  &-categories-box { padding: $menu_outer_padding $base_padding * 3; }
  &-applications-box { padding: $menu_outer_padding; }
  // This small amount of padding is needed to be able
  // to resize the menu with the mouse
  &-applications-scrollbox { padding-right: 3px; }

  &-application-button {
    @extend %start_menu_button;

    &-label { padding: 0; }
    &-description {
      @extend %caption;

      color: $light_text_color;
    }

    &:highlighted { font-weight: bold; }

    &-selected {
      @extend %start_menu_button;

      background-color: $light_bg_color;

      &:highlighted { font-weight: bold; }
    }
  }

  &-category-button {
    @extend %start_menu_button;

    &-label { padding: 0; }

    &:hover { background-color: $lighter_bg_color; }

    &-selected {
      @extend %start_menu_button;

      background-color: $light_bg_color;
    }

    &-greyed {
      @extend %start_menu_button;
      color: $insensitive_fg_color;
      font-style: italic;

      StIcon { opacity: 0.5; }
    }
  }

  &-context-menu {}

  &-search-box {
    padding: $base_padding $base_padding $base_padding $menu_outer_padding;
    border-bottom-width: 1px;
    border-color: $borders_color;
  }
}

#menu-search-entry {
  @extend %entry;

  margin: $menu_outer_padding;
}

.menu-search-entry-icon {
  icon-size: $scalable_icon_size;
}
