
// New menu (since Cinnamon 6.6)

$appmenu_outer_padding: 9px;
$appmenu_outer_border_radius: $base_border_radius * 1.25;

%appmenu_button {
  padding: $base_padding;
  spacing: $base_margin;
  border-radius: $base_border_radius;
}

.appmenu {

  // this can be used to color the entire menu background but we aren't using it here
  &-background {
    // using this to override the default padding on menus so widgets can span edge
    // to edge. The side effect is that some of our internal container widgets
    // will need to have a border-radius added to them or the corners will poke out
    // the edges of the menu.
    .popup-menu-content { padding: 0; }
  }

  &-sidebar {
    background-color: $base_color;
    border-radius: $appmenu_outer_border_radius 0 0 $appmenu_outer_border_radius;
    border-right-width: 1px;
    border-color: $borders_color;

    &-user-box {
      padding-top: $appmenu_outer_padding;
      padding-bottom: $appmenu_outer_padding / 2;
    }
  }

  &-system-box {
    spacing: 6px;
    padding-left: 6px;
    padding-right: 6px;
  }

  &-categories-box { padding: $appmenu_outer_padding $base_padding * 3; }
  &-applications-box { padding: $appmenu_outer_padding; }
  // This small amount of padding is needed to be able
  // to resize the menu with the mouse
  &-applications-scrollbox { padding-right: 3px; }

  &-sidebar-button {
    @extend %appmenu_button;

    padding: 3px $base_padding 3px $base_padding;
    margin: 0 $appmenu_outer_padding 0 $appmenu_outer_padding;

    &:hover {
      background-color: $lighter_bg_color;
      border-color: $borders_color;
    }
  }

  &-system-button {
    padding: $base_padding * 1.4;
    border: 1px solid $borders_color;
    border-radius: 9999px;
    background-color: lighten($bg_color, 10%);
    &-lock:hover { background-color: lighten($bg_color, 15%); }
    &-logout:hover { background-color: lighten($bg_color, 15%); }
    &-shutdown:hover { background-color: $destructive_bg_color; }
  }

  &-application-button {
    @extend %appmenu_button;

    &-label { padding: 0; }
    &-description {
      @extend %caption;
      color: $light_text_color;
    }

    &:highlighted { font-weight: bold; }

    &-selected {
      @extend %appmenu_button;
      background-color: $light_bg_color;

      &:highlighted { font-weight: bold; }
    }
  }

  &-category-button {
    @extend %appmenu_button;

    &-label { padding: 0; }

    &:hover { background-color: $lighter_bg_color; }

    &-selected {
      @extend %appmenu_button;

      background-color: $light_bg_color;
    }

    &-greyed {
      @extend %appmenu_button;
      color: $insensitive_fg_color;
      font-style: italic;

      StIcon { opacity: 0.5; }
    }
  }

  &-context-menu {}

  &-search-box {
    padding: $base_padding $base_padding $base_padding $appmenu_outer_padding;
    border-bottom-width: 1px;
    border-color: $borders_color;
  }

  &-search-entry-icon {
    icon-size: $scalable_icon_size;
  }
}

#appmenu-search-entry {
  @extend %entry;
  margin: $appmenu_outer_padding;
}
