/debian/.debhelper/
/debian/*.log
/debian/*.substvars
/debian/cinnamon-common/
/debian/cinnamon-dbg/
/debian/cinnamon-doc/
/debian/cinnamon/
/debian/files
/debian/debhelper-build-stamp
/debian/tmp/
obj-x86_64-linux-gnu
*.pyc
