.pc
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
browser-plugin/*
config.h
config.h.in
config.log
config.status
config/
configure
data/Makefile
data/Makefile.in
data/cinnamon.desktop
data/gschemas.compiled
data/icons/Makefile
data/org.cinnamon.gschema.valid
data/org.cinnamon.gschema.xml
data/theme/gdm.css
docs/Makefile
docs/reference/*/*-docs.sgml
docs/reference/*/*.args
docs/reference/*/*.hierarchy
docs/reference/*/*.interfaces
docs/reference/*/*.prerequisites
docs/reference/*/*.signals
docs/reference/*/*.stamp
docs/reference/*/*.txt
docs/reference/*/*.types
docs/reference/*/.libs/
docs/reference/*/Makefile
docs/reference/*/html/
docs/reference/*/xml/
docs/reference/Makefile
docs/reference/cinnamon-js/__pycache__/
docs/reference/cinnamon-js/misc/
docs/reference/cinnamon-js/ui/
files/Makefile
gtk-doc.make
js/Makefile
js/Makefile.in
js/gdm/*
js/misc/config.js
libtool
m4/
man/Makefile
man/Makefile.in
node_modules/
po/Makefile
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
src/*.gir
src/*.la
src/*.lo
src/*.o
src/*.typelib
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/cinnamon
src/cinnamon-enum-types.c
src/cinnamon-enum-types.h
src/cinnamon-extension-tool
src/cinnamon-hotplug-sniffer
src/cinnamon-marshal.c
src/cinnamon-marshal.h
src/cinnamon-perf-helper
src/cinnamon-real
src/cinnamon_perf_helper-cinnamon-perf-helper.o
src/cinnamon_real-main.o
src/gvc/*.lo
src/gvc/.deps/
src/gvc/.dirstamp
src/gvc/.libs/
src/hotplug-sniffer/*.o
src/hotplug-sniffer/.deps/
src/hotplug-sniffer/.dirstamp
src/hotplug-sniffer/org.Cinnamon.HotplugSniffer.service
src/na-marshal.c
src/na-marshal.h
src/run-js-test
src/run_js_test-run-js-test.o
src/st-enum-types.c
src/st-enum-types.h
src/st-marshal.c
src/st-marshal.h
src/st.h
src/st/*.lo
src/st/.deps/
src/st/.dirstamp
src/st/.libs/
src/st/test_theme-test-theme.o
src/stamp-cinnamon-enum-types.h
src/stamp-cinnamon-marshal.h
src/stamp-na-marshal.h
src/stamp-st-enum-types.h
src/stamp-st-marshal.h
src/stamp-st.h
src/test-recorder
src/test-theme
src/tray/*.lo
src/tray/.deps/
src/tray/.dirstamp
src/tray/.libs/
stamp-h1
tests/Makefile
tests/Makefile.in
tests/run-test.sh
