data/theme/cinnamon.css
debian/*.debhelper
debian/*.log
debian/*.substvars
debian/.debhelper/
debian/cinnamon-common/
debian/cinnamon-dbg/
debian/cinnamon-doc/
debian/cinnamon/
debian/debhelper-build-stamp
debian/files
debian/tmp/
obj-x86_64-linux-gnu
*.pyc
