body { 
}
.page-header {
    font-size: 180%;
    font-weight: bold;
}

h2 { 
    font-family: Cantarell, 'Droid Sans', Ubuntu, 'DejaVu Sans', Arial, sans-serif;
    color: #0489b7;
}
.index-page-list {
}

.description{
}

.prop-prop-separator { 
    color: #babdb6;
    background: #babdb6;
    border: none 0px;
    height: 1px;
    clear: both;
}

.obj-obj-separator { 
}

.prop-table{
    background: #eeeeee;
    border: solid 1px #babdb6;
    padding: 0.5em;
}

.prop-table-return {
}

.prop-table-name {
    padding-left: 50px;
}

.prop-table-arg {
    padding-left: 50px;
}

.prop-table-arg-type {
    color: #666;
}

.prop-table-arg-name {
}

.prop-table-line-break {
    height: 5px;
}

.prop-arg-table {
    padding-left: 50px;
}

.prop-arg-name {
    background-color: #e5e5e5;
    padding: 2px 5px;
}

.prop-arg-description {
    padding-left: 5px;
}
n
.prop-return-name {
    background-color: #ccc;
    padding: 2px 5px;
}

.prop-return-description {
    padding-left: 5px;
}

.individual-prop-header {
    font-size: 110%;
    font-weight: bold;
}
