/* ###################################################################
 * Section common with Gnome Shell
 * ... contains a few cinnamon specific styles (rare occurences) 
 * ###################################################################*/
stage {
    font-family: Noto Sans, sans-serif;
}

.cinnamon-link {
    color: #0000ff;
    text-decoration: underline;
}

.cinnamon-link:hover {
    color: #0000e0;
}

.label-shadow {
    color: rgba(0,0,0,0.5);
}

StScrollBar {
    margin: 2px;
    padding: 0px;
}

StScrollView.vfade {
    -st-vfade-offset: 68px;
}

StScrollView StScrollBar {
    min-width: 10px;
    min-height: 16px;
}

StScrollBar StBin#trough {
    background-color: #212121;
    border: 1px solid #424242;
    border-radius: 3px;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,0.5);
}

StScrollBar StButton#vhandle {
    background-color: #616161;
    border: 1px solid #757575;
    border-radius: 3px;
}

StScrollBar StButton#hhandle {
    background-color: #616161;
    border: 1px solid #757575;
    border-radius: 3px;
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover {
    background-color: #757575;
}

#Tooltip {
    border: 1px solid rgba(212,185,67,1.0);
    border-radius: 4px;
    padding: 2px 12px;
    background-gradient-end: rgba(251,234,159,0.9);
    background-gradient-start: rgba(254,245,198,0.9);
    background-gradient-direction: vertical;
    color: #000000;
    font-size: 8.5pt;
    font-weight: normal;
    text-align: center;
}

/* ===================================================================
 * Shared button properties 
 * ===================================================================*/

.notification-button,
.notification-icon-button,
.modal-dialog-button {
    color: #ddd;
    border: 1px solid #9e9e9e;
    border-radius: 3px;
    background-color: #616161;
}

.notification-button:hover,
.notification-icon-button:hover,
.modal-dialog-button:hover {
    background-color: #757575;
}

.notification-button:focus,
.notification-icon-button:focus,
.modal-dialog-button:focus {
}

.notification-button:active,
.notification-icon-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed {
    background-color: #424242;
    box-shadow: inset 0px 2px 8px rgba(0,0,0,0.5);
}

/* ===================================================================
 * PopupMenu (popupMenu.js) 
 * ===================================================================*/

.popup-menu-boxpointer {
    -arrow-border-radius: 3px;
    -arrow-background-color: #212121;
    -arrow-border-width: 1px;
    -arrow-border-color: #bdbdbd;
    -arrow-base: 24px;
    -arrow-rise: 11px;
}

.popup-menu {
    color: #ddd;
    min-width: 100px;
}

.popup-submenu-menu-item:open {
}

.popup-sub-menu {
    background: #424242;
    padding: 0.5em 0em;
    box-shadow: inset 0px 2px 2px rgba(0,0,0,0.4);
}

.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}

.popup-sub-menu StScrollBar {
    padding: 0.5em 0em;
}

.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: #4c4c4c;
    border-width: 0px;
}

.popup-combo-menu {
    background-color: rgba(0,0,0,0.9);
    padding: 1em 0em;
    color: #ffffff;
    font-size: 10.5pt;
    border: 1px solid #5f5f5f;
    border-radius: 9px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 1em 0em;
}

.popup-menu-item {
    border: 1px solid;
    border-left: none;
    border-right: none;
    padding: .4em 1.5em;
    spacing: 1em;
}

.popup-menu-item:active {
    border-color: #9e9e9e;
    background-color: #616161;
}

.popup-menu-item:insensitive {
    color: rgba(255,255,255,0.5);
}

.popup-sub-menu .popup-menu-item:active {
}

.popup-image-menu-item {
}

.popup-combobox-item {
    spacing: 1em;
}

.popup-separator-menu-item {
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    border-left: none;
    border-right: none;
    border-top: 0px;
    height: 1px;
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-slider-menu-item {
    height: 1.0em;
    min-width: 15em;
    -slider-height: 0.2em;
    -slider-background-color: #424242;
    -slider-border-color: #757575;
    -slider-active-background-color: #9e9e9e;
    -slider-active-border-color: #bdbdbd;
    -slider-border-width: 1px;
    -slider-handle-radius: 0.5em;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-inactive-menu-item {
    font-weight: normal;
    color: rgba(255,255,255,0.5);
}

.popup-subtitle-menu-item {
    font-weight: bold;
}

.popup-menu-icon {
    icon-size: 1.14em;
}

/* Switches (to be used in menus) */

.toggle-switch {
    width: 55px;
    height: 22px;
}

.toggle-switch-us {
    background-image: url("switch-off.svg");
}

.toggle-switch-us:checked {
    background-image: url("switch-on.svg");
}

.toggle-switch-intl {
    background-image: url("switch-off.svg");
}

.toggle-switch-intl:checked {
    background-image: url("switch-on.svg");
}

.nm-menu-item-icons {
    spacing: .5em;
}

/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/
#panel {
    background: #212121;
    font-size: 9pt;
    font-weight: normal;
    height: 26px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);    
}

#panelLeft {
    spacing: 4px;
}

#panelCenter {
    spacing: 4px;
}

#panelLeft:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,0,0,0.05);
    background-gradient-end: rgba(255,0,0,0.2);
}

#panelCenter:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,255,0,0.05);
    background-gradient-end: rgba(0,255,0,0.2);
}

#panelRight:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,255,0.05);
    background-gradient-end: rgba(0,0,255,0.2);
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr { 
    padding-left: 0px;
    spacing: 0px;
}

#panelRight:rtl {
    padding-right: 0px;
    spacing: 0px;
}

.panel-top {
    border: 1px solid #424242;
    border-left: none;
    border-right: none;
    border-top: none;
}

.panel-bottom {
    border: 1px solid #424242;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.panel-status-button {
    border: 0px solid #8b8b8b;
    -natural-hpadding: 6px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: #ff0000;
    height: 22px;
}

.panel-status-button:hover {
    color: white;
}

.system-status-icon {
    padding-left: 0px;
    padding-right: 0px;
    spacing: 0px;
    margin: 0px;
}

.panel-corner {
    -panel-corner-radius: 0px;
    -panel-corner-background-color: black;
    -panel-corner-inner-border-width: 2px;
    -panel-corner-inner-border-color: transparent;
    -panel-corner-outer-border-width: 1px;
    -panel-corner-outer-border-color: #536272;
}

.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
    -panel-corner-inner-border-color: rgba(255,255,255,0.8);
}

#appMenu {
    spacing: 4px;
}

.panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px;
}

.panel-button {
    -natural-hpadding: 6px;
    -minimum-hpadding: 2px;
    font-weight: bold;
    color: #ff0000;
    transition-duration: 100;
}

.panel-button:hover {
    color: white;
    text-shadow: black 0px 2px 2px;
}

.panel-button:active,
.panel-button:overview,
.panel-button:focus {
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
    icon-shadow: black 0px 2px 2px;
}

.panel-menu {
    -boxpointer-gap: 4px
}

.popup-menu-item-dot {
}

.system-status-icon {
    icon-size: 1.14em;
}

/* ===================================================================
 * Overview 
 * ===================================================================*/

#overview {
    spacing: 12px;
}

.window-caption {
    background-color: #212121;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    color: #ddd;
    font-size: 9pt;
    padding: 6px 8px;
    -cinnamon-caption-spacing: 10px;
}

.window-caption#selected {
    background-color: #757575;
    spacing: 25px;
}

.workspace-controls {
    visible-height: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    padding: 8px;
}

.workspace-thumbnails-background:rtl {
    padding: 8px;
}

.workspace-thumbnails {
    spacing: 26px;
    padding-left: 0.9em;
    padding-right: 1em;
}

.workspace-add-button {
    background-image: url("add-workspace.svg");
    height: 200px;
    width: 35px;
    transition-duration: 100;
}

.workspace-add-button:hover {
    background-image: url("add-workspace-hover.svg");
    transition-duration: 100;
}

.workspace-close-button {
    background-image: url("close-window.svg");
    height: 34px;
    width: 34px;
    -cinnamon-close-overlap: 20px;
}

.workspace-thumbnail-indicator {
}

.window-close {
    background-image: url("close-window.svg");
    height: 34px;
    width: 34px;
    -cinnamon-close-overlap: 20px;
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.window-close-area {
    background-image: url("trash-icon.png");
    background-size: 100px;
    background-color: #212121;
    border: 1px solid #bdbdbd;
    border-bottom-width: 0px;
    border-radius: 10px 10px 0px 0px;
    height: 120px;
    width: 225px;
}

.overview-icon {
    border-radius: 4px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    font-size: 7.5pt;
    color: white;
    transition-duration: 100;
    text-align: center;
}

.expo-background {
    background-color: #424242;
}

.workspace-overview-background-shade {
    background-color: rgba(0,0,0,0.5);
}

.expo-workspace-thumbnail-frame {
    border: 11px transparent;
    border-image: url("workspace-shadow.png") 14;
}

.expo-workspace-thumbnail-frame#active {
    border: 11px transparent;
    border-image: url("workspace-shadow.png") 14;
}

/* ===================================================================
 * Looking Glass 
 * ===================================================================*/

#LookingGlassDialog {
    background-color: rgba(85,85,85,0.85);
    spacing: 4px;
    padding: 4px;
    border: 2px solid grey;
    border-radius: 4px;
    color: #CCCCCC;
}

#LookingGlassDialog > #Toolbar {
    border: 1px solid grey;
    border-radius: 4px;
}

#LookingGlassDialog .labels {
    spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
    padding: 2px;
}

#LookingGlassDialog .notebook-tab:hover {
    color: #FFFFFF;
}

#LookingGlassDialog .notebook-tab:selected {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 5px;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel {
    color: #cccccc;
}

.lg-dialog StEntry {
    color: #cccccc;
    selection-background-color: #cccccc;
    selected-color: black;
}

.lg-obj-inspector-title {
    spacing: 4px;
}

.lg-obj-inspector-button {
    border: 1px solid #cccccc;
    padding: 4px;
    border-radius: 4px;
}

.lg-obj-inspector-button:hover {
    border: 1px solid #ffffff;
}

.lg-dialog .cinnamon-link {
    color: #cccccc;
}

.lg-dialog .cinnamon-link:hover {
    color: #ffffff;
}

#LookingGlassDialog StBoxLayout#EvalBox {
    padding: 4px;
    spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea {
    spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-meta {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px;
    color: #cccccc;
}

/* ===================================================================
 * Date applet 
 * ===================================================================*/

.calendar {
    background: #212121;
    padding: .4em 1.75em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
    color: #ddd;
    font-size: 7.5pt;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: bold;
}

.calendar-change-month-back {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-left.svg");
    border-radius: 4px;
}

.calendar-change-month-back:rtl {
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-back:hover {
    background-image: url("calendar-arrow-left-hover.svg");
}

.calendar-change-month-back:active {
}

.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-right.svg");
    border-radius: 4px;
}

.calendar-change-month-forward:rtl {
    background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-forward:hover {
    background-image: url("calendar-arrow-right-hover.svg");
}

.calendar-change-month-forward:active {
}

.datemenu-date-label {
    padding: .4em 1.75em;
    font-size: 10.5pt;
    color: #ddd;
    font-weight: bold;
    text-align: center;
}

.calendar-day-base {
    font-size: 8pt;
    text-align: center;
    width: 2.75em;
    height: 2.75em;
    color: red;
}

.calendar-day-base:hover {
    background-color: #777777;
    color: #fff;
}

.calendar-day-base:active {
    background-color: #757575;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.5);
}

.calendar-day-heading {
    color: rgba(255,255,255,0.7);
    padding-top: 1em;
}

.calendar-week-number {
    color: rgba(255,255,255,0.7);
    font-weight: bold;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day:ltr {
    border: 1px solid #757575;
    color: #ddd;
    border-top-width: 0;
    border-left-width: 0;
}

.calendar-day-top:ltr {
    border-top-width: 1px;
}

.calendar-day-left:ltr {
    border-left-width: 1px;
}

.calendar-day:rtl {
    border: 1px solid #757575;
    color: #ddd;
    border-top-width: 0;
    border-right-width: 0;
}

.calendar-day-top:rtl {
    border-top-width: 1px;
}

.calendar-day-left:rtl {
    border-right-width: 1px;
}

.calendar-work-day {
}

.calendar-nonwork-day {
    background-color: #313131;
}

.calendar-today {
    font-weight: bold;
}

.calendar-other-month-day {
    background-color: #424242;
}

.calendar-day-with-events {
    font-weight: bold;
    color: #cccccc;
}

/* ===================================================================
 * Notifications
 * ===================================================================*/

#notification {
    font-size: 8.5pt;
    border-radius: 3px;
    border: 1px solid #bdbdbd;
    background-color: #212121;
    padding: 8px 8px 8px 8px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    margin-from-right-edge-of-screen: 20px;
    width: 34em;
    color: #ddd;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
}

#notification.multi-line-notification {
    padding-bottom: 8px;
    color: #ddd;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
    taken into account during allocation, so its height ends up being limited by the height
    of the content in the other rows. To avoid showing a stretched image, we set the minimum
    height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
    min-height: 159px;
    color: #ddd;
}

#notification-scrollview {
    max-height: 10em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}

#notification-body {
    spacing: 5px;
}

#notification-actions {
    spacing: 10px;
}

.notification-button {
    border-radius: 5px;
    padding: 4px 8px 5px;
}

.notification-button:focus {
    padding: 3px 8px 4px;
}

.notification-icon-button {
    border-radius: 3px;
    padding: 5px;
}

.notification-icon-button:focus {
    padding: 4px;
}

.notification-icon-button > StIcon {
    icon-size: 36px;
}

#notification StEntry {
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    padding: 2px;
    background-color: #424242;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.5);
    color: #ddd;
    selection-background-color: white;
    selected-color: black;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
}

#notification StEntry:focus {
    border: 1px solid #424242;
    background-color: #e0e0e0;
    color: rgba(0,0,0,0.9);
    caret-color: rgba(0,0,0,0.9);
    selection-background-color: #212121;
    selected-color: #ddd;
    border-radius: 3px;
    padding: 2px;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.5);
    caret-size: 1px;
}

/* ===================================================================
 * Alt Tab
 * ===================================================================*/
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    background-color: #212121;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    padding: 20px;
    font-size: 9pt;
    color: #ddd;
    text-shadow: black 0px 0px 2px;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 1.0);
    background-gradient-end: rgba(51, 51, 51, 0);
    border-radius: 24px;
    border-radius-topright: 0px;
    border-radius-bottomright: 0px;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 0);
    background-gradient-end: rgba(51, 51, 51, 1.0);
    border-radius: 24px;
    border-radius-topleft: 0px;
    border-radius-bottomleft: 0px;
    width: 60px;
}

.switcher-list .item-box {
    padding: 8px;
    border-radius: 3px;
}

.switcher-list .item-box:outlined {
    padding: 6px;
    border: 1px solid #bdbdbd;
}

.switcher-list .item-box:selected {
    border: 1px solid #bdbdbd;
    background: #424242;
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width:  256px;
}

.switcher-list .separator {
    width: 1px;
    background: rgba(255,255,255,0.33);
}

.ripple-box {
    width: 104px;
    height: 104px;
    background-image: url("corner-ripple.png");
}

.ripple-box:rtl {
    background-image: url("corner-ripple.png");
}

.switcher-arrow {
    border-color: rgba(0,0,0,0);
    color: #808080;
}

.switcher-arrow:highlighted {
    border-color: rgba(0,0,0,0);
    color: white;
}

.switcher-preview-backdrop {
   background-color: rgba(25,25,25,0.95);
}

/* ===================================================================
 * Modal dialogs
 * ===================================================================*/

.modal-dialog {
    font-size: 10pt;
    border-radius: 3px;
    background-color: #212121;
    border: 1px solid #bdbdbd;
    color: #ddd;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.modal-dialog-button-box {
    spacing: 20px;
}

.modal-dialog-button {
    border-radius: 3px;
    font-size: 9.5pt;
    color: #ddd;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 12px 5px;
}

.modal-dialog-button:disabled {
    color: rgba(255,255,255,0.3);
}

.modal-dialog-button:focus {
    padding: 4px 12px 5px;
}

/* ===================================================================
 * Run dialog
 * ===================================================================*/

.run-dialog-label {
    font-size: 9pt;
    padding-bottom: 5px;
    color: #ddd;
}

.run-dialog-error-label {
    font-size: 9pt;
    color: #ff5252;
}

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-completion-box { 
    padding-left: 15px;
    padding-top: 5px;
    font-size: 9pt;
}

.run-dialog-entry {
    border: 1px solid #424242;
    background-color: #e0e0e0;
    color: rgba(0,0,0,0.9);
    caret-color: rgba(0,0,0,0.9);
    selection-background-color: #212121;
    selected-color: #ddd;
    border-radius: 3px;
    padding: 2px;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.5);
    font-size: 10.5pt;
    font-weight: bold;
    width: 23em;
    caret-size: 1px;
    height: 20px;
    transition-duration: 300;
}

.run-dialog {
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.lightbox {
    background-color: rgba(0, 0, 0, 0.4);
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: red;
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #666666;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: white;
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: #ccc;
}

.show-processes-dialog-app-list-item:hover {
    color: white;
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* ===================================================================
 * Magnifier
 * ===================================================================*/

.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* ===================================================================
 * On screen keyboard
 * ===================================================================*/

#keyboard {
    background: #212121;
    border-top: 1px solid #424242;
}

.keyboard-layout {
    spacing: 8px;
    padding: 8px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
    background-color: #424242;
    font-size: 14pt;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #bebebe;
    color: #ddd;
}

.keyboard-key:grayed {
    color: #808080;
    border-color: #808080;
}

.keyboard-key:hover {
    background-color: #616161;
}

.keyboard-key:checked,
.keyboard-key:active {
    background-color: #757575;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.5);
}

.keyboard-subkeys {
    color: #ddd;
    padding: 5px;
    -arrow-border-radius: 3px;
    -arrow-background-color: #212121;
    -arrow-border-width: 1px;
    -arrow-border-color: #bdbdbd;
    -arrow-base: 20px;
    -arrow-rise: 10px;
    -boxpointer-gap: 5px;
}

/* ###################################################################
 * Cinnamon Specific Section 
 * ###################################################################*/

/* ===================================================================
 * Menu (menu.js)
 * ===================================================================*/

/* Main menu title */

.menu-favorites-box {
    margin: auto;
    padding: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    background-color: #424242;
    transition-duration: 300;
}

.menu-favorites-button {
    border: 1px solid;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.menu-favorites-button:hover {
    color: #ddd;
    border-color: #9e9e9e;
    background-color: #616161;
    border-radius: 3px;
}

.menu-categories-box {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.menu-applications-inner-box {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

.menu-applications-outer-box {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

.menu-application-button {
    border: 1px solid;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
}

.menu-application-button:highlighted {
    /* This style is used in menu application buttons for applications which were newly installed */
    font-weight: bold;
}

.menu-application-button-selected {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    color: #ddd;
    background-color: #424242;
    border: 1px solid #9e9e9e;
    border-radius: 3px;
}

.menu-application-button-selected:highlighted {
    /* This style is used in menu application buttons for applications which were newly installed */
    font-weight: bold;
}

.menu-application-button-label:ltr { 
    padding-left: 5px;
}

.menu-application-button-label:rtl { 
    padding-right: 5px;
}

.menu-category-button {
    border: 1px solid;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
}

.menu-category-button-greyed {
    border: 1px solid;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    color: rgba(255,255,255,0.5);
    font-style: italic;
}

.menu-category-button-selected {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    color: #ddd;
    background-color: #424242;
    border: 1px solid #9e9e9e;
    border-radius: 3px;
}

.menu-category-button-label:ltr {
    padding-left: 5px;
}

.menu-category-button-label:rtl {
    padding-right: 5px;

}

.menu-category-button-button:hover {
    background-color: #969696;
    border-radius: 8px;
}

/* Name and description of the currently hovered item in the menu
 * This appears on the bottom right hand corner of the menu*/
.menu-selected-app-box {
    padding-right: 30px;
    padding-left: 28px;
    text-align: right;
    height: 30px;
}

.menu-selected-app-box:rtl {
    padding-top: 10px;
    height: 30px;
}

.menu-selected-app-title {
    font-weight: bold;
}

.menu-selected-app-description {
    max-width: 150px;
}

.menu-search-box:ltr {
    padding-left: 30px;
}

.menu-search-box:rtl {
    padding-right: 30px;
}

#menu-search-entry {
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    padding: 2px;
    background-color: #424242;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.5);
    font-size: 10.5pt;
    font-weight: bold;
    width: 23em;
    color: #ddd;
    selection-background-color: white;
    selected-color: black;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    height: 20px;
    transition-duration: 300;
}

#menu-search-entry:focus,
#menu-search-entry:hover {
    border: 1px solid #424242;
    background-color: #e0e0e0;
    color: rgba(0,0,0,0.9);
    caret-color: rgba(0,0,0,0.9);
    selection-background-color: #212121;
    selected-color: #ddd;
}

#menu-search-entry:hover {
    transition-duration: 150;
}

.menu-search-entry-icon {
    icon-size: 1em;
    color: rgba(0,0,0,0.7);
}

/* Context menu (at the moment only for favorites) */
.menu-context-menu {
    background-color: red;
}

/* ===================================================================
 * Window list (windowList.js)
 * ===================================================================*/

.window-list-box {
    spacing: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.window-list-item-label {
    font-weight: bold;
    width: 15em;
    min-width: 5px;
}

.window-list-item-box {
    font-weight: bold;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
    color: #ddd;
    background-color: #303030;
    border: 1px solid #424242;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    transition-duration: 100;
}

.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus {
    text-shadow: 1px 1px rgba(0,0,0,0.5); 
    background-color: #616161;
}

.window-list-item-box:hover {
    text-shadow: 1px 1px rgba(0,0,0,0.3); 
    background-color: #424242;
}

.window-list-item-demands-attention {
    background-color: rgba(255,82,82,0.3);
}

/* ===================================================================
 * Sound Applet (status/volume.js)
 * ===================================================================*/

.sound-button-container {
    padding-right: 3px;
    padding-left: 3px;
}

.sound-button {
    background-color: #616161;
    border: 1px solid #9e9e9e;
    border-radius: 3px;
    padding: 7px;
}

.sound-button:hover {
    background-color: #757575;
}

.sound-button:active {
    background-color: #424242;
    box-shadow: inset 0px 2px 8px rgba(0,0,0,0.5);
}

.sound-button StIcon {
    icon-size: 1.4em;
}

.sound-track-infos {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sound-track-info {
    padding-top: 2px;
    padding-bottom: 2px;
}

.sound-track-info StIcon {
    icon-size: 1em;
}

.sound-track-info StLabel {
    padding-left: 5px;
    padding-right: 5px;
}

.sound-track-box {  
    padding-left: 15px;
    padding-right: 15px;    
    max-width: 220px;
}

.sound-seek-box {
   padding-left: 20px;
}

.sound-seek-box StLabel {
   padding-top: 2px;
}

.sound-seek-box StIcon {
   icon-size: 1em;
}

.sound-seek-slider {
   width: 140px;   
}

.sound-volume-menu-item {
    padding: .4em 1.75em;
}

.sound-volume-menu-item StIcon {
    icon-size: 1.14em;
    padding-left: 8px;
    padding-right: 8px;
}

.sound-playback-control {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/

#workspaceSwitcher {
    spacing: 0px;
}

.workspace-switcher-box {
    padding-left: 6px;
    padding-right: 6px;
}

.workspace-button {
    width: 20px;
    height: 10px;
    color: rgba(255,255,255,0.7);
    background-color: #303030;
    border: 1px solid #424242;
    border-top: none;
    border-bottom: none;
    padding: 2px;
    transition-duration: 300;
}

.workspace-button:outlined {
    color: #ddd;
    padding: 2px;
    background-color: #616161;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
    font-weight: bold;
}

/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/

#panel-launchers-box {
    padding-left: 4px;
    padding-right: 4px;
}

.panel-launcher {
    border: 1px solid;
    padding-top: 3px;
    padding-left: 1px;
    padding-right: 1px;
    transition-duration: 150;
}

.panel-launcher:hover {
    background-color: #616161;
    border: 1px solid #9e9e9e;
    border-bottom: none;
    border-top: none;
}

/* panel-launcher-add-dialog is not currently used */
.panel-launcher-add-dialog-content-box {
    padding: 6px;
    spacing: 20px;
}

.panel-launcher-add-dialog-content-box-left {
    padding: 6px;
    spacing: 20px;
}

.panel-launcher-add-dialog-content-box-right {
    padding: 6px;
    spacing: 10px;
}

.panel-launcher-add-dialog-entry {
    padding: 5px;
    border-radius: 4px;
    color: rgb(128, 128, 128);
    border: 2px solid rgba(245,245,245,0.2);
    background-gradient-start: rgba(5,5,6,0.1);
    background-gradient-end: rgba(254,254,254,0.1);
    background-gradient-direction: vertical;
    selected-color: black;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
}

.panel-launcher-add-dialog-entry:focus,
.panel-launcher-add-dialog-entry:hover {
    border: 2px solid rgb(136,138,133);
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: white;
    background-gradient-direction: vertical;
}

.panel-launcher-add-dialog-entry:hover {
    transition-duration: 300;
}

.panel-launcher-add-dialog-entry:focus {
    color: rgb(64, 64, 64);
    font-weight: bold;
    transition-duration: 0;
}

/* ===================================================================
 * Overview corner
 * ===================================================================*/

#overview-corner {
    background-image: url("overview.png");
}

#overview-corner:hover {
    background-image:   url("overview-hover.png");
}

/* ===================================================================
 * Applets (applet.js) 
 * ===================================================================*/

.applet-separator {
    padding: 2px 4px;
}

.applet-separator-line {
    border: 1px solid rgba(0,0,0,1.0);
    border-right: none;
    border-top: none;
    border-bottom: none;
    width: 1px;
    background: rgba(255,255,255,0.7);
}

.applet-box {
    padding-left: 6px;
    padding-right: 6px;
    color: #ddd;
    text-shadow: black 0px 0px 2px;
    transition-duration: 300;
}

.applet-box:hover {
    color: #fff;
}

.applet-label { 
    font-weight: bold;
    color: #ddd;
    padding-top: 2px;       
}

.applet-box:hover > .applet-label {
    color: #fff;
    text-shadow: white 0px 0px 1px;
}

.applet-icon {
    color: #ddd;
    icon-size: 22px;
    padding-top: 2px;
}

.applet-box:hover .applet-icon {
    color: #fff;
    icon-shadow: white 0px 0px 3px;
}

/* ===================================================================
 * Desklets (desklet.js) 
 * ===================================================================*/

.desklet {        
    color: #ddd;    
}

.desklet-with-borders {
    border: 1px solid #bdbdbd;
    background-color: #212121;
    color: #ddd;
    border-radius-bottomleft: 3px;
    border-radius-bottomright: 3px;
    border-radius-topleft: 3px;
    border-radius-topright: 3px;
}

.desklet-with-borders-and-header {
    border: 1px solid #bdbdbd;
    background-color: #212121;
    color: #ddd;
    /*border-top: 1px;*/
    border-radius-bottomleft: 3px;
    border-radius-bottomright: 3px;
}

.desklet-header { 
    border-radius-topleft: 3px;
    border-radius-topright: 3px;
    font-size: 10.5pt;
    border: 1px solid #bdbdbd;
    border-bottom: 0px;
    background-color: #212121;
    color: #ddd;
    padding: 6px;
}

.desklet-drag-placeholder { 
    border: 2px solid #6daa00;
    background-color: rgba(109,170, 0, 0.3);
}

/* ===================================================================
 * About Dialog (applet.js and desklet.js)
 * ===================================================================*/

.about-content {
    width: 300px;
    height: 150px;
    spacing: 8px;
    padding-bottom: 16px;
}

.about-title {
    font-size: 1.3em;
    font-weight: bold;
}

.about-uuid {
    font-size: .8em;
}

.about-icon {
    padding-right: 20px;
}

.about-scrollBox {
    border: 1px solid #bdbdbd;
    border-radius: 3px;
}

.about-scrollBox-innerBox {
    padding: 1.2em;
    spacing: 1.2em;
}

.about-description {
    padding-top: 4px;
}

.about-version {
    padding-left: 7px;
}

/* ===================================================================
 * Clock Desklet (desklet.js) 
 * ===================================================================*/

.clock-desklet-label {
}

/* ===================================================================
 * Workspace OSD
 * ===================================================================*/

.workspace-osd {
    color: #ffffff;
    text-shadow: black 5px 5px 5px;
    font-weight: bold;
    font-size: 48pt;    
}

.expo-workspaces-name-entry {
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    padding: 2px;
    background-color: #424242;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.5);
    font-size: 10.5pt;
    font-weight: bold;
    /*width: 23em;*/
    color: #ddd;
    selection-background-color: white;
    selected-color: black;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    height: 20px;   
    text-align: center; 
}

.expo-workspaces-name-entry#selected {
    border: 1px solid #424242;
    background-color: #e0e0e0;
    color: rgba(0,0,0,0.9);
    caret-color: rgba(0,0,0,0.9);
    selection-background-color: #212121;
    selected-color: #ddd;
}

.expo-workspaces-name-entry:focus {
    color: #ddd;
    font-weight: bold;
    font-style: italic;
    transition-duration: 300;
}

/* ===================================================================
 * Notification Applet
 * ===================================================================*/

.notification-applet-padding {
    padding: .5em 1em;
}

.notification-applet-container {
    max-height: 100px;
}

/* ===================================================================
 * Checkboxes and radio buttons
 * ===================================================================*/

.check-box CinnamonGenericContainer {
    spacing: .2em;
}

.check-box StBin {
    width: 16px;
    height: 16px;
    background-image: url("checkbox-off.svg");
}

.check-box:focus StBin {
    background-image: url("checkbox-off.svg");
}

.check-box:checked StBin {
    background-image: url("checkbox.svg");
}

.check-box:focus:checked StBin {
    background-image: url("checkbox.svg");
}

.check-box StLabel {
   font-weight: normal;
}

.radiobutton CinnamonGenericContainer {
    spacing: .2em;
    height: 26px;
    padding-top: 2px;
}

.radiobutton StBin {
    width: 16px;
    height: 16px;
    background-image: url("radiobutton-off.svg");
    border-radius: 15px;
}

.radiobutton:focus StBin {
    background-image: url("radiobutton-off.svg");
}

.radiobutton:checked StBin {
    background-image: url("radiobutton.svg");
}

.radiobutton:focus:checked StBin {
    background-image: url("radiobutton.svg");
}

.radiobutton StLabel {
   padding-top: 4px;
   font-size: 0.9em;
   box-shadow: none;
}

.flashspot {
   background-color: white;
}

/* ===================================================================
 * User Applet
 * ===================================================================*/

.user-icon {  
    background-color: #212121;
    border: 1px solid #9e9e9e;
    border-radius: 3px;
    padding: 0.2em;
}

.user-label {
    color: #ddd;
    font-size: 16px;
    margin: 0px;
}

/* ===================================================================
 * Snap/Tile OSD Popup
 * ===================================================================*/

.snap-osd {
    font-size: 18pt;
    border-radius: 3px;
    background-color: #212121;
    border: 1px solid #bdbdbd;
    color: #ddd;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
