/*css selectors used by gridmenu (icon-menu)
┌──.menu-background .gridmenu .sidebar-top .sidebar-bottom .sidebar-left .sidebar-right──────
│┌──.menu-applications-outer-box .menu-applications-box──────────────────────────────────────────────────────────────────────────
││┌──.gridmenu-middle-pane───────────────────────────────────────────────────────────────────────────────────────────
│││┌──.gridmenu-sidebar-box─────────────────┐┌──.menu-categories-scrollbox .vfade──┐┌──.menu-applications-scrollbox .vfade───────
││││┌──.gridmenu-sidebar-scrollbox .vfade──┐││┌──.menu-categories-box─────────────┐││┌──.menu-applications-inner-box──────────
│││││                                      ││││                                   ││││┌──.menu-applications-grid-box───
│││││                                      ││││                                   │││││┌──.menu-applications-header-text───┐
│││││                                      ││││                                   │││││└───────────────────────────────────┘
││││└───────                               ││││                                   │││││┌──.menu-applications-grid-box────────┐
│││└───────                                ││││                                   │││││└─────────────────────────────────────┘
││└──────────────────
││┌──.menu-search-box─────────
│││┌──#menu-search-entry──────────
*/

/* The reason that some style css is in this file rather than in cinnamon's default theme is
 * so that the user theme does not override the more specific selectors here with less specific
 * selectors. For instance, ".gridmenu .menu-categories-box" in the default theme would have no
 * effect if ".menu-categories-box" is defined in the user theme. By putting it here, it still
 * takes effect, unless ".gridmenu .menu-categories-box" specifically, is overridden in the
 * user theme.
 */

.menu-category-button:hover {  /*Only used when "activate categories on click" option is set.*/
    background-color: rgba(128,128,128,0.2);
    border-radius: 4px;
    border-image: none;
}

.menu-category-button:highlighted, /*Used to highlight category containing newly installed apps.*/
.menu-category-button-selected:highlighted {
  font-weight: bold;
}

.gridmenu .menu-applications-inner-box {
  padding-left: 0px;
  padding-right: 0px;
}

.menu-applications-grid-box .menu-application-button,
.menu-applications-grid-box .menu-application-button-selected {
  padding: 10px 2px;
}

.menu-applications-grid-box .menu-application-button-label,
.menu-applications-grid-box .menu-application-button-label:ltr,
.menu-applications-grid-box .menu-application-button-label:rtl {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.gridmenu .menu-categories-box {
  padding-left: 6px;
  padding-right: 6px;
}

.gridmenu .menu-search-box, .gridmenu .menu-search-box:ltr, .gridmenu .menu-search-box:rtl {
  min-width: 160px;
  padding: 0px 8px;
}

