[Desktop Entry]
Exec=dbus-send --print-reply --dest=org.Cinnamon /org/Cinnamon org.Cinnamon.ToggleKeyboard
Icon=cinnamon-virtual-keyboard
Terminal=false
Type=Application
Categories=Utility;
OnlyShowIn=X-Cinnamon;
Keywords=onboard;keyboard;caribou;
Name=Virtual keyboard
Name[af]=Virtuele sleutelbord
Name[am]=የሚታይ የ ፊደል ገበታ
Name[ar]=لوحة المفاتيح الافتراضية
Name[ast]=Teclaú virtual
Name[ay]=Pantallan tiklado
Name[az]=Sanal düyməlik
Name[be]=Віртуальная клавіятура
Name[bg]=Виртуална клавиатура
Name[bn]=ভার্চুয়াল কিবোর্ড
Name[ca]=Teclat virtual
Name[ca@valencia]=Teclat virtual
Name[cs]=Virtuální klávesnice
Name[cy]=Rhith fysellfwrdd
Name[da]=Virtuelt tastatur
Name[de]=Bildschirmtastatur
Name[el]=Εικονικό πληκτρολόγιο
Name[eo]=Virtuala klavaro
Name[es]=Teclado virtual
Name[es_AR]=Teclado virtual
Name[et]=Virtuaalne klaviatuur
Name[eu]=Teklatu birtuala
Name[fa]=صفحه‌کلید مجازی
Name[fi]=Virtuaalinäppäimistö
Name[fr]=Clavier virtuel
Name[fr_CA]=Clavier virtuel
Name[he]=מקלדת מדומה
Name[hi]=आभासी कुंजीपटल
Name[hr]=Virtualna tipkovnica
Name[hsb]=Wirtuelna tastatura
Name[hu]=Virtuális billentyűzet
Name[ia]=Claviero virtual
Name[id]=Papan ketik maya
Name[ie]=Tastatura virtual
Name[is]=Sýndarlyklaborð
Name[it]=Tastiera virtuale
Name[ja]=仮想キーボード
Name[kab]=Anasiw aḥlis
Name[ko]=가상 키보드
Name[la]=Claviatura virtualis
Name[lt]=Virtuali klaviatūra
Name[nap]=Tastiera faveza
Name[nb]=Virtuelt tastatur
Name[nl]=Virtueel toetsenbord
Name[oc]=Clavièr visual
Name[pl]=Klawiatura wirtualna
Name[pt]=Teclado virtual
Name[pt_BR]=Teclado virtual
Name[ro]=Tastatură virtuală
Name[ru]=Виртуальная клавиатура
Name[rue]=Віртуална клавешниця
Name[sc]=Tastiera virtuale
Name[sk]=Virtuálna klávesnica
Name[sl]=Virtualna tipkovnica
Name[sq]=Tastiera virtuale
Name[sr]=Виртуелна тастатура
Name[sr@ijekavian]=Виртуелна тастатура
Name[sr@ijekavianlatin]=Виртуелна тастатура
Name[sr@latin]=Virtuelna tastatura
Name[sv]=Virtuellt tangentbord
Name[ta]=திரைப்பலகை
Name[th]=แป้นพิมพ์เสมือนจริง
Name[tr]=Sanal klavye
Name[uk]=Віртуальна клавіатура
Name[ur]=ورچول کیی بورڈ
Name[uz]=Virtual klaviatura
Name[vi]=Bàn phím ảo
Name[zh_CN]=虚拟键盘
Name[zh_HK]=虛擬鍵盤
Name[zh_TW]=虛擬鍵盤
Comment=Turn on-screen keyboard on or off
Comment[af]=Skakel die sleutelbord op die skerm aan of af
Comment[am]=የመመልከቻውን ፊደል ገበታ ማብሪያ ወይንም ማጥፊያ
Comment[ar]=تشغيل أو إيقاف تشغيل لوحة المفاتيح على الشاشة
Comment[ast]=Prender o apagar la pantalla del tecláu
Comment[ay]=Pantallan tiklado uk naktayaña jan ukax jiwt'ayaña
Comment[az]=Göstərici düyməliyini işlət ya da söndür
Comment[be]=Уключыць/выключыць экранную клавіятуру
Comment[bg]=Включване или изключване на екранната клавиатура
Comment[bn]=পর্দার কিবোর্ড বন্ধ অথবা সচল করুন
Comment[bs]=Uključi/isključi ekransku tastaturu
Comment[ca]=Activa o desactiva el teclat en pantalla
Comment[ca@valencia]=Activa o desactiva el teclat en pantalla
Comment[cs]=Zapnout nebo vypnout klávesnici na obrazovce
Comment[cy]=Cychwyn neu ddiffodd y bysellfwrdd ar sgrin
Comment[da]=Slå skærmtastatur til/fra
Comment[de]=Bildschirmtastatur ein-/ausschalten
Comment[el]=Εναλλαγή λειτουργίας πληκτρολογίου οθόνης
Comment[eo]=En- aŭ elŝalti la ekranklavaron
Comment[es]=Activar o desactivar el teclado en pantalla
Comment[es_AR]=Activar o desactivar el teclado en pantalla
Comment[et]=Ekraaniklaviatuuri sisse või välja lülitamine
Comment[eu]=Aktibatu edo desaktibatu pantailako teklatua
Comment[fa]=روشن یا خاموش کردن صفحه‌کلیدِ روی-صفحه
Comment[fi]=Näyttönäppäimistö päälle/pois
Comment[fr]=Activer ou désactiver le clavier visuel
Comment[fr_CA]=Activer ou désactiver le clavier visuel
Comment[ga]=Cas air nó as méarchlár scáileáin
Comment[gd]=Cuir am meur-chlàr air an sgrìn air no dheth
Comment[gl]=Activar ou desactivar o teclado en pantalla
Comment[he]=הפעלת או כיבוי מקלדת־מרקע
Comment[hi]=ऑन स्क्रीन कुंजीपटल चालू या बंद करें
Comment[hr]=Uključi/Isključi zaslonsku tipkovnicu
Comment[hsb]=Tastaturu na wobrazowce za/wušaltować
Comment[hu]=Képernyő-billentyűzet be- vagy kikapcsolása
Comment[ia]=Activar o stoppar le claviero sur-le-schermo
Comment[id]=Mengaktifkan atau menonaktifkan keyboard di layar
Comment[is]=Skjályklaborð af eða á
Comment[it]=Attiva/disattiva la tastiera sullo schermo
Comment[ja]=スクリーンキーボードをオン/オフ
Comment[ka]=ეკრანზე ნაჩვენებ კლავიატურის ჩართვა/გამორთვა
Comment[kab]=Rmed neɣ ssens anasiw amwalan
Comment[kk]=Экрандағы пернетақтаны қосу/сөндіру
Comment[ko]=가상 키보드 켜고 끄기
Comment[lt]=Įjungti arba išjungti ekraninę klaviatūrą
Comment[lv]=Ieslēgt vai izslēgt ekrāna tastatūru
Comment[ms]=Hidup atau matikan papan kekunci skrin
Comment[nb]=Slå av/på skjermtastatur
Comment[nds]=Bildschirmtastatur ein- oder ausschalten
Comment[nl]=Schermtoetsenbord in- of uitschakelen
Comment[oc]=Activar o desactivar lo clavièr visual
Comment[om]=Furtuu gabatee argiirratii bantuufi cuftuu
Comment[pa]=ਆਨ-ਸਕਰੀਨ ਕੀਬੋਰਡ ਚਾਲੂ ਜਾਂ ਬੰਦ ਕਰੋ
Comment[pl]=Włącz/Wyłącz klawiaturę ekranową
Comment[pt]=Ativar ou desativar teclado no ecrã
Comment[pt_BR]=Ativar ou desativar o teclado virtual
Comment[ro]=Activează  sau dezactivează tastatura pe ecran
Comment[ru]=Включить или выключить экранную клавиатуру
Comment[rue]=Уключити наекранну клавешницю вадь выключити
Comment[sc]=Ativa o disativa sa tastiera in s'ischermu
Comment[sk]=Zapnúť alebo vypnúť klávesnicu na obrazovke
Comment[sl]=Omogoči ali onemogoči zaslonsko tipkovnico
Comment[sq]=Aktivizo ose çaktivizo tastierën në ekran
Comment[sr]=Укључи/искључи тастатуру на екрану
Comment[sr@ijekavian]=Укључи/искључи тастатуру на екрану
Comment[sr@ijekavianlatin]=Укључи/искључи тастатуру на екрану
Comment[sr@latin]=Uključi ili isključi tastaturu na ekranu
Comment[sv]=Aktivera eller inaktivera skärmtangentbord
Comment[ta]=திரைப்பலகை ஆன் அல்லது ஆஃப் செய்
Comment[tg]=Хомӯш ё фаъол кардани ҳарфкалиди экранӣ
Comment[th]=เปิดหรือปิดแป้นพิมพ์บนจอ
Comment[tr]=Ekran klavyesini aç ya da kapat
Comment[uk]=Увімкнути або вимкнути екранну клавіатуру
Comment[ur]=سکرین کیبورڈ چالو یا بند کریں
Comment[uz]=Ekran klaviaturasini yoqish yoki o‘chirish
Comment[vi]=Bật tắt bàn phím màn hình
Comment[zh_CN]=开关屏幕键盘
Comment[zh_HK]=開啟或關閉熒幕鍵盤
Comment[zh_TW]=開啟或關閉螢幕鍵盤
