[Desktop Entry]
Icon=cs-desktop-effects
Exec=cinnamon-settings effects
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Effects
Name[af]=Effekte
Name[am]=ውጤቶች
Name[ar]=المؤثرات
Name[ast]=Efeutos
Name[ay]=Jamuq unxtawinaka
Name[az]=Etgilər
Name[be]=Эфекты
Name[bg]=Ефекти
Name[br]=Efedoù
Name[bs]=Efekti
Name[ca]=Efectes
Name[ca@valencia]=Efectes
Name[cs]=Efekty
Name[cy]=Effeithiau
Name[da]=Effekter
Name[de]=Effekte
Name[el]=Εφέ
Name[eo]=Efektoj
Name[es]=Efectos
Name[es_AR]=Efectos
Name[et]=Efektid
Name[eu]=Efektuak
Name[fa]=جلوه‌ها
Name[fi]=Tehosteet
Name[fr]=Effets
Name[fr_CA]=Effets
Name[ga]=Maisíochtaí
Name[gd]=Èifeachdan
Name[gl]=Efectos
Name[he]=תוצאים
Name[hi]=प्रभाव
Name[hr]=Efekti
Name[hu]=Effektusok
Name[ia]=Effectos
Name[id]=Efek
Name[ie]=Efectes
Name[is]=Viðmótsbrellur
Name[it]=Effetti
Name[ja]=視覚効果
Name[ka]=ეფექტები
Name[kab]=Isemda
Name[ko]=효과
Name[ku]=Efekt
Name[la]=Effecta
Name[lo]=ເອັບເຟັກ
Name[lt]=Efektai
Name[lv]=Efekti
Name[mo]=Ефекте
Name[ms]=Kesan
Name[nb]=Effekter
Name[nds]=Effekte
Name[nl]=Effecten
Name[oc]=Efièits
Name[om]=galteelee
Name[pa]=ਪ੍ਰਭਾਵ
Name[pl]=Efekty
Name[pt]=Efeitos
Name[pt_BR]=Efeitos
Name[ro]=Efecte
Name[ru]=Эффекты
Name[rue]=Ефекты
Name[sc]=Efetos
Name[sk]=Efekty
Name[sl]=Učinki
Name[sq]=Efektet
Name[sr]=Дејства
Name[sr@ijekavian]=Дејства
Name[sr@ijekavianlatin]=Дејства
Name[sr@latin]=Efekti
Name[sv]=Effekter
Name[ta]=விளைவுகள்
Name[tg]=Таъсирҳо
Name[th]=ลูกเล่น
Name[tr]=Efektler
Name[uk]=Ефекти
Name[ur]=اثرات
Name[uz]=Effektlar
Name[vi]=Hiệu ứng
Name[zh_CN]=特效
Name[zh_HK]=效果
Name[zh_TW]=效果
Comment=Control Cinnamon visual effects.
Comment[af]=Beheer Cinnamon se visuele effekte.
Comment[am]=የ ሲናሞን መመልከቻ ውጤቶች መቆጣጠሪያ
Comment[ar]=التحكم في مؤثرات سينامُن المرئية.
Comment[ast]=Controlar efeutos visuales en Cinnamon.
Comment[ay]=Cinnamon jamuqanakan unxtawinaka uk mayjachaña.
Comment[az]="Cinnamon" görsəl etgilərini yönəlt.
Comment[be]=Кіраваць візуальнымі эфектамі Cinnamon.
Comment[bg]=Контролиране на визуалните ефекти на Cinnamon
Comment[bs]=Upravljaj Cinnamon vizuelnim efektima
Comment[ca]=Controleu els efectes visuals de Cinnamon.
Comment[ca@valencia]=Controleu els efectes visuals de Cinnamon.
Comment[cs]=Nastavení vizuálních efektů prostředí Cinnamon.
Comment[cy]=Rheoli effeithiau gweledol Cinnamon.
Comment[da]=Kontrollér Cinnamons visuelle effekter.
Comment[de]=Cinnamons visuelle Effekte steuern.
Comment[el]=Ρυθμίστε τα οπτικά εφέ του Cinnamon
Comment[eo]=Stiri vidajn efektojn de Cinnamon.
Comment[es]=Configurar los efectos visuales de Cinnamon
Comment[es_AR]=Configurar los efectos visuales de Cinnamon
Comment[et]=Cinnamoni visuaalsete efektide juhtimine.
Comment[eu]=Kontrolatu Cinnamonen efektu bisualak
Comment[fa]=جلوه‌های بصری Cinnamon را کنترل کنید.
Comment[fi]=Hallitse Cinnamonin ilmettä.
Comment[fr]=Gérez les effets visuels de Cinnamon
Comment[fr_CA]=Contrôler les effets visuels de Cinnamon
Comment[gd]=Stiùirich èifeachdan lèirsinneach Cinnamon.
Comment[gl]=Control dos efectos visuais de Cinnamon.
Comment[he]=שליטה בתוצאי סינמון  חזותיים.
Comment[hi]=सिनेमन दृश्य प्रभाव नियंत्रण।
Comment[hr]=Upravljajte Cinnamon vizualnim efektima.
Comment[hu]=Cinnamon vizuális effektusok beállítása.
Comment[ia]=Controlar le effectos visual  de Cinnamon.
Comment[id]=Atur efek visual Cinnamon.
Comment[is]=Stýra viðmótsbrellum í Cinnamon.
Comment[it]=Controllo effetti grafici di Cinnamon.
Comment[ja]=Cinnamon の視覚効果を制御します。
Comment[kab]=Sefrek isemda imeẓriyen n Cinnamon.
Comment[ko]=시나몬 비주얼 효과를 조절합니다.
Comment[la]=Cinnamonis effecta visionis cura.
Comment[lo]=ຈັດການ Cinnamon visual effects.
Comment[lt]=Valdyti Cinnamon vaizdo efektus.
Comment[lv]=Pārvaldīt Cinnamon vizuālos efektus.
Comment[ms]=Kawalan kesan visual Cinnamon
Comment[nb]=Styr Cinnamons visuelle effekter
Comment[nds]=Cinnamons Visuelle Effekte bearbeiten
Comment[nl]=Visuele effecten van Cinnamon beheren
Comment[oc]=Gerissètz los efièits visuals de Cinnamon.
Comment[pl]=Kontroluj efekty wizualne Cinnamon.
Comment[pt]=Controlar os efeitos visuais Cinnamon.
Comment[pt_BR]=Controle os efeitos visuais do Cinnamon.
Comment[ro]=Controlează efectele vizuale Cinnamon.
Comment[ru]=Управление визуальными эффектами Cinnamon.
Comment[rue]=Рядованя візуалными ефектами Cinnamon.
Comment[sk]=Ovláda vizuálne efekty prostredia Cinnamon.
Comment[sl]=Upravljajte z vidnimi učinki Cinnamona.
Comment[sq]=Efektet vizuale të Cinnamon.
Comment[sr]=Управљање видним дејствима површи Цимета.
Comment[sr@ijekavian]=Управљање видним дејствима површи Цимета.
Comment[sr@ijekavianlatin]=Управљање видним дејствима површи Цимета.
Comment[sr@latin]=Upravljanje vizuelnim efektima Cinnamona.
Comment[sv]=Styr Cinnamons visuella effekter.
Comment[tg]=Идоракунии таъсирҳои визуалии Cinnamon
Comment[th]=ควบคุมเอฟเฟกต์การแสดงผล Cinnamon
Comment[tr]=Cinnamon görsel efektlerini yönetin.
Comment[uk]=Керування наочними ефектами Cinnamon.
Comment[ur]=سنامون کے نمائشی تاثرات کو کنٹرول کریں
Comment[uz]=Cinnamon vizual effektlarini boshqarish.
Comment[vi]=Điều khiển hiệu ứng trực quan Cinnamon.
Comment[zh_CN]=控制 Cinnamon 显示特效。
Comment[zh_HK]=控制 Cinnamon 視覺效果。
Comment[zh_TW]=管理 Cinnamon 視覺效果。
Keywords=effects;window;
Keywords[ast]=efeutos;ventana;
Keywords[be]=эфекты;акно;
Keywords[bg]=ефекти;прозорец;
Keywords[br]=efedoù;prenestr;
Keywords[ca]=efectes;finestra;
Keywords[ca@valencia]=efectes;finestra;
Keywords[cs]=efekty;okno;
Keywords[cy]=effeithiau;ffenestr;
Keywords[da]=effekter;vindue;
Keywords[de]=Effekte;Fenster;
Keywords[el]=εφέ;παράθυρο;
Keywords[eo]=efektoj;fenestro;
Keywords[es]=efectos;ventana;
Keywords[es_AR]=efectos;ventana;
Keywords[et]=efektid;aken;
Keywords[eu]=efektuak;leihoa;
Keywords[fa]=جلوه‌ها، پنجره;
Keywords[fi]=tehosteet;ikkuna;
Keywords[fr]=effets;fenêtre;
Keywords[fr_CA]=effets;fenêtre;
Keywords[he]=תוצאים;חלון;
Keywords[hi]=प्रभाव;खिड़की;
Keywords[hr]=efekti;prozor;
Keywords[hu]=effektusok;díszes;ablak;díszítés;
Keywords[ia]=effectos;fenestra;
Keywords[id]=efek;jendela;
Keywords[is]=brellur;gluggi;
Keywords[it]=effetti;finestra;
Keywords[ja]=effects;window;エフェクト;視覚効果;ウィンドウ;
Keywords[kab]=isemda;asfaylu;
Keywords[ko]=효과;창;
Keywords[lt]=efektai;langas;
Keywords[nb]=effekter;vindu;
Keywords[nl]=effecten;venster;
Keywords[pl]=efekty;okno;
Keywords[pt]=efeitos;janela;
Keywords[pt_BR]=efeitos;janela;
Keywords[ro]=efecte;fereastră;
Keywords[ru]=эффекты;окно;
Keywords[rue]=ефекты;оболок;
Keywords[sk]=efekty;okna;
Keywords[sl]=učinki;okno;
Keywords[sr]=дејства;ефекти;прозор;
Keywords[sr@ijekavian]=дејства;ефекти;прозор;
Keywords[sr@ijekavianlatin]=дејства;ефекти;прозор;
Keywords[sr@latin]=дејства;ефекти;прозор;
Keywords[sv]=effekter;fönster;
Keywords[tr]=efektler;pencere;
Keywords[uk]=ефекти;вікно;
Keywords[uz]=effektlar;oyna;
Keywords[vi]=hiệu ứng;cửa sổ;
Keywords[zh_CN]=特效，窗口;
Keywords[zh_TW]=效果;視窗;
