[Desktop Entry]
Icon=cs-tiling
Exec=cinnamon-settings tiling
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Window Tiling
Comment=Manage window tiling preferences
Comment[am]=የ መስኮት መደርደሪያ ምርጫዎች አስተዳዳሪ
Comment[be]=Кіраванне параметрамі мазаічнага размяшчэння вокнаў
Comment[be@latin]=Кіраванне параметрамі мазаічнага размяшчэння вокнаў
Comment[bg]=Управление подредбата на прозорците
Comment[bg_BG]=Управление подредбата на прозорците
Comment[bs]=Upravljaj postavkama pločastog prikaza prozora
Comment[ca]=Administrar les preferències de mosaic de finestres
Comment[ca@valencia]=Administrar les preferències de mosaic de finestres
Comment[ca_ES@valencia]=Administrar les preferències de mosaic de finestres
Comment[cs]=Nastavení dláždění oken
Comment[cs_CZ]=Nastavení dláždění oken
Comment[cy]=Rheoli dewisiadau teilsio ffenestri
Comment[da]=Administrér indstillinger for side om side-udlægning
Comment[da_DK]=Administrér indstillinger for side om side-udlægning
Comment[de]=Kacheleinstellungen der Fenster verwalten
Comment[de_DE]=Kacheleinstellungen der Fenster verwalten
Comment[el]=Διαχείρηση προτιμήσεων τοποθέτησης παραθύρων ως πλακίδια
Comment[es]=Administrar las preferencias de mosaico de ventanas
Comment[es_AR]=Administrar las preferencias de mosaico de ventanas
Comment[eu]=Kudeatu leihoak lauzatzeko hobespenak
Comment[eu_ES]=Kudeatu leihoak lauzatzeko hobespenak
Comment[fi]=Muokkaa ikkunoiden ruudutuksen asetuksia
Comment[fi_FI]=Muokkaa ikkunoiden ruudutuksen asetuksia
Comment[fr]=Gérer les préférences de juxtaposition des fenêtres
Comment[fr_CA]=Gérer les préférences de juxtaposition des fenêtres
Comment[gl]=Administra as preferencias do mosaixo de xanelas
Comment[gl_ES]=Administra as preferencias do mosaixo de xanelas
Comment[hr]=Upravljajte osobitostima slaganja prozora
Comment[hu]=Ablak mozaik beállítások kezelése
Comment[hu_HU]=Ablak mozaik beállítások kezelése
Comment[id]=Atur preferensi pengubinan jendela
Comment[id_ID]=Atur preferensi pengubinan jendela
Comment[is]=Sýsla með kjörstillingar fyrir uppröðun glugga
Comment[it]=Gestisci le preferenze di affiancamento delle finestre
Comment[ko]=창 타일링 설정 관리하기
Comment[ko_KR]=창 타일링 설정 관리하기
Comment[lt]=Tvarkyti langų išdėliojimo nustatymus
Comment[lt_LT]=Tvarkyti langų išdėliojimo nustatymus
Comment[ms]=Mengurus pilihan jubin tetingkap
Comment[nl]=Voorkeuren beheren voor het tegelen van vensters
Comment[nl_NL]=Voorkeuren beheren voor het tegelen van vensters
Comment[pl]=Zarządzaj preferencjami kafelkowania okien
Comment[pl_PL]=Zarządzaj preferencjami kafelkowania okien
Comment[pt]=Gerir as definições de arrumação de janelas
Comment[pt_BR]=Gerenciar as definições de disposição de janelas
Comment[pt_PT]=Gerir as definições de arrumação de janelas
Comment[ro]=Configurează modul de afișare a ferestrelor
Comment[ro_RO]=Configurează modul de afișare a ferestrelor
Comment[ru]=Управление параметрами мозаичного размещения окон
Comment[sk]=Spravovať predvoľby dláždenia okien
Comment[sk_SK]=Spravovať predvoľby dláždenia okien
Comment[sl]=Upravljajte z možnostmi razpostavljanja oken
Comment[sl_SI]=Upravljajte z možnostmi razpostavljanja oken
Comment[sr]=Управљање поставкама поплочавања прозора
Comment[sr@Latn]=Управљање поставкама поплочавања прозора
Comment[sr@ije]=Управљање поставкама поплочавања прозора
Comment[sr@ijekavianlatin]=Управљање поставкама поплочавања прозора
Comment[sr@latin]=Управљање поставкама поплочавања прозора
Comment[sv]=Hantera inställningar för radning av fönster
Comment[tg]=Идоракунии хусусиятҳои лавҳабандии равзанаҳо
Comment[th]=จัดการการตั้งค่าการจัดหน้าต่างแบบกระเบื้องขั้นสูง
Comment[th_TH]=จัดการการตั้งค่าการจัดหน้าต่างแบบกระเบื้องขั้นสูง
Comment[tr]=Pencere döşeme seçeneklerini yönet
Comment[uk]=Керування прилипанням вікон
Comment[uk_UA]=Керування прилипанням вікон
Comment[vi]=Quản lý tuỳ thích lát cửa sổ
Comment[vi_VN]=Quản lý tuỳ thích lát cửa sổ
Comment[zh_CN]=管理窗口平铺样式
Comment[zh_HK]=管理視窗平鋪設定
Comment[zh_TW]=管理視窗平舖偏好設定
