[Desktop Entry]
Icon=cs-gestures
Exec=cinnamon-settings gestures
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Gestures
Name[ast]=Xestos
Name[be]=Жэсты
Name[ca]=Gestos
Name[ca@valencia]=Gestos
Name[cs]=Gesta
Name[cy]=Ystumiau
Name[da]=Bevægelser
Name[de]=Gesten
Name[el]=Xειρονομίες
Name[eo]=Gestoj
Name[es]=Gestos
Name[es_AR]=Gestos
Name[et]=Žestid
Name[eu]=Keinuak
Name[fa]=حرکاتِ‌دست
Name[fi]=Eleet
Name[fr]=Gestuelles
Name[fr_CA]=Gestuelles
Name[he]=מחוות
Name[hi]=जेस्चर
Name[hu]=Gesztusvezerlés
Name[ia]=Gestos
Name[id]=Gestur
Name[is]=Bendingar
Name[it]=Gesture
Name[ja]=ジェスチャー
Name[ko]=제스처
Name[lt]=Gestai
Name[nb]=Bevegelser
Name[nl]=Gebaren
Name[oc]=Gèstes
Name[pl]=Gesty
Name[pt]=Gestos
Name[pt_BR]=Gestos
Name[ro]=Gesturi
Name[ru]=Жесты
Name[rue]=Кывнутя
Name[sk]=Gestá
Name[sl]=Kretnje
Name[sv]=Gester
Name[tr]=Hareketler
Name[uk]=Жести
Name[uz]=Imo-ishoralar
Name[vi]=Cử chỉ
Name[zh_CN]=手势
Name[zh_TW]=手勢
Comment=Manage touch gestures
Comment[ast]=Xestionar xestos
Comment[be]=Кіраваць жэстамі
Comment[ca]=Gestiona els gestos tàctils
Comment[ca@valencia]=Gestiona els gestos tàctils
Comment[cs]=Správa dotykových gest
Comment[cy]=Rheoli ystumiau cyffwrdd
Comment[da]=Håndtér berøringsbevægelser
Comment[de]=Berührungsgesten verwalten
Comment[el]=Διαχειριστείτε τις χειρονομίες αφής
Comment[eo]=Administri tuŝgestojn
Comment[es]=Gestionar los gestos táctiles
Comment[es_AR]=Gestionar los gestos táctiles
Comment[et]=Puutesüst. haldamine
Comment[eu]=Kudeatu ukipen-keinuak
Comment[fa]=مدیریت حرکاتِ‌دست لمسی
Comment[fi]=Hallitse kosketuseleitä
Comment[fr]=Gérer les gestuelles tactiles
Comment[fr_CA]=Gérer les gestuelles tactiles
Comment[he]=ניהול מחוות מגע
Comment[hi]=टच जेस्चर  को प्रबंधित करें
Comment[hu]=Érintési gesztusvezerlés kezelése
Comment[ia]=Gerer gestos tactile
Comment[id]=Kelola gerakan sentuh
Comment[is]=Sýsla með snertibendingar
Comment[it]=Gestisci le gesture
Comment[ja]=タッチジェスチャーを管理
Comment[ko]=터치 제스처 설정
Comment[nb]=Administrer berøringsbevegelser
Comment[nl]=Aanraakgebaren beheren
Comment[pl]=Zarządzaj gestami dotykowymi
Comment[pt]=Gerir gestos de toque
Comment[pt_BR]=Gerenciar gestos de toque
Comment[ro]=Gestionează gesturile de atingere
Comment[ru]=Управление сенсорными жестами
Comment[rue]=Справованя сенсорными жестами
Comment[sk]=Spravujte dotykové gestá
Comment[sl]=Upravljaj kretnje dotika
Comment[sv]=Hantera gester
Comment[tr]=Dokunma hareketlerini yönet
Comment[uk]=Керування жестами
Comment[uz]=Sensorli imo-ishoralarni boshqarish
Comment[vi]=Quản lý cử chỉ chạm
Comment[zh_CN]=管理触摸手势
Comment[zh_TW]=管理觸控手勢
Keywords=gesture;swipe;pinch;touch;
Keywords[ast]=xestu;deslliciar;plizcu;toque;
Keywords[be]=жэст;свайп;прагортка;пракрутка;дотык;
Keywords[ca]=gest;lliscar;pessigar;tocar;
Keywords[ca@valencia]=Gest;esgolar;pessigar;tocar;
Keywords[cs]=gesto;přejetí prstem;stisknutí;dotyk;
Keywords[cy]=ystumio;llusgo;pinsio;cyffwrdd;
Keywords[da]=bevægelse;swipe;stryg;pinch;knib;
Keywords[de]=gesture;swipe;pinch;touch;Geste;Wischen;Aufziehen;Berühren;
Keywords[el]=χειρονομία;σάρωση;τσίμπημα;άγγιγμα;
Keywords[eo]=gesto;ŝovumi;pinĉi;tuŝi;
Keywords[es]=gesto;arrastrar;pellizcar;tocar;
Keywords[es_AR]=gesto;arrastrar;pellizcar;tocar;
Keywords[et]=žest;pühkimine;pigistamine;puudutamine;
Keywords[eu]=keinu egin;irristatu;atximurkatu;ukitu;
Keywords[fa]=حرکتِ دست، حرکت جاروبی،نیشگون ، لمس;
Keywords[fi]=gesture;swipe;pinch;touch;eleet;pyyhkäisy;nipistä;kosketus;
Keywords[fr]=gestuelles;glissement;pincement;touche;
Keywords[fr_CA]=gestuelles;glissement;pincement;touche;
Keywords[he]=מחווה;החלקה;צביטה;מגע;
Keywords[hi]=इशारा;ज़ोर;चुटकी;स्पर्श;
Keywords[hu]=gesztus;mozdulat;csúsztatás;csillentés;érintés;gesture;swipe;pinch;touch;
Keywords[ia]=gesto;glissar;pinciar;tactile;
Keywords[id]=gerakan;geser;cubit;sentuh;
Keywords[is]=bending;stroka;klípa;snerta;
Keywords[it]=gesture;scorrimento;pizzicare;tocco;
Keywords[ja]=gesture;swipe;pinch;touch;ジェスチャー;スワイプ;ピンチ;タッチ;
Keywords[ko]=제스처;스와이프;핀치;터치;
Keywords[nb]=gest;sveip;klyp;berør;
Keywords[nl]=gebaar;vegen;knijpen;aanraken;
Keywords[pl]=gest;przeciągnięcie;uszczypnięcie;dotknięcie;
Keywords[pt]=gesto;deslizar;apertar;toque;
Keywords[pt_BR]=gesto;deslize;pinça;toque;
Keywords[ro]=gest;glisare;ciupire;atingere;
Keywords[ru]=жест;смахивание;сжатие;касание;
Keywords[rue]=кывнутя;змахованя;стиск;докыв;
Keywords[sk]=gesto;potiahnutie;stisnutie;dotyk;
Keywords[sl]=kretnja;gesta;poteza;dotik;pritisk;podrs;
Keywords[sv]=gest;svep;nyp;beröring;
Keywords[tr]=dokunma;hareket;kaydır;çimdik;
Keywords[uk]=жест;свайп;щипок;дотик;
Keywords[uz]=imo-ishora;surish;chimchilash;teginish;
Keywords[vi]=cử chỉ;vuốt;chụm;chạm;
Keywords[zh_CN]=手势、滑动、捏合、触摸;
Keywords[zh_TW]=手勢;單指滑動;多指滑動;點觸;
