[Desktop Entry]
Name=Panel
Comment=Manage Cinnamon panel settings
Icon=cs-panel
Exec=cinnamon-settings panel
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name[gd]=Pannal
Name[ga]=Painéal
Name[gl]=Panel
Name[tr]=Panel
Name[ts]=Phenele
Name[li]=Paneel
Name[lv]=Panelis
Name[lt]=Skydelis
Name[te]=ప్యానల్
Name[ta]=பலகை
Name[zh_HK]=平台
Name[pt_BR]=Painel
Name[de]=Leiste
Name[da]=Panel
Name[zh_CN]=面板
Name[el]=Γραμμή εργασιών
Name[eo]=Panelo
Name[eu]=Panela
Name[et]=Paneel
Name[es]=Panel
Name[ru]=Панель
Name[ro]=Panou
Name[bn]=প্যানেল
Name[be]=Панэль
Name[bg]=Панел
Name[ms]=Panel
Name[sr@latin]=Tabla
Name[rue]=Панель
Name[bs]=Panel
Name[ja]=パネル
Name[om]=Moggaargii
Name[nds]=Leiste
Name[ca]=Tauler
Name[cy]=Panel
Name[cs]=Panel
Name[pt]=Painel
Name[pa]=ਪੈਨਲ
Name[pl]=Panel
Name[hr]=Panel
Name[zh_TW]=面板
Name[hu]=Panel
Name[hi]=पट्टिका
Name[en_AU]=Panel
Name[he]=פאנל
Name[uz]=Панел
Name[ml]=പാളി
Name[en_GB]=Panel
Name[uk]=Панель
Name[mr]=पटल
Name[af]=Paneel
Name[vi]=Bảng
Name[is]=Spjald
Name[am]=ክፍል
Name[it]=Pannello
Name[ar]=الشريط
Name[id]=Panel
Name[nl]=Paneel
Name[nn]=Panel
Name[nb]=Oppgavelinje
Name[ne]=प्यानल
Name[csb]=Panel
Name[fr]=Tableau de bord
Name[fa]=صفحه‌ی‌ کنترل
Name[fi]=Paneeli
Name[fr_CA]=Tableau de bord
Name[sr]=Полица
Name[sq]=Paneli
Name[ko]=패널
Name[sv]=Panel
Name[km]=បន្ទះ
Name[sk]=Panel
Name[si]=පැනලය
Name[so]=Baanelka
Name[sl]=Pult
