[Desktop Entry]
Exec=dbus-send --print-reply --dest=org.Cinnamon /org/Cinnamon org.Cinnamon.ToggleKeyboard
Icon=keyboard
Terminal=false
Type=Application
Categories=Utility;
OnlyShowIn=X-Cinnamon;
Keywords=onboard;keyboard;caribou;
Name=Virtual keyboard
Name[am]=የሚታይ የ ፊደል ገበታ
Name[bg]=Виртуална клавиатура
Name[bg_BG]=Виртуална клавиатура
Name[ca]=Teclat virtual
Name[ca@valencia]=Teclat virtual
Name[ca_ES]=Teclat virtual
Name[ca_ES@valencia]=Teclat virtual
Name[cs]=Virtuální klávesnice
Name[cs_CZ]=Virtuální klávesnice
Name[cy]=Rhith fysellfwrdd
Name[da]=Virtuelt tastatur
Name[da_DK]=Virtuelt tastatur
Name[de]=Bildschirmtastatur
Name[de@hebrew]=Bildschirmtastatur
Name[de_CH]=Bildschirmtastatur
Name[de_DE]=Bildschirmtastatur
Name[el]=Εικονικό πληκτρολόγιο
Name[es]=Teclado virtual
Name[es_AR]=Teclado virtual
Name[es_CL]=Teclado virtual
Name[es_CO]=Teclado virtual
Name[es_CR]=Teclado virtual
Name[es_DO]=Teclado virtual
Name[es_EC]=Teclado virtual
Name[es_ES]=Teclado virtual
Name[es_MX]=Teclado virtual
Name[es_NI]=Teclado virtual
Name[es_PA]=Teclado virtual
Name[es_PE]=Teclado virtual
Name[es_PR]=Teclado virtual
Name[es_SV]=Teclado virtual
Name[es_UY]=Teclado virtual
Name[es_VE]=Teclado virtual
Name[et]=Virtuaalne klaviatuur
Name[et_EE]=Virtuaalne klaviatuur
Name[eu]=Teklatu birtuala
Name[fi]=Virtuaalinäppäimistö
Name[fi_FI]=Virtuaalinäppäimistö
Name[fr]=Clavier virtuel
Name[fr_CA]=Clavier virtuel
Name[fr_FR]=Clavier virtuel
Name[hr]=Virtualna tipkovnica
Name[hu]=Virtuális billentyűzet
Name[hu_HU]=Virtuális billentyűzet
Name[ia]=Claviero virtual
Name[id]=Keyboard virtual
Name[id_ID]=Keyboard virtual
Name[is]=Sýndarlyklaborð
Name[it]=Tastiera virtuale
Name[it_CH]=Tastiera virtuale
Name[kab]=Anasiw aḥlis
Name[ko]=가상 키보드
Name[ko_KR]=가상 키보드
Name[lt]=Virtuali klaviatūra
Name[lt_LT]=Virtuali klaviatūra
Name[nb]=Virtuelt tastatur
Name[nb_NO]=Virtuelt tastatur
Name[nl]=Virtueel toetsenbord
Name[nl_NL]=Virtueel toetsenbord
Name[pl]=Klawiatura wirtualna
Name[pl_PL]=Klawiatura wirtualna
Name[pt]=Teclado virtual
Name[pt_BR]=Teclado virtual
Name[pt_PT]=Teclado virtual
Name[ro]=Tastatură virtuală
Name[ro_RO]=Tastatură virtuală
Name[ru]=Виртуальная клавиатура
Name[sc]=Tastiera virtuale
Name[sk]=Virtuálna klávesnica
Name[sk_SK]=Virtuálna klávesnica
Name[sq]=Tastiera virtuale
Name[sr]=Виртуелна тастатура
Name[sr@Latn]=Виртуелна тастатура
Name[sr@ije]=Виртуелна тастатура
Name[sr@ijekavianlatin]=Виртуелна тастатура
Name[sr@latin]=Виртуелна тастатура
Name[sr_RS]=Виртуелна тастатура
Name[sr_RS@latin]=Виртуелна тастатура
Name[sv]=Virtuellt tangentbord
Name[ta]=திரைப்பலகை
Name[ta_LK]=திரைப்பலகை
Name[th]=แป้นพิมพ์เสมือนจริง
Name[th_TH]=แป้นพิมพ์เสมือนจริง
Name[tr]=Sanal klavye
Name[tr_TR]=Sanal klavye
Name[uk]=Віртуальна клавіатура
Name[uk_UA]=Віртуальна клавіатура
Name[ur]=ورچول کیی بورڈ
Name[ur_PK]=ورچول کیی بورڈ
Name[uz]=Виртуал клавиатура
Name[uz@cyrillic]=Виртуал клавиатура
Name[zh_CN]=虚拟键盘
Name[zh_HK]=虛擬鍵盤
Name[zh_TW]=虛擬鍵盤
Comment=Turn on-screen keyboard on or off
Comment[am]=የመመልከቻውን ፊደል ገበታ ማብሪያ ወይንም ማጥፊያ
Comment[ar]=شغّل أو عطّل لوحة مفاتيح الشاشة
Comment[ast]=Prender o apagar la pantalla del tecláu
Comment[be]=Уключыць/выключыць экранную клавіятуру
Comment[be@latin]=Уключыць/выключыць экранную клавіятуру
Comment[be_BY]=Уключыць/выключыць экранную клавіятуру
Comment[bg]=Включване или изключване на екранната клавиатура
Comment[bg_BG]=Включване или изключване на екранната клавиатура
Comment[bs]=Uključi/isključi ekransku tastaturu
Comment[ca]=Activa o desactiva el teclat a la pantalla
Comment[ca@valencia]=Activa o desactiva el teclat en pantalla
Comment[ca_ES]=Activa o desactiva el teclat a la pantalla
Comment[ca_ES@valencia]=Activa o desactiva el teclat en pantalla
Comment[cs]=Zapnout nebo vypnout klávesnici na obrazovce
Comment[cs_CZ]=Zapnout nebo vypnout klávesnici na obrazovce
Comment[cy]=Cychwyn neu ddiffodd y bysellfwrdd ar sgrin
Comment[da]=Slå skærmtastatur til/fra
Comment[da_DK]=Slå skærmtastatur til/fra
Comment[de]=Bildschirmtastatur ein-/ausschalten
Comment[de@hebrew]=Bildschirmtastatur ein-/ausschalten
Comment[de_CH]=Bildschirmtastatur ein-/ausschalten
Comment[de_DE]=Bildschirmtastatur ein-/ausschalten
Comment[el]=Εναλλαγή λειτουργίας πληκτρολογίου οθόνης
Comment[eo]=En- aŭ elŝalti la ekranklavaron
Comment[es]=Activar o no el teclado en pantalla
Comment[es_AR]=Activar o no el teclado en pantalla
Comment[es_CL]=Activar o no el teclado en pantalla
Comment[es_CO]=Activar o no el teclado en pantalla
Comment[es_CR]=Activar o no el teclado en pantalla
Comment[es_DO]=Activar o no el teclado en pantalla
Comment[es_EC]=Activar o no el teclado en pantalla
Comment[es_ES]=Activar o no el teclado en pantalla
Comment[es_MX]=Activar o no el teclado en pantalla
Comment[es_NI]=Activar o no el teclado en pantalla
Comment[es_PA]=Activar o no el teclado en pantalla
Comment[es_PE]=Activar o no el teclado en pantalla
Comment[es_PR]=Activar o no el teclado en pantalla
Comment[es_SV]=Activar o no el teclado en pantalla
Comment[es_UY]=Activar o no el teclado en pantalla
Comment[es_VE]=Activar o no el teclado en pantalla
Comment[et]=Ekraaniklaviatuuri sisse või välja lülitamine
Comment[et_EE]=Ekraaniklaviatuuri sisse või välja lülitamine
Comment[eu]=Aktibatu edo desaktibatu pantailako teklatua
Comment[fi]=Näyttönäppäimistö päälle/pois
Comment[fi_FI]=Näyttönäppäimistö päälle/pois
Comment[fr]=Activer ou désactiver le clavier visuel
Comment[fr_CA]=Activer ou désactiver le clavier visuel
Comment[fr_FR]=Activer ou désactiver le clavier visuel
Comment[ga]=Cas air nó as méarchlár scáileáin
Comment[gd]=Cuir am meur-chlàr air an sgrìn air no dheth
Comment[gl]=Activar ou desactivar o teclado en pantalla
Comment[gl_ES]=Activar ou desactivar o teclado en pantalla
Comment[hr]=Uključi/Isključi zaslonsku tipkovnicu
Comment[hu]=Képernyő-billentyűzet be- vagy kikapcsolása
Comment[hu_HU]=Képernyő-billentyűzet be- vagy kikapcsolása
Comment[ia]=Activar o stoppar le claviero sur-le-schermo
Comment[id]=Menyalakan atau mematikan papan tik di layar
Comment[id_ID]=Menyalakan atau mematikan papan tik di layar
Comment[is]=Skjályklaborð af eða á
Comment[it]=Attiva o disattiva la tastiera sullo schermo
Comment[it_CH]=Attiva o disattiva la tastiera sullo schermo
Comment[kab]=Rmed neɣ ssens anasiw amwalan
Comment[ko]=화상 키보드 켜고 끄기
Comment[ko_KR]=화상 키보드 켜고 끄기
Comment[lt]=Įjungti arba išjungti ekraninę klaviatūrą
Comment[lt_LT]=Įjungti arba išjungti ekraninę klaviatūrą
Comment[lv]=Ieslēgt vai izslēgt ekrāna tastatūru
Comment[lv_LV]=Ieslēgt vai izslēgt ekrāna tastatūru
Comment[ms]=Hidup atau matikan papan kekunci skrin
Comment[ms_MY]=Hidup atau matikan papan kekunci skrin
Comment[nb]=Slå av/på skjermtastatur
Comment[nb_NO]=Slå av/på skjermtastatur
Comment[nds]=Bildschirmtastatur ein- oder ausschalten
Comment[nl]=Schermtoetsenbord in- of uitschakelen
Comment[nl_NL]=Schermtoetsenbord in- of uitschakelen
Comment[oc]=Activar o desactivar lo clavièr visual
Comment[om]=Furtuu gabatee argiirratii bantuufi cuftuu
Comment[pa]=ਆਨ-ਸਕਰੀਨ ਕੀਬੋਰਡ ਚਾਲੂ ਜਾਂ ਬੰਦ ਕਰੋ
Comment[pl]=Włącz/Wyłącz klawiaturę ekranową
Comment[pl_PL]=Włącz/Wyłącz klawiaturę ekranową
Comment[pt]=Ativar ou desativar teclado no ecrã
Comment[pt_BR]=Ativar ou desativar o teclado virtual
Comment[pt_PT]=Ativar ou desativar teclado no ecrã
Comment[ro]=Activează  sau dezactivează tastatura pe ecran
Comment[ro_RO]=Activează  sau dezactivează tastatura pe ecran
Comment[ru]=Включить или выключить экранную клавиатуру
Comment[sk]=Zapnúť alebo vypnúť klávesnicu na obrazovke
Comment[sk_SK]=Zapnúť alebo vypnúť klávesnicu na obrazovke
Comment[sl]=Omogoči ali onemogoči zaslonsko tipkovnico
Comment[sl_SI]=Omogoči ali onemogoči zaslonsko tipkovnico
Comment[sq]=Aktivizo ose çaktivizo tastierën në ekran
Comment[sr]=Укључи/искључи тастатуру на екрану
Comment[sr@Latn]=Укључи/искључи тастатуру на екрану
Comment[sr@ije]=Укључи/искључи тастатуру на екрану
Comment[sr@ijekavianlatin]=Укључи/искључи тастатуру на екрану
Comment[sr@latin]=Укључи/искључи тастатуру на екрану
Comment[sr_RS]=Укључи/искључи тастатуру на екрану
Comment[sr_RS@latin]=Укључи/искључи тастатуру на екрану
Comment[sv]=Aktivera eller inaktivera skärmtangentbord
Comment[ta]=திரைப்பலகை ஆன் அல்லது ஆஃப் செய்
Comment[ta_LK]=திரைப்பலகை ஆன் அல்லது ஆஃப் செய்
Comment[tg]=Хомӯш ё фаъол кардани клавиатураи экранӣ
Comment[th]=เปิดหรือปิดแป้นพิมพ์บนจอ
Comment[th_TH]=เปิดหรือปิดแป้นพิมพ์บนจอ
Comment[tr]=Ekran klavyesini aç ya da kapat
Comment[tr_TR]=Ekran klavyesini aç ya da kapat
Comment[uk]=Увімкнути або вимкнути екранну набірницю
Comment[uk_UA]=Увімкнути або вимкнути екранну набірницю
Comment[ur]=سکرین کیبورڈ چالو یا بند کریں
Comment[ur_PK]=سکرین کیبورڈ چالو یا بند کریں
Comment[uz]=Экран клавиатурасини ёқиш ёки ўчириш
Comment[uz@cyrillic]=Экран клавиатурасини ёқиш ёки ўчириш
Comment[vi]=Bật tắt bàn phím màn hình
Comment[vi_VN]=Bật tắt bàn phím màn hình
Comment[zh_CN]=开关屏幕键盘
Comment[zh_HK]=開啟或關閉熒幕鍵盤
Comment[zh_TW]=開啟或關閉螢幕鍵盤
