[Desktop Entry]
Icon=cs-notifications
Exec=cinnamon-settings notifications
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Notifications
Name[af]=Kennisgewings
Name[am]=ማስታወቂያዎች
Name[ar]=الإشعارات
Name[ast]=Notificaciones
Name[az]=Bildirişlər
Name[be]=Паведамленні
Name[be@latin]=Паведамленні
Name[bg]=Известявания
Name[bg_BG]=Известявания
Name[bn]=বিজ্ঞপ্তিসমূহ
Name[bn_IN]=বিজ্ঞপ্তিসমূহ
Name[bs]=Obavještenja
Name[ca]=Notificacions
Name[ca@valencia]=Notificacions
Name[ca_ES@valencia]=Notificacions
Name[crh]=bildirimler
Name[cs]=Oznámení
Name[cs_CZ]=Oznámení
Name[cy]=Hysbysiadau
Name[da]=Meddelelser
Name[da_DK]=Meddelelser
Name[de]=Meldungen
Name[de_CH]=Meldungen
Name[de_DE]=Meldungen
Name[el]=Ειδοποιήσεις
Name[eo]=Atentigoj
Name[es]=Notificaciones
Name[es_419]=Notificaciones
Name[es_AR]=Notificaciones
Name[es_CL]=Notificaciones
Name[es_CO]=Notificaciones
Name[es_CR]=Notificaciones
Name[es_DO]=Notificaciones
Name[es_EC]=Notificaciones
Name[es_ES]=Notificaciones
Name[es_GT]=Notificaciones
Name[es_HN]=Notificaciones
Name[es_MX]=Notificaciones
Name[es_NI]=Notificaciones
Name[es_PA]=Notificaciones
Name[es_PE]=Notificaciones
Name[es_PR]=Notificaciones
Name[es_SV]=Notificaciones
Name[es_US]=Notificaciones
Name[es_UY]=Notificaciones
Name[es_VE]=Notificaciones
Name[et]=Teavitused
Name[eu]=Jakinarazpenak
Name[fa]=هشدارها
Name[fa_AF]=هشدارها
Name[fa_IR]=هشدارها
Name[fi]=Ilmoitukset
Name[fi_FI]=Ilmoitukset
Name[fil]=Mga Abiso
Name[fr_CA]=Avis
Name[fy]=Notifikaasjes
Name[ga]=Fógraí
Name[gd]=Brathan
Name[gl]=Notificacións
Name[gl_ES]=Notificacións
Name[he]=התרעות
Name[he_IL]=התרעות
Name[hr]=Obavijesti
Name[hu]=Értesítések
Name[hu_HU]=Értesítések
Name[hy]=Ծանուցումներ
Name[ia]=Notificationes
Name[id]=Pemberitahuan
Name[id_ID]=Pemberitahuan
Name[is]=Tilkynningar
Name[it]=Notifiche
Name[ja]=通知メッセージ
Name[ja_JP]=通知メッセージ
Name[kk]=Мәлімдемелер
Name[km]=ការ​ជូនដំណឹង​
Name[km_KH]=ការ​ជូនដំណឹង​
Name[ko]=알림
Name[ko_KR]=알림
Name[lo]=ການແຈ້ງເຕືອນ
Name[lo_LA]=ການແຈ້ງເຕືອນ
Name[lt]=Pranešimai
Name[lt_LT]=Pranešimai
Name[lv]=Paziņojumi
Name[lv_LV]=Paziņojumi
Name[ml]=അറിയിപ്പുകൾ
Name[mr]=सूचना
Name[ms]=Pemberitahuan
Name[ms_MY]=Pemberitahuan
Name[nb]=Varslinger
Name[nb_NO]=Varslinger
Name[nds]=Benachrichtigungen
Name[ne]=सूचना
Name[nl]=Meldingen
Name[nl_NL]=Meldingen
Name[oc]=Notificacions
Name[pa]=ਸੂਚਨਾਵਾਂ
Name[pl]=Powiadomienia
Name[pl_PL]=Powiadomienia
Name[pt]=Notificações
Name[pt_BR]=Notificações
Name[pt_PT]=Notificações
Name[ro]=Notificări
Name[ro_RO]=Notificări
Name[ru]=Уведомления
Name[sc]=Notìficas
Name[sk]=Oznámenia
Name[sk_SK]=Oznámenia
Name[sl]=Obvestila
Name[sl_SI]=Obvestila
Name[sq]=Njoftimet
Name[sr]=Обавештења
Name[sr@Latn]=Obaveštenja
Name[sr@ije]=Обавештења
Name[sr@ijekavian]=Обавештења
Name[sr@ijekavianlatin]=Обавештења
Name[sr@latin]=Obaveštenja
Name[sv]=Notiser
Name[sw]=Taarifa
Name[ta]=அறிவிப்புகள்
Name[ta_LK]=அறிவிப்புகள்
Name[te]=గమనింపులు
Name[tg]=Огоҳиҳо
Name[th]=การแจ้งเตือน
Name[th_TH]=การแจ้งเตือน
Name[tl]=Mga Abiso
Name[tr]=Bildirimler
Name[tt]=Хәбәр итү
Name[tt@iqtelif]=Хәбәр итү
Name[uk]=Сповіщення
Name[uk_UA]=Сповіщення
Name[ur]=اطلاعات
Name[ur_PK]=اطلاعات
Name[uz]=Эслатмалар
Name[uz@cyrillic]=Эслатмалар
Name[vi]=Thông báo
Name[vi_VN]=Thông báo
Name[xh]=Izaziso
Name[zh]=通知
Name[zh_CN]=通知
Name[zh_HK]=通知
Name[zh_TW]=通知
Comment=Notification preferences
Comment[am]=የ ማስታወቂያ ምርጫዎች
Comment[ar]=تفضيلات التنبيهات
Comment[ast]=Preferencies de les notificaciones
Comment[bg]=Настройки за известяване
Comment[bg_BG]=Настройки за известяване
Comment[ca]=Preferències de notificació
Comment[ca@valencia]=Preferències de notificació
Comment[ca_ES@valencia]=Preferències de notificació
Comment[cs]=Nastavení notifikací
Comment[cs_CZ]=Nastavení notifikací
Comment[cy]=Dewisiadau hysbysiad
Comment[da]=Indstillinger for meddelelser
Comment[da_DK]=Indstillinger for meddelelser
Comment[de]=Benachrichtigungseinstellungen
Comment[de_CH]=Benachrichtigungseinstellungen
Comment[de_DE]=Benachrichtigungseinstellungen
Comment[el]=Προτιμήσεις ειδοποιήσεων
Comment[es]=Preferencias de notificación
Comment[es_419]=Preferencias de notificación
Comment[es_AR]=Preferencias de notificación
Comment[es_CL]=Preferencias de notificación
Comment[es_CO]=Preferencias de notificación
Comment[es_CR]=Preferencias de notificación
Comment[es_DO]=Preferencias de notificación
Comment[es_EC]=Preferencias de notificación
Comment[es_ES]=Preferencias de notificación
Comment[es_GT]=Preferencias de notificación
Comment[es_HN]=Preferencias de notificación
Comment[es_MX]=Preferencias de notificación
Comment[es_NI]=Preferencias de notificación
Comment[es_PA]=Preferencias de notificación
Comment[es_PE]=Preferencias de notificación
Comment[es_PR]=Preferencias de notificación
Comment[es_SV]=Preferencias de notificación
Comment[es_US]=Preferencias de notificación
Comment[es_UY]=Preferencias de notificación
Comment[es_VE]=Preferencias de notificación
Comment[eu]=Jakinerazpenen hobespenak
Comment[fi]=Ilmoitusten asetukset
Comment[fi_FI]=Ilmoitusten asetukset
Comment[fr]=Préférences des notifications
Comment[fr_CA]=Préférences des notifications
Comment[gd]=Roghainnean nam brathan
Comment[gl]=Preferencias da notificación
Comment[gl_ES]=Preferencias da notificación
Comment[hr]=Osobitosti obavijesti
Comment[hu]=Értesítések beállításai
Comment[hu_HU]=Értesítések beállításai
Comment[ia]=Preferentias de notification
Comment[id]=Preferensi notifikasi
Comment[id_ID]=Preferensi notifikasi
Comment[is]=Valkostir kerfistilkynninga
Comment[it]=Preferenze di notifica
Comment[ja]=通知設定
Comment[ja_JP]=通知設定
Comment[ko]=알림 설정
Comment[ko_KR]=알림 설정
Comment[lt]=Pranešimų nuostatos
Comment[lt_LT]=Pranešimų nuostatos
Comment[ms]=Tetapan notifikasi
Comment[ms_MY]=Tetapan notifikasi
Comment[nb]=Varslingsinnstillinger
Comment[nb_NO]=Varslingsinnstillinger
Comment[nds]=Benachrichtigungseinstellungen
Comment[nl]=Meldingsvoorkeuren
Comment[nl_NL]=Meldingsvoorkeuren
Comment[pl]=Preferencje powiadamiania
Comment[pl_PL]=Preferencje powiadamiania
Comment[pt]=Preferências de notificação
Comment[pt_BR]=Preferências de notificação
Comment[pt_PT]=Preferências de notificação
Comment[ro]=Preferințe notificări
Comment[ro_RO]=Preferințe notificări
Comment[ru]=Настройки уведомлений
Comment[sk]=Predvoľby oznámení
Comment[sk_SK]=Predvoľby oznámení
Comment[sl]=Možnosti obvestil
Comment[sl_SI]=Možnosti obvestil
Comment[sq]=Parapëlqimet e njoftimeve
Comment[sr]=Поставке обавештења
Comment[sr@Latn]=Поставке обавештења
Comment[sr@ije]=Поставке обавештења
Comment[sr@ijekavian]=Поставке обавештења
Comment[sr@ijekavianlatin]=Поставке обавештења
Comment[sr@latin]=Поставке обавештења
Comment[sv]=Inställningar för Notiser
Comment[th]=ตั้งค่าการแจ้งเตือน
Comment[th_TH]=ตั้งค่าการแจ้งเตือน
Comment[tr]=Bildirim tercihleri
Comment[uk]=Налаштування сповіщень
Comment[uk_UA]=Налаштування сповіщень
Comment[ur]=اطلاعیہ ترجیحات
Comment[ur_PK]=اطلاعیہ ترجیحات
Comment[vi]=Tùy thích thông báo
Comment[vi_VN]=Tùy thích thông báo
Comment[zh]=通知设置
Comment[zh_CN]=通知设置
Comment[zh_HK]=通知喜好設定
Comment[zh_TW]=通知偏好設定
Keywords=notifications;
Keywords[am]=ማስታወቂያዎች;
Keywords[ar]=التنبيهات;
Keywords[ast]=notificaciones;
Keywords[bg]=известяване;
Keywords[bg_BG]=известяване;
Keywords[ca]=notificacions;
Keywords[ca@valencia]=notificacions;
Keywords[ca_ES@valencia]=notificacions;
Keywords[cs]=upozornění;
Keywords[cs_CZ]=upozornění;
Keywords[cy]=hysbysiadau;
Keywords[da]=meddelelser;
Keywords[da_DK]=meddelelser;
Keywords[de]=Benachrichtigungen;
Keywords[de_CH]=Benachrichtigungen;
Keywords[de_DE]=Benachrichtigungen;
Keywords[el]=ειδοποιήσεις;
Keywords[es]=notificaciones;
Keywords[es_419]=notificaciones;
Keywords[es_AR]=notificaciones;
Keywords[es_CL]=notificaciones;
Keywords[es_CO]=notificaciones;
Keywords[es_CR]=notificaciones;
Keywords[es_DO]=notificaciones;
Keywords[es_EC]=notificaciones;
Keywords[es_ES]=notificaciones;
Keywords[es_GT]=notificaciones;
Keywords[es_HN]=notificaciones;
Keywords[es_MX]=notificaciones;
Keywords[es_NI]=notificaciones;
Keywords[es_PA]=notificaciones;
Keywords[es_PE]=notificaciones;
Keywords[es_PR]=notificaciones;
Keywords[es_SV]=notificaciones;
Keywords[es_US]=notificaciones;
Keywords[es_UY]=notificaciones;
Keywords[es_VE]=notificaciones;
Keywords[eu]=jakinarazpenak;
Keywords[fi]=ilmoitukset;
Keywords[fi_FI]=ilmoitukset;
Keywords[gd]=brathan;
Keywords[gl]=notificacións;
Keywords[gl_ES]=notificacións;
Keywords[hr]=obavijesti;
Keywords[hu]=értesítések;
Keywords[hu_HU]=értesítések;
Keywords[ia]=notificationes;
Keywords[id]=notifikasi;
Keywords[id_ID]=notifikasi;
Keywords[is]=tilkynningar;
Keywords[it]=notifiche;
Keywords[ja]=通知;
Keywords[ja_JP]=通知;
Keywords[ko]=알림;
Keywords[ko_KR]=알림;
Keywords[lt]=pranešimai;
Keywords[lt_LT]=pranešimai;
Keywords[ms]=notifikasi;
Keywords[ms_MY]=notifikasi;
Keywords[nb]=varslinger;
Keywords[nb_NO]=varslinger;
Keywords[nds]=Benachrichtigungen;
Keywords[nl]=meldingen;
Keywords[nl_NL]=meldingen;
Keywords[pl]=powiadomienia;
Keywords[pl_PL]=powiadomienia;
Keywords[pt]=notificações;
Keywords[pt_BR]=notificações;
Keywords[pt_PT]=notificações;
Keywords[ro]=notificări;
Keywords[ro_RO]=notificări;
Keywords[ru]=уведомления;
Keywords[sk]=oznámenia;
Keywords[sk_SK]=oznámenia;
Keywords[sl]=obvestila;
Keywords[sl_SI]=obvestila;
Keywords[sr]=обавештења;
Keywords[sr@Latn]=обавештења;
Keywords[sr@ije]=обавештења;
Keywords[sr@ijekavian]=обавештења;
Keywords[sr@ijekavianlatin]=обавештења;
Keywords[sr@latin]=обавештења;
Keywords[sv]=notiser;
Keywords[th]=การแจ้งเตือน;
Keywords[th_TH]=การแจ้งเตือน;
Keywords[tr]=bildirimler;
Keywords[uk]=сповіщення;
Keywords[uk_UA]=сповіщення;
Keywords[ur]=اطلاعات;
Keywords[ur_PK]=اطلاعات;
Keywords[vi]=thông báo;
Keywords[vi_VN]=thông báo;
Keywords[zh]=通知;
Keywords[zh_CN]=通知;
Keywords[zh_HK]=通知;
Keywords[zh_TW]=通知;
