[Desktop Entry]
Name=Cinnamon Menu Editor
Comment=Edit the entries of the Cinnamon menu applet
Exec=cinnamon-menu-editor
Icon=alacarte
OnlyShowIn=X-Cinnamon;
Terminal=false
Type=Application
NoDisplay=true
Categories=GNOME;GTK;Settings;DesktopSettings;
StartupNotify=false
