[Desktop Entry]
Name=Themes
Comment=Manage themes to change how your desktop looks
Icon=cs-themes
Exec=cinnamon-settings themes
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name[gd]=Tèamaichean
Name[ga]=Téamaí
Name[gl]=Temas
Name[tr]=Temalar
Name[ts]=Nkongomelo
Name[li]=Thema's
Name[lv]=Motīvi
Name[lt]=Apipavidalinimai
Name[te]=అలంకారాలు
Name[ta]=தீம்கள்
Name[zh_HK]=主題
Name[pt_BR]=Temas
Name[de]=Themen
Name[da]=Temaer
Name[zh_CN]=主题
Name[el]=Θέματα
Name[eo]=Etosoj
Name[eu]=Gaiak
Name[et]=Teemad
Name[es]=Temas
Name[ru]=Темы
Name[ro]=Teme
Name[bn]=থিমসমূহ
Name[be]=Тэмы
Name[bg]=Теми
Name[ms]=Tema
Name[sr@latin]=Teme
Name[rue]=Теми
Name[bs]=Teme
Name[ja]=テーマ
Name[om]=Bifoota
Name[nds]=Themen
Name[ca]=Temes
Name[cy]=Themâu
Name[cs]=Motivy
Name[pt]=Temas
Name[pa]=ਥੀਮ
Name[pl]=Motywy
Name[hr]=Teme
Name[zh_TW]=佈景主題
Name[hu]=Témák
Name[en_AU]=Themes
Name[he]=ערכות
Name[ml]=രംഗവിധാനങ്ങൾ
Name[en_GB]=Themes
Name[uk]=Теми
Name[mr]=थीम्स
Name[af]=Temas
Name[vi]=Giao diện
Name[is]=Þemu
Name[am]=ገፅታዎች
Name[it]=Temi
Name[ar]=السِمات
Name[id]=Tema
Name[nl]=Thema's
Name[nn]=Drakter
Name[nb]=Temaer
Name[ne]=थेमहरु
Name[csb]=Mòtiwë
Name[fr]=Thèmes
Name[fa]=قالب‌ها
Name[fi]=Teemat
Name[fr_CA]=Thèmes
Name[sr]=Теме
Name[sq]=Temat
Name[ko]=테마
Name[sv]=Teman
Name[km]=ស្បែក
Name[sk]=Motívy vzhľadu
Name[si]=තේමාවන්
Name[so]=Siimyadda
Name[sl]=Teme
