[Desktop Entry]
Icon=cs-screensaver
Exec=cinnamon-settings screensaver
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Screen Locker
Name[am]=መመልከቻውን መቆለፊያ
Name[ar]=قفل الشاشة
Name[ast]=Bloquiador de pantalla
Name[be]=Блакіроўшчык экрана
Name[be@latin]=Блакіроўшчык экрана
Name[bg]=Заключване на екрана
Name[bg_BG]=Заключване на екрана
Name[bs]=Zaključavanje ekrana
Name[ca]=Blocador de pantalla
Name[ca@valencia]=Blocador de pantalla
Name[ca_ES@valencia]=Blocador de pantalla
Name[cs]=Zámek obrazovky
Name[cs_CZ]=Zámek obrazovky
Name[cy]=Clo Sgrin
Name[da]=Skærmlås
Name[da_DK]=Skærmlås
Name[de]=Bildschirmsperre
Name[de_DE]=Bildschirmsperre
Name[el]=Κλείδωμα Ονόνης
Name[es]=Bloqueador de pantalla
Name[es_AR]=Bloqueador de pantalla
Name[eu]=Pantaila-blokeatzailea
Name[eu_ES]=Pantaila-blokeatzailea
Name[fi]=Näytön lukitus
Name[fi_FI]=Näytön lukitus
Name[fr]=Écran de verrouillage
Name[fr_CA]=Écran de verrouillage
Name[gl]=Bloqueo da pantalla
Name[gl_ES]=Bloqueo da pantalla
Name[hr]=Zaključavanje zaslona
Name[hu]=Képernyő zároló
Name[hu_HU]=Képernyő zároló
Name[id]=Pengunci Layar
Name[id_ID]=Pengunci Layar
Name[is]=Skjálæsing
Name[it]=Blocca schermo
Name[ja]=スクリーンロック
Name[ja_JP]=スクリーンロック
Name[ko]=화면잠금
Name[ko_KR]=화면잠금
Name[lt]=Ekrano užrakinimas
Name[lt_LT]=Ekrano užrakinimas
Name[ms]=Loker skrin
Name[nl]=Schermvergrendeling
Name[nl_NL]=Schermvergrendeling
Name[pl]=Blokada ekranu
Name[pl_PL]=Blokada ekranu
Name[pt]=Bloqueador de Ecrã
Name[pt_BR]=Bloqueador de Tela
Name[pt_PT]=Bloqueador de Ecrã
Name[ro]=Încuiere ecran
Name[ro_RO]=Încuiere ecran
Name[ru]=Блокировка экрана
Name[sk]=Uzamykateľ obrazovky
Name[sk_SK]=Uzamykateľ obrazovky
Name[sl]=Zaklepnik zaslona
Name[sl_SI]=Zaklepnik zaslona
Name[sr]=Закључавање екрана
Name[sr@Latn]=Закључавање екрана
Name[sr@ije]=Закључавање екрана
Name[sr@ijekavianlatin]=Закључавање екрана
Name[sr@latin]=Закључавање екрана
Name[sv]=Skärmlåsning
Name[th]=โปรแกรมล็อกหน้าจอ
Name[th_TH]=โปรแกรมล็อกหน้าจอ
Name[tr]=Ekran Kilitleyici
Name[uk]=Блокування екрану
Name[uk_UA]=Блокування екрану
Name[vi]=Bộ khoá Màn hình
Name[vi_VN]=Bộ khoá Màn hình
Name[zh_CN]=锁屏
Name[zh_HK]=螢幕鎖定器
Name[zh_TW]=螢幕鎖定器
Comment=Manage screen lock settings
Comment[am]=የመመልከቻ መቆለፊያ ማሰናጃ አስተዳዳሪ
Comment[ar]=إدارة إعدادات قفل الشاشة
Comment[ast]=Axustes del alministrador de bloquéu de pantalla
Comment[be]=Кіраванне параметрамі блакiравання экрана
Comment[be@latin]=Кіраванне параметрамі блакiравання экрана
Comment[bg]=Управление на настройките за заключване на екрана
Comment[bg_BG]=Управление на настройките за заключване на екрана
Comment[bs]=Upravljaj postavkama zaključavanja ekrana
Comment[ca]=Configurar bloqueig de pantalla
Comment[ca@valencia]=Configurar bloqueig de pantalla
Comment[ca_ES@valencia]=Configurar bloqueig de pantalla
Comment[cs]=Nastavení zamykací obrazovky
Comment[cs_CZ]=Nastavení zamykací obrazovky
Comment[cy]=Rheoli gosodiadau cloi'r sgrin
Comment[da]=Administrér skærmlåsindstillinger
Comment[da_DK]=Administrér skærmlåsindstillinger
Comment[de]=Einstellungen der Bildschirmsperre verwalten
Comment[de_DE]=Einstellungen der Bildschirmsperre verwalten
Comment[el]=Διαχείριση ρυθμίσεων κλειδώματος οθόνης
Comment[es]=Configurar bloqueo de pantalla
Comment[es_AR]=Configurar bloqueo de pantalla
Comment[eu]=Kudeatu pantaila blokeatzearen ezarpenak
Comment[eu_ES]=Kudeatu pantaila blokeatzearen ezarpenak
Comment[fi]=Muokkaa näytön lukituksen asetuksia
Comment[fi_FI]=Muokkaa näytön lukituksen asetuksia
Comment[fr]=Gérer les paramètres de verrouillage d'écran
Comment[fr_CA]=Gérer les paramètres de verrouillage d'écran
Comment[gl]=Administra os axustes do bloqueo de pantalla
Comment[gl_ES]=Administra os axustes do bloqueo de pantalla
Comment[hr]=Upravljajte postavkama zaključavanja zaslona
Comment[hu]=Képernyőzárolás beállítások kezelése
Comment[hu_HU]=Képernyőzárolás beállítások kezelése
Comment[id]=Mengatur setelan kunci layar
Comment[id_ID]=Mengatur setelan kunci layar
Comment[is]=Sýsla með stillingar skjálæsingar
Comment[it]=Gestisci impostazioni di blocco dello schermo
Comment[ja]=スクリーンロック管理の設定
Comment[ja_JP]=スクリーンロック管理の設定
Comment[ko]=화면잠금 설정
Comment[ko_KR]=화면잠금 설정
Comment[lt]=Tvarkyti ekrano užrakto nustatymus
Comment[lt_LT]=Tvarkyti ekrano užrakto nustatymus
Comment[lv]=Pārvaldīt ekrāna bloķēšanas uzstādījumus
Comment[lv_LV]=Pārvaldīt ekrāna bloķēšanas uzstādījumus
Comment[ms]=Mengurus tetapan kunci skrin
Comment[nl]=Instellingen voor schermvergrendeling beheren
Comment[nl_NL]=Instellingen voor schermvergrendeling beheren
Comment[pl]=Zarządzaj ustawieniami blokady ekranu
Comment[pl_PL]=Zarządzaj ustawieniami blokady ekranu
Comment[pt]=Gerir definições de bloqueio de ecrã
Comment[pt_BR]=Gerenciar configurações de bloqueio de tela
Comment[pt_PT]=Gerir definições de bloqueio de ecrã
Comment[ro]=Gestionează încuierea ecranului
Comment[ro_RO]=Gestionează încuierea ecranului
Comment[ru]=Настройка блокировки экрана
Comment[sk]=Spravovať nastavenia uzamykania obrazovky
Comment[sk_SK]=Spravovať nastavenia uzamykania obrazovky
Comment[sl]=Upravljajte z nastavitvami zaklepa zaslona
Comment[sl_SI]=Upravljajte z nastavitvami zaklepa zaslona
Comment[sr]=Управљање поставкама закључавања екрана
Comment[sr@Latn]=Управљање поставкама закључавања екрана
Comment[sr@ije]=Управљање поставкама закључавања екрана
Comment[sr@ijekavianlatin]=Управљање поставкама закључавања екрана
Comment[sr@latin]=Управљање поставкама закључавања екрана
Comment[sv]=Hantera skärmlåsinställningar
Comment[tg]=Идоракунии танзимоти қулфи экран
Comment[th]=จัดการการตั้งค่าการล็อกหน้าจอ
Comment[th_TH]=จัดการการตั้งค่าการล็อกหน้าจอ
Comment[tr]=Ekran kilidi seçeneklerini yönet
Comment[uk]=Керування налаштуваннями блокування екрану
Comment[uk_UA]=Керування налаштуваннями блокування екрану
Comment[vi]=QUản lý thiết đặt khoá màn hình
Comment[vi_VN]=QUản lý thiết đặt khoá màn hình
Comment[zh_CN]=管理锁屏设置
Comment[zh_HK]=管理螢幕鎖定設定
Comment[zh_TW]=管理螢幕鎖定設定
