[Desktop Entry]
Icon=cs-overview
Exec=cinnamon-settings hotcorner
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Hot Corners
Name[ar]=أركان ساخنة
Name[be]=Гарачы Кут
Name[be@latin]=Гарачы Кут
Name[bg]=Активни ъгли
Name[bg_BG]=Активни ъгли
Name[bs]=Uglovi ekrana
Name[ca]=Cantonades actives
Name[ca@valencia]=Cantons actius
Name[ca_ES@valencia]=Cantons actius
Name[cs]=Aktivní rohy
Name[cs_CZ]=Aktivní rohy
Name[cy]=Corneli Poeth
Name[da]=Aktive hjørner
Name[da_DK]=Aktive hjørner
Name[de]=Aktive Ecken
Name[de_DE]=Aktive Ecken
Name[el]=Ενεργές γωνίες
Name[es]=Esquinas activas
Name[es_AR]=Esquinas activas
Name[es_CL]=Esquinas activas
Name[es_CO]=Esquinas activas
Name[es_CR]=Esquinas activas
Name[es_DO]=Esquinas activas
Name[es_EC]=Esquinas activas
Name[es_ES]=Esquinas activas
Name[es_GT]=Esquinas activas
Name[es_HN]=Esquinas activas
Name[es_MX]=Esquinas activas
Name[es_NI]=Esquinas activas
Name[es_PA]=Esquinas activas
Name[es_PE]=Esquinas activas
Name[es_PR]=Esquinas activas
Name[es_SV]=Esquinas activas
Name[es_UY]=Esquinas activas
Name[es_VE]=Esquinas activas
Name[et]=Abistavad nurgad
Name[et_EE]=Abistavad nurgad
Name[eu]=Izkina beroak
Name[eu_ES]=Izkina beroak
Name[fi]=Toimintokulmat
Name[fi_FI]=Toimintokulmat
Name[fr]=Coins intelligents
Name[fr_CA]=Coins intelligents
Name[fr_FR]=Coins intelligents
Name[ga]=Cúinní teo
Name[gd]=Oiseanan teth
Name[gl]=Cantos activos
Name[gl_ES]=Cantos activos
Name[hr]=Kutovi zaslona
Name[hu]=Érzékeny sarkok
Name[hu_HU]=Érzékeny sarkok
Name[id]=Pojok Interaktif
Name[id_ID]=Pojok Interaktif
Name[is]=Virk skjáhorn
Name[it]=Angoli attivi
Name[ja]=ホットコーナー
Name[ja_JP]=ホットコーナー
Name[ko]=핫코너
Name[ko_KR]=핫코너
Name[lt]=Karštieji kampai
Name[lt_LT]=Karštieji kampai
Name[lv]=Aktīvie stūri
Name[lv_LV]=Aktīvie stūri
Name[ms]=Bucu Panas
Name[nb]=Aktive hjørner
Name[nb_NO]=Aktive hjørner
Name[nds]=Schnellzugriffsecken
Name[nl]=Actieve hoeken
Name[nl_NL]=Actieve hoeken
Name[pl]=Aktywne narożniki
Name[pl_PL]=Aktywne narożniki
Name[pt]=Local de ativação
Name[pt_BR]=Cantos de atalho
Name[pt_PT]=Local de ativação
Name[ro]=Colțuri sensibile
Name[ro_RO]=Colțuri sensibile
Name[ru]=Горячие углы
Name[sk]=Aktívne rohy
Name[sk_SK]=Aktívne rohy
Name[sl]=Vroči koti
Name[sl_SI]=Vroči koti
Name[sq]=Këndet aktivë
Name[sr]=Вруће ивице
Name[sr@Latn]=Вруће ивице
Name[sr@ije]=Вруће ивице
Name[sr@ijekavianlatin]=Вруће ивице
Name[sr@latin]=Вруће ивице
Name[sr_RS]=Вруће ивице
Name[sv]=Aktiva hörn
Name[sv_SE]=Aktiva hörn
Name[tg]=Кунҷҳои тез
Name[th]=มุมที่น่าสนใจ
Name[th_TH]=มุมที่น่าสนใจ
Name[tr]=Etkin Köşeler
Name[uk]=Гарячі кути
Name[uk_UA]=Гарячі кути
Name[ur]=ہاٹ کونے
Name[ur_PK]=ہاٹ کونے
Name[vi]=Góc nóng
Name[vi_VN]=Góc nóng
Name[zh_CN]=热区
Name[zh_TW]=熱角
Comment=Manage hotcorner settings
Comment[ar]=إدارة إعدادات الركن الساخن
Comment[be]=Кіраванне наладамі гарачых кутоў
Comment[be@latin]=Кіраванне наладамі гарачых кутоў
Comment[bg]=Управление на настройките на активните ъгли
Comment[bg_BG]=Управление на настройките на активните ъгли
Comment[bs]=Upravljaj postavkama uglova ekrana
Comment[ca]=Administrar configuració de cantonades actives
Comment[ca@valencia]=Administra configuració de cantons actius
Comment[ca_ES@valencia]=Administra configuració de cantons actius
Comment[cs]=Nastavení horkých rohů
Comment[cs_CZ]=Nastavení horkých rohů
Comment[cy]=Rheolwch osodiadau y gornel boeth
Comment[da]=Administrér indstillinger for aktive hjørner
Comment[da_DK]=Administrér indstillinger for aktive hjørner
Comment[de]=Einstellungen der aktiven Ecken verwalten
Comment[de_DE]=Einstellungen der aktiven Ecken verwalten
Comment[el]=Ρυθμίστε τις ενεργές γωνίες
Comment[es]=Administrar configuración de esquinas activas
Comment[es_AR]=Administrar configuración de esquinas activas
Comment[es_CL]=Administrar configuración de esquinas activas
Comment[es_CO]=Administrar configuración de esquinas activas
Comment[es_CR]=Administrar configuración de esquinas activas
Comment[es_DO]=Administrar configuración de esquinas activas
Comment[es_EC]=Administrar configuración de esquinas activas
Comment[es_ES]=Administrar configuración de esquinas activas
Comment[es_GT]=Administrar configuración de esquinas activas
Comment[es_HN]=Administrar configuración de esquinas activas
Comment[es_MX]=Administrar configuración de esquinas activas
Comment[es_NI]=Administrar configuración de esquinas activas
Comment[es_PA]=Administrar configuración de esquinas activas
Comment[es_PE]=Administrar configuración de esquinas activas
Comment[es_PR]=Administrar configuración de esquinas activas
Comment[es_SV]=Administrar configuración de esquinas activas
Comment[es_UY]=Administrar configuración de esquinas activas
Comment[es_VE]=Administrar configuración de esquinas activas
Comment[eu]=Kudeatu izkina beroen ezarpenak
Comment[eu_ES]=Kudeatu izkina beroen ezarpenak
Comment[fi]=Muuta toimintonurkkien asetuksia
Comment[fi_FI]=Muuta toimintonurkkien asetuksia
Comment[fr]=Gérez les paramètres des coins intelligents
Comment[fr_CA]=Gérez les paramètres des coins intelligents
Comment[fr_FR]=Gérez les paramètres des coins intelligents
Comment[gd]=Stiùirich roghainnean a' hotcorner
Comment[gl]=Administra os axustes dos recantos activos
Comment[gl_ES]=Administra os axustes dos recantos activos
Comment[hr]=Upravljajte postavkama kutova zaslona
Comment[hu]=Érzékeny sarok beállítása
Comment[hu_HU]=Érzékeny sarok beállítása
Comment[id]=Atur Pengaturan hotcorner
Comment[id_ID]=Atur Pengaturan hotcorner
Comment[is]=Sýsla með stillingar fyrir virk skjáhorn
Comment[it]=Gestisci impostazioni degli angoli attivi
Comment[ko]=핫코너 설정 관리하기
Comment[ko_KR]=핫코너 설정 관리하기
Comment[lo]=ຈັດການການຕັ້ງຄ່າ hotcorner
Comment[lt]=Tvarkyti karštųjų kampų nustatymus
Comment[lt_LT]=Tvarkyti karštųjų kampų nustatymus
Comment[lv]=Pērvaldīt aktīvo stūru iestatījumus
Comment[lv_LV]=Pērvaldīt aktīvo stūru iestatījumus
Comment[ms]=Mengurus tetapan hotcorner
Comment[nb]=Håndter aktive hjørner-innstillinger
Comment[nb_NO]=Håndter aktive hjørner-innstillinger
Comment[nds]=Schnellzugriffsecken-Einstellungen bearbeiten
Comment[nl]=Instellingen voor actieve hoeken beheren
Comment[nl_NL]=Instellingen voor actieve hoeken beheren
Comment[pl]=Zarządzaj ustawieniami aktywnego narożnika
Comment[pl_PL]=Zarządzaj ustawieniami aktywnego narożnika
Comment[pt]=Gerir as definições dos cantos
Comment[pt_BR]=Gerenciar as definições dos cantos
Comment[pt_PT]=Gerir as definições dos cantos
Comment[ro]=Gestionează configurările colțurilor sensibile
Comment[ro_RO]=Gestionează configurările colțurilor sensibile
Comment[ru]=Управление настройками горячих углов
Comment[sk]=Spravovať nastavenia tzv. hotcornerov
Comment[sk_SK]=Spravovať nastavenia tzv. hotcornerov
Comment[sl]=Upravljajte z nastavitvami hitrih kotov
Comment[sl_SI]=Upravljajte z nastavitvami hitrih kotov
Comment[sq]=Menaxhoni parametrat e këndeve aktivë
Comment[sr]=Управљање поставкама врућих ивица
Comment[sr@Latn]=Управљање поставкама врућих ивица
Comment[sr@ije]=Управљање поставкама врућих ивица
Comment[sr@ijekavianlatin]=Управљање поставкама врућих ивица
Comment[sr@latin]=Управљање поставкама врућих ивица
Comment[sr_RS]=Управљање поставкама врућих ивица
Comment[sv]=Hantera inställningar för aktiva hörn
Comment[sv_SE]=Hantera inställningar för aktiva hörn
Comment[tg]=Идоракунии танзимоти кунҷи тезкор
Comment[th]=จัดการการตั้งค่ามุมร้อน
Comment[th_TH]=จัดการการตั้งค่ามุมร้อน
Comment[tr]=Etkin köşe ayarlarını yönet
Comment[uk]=Керування налаштуваннями гарячих кутів
Comment[uk_UA]=Керування налаштуваннями гарячих кутів
Comment[ur]=ہاٹ کونے کی ترتیبات کا انتظام
Comment[ur_PK]=ہاٹ کونے کی ترتیبات کا انتظام
Comment[vi]=Quản lý thiết đặt góc nóng
Comment[vi_VN]=Quản lý thiết đặt góc nóng
Comment[zh_CN]=热角设置
Comment[zh_HK]=管理 hotcorner 設定
Comment[zh_TW]=管理熱角設定
