[Desktop Entry]
Icon=cs-online-accounts
Exec=cinnamon-settings online-accounts
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Online Accounts
Name[am]=የ መስመር ላይ መግለጫ
Name[ar]=الحسابات عبر الإنترنت
Name[ay]=Llikan jaqinkir yatiyawinaka
Name[az]=Bağlantılı Oturumlar
Name[be]=Уліковыя запісы ў сетцы
Name[bg]=Онлайн акаунти
Name[ca]=Comptes en línia
Name[ca@valencia]=Comptes en línia
Name[cs]=On-line účty
Name[cy]=Cyfrifon Ar-lein
Name[da]=Onlinekonti
Name[de]=Internetkonten
Name[el]=Online Λογαριασμοί
Name[eo]=Retkontoj
Name[es]=Cuentas en línea
Name[es_AR]=Cuentas en línea
Name[et]=Võrgus asuvad kontod
Name[eu]=Lineako kontuak
Name[fi]=Verkkotilit
Name[fr]=Comptes en ligne
Name[fr_CA]=Comptes en ligne
Name[he]=חשבונות מקוונים
Name[hi]=ऑनलाइन अकाउंट
Name[hr]=Mrežni računi
Name[hu]=Online fiókok
Name[ia]=Contos online
Name[id]=Akun Daring
Name[is]=Aðgangar á neti
Name[it]=Account online
Name[ja]=オンラインアカウント
Name[kab]=Imiḍanen ɣef uẓeḍḍa
Name[ko]=온라인 계정
Name[la]=Inscriptiones Interretales
Name[lt]=Internetinės paskyros
Name[nb]=Kontoer på nettet
Name[nl]=Internetaccounts
Name[oc]=Comptes en linha
Name[pl]=Konta usług online
Name[pt]=Contas online
Name[pt_BR]=Contas Online
Name[ro]=Conturi Online
Name[ru]=Сетевые учётные записи
Name[sc]=Contos in lìnia
Name[sk]=Účty služieb
Name[sl]=Spletni računi
Name[sr]=Интернет налози
Name[sr@ijekavian]=Интернет налози
Name[sr@ijekavianlatin]=Интернет налози
Name[sr@latin]=Internet nalozi
Name[sv]=Nätkonton
Name[th]=บัญชีออนไลน์
Name[tr]=Çevrimiçi Hesaplar
Name[uk]=Мережеві обліківки
Name[uz]=Onlayn hisoblar
Name[vi]=Các tài khoản trực tuyến
Name[zh_CN]=在线账户
Name[zh_HK]=線上帳號
Name[zh_TW]=線上帳號
Comment=Connect to your online accounts
Comment[am]=ወደ እርስዎ የ መስመር ላይ መግለጫ መገናኛ
Comment[ar]=الاتصال بحساباتك على الإنترنت
Comment[ay]=Llikan jaqinkir yatiyawinak chikasim
Comment[az]=Bağlantılı oturumlarınıza bağlanın
Comment[be]=Падлучэнне да вашых уліковых запісаў у сетцы
Comment[bg]=Връзка с вашите онлайн акаунти
Comment[ca]=Connecteu-vos als vostres comptes en línia
Comment[ca@valencia]=Connecteu-vos als vostres comptes en línia
Comment[cs]=Připojit se ke svým online účtům
Comment[cy]=Cysylltu i'ch cyfrifon ar-lein
Comment[da]=Forbind til dine onlinekonti
Comment[de]=Zu Ihren Internetkonten verbinden
Comment[el]=Συνδεθείτε στους λογαριασμούς σας στο διαδίκτυο
Comment[eo]=Konekti al viaj retkontoj
Comment[es]=Conéctese a sus cuentas en línea
Comment[es_AR]=Conéctese a sus cuentas en línea
Comment[et]=Ühendumine Sinu võrgukontodega
Comment[eu]=Konektatu zure lineako kontuetara
Comment[fi]=Yhdistä verkkotileihisi
Comment[fr]=Connectez vos comptes en ligne
Comment[fr_CA]=Connectez vos comptes en ligne
Comment[he]=התחברות לחשבונות המקוונים
Comment[hi]=ऑनलाइन अकाउंट से कनेक्ट करें
Comment[hr]=Povežite se sa svojim mrežnim računima
Comment[hu]=Csatlakozás az online fiókokhoz
Comment[ia]=Connecter al conto online
Comment[id]=Menyambung ke akun daring Anda
Comment[is]=Tengstu notandaaðgöngum þínum á netinu
Comment[it]=Connetti i tuoi account online
Comment[ja]=あなたのオンラインアカウントに接続
Comment[kab]=Qqen ɣer imiḍanen-inek ɣef uẓeḍḍa
Comment[ko]=온라인 계정에 연결
Comment[la]=Inscriptiones interretales conecte
Comment[lt]=Prisijunkite prie savo internetinių paskyrų
Comment[nl]=Verbinding maken met uw internetaccounts
Comment[oc]=Connectatz-vos a vòstres comptes en linha
Comment[pl]=Podłącz swoje konta online
Comment[pt]=Conexão com as contas online
Comment[pt_BR]=Conecte-se às suas contas on-line
Comment[ro]=Conectează-te la conturile tale online
Comment[ru]=Подключение к вашим сетевым учётным записям
Comment[sc]=Connete a sos contos in lìnia tuos
Comment[sk]=Pripojte sa k vašim účtom služieb
Comment[sl]=Povežite svoje spletne račune
Comment[sr]=Повежите ваше интернет налоге
Comment[sr@ijekavian]=Повежите ваше интернет налоге
Comment[sr@ijekavianlatin]=Повежите ваше интернет налоге
Comment[sr@latin]=Povežite se sa Vašim nalozima na internetu
Comment[sv]=Anslut till dina nätkonton
Comment[tr]=Çevrimiçi hesaplarınıza bağlanın
Comment[uk]=Під'єднатися до своїх онлайн-обліківок
Comment[uz]=Onlayn hisoblaringizga ulanish
Comment[vi]=Kết nối với các tài khoản online
Comment[zh_CN]=连接到您的在线账户
Comment[zh_HK]=連線至您的線上帳號
Comment[zh_TW]=連線至您的線上帳號
Keywords=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[am]=ጉግል: ፌስቡክ: ትዊተር: ያሁ: ዌብ: በ መስመር ላይ: ውይይት: ቀን መቁጠሪያ: ደብዳቤ: ግንኙነት: owncloud;kerberos;imap;smtp;pocket;readitlater;መግለጫ;
Keywords[ar]=جوجل، فيسبوك، تويتر، ياهو، الإنترنت، الدردشة، التقويم، البريد، الاتصال، الحساب;owncloud;kerberos;imap;smtp;pocket;readitlater;
Keywords[ay]=google;facebook;twitter;yahoo;llika;web;en línea;online;chat;parlasiña;calendario;pacha-mara-jakhu;correo;email;e-chaski;contacto;jaqi;owncloud;kerberos;imap;smtp;pocket;readitlater;jaqinkir yatiyawi;cuenta;
Keywords[az]=google;facebook;twitter;yahoo;tor;bağlantılı;danışıq;ilgün;göndəriş;bağlantılar;owncloud;kerberos;imap;smtp;pocket;readitlater;oturum;
Keywords[be]=google;facebook;twitter;yahoo;web;анлайн;чат;каляндар;пошта;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;уліковы запіс;акаўнт;
Keywords[ca]=google;facebook;twitter;yahoo;web;en línia;xat;calendari;correu electrònic;contacte;owncloud;kerberos;imap;smtp;pocket;readitlater;compte;
Keywords[ca@valencia]=google;facebook;twitter;yahoo;web;online;chat;calendari;email;contacte;owncloud;kerberos;imap;smtp;pocket;readitlater;compte;
Keywords[cs]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;účet;
Keywords[cy]=google;facebook;twitter;yahoo;gwe;ar-lein;sgwrs;calendr;e-bost;cysylltiad;owncloud;kerberos;imap;smtp;pocket;readitlater;cyfrif;
Keywords[da]=google;facebook;twitter;yahoo;web;online;chat;kalender;mail;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;konto;
Keywords[de]=Kalender;Konto;Nachrichten;Unterhaltung;Netz;Post;Internet;Verbunden;E-Mail;google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[el]=google;facebook;twitter;yahoo;ιστός;online;συζήτηση;ημερολόγιο;αλληλογραφίαl;επαφή;owncloud;kerberos;imap;smtp;pocket;readitlater;λογαριασμός;
Keywords[eo]=guglo;facebook;twitter;yahoo;reto;reta;retbabili;kalendaro;retpoŝto;kontakto;owncloud;kerberos;imap;smtp;poŝo;readitlater;konto;
Keywords[es]=google;facebook;twitter;yahoo;web;online;chat;calendario;correo;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_AR]=google;facebook;twitter;yahoo;web;online;chat;calendario;correo;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[et]=google;facebook;twitter;yahoo;veeb;online;vestlus;kalender;e-post;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;konto;
Keywords[eu]=google;facebook;twitter;yahoo;web;linean;txata;egutegia;posta elektronikoa;kontaktuak;owncloud;kerberos;imap;smtp;pocket;readitlater;kontua;
Keywords[fi]=google;facebook;twitter;yahoo;web;verkko;chat;kalenteri;posti;yhteydet;owncloud;kerberos;imap;smtp;pocket;readitlater;tili;
Keywords[fr]=google;facebook;twitter;yahoo;web;en ligne;chat;clavardage;dialogue en ligne;agendal;mail;courreil contact;owncloud;kerberos;imap;smtp;pocket;readitlater;compte;
Keywords[fr_CA]=compte;google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;
Keywords[he]=גוגל;פייסבוק;טוויטר;יאהו;רשת;מקוון;שיחוח;לוח־שנה;דואל;קשר;owncloud;kerberos;imap;smtp;pocket;readitlater;חשבון;
Keywords[hi]=गूगल;फेसबुक;ट्विटर;याहू;वेब;ऑनलाइन;चैट;दिनदर्शिका;मेल;संपर्क;ownCloud;Kerberos;IMAP;एसएमटीपी;पॉकेट;readitlater;अकाउंट;
Keywords[hr]=google;facebook;twitter;yahoo;web;mreža;razgovori;kalendar;pošta;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;račun;
Keywords[hu]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;onlájn;csevegés;cset;naptár;kalendárium;névjegyek;kapcsolatok;hitelesítés;fiók;felhasználó;
Keywords[ia]=google;facebook;twitter;yahoo;web;online;chat;calendario;e-mail;contacto;nube-proprie;kerberos;imap;smtp;pocket;lege-lo-postea;conto;
Keywords[id]=google;facebook;twitter;yahoo;web;daring;obrolan;kalender;surat;kontak;owncloud;kerberos;imap;smtp;pocket;readitlater;akun;
Keywords[ie]=google;facebook;twitter;yahoo;web;online;chat;calendar;post;e-post;contacte;owncloud;kerberos;imap;smtp;pocket;readitlater;conto;
Keywords[is]=Google;Facebook;Twitter;Yahoo;Vefur;Netið;Spjall;Dagatal;Póstur;Tengiliðir;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;aðgangur;
Keywords[it]=google;facebook;twitter;yahoo;web;online;chat;calendario;e-mail;contatti;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[ja]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;ウェブ;オンライン;チャット;カレンダー;メール;連絡;アカウント;
Keywords[ko]=구글;페이스북;트위터;야후;웹;온라인;채팅;달력;메일;연락처;owncloud;kerberos;imap;smtp;pocket;readitlater;계정;
Keywords[lt]=google;facebook;twitter;yahoo;saitynas;internetas;pokalbiai;kalendorius;paštas;kontaktas;owncloud;kerberos;imap;smtp;pocket;readitlater;paskyra;
Keywords[pl]=google;facebook;twitter;yahoo;web;online;czat;kalendarz;poczta;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;konto;
Keywords[pt]=google;facebook;twitter;yahoo;web;online;chat;calendário;e-mail;contactos;owncloud;kerberos;imap;smtp;pocket;readitlater;conta;
Keywords[pt_BR]=google;facebook;twitter;yahoo;web;online;chat;calendário;e-mail;contatos;owncloud;kerberos;imap;smtp;pocket;readitlater;conta;
Keywords[sk]=google;facebook;twitter;yahoo;web;online;chat;rozhovor;kalendár;mail;pošta;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;účet;
Keywords[sr]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;налог;
Keywords[sr@ijekavian]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;налог;
Keywords[sr@ijekavianlatin]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;налог;
Keywords[sr@latin]=google;facebook;twitter;yahoo;veb;online;čet;kalendar;pošta;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;nalog;
Keywords[sv]=google;facebook;twitter;yahoo;webb;online;chatt;kalender;e-post;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;konto;
Keywords[tr]=google;facebook;twitter;yahoo;web;çevrimiçi;sohbet;takvim;eposta;iletişim;owncloud;kerberos;imap;smtp;pocket;readitlater;hesap;
Keywords[uz]=google;facebook;twitter;yahoo;veb;onlayn;chat;taqvim;pochta;kontakt;owncloud;kerberos;imap;smtp;poket;readitlater;hisob;
Keywords[vi]=google;facebook;twitter;yahoo;web;online;chat;lịch;mail;danh bạ;owncloud;kerberos;imap;smtp;pocket;readitlater;tài khoản;
Keywords[zh_CN]=google;facebook;twitter;yahoo;网络;在线;聊天;日历;邮件;联络;owncloud;kerberos;imap;smtp;pocket;readitlater;帐号;
Keywords[zh_HK]=谷歌，臉書，推特，雅虎，網絡，在線，聊天，日曆，郵件，聯繫人，owncloud，kerberos，imap，smtp，口袋，readitlater，帳戶;
