[Desktop Entry]
Icon=cs-workspaces
Exec=cinnamon-settings workspaces
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Workspaces
Name[am]=የስራ ቦታዎች
Name[bg]=Работни места
Name[ca]=Espais de treball
Name[ca@valencia]=Espais de treball
Name[cs]=Pracovní plochy
Name[cy]=Mannau Gwaith
Name[da]=Arbejdsområder
Name[de]=Arbeitsflächen
Name[el]=Χώροι Εργασίας
Name[es]=Áreas de trabajo
Name[es_AR]=Áreas de trabajo
Name[et]=Tööruumid
Name[eu]=Laneko areak
Name[fr]=Espaces de travail
Name[fr_CA]=Espaces de travail
Name[ga]=Spásanna Oibre
Name[gd]=Rumannan-obrach
Name[gl]=Espazos de traballo
Name[hr]=Radni prostori
Name[hu]=Munkaterületek
Name[is]=Vinnusvæði
Name[it]=Aree di lavoro
Name[ja]=ワークスペース
Name[lt]=Darbalaukiai
Name[lv]=Darbvietas
Name[ms]=Ruang Kerja
Name[nl]=Werkbladen
Name[oc]=Espacis de trabalh
Name[om]=Iddoowwan hojii
Name[pa]=ਵਰਕਸਪੇਸਾਂ
Name[pl]=Obszary robocze
Name[pt]=Áreas de trabalho
Name[pt_BR]=Espaços de trabalho
Name[pt_PT]=Áreas de trabalho
Name[ro]=Spații de lucru
Name[ru]=Рабочие области
Name[sk]=Pracovné plochy
Name[sl]=Delovni prostor
Name[sr]=Радни простори
Name[sr@ijekavianlatin]=Радни простори
Name[sr@latin]=Радни простори
Name[sv]=Arbetsytor
Name[ta]=பணியிடங்கள்
Name[tg]=Фазоҳои корӣ
Name[th]=พื้นที่ทำงาน
Name[tr]=Çalışma Alanları
Name[uk]=Робочі простори
Name[vi]=Vùng làm việc
Name[zh_CN]=工作区
Name[zh_TW]=工作區
Comment=Manage workspace preferences
Comment[am]=የ ስራ ቦታ ምርጫዎች አስተዳዳሪ
Comment[bg]=Управление на настройките за работни плотове
Comment[ca]=Administra preferències d'espai de treball
Comment[ca@valencia]=Administra preferències d'espai de treball
Comment[cs]=Spravovat nastavení pracovních ploch
Comment[da]=Administrér arbejdsområdeindstillinger
Comment[de]=Arbeitsflächeneinstellungen verwalten
Comment[el]=Ρυθμίστε τις επιφάνειες εργασίας
Comment[es]=Administrar preferencias de espacio de trabajo
Comment[es_AR]=Administrar preferencias de espacio de trabajo
Comment[fr]=Gérer les préférences de l'espace de travail
Comment[fr_CA]=Gérer les préférences de l'espace de travail
Comment[hr]=Upravljajte osobitostima radnog prostora
Comment[hu]=Munkaterület beállítások kezelése
Comment[is]=Sýsla með kjörstillingar vinnusvæða
Comment[it]=Gestione preferenze spazio di lavoro
Comment[lt]=Tvarkyti darbalaukio nustatymus
Comment[lv]=Pārvaldīt darbvietas preferences
Comment[ms]=Mengurus pilihan ruang kerja
Comment[nl]=Werkbladvoorkeuren beheren
Comment[pl]=Zarządzaj preferencjami obszarów roboczych
Comment[pt]=Gerir preferência do espaço de trabalho
Comment[pt_BR]=Gerir preferência do espaço de trabalho
Comment[pt_PT]=Gerir preferência do espaço de trabalho
Comment[ro]=Configurează panoul de lucru
Comment[sk]=Spravovať predvoľby pracovnej plochy
Comment[sl]=Upravljanje z možnostmi delovnih površin
Comment[sv]=Hantera inställningar för arbetsyta
Comment[tg]=Идоракунии хусусиятҳои фазои корӣ
Comment[th]=จัดการการตั้งค่าพื้นที่ทำงานขั้นสูง
Comment[tr]=Çalışma alanı seçeneklerini yönet
Comment[uk]=Керувати параметрами робочого простору
Comment[vi]=Quản lý tuỳ thích vùng làm việc
Comment[zh_TW]=管理工作區偏好設定
