[Desktop Entry]
Icon=cs-general
Exec=cinnamon-settings general
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=General
Name[af]=Algemeen
Name[am]=ባጠቃላይ
Name[ar]=عام
Name[ast]=Xeneral
Name[ay]=Taqpachataki
Name[az]=Toplam
Name[be]=Агульныя
Name[bg]=Общи
Name[br]=Hollek
Name[bs]=Opšte
Name[cs]=Obecné
Name[cy]=Cyffredinol
Name[da]=Generelt
Name[de]=Allgemein
Name[el]=Γενικές Ρυθμίσεις
Name[eo]=Ĝenerala
Name[et]=Üldine
Name[eu]=Orokorra
Name[fa]=عمومی
Name[fi]=Yleinen
Name[fr]=Général
Name[fr_CA]=Général
Name[ga]=Ginearálta
Name[gd]=Coitcheann
Name[gl]=Xeral
Name[he]=כללי
Name[hi]=सामान्य
Name[hr]=Općenito
Name[hu]=Általános
Name[id]=Umum
Name[is]=Almennt
Name[it]=Generali
Name[ja]=一般
Name[ka]=მთავარი
Name[kab]=Amatu
Name[ko]=일반
Name[ku]=Giştî
Name[la]=Generalia
Name[lo]=ທົ່ວໄປ
Name[lt]=Bendra
Name[lv]=Vispārīgi
Name[mo]=Ӂенерале
Name[ms]=Am
Name[nb]=Generelt
Name[nds]=Allgemein
Name[nl]=Algemeen
Name[om]=Waliigala
Name[pa]=ਸਧਾਰਨ
Name[pl]=Ogólne
Name[pt]=Geral
Name[pt_BR]=Geral
Name[ru]=Общие
Name[rue]=Чоловый
Name[sc]=Generale
Name[sk]=Všeobecné
Name[sl]=Splošno
Name[sq]=Të përgjithshme
Name[sr]=Опште
Name[sr@ijekavian]=Опште
Name[sr@ijekavianlatin]=Опште
Name[sr@latin]=Opšte
Name[sv]=Allmänt
Name[ta]=பொது
Name[tg]=Умумӣ
Name[th]=ทั่วไป
Name[tr]=Genel
Name[uk]=Загальні
Name[ur]=عمومی
Name[uz]=Umumiy
Name[vi]=Tổng quát
Name[zgh]=ⴰⵎⴰⵜⴰⵢ
Name[zh_CN]=常规
Name[zh_HK]=一般
Name[zh_TW]=一般
Comment=Miscellaneous Cinnamon preferences
Comment[af]=Diverse Cinnamon-voorkeure
Comment[am]=የተለያዩ የ ሲናሞን ምርጫዎች
Comment[ar]=تفضيلات سينامُن المتنوعة
Comment[ast]=Axustes variaos de Cinnamon
Comment[ay]=Cinnamon ukan yaqha ajlliñanaka
Comment[az]=Qarışıq "Cinnamon" üstünlükləri
Comment[be]=Розныя налады Cinnamon
Comment[bg]=Други настройки на Cinnamon
Comment[bs]=Razne Cinnamon postavke
Comment[ca]=Preferències diverses de Cinnamon
Comment[ca@valencia]=Preferències diverses de Cinnamon
Comment[cs]=Ostatní nastavení prostředí Cinnamon
Comment[cy]=Dewisiadau amrywiol Cinnamon
Comment[da]=Diverse Cinnamon-indstillinger
Comment[de]=Verschiedene Cinnamon-Einstellungen
Comment[el]=Διάφορες προτιμήσεις του Cinnamon
Comment[eo]=Diversaj Cinnamon-agordoj
Comment[es]=Preferencias diversas de Cinnamon
Comment[es_AR]=Preferencias diversas de Cinnamon
Comment[et]=Mitmesugused Cinnamoni eelistused
Comment[eu]=Askotariko Cinnamon hobespenak
Comment[fa]=ترجیحات متفرقه Cinnamon
Comment[fi]=Sekalaisia Cinnamon asetuksia
Comment[fr]=Préférences diverses de Cinnamon
Comment[fr_CA]=Autres préférences pour Cinnamon
Comment[gd]=Measgachadh de roghainnean Cinnamon
Comment[gl]=Preferencias variadas para Cinnamon
Comment[he]=העדפות סינמון שונות
Comment[hi]=विविध सिनेमन सेटिंग्स
Comment[hr]=Ostale Cinnamon osobitosti
Comment[hu]=Egyéb Cinnamon beállítások
Comment[ia]=Preferentias miscellanee de Cinnamon
Comment[id]=Macam-macam preferensi Cinnamon
Comment[ie]=Diversi parametres de Cinnamon
Comment[is]=Ýmsar stillingar fyrir Cinnamon
Comment[it]=Preferenze varie di Cinnamon
Comment[ja]=その他の Cinnamon 環境設定
Comment[kab]=Ixtiriyen yemgarasen n Cinnamon
Comment[ko]=그밖의 시나몬설정
Comment[lt]=Kitos Cinnamon nuostatos
Comment[lv]=Dažādi Cinnamon iestatījumi
Comment[ms]=Pilihan Cinnamon pelbagai
Comment[nb]=Diverse innstillinger for Cinnamon
Comment[nds]=Sonstige Cinnamon-Einstellungen
Comment[nl]=Verschillende Cinnamonvoorkeuren
Comment[oc]=Preferéncias divèrsas de Cinnamon
Comment[pl]=Różne preferencje Cinnamon
Comment[pt]=Outras preferências Cinnamon
Comment[pt_BR]=Preferências diversas do Cinnamon
Comment[ro]=Alte preferințe Cinnamon
Comment[ru]=Различные настройки Cinnamon
Comment[rue]=Иншакі штімованя Cinnamon
Comment[sk]=Rôzne predvoľby prostredia Cinnamon
Comment[sl]=Razne možnosti Cinnamona
Comment[sq]=Parapëlqime të përziera të Cinnamon
Comment[sr]=Разне поставке Цимета
Comment[sr@ijekavian]=Разне поставке Цимета
Comment[sr@ijekavianlatin]=Разне поставке Цимета
Comment[sr@latin]=Razne lične preferencije Cinnamona
Comment[sv]=Diverse inställningar för Cinnamon
Comment[tg]=Хусусиятҳои гуногун дар Cinnamon
Comment[th]=การปรับแต่งเบ็ดเตล็ด Cinnamon
Comment[tr]=Muhtelif Cinnamon seçenekleri
Comment[uk]=Різні параметри Cinnamon
Comment[ur]=متفرق، سنامون کی ترجیحات
Comment[uz]=Sinnamonning turli xildagi parametrlari
Comment[vi]=Tuỳ chọn Cinnamon khác
Comment[zh_CN]=其他Cinnamon偏好设置
Comment[zh_HK]=Cinnamon 雜項喜好設定
Comment[zh_TW]=其他 Cinnamon 偏好設定
Keywords=logging;click;
Keywords[am]=በ መግባት ላይ: ይጫኑ;
Keywords[ar]=تسجيل الدخول، النقر;
Keywords[ast]=loguear;clic;
Keywords[ay]=qillqantasina;klik;
Keywords[az]=giriş;tık;
Keywords[be]=уваход;націсканне;
Keywords[bg]=вписване;клик;
Keywords[ca]=registrant;clic;
Keywords[ca@valencia]=registrant;clic;
Keywords[cs]=přihlašování;klik;
Keywords[cy]=mewngofnodi;clic;
Keywords[da]=logning;klik;
Keywords[de]=Protokollierung;Klick;
Keywords[el]=καταγραφή;κλικ;
Keywords[eo]=protokolado;klaki;
Keywords[es]=registrando;clic;
Keywords[es_AR]=registrando;clic;
Keywords[et]=logimine;klõps;
Keywords[eu]=saioa-hastea;klik;
Keywords[fa]=گزارش‌برداری، کلیک;
Keywords[fi]=loki;klikkaaminen;
Keywords[fil]=Nirerehistro;klik;
Keywords[fr]=journalisation;clic;
Keywords[fr_CA]=journalisation;clic;
Keywords[gd]=logging;click;logadh;briog;
Keywords[gl]=acceso;premer;
Keywords[he]=רישום;הקשה;
Keywords[hi]=लॉग फाइल;क्लिक;
Keywords[hr]=prijava;klik;
Keywords[hu]=naplózás;kattintás;
Keywords[ia]=connexion;clic;
Keywords[id]=logging;klik;
Keywords[is]=annáll;smella;
Keywords[ja]=logging;click;ログ;クリック;
Keywords[kab]=anekcum;senned;
Keywords[ko]=로그 기록하기;클릭;
Keywords[lt]=registravimas;spustelėjimas;
Keywords[ms]=mengelog;klik;
Keywords[nb]=logging;klikk;
Keywords[nds]=Protokollieren;Klicken;
Keywords[nl]=logboek bijhouden;klik;
Keywords[pl]=logowanie;klik;
Keywords[pt]=registo;clique;
Keywords[pt_BR]=registrando;clique;
Keywords[ro]=jurnalizare;clic;
Keywords[ru]=вход в систему;клик;
Keywords[rue]=вход у сістему;клопканя;
Keywords[sk]=prihlasovanie;kliknutie;
Keywords[sl]=beleženje;klik;
Keywords[sr]=пријава;клик;
Keywords[sr@ijekavian]=пријава;клик;
Keywords[sr@ijekavianlatin]=пријава;клик;
Keywords[sr@latin]=evidentiranje;klik;
Keywords[sv]=loggning;klick;
Keywords[th]=บันทึก;คลิก;
Keywords[tr]=günlük kaydı;tıkla;
Keywords[uk]=увійти;натисніть;
Keywords[ur]=لاگنگ، کلک;
Keywords[uz]=jurnalga yozish;sichqon tugmasini bosish;
Keywords[vi]=ghi nhật trình;nhấp;
Keywords[zh_CN]=日志记录，点击;
Keywords[zh_HK]=記錄;點選;
Keywords[zh_TW]=記錄;點擊;
