[Desktop Entry]
Icon=cs-tiling
Exec=cinnamon-settings tiling
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Window Tiling and Edge Flip
Name[am]=መስኮት መደርደሪያ እና ጠርዝ መገልበጫ
Name[bg]=Подреждане на прозорци и прилепване към ъглите
Name[ca]=Mosaic de finestres i voltejat de vores
Name[ca@valencia]=Mosaic de finestres i voltejat de vores
Name[cs]=Dláždění oken a přetočení přes roh
Name[da]=Side om side-udlægning og kantvending
Name[de]=Fenster: Kacheln und Randumschalten
Name[es]=Mosaico de ventanas y volteado de bordes
Name[es_AR]=Mosaico de ventanas y volteado de bordes
Name[fr]=Juxtaposition et basculement en bordure de fenêtre
Name[fr_CA]=Juxtaposition et basculement en bordure de fenêtre
Name[gd]=A' leacadh uinneige agus flipeadh oir
Name[gl]=Mosaico de xanelas e volteado dos bordos
Name[hr]=Slaganje prozora i Promjena radnih prostora
Name[hu]=Ablak mozaik és élváltó
Name[id]=Jendela Mode Ubin dan Tepi Terbalik
Name[is]=Flísalagning glugga og jaðarfletting
Name[it]=Finestre in pila e ancoraggio ai bordi dello schermo
Name[ja]=ウィンドウのタイル表示とエッジフリップ
Name[ms]=Penjubinan Tetingkap dan Kalih Pinggir
Name[nl]=Vensters tegelen en rand omdraaien
Name[om]=Foddaa daltuuluu fi qarree meelchi
Name[pl]=Kafelkowanie okien i odwracanie krawędzi
Name[pt]=Arrumação de Janelas e Viragem de Cantos
Name[pt_BR]=Mosaico de janelas e bordas
Name[pt_PT]=Arrumação de Janelas e Viragem de Cantos
Name[ro]=Tiling de fereastră și Întoarcere de margine
Name[ru]=Прикрепление окон и притяжение к границам
Name[sk]=Dláždenie okien a pretočenie cez roh
Name[sl]=Razpostavljanje oken in zrcaljenje roba
Name[sr]=Слагање прозора и изокренути руб
Name[sr@ijekavianlatin]=Слагање прозора и изокренути руб
Name[sr@latin]=Слагање прозора и изокренути руб
Name[tg]=Лавҳабандии равзанаҳо ва ивази канорҳо
Name[th]=การจัดหน้าต่างแบบกระเบื้องและการพลิกแบบ Edge
Name[tr]=Pencere Döşeme ve Kenar Geçişi
Name[uk]=Прикріплення вікон й притягування до меж
Name[vi]=Lát và Lật Cạnh Cửa sổ
Name[zh_CN]=窗口平铺和边缘翻转
Name[zh_TW]=視窗平舖與邊緣翻轉
Comment=Manage window tiling preferences
Comment[am]=የ መስኮት መደርደሪያ ምርጫዎች አስተዳዳሪ
Comment[bg]=Управление подредбата на прозорците
Comment[ca]=Administrar les preferències de mosaic de finestres
Comment[ca@valencia]=Administrar les preferències de mosaic de finestres
Comment[cs]=Nastavení dláždění oken
Comment[da]=Administrér indstillinger for side om side-udlægning
Comment[de]=Kacheleinstellungen der Fenster verwalten
Comment[es]=Administrar las preferencias de mosaico de ventanas
Comment[es_AR]=Administrar las preferencias de mosaico de ventanas
Comment[fr]=Gérer les préférences de juxtaposition des fenêtres
Comment[fr_CA]=Gérer les préférences de juxtaposition des fenêtres
Comment[hr]=Upravljajte osobitostima slaganja prozora
Comment[hu]=Ablak mozaik beállítások kezelése
Comment[is]=Sýsla með kjörstillingar fyrir uppröðun glugga
Comment[it]=Gestisci le preferenze di affiancamento delle finestre
Comment[lt]=Tvarkyti langų išdėliojimo nustatymus
Comment[ms]=Mengurus pilihan jubin tetingkap
Comment[nl]=Voorkeuren beheren voor het tegelen van vensters
Comment[pl]=Zarządzaj preferencjami kafelkowania okien
Comment[pt]=Gerir as definições de arrumação de janelas
Comment[pt_BR]=Gerir as definições de arrumação de janelas
Comment[pt_PT]=Gerir as definições de arrumação de janelas
Comment[ro]=Configurează modul de afișare a ferestrelor
Comment[sk]=Spravovať predvoľby dláždenia okien
Comment[sl]=Upravljajte z možnostmi razpostavljanja oken
Comment[tg]=Идоракунии хусусиятҳои лавҳабандии равзанаҳо
Comment[th]=จัดการการตั้งค่าการจัดหน้าต่างแบบกระเบื้องขั้นสูง
Comment[tr]=Pencere döşeme seçeneklerini yönet
Comment[uk]=Керування прилипанням вікон
Comment[vi]=Quản lý tuỳ thích lát cửa sổ
Comment[zh_TW]=管理視窗平舖偏好設定
