[Desktop Entry]
Icon=cs-user
Exec=cinnamon-settings user
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Account details
Name[am]=የ መግለጫ ዝርዝሮች
Name[ar]=تفاصيل الحساب
Name[ast]=Detalles de cuenta
Name[be]=Дэталі ўліковага запісу
Name[be@latin]=Дэталі ўліковага запісу
Name[bg]=Данни за акаунта
Name[bg_BG]=Данни за акаунта
Name[bs]=Detalji o računu
Name[ca]=Detalls del compte
Name[ca@valencia]=Detalls del compte
Name[ca_ES@valencia]=Detalls del compte
Name[cs]=Podrobnosti o účtu
Name[cs_CZ]=Podrobnosti o účtu
Name[cy]=Manylion cyfrif
Name[da]=Kontodetaljer
Name[da_DK]=Kontodetaljer
Name[de]=Kontodetails
Name[de_DE]=Kontodetails
Name[el]=Λεπτομέρειες λογαριασμού
Name[eo]=Kontodetaloj
Name[es]=Detalles de cuenta
Name[es_AR]=Detalles de cuenta
Name[es_CL]=Detalles de cuenta
Name[es_CO]=Detalles de cuenta
Name[es_CR]=Detalles de cuenta
Name[es_DO]=Detalles de cuenta
Name[es_EC]=Detalles de cuenta
Name[es_ES]=Detalles de cuenta
Name[es_GT]=Detalles de cuenta
Name[es_HN]=Detalles de cuenta
Name[es_MX]=Detalles de cuenta
Name[es_NI]=Detalles de cuenta
Name[es_PA]=Detalles de cuenta
Name[es_PE]=Detalles de cuenta
Name[es_PR]=Detalles de cuenta
Name[es_SV]=Detalles de cuenta
Name[es_US]=Detalles de cuenta
Name[es_UY]=Detalles de cuenta
Name[es_VE]=Detalles de cuenta
Name[et]=Konto üksikasjad
Name[eu]=Kontuaren xehetasunak
Name[fi]=Tilin tiedot
Name[fi_FI]=Tilin tiedot
Name[fr]=Détails du compte
Name[fr_CA]=Détails du compte
Name[fy]=Akkount details
Name[gd]=Mion-fhiosrachadh a' chunntais
Name[gl]=Detalles da conta
Name[gl_ES]=Detalles da conta
Name[hr]=Pojedinosti računa
Name[hu]=Fiók részletek
Name[hu_HU]=Fiók részletek
Name[id]=Detail akun
Name[id_ID]=Detail akun
Name[is]=Nánar um notanda
Name[it]=Dettagli dell'account
Name[ja]=アカウントの詳細
Name[ja_JP]=アカウントの詳細
Name[ko]=사용자정보
Name[ko_KR]=사용자정보
Name[lt]=Paskyros informacija
Name[lt_LT]=Paskyros informacija
Name[lv]=Detalizēta informācija par kontu
Name[lv_LV]=Detalizēta informācija par kontu
Name[ms]=Perincian akaun
Name[ms_MY]=Perincian akaun
Name[nb]=Kontodetaljer
Name[nb_NO]=Kontodetaljer
Name[nds]=Konto - Einzelheiten
Name[nl]=Accountdetails
Name[nl_NL]=Accountdetails
Name[oc]=Informacions del compte
Name[om]=Eenyummeessaa baldhaa
Name[pa]=ਅਕਾਊਂਟ ਵੇਰਵਾ
Name[pl]=Szczegóły konta
Name[pl_PL]=Szczegóły konta
Name[pt]=Detalhes da conta
Name[pt_BR]=Detalhes da conta
Name[pt_PT]=Detalhes da conta
Name[ro]=Detalii cont
Name[ro_RO]=Detalii cont
Name[ru]=Детали учётной записи
Name[sk]=Podrobnosti o účte
Name[sk_SK]=Podrobnosti o účte
Name[sl]=Podrobnosti računa
Name[sl_SI]=Podrobnosti računa
Name[sq]=Detajet e llogarisë
Name[sr]=Детаљи о налогу
Name[sr@Latn]=Детаљи о налогу
Name[sr@ije]=Детаљи о налогу
Name[sr@ijekavianlatin]=Детаљи о налогу
Name[sr@latin]=Детаљи о налогу
Name[sv]=Kontodetaljer
Name[ta]=கணக்கு விவரங்கள்
Name[ta_LK]=கணக்கு விவரங்கள்
Name[tg]=Тафсилоти ҳисоб
Name[th]=รายละเอียดบัญชีผู้ใช้
Name[th_TH]=รายละเอียดบัญชีผู้ใช้
Name[tr]=Hesap Ayrıntıları
Name[uk]=Дані облікового запису
Name[uk_UA]=Дані облікового запису
Name[ur]=کھاتے کی تفصیلات دکھائیں
Name[ur_PK]=کھاتے کی تفصیلات دکھائیں
Name[vi]=Chi tiết tài khoản
Name[vi_VN]=Chi tiết tài khoản
Name[zh_CN]=帐户详情
Name[zh_HK]=帳號詳細資料
Name[zh_TW]=帳號詳細資訊
Comment=Change your user preferences and password
Comment[am]=የ እርስዎን የመጠቀሚያ ምርጫዎች እና የመግቢያ ቃል መቀየሪያ
Comment[ar]=غيّر خيارات المستخدم وكلمة المرور
Comment[ast]=Camuda les tos preferencies d'usuariu y contraseña
Comment[be]=Змяніць карыстальніцкія налады і пароль
Comment[be@latin]=Змяніць карыстальніцкія налады і пароль
Comment[bg]=Променете Вашите потребителски настройки и парола
Comment[bg_BG]=Променете Вашите потребителски настройки и парола
Comment[bs]=Promijeni korisničke postavke i šifru
Comment[ca]=Canviar les preferències d'usuari i la contrasenya
Comment[ca@valencia]=Canvia les preferències d'usuari i contrasenya
Comment[ca_ES@valencia]=Canvia les preferències d'usuari i contrasenya
Comment[cs]=Změnit nastavení uživatele a hesla
Comment[cs_CZ]=Změnit nastavení uživatele a hesla
Comment[cy]=Newid eich dewisiadau defnyddiwr a chyfrinair
Comment[da]=Ændr dine brugerindstillinger og din adgangskode
Comment[da_DK]=Ændr dine brugerindstillinger og din adgangskode
Comment[de]=Benutzereinstellungen und das Passwort ändern
Comment[de_DE]=Benutzereinstellungen und das Passwort ändern
Comment[el]=Αλλάξτε τις προτιμήσεις χρήστη σας και τον κωδικό πρόσβασης
Comment[es]=Cambiar las preferencias de usuario y contraseña
Comment[es_AR]=Cambiar las preferencias de usuario y contraseña
Comment[es_CL]=Cambiar las preferencias de usuario y contraseña
Comment[es_CO]=Cambiar las preferencias de usuario y contraseña
Comment[es_CR]=Cambiar las preferencias de usuario y contraseña
Comment[es_DO]=Cambiar las preferencias de usuario y contraseña
Comment[es_EC]=Cambiar las preferencias de usuario y contraseña
Comment[es_ES]=Cambiar las preferencias de usuario y contraseña
Comment[es_GT]=Cambiar las preferencias de usuario y contraseña
Comment[es_HN]=Cambiar las preferencias de usuario y contraseña
Comment[es_MX]=Cambiar las preferencias de usuario y contraseña
Comment[es_NI]=Cambiar las preferencias de usuario y contraseña
Comment[es_PA]=Cambiar las preferencias de usuario y contraseña
Comment[es_PE]=Cambiar las preferencias de usuario y contraseña
Comment[es_PR]=Cambiar las preferencias de usuario y contraseña
Comment[es_SV]=Cambiar las preferencias de usuario y contraseña
Comment[es_US]=Cambiar las preferencias de usuario y contraseña
Comment[es_UY]=Cambiar las preferencias de usuario y contraseña
Comment[es_VE]=Cambiar las preferencias de usuario y contraseña
Comment[eu]=Aldatu erabiltzailearen hobespenak eta pasahitza
Comment[fi]=Muuta käyttäjäasetuksiasi ja salasanaasi
Comment[fi_FI]=Muuta käyttäjäasetuksiasi ja salasanaasi
Comment[fr]=Changez vos préférences utilisateur et votre mot de passe
Comment[fr_CA]=Modifier vos paramètres d'utilisateur et votre mot de passe
Comment[gd]=Atharraich roghainnean a' chleachdaiche 's am facal-faire agad
Comment[gl]=Cambia as preferencias e o contrasinal do usuario
Comment[gl_ES]=Cambia as preferencias e o contrasinal do usuario
Comment[hr]=Promijenite svoje osobitosti korisnika i lozinke
Comment[hu]=Felhasználói beállítások és jelszavak módosítása
Comment[hu_HU]=Felhasználói beállítások és jelszavak módosítása
Comment[id]=Ubah kata kunci dan preferensi anda
Comment[id_ID]=Ubah kata kunci dan preferensi anda
Comment[is]=Breyta notandastillingum þínum og lykilorði
Comment[it]=Modifica preferenze utente e password
Comment[ja]=ユーザ設定とパスワードの変更
Comment[ja_JP]=ユーザ設定とパスワードの変更
Comment[ko]=사용자 설정과 비밀번호를 바꿉니다
Comment[ko_KR]=사용자 설정과 비밀번호를 바꿉니다
Comment[lt]=Keisti naudotojo nuostatas ir slaptažodį
Comment[lt_LT]=Keisti naudotojo nuostatas ir slaptažodį
Comment[lv]=Mainīt savas lietotāja vēlmes un paroli
Comment[lv_LV]=Mainīt savas lietotāja vēlmes un paroli
Comment[ms]=Tukar pilihan pengguna dan kata laluan
Comment[ms_MY]=Tukar pilihan pengguna dan kata laluan
Comment[nb]=Endre dine brukerinnstillinger og passord
Comment[nb_NO]=Endre dine brukerinnstillinger og passord
Comment[nds]=Ändern Sie Ihre Benutzereinstellungen und Passwort
Comment[nl]=Verander uw gebruikersvoorkeuren en wachtwoord
Comment[nl_NL]=Verander uw gebruikersvoorkeuren en wachtwoord
Comment[pl]=Zmień swoje preferencje użytkownika i hasło
Comment[pl_PL]=Zmień swoje preferencje użytkownika i hasło
Comment[pt]=Mudar as suas preferências de utilizador e palavra passe
Comment[pt_BR]=Mudar as suas preferências e senha de usuário
Comment[pt_PT]=Mudar as suas preferências de utilizador e palavra passe
Comment[ro]=Schimbați preferințele pentru utilizator și parolă
Comment[ro_RO]=Schimbați preferințele pentru utilizator și parolă
Comment[ru]=Изменить пользовательские настройки и пароль
Comment[sk]=Zmeniť vaše používateľské predvoľby a heslo
Comment[sk_SK]=Zmeniť vaše používateľské predvoľby a heslo
Comment[sl]=Spremenite uporabniške možnosti in geslo
Comment[sl_SI]=Spremenite uporabniške možnosti in geslo
Comment[sq]=Ndrysho parapëlqimet e përdoruesit dhe fjalëkalimin
Comment[sr]=Промени поставке корисничког налога и лозинку
Comment[sr@Latn]=Промени поставке корисничког налога и лозинку
Comment[sr@ije]=Промени поставке корисничког налога и лозинку
Comment[sr@ijekavianlatin]=Промени поставке корисничког налога и лозинку
Comment[sr@latin]=Промени поставке корисничког налога и лозинку
Comment[sv]=Ändra dina användarinställnigar och lösenord
Comment[tg]=Тағйир додани хусусиятҳо ва пароли корбар
Comment[th]=เปลี่ยนการตั้งค่าผู้ใช้ขั้นสูงและรหัสผ่านของคุณ
Comment[th_TH]=เปลี่ยนการตั้งค่าผู้ใช้ขั้นสูงและรหัสผ่านของคุณ
Comment[tr]=Kullanıcı tercihlerini/haklarını ve şifresini değiştir
Comment[uk]=Змінити налаштування користувача і пароль
Comment[uk_UA]=Змінити налаштування користувача і пароль
Comment[vi]=Thay đổi tuỳ thích và mật khẩu người dùng của bạn
Comment[vi_VN]=Thay đổi tuỳ thích và mật khẩu người dùng của bạn
Comment[zh_CN]=修改用户设置和密码
Comment[zh_HK]=變更你的使用者偏好設定與密碼
Comment[zh_TW]=變更您的使用者偏好設定與密碼
