[Desktop Entry]
Icon=cs-screensaver
Exec=cinnamon-settings screensaver
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Screensaver
Name[am]=መመልከቻ ማዳኛ
Name[ar]=شاشة التوقف
Name[bg]=Предпазител на екрана
Name[bg_BG]=Предпазител на екрана
Name[ca]=Estalvi de pantalla
Name[ca@valencia]=Estalvi de pantalla
Name[ca_ES@valencia]=Estalvi de pantalla
Name[cs]=Šetřič obrazovky
Name[cs_CZ]=Šetřič obrazovky
Name[cy]=Arbedwr sgrin
Name[da]=Pauseskærm
Name[da_DK]=Pauseskærm
Name[de]=Bildschirmschoner
Name[de_DE]=Bildschirmschoner
Name[el]=Προφύλαξη οθόνης
Name[eo]=Ekrankurteno
Name[es]=Salvapantallas
Name[es_AR]=Salvapantallas
Name[es_CL]=Salvapantallas
Name[es_CO]=Salvapantallas
Name[es_CR]=Salvapantallas
Name[es_DO]=Salvapantallas
Name[es_EC]=Salvapantallas
Name[es_ES]=Salvapantallas
Name[es_GT]=Salvapantallas
Name[es_HN]=Salvapantallas
Name[es_MX]=Salvapantallas
Name[es_NI]=Salvapantallas
Name[es_PA]=Salvapantallas
Name[es_PE]=Salvapantallas
Name[es_PR]=Salvapantallas
Name[es_SV]=Salvapantallas
Name[es_US]=Salvapantallas
Name[es_UY]=Salvapantallas
Name[es_VE]=Salvapantallas
Name[eu]=Pantaila-babeslea
Name[fi]=Näytönsäästäjä
Name[fi_FI]=Näytönsäästäjä
Name[fr]=Économiseur d'écran
Name[fr_CA]=Économiseur d'écran
Name[gd]=Sàbhalaiche-sgrìn
Name[gl]=Protector de pantalla
Name[gl_ES]=Protector de pantalla
Name[hr]=Čuvar zaslona
Name[hu]=Képernyővédő
Name[hu_HU]=Képernyővédő
Name[is]=Skjáhvíla
Name[it]=Salvaschermo
Name[ko]=화면 보호기
Name[ko_KR]=화면 보호기
Name[lt]=Ekrano užsklanda
Name[lt_LT]=Ekrano užsklanda
Name[nb]=Skjermsparer
Name[nb_NO]=Skjermsparer
Name[nds]=Bildschirmschoner
Name[nl]=Schermbeveiliging
Name[nl_NL]=Schermbeveiliging
Name[pl]=Wygaszacz ekranu
Name[pl_PL]=Wygaszacz ekranu
Name[pt]=Proteção de ecrã
Name[pt_BR]=Proteção de tela
Name[pt_PT]=Proteção de ecrã
Name[ro]=Protector ecran
Name[ro_RO]=Protector ecran
Name[ru]=Экранная заставка
Name[sk]=Šetrič obrazovky
Name[sk_SK]=Šetrič obrazovky
Name[sv]=Skärmsläckare
Name[th]=โปรแกรมรักษาหน้าจอ
Name[th_TH]=โปรแกรมรักษาหน้าจอ
Name[tr]=Ekran koruyucu
Name[uk]=Зберігач екрану
Name[uk_UA]=Зберігач екрану
Name[ur]=سکرین سیور
Name[ur_PK]=سکرین سیور
Name[vi]=Trình bảo vệ màn hình
Name[vi_VN]=Trình bảo vệ màn hình
Name[zh_CN]=屏幕保护程序
Name[zh_HK]=螢幕保護程式
Name[zh_TW]=螢幕保護程式
Comment=Manage screen lock settings
Comment[am]=የመመልከቻ መቆለፊያ ማሰናጃ አስተዳዳሪ
Comment[ar]=إدارة إعدادات قفل الشاشة
Comment[ast]=Axustes del alministrador de bloquéu de pantalla
Comment[be]=Кіраванне параметрамі блакiравання экрана
Comment[be@latin]=Кіраванне параметрамі блакiравання экрана
Comment[bg]=Управление на настройките за заключване на екрана
Comment[bg_BG]=Управление на настройките за заключване на екрана
Comment[bs]=Upravljaj postavkama zaključavanja ekrana
Comment[ca]=Configurar bloqueig de pantalla
Comment[ca@valencia]=Configura bloqueig de pantalla
Comment[ca_ES@valencia]=Configura bloqueig de pantalla
Comment[cs]=Nastavení zamykací obrazovky
Comment[cs_CZ]=Nastavení zamykací obrazovky
Comment[cy]=Rheoli gosodiadau cloi'r sgrin
Comment[da]=Administrér skærmlåsindstillinger
Comment[da_DK]=Administrér skærmlåsindstillinger
Comment[de]=Einstellungen der Bildschirmsperre verwalten
Comment[de_DE]=Einstellungen der Bildschirmsperre verwalten
Comment[el]=Διαχείριση ρυθμίσεων κλειδώματος οθόνης
Comment[es]=Configurar bloqueo de pantalla
Comment[es_AR]=Configurar bloqueo de pantalla
Comment[es_CL]=Configurar bloqueo de pantalla
Comment[es_CO]=Configurar bloqueo de pantalla
Comment[es_CR]=Configurar bloqueo de pantalla
Comment[es_DO]=Configurar bloqueo de pantalla
Comment[es_EC]=Configurar bloqueo de pantalla
Comment[es_ES]=Configurar bloqueo de pantalla
Comment[es_GT]=Configurar bloqueo de pantalla
Comment[es_HN]=Configurar bloqueo de pantalla
Comment[es_MX]=Configurar bloqueo de pantalla
Comment[es_NI]=Configurar bloqueo de pantalla
Comment[es_PA]=Configurar bloqueo de pantalla
Comment[es_PE]=Configurar bloqueo de pantalla
Comment[es_PR]=Configurar bloqueo de pantalla
Comment[es_SV]=Configurar bloqueo de pantalla
Comment[es_US]=Configurar bloqueo de pantalla
Comment[es_UY]=Configurar bloqueo de pantalla
Comment[es_VE]=Configurar bloqueo de pantalla
Comment[eu]=Kudeatu pantaila blokeatzearen ezarpenak
Comment[fi]=Muokkaa näytön lukituksen asetuksia
Comment[fi_FI]=Muokkaa näytön lukituksen asetuksia
Comment[fr]=Gérer les paramètres de verrouillage d'écran
Comment[fr_CA]=Gérer les paramètres de verrouillage d'écran
Comment[gd]=Stiùirich roghainnean glasaidh na sgrìn
Comment[gl]=Administra os axustes do bloqueo de pantalla
Comment[gl_ES]=Administra os axustes do bloqueo de pantalla
Comment[hr]=Upravljajte postavkama zaključavanja zaslona
Comment[hu]=Képernyőzárolás beállítások kezelése
Comment[hu_HU]=Képernyőzárolás beállítások kezelése
Comment[id]=Mengatur setelan kunci layar
Comment[id_ID]=Mengatur setelan kunci layar
Comment[is]=Sýsla með stillingar skjálæsingar
Comment[it]=Gestisci impostazioni di blocco dello schermo
Comment[ja]=スクリーンロック管理の設定
Comment[ja_JP]=スクリーンロック管理の設定
Comment[ko]=화면잠금 설정
Comment[ko_KR]=화면잠금 설정
Comment[lt]=Tvarkyti ekrano užrakto nustatymus
Comment[lt_LT]=Tvarkyti ekrano užrakto nustatymus
Comment[lv]=Pārvaldīt ekrāna bloķēšanas uzstādījumus
Comment[lv_LV]=Pārvaldīt ekrāna bloķēšanas uzstādījumus
Comment[ms]=Mengurus tetapan kunci skrin
Comment[ms_MY]=Mengurus tetapan kunci skrin
Comment[nb]=Håndter innstillinger for skjermlås
Comment[nb_NO]=Håndter innstillinger for skjermlås
Comment[nds]=Bildschirmsperren-Einstellungen bearbeiten
Comment[nl]=Instellingen voor schermvergrendeling beheren
Comment[nl_NL]=Instellingen voor schermvergrendeling beheren
Comment[pl]=Zarządzaj ustawieniami blokady ekranu
Comment[pl_PL]=Zarządzaj ustawieniami blokady ekranu
Comment[pt]=Gerir definições de bloqueio de ecrã
Comment[pt_BR]=Gerenciar configurações de bloqueio de tela
Comment[pt_PT]=Gerir definições de bloqueio de ecrã
Comment[ro]=Gestionează setările blocării ecranului
Comment[ro_RO]=Gestionează setările blocării ecranului
Comment[ru]=Настройка блокировки экрана
Comment[sk]=Spravovať nastavenia uzamykania obrazovky
Comment[sk_SK]=Spravovať nastavenia uzamykania obrazovky
Comment[sl]=Upravljajte z nastavitvami zaklepa zaslona
Comment[sl_SI]=Upravljajte z nastavitvami zaklepa zaslona
Comment[sq]=Menaxhoni parametrat e bllokimit të ekranit
Comment[sr]=Управљање поставкама закључавања екрана
Comment[sr@Latn]=Управљање поставкама закључавања екрана
Comment[sr@ije]=Управљање поставкама закључавања екрана
Comment[sr@ijekavianlatin]=Управљање поставкама закључавања екрана
Comment[sr@latin]=Управљање поставкама закључавања екрана
Comment[sv]=Hantera skärmlåsinställningar
Comment[tg]=Идоракунии танзимоти қулфи экран
Comment[th]=จัดการการตั้งค่าการล็อกหน้าจอ
Comment[th_TH]=จัดการการตั้งค่าการล็อกหน้าจอ
Comment[tr]=Ekran kilidi seçeneklerini yönet
Comment[uk]=Керування налаштуваннями блокування екрану
Comment[uk_UA]=Керування налаштуваннями блокування екрану
Comment[ur]=سکرین قفل کی ترتیبات کا انتظام
Comment[ur_PK]=سکرین قفل کی ترتیبات کا انتظام
Comment[vi]=QUản lý thiết đặt khoá màn hình
Comment[vi_VN]=QUản lý thiết đặt khoá màn hình
Comment[zh_CN]=管理锁屏设置
Comment[zh_HK]=管理螢幕鎖定設定
Comment[zh_TW]=管理螢幕鎖定設定
