[Desktop Entry]
Name=Panel Launcher Editor
Comment=Add or edit panel launcher applet entries
Exec=/usr/share/cinnamon/applets/panel-launchers@cinnamon.org/cinnamon-add-panel-launcher.py
Icon=gnome-panel-launcher
Terminal=false
NoDisplay=true
Type=Application
Categories=GNOME;GTK;Settings;DesktopSettings;
StartupNotify=false
