[Desktop Entry]
Type=Application
Name=Cinnamon 2D
Comment=Window management and application launching
Exec=/usr/bin/cinnamon2d
Categories=GNOME;GTK;System;Core;
OnlyShowIn=X-Cinnamon;
NoDisplay=true
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=panel;windowmanager;
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
X-Ubuntu-Gettext-Domain=cinnamon
