[Desktop Entry]
Name=Power Management
Comment=Manage power settings
Icon=cs-power
Exec=cinnamon-settings power
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name[gd]=Stiùireadh cumhachd
Name[ga]=Bainisteoireacht Cumhachta
Name[gl]=Xestión da enerxía
Name[tr]=Güç Yönetimi
Name[ta]=மின்சக்தி மேலாண்மை
Name[pt_BR]=Gerenciamento de Energia
Name[de]=Energieverwaltung
Name[da]=Strømstyring
Name[zh_CN]=电源管理
Name[el]=Διαχείριση Ενέργειας
Name[eo]=Energia administrado
Name[eu]=Energia-kudeaketa
Name[et]=Toitehaldus
Name[es]=Gestión de energía
Name[ru]=Управление питанием
Name[ro]=Gestiune alimentare
Name[ms]=Pengurusan Kuasa
Name[ja]=電源管理
Name[ca]=Gestió d'energia
Name[cy]=Rheoli Pŵer
Name[cs]=Správa napájení
Name[pt]=Gestão de energia
Name[pa]=ਪਾਵਰ ਪਰਬੰਧ
Name[pl]=Zarządzanie energią
Name[hr]=Upravljanje energijom
Name[zh_TW]=電源管理
Name[hu]=Energiakezelő
Name[he]=צריכת חשמל
Name[en_GB]=Power Management
Name[uk]=Керування живленням
Name[vi]=Quản lý Điện năng
Name[is]=Aflstjórnun
Name[am]=የሐይል አስተዳዳሪ
Name[it]=Gestione dell'alimentazione
Name[ar]=إدارة الطاقة
Name[id]=Manajemen Daya
Name[nl]=Energiebeheer
Name[nb]=Strømstyring
Name[fr]=Gestion d'alimentation
Name[fa]=مدیریت نیرو
Name[fi]=Virransäästö
Name[fr_CA]=Gestion de Courant
Name[sr]=Управљање напајањем
Name[sv]=Batterihantering
Name[sl]=Upravljanje porabe energije
