[Desktop Entry]
Icon=cs-power
Exec=cinnamon-settings power
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Power Management
Name[af]=Kragbestuur
Name[am]=የሐይል አስተዳዳሪ
Name[ar]=إدارة الطاقة
Name[ast]=Alministración d'enerxía
Name[ay]=Ch'aman (energía) irpawi
Name[az]=Güc Yönətməni
Name[be]=Кіраванне сілкаваннем
Name[bg]=Управление на захранването
Name[br]=Ardoadur an tredan
Name[bs]=Upravljanje napajanjem
Name[ca]=Gestió de l'energia
Name[ca@valencia]=Gestió de l'energia
Name[cs]=Správa napájení
Name[cy]=Rheoli Pŵer
Name[da]=Strømstyring
Name[de]=Energieverwaltung
Name[el]=Διαχείριση Ενέργειας
Name[eo]=Energia administrado
Name[es]=Gestión de energía
Name[es_AR]=Gestión de energía
Name[et]=Toitehaldus
Name[eu]=Energia-kudeaketa
Name[fa]=مدیریت انرژی
Name[fi]=Virransäästö
Name[fr]=Gestion d'alimentation
Name[fr_CA]=Gestion de Courant
Name[ga]=Bainisteoireacht Cumhachta
Name[gd]=Stiùireadh na cumhachd
Name[gl]=Xestión da enerxía
Name[he]=ניהול צריכת חשמל
Name[hi]=ऊर्जा प्रबंधन
Name[hr]=Upravljanje energijom
Name[hu]=Energiakezelő
Name[ia]=Gestion del energia
Name[id]=Manajemen Daya
Name[is]=Aflstjórnun
Name[it]=Gestione dell'alimentazione
Name[ja]=電源管理
Name[ka]=ენერგიის მართვა
Name[kab]=Asefrek n tfasa
Name[ko]=전력 관리
Name[ku]=Gerînendeyê hêzê
Name[la]=Administratio alimoniae
Name[lt]=Energijos valdymas
Name[lv]=Barošanas pārvaldība
Name[ms]=Pengurusan Kuasa
Name[nb]=Strømstyring
Name[nds]=Energieverwaltung
Name[nl]=Energiebeheer
Name[oc]=Gestion de l'alimentacion
Name[pa]=ਪਾਵਰ ਪਰਬੰਧ
Name[pl]=Zarządzanie energią
Name[pt]=Gestão de energia
Name[pt_BR]=Gerenciamento de Energia
Name[ro]=Administrare consum
Name[ru]=Управление питанием
Name[rue]=Справованя живеня
Name[sc]=Manìgiu energia
Name[sk]=Správa napájania
Name[sl]=Upravljanje porabe energije
Name[sr]=Управљање напајањем
Name[sr@ijekavian]=Управљање напајањем
Name[sr@ijekavianlatin]=Управљање напајањем
Name[sr@latin]=Upravljanje energijom
Name[sv]=Strömhantering
Name[ta]=மின்சக்தி மேலாண்மை
Name[tg]=Идоракунии барқ
Name[th]=การจัดการพลังงาน
Name[tr]=Güç Yönetimi
Name[uk]=Керування живленням
Name[ur]=توانائی کا انتظام
Name[uz]=Quvvatni boshqarish
Name[vi]=Quản lý Nguồn điện
Name[zh_CN]=电源管理
Name[zh_HK]=電源管理
Name[zh_TW]=電源管理
Comment=Manage power settings
Comment[af]=Bestuur krag instellings
Comment[am]=የ ሐይል ማሰናጃዎች አስተዳዳሪ
Comment[ar]=إدارة إعدادات الطاقة
Comment[ast]=Axustes del alministrador d'enerxía
Comment[ay]=Ch'ama (energía) mayjachawi irpaña
Comment[az]=Güc quruluşlarını yönəlt
Comment[be]=Налады сілкавання
Comment[bg]=Управление на настройките на захранването
Comment[br]=Merañ arventennoù an tredan
Comment[bs]=Upravljaj podešavanjem napajanja
Comment[ca]=Gestioneu els ajusts de l'energia
Comment[ca@valencia]=Gestioneu els ajusts de l'energia
Comment[cs]=Správa nastavení napájení
Comment[cy]=Rheoli'r gosodiadau pŵer
Comment[da]=Administrér strømstyring
Comment[de]=Energieeinstellungen verwalten
Comment[el]=Διαχείριση ρυθμίσεων ενέργειας
Comment[eo]=Administri kurentajn agordojn
Comment[es]=Gestionar la configuración de la energía
Comment[es_AR]=Gestionar la configuración de la energía
Comment[et]=Toiteseadete haldamine
Comment[eu]=Kudeatu energia-ezarpenak
Comment[fa]=مدیریت تنظیمات انرژی
Comment[fi]=Muuta virranhallinnan asetuksia
Comment[fr]=Gérer les paramètres d'alimentation
Comment[fr_CA]=Gérer les paramètres d’alimentation
Comment[gd]=Stiùirich roghainnean na cumhachd
Comment[gl]=Administra os axustes de enerxía
Comment[he]=ניהול הגדרות צריכת חשמל
Comment[hi]=ऊर्जा सेटिंग्स प्रबंधन
Comment[hr]=Upravljajte postavkama energije
Comment[hu]=Energiabeállítások kezelése
Comment[ia]=Gere le configurationes del energia
Comment[id]=Kelola pengaturan daya
Comment[is]=Sýsla með orkusparnaðarstillingar
Comment[it]=Gestisci impostazioni alimentazione
Comment[ja]=電源の設定を管理
Comment[kab]=Sefrek iɣewwaren n wučči
Comment[ko]=전력 설정 관리
Comment[la]=Configuratio alimoniae
Comment[lt]=Tvarkyti energijos nustatymus
Comment[lv]=Pārvaldīt barošanas iestatījumus
Comment[ms]=Mengurus tetapan kuasa
Comment[nb]=Håndter strømsstyring
Comment[nds]=Energieeinstellungen verwalten
Comment[nl]=Energie-instellingen beheren
Comment[oc]=Gerir las opcions d’alimentacion
Comment[pl]=Zarządzaj ustawieniami zasilania
Comment[pt]=Gerir definições de energia
Comment[pt_BR]=Gerenciar as configurações de energia
Comment[ro]=Gestionează setările consumului
Comment[ru]=Управление параметрами питания
Comment[rue]=Справованя штімованями живеня
Comment[sc]=Manìgia cunfiguratziones de s'energia
Comment[sk]=Spravuje nastavenia napájania
Comment[sl]=Upravljajte z nastavitvami porabe energije
Comment[sq]=Menaxhoni parametrat e furnizimit të energjisë
Comment[sr]=Управљање поставкама напајања
Comment[sr@ijekavian]=Управљање поставкама напајања
Comment[sr@ijekavianlatin]=Управљање поставкама напајања
Comment[sr@latin]=Upravljanje podešavanjima napajanja
Comment[sv]=Hantera ströminställningar
Comment[tg]=Идоракунии танзимоти барқ
Comment[th]=จัดการการตั้งค่าพลังงาน
Comment[tr]=Güç ayarlarını yönet
Comment[uk]=Керування налаштуваннями живлення
Comment[ur]=توانائی کی ترتیبات کا انتظام
Comment[uz]=Quvvat parametrlarini boshqarish
Comment[vi]=Quản lý cài đặt nguồn điện
Comment[zh_CN]=电源管理
Comment[zh_HK]=管理電源設定
Comment[zh_TW]=管理電源設定
Keywords=power;suspend;hibernate;laptop;desktop;brightness;screensaver;
Keywords[am]=ሐይል፡ ማገጃ፡ ማስተኛ፡ ላፕቶፕ፡ ዴስክቶፕ፡ ብሩህንርት፡ መመልከቻውን ማዳኛ;
Keywords[ar]=الطاقة، تعليق، إسبات، لاب توب، سطح المكتب، السطوع، شاشة التوقف;
Keywords[ast]=enerxía;suspensión;ivernación;ivernar;suspender;portátil;escritoriu;rellumu;curiapantalles;pantalla;
Keywords[ay]=ch'ama;suyt'ayaña;juyphi pachana ikiyaña;laptop;iskrituryu;llijti;pantall qhispiyiri;energía;suspender;hibernar;portátil;escritorio;brillo;salvapantallas;
Keywords[az]=güc;gözlət;yuxuya get;dizüstü;iş qoyacağı;parlaqlıq;göstərici-qoruyan;
Keywords[be]=электрасілкаванне;чакаючы рэжым;спячы рэжым;ноўтбук;настольны;яркасць;застаўка;батарэя;
Keywords[bg]=захранване;приспиване;хиберниране;лаптоп;десктоп;яркост;предпазител на екрана;
Keywords[bs]=napajanje;suspenduj;hiberniraj;laptop;desktop;svjetlost;čuvar ekrana;
Keywords[ca]=energia;suspendre;hibernar;portàtil;escriptori;brillantor;estalvi de pantalla;
Keywords[ca@valencia]=energia;suspendre;hibernar;portàtil;escriptori;brillantor;estalvi de pantalla;
Keywords[cs]=energie;uspat;hibernovat;laptop;desktop;jas;spořič;
Keywords[cy]=pŵer;oedi;cysgu;gliniadur;bwrdd gwaith;disgleirdeb;arbedwr sgrin;
Keywords[da]=strøm;hvile;dvale;bærbar;stationær;lysstyrke;pauseskærm;
Keywords[de]=power;suspend;hibernate;laptop;desktop;brightness;screensaver;Energie;Bereitschaft;Ruhezustand;Schreibtisch;Helligkeit;Bildschirmschoner;
Keywords[el]=ενέργεια;αναστολή;αδρανοποίηση;φορητός υπολογιστής;σταθερός υπολογιστής;φωτεινότητα;προφύλαξη οθόνης;
Keywords[eo]=kurento;prokrasti;pasivumigi;tekokomputilo;labortablo;brileco;ekrankurteno;
Keywords[es]=energía;suspender;hibernar;portátil;escritorio;brillo;salvapantallas;
Keywords[es_AR]=energía;suspender;hibernar;portátil;escritorio;brillo;salvapantallas;
Keywords[et]=toide;peatamine;talveunerežiim;sülearvuti;töölaud;heledus;ekraanisäästja;
Keywords[eu]=energia;eseki;hibernatu;eramangarria;mahaigainekoa;distira;pantaila-babeslea;
Keywords[fa]=انرژی، تعلیق، خواب‌زمستانی، لپ‌تاپ، میزکار، روشنایی، محافظ صفحه‌نمایش;
Keywords[fi]=virta;valmiustila;lepotila;kannettava;pöytätietokone;näytönsäästäjä;
Keywords[fr]=alimentation;mise en veille;hibernation;ordinateur portable;ordinateur de bureau;luminosité;économiseur d'écran;
Keywords[fr_CA]=alimentation;mise en veille;hibernation;ordinateur portable;ordinateur de bureau;luminosité;économiseur d’écran;
Keywords[gd]=power;suspend;hibernate;laptop;desktop;brightness;screensaver;cumhachd;dàil;cuir 'na dhàil;geamhraich;geamhrachadh;soilleireachd;sàbhalaiche-sgrìn;
Keywords[gl]=enerxia;suspender;hibernar;portátil;escritorio;brillo;protector de pantalla;
Keywords[he]=צריכת חשמל;השעיה;שנת־חורף;מחשב נייד;בהירות;שומר־מרקע;
Keywords[hi]=ऊर्जा;स्थगित;सुप्त;लैपटॉप;डेस्कटॉप;आभा;स्क्रीनसेवर;
Keywords[hr]=uključi;suspendiraj;hiberniraj;prijenosno računalo;radna površina;osvjetljenje;čuvar zaslona;
Keywords[hu]=energia;táp;felfüggesztés;hibernálás;laptop;asztali gép;fényerő;képernyővédő;
Keywords[ia]=energia;stato de suspension;hibernar;portabile;scriptorio;brillantia;salvaschermo;
Keywords[id]=power;suspensi;hibernasi;laptop;desktop;brightness;screensaver;
Keywords[is]=orka;afl;svæfa;bið;fartölva;rafhlaða;skjáborð;birta;skjáhvíla;
Keywords[it]=alimentazione;sospensione;ibernazione;laptop;desktop;luminosità;salvaschermo;
Keywords[ja]=power;suspend;hibernate;laptop;desktop;brightness;screensaver;電源;サスペンド;スリープ;ハイバネート;休止状態;ラップトップ;ノート;デスクトップ;輝度;明るさ;スクリーンセーバー;
Keywords[kab]=tafasa;asewḥel;asgen;aselkim aziraz;aselkim n tnarit;tafat;amsekles n ugdil;
Keywords[ko]=전원;대기;잠자기;랩톱;데스크톱;밝기;화면보호기;
Keywords[lt]=maitinimas;energija;pristabdyti;užmigdyti;darbalaukis;ryškumas;ekrano užsklanda;nešiojamasis kompiuteris;
Keywords[lv]=barošanas;apturēt;hibernēt;klēpjdators;darbvirsmas;spilgtums;ekrānsaudzētājs;
Keywords[ms]=Kuasa;gantung;hibernasi;komputer riba;desktop;kecerahan;penjimat skrin;
Keywords[nb]=strøm;hvilemodus;dvalemodus;bærbar;skrivebord;lysstyrke;skjermsparer;
Keywords[nds]=Power;Bereitschaft;Ruhezustand;Laptop;Desktop;Helligkeit;Bildschirmschoner;
Keywords[nl]=energie;pauzestand;slaapstand;laptop;bureaucomputer;helderheid;schermbeveiliging;
Keywords[pl]=zasilanie;uśpienie;hibernacja;laptop;pulpit;jasność;wygaszacz ekranu;
Keywords[pt]=energia;suspender;hibernar;portátil;computador de secretária;brilho;protetor de ecrã;
Keywords[pt_BR]=energia;suspender;hibernar;laptop;área de trabalho;brilho;protetor de tela;
Keywords[ro]=energie;suspendare;hibernare;laptop;desktop;luminozitate;protector de ecran;
Keywords[ru]=питание;ожидание;сон;ноутбук;пк;яркость;заставка;
Keywords[rue]=живеня;чеканя;сон;ноутбук;компютор;світлость;застайка;
Keywords[sk]=za/vypnúť;uspať;hibernovať;notebook;plocha;jas;šetrič obrazovky;
Keywords[sl]=energija;pripravljenost;mirovanje;prenosnik;namizje;svetlost;ohranjevalnik zaslona;
Keywords[sr]=искључи;замрзни;обустави;преносни рачунар;рачунар;осветљење;чувар екрана;
Keywords[sr@ijekavian]=искључи;замрзни;обустави;преносни рачунар;рачунар;осветљење;чувар екрана;
Keywords[sr@ijekavianlatin]=искључи;замрзни;обустави;преносни рачунар;рачунар;осветљење;чувар екрана;
Keywords[sr@latin]=napajanje energijom;suspendovanje;hibernacija;laptop;desktop;osvetljenje;čuvar ekrana;
Keywords[sv]=ström;vänteläge;viloläge;bärbar dator;bordsdator;ljusstyrka;skärmsläckare;
Keywords[tg]=барқ;таваққуф;гибернатсия;лэптоп;мизи корӣ;дурахшонӣ;пардаи экран;
Keywords[th]=พลังงาน;พักเครื่อง;จำศีล;แล็ปท็อป;พื้นโต๊ะ;ความสว่าง;โปรแกรมรักษาหน้าจอ;
Keywords[tr]=güç;bekleme;uyku;dizüstü;masaüstü;parlaklık;ekran koruyucu;
Keywords[uk]=живлення;призупинення;гібернація;ноутбук;робочий стіл;яскравість;зберігач екрану;
Keywords[uz]=quvvat;toʻxtatib turish;kutish rejimi;noutbuk;ish stoli;yorqinlik;ekran saqlovchi;
Keywords[vi]=nguồn điện;tạm ngưng;ngủ đông;laptop;máy bàn;độ sáng;bảo vệ màn hình;
Keywords[zh_CN]=电源，待机，休眠，笔记本，台式机，亮度，屏保;
Keywords[zh_HK]=電源;暫停;休眠;筆記型電腦;桌上型電腦;亮度;熒幕保護程式;
Keywords[zh_TW]=電源;暫停;休眠;筆記型電腦;桌上型電腦;亮度;螢幕保護程式;
