[Desktop Entry]
Icon=cs-default-applications
Exec=cinnamon-settings default
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Preferred Applications
Name[af]=Voorkeurtoepassings
Name[am]=የ መረጥኩት መተግበሪያ
Name[ar]=التطبيقات المفضلة
Name[ast]=Aplicaciones preferíes
Name[ay]=Munat aplikasiyunanaka
Name[az]=Üstünlük verilən Uyğulamalar
Name[be]=Праграмы па змаўчанні
Name[bg]=Предпочитани програми
Name[bn]=পছন্দের অ্যাপ্লিকেশন
Name[br]=Arloadoù gwellañ karet
Name[bs]=Preferirane aplikacije
Name[ca]=Aplicacions preferides
Name[ca@valencia]=Aplicacions preferides
Name[cs]=Upřednostňované aplikace
Name[cy]=Rhaglenni Dewisol
Name[da]=Foretrukne programmer
Name[de]=Bevorzugte Anwendungen
Name[el]=Προτιμώμενες Εφαρμογές
Name[eo]=Preferaj Aplikaĵoj
Name[es]=Aplicaciones preferidas
Name[es_AR]=Aplicaciones preferidas
Name[et]=Eelistatud rakendused
Name[eu]=Hobetsitako aplikazioak
Name[fa]=برنامه های ترجیح داده شده
Name[fi]=Ohjelmat ja oletukset
Name[fr]=Applications préférées
Name[fr_CA]=Applications préférées
Name[gd]=Aplacaidean as fhearr leat
Name[gl]=Aplicativos preferidos
Name[he]=יישומים מועדפים
Name[hi]=इच्छित अनुप्रयोग
Name[hr]=Željene aplikacije
Name[hu]=Alapértelmezett alkalmazások
Name[ia]=Applicationes preferite
Name[id]=Aplikasi Pilihan
Name[ie]=Applicationes preferet
Name[is]=Sjálfgefin forrit
Name[it]=Applicazioni preferite
Name[ja]=お気に入りのアプリ
Name[ka]=სასურველი პროგრამები
Name[kab]=Isnasen imenyafen
Name[ko]=기본 애플리케이션
Name[ku]=Sepanên ku Têne Tercîhkirin
Name[lo]=ໂປຣແກຣມທີ່ເລືອກ
Name[lt]=Pageidaujamos programos
Name[lv]=Noklusētās programmas
Name[ms]=Aplikasi Digemari
Name[nb]=Foretrukne programmer
Name[nds]=Bevorzugte Anwendungen
Name[nl]=Voorkeurstoepassingen
Name[oc]=Aplicacions preferidas
Name[pl]=Preferowane programy
Name[pt]=Aplicações preferidas
Name[pt_BR]=Aplicativos Preferenciais
Name[ro]=Aplicații preferate
Name[ru]=Предпочтительные приложения
Name[rue]=Майлюбимі придаткы
Name[sc]=Aplicatziones preferidas
Name[sk]=Uprednostňované aplikácie
Name[sl]=Prednostni programi
Name[sq]=Programet e preferuara
Name[sr]=Омиљени програми
Name[sr@ijekavian]=Омиљени програми
Name[sr@ijekavianlatin]=Омиљени програми
Name[sr@latin]=Preferirane aplikacije
Name[sv]=Förvalda program
Name[th]=โปรแกรมที่ชอบ
Name[tr]=Tercih Edilen Uygulamalar
Name[uk]=Усталені програми
Name[ur]=ترجیحی ایپلی کیشنز
Name[uz]=Tanlangan dasturlar
Name[vi]=Ứng dụng Ưa thích
Name[zh_CN]=首选应用程序
Name[zh_HK]=喜好的應用程式
Name[zh_TW]=偏好的應用程式
Comment=Preferred Applications
Comment[af]=Voorkeurtoepassings
Comment[am]=የ መረጥኩት መተግበሪያ
Comment[ar]=التطبيقات المفضلة
Comment[ast]=Aplicaciones preferíes
Comment[ay]=Munat aplikasiyunanaka
Comment[az]=Üstünlük verilən Uyğulamalar
Comment[be]=Праграмы па змаўчанні
Comment[bg]=Предпочитани програми
Comment[bn]=পছন্দের অ্যাপ্লিকেশন
Comment[br]=Arloadoù gwellañ karet
Comment[bs]=Preferirane aplikacije
Comment[ca]=Aplicacions preferides
Comment[ca@valencia]=Aplicacions preferides
Comment[cs]=Upřednostňované aplikace
Comment[cy]=Rhaglenni Dewisol
Comment[da]=Foretrukne programmer
Comment[de]=Bevorzugte Anwendungen
Comment[el]=Προτιμώμενες Εφαρμογές
Comment[eo]=Preferaj Aplikaĵoj
Comment[es]=Aplicaciones preferidas
Comment[es_AR]=Aplicaciones preferidas
Comment[et]=Eelistatud rakendused
Comment[eu]=Hobetsitako aplikazioak
Comment[fa]=برنامه های ترجیح داده شده
Comment[fi]=Ohjelmat ja oletukset
Comment[fr]=Applications préférées
Comment[fr_CA]=Applications préférées
Comment[gd]=Aplacaidean as fhearr leat
Comment[gl]=Aplicativos preferidos
Comment[he]=יישומים מועדפים
Comment[hi]=इच्छित अनुप्रयोग
Comment[hr]=Željene aplikacije
Comment[hu]=Alapértelmezett alkalmazások
Comment[ia]=Applicationes preferite
Comment[id]=Aplikasi Pilihan
Comment[ie]=Applicationes preferet
Comment[is]=Sjálfgefin forrit
Comment[it]=Applicazioni preferite
Comment[ja]=お気に入りのアプリ
Comment[ka]=სასურველი პროგრამები
Comment[kab]=Isnasen imenyafen
Comment[ko]=기본 애플리케이션
Comment[ku]=Sepanên ku Têne Tercîhkirin
Comment[lo]=ໂປຣແກຣມທີ່ເລືອກ
Comment[lt]=Pageidaujamos programos
Comment[lv]=Noklusētās programmas
Comment[ms]=Aplikasi Digemari
Comment[nb]=Foretrukne programmer
Comment[nds]=Bevorzugte Anwendungen
Comment[nl]=Voorkeurstoepassingen
Comment[oc]=Aplicacions preferidas
Comment[pl]=Preferowane programy
Comment[pt]=Aplicações preferidas
Comment[pt_BR]=Aplicativos Preferenciais
Comment[ro]=Aplicații preferate
Comment[ru]=Предпочтительные приложения
Comment[rue]=Майлюбимі придаткы
Comment[sc]=Aplicatziones preferidas
Comment[sk]=Uprednostňované aplikácie
Comment[sl]=Prednostni programi
Comment[sq]=Programet e preferuara
Comment[sr]=Омиљени програми
Comment[sr@ijekavian]=Омиљени програми
Comment[sr@ijekavianlatin]=Омиљени програми
Comment[sr@latin]=Preferirane aplikacije
Comment[sv]=Förvalda program
Comment[th]=โปรแกรมที่ชอบ
Comment[tr]=Tercih Edilen Uygulamalar
Comment[uk]=Усталені програми
Comment[ur]=ترجیحی ایپلی کیشنز
Comment[uz]=Tanlangan dasturlar
Comment[vi]=Ứng dụng Ưa thích
Comment[zh_CN]=首选应用程序
Comment[zh_HK]=喜好的應用程式
Comment[zh_TW]=偏好的應用程式
Keywords=media;defaults;applications;programs;removable;browser;email;calendar;music;videos;photos;images;cd;autoplay;favorite;apps;
Keywords[ar]=الوسائط، الافتراضية، التطبيقات، البرامج، القابلة للإزالة، المتصفح، البريد الإلكتروني، التقويم، الموسيقى، الفيديو، الصور، الصور، القرص المضغوط، التشغيل التلقائي، المفضلة، التطبيقات;
Keywords[ast]=multimedia;predetermináos;aplicaciones;programas;desaniciable;restolador;corréu lletrónicu;calendariu;música;videos;semeyes;imáxenes;cd;reproducción automática;favoritu;apps;
Keywords[ay]=yanapa;qalltatpach ajllita;aplikasiyunanaka;programanaka;siksuñataki;tuyuri;e-chaski;pacha-mara-jakhu;kirkiwi;videos;phutunaka;jamuqanaka;cd;justupak kirkiyawi;munata;jisk'a-aplikasiyunanaka;soporte;predeterminadas;aplicaciones;programas;extraíble;navegador;correo;calendario;música;vídeos;fotos;imágenes;reproducción;automática;favoritas;apps;
Keywords[be]=медыя;перадвызначаныя;праграмы;здымныя;браўзер;пошта;каляндар;музыка;відэа;фота;выявы;дыск;аўтапрайграванне;абраныя;
Keywords[bg]=медия;стандартни;приложения;програми;преносими;браузър;имейл;календар;музика;видео;снимки;изображения;cd;автоматично;л'бими;приложения;
Keywords[ca]=mitjans;valors per defecte;aplicacions;programes;extraïble;navegador;correu electrònic;calendari;música;vídeos;fotos;imatges;CD;reproducció automàtica;preferits;
Keywords[ca@valencia]=mitjans;valors per defecte;aplicacions;programes;extraïble;navegador;correu electrònic;calendari;música;vídeos;fotos;imatges;CD;reproducció automàtica;preferits;aplicacions;
Keywords[cs]=média;výchozí;aplikace;programy;vyjímatelné;prohlížeč;e-mail;kalendář;hudba;videa;fotky;obrázky;cd;automatické spouštění;oblíbené;
Keywords[cy]=cyfryngau;rhagosodiadau;rhaglenni;symudadwy;porwr;e-bost;calendr;cerddoriaeth;fideos;ffotograffau;delweddau;cd;awtochwarae;hoff;apiau;
Keywords[da]=medier;standarder;programmer;applikationer;flytbar;browser;e-mail;kalender;musik;videoer;billeder;fotos;cd;automatisk afspilning;favorit;app;
Keywords[de]=Medien;Vorgaben;Standards;Anwendungen;Programme;entfernbar;Browser;E-Mail;Kalender;Musik;Videos;Fotos;Bilder;CD;automatische Wiedergabe;Favoriten;Apps;defaults;removable;email;calendar;photos;images;pictures;autoplay;favorite;
Keywords[el]=μέσα;προεπιλογές;εφαρμογές;προγράμματα;αφαιρούμενο μέσο;πρόγραμμα περιήγησης;πρόγραμμα ηλεκτρονικού ταχυδρομείου;ημερολόγιο;μουσική;βίντεο;φωτογραφίες;εικόνες;cd;αυτόματη αναπαραγωγή;αγαπημένα;εφαρμογές;
Keywords[en_GB]=media;defaults;applications;programs;removable;browser;email;calendar;music;videos;photos;images;cd;autoplay;favourite;apps;
Keywords[eo]=datumportilo;defaŭltoj;aplikaĵoj;programoj;demetebla;foliumilo;retpoŝto;kalendaro;muziko;filmetoj;fotoj;bildoj;lumdisko;aŭtomate ludi;preferaĵo;apoj;
Keywords[es]=soporte;predeterminadas;aplicaciones;programas;extraíble;navegador;correo;calendario;música;vídeos;fotos;imágenes;cd;reproducción;automática;favoritas;
Keywords[es_AR]=soporte;predeterminadas;aplicaciones;programas;extraíble;navegador;correo;calendario;música;vídeos;fotos;imágenes;cd;reproducción;automática;favoritas;
Keywords[et]=meedia;vaikimisi;rakendused;programmid;eemaldatav;brauser;e-post;email;e-mail;kalender;muusika;videod;fotod;pildid;cd;plaat;automaatne;lemmik;äpid;
Keywords[eu]=multimedia;lehenetsiak;aplikazioak;programak;aldagarria;arakatzailea;posta;egutegia;musika;bideoak;argazkiak;irudiak;cd;erreproduzitu automatikoki;gogokoak;app-ak;
Keywords[fa]=رسانه، پیش‌فرض‌ها، برنامه ها، نرم‌افزارها، قابل‌جداسازی، مرورگر، ایمیل، تقویم، موسیقی، ویدیوها، عکس‌ها، تصاویر، cd ، پخش‌خودکار، علاقه‌مندی، برنامه ها;
Keywords[fi]=media;oletukset;sovellukset;ohjelmat;poistettavat;selain;sähköposti;kalenteri;musiikki;videot;valokuvat;kuvat;cd;automaattitoisto;suosikki;sovellukset;
Keywords[fr]=médias;défaut;applications;programmes;amovible;navigateur;e-mail;email;courriel;agenda;musique;vidéos;photos;images;cd;lecture automatique;favorites;applications;
Keywords[fr_CA]=médias;défaut;applications;programmes;amovible;navigateur;e-mail;email;courriel;agenda;musique;vidéos;photos;images;cd;lecture automatique;favorites;applications;
Keywords[he]=מדיה;ברירות מחדל;יישום;תכנות;ניתנים להסרה;דפדפן;דוא"ל;לוח שנה;מוזיקה;חוזי;תמונות;דמויות;תקליטור;נגינה אוטומטית;מועדפים;יישומים;יישומונים;
Keywords[hi]=मीडिया;डिफ़ॉल्ट;अनुप्रयोग;प्रोग्राम;हटाने योग्य;ब्राउज़र;ईमेल;दिनदर्शिका;संगीत;वीडियो;फोटो;चित्र;सीडी;स्वतः चालू;पसंदीदा;ऐप;
Keywords[hr]=medija;zadano;aplikacije;programi;uklonjivo;preglednik;e-pošta;kalendar;glazba;video;fotografije;slike;cd;automatska reprodukcija;omiljeno;aplik;
Keywords[hu]=média;alapértelmezett;alkalmazások;programok;cserélhető;böngésző;e-mail;naptár;zene;videók;fényképek;fotók;képek;cd;automatikus;lejátszás;kedvenc;appok;
Keywords[ia]=medios;valores predefinite;applicationes;programmas;removibile;navigator;email;calendario;musica;videos;photos;imagines;cd;autoreproduce;favorito;applicationes;
Keywords[id]=media;baku;aplikasi;program;lepasan;peramban;surel;kalender;musik;video;foto;gambar;CD;autoplay;favorit;aplikasi;
Keywords[is]=miðlar;sjálfgefið;forrit;útskiptanleg;vafri;póstur;dagatal;tónlist;vídeó;myndskeið;myndir;cd;sjálfspila;eftirlæti;smáforrit;forrit;
Keywords[it]=media;predefiniti;applicazioni;programmi;rimuovibili;browser;email;calendario;musica;video;foto;immagini;cd;autoplay;preferiti;apps;
Keywords[ja]=media;defaults;applications;programs;removable;browser;email;calendar;music;videos;photos;images;cd;autoplay;favorite;apps;メディア;デフォルト;既定;アプリケーション;プログラム;リムーバブル;ブラウザー;メール;カレンダー;ミュージック;音楽;ビデオ;動画;フォト;写真;イメージ;画像;自動再生;お気に入り;アプリ;
Keywords[kab]=allal n teywalt;imezwar;isnasen;ahilen;allalen yettwakkasen;iminig;email;awitay;aẓawan;tividyutin;tiwtafin;tugniwin;cd;taɣuri tawurmant;inurifen;izegrar;
Keywords[ko]=미디어;기본;애플리케이션;프로그램;제거가능;브라우저;이메일;달력;음악;비디오;사진;이미지;cd;자동재생;즐겨찾기;앱;
Keywords[lt]=medija;numatytosios;programos;keičiamieji;naršyklė;el. paštas;kalendorius;muzika;vaizdo įrašai;video;nuotraukos;paveikslai;paveikslėliai;cd;automatinis paleidimas;mėgstamos;
Keywords[nb]=media;standarder;applikasjoner;programmer;flyttbar;nettleser;e-post;kalender;musikk;videoer;fotoer;bilder;cd;automatisk avspilling;favoritt;apper;
Keywords[nl]=media;standaarden;toepassingen;programma's;verwijderbaar;webbrowser;email;kalender;muziek;video's;foto's;afbeeldingen;CD;automatisch afspelen;favoriet;
Keywords[pl]=media;ustawienia domyślne;aplikacje;programy;przenośne;przeglądarka;poczta elektroniczna;kalendarz;muzyka;filmy;zdjęcia;obrazy;cd;autoodtwarzanie;ulubione;aplikacje;
Keywords[pt]=multimédia;predefinidos;aplicações;programas;removível;navegador;e-mail;calendário;música;vídeos;fotos;imagens;CD;reprodução automática;favoritos;aplicações;
Keywords[pt_BR]=mídia;padrões;aplicativos;programas;removível;navegador;email;calendário;música;vídeos;fotos;imagens;cd;autoinício;favorito;apps;
Keywords[ro]=media;implicite;aplicații;programe;amovibile;browser;e-mail;calendar;muzică;clipuri video;fotografii;imagini;cd;redare automată;preferate;aplicații;
Keywords[ru]=носители;настройки по умолчанию;приложения;программы;съемные устройства;браузер;электронная почта;календарь;музыка;видео;фото;изображения;CD;автозапуск;избранное;
Keywords[rue]=носителі;стандардні штімованя;придаткы;проґрамы;знимані девайсы;браузер;електрона пошта;календарь;музика;відео;фотькы;образчикы;CD;аутобавеня;убраноє;
Keywords[sk]=médiá;predvolené;aplikácie;programy;odstrániteľné;prehliadač;email;kalendár;hudba;videá;fotky;obrázky;cd;autoprehrávače;obľúbené;appy;
Keywords[sl]=mediji;privezete;aplikacije;programi;izmenljiv;brskalnik;e-pošta;koledar;glasba;videi;fotografije;slike;cd;samodejno predvajanje;pribljubljeno;apps;
Keywords[sr]=медија;подразумевано;апликације;програми;уклоњиво;прегледач;е-пошта;календар;музика;видео;фотографија;слике;цд;аутоматска репродукција;омиљено;програми;
Keywords[sr@ijekavian]=медија;подразумевано;апликације;програми;уклоњиво;прегледач;е-пошта;календар;музика;видео;фотографија;слике;цд;аутоматска репродукција;омиљено;програми;
Keywords[sr@ijekavianlatin]=медија;подразумевано;апликације;програми;уклоњиво;прегледач;е-пошта;календар;музика;видео;фотографија;слике;цд;аутоматска репродукција;омиљено;програми;
Keywords[sr@latin]=mediji;podrazumevane vrednosti;aplikacije;programi;uklonjivi;pretraživač;e-pošta;kalendar;muzika;video;fotografije;slike;cd;automatska reprodukcija;omiljeno;aplikacije;
Keywords[sv]=media;standard;program;program;flyttbar;webbläsare;e-post;kalender;musik;videor;foton;bilder;cd;autoplay;favorit;appar;
Keywords[tr]=ortam;varsayılanlar;uygulamalar;programlar;çıkartılabilir;gözat;eposta;takvim;müzik;videolar;fotoğraflar;resimler;cd;otomatik oynat;sevilenler;uyg;
Keywords[uk]=носії;типові налаштування;додатки;програми;знімні пристрої;бравзер;електронна пошта;календар;музика;відео;світлини;зображення;CD;автозапуск;обране;додатки;
Keywords[uz]=media;standart;ilovalar;dasturlar;olinadigan;brauzer;e-pochta;taqvim;musiqa;videolar;foto;rasmlar;cd;avtomatik ijro;sevimli;ilovalar;
Keywords[vi]=phương tiện truyền thông;mặc định;ứng dụng;chương trình;có thể xóa được;trình duyệt;email;lịch;nhạc;video;hình ảnh;hình chụp;hình ảnh;cd;tự động chạy;ưa thích;các ứng dụng.;
Keywords[zh_CN]=媒体，默认，应用程序，程序，可移动，浏览器，电子邮件，日历，音乐，视频，照片，图像，CD，自动播放，收藏，应用程序;
Keywords[zh_HK]=媒體;預設值;應用程式;程式;可移除式媒體;瀏覽器;Email;日曆;音樂;影片;圖片;影像;CD;自動播放;喜愛項目;Apps;
Keywords[zh_TW]=媒體;預設值;應用程式;程式;可移除式媒體;瀏覽器;Email;日曆;音樂;影片;圖片;影像;CD;自動播放;喜愛項目;Apps;
