[Desktop Entry]
Icon=cs-details
Exec=cinnamon-settings info
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=System Info
Name[am]=የስርአት መረጃ
Name[ar]=معلومات النظام
Name[ast]=Información del sistema
Name[be]=Сістэмная інфармацыя
Name[be@latin]=Сістэмная інфармацыя
Name[bg]=Информация за системата
Name[bs]=Informacije o sistemu
Name[ca]=Informació del sistema
Name[ca@valencia]=Informació del sistema
Name[cs]=Systémové informace
Name[cy]=Gwybodaeth System
Name[da]=Systemoplysninger
Name[de]=Systeminformation
Name[de_DE]=Systeminformation
Name[el]=Πληροφορίες συστήματος
Name[eo]=Sisteminformoj
Name[es]=Información del sistema
Name[es_AR]=Información del sistema
Name[es_CL]=Información del sistema
Name[es_CO]=Información del sistema
Name[es_CR]=Información del sistema
Name[es_DO]=Información del sistema
Name[es_EC]=Información del sistema
Name[es_ES]=Información del sistema
Name[es_GT]=Información del sistema
Name[es_HN]=Información del sistema
Name[es_MX]=Información del sistema
Name[es_NI]=Información del sistema
Name[es_PA]=Información del sistema
Name[es_PE]=Información del sistema
Name[es_PR]=Información del sistema
Name[es_SV]=Información del sistema
Name[es_US]=Información del sistema
Name[es_UY]=Información del sistema
Name[es_VE]=Información del sistema
Name[et]=Süsteemi info
Name[eu]=Sistemaren informazioa
Name[fi]=Järjestelmätiedot
Name[fr]=Information système
Name[fr_CA]=Information système
Name[ga]=Faisnéis Córais
Name[gd]=Fiosrachadh mun t-siostam
Name[gl]=Información do sistema
Name[hr]=Informacije sustava
Name[hu]=Rendszerinformációk
Name[ia]=Informationes de systema
Name[id]=Informasi Sistem
Name[is]=Kerfisupplýsingar
Name[it]=Informazioni di sistema
Name[ja]=システム情報
Name[ko]=시스템 정보
Name[lo]=ຂໍ້ມູນລະບົບ
Name[lt]=Sistemos informacija
Name[lv]=Sistēmas informācija
Name[ms]=Maklumat Sistem
Name[ms_MY]=Maklumat Sistem
Name[nb]=Systeminformasjon
Name[nds]=Systeminformationen
Name[nl]=Systeeminformatie
Name[nl_NL]=Systeeminformatie
Name[oc]=Informacions sul sistèma
Name[om]=Odeeffanoo sirnaa
Name[pa]=ਸਿਸਟਮ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o systemie
Name[pt]=Informações do sistema
Name[pt_BR]=Informações do sistema
Name[pt_PT]=Informações do sistema
Name[ro]=Informații sistem
Name[ru]=О системе
Name[sk]=Systémové informácie
Name[sl]=Sistemski podatki
Name[sq]=Informacione mbi sistemin
Name[sr]=Подаци о систему
Name[sr@Latn]=Подаци о систему
Name[sr@ije]=Подаци о систему
Name[sr@ijekavian]=Подаци о систему
Name[sr@ijekavianlatin]=Подаци о систему
Name[sr@latin]=Подаци о систему
Name[sv]=Systeminformation
Name[ta]=கணினி தகவல்
Name[ta_LK]=கணினி தகவல்
Name[tg]=Иттилооти система
Name[th]=ข้อมูลระบบ
Name[tr]=Sistem Bilgisi
Name[uk]=Інформація про систему
Name[ur]=سسٹم معلومات
Name[ur_PK]=سسٹم معلومات
Name[vi]=Thông tin Hệ thống
Name[zh_CN]=系统信息
Name[zh_HK]=系統資訊
Name[zh_TW]=系統資訊
Comment=Display system information
Comment[am]=የ ስርአቱን መረጃ ማሳያ
Comment[ar]=إظهار معلومات النظام
Comment[be]=Паказаць сістэмная інфармацыю
Comment[be@latin]=Паказаць сістэмная інфармацыю
Comment[bg]=Покажи системна информация
Comment[bs]=Prikaži informacije o sistemu
Comment[ca]=Mostrar Informació del sistema
Comment[ca@valencia]=Mostra la informació del sistema
Comment[cs]=Zobrazit systémové informace
Comment[cy]=Dangos gwybodaeth system
Comment[da]=Vis systeminformation
Comment[de]=Systeminformationen anzeigen
Comment[de_DE]=Systeminformationen anzeigen
Comment[el]=Προβολή πληροφοριών για τον υπολογιστή
Comment[es]=Mostrar información del sistema
Comment[es_AR]=Mostrar información del sistema
Comment[es_CL]=Mostrar información del sistema
Comment[es_CO]=Mostrar información del sistema
Comment[es_CR]=Mostrar información del sistema
Comment[es_DO]=Mostrar información del sistema
Comment[es_EC]=Mostrar información del sistema
Comment[es_ES]=Mostrar información del sistema
Comment[es_GT]=Mostrar información del sistema
Comment[es_HN]=Mostrar información del sistema
Comment[es_MX]=Mostrar información del sistema
Comment[es_NI]=Mostrar información del sistema
Comment[es_PA]=Mostrar información del sistema
Comment[es_PE]=Mostrar información del sistema
Comment[es_PR]=Mostrar información del sistema
Comment[es_SV]=Mostrar información del sistema
Comment[es_US]=Mostrar información del sistema
Comment[es_UY]=Mostrar información del sistema
Comment[es_VE]=Mostrar información del sistema
Comment[et]=Süsteemi teabe näitamine
Comment[eu]=Bistaratu sistemaren informazioa
Comment[fi]=Näytä järjestelmätiedot
Comment[fr]=Afficher les informations du système
Comment[fr_CA]=Afficher les informations du système
Comment[gd]=Seall fiosrachadh mun t-siostam
Comment[gl]=Amosar a información do sistema
Comment[hr]=Prikaži informacije sustava
Comment[hu]=Rendszerinformációk megjelenítése
Comment[ia]=Monstrar le informationes de systema
Comment[id]=Tampilkan informasi sistem
Comment[is]=Birta upplýsingar um kerfið
Comment[it]=Visualizza le informazioni di sistema
Comment[ja]=システム情報を表示
Comment[ko]=시스템 정보 표시
Comment[lo]=ສະແດງຂໍ້ມູນກ່ຽວກັບລະບົບ
Comment[lt]=Rodyti sistemos informaciją
Comment[lv]=Attēlot sistēmas informāciju
Comment[ms]=Papar maklumat sistem
Comment[ms_MY]=Papar maklumat sistem
Comment[nb]=Vis systeminformasjon
Comment[nds]=Systeminformationen anzeigen
Comment[nl]=Systeeminformatie weergeven
Comment[nl_NL]=Systeeminformatie weergeven
Comment[pl]=Wyświetlaj informacje systemowe
Comment[pt]=Mostrar a informação do sistema
Comment[pt_BR]=Exibir informações do sistema
Comment[pt_PT]=Mostrar a informação do sistema
Comment[ro]=Arată informații despre sistem
Comment[ru]=Отображать информацию о системе
Comment[sk]=Zobraziť systémové informácie
Comment[sl]=Prikaži podrobnosti sistema
Comment[sq]=Shfaq informacione mbi sistemin
Comment[sr]=Прикажи податке о систему
Comment[sr@Latn]=Прикажи податке о систему
Comment[sr@ije]=Прикажи податке о систему
Comment[sr@ijekavian]=Прикажи податке о систему
Comment[sr@ijekavianlatin]=Прикажи податке о систему
Comment[sr@latin]=Прикажи податке о систему
Comment[sv]=Visa systeminformation
Comment[tg]=Намоиш додани иттилооти система
Comment[th]=แสดงข้อมูลระบบ
Comment[tr]=Sistem bilgisini göster
Comment[uk]=Показати системну інформацію
Comment[ur]=سسٹم معلومات دکھائیں
Comment[ur_PK]=سسٹم معلومات دکھائیں
Comment[vi]=Hiển thị thông tin hệ thống
Comment[zh_CN]=显示系统信息
Comment[zh_HK]=顯示系統資訊
Comment[zh_TW]=顯示系統資訊
Keywords=system;information;details;graphic;sound;kernel;version;
Keywords[am]=ስርአት : መረጃ : ዝርዝር : ንድፍ : ድምፅ : kernel;እትም;
Keywords[ar]=النظام، معلومات، تفاصيل، عرض، صوت، النواة، الإصدار;
Keywords[ast]=sistema;información;gráficu;soníu;kernel;versión;
Keywords[be]=сістэма;інфармацыя;падрабязнасці;графіка;гук;ядро;версія;
Keywords[be@latin]=сістэма;інфармацыя;падрабязнасці;графіка;гук;ядро;версія;
Keywords[bg]=система;информация;детайли;графика;звук;ядро;версия;
Keywords[bs]=sistem;informacije;detalji;grafika;zvuk;kernel;verzija;
Keywords[ca]=sistema;informació;detalls;gràfics;so;nucli;versió;
Keywords[ca@valencia]=sistema;informació;detalls;gràfics;so;nucli;versió;
Keywords[cs]=system;informace;detaily;grafika;hudba;jádro;verze;
Keywords[cy]=system;gwybodaeth;manylion;graffigau;sain;cnewyllyn;fersiwn;
Keywords[da]=system;information;detaljer;grafik;lyd;kerne;version;
Keywords[de]=System;Informationen;Details;Grafik;Sound-Karte;Kernel;Version;
Keywords[de_DE]=System;Informationen;Details;Grafik;Sound-Karte;Kernel;Version;
Keywords[el]=σύστημα;πληροφορίες;λεπτομέρειες;γραφικά;ήχος;πυρήνας;έκδοση;
Keywords[es]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_AR]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_CL]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_CO]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_CR]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_DO]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_EC]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_ES]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_GT]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_HN]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_MX]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_NI]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_PA]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_PE]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_PR]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_SV]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_US]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_UY]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[es_VE]=sistema;información;detalles;gráficos;sonido;nucleo;versión;
Keywords[et]=süsteem;info;detailid;graafika;heli;kernel;versioon;
Keywords[eu]=sistema;informazioa;xehetasunak;grafikoak;soinua;kernela;bertsioa;
Keywords[fi]=järjestelmä;tietoja;yksityiskohdat;grafiikka;ääni;ydin;versio;
Keywords[fr]=système;information;détails;graphique;son;noyau;version;
Keywords[fr_CA]=système;information;détails;graphique;son;noyau;version;
Keywords[ga]=córas;eolas;sonraí;grafach;fuaim;eithne;leagan;
Keywords[gd]=siostam;fiosrachadh;mion-fhiosrachadh;grafaigeach;fuaim;eitean;tionndadh;system;information;details;graphic;sound;kernel;version;
Keywords[gl]=sistema;información;detalles;gráficos;son;núcleo;versión;
Keywords[hr]=sustav;informacija;pojedinosti;grafika;zvuk;kernel;inačica;
Keywords[hu]=rendszer;információk;részletek;grafika;hang;kernel;verzió;
Keywords[ia]=systema;informationes;detalios;graphic;sono;kernel;version;
Keywords[id]=sistem;informasi;detailm grafis;suara;kernel;versi;
Keywords[is]=kerfi;upplýsingar;nánar;myndrænt;hljóð;kjarni;útgáfa;
Keywords[it]=sistema;informazione;dettagli;grafica;suono;kernel;versione;
Keywords[ja]=システム、情報、詳細、グラフィック、音、カーネル、バージョン;
Keywords[ko]=시스템;정보;세부사항;그래픽;사운드;커널;버전;
Keywords[lo]=ລະບົບ;ຂໍ້ມູນ;ລາຍລະອຽດ;ຮູບພາບ;ສຽງ;ເຄີເນວ;ລູ້ນ;
Keywords[lt]=sistema;informacija;grafika;garsas;branduolys;versija;
Keywords[lv]=sistēma;informācija;detaļas;grafika;skaņa;kodols;versija;
Keywords[ms]=sistem;maklumat;terperinci;grafik;bunyi;kernel;versi;
Keywords[ms_MY]=sistem;maklumat;terperinci;grafik;bunyi;kernel;versi;
Keywords[nb]=system;informasjon;detaljer;grafikk;lyd;kjerne;versjon;
Keywords[nds]=System;Information;Details;Grafik;Audio;Kernel;Version;
Keywords[nl]=systeem;informatie;details;grafisch;geluid;kernel;versie;
Keywords[nl_NL]=systeem;informatie;details;grafisch;geluid;kernel;versie;
Keywords[om]=sirna;odeeffannoo;bal'inaalee;saxaatoo;sagalee;kerneelii;bahiinsa;
Keywords[pl]=system;informacja;szczegóły;grafika;dźwięk;jądro;wersja;
Keywords[pt]=sistema;informações;detalhes;objetos;som;kernel;versão;
Keywords[pt_BR]=sistema;informação;detalhes;gráficos;som;kernel;versão;
Keywords[pt_PT]=sistema;informações;detalhes;objetos;som;kernel;versão;
Keywords[ro]=sistem;informații;detalii;grafică;sunet;kernel;versiune;
Keywords[ru]=система;информация;подробности;графика;звук;ядро;версия;
Keywords[sk]=systém;informácia;detaily;grafika;hudba;jadro;verzia;
Keywords[sl]=sistem;podatki;podrobnosti;grafika;zvok;jedro;različica;
Keywords[sq]=sistemi;informacione;detaje;grafika;zëri;kernel;versioni;
Keywords[sr]=систем;обавештење;појединости;графика;звук;језгро;издање;подаци;
Keywords[sr@Latn]=систем;обавештење;појединости;графика;звук;језгро;издање;подаци;
Keywords[sr@ije]=систем;обавештење;појединости;графика;звук;језгро;издање;подаци;
Keywords[sr@ijekavian]=систем;обавештење;појединости;графика;звук;језгро;издање;подаци;
Keywords[sr@ijekavianlatin]=систем;обавештење;појединости;графика;звук;језгро;издање;подаци;
Keywords[sr@latin]=систем;обавештење;појединости;графика;звук;језгро;издање;подаци;
Keywords[sv]=system;information;detaljer;grafik;ljud;kärna;version;
Keywords[ta]=கணினி;தகவல்;விவரங்கள்;வரைகலை;ஒலி;கர்னல்;பதிப்பு;
Keywords[ta_LK]=கணினி;தகவல்;விவரங்கள்;வரைகலை;ஒலி;கர்னல்;பதிப்பு;
Keywords[tg]=система;иттилоот;тафсилот;графика;садо;ҳаста;версия;
Keywords[th]=ระบบ;ข้อมูล;รายละเอียด;กราฟิก;เสียง;เคอร์เนล;รุ่น;
Keywords[tr]=sistem;bilgi;ayrıntılar;grafik;ses;çekirdek;sürüm;
Keywords[uk]=система;інформація;подробиці;графіка;звук;ядро;версія;
Keywords[vi]=hệ thống;thông tin;chi tiết;đồ hoạ;âm thanh;nhân;phiên bản;
Keywords[zh_CN]=system;information;details;graphic;sound;kernel;version;系统;信息;详情;细节;图形;声音;内核;版本;
Keywords[zh_HK]=系統;資訊;詳細;圖像;聲音;核心;版本;
Keywords[zh_TW]=系統;資訊;詳細資訊;繪圖;音效;核心;版本;
