[Desktop Entry]
Icon=cs-desklets
Exec=cinnamon-settings desklets
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Desklets
Name[am]=ዴስክሌቶች
Name[bg]=Десклети
Name[cs]=Desklety
Name[cy]=Desgledi
Name[da]=Skrivebordsprogrammer
Name[el]=Εφαρμογές Οθόνης
Name[eo]=Deskletoj
Name[fi]=Sovelmat
Name[ga]=Deiscíní
Name[gd]=Aplaidean-dheasc
Name[gl]=Trebellos
Name[hr]=Deskleti
Name[hu]=Asztalkalmazások
Name[id]=Desklet
Name[is]=Skjáborðsgræjur
Name[it]=Desklet
Name[ja]=デスクレット
Name[lt]=Ekrano programėlės
Name[lv]=Sīkrīki
Name[ms]=Desklet
Name[nb]=Skrivebordsprogrammer
Name[nl]=Minitoepassingen
Name[pa]=ਡੈਸਕਲੇਟਸ
Name[pl]=Desklety
Name[ro]=Desklet-uri
Name[ru]=Десклеты
Name[sk]=Desklety
Name[sl]=Apleti namizja
Name[sr]=Справице површи
Name[sr@ijekavianlatin]=Справице површи
Name[sr@latin]=Справице површи
Name[ta]=திரை நிரல்கள்
Name[tg]=Барномаҳои мизи корӣ
Name[th]=เดสก์เล็ต
Name[tr]=Masaüstü Uygulamacıkları
Name[uk]=Десклети
Name[vi]=Tiểu trình màn hình
Name[zh_CN]=桌面小工具
Name[zh_TW]=桌面小程式
Comment=Manage your Cinnamon desklets
Comment[am]=የሲናሞን ዴስክሌትስ አስተዳዳሪ
Comment[bg]=Управлявайте Вашите Cinnamon десклети
Comment[ca]=Administrar desklets de Cinnamon
Comment[ca@valencia]=Administrar desklets de Cinnamon
Comment[cs]=Správa Cinnamon deskletů
Comment[cy]=Rheolwch eich desglenni Cinnamon chi
Comment[da]=Administrér dine Cinnamon-skrivebordsprogrammer
Comment[de]=Cinnamon-Desklets verwalten
Comment[el]=Διαχείριση των εφαρμογών οθόνης του Cinnamon
Comment[es]=Administrar desklets de Cinnamon
Comment[es_AR]=Administrar desklets de Cinnamon
Comment[fi]=Hallitse Cinnamon-sovelmia
Comment[fr]=Gérez vos desklets Cinnamon
Comment[fr_CA]=Gérez vos desklets Cinnamon
Comment[hr]=Upravljajte Cinnamon deskletima
Comment[hu]=Cinnamon asztalkalmazások kezelése
Comment[id]=Atur desklet Cinnamon
Comment[is]=Sýsla með stillingar fyrir Cinnamon skjáborðsgræjur (desklets)
Comment[it]=Gestione dei desklets di Cinnamon
Comment[lt]=Tvarkyti Cinnamon ekrano programėles
Comment[lv]=Pārvaldīt savus Cinnamon sīkrīkus
Comment[ms]=Mengurus desklet Cinnamon anda
Comment[nl]=Uw minitoepassingen voor Cinnamon beheren
Comment[pl]=Zarządaj swoimi deskletami Cinnamona
Comment[pt]=Gerir os seus desklets do Cinnamon
Comment[pt_BR]=Gerir os seus desklets do Cinnamon
Comment[pt_PT]=Gerir os seus desklets do Cinnamon
Comment[ro]=Gestionează mini-aplicațiile (desklets) tale Cinnamon
Comment[sk]=Spravovať desklety Cinnamon
Comment[sl]=Upravljajte z apleti namizja Cinnamona
Comment[sv]=Hantera Cinnamons miniprogram
Comment[tg]=Идоракунии барномаҳои мизи кории Cinnamon
Comment[th]=จัดการเดสก์เล็ต Cinnamon ของคุณ
Comment[tr]=Cinnamon masaüstü uygulamacıklarını yönet
Comment[uk]=Керування десклетами Cinnamon
Comment[vi]=Quản lý tiểu dụng màn hình Cinnamon
Comment[zh_TW]=管理您的 Cinnamon 桌面小程式
