[Desktop Entry]
Name=General
Comment=Miscellaneous Cinnamon preferences
Icon=cs-general
Exec=cinnamon-settings general
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name[gd]=Coitcheann
Name[ga]=Ginearálta
Name[gl]=Xeral
Name[tr]=Genel
Name[ta]=பொது
Name[pt_BR]=Geral
Name[de]=Allgemein
Name[da]=Generelt
Name[zh_CN]=常规
Name[eo]=Ĝenerala
Name[eu]=Orokorra
Name[et]=Üldine
Name[es]=General
Name[ru]=Общие
Name[ro]=General
Name[ms]=Am
Name[ja]=一般
Name[om]=Waliigala
Name[ca]=General
Name[cy]=Cyffredinol
Name[cs]=Obecné
Name[pt]=Geral
Name[pa]=ਸਧਾਰਨ
Name[pl]=Ogólne
Name[hr]=Općenito
Name[zh_TW]=一般
Name[hu]=Általános
Name[en_GB]=General
Name[uk]=Загальні
Name[vi]=Tổng quát
Name[is]=Almennt
Name[am]=ባጠቃላይ
Name[it]=Generali
Name[id]=Umum
Name[nl]=Algemeen
Name[fr]=Général
Name[fr_CA]=Général
Name[sr]=Опште
Name[sv]=Generellt
Name[sl]=Splošno
