[Desktop Entry]
Icon=cs-details
Exec=cinnamon-settings info
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=System Info
Name[af]=Stelselinligting
Name[am]=የ ስርአት መረጃ
Name[ar]=معلومات النظام
Name[ast]=Información del sistema
Name[ay]=Sisteman yatiyawi
Name[az]=Qurmaca Bilgisi
Name[be]=Сістэмная інфармацыя
Name[bg]=Информация за системата
Name[br]=Titouroù ar reizhiad
Name[bs]=Informacije o sistemu
Name[ca]=Informació del sistema
Name[ca@valencia]=Informació del sistema
Name[cs]=Informace o systému
Name[cy]=Manylion y system
Name[da]=Systemoplysninger
Name[de]=Systeminformation
Name[el]=Πληροφορίες συστήματος
Name[eo]=Sisteminformoj
Name[es]=Información del sistema
Name[es_AR]=Información del sistema
Name[et]=Süsteemi info
Name[eu]=Sistemaren informazioa
Name[fa]=اطلاعات سیستم
Name[fi]=Järjestelmän tiedot
Name[fr]=Information système
Name[fr_CA]=Information système
Name[ga]=Faisnéis Córais
Name[gd]=Fiosrachadh mun t-siostam
Name[gl]=Información do sistema
Name[he]=מידע על המערכת
Name[hi]=सिस्टम जानकारी
Name[hr]=Informacije sustava
Name[hu]=Rendszerinformációk
Name[ia]=Informationes de systema
Name[id]=Informasi Sistem
Name[is]=Kerfisupplýsingar
Name[it]=Informazioni di sistema
Name[ja]=システム情報
Name[ka]=სისტემის ინფორმაცია
Name[kab]=Talɣut ɣef unagraw
Name[ko]=시스템 정보
Name[ku]=Agahiyên pergalî
Name[la]=Informationes de Systemate
Name[lo]=ຂໍ້ມູນລະບົບ
Name[lt]=Sistemos informacija
Name[lv]=Sistēmas informācija
Name[mo]=Информацие деспре систем
Name[ms]=Maklumat Sistem
Name[nb]=Systeminformasjon
Name[nds]=Systeminformationen
Name[nl]=Systeeminformatie
Name[oc]=Informacions sul sistèma
Name[om]=Odeeffanoo sirnaa
Name[pa]=ਸਿਸਟਮ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o systemie
Name[pt]=Informações do sistema
Name[pt_BR]=Informações do Sistema
Name[ro]=Informații sistem
Name[ru]=О системе
Name[rue]=За сістему
Name[sc]=Info de sistema
Name[sk]=Systémové informácie
Name[sl]=Sistemski podatki
Name[sq]=Informacione mbi sistemin
Name[sr]=Подаци о систему
Name[sr@ijekavian]=Подаци о систему
Name[sr@ijekavianlatin]=Подаци о систему
Name[sr@latin]=Podaci o sistemu
Name[sv]=Systeminformation
Name[ta]=கணினி தகவல்
Name[tg]=Иттилооти низом
Name[th]=ข้อมูลระบบ
Name[tr]=Sistem Bilgisi
Name[uk]=Інформація про систему
Name[ur]=سسٹم معلومات
Name[uz]=Tizim haqida ma'lumot
Name[vi]=Thông tin Hệ thống
Name[zh_CN]=系统信息
Name[zh_HK]=系統資訊
Name[zh_TW]=系統資訊
Comment=Display system information
Comment[af]=Wys stelselinligting
Comment[am]=የ ስርአቱን መረጃ ማሳያ
Comment[ar]=عرض معلومات النظام
Comment[ast]=Datos del sirvidor de gráficos de pantalla
Comment[ay]=Sisteman yatiyawi uñachayaña
Comment[az]=Qurmaca bilgisini göstər
Comment[be]=Паказаць звесткі аб сістэме
Comment[bg]=Показване на данни за системата
Comment[bs]=Prikaži informacije o sistemu
Comment[ca]=Mostra la informació del sistema
Comment[ca@valencia]=Mostra la informació del sistema
Comment[cs]=Zobrazit informace o systému
Comment[cy]=Dangos manylion y system
Comment[da]=Vis systeminformation
Comment[de]=Systeminformationen anzeigen
Comment[el]=Προβολή πληροφοριών για τον υπολογιστή
Comment[eo]=Montri sisteminformojn
Comment[es]=Mostrar información del sistema
Comment[es_AR]=Mostrar información del sistema
Comment[et]=Süsteemi teabe näitamine
Comment[eu]=Bistaratu sistemaren informazioa
Comment[fa]=نمایش اطلاعات سیستم
Comment[fi]=Näytä järjestelmän tiedot
Comment[fr]=Afficher les informations du système
Comment[fr_CA]=Afficher les informations du système
Comment[gd]=Seall fiosrachadh mun t-siostam
Comment[gl]=Amosar a información do sistema
Comment[he]=הצגת מידע מערכת
Comment[hi]=सिस्टम जानकारी दिखाएँ
Comment[hr]=Prikaži informacije sustava
Comment[hu]=Rendszerinformációk megjelenítése
Comment[ia]=Monstra le informationes de systema
Comment[id]=Tampilkan informasi sistem
Comment[is]=Birta upplýsingar um kerfið
Comment[it]=Visualizza le informazioni di sistema
Comment[ja]=システム情報を表示
Comment[kab]=Sken talɣut ɣef unagraw
Comment[ko]=시스템 정보 표시
Comment[la]=Informationes systematis ostende
Comment[lo]=ສະແດງຂໍ້ມູນກ່ຽວກັບລະບົບ
Comment[lt]=Rodyti sistemos informaciją
Comment[lv]=Attēlot sistēmas informāciju
Comment[ms]=Papar maklumat sistem
Comment[nb]=Vis systeminformasjon
Comment[nds]=Systeminformationen anzeigen
Comment[nl]=Systeeminformatie weergeven
Comment[oc]=Afichar las informacions del sistèma
Comment[pl]=Wyświetlaj informacje systemowe
Comment[pt]=Mostrar informação do sistema
Comment[pt_BR]=Exibir informações do sistema
Comment[ro]=Arată informații despre sistem
Comment[ru]=Отображать информацию о системе
Comment[rue]=Указовати сістемну інфо
Comment[sc]=Mustra informatziones de sistema
Comment[sk]=Zobraziť systémové informácie
Comment[sl]=Prikaži podrobnosti sistema
Comment[sq]=Shfaq informacione mbi sistemin
Comment[sr]=Прикажи податке о систему
Comment[sr@ijekavian]=Прикажи податке о систему
Comment[sr@ijekavianlatin]=Прикажи податке о систему
Comment[sr@latin]=Prikaži podatke o sistemu
Comment[sv]=Visa systeminformation
Comment[tg]=Намоиш додани иттилооти низом
Comment[th]=แสดงข้อมูลระบบ
Comment[tr]=Sistem bilgisini göster
Comment[uk]=Показати системну інформацію
Comment[ur]=سسٹم معلومات دکھائیں
Comment[uz]=Tizim haqidagi ma'lumotlarni ko‘rsatish
Comment[vi]=Hiển thị thông tin hệ thống
Comment[zh_CN]=显示系统信息
Comment[zh_HK]=顯示系統資訊
Comment[zh_TW]=顯示系統資訊
Keywords=system;information;details;graphic;sound;kernel;version;about;
Keywords[ast]=sistema;información;detalles;gráficos;soníu;kernel;versión;tocante a;
Keywords[be]=сістэма;інфармацыя;падрабязнасці;графіка;гук;ядро;версія;даведка;
Keywords[ca]=sistema;informació;detalls;gràfic;so;nucli;versió;quant;
Keywords[ca@valencia]=sistema;informació;detalls;gràfic;so;nucli;versió;quant;
Keywords[cs]=systém;informace;detaily;grafika;zvuk;jádro;verze;o aplikaci;
Keywords[cy]=system;gwybodaeth;manylion;graffigau;sain;cnewyllyn;fersiwn;ynghylch;
Keywords[da]=system;information;detaljer;grafik;lyd;kerne;version;om;
Keywords[de]=system;information;details;graphic;sound;kernel;version;about;System;Informationen;Details;Grafik;Klang;Ton;Kernel;Version;über;
Keywords[el]=σύστημα;πληροφορίες;λεπτομέρειες;γραφικό;ήχος;πυρήνας;έκδοση;σχετικά με;
Keywords[es]=sistema;información;detalles;gráfico;sonido;núcleo;versión;acerca de;
Keywords[es_AR]=sistema;información;detalles;gráfico;sonido;núcleo;versión;acerca de;
Keywords[et]=süsteem;informatsioon;info;üksikasjad;detailid;graafika;heli;kõlarid;kernel;versioon;info;lähemalt;
Keywords[eu]=sistema;informazioa;xehetasunak;grafikoak;soinua;nukleoa;bertsioa;honi buruz;
Keywords[fi]=järjestelmä;tietoa;kernel;grafiikka;audio;versio;tietoa;
Keywords[fr]=système;information;détails;graphique;son;noyau;version;à propos;
Keywords[fr_CA]=système;information;détails;graphique;son;noyau;version;à propos;
Keywords[he]=system;information;details;graphic;sound;kernel;version;about;מערכת;מידע;פרטים;חוזי;שמע;ליבה;גרסה;על אודות;
Keywords[hi]=प्रणाली;सूचना;विवरण;ग्राफिक;ध्वनि;कर्नेल;संस्करण;के बारे में;
Keywords[hu]=system;information;details;graphic;sound;kernel;version;about;rendszer;információ;részletek;grafika;grafikus;hang;zene;zaj;verzió;névjegy;programról;
Keywords[ia]=systema;informationes;detalios;graphicos;sonos;nucleo;version;a proposito;
Keywords[id]=sistem;informasi;rincian;grafis;suara;kernel;versi;perihal;
Keywords[is]=kerfi;upplýsingar;nánar;myndmerki;hljóð;kjarni;útgáfa;um hugbúnað;
Keywords[it]=sistema;informazioni;dettagli;grafica;suono;kernel;versione;info;
Keywords[ja]=system;information;details;graphic;sound;kernel;version;about;システム;情報;詳細;グラフィック;サウンド;音;カーネル;バージョン;
Keywords[nb]=system;informasjon;detaljer;grafikk;lyd;kjerne;versjon;om;
Keywords[nl]=systeem;informatie;details;grafisch;geluid;systeemkern;versie;info;
Keywords[pl]=system;informacje;szczegóły;grafika;dźwięk;jądro;wersja;o systemie;
Keywords[pt]=sistema;informação;detalhes;gráfica;som;kernel;versão;acerca;sobre;
Keywords[pt_BR]=sistema;informação;detalhes;gráfico;som;kernel;versão;sobre;
Keywords[ro]=sistem;informații;detalii;informatii;grafică;grafica;sunet;kernel;nucleu;versiune;despre;
Keywords[ru]=система;информация;сведения;графика;звук;ядро;версия;о;
Keywords[sk]=systém;informácie;detaily;grafika;zvuk;jadro;verzia;o;
Keywords[sl]=sistem;informacije;podatki;podrobnosti;grafika;zvok;jedro;različica;grafična;kartica;
Keywords[sv]=system;information;detaljer;grafik;ljud;kärna;version;om;
Keywords[tr]=sistem;bilgi;ayrıntılar;grafik;ses;çekirdek;sürüm;hakkında;
Keywords[vi]=hệ thống;thông tin;chi tiết;đồ họa;âm thanh;hạt nhân;phiên bản;thông tin;
Keywords[zh_CN]=系统， 信息， 细节， 图形， 声音， 内核， 版本， 关于;
Keywords[zh_TW]=系統;資訊;細節;繪圖;聲音;核心;版本;關於;
