[Desktop Entry]
Name=Date & Time
Comment=Manage date and time settings
Icon=cs-date-time
Exec=cinnamon-settings calendar
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name[gl]=Data e hora
Name[tr]=Tarih & Zaman
Name[pt_BR]=Data & Hora
Name[de]=Datum & Zeit
Name[da]=Dato & tid
Name[eo]=Dato kaj tempo
Name[es]=Fecha y hora
Name[ro]=Data și ora
Name[ca]=Data i hora
Name[cs]=Datum a čas
Name[pt]=Data e Hora
Name[hr]=Datum i Vrijeme
Name[hu]=Dátum és idő
Name[en_GB]=Date & Time
Name[uk]=Дата та час
Name[is]=Dagsetning og tími
Name[it]=Data & Ora
Name[nl]=Datum en tijd
Name[fr]=Date & Heure
Name[sv]=Datum och tid
Name[sl]=Datum in čas
