[Desktop Entry]
Icon=cs-universal-access
Exec=cinnamon-settings accessibility
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Accessibility
Name[af]=Toeganklikheid
Name[am]=በቀላሉ የሚደረስበት
Name[ar]=إتاحة
Name[ast]=Accesibilidá
Name[ay]=Uqaranakatakimpi juykhunakatakimpi
Name[az]=Əlçatımlılıq
Name[be]=Спецыяльныя магчымасці
Name[bg]=Достъпност
Name[bn]=বিশেষ সুবিধা
Name[br]=Haezadusted
Name[bs]=Pristupačnost
Name[ca]=Accessibilitat
Name[ca@valencia]=Accessibilitat
Name[crh]=Erişilebilirlik
Name[cs]=Zpřístupnění pro hendikepované
Name[csb]=Przistãpnosc
Name[cy]=Hygyrchedd
Name[da]=Tilgængelighed
Name[de]=Barrierefreiheit
Name[el]=Προσβασιμότητα
Name[eo]=Alirebleco
Name[es]=Accesibilidad
Name[es_AR]=Accesibilidad
Name[et]=Hõlbustused
Name[eu]=Erabilerraztasuna
Name[fa]=قابلیت دسترسی
Name[fi]=Esteettömyys
Name[fil]=Pagkarating
Name[fr]=Accessibilité
Name[fr_CA]=Accessibilité
Name[fy]=Tagonklikens
Name[ga]=Inrochtaineacht
Name[gd]=Ruigsinneachd
Name[gl]=Accesibilidade
Name[he]=נגישות
Name[hi]=अभिगम्यता
Name[hr]=Pristupačnost
Name[hsb]=Přistupnosć
Name[hu]=Akadálymentesítés
Name[hy]=Մատչելիություն
Name[ia]=Accessibilitate
Name[id]=Aksesibilitas
Name[ie]=Accessibilitá
Name[is]=Auðveldað aðgengi
Name[it]=Accessibilità
Name[ja]=ユーザー補助
Name[ka]=_დამხმარე საშუალებები
Name[kab]=Tuffart
Name[kk]=Қол жетерлілік
Name[km]=មធ្យោបាយ​ងាយស្រួល
Name[kn]=ನಿಲುಕಣೆ (ಆಕ್ಸೆಸಿಬಿಲಿಟಿ)
Name[ko]=편리한 기능
Name[ku]=Gehînbarî
Name[la]=Pervietas
Name[lo]=ການຊ່ວຍການເຂົ້າເຖິງ
Name[lt]=Prieinamumas
Name[lv]=Pieejamība
Name[ml]=ഉപയോഗലഭ്യത
Name[mr]=सुलभता
Name[ms]=Kebolehcapaian
Name[nap]=Accessibilità
Name[nb]=Tilgjengelighet
Name[nds]=Zugänglichkeit
Name[ne]=पहुँचयोग्य
Name[nl]=Toegankelijkheid
Name[nn]=Tilgjengefunksjonar
Name[oc]=Accessibilitat
Name[om]=Gahiinsa
Name[pa]=ਅਸੈੱਸਬਿਲਟੀ
Name[pl]=Ułatwienia dostępu
Name[pt]=Acessibilidade
Name[pt_BR]=Acessibilidade
Name[ro]=Accesibilitate
Name[ru]=Специальные возможности
Name[rue]=Приступ
Name[sc]=Atzessibilidade
Name[si]=ප්‍රවේශතාවය
Name[sk]=Zjednodušenie ovládania
Name[sl]=Dostopnost
Name[so]=Sahlidda
Name[sq]=Përdorshmëria
Name[sr]=Приступачност
Name[sr@ijekavian]=Приступачност
Name[sr@ijekavianlatin]=Приступачност
Name[sr@latin]=Pristupačnost
Name[sv]=Tillgänglighet
Name[ta]=அணுகல்தன்மை
Name[te]=ప్రాప్తత
Name[tg]=Қобилияти дастрасӣ
Name[th]=สิ่งอำนวยความสะดวก
Name[tl]=Pagkarating
Name[tr]=Erişilebilirlik
Name[ts]=Mfikelelo
Name[tt]=Алу
Name[uk]=Спеціальні можливості
Name[ur]=رسائی
Name[uz]=Maxsus imkoniyatlar
Name[vi]=Khả năng Truy cập
Name[zh_CN]=辅助功能
Name[zh_HK]=無障礙存取
Name[zh_TW]=無障礙
Comment=Configure accessibility features
Comment[am]=የሚደረስባቸውን ገጽታዎች ማሰናጃ
Comment[ar]=تكوين ميزات سهولة الوصول
Comment[ast]=Configurar opciones d'accesibilidá
Comment[ay]=Uqaranakatakimpi jukhunakatakimpi mayjachaña
Comment[az]=Əlçatımlılıq özəlliklərini qur
Comment[be]=Канфігураваць функцыі спецыяльных магчымасцей
Comment[bg]=Конфигуриране на функциите за достъпност
Comment[ca]=Configureu les funcions d'accessibilitat
Comment[ca@valencia]=Configura les funcions d'accessibilitat
Comment[cs]=Nastavit funkce pro zpřístupnění hendikepovaným
Comment[cy]=Ffurfweddu dewisiadau hygyrchedd
Comment[da]=Konfigurér tilgængelighedsfunktioner
Comment[de]=Barrierefreiheitsfunktionen konfigurieren
Comment[el]=Προσαρμογή λειτουργιών προσβασιμότητας
Comment[eo]=Agordi alireblecajn trajtojn
Comment[es]=Configurar las funciones de accesibilidad
Comment[es_AR]=Configurar las funciones de accesibilidad
Comment[et]=Abivahendite seadistamine
Comment[eu]=Konfiguratu erabilerraztasun ezaugarriak
Comment[fa]=پیکربندی ویژگی‌های دسترسی
Comment[fi]=Hallitse esteettömyysasetuksia
Comment[fr]=Configuration des fonctionnalités d'accessibilité
Comment[fr_CA]=Configuration des fonctionnalités d’accessibilité
Comment[he]=תיצור תכונות נגישות
Comment[hi]=अभिगम्यता विन्यस्त करें
Comment[hr]=Prilagodi značajke pristupaćnosti
Comment[hu]=Akadálymentesítési szolgáltatások beállítása
Comment[ia]=Configurar le characteristicas de accessibilitate
Comment[id]=Konfigurasi fitur aksesibilitas
Comment[is]=Stilla auðveldað aðgengi
Comment[it]=Configura le caratteristiche di accessibilità
Comment[ja]=ユーザー補助機能を設定します
Comment[kab]=Aswalo n tmesɣent  n tuffart
Comment[ko]=편리한 기능 설정하기
Comment[la]=Pervietatis configurationem modifica
Comment[lt]=Konfigūruoti prieinamumo ypatybes
Comment[nap]=Configura 'e funzioni d'accessibilità
Comment[nb]=Sett opp tilgjengelighetsfunksjoner
Comment[nl]=Toegankelijkheidsfuncties instellen
Comment[oc]=Configurar las foncionalitats d’accessibilitat
Comment[pl]=Konfiguruj funkcje ułatwienia dostępu
Comment[pt]=Configurar funções de acessibilidade
Comment[pt_BR]=Configurar recursos de acessibilidade
Comment[ro]=Configurează caracteristicile de accesibilitate
Comment[ru]=Настройка специальных возможностей
Comment[rue]=Наладованя шпеціалных возможностюв
Comment[sc]=Propiedades de atzessibilidade
Comment[sk]=Nastavuje funkcie zjednodušenia ovládania
Comment[sl]=Konfiguriraj dostopnostne funkcije
Comment[sr]=Подесите функције приступачности
Comment[sr@ijekavian]=Подесите функције приступачности
Comment[sr@ijekavianlatin]=Подесите функције приступачности
Comment[sr@latin]=Podesi svojstva pristupačnosti
Comment[sv]=Ställ in egenskaperna för tillgänglighet
Comment[th]=ตั้งค่าคุณลักษณะการเข้าถึง
Comment[tr]=Erişilebilirlik özelliklerini yapılandırın
Comment[uk]=Налаштування спеціальних можливостей
Comment[ur]=رسائی کے فیچر تشکیل دیں
Comment[uz]=Qo‘shimcha imkoniyatlar xossalarini sozlash
Comment[vi]=Thiết lập các chức năng truy cập
Comment[zh_CN]=配置辅助功能
Comment[zh_HK]=設定無障礙存取功能
Comment[zh_TW]=調整無障礙輔助功能
Keywords=magnifier;talk;access;zoom;keys;contrast;
Keywords[am]=ማጉያ : መነጋገሪያ : ፍቃድ : ማሳያ : ቁልፎች : ማነፃፅሪያ;
Keywords[ar]=المكبر، التحدث، الوصول، التكبير، المفاتيح، التباين;
Keywords[ast]=llente;falar;accesu;zoom;tecles;contraste;
Keywords[ay]=jach'aptayir qhispillu;parlaña;mantañ atispawa;jisk'a/jach'aptaña;tiklanaka;juk'amp qhanstata;lupa;hablar;acceso;ampliación;teclas;contraste;
Keywords[az]=böyüdücü;danışıq;giriş;böyütmə;çəlişki;
Keywords[be]=лупа;казаць;доступ;zoom;ключы;кантраснасць;
Keywords[bg]=лупа;говор;достъп;мащаб;клавиши;контраст;
Keywords[bs]=povećalo;govor;pristup;zumiranje;kontrast;
Keywords[ca]=lupa;veu;accés;zoom;tecles;contrast;
Keywords[ca@valencia]=lupa;veu;accés;zoom;tecles;contrast;
Keywords[cs]=lupa;mluvení;přístupnost;přiblížení;klávesy;kontrast;
Keywords[cy]=chwyddwr;siarad;mynediad;chwyddo;allweddi;cyferbyniad;
Keywords[da]=lup;tal;tilgængelighed;forstør;formindsk;taster;kontrast;
Keywords[de]=Lupe;sprechen;Zugriff;Zoom;Vergrößern;Tasten;Kontrast;
Keywords[el]=μεγεθυντής;συνομιλία;πρόσβαση;μεγέθυνση;πλήκτρα;αντίθεση;
Keywords[eo]=pligrandigilo;paroli;atingi;zomo;klavoj;kontrasto;
Keywords[es]=lupa;hablar;acceso;ampliación;teclas;contraste;
Keywords[es_AR]=lupa;hablar;acceso;ampliación;teclas;contraste;
Keywords[et]=luup;rääkimine;juurdepääs;suum;klahvid;kontrast;
Keywords[eu]=lupa;hitz egin;sarbidea;zooma;teklak;kontrastea;
Keywords[fa]=ذره‌بین، سخن، دسترسی، بزرگ‌نمایی، کلیدها، کنتراست;
Keywords[fi]=suurennuslasi;puhe;pääsy;suurennus;näppäimet;kontrasti;
Keywords[fr]=loupe;parole;accès;zoom;touches;contraste;
Keywords[fr_CA]=loupe;parler;accès;zoom;clés;contraste;
Keywords[fy]=fergrutglês;skilje;tagong;fergrutsje;kaaien;kontrast;
Keywords[ga]=formhéadaitheoir;caint;rochtain;súmáil;eochracha;codarsnacht;
Keywords[gd]=meudaichear;còmhradh;cothrom;sùm;iuchraichean;iomsgaradh;magnifier;talk;access;zoom;keys;contrast;
Keywords[gl]=lupa;conversa;acceso;zoom;chaves;contraste;
Keywords[he]=מגדלת;דיבור;גישה;מיקוד;מקשים;ניגודיות;
Keywords[hi]=आवर्धक;वार्ता;अभिगम;आकार वर्धन;कुंजियाँ;कंट्रास्ट;
Keywords[hr]=povećalo;govor;pristup;uvećanje;tipke;kontrast;
Keywords[hu]=nagyító;csevegés;hozzáférés;nagyítás;kulcsok;kontraszt;
Keywords[ia]=aggranditor;confabular;accesso;zoom;claves;contrasto;
Keywords[id]=kaca pembesar;bicara;akses;zum;kunci;kontras;
Keywords[is]=skjástækkun;tal;aðgengi;aðdráttur;lyklar;birtuskil;
Keywords[it]=lente d'ingrandimento;parlato;accesso;zoom;chiavi;contrasto;
Keywords[ja]=magnifier;talk;access;zoom;keys;contrast;拡大鏡;トーク;スピーチ;読み上げ;アクセス;ズーム;キー;コントラスト;
Keywords[kab]=tlinint;awal;adduf;zoom;tiqeffalin;tamarit;
Keywords[ko]=돋보기;톡;연결;줌;키;대비;
Keywords[lo]=magnifier;ເວົ້າ;ເຂົ້າເຖິງ;ຊູມ;keys;contrast;
Keywords[lt]=vaizdo didinimas;įgarsinimas;kita prieiga;mygtukai;kontrastas;
Keywords[lv]=palielinātājs;runāt;piekļuve;tālummaiņa;atslēgas;kontrasts;
Keywords[ms]=pembesar;bual;capaian;zum;kekunci;beza jelas;
Keywords[nap]=magnifier;talk;access;zoom;buttoni;contrasto;
Keywords[nb]=forstørrelsesglass;snakk;tilgang;forstørr;nøkler;kontrast;
Keywords[nds]=Lupe;sprechen;Zugang;Zoom;Tasten;Kontrast;
Keywords[nl]=vergrootglas;spraak;toegang;vergrotingsfactor;toetsen;contrast;
Keywords[pa]=ਮੈਗਨੀਫਾਇਰ;ਟਾੱਕ;ਅੱਕਸੈੱਸ;ਜ਼ੂਮ;ਚਾਬੀਆਂ;ਕੋਂਟਰਾਸਟ;
Keywords[pl]=lupa;rozmowy;dostęp;powiększenie;klucze;kontrast;
Keywords[pt]=amplificador;fala;acesso;ampliação;teclas;contraste;
Keywords[pt_BR]=lupa;fala;acesso;zoom;teclas;contraste;
Keywords[ro]=lupă;conversație;acces;mărire;taste;contrast;
Keywords[ru]=лупа;разговор;доступ;масштабирование;ключи;контрастность;
Keywords[rue]=лупа;приказованя;приступ;зум;ключі;контраст;
Keywords[sc]=lente de ismanniadura;faeddare;atzessu;zoom;tastos;cuntrastu;
Keywords[sk]=lupa;hovorenie;prístup;priblíženie;kľúče;kontrast;
Keywords[sl]=povečevalno steklo;govor;dostop;približanje;tipke;kontrast;
Keywords[sr]=лупа;говор;приступ;увеличавање;дугмад;контраст;
Keywords[sr@ijekavian]=лупа;говор;приступ;увеличавање;дугмад;контраст;
Keywords[sr@ijekavianlatin]=лупа;говор;приступ;увеличавање;дугмад;контраст;
Keywords[sr@latin]=lupa;govor;pristup;zumiranje;tasteri;kontrast;
Keywords[sv]=förstorare;tal;åtkomst;zoom;nycklar;kontrast;
Keywords[ta]=உருப்பெருக்கி;பேச்சு;அணுகல்;பெரிதாக்குதல்;விசைகள்;வேறுபாடு;
Keywords[tg]=бузургнамо;гуфтугӯ;дастрасӣ;танзими андоза;калидҳо;контраст;
Keywords[th]=แว่นขยาย;เครื่องอ่านออกเสียงข้อความ;การเข้าถึง;ย่อ/ขยาย;แป้น;ความสว่าง;
Keywords[tr]=büyüteç;konuşma;erişim;büyütme;anahtarlar;kontrast;
Keywords[uk]=збільшувач;розмова;доступ;масштабування;ключі;контрастність;
Keywords[ur]=میگنی فائر، ٹاک(talk)، رسائی، زوم، کلیدیں، تناسب امتزاج(contrast);
Keywords[uz]=lupa;suhbat;ruxsat berish;masshtabni o‘zgartirish;kalitlar;kontrast;
Keywords[vi]=kính phóng đại;nói chuyện;truy cập;thu phóng;phím;tương phản;
Keywords[zh_CN]=magnifier;talk;access;zoom;keys;contrast;放大;语音;访问;辅助;缩放;键;联系人;
Keywords[zh_HK]=magnifier;talk;access;zoom;keys;contrast;放大鏡;聊天;存取;縮放;按鍵;對比度;
Keywords[zh_TW]=放大鏡;聊天;存取;縮放;按鍵;對比;
