[Desktop Entry]
Icon=cs-backgrounds
Exec=cinnamon-settings backgrounds
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Backgrounds
Name[am]=መደቦች
Name[ar]=الخلفيات
Name[ast]=Fondos de pantalla
Name[be]=фон
Name[be@latin]=фон
Name[bg]=Фон
Name[bg_BG]=Фон
Name[bs]=Pozadine
Name[ca]=Fons del escriptori
Name[ca@valencia]=Fons de pantalla
Name[ca_ES@valencia]=Fons de pantalla
Name[cs]=Pozadí
Name[cs_CZ]=Pozadí
Name[cy]=Cefndiroedd
Name[da]=Baggrunde
Name[da_DK]=Baggrunde
Name[de]=Hintergrundbilder
Name[de_CH]=Hintergrundbilder
Name[de_DE]=Hintergrundbilder
Name[el]=Φόντο
Name[eo]=Fonoj
Name[es]=Fondos
Name[es_419]=Fondos
Name[es_AR]=Fondos
Name[es_CL]=Fondos
Name[es_CO]=Fondos
Name[es_CR]=Fondos
Name[es_DO]=Fondos
Name[es_EC]=Fondos
Name[es_ES]=Fondos
Name[es_GT]=Fondos
Name[es_HN]=Fondos
Name[es_MX]=Fondos
Name[es_NI]=Fondos
Name[es_PA]=Fondos
Name[es_PE]=Fondos
Name[es_PR]=Fondos
Name[es_SV]=Fondos
Name[es_US]=Fondos
Name[es_UY]=Fondos
Name[es_VE]=Fondos
Name[et]=Taustad
Name[eu]=Atzeko planoak
Name[fa]=پس‌زمینه‌ها
Name[fa_AF]=پس‌زمینه‌ها
Name[fa_IR]=پس‌زمینه‌ها
Name[fi]=Taustat
Name[fi_FI]=Taustat
Name[fr]=Fonds d'écran
Name[fr_CA]=Fonds d'écran
Name[fy]=Eftergrûn
Name[ga]=Cúlraí
Name[gd]=Cùlaibhean
Name[gl]=Fondos
Name[gl_ES]=Fondos
Name[he]=רקעים
Name[he_IL]=רקעים
Name[hr]=Pozadine
Name[hu]=Háttérképek
Name[hu_HU]=Háttérképek
Name[ia]=Fundos
Name[id]=Latar belakang
Name[id_ID]=Latar belakang
Name[is]=Bakgrunnar
Name[it]=Sfondi
Name[ja]=背景
Name[ja_JP]=背景
Name[ko]=배경화면
Name[ko_KR]=배경화면
Name[lo]=ພື້ນຫຼັງ
Name[lo_LA]=ພື້ນຫຼັງ
Name[lt]=Fonai
Name[lt_LT]=Fonai
Name[lv]=Fona attēli
Name[lv_LV]=Fona attēli
Name[ms]=Latar Belakang
Name[ms_MY]=Latar Belakang
Name[nb]=Bakgrunner
Name[nb_NO]=Bakgrunner
Name[nds]=Hintergrundbilder
Name[nl]=Achtergronden
Name[nl_NL]=Achtergronden
Name[oc]=Rèire plans
Name[pa]=ਬੈਕਗਰਾਉਂਡ
Name[pl]=Tła
Name[pl_PL]=Tła
Name[pt]=Fundos
Name[pt_BR]=Planos de Fundo
Name[pt_PT]=Fundos
Name[ro]=Fundaluri
Name[ro_RO]=Fundaluri
Name[ru]=Фоновые рисунки
Name[sc]=Fundales
Name[sk]=Pozadia
Name[sk_SK]=Pozadia
Name[sl]=Ozadja
Name[sl_SI]=Ozadja
Name[sq]=Sfondet
Name[sr]=Позадине
Name[sr@Latn]=Позадине
Name[sr@ije]=Позадине
Name[sr@ijekavian]=Позадине
Name[sr@ijekavianlatin]=Позадине
Name[sr@latin]=Позадине
Name[sv]=Bakgrundsbilder
Name[ta]=பின்னணிகள்
Name[ta_LK]=பின்னணிகள்
Name[tg]=Пасзаминаҳо
Name[th]=พื้นหลัง
Name[th_TH]=พื้นหลัง
Name[tr]=Arkaplanlar
Name[uk]=Зображення тла
Name[uk_UA]=Зображення тла
Name[ur]=پسِ منظر
Name[ur_PK]=پسِ منظر
Name[uz]=Фонлар
Name[uz@cyrillic]=Фонлар
Name[vi]=Hình nền
Name[vi_VN]=Hình nền
Name[zh]=背景
Name[zh_CN]=背景
Name[zh_HK]=背景
Name[zh_TW]=背景
Comment=Change your desktop's background
Comment[am]=የዴስክቶፕ መደብ መቀየሪያ
Comment[ar]=غيّر خلفية سطح المكتب
Comment[ast]=Camuda'l fondu del to escritoriu
Comment[az]=Masaüstü arxafonunu dəyiş
Comment[be]=Змянiце фон працоўнага стала
Comment[be@latin]=Змянiце фон працоўнага стала
Comment[bg]=Промяна на фона на работния плот
Comment[bg_BG]=Промяна на фона на работния плот
Comment[bs]=Promjenite vašu pozadinu na desktopu
Comment[ca]=Canviar el fons de l'escriptori
Comment[ca@valencia]=Canviar el fons d'escriptori
Comment[ca_ES@valencia]=Canviar el fons d'escriptori
Comment[cs]=Změna pozadí plochy
Comment[cs_CZ]=Změna pozadí plochy
Comment[cy]=Newidiwch gefndir eich bwrdd gwaith
Comment[da]=Ændr din skrivebordsbaggrund
Comment[da_DK]=Ændr din skrivebordsbaggrund
Comment[de]=Schreibtischhintergrund ändern
Comment[de_CH]=Schreibtischhintergrund ändern
Comment[de_DE]=Schreibtischhintergrund ändern
Comment[el]=Άλλαξε το φόντο της επιφάνειας εργασίας
Comment[es]=Cambiar el fondo de escritorio
Comment[es_419]=Cambiar el fondo de escritorio
Comment[es_AR]=Cambiar el fondo de escritorio
Comment[es_CL]=Cambiar el fondo de escritorio
Comment[es_CO]=Cambiar el fondo de escritorio
Comment[es_CR]=Cambiar el fondo de escritorio
Comment[es_DO]=Cambiar el fondo de escritorio
Comment[es_EC]=Cambiar el fondo de escritorio
Comment[es_ES]=Cambiar el fondo de escritorio
Comment[es_GT]=Cambiar el fondo de escritorio
Comment[es_HN]=Cambiar el fondo de escritorio
Comment[es_MX]=Cambiar el fondo de escritorio
Comment[es_NI]=Cambiar el fondo de escritorio
Comment[es_PA]=Cambiar el fondo de escritorio
Comment[es_PE]=Cambiar el fondo de escritorio
Comment[es_PR]=Cambiar el fondo de escritorio
Comment[es_SV]=Cambiar el fondo de escritorio
Comment[es_US]=Cambiar el fondo de escritorio
Comment[es_UY]=Cambiar el fondo de escritorio
Comment[es_VE]=Cambiar el fondo de escritorio
Comment[eu]=Aldatu mahaigainaren atzeko planoa
Comment[fa]=پس‌زمینه‌ی دسکتاپ‌تان را تغییر دهید
Comment[fa_AF]=پس‌زمینه‌ی دسکتاپ‌تان را تغییر دهید
Comment[fa_IR]=پس‌زمینه‌ی دسکتاپ‌تان را تغییر دهید
Comment[fi]=Muuta työpöydän taustakuvaa
Comment[fi_FI]=Muuta työpöydän taustakuvaa
Comment[fr]=Changer le fond d'écran
Comment[fr_CA]=Modifier votre fond d'écran
Comment[fy]=Bureaublêd eftergrûn feroarje
Comment[gd]=Atharraich cùlaibh an desktop agad
Comment[gl]=Cambia o fondo do escritorio
Comment[gl_ES]=Cambia o fondo do escritorio
Comment[hr]=Promijenite pozadinu svoje redne površine
Comment[hu]=Asztal hátterének megváltoztatása
Comment[hu_HU]=Asztal hátterének megváltoztatása
Comment[ia]=Cambia le fundo de tu scriptorio
Comment[id]=Ubah background desktop
Comment[id_ID]=Ubah background desktop
Comment[is]=Breyta bakgrunni skjáborðs
Comment[it]=Cambia sfondo del desktop
Comment[ja]=デスクトップ背景の変更
Comment[ja_JP]=デスクトップ背景の変更
Comment[ko]=배경화면 변경
Comment[ko_KR]=배경화면 변경
Comment[lo]=ປ່ຽນພື້ນຫຼັງໜ້າຈໍຂອງເຈົ້າ
Comment[lo_LA]=ປ່ຽນພື້ນຫຼັງໜ້າຈໍຂອງເຈົ້າ
Comment[lt]=Pakeisti darbalaukio foną
Comment[lt_LT]=Pakeisti darbalaukio foną
Comment[lv]=Mainīt darbvirsmas fona attēlu
Comment[lv_LV]=Mainīt darbvirsmas fona attēlu
Comment[ms]=Tukar latar belakang desktop
Comment[ms_MY]=Tukar latar belakang desktop
Comment[nb]=Endre skrivebordsbakgrunnen din
Comment[nb_NO]=Endre skrivebordsbakgrunnen din
Comment[nds]=Desktophintergrund ändern
Comment[nl]=Verander de achtergrond van uw bureaublad
Comment[nl_NL]=Verander de achtergrond van uw bureaublad
Comment[pl]=Zmień tło pulpitu
Comment[pl_PL]=Zmień tło pulpitu
Comment[pt]=Mudar o fundo do seu ambiente de trabalho
Comment[pt_BR]=Alterar plano de fundo de sua área de trabalho
Comment[pt_PT]=Mudar o fundo do seu ambiente de trabalho
Comment[ro]=Schimbă imaginea de fundal
Comment[ro_RO]=Schimbă imaginea de fundal
Comment[ru]=Изменить обои рабочего стола
Comment[sc]=Càmbia su fundale de s'iscriania
Comment[sk]=Zmeniť pozadie plochy
Comment[sk_SK]=Zmeniť pozadie plochy
Comment[sl]=Spremenite ozadje namizja
Comment[sl_SI]=Spremenite ozadje namizja
Comment[sq]=Ndryshoni sfondin e desktopit tuaj
Comment[sr]=Промените позадину радне површи
Comment[sr@Latn]=Промените позадину радне површи
Comment[sr@ije]=Промените позадину радне површи
Comment[sr@ijekavian]=Промените позадину радне површи
Comment[sr@ijekavianlatin]=Промените позадину радне површи
Comment[sr@latin]=Промените позадину радне површи
Comment[sv]=Byt skrivbordsbakgrund
Comment[ta]=பணிமேடையின் பின்னணியை மாற்று
Comment[ta_LK]=பணிமேடையின் பின்னணியை மாற்று
Comment[tg]=Тағйир додани пасзаминаи мизи корӣ
Comment[th]=เปลี่ยนพื้นหลังบนพื้นโต๊ะของคุณ
Comment[th_TH]=เปลี่ยนพื้นหลังบนพื้นโต๊ะของคุณ
Comment[tr]=Masaüstü arkaplan resmini değiştir
Comment[uk]=Змінити тло стільниці
Comment[uk_UA]=Змінити тло стільниці
Comment[ur]=ڈیسک ٹاپ پس منظر تبدیل کریں
Comment[ur_PK]=ڈیسک ٹاپ پس منظر تبدیل کریں
Comment[uz]=Иш столи фонини ўзгартиринг
Comment[uz@cyrillic]=Иш столи фонини ўзгартиринг
Comment[vi]=Đổi nền màn hình làm việc
Comment[vi_VN]=Đổi nền màn hình làm việc
Comment[zh]=修改桌面背景
Comment[zh_CN]=修改桌面背景
Comment[zh_HK]=變更你桌面的背景
Comment[zh_TW]=變更您的桌面背景
Keywords=background;picture;screenshot;slideshow;
Keywords[am]=መደብ : ስእል : የመመልከቻ ፎቶ : ተንሸራታች ማሳያ;
Keywords[ar]=خلفية، صورة، صورة ملتقطة، عرض الصور;
Keywords[be]=фон;выява;скрыншот;слайд-шоў;
Keywords[be@latin]=фон;выява;скрыншот;слайд-шоў;
Keywords[bg]=тапет;изображение;screenshot;slideshow;
Keywords[bg_BG]=тапет;изображение;screenshot;slideshow;
Keywords[bs]=pozadina;slika;slika ekrana;prezentacija slajdova;
Keywords[ca]=fons;imatge;captura de pantalla;mostra de diapositives;
Keywords[ca@valencia]=fons;imatge;captura de pantalla;presentació de diapositives;
Keywords[ca_ES@valencia]=fons;imatge;captura de pantalla;presentació de diapositives;
Keywords[cs]=pozadí;obrázek;screenshot;prezentace;
Keywords[cs_CZ]=pozadí;obrázek;screenshot;prezentace;
Keywords[cy]=cefndir;darlun;cliplun;sioe sleidiau;
Keywords[da]=baggrund;billede;skærmbillede;slideshow;
Keywords[da_DK]=baggrund;billede;skærmbillede;slideshow;
Keywords[de]=Hintergrund;Bild;Bildschirmaufnahme;Diaschau;background;picture;screenshot;slideshow;
Keywords[de_CH]=Hintergrund;Bild;Bildschirmaufnahme;Diaschau;background;picture;screenshot;slideshow;
Keywords[de_DE]=Hintergrund;Bild;Bildschirmaufnahme;Diaschau;background;picture;screenshot;slideshow;
Keywords[el]=παρασκήνιο;εικόνα;στιγμιότυπο;προβολή διαφανειών;φόντο;ταπετσαρία;
Keywords[es]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_419]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_AR]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_CL]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_CO]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_CR]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_DO]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_EC]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_ES]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_GT]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_HN]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_MX]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_NI]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_PA]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_PE]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_PR]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_SV]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_US]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_UY]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[es_VE]=fondo;imagen;captura de pantalla;presentación de diapositivas;
Keywords[eu]=atzeko planoa;irudia;pantaila-argazkia;diaporama;
Keywords[fa]=پس‌زمینه، تصویر، اسکرین‌شات، اسلایدشو;
Keywords[fa_AF]=پس‌زمینه، تصویر، اسکرین‌شات، اسلایدشو;
Keywords[fa_IR]=پس‌زمینه، تصویر، اسکرین‌شات، اسلایدشو;
Keywords[fi]=tausta;kuva;kuvankaappaus;diaesitys;
Keywords[fi_FI]=tausta;kuva;kuvankaappaus;diaesitys;
Keywords[fr]=fond;image;capture d'écran;diaporama;
Keywords[fr_CA]=fond;image;capture d'écran;diaporama;
Keywords[fy]=eftergrûn;printsje;skermôfbielding;diapresentaasje;
Keywords[ga]=cúlra;pictiúr;gabháil scáileáin;taispeántas sleamhnáin;
Keywords[gd]=cùlaibh;dealbh;glacadh-sgrìn;taisbeanadh-shleamhnagan;background;picture;screenshot;slideshow;
Keywords[gl]=fondo;imaxe;captura de pantalla;diaporama;
Keywords[gl_ES]=fondo;imaxe;captura de pantalla;diaporama;
Keywords[hr]=pozadina;slika;snimka zaslona;promjena pozadine;
Keywords[hu]=háttér;kép;képernyőkép;diavetítés;
Keywords[hu_HU]=háttér;kép;képernyőkép;diavetítés;
Keywords[ia]=fundo;photo;captura de schermo;presentation de photos;
Keywords[id]=latar belakang;gambar;tangkapan layar;slideshow;
Keywords[id_ID]=latar belakang;gambar;tangkapan layar;slideshow;
Keywords[is]=bakgrunnur;mynd;skjámynd;skyggnusýning;
Keywords[it]=sfondo;immagine;screenshot;diapositive;
Keywords[ja]=背景、写真、スクリーンショット、スライドショー;
Keywords[ja_JP]=背景、写真、スクリーンショット、スライドショー;
Keywords[ko]=배경화면;사진;스크린샷;슬라이드쇼;
Keywords[ko_KR]=배경화면;사진;스크린샷;슬라이드쇼;
Keywords[lo]=ພື້ນຫຼັງ;ຮູບພາບ;ພາບໜ້າຈໍ;ສະໄລໂຊວ໌;
Keywords[lo_LA]=ພື້ນຫຼັງ;ຮູບພາບ;ພາບໜ້າຈໍ;ສະໄລໂຊວ໌;
Keywords[lt]=fonas;paveikslėlis;ekranvaizdis;demonstracija;
Keywords[lt_LT]=fonas;paveikslėlis;ekranvaizdis;demonstracija;
Keywords[lv]=fona attēls;attēls;ekrānuzņēmums;slīdrāde;
Keywords[lv_LV]=fona attēls;attēls;ekrānuzņēmums;slīdrāde;
Keywords[ms]=latar belakang;gambar;cekupan skrin;paparan skrin;
Keywords[ms_MY]=latar belakang;gambar;cekupan skrin;paparan skrin;
Keywords[nb]=bakgrunn;bilde;skjermbilde;bildefremvisning;
Keywords[nb_NO]=bakgrunn;bilde;skjermbilde;bildefremvisning;
Keywords[nds]=Hintergrund;Bild;Screenshot;Diashow;
Keywords[nl]=achtergrond;foto;schermafdruk;diavertoning;
Keywords[nl_NL]=achtergrond;foto;schermafdruk;diavertoning;
Keywords[pa]=ਬੈਕਗਰਾਉਂਡ;ਤਸਵੀਰ;ਸਕਰੀਨਸ਼ਾੱਟ;ਸਲਾਇਡ-ਸ਼ੋ;
Keywords[pl]=tapeta;zdjęcie;zrzut ekranu;pokaz slajdów;
Keywords[pl_PL]=tapeta;zdjęcie;zrzut ekranu;pokaz slajdów;
Keywords[pt]=fundo;imagem;captura;apresentação;
Keywords[pt_BR]=plano de fundo;imagem;captura de tela;apresentação de slides;
Keywords[pt_PT]=fundo;imagem;captura;apresentação;
Keywords[ro]=fundal;poză;captură de ecran;slideshow;
Keywords[ro_RO]=fundal;poză;captură de ecran;slideshow;
Keywords[ru]=фоновый;рисунок;снимок экрана;слайд-шоу;
Keywords[sc]=fundale;immàgine;caturischermu;presentatzione;
Keywords[sk]=pozadie;obrázok;screenshot;prezentácia;
Keywords[sk_SK]=pozadie;obrázok;screenshot;prezentácia;
Keywords[sl]=ozadje;slika;zaslonska slika;predstavitev;
Keywords[sl_SI]=ozadje;slika;zaslonska slika;predstavitev;
Keywords[sq]=sfondi;figura;screeshot;prezantimi;
Keywords[sr]=позадина;слика;снимак екрана;покретни приказ;
Keywords[sr@Latn]=позадина;слика;снимак екрана;покретни приказ;
Keywords[sr@ije]=позадина;слика;снимак екрана;покретни приказ;
Keywords[sr@ijekavian]=позадина;слика;снимак екрана;покретни приказ;
Keywords[sr@ijekavianlatin]=позадина;слика;снимак екрана;покретни приказ;
Keywords[sr@latin]=позадина;слика;снимак екрана;покретни приказ;
Keywords[sv]=bakgrund;bild;skärmdump;bildspel;
Keywords[ta]=பின்னணி;படம்;திரைப்பிடிப்பு;சறுக்குகாட்சி;
Keywords[ta_LK]=பின்னணி;படம்;திரைப்பிடிப்பு;சறுக்குகாட்சி;
Keywords[tg]=пасзамина;тасвир;сурати экран;намоиши слайдҳо;
Keywords[th]=พื้นหลัง;รูปภาพ;ภาพหน้าจอ;การนำเสนอภาพนิ่ง;
Keywords[th_TH]=พื้นหลัง;รูปภาพ;ภาพหน้าจอ;การนำเสนอภาพนิ่ง;
Keywords[tr]=arkaplan;resim;ekran görüntüsü;slayt gösterisi;
Keywords[uk]=тло;зображення;знімок екрана;слайд-шоу;
Keywords[uk_UA]=тло;зображення;знімок екрана;слайд-шоу;
Keywords[uz]=фон;расм;экран тасвири;слайд-шоу;
Keywords[uz@cyrillic]=фон;расм;экран тасвири;слайд-шоу;
Keywords[vi]=hình nền;hình ảnh;ảnh chụp màn hình;trình chiếu;
Keywords[vi_VN]=hình nền;hình ảnh;ảnh chụp màn hình;trình chiếu;
Keywords[zh]=背景，图像，截图，幻灯片;
Keywords[zh_CN]=背景，图像，截图，幻灯片;
Keywords[zh_HK]=背景;圖片;熒幕截圖;幻燈片;
Keywords[zh_TW]=背景;圖片;螢幕截圖;幻燈片放映;
