[Desktop Entry]
Icon=cs-startup-programs
Exec=cinnamon-settings startup
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Startup Applications
Name[am]=መተግበሪያዎች ማስጀመሪያ
Name[ar]=برامج بدء التشغيل
Name[ast]=Aplicaciones d'aniciu
Name[ay]=Aplikasiyunanak qalltasina
Name[az]=Uyğulamaların Başlanması
Name[be]=Аўтазапуск праграм
Name[bg]=Автоматично стартирани програми
Name[bn]=স্টার্টআপ অ্যাপ্লিকেশনসমূহের
Name[br]=Arloadoù loc'hañ
Name[ca]=Aplicacions a l'inici
Name[ca@valencia]=Aplicacions a l'inici
Name[cs]=Aplikace spouštěné při přihlášení
Name[cy]=Rhaglenni Cychwyn
Name[da]=Opstartsprogrammer
Name[de]=Startprogramme
Name[el]=Προγράμματα εκκίνησης
Name[eo]=Aplikaĵoj post startigo
Name[es]=Aplicaciones al inicio
Name[es_AR]=Aplicaciones al inicio
Name[et]=Käivitatavad rakendused
Name[eu]=Abioko aplikazioak
Name[fa]=برنامه های هنگامِ-شروع
Name[fi]=Käynnistyvät ohjelmat
Name[fr]=Applications au démarrage
Name[fr_CA]=Applications lancées au démarrage
Name[fy]=Opstart Applikaasjes
Name[gd]=Aplacaidean tòiseachaidh
Name[gl]=Aplicativos de inicio
Name[he]=יישומי אתחול
Name[hi]=आरंभिक अनुप्रयोग
Name[hr]=Pokrenute aplikacije
Name[hu]=Indítópult
Name[ia]=Applicationes de initio
Name[id]=Aplikasi Permulaan
Name[ie]=Applicationes de iniciament
Name[is]=Ræsiforrit
Name[it]=Applicazioni d'avvio
Name[ja]=自動開始させるアプリ
Name[ka]=გაშვებისას ჩასატვირთი აპლიკაციები
Name[kab]=Isnasen n usekker
Name[ko]=시작 애플리케이션
Name[ku]=Bernameyên Destpêkê
Name[lo]=ໂປຣແກຣມເລີ່ມລະບົບ
Name[lt]=Paleisties programos
Name[lv]=Starta programmas
Name[ms]=Aplikasi Permulaan
Name[nb]=Oppstartsprogrammer
Name[nds]=Systemstartprogramme
Name[nl]=Opstarttoepassingen
Name[oc]=Aplicacions a l'aviada
Name[pl]=Programy startowe
Name[pt]=Aplicações de arranque
Name[pt_BR]=Aplicativos da Inicialização
Name[ro]=Aplicații lansate la pornire
Name[ru]=Автозагрузка
Name[rue]=Автозапуск
Name[sc]=Aplicatziones de aviada
Name[sk]=Aplikácie po spustení
Name[sl]=Začetni programi
Name[sq]=Programet në nisje
Name[sr]=Почетни програми
Name[sr@ijekavian]=Почетни програми
Name[sr@ijekavianlatin]=Почетни програми
Name[sr@latin]=Početne aplikacije
Name[sv]=Uppstartsprogram
Name[th]=โปรแกรมเริ่มวาระ
Name[tr]=Başlangıç Uygulamaları
Name[uk]=Автозапуск програм
Name[ur]=کمپیوڑر آغاز کی ایپلی کیشنز
Name[uz]=Avto-yuklanuvchi dasturlar
Name[vi]=Ứng dụng Khởi chạy
Name[zh_CN]=开机自启动程序
Name[zh_HK]=初始啟動程式
Name[zh_TW]=系統啟動應用程式
Comment=Manage your startup applications
Comment[am]=የሚጀምሩ መተግባሪያዎች አስተዳዳሪ
Comment[ar]=إدارة تطبيقات بدء التشغيل الخاصة بك
Comment[ast]=Xestiona les tos aplicaciones d'aniciu
Comment[ay]=Qalltaw aplikasiyunanak irpaña
Comment[az]=Başlama uyğulamalarınızı yönəldin
Comment[be]=Кіраванне аўтазапускам праграм
Comment[bg]=Управление на стартиращите приложения
Comment[bn]=আপনার স্টার্টআপ অ্যাপ্লিকেশনসমূহের ব্যবস্থা নিন
Comment[ca]=Gestioneu les vostres aplicacions d'inici
Comment[ca@valencia]=Gestioneu les vostres aplicacions d'inici
Comment[cs]=Spravovat  aplikace spouštěné při přihlášení
Comment[cy]=Rheoli eich rhaglenni cychwyn
Comment[da]=Håndtér dine opstartsprogrammer
Comment[de]=Ihre Startprogramme verwalten
Comment[el]=Διαχείριση των εφαρμογών εκκίνησης σου
Comment[eo]=Administri viajn aplikaĵojn post startigo
Comment[es]=Gestionar las aplicaciones al inicio
Comment[es_AR]=Gestionar las aplicaciones al inicio
Comment[et]=Hallake oma käivitusrakendusi
Comment[eu]=Kudeatu zure abioko aplikazioak
Comment[fa]=برنامه‌های هنگامِ-شروعِ خود را مدیریت کنید
Comment[fi]=Hallinnoi automaattisesti käynnistyviä ohjelmia
Comment[fr]=Gérez vos applications au démarrage
Comment[fr_CA]=Gérez vos applications au démarrage
Comment[gd]=Stiùirich na h-aplacaidean tòiseachaidh agad
Comment[gl]=Administrar os seus aplicativos do inicio
Comment[he]=ניהול  יישומים שיופעלו בעת אתחול
Comment[hi]=आरंभिक अनुप्रयोग प्रबंधन
Comment[hr]=Upravljajte vašim pokrenutim aplikacijama
Comment[hu]=Bejelentkezéskor elindítandó alkalmazások
Comment[ia]=Gere tu applicationes de lanceamento initial
Comment[id]=Mengelola aplikasi awal mula
Comment[is]=Sýsla með forrit virkjuð í ræsingu
Comment[it]=Gestisci le tue applicazioni di avvio
Comment[ja]=自動開始させるアプリケーションを管理します
Comment[kab]=Sefrek isnasen-inek n usekker
Comment[ko]=여러분의 시작 애플리케이션을 관리하세요
Comment[lt]=Valdykite savo paleidžiamas programas
Comment[lv]=Pārvaldīt starta programmas
Comment[ms]=Urus aplikasi permulaan anda
Comment[nb]=Håndter dine oppstartsprogrammer
Comment[nds]=Startanwendungen verwalten
Comment[nl]=Beheer uw opstarttoepassingen
Comment[oc]=Gerissètz vòstras aplicacions a l'aviada
Comment[pl]=Zarządzaj programami startowymi
Comment[pt]=Gerir aplicações de arranque automático
Comment[pt_BR]=Gerencie seus aplicativos da inicialização
Comment[ro]=Gestionează aplicațiile lansate la pornire
Comment[ru]=Управление автозапускаемыми приложениями
Comment[rue]=Справованя автозапуска придаткув
Comment[sc]=Manìgia aplicatziones de aviada
Comment[sk]=Spravuje vaše aplikácie po spustení
Comment[sl]=Upravljajte aplikacije ob zagonu računalnika
Comment[sq]=Menaxhoni programet tuaja të nisjes
Comment[sr]=Управљање почетним програмима
Comment[sr@ijekavian]=Управљање почетним програмима
Comment[sr@ijekavianlatin]=Управљање почетним програмима
Comment[sr@latin]=Upravljanje početnim aplikacijama
Comment[sv]=Hantera dina uppstartsprogram
Comment[th]=จัดการโปรแกรมเริ่มวาระของคุณ
Comment[tr]=Başlangıç uygulamalarınızı yönetin
Comment[uk]=Керування автоматичним запуском програм
Comment[ur]=کمپیوڑر آغاز کی ایپلی کیشنز کا انتطام کریں
Comment[uz]=Avto-yuklanuvchi dasturlarni boshqarish
Comment[vi]=Quản lý ứng dụng khởi chạy của bạn
Comment[zh_CN]=管理启动程序
Comment[zh_HK]=管理你的始動應用程式
Comment[zh_TW]=管理您的系統啟動應用程式
Keywords=startup;programs;boot;init;session;autostart;apps;
Keywords[ar]=بدء التشغيل، التطبيقات، الإقلاع، التمهيد، الجلسة، التشغيل الآلي;البرامج;
Keywords[ast]=arrinque;programes;boot;init;sesión;autoaniciu;apps;
Keywords[ay]=qalltawi;prukramanaka;kumputatur qalltawi;init;mit'a;justupak qalltawi;aplikasiyunanaka;inicio;programas;arranque;inicialización;sesión;autoinicio;aplicaciones;
Keywords[be]=запуск;праграмы;загрузка;ініцыяцыя;сесія;аўтазапуск;старт;
Keywords[bg]=стартиране;програми;boot;init;сесия;авто старт;приложения;
Keywords[ca]=inici;programes;arrencada;inicialització;sessió;autoinici;aplicacions;
Keywords[ca@valencia]=inici;programes;arrancada;inicialització;sessió;autoinici;aplicacions;
Keywords[cs]=spuštění;programy;zavádění;init;sezení;automatické spouštění;aplikace;
Keywords[cy]=cychwyn;rhaglenni;cychwyn;cychwyn;sesiwn;awtomatig;apiau;
Keywords[da]=opstart;programmer;boot;init;session;automatisk opstart;apps;
Keywords[de]=Start;Programme;Anwendungen;Apps;Initialisierung;Sitzung;Autostart;
Keywords[el]=Εκκίνηση;προγράμματα;εκκίνηση;αρχικοποίηση;συνεδρία;αυτόματη έναρξη;εφαρμογές;
Keywords[eo]=startigo;programoj;praŝargo;init;seanco;aŭtomate startigi;apoj;
Keywords[es]=inicio;programas;arranque;inicialización;sesión;autoinicio;aplicaciones;
Keywords[es_AR]=inicio;programas;arranque;inicialización;sesión;autoinicio;aplicaciones;
Keywords[et]=käivitamine;programmid;alglaadimine;init;seanss;automaatkäivitus;rakendused;
Keywords[eu]=hasiera;programak;abioa;hasieraketa;saioa;abio automatikoa;aplikazioak;
Keywords[fa]=شروع، نرم‌افزار ها، راه‌اندازی، init، نشست، شروع خودکار، برنامه ها;
Keywords[fi]=käynnistäminen;ohjelmat;käynnistys;init;istunto;automaattinen käynnistys;sovellukset;
Keywords[fr]=démarrage;programmes;initialisation;démarrage automatique;applications;
Keywords[fr_CA]=démarrage;programmes;initialisation;démarrage automatique;applications;
Keywords[he]=אתחול;תוכניות;init;שיח;אתחול אוטומטי;יישומונים;
Keywords[hi]=आरंभ;प्रोग्राम;बूट;init;सत्र;स्वतः आरंभ;अनुप्रयोग;
Keywords[hr]=pokretanje;programi;init;sesija;automatsko pokretanje;aplikacije;
Keywords[hu]=indítás;programok;rendszerindítás;folyamat;munkamenet;alkalmazások;automatikus indítás;startup;programs;boot;init;session;autostart;apps;
Keywords[ia]=lanceamento initial;programmas;facer le boot de;initiar;session;auto-initio;applicationes;
Keywords[id]=awal mula;program;boot;init;sesi;autostart;aplikasi;
Keywords[is]=ræsing;forrit;ræsiforrit;init;seta;sjálfræsa;forrit;
Keywords[it]=avvio;programmi;boot;init;sessione;avvio automatico;apps;
Keywords[ja]=startup;programs;boot;init;session;autostart;apps;スタートアップ;プログラム;ブート;起動;セッション;自動開始;アプリ;
Keywords[kab]=asenker;iseγẓanen;boot;init;tiγimit;asenker awurman;isnasen;
Keywords[ko]=시작;프로그램;boot;init;세션;자동 시작;앱;
Keywords[lt]=paleidimas;paleistis;programos;init;inicijavimas;seansas;automatinis paleidimas;
Keywords[nb]=oppstart;programmer;oppstart;init;økt;autostart;apper;
Keywords[nl]=opstart;programma's;opstarten;init;sessie;automatische start;toepassingen;
Keywords[pl]=autouruchamianie;programy;uruchamianie;init;sesja;autostart;aplikacje;
Keywords[pt]=arranque;programas;boot;iniciar;sessão;automático;aplicações;
Keywords[pt_BR]=início;programas;boot;init;sessão;autoinício;apps;
Keywords[ro]=pornire;programe;boot;init;sesiune;autostart;aplicații;
Keywords[ru]=запуск;программы;загрузка;инициализация;сессия;автозапуск;приложения;
Keywords[rue]=пущаня;проґрамы;обтерьханя;ініціалізація;сесія;автозапуск;придаток;
Keywords[sk]=po spustení;spustenie;programy;zavedenie;init;relácia;sedenie;autoštart;aplikácie;
Keywords[sl]=zagon;programi;zagon;inicializacija;seja;avtomatski zagon;aplikacije;
Keywords[sr]=покретање;програми;подизање;инит;сесија;аутоматско покретање;апликације;
Keywords[sr@ijekavian]=покретање;програми;подизање;инит;сесија;аутоматско покретање;апликације;
Keywords[sr@ijekavianlatin]=покретање;програми;подизање;инит;сесија;аутоматско покретање;апликације;
Keywords[sr@latin]=početno;programi;podizanje;init;sesija;automatsko pokretanje;aplikacije;
Keywords[sv]=uppstart;program;boota;init;session;autostart;appar;
Keywords[tr]=başlangıç;programlar;açılış;oturum;otomatik başlat;uygulamalar;
Keywords[uk]=запуск;програми;завантаження;ініціалізація;сесія;автозапуск;додатки;
Keywords[uz]=ishga tushirish;dasturlar;yuklash;boshlash;sessiya;autostart;ilovalar;
Keywords[vi]=khởi tạo;chương trình;khởi động;init;session;tự khởi động;ứng dụng;
Keywords[zh_CN]=启动，程序，引导，初始化，会话，自动启动，应用程序;
Keywords[zh_HK]=系統啟動;程式;開機;init;作業階段;自動啟動;程式;
Keywords[zh_TW]=系統啟動;程式;開機;init;作業階段;自動啟動;程式;
