[Desktop Entry]
Icon=cs-backgrounds
Exec=cinnamon-settings backgrounds
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Backgrounds
Name[am]=መደቦች
Name[ar]=الخلفيات
Name[ast]=Fondos de pantalla
Name[be]=фон
Name[be@latin]=фон
Name[bg]=Фон
Name[bg_BG]=Фон
Name[bs]=Pozadine
Name[ca]=Fons del escriptori
Name[ca@valencia]=Fons de pantalla
Name[ca_ES@valencia]=Fons de pantalla
Name[cs]=Pozadí
Name[cs_CZ]=Pozadí
Name[cy]=Cefndiroedd
Name[da]=Baggrunde
Name[da_DK]=Baggrunde
Name[de]=Hintergrundbilder
Name[de_DE]=Hintergrundbilder
Name[el]=Φόντο
Name[eo]=Fonoj
Name[es]=Fondos
Name[es_AR]=Fondos
Name[es_CL]=Fondos
Name[es_CO]=Fondos
Name[es_CR]=Fondos
Name[es_DO]=Fondos
Name[es_EC]=Fondos
Name[es_ES]=Fondos
Name[es_GT]=Fondos
Name[es_HN]=Fondos
Name[es_MX]=Fondos
Name[es_NI]=Fondos
Name[es_PA]=Fondos
Name[es_PE]=Fondos
Name[es_PR]=Fondos
Name[es_SV]=Fondos
Name[es_US]=Fondos
Name[es_UY]=Fondos
Name[es_VE]=Fondos
Name[et]=Taustad
Name[eu]=Atzeko planoak
Name[fi]=Taustat
Name[fi_FI]=Taustat
Name[fr]=Fonds d'écran
Name[fr_CA]=Fonds d'écran
Name[fy]=Eftergrûn
Name[ga]=Cúlraí
Name[gd]=Cùlaibhean
Name[gl]=Fondos
Name[gl_ES]=Fondos
Name[he]=רקעים
Name[he_IL]=רקעים
Name[hr]=Pozadine
Name[hu]=Háttérképek
Name[hu_HU]=Háttérképek
Name[id]=Latar belakang
Name[id_ID]=Latar belakang
Name[is]=Bakgrunnar
Name[it]=Sfondi
Name[ja]=背景
Name[ja_JP]=背景
Name[ko]=배경화면
Name[ko_KR]=배경화면
Name[lo]=ພື້ນຫຼັງ
Name[lo_LA]=ພື້ນຫຼັງ
Name[lt]=Fonai
Name[lt_LT]=Fonai
Name[lv]=Fona attēli
Name[lv_LV]=Fona attēli
Name[ms]=Latar Belakang
Name[ms_MY]=Latar Belakang
Name[nb]=Bakgrunner
Name[nb_NO]=Bakgrunner
Name[nds]=Hintergrundbilder
Name[nl]=Achtergronden
Name[nl_NL]=Achtergronden
Name[oc]=Rèire plans
Name[pa]=ਬੈਕਗਰਾਉਂਡ
Name[pl]=Tła
Name[pl_PL]=Tła
Name[pt]=Fundos
Name[pt_BR]=Planos de Fundo
Name[pt_PT]=Fundos
Name[ro]=Fundaluri
Name[ro_RO]=Fundaluri
Name[ru]=Фоновые рисунки
Name[sk]=Pozadia
Name[sk_SK]=Pozadia
Name[sl]=Ozadja
Name[sl_SI]=Ozadja
Name[sq]=Sfondet
Name[sr]=Позадине
Name[sr@Latn]=Позадине
Name[sr@ije]=Позадине
Name[sr@ijekavianlatin]=Позадине
Name[sr@latin]=Позадине
Name[sv]=Bakgrundsbilder
Name[ta]=பின்னணிகள்
Name[ta_LK]=பின்னணிகள்
Name[tg]=Пасзаминаҳо
Name[th]=พื้นหลัง
Name[th_TH]=พื้นหลัง
Name[tr]=Arkaplanlar
Name[uk]=Зображення тла
Name[uk_UA]=Зображення тла
Name[ur]=پسِ منظر
Name[ur_PK]=پسِ منظر
Name[uz]=Фонлар
Name[uz@cyrillic]=Фонлар
Name[vi]=Hình nền
Name[vi_VN]=Hình nền
Name[zh_CN]=背景
Name[zh_HK]=背景
Name[zh_TW]=背景
Comment=Change your desktop's background
Comment[am]=የዴስክቶፕ መደብ መቀየሪያ
Comment[ar]=غيّر خلفية سطح المكتب
Comment[ast]=Camuda'l fondu del to escritoriu
Comment[be]=Змянiце фон працоўнага стала
Comment[be@latin]=Змянiце фон працоўнага стала
Comment[bg]=Промяна на фона на работния плот
Comment[bg_BG]=Промяна на фона на работния плот
Comment[bs]=Promjenite vašu pozadinu na desktopu
Comment[ca]=Canviar el fons de l'escriptori
Comment[ca@valencia]=Canviar el fons d'escriptori
Comment[ca_ES@valencia]=Canviar el fons d'escriptori
Comment[cs]=Změna pozadí plochy
Comment[cs_CZ]=Změna pozadí plochy
Comment[cy]=Newidiwch gefndir eich bwrdd gwaith
Comment[da]=Ændr din skrivebordsbaggrund
Comment[da_DK]=Ændr din skrivebordsbaggrund
Comment[de]=Schreibtischhintergrund ändern
Comment[de_DE]=Schreibtischhintergrund ändern
Comment[el]=Άλλαξε το φόντο της επιφάνειας εργασίας
Comment[es]=Cambiar el fondo de escritorio
Comment[es_AR]=Cambiar el fondo de escritorio
Comment[es_CL]=Cambiar el fondo de escritorio
Comment[es_CO]=Cambiar el fondo de escritorio
Comment[es_CR]=Cambiar el fondo de escritorio
Comment[es_DO]=Cambiar el fondo de escritorio
Comment[es_EC]=Cambiar el fondo de escritorio
Comment[es_ES]=Cambiar el fondo de escritorio
Comment[es_GT]=Cambiar el fondo de escritorio
Comment[es_HN]=Cambiar el fondo de escritorio
Comment[es_MX]=Cambiar el fondo de escritorio
Comment[es_NI]=Cambiar el fondo de escritorio
Comment[es_PA]=Cambiar el fondo de escritorio
Comment[es_PE]=Cambiar el fondo de escritorio
Comment[es_PR]=Cambiar el fondo de escritorio
Comment[es_SV]=Cambiar el fondo de escritorio
Comment[es_US]=Cambiar el fondo de escritorio
Comment[es_UY]=Cambiar el fondo de escritorio
Comment[es_VE]=Cambiar el fondo de escritorio
Comment[eu]=Aldatu mahaigainaren atzeko planoa
Comment[fi]=Muuta työpöydän taustakuvaa
Comment[fi_FI]=Muuta työpöydän taustakuvaa
Comment[fr]=Changer le fond d'écran
Comment[fr_CA]=Modifier votre fond d'écran
Comment[fy]=Bureaublêd eftergrûn feroarje
Comment[gd]=Atharraich cùlaibh an desktop agad
Comment[gl]=Cambia o fondo do escritorio
Comment[gl_ES]=Cambia o fondo do escritorio
Comment[hr]=Promijenite pozadinu svoje redne površine
Comment[hu]=Asztal hátterének megváltoztatása
Comment[hu_HU]=Asztal hátterének megváltoztatása
Comment[id]=Ubah background desktop
Comment[id_ID]=Ubah background desktop
Comment[is]=Breyta bakgrunni skjáborðs
Comment[it]=Cambia sfondo del desktop
Comment[ja]=デスクトップ背景の変更
Comment[ja_JP]=デスクトップ背景の変更
Comment[ko]=배경화면 변경
Comment[ko_KR]=배경화면 변경
Comment[lo]=ປ່ຽນພື້ນຫຼັງໜ້າຈໍຂອງເຈົ້າ
Comment[lo_LA]=ປ່ຽນພື້ນຫຼັງໜ້າຈໍຂອງເຈົ້າ
Comment[lt]=Pakeisti darbalaukio foną
Comment[lt_LT]=Pakeisti darbalaukio foną
Comment[lv]=Mainīt darbvirsmas fona attēlu
Comment[lv_LV]=Mainīt darbvirsmas fona attēlu
Comment[ms]=Tukar latar belakang desktop
Comment[ms_MY]=Tukar latar belakang desktop
Comment[nb]=Endre skrivebordsbakgrunnen din
Comment[nb_NO]=Endre skrivebordsbakgrunnen din
Comment[nds]=Desktophintergrund ändern
Comment[nl]=Verander de achtergrond van uw bureaublad
Comment[nl_NL]=Verander de achtergrond van uw bureaublad
Comment[pl]=Zmień tło pulpitu
Comment[pl_PL]=Zmień tło pulpitu
Comment[pt]=Mudar o fundo do seu ambiente de trabalho
Comment[pt_BR]=Alterar plano de fundo de sua área de trabalho
Comment[pt_PT]=Mudar o fundo do seu ambiente de trabalho
Comment[ro]=Schimbă imaginea de fundal
Comment[ro_RO]=Schimbă imaginea de fundal
Comment[ru]=Изменить обои рабочего стола
Comment[sk]=Zmeniť pozadie plochy
Comment[sk_SK]=Zmeniť pozadie plochy
Comment[sl]=Spremenite ozadje namizja
Comment[sl_SI]=Spremenite ozadje namizja
Comment[sq]=Ndryshoni sfondin e desktopit tuaj
Comment[sr]=Промени позадину
Comment[sr@Latn]=Промени позадину
Comment[sr@ije]=Промени позадину
Comment[sr@ijekavianlatin]=Промени позадину
Comment[sr@latin]=Промени позадину
Comment[sv]=Byt skrivbordsbakgrund
Comment[ta]=பணிமேடையின் பின்னணியை மாற்று
Comment[ta_LK]=பணிமேடையின் பின்னணியை மாற்று
Comment[tg]=Тағйир додани пасзаминаи мизи корӣ
Comment[th]=เปลี่ยนพื้นหลังบนพื้นโต๊ะของคุณ
Comment[th_TH]=เปลี่ยนพื้นหลังบนพื้นโต๊ะของคุณ
Comment[tr]=Masaüstü arkaplan resmini değiştir
Comment[uk]=Змінити тло стільниці
Comment[uk_UA]=Змінити тло стільниці
Comment[ur]=ڈیسک ٹاپ پس منظر تبدیل کریں
Comment[ur_PK]=ڈیسک ٹاپ پس منظر تبدیل کریں
Comment[uz]=Иш столи фонини ўзгартиринг
Comment[uz@cyrillic]=Иш столи фонини ўзгартиринг
Comment[vi]=Đổi nền màn hình làm việc
Comment[vi_VN]=Đổi nền màn hình làm việc
Comment[zh_CN]=修改桌面背景
Comment[zh_HK]=變更你桌面的背景
Comment[zh_TW]=變更您的桌面背景
