[Desktop Entry]
Name=Workspaces
Comment=Manage workspace preferences
Icon=/usr/lib/cinnamon-settings/data/icons/workspaces.svg
Exec=cinnamon-settings workspaces
Type=Application
OnlyShowIn=GNOME;
Categories=Settings;
Name[gd]=Rumannan-obrach
Name[ga]=Spásanna Oibre
Name[gl]=Espazos de traballo
Name[tr]=Çalışma Alanları
Name[ta]=பணியிடங்கள்
Name[pt_BR]=Espaços de trabalho
Name[de]=Arbeitsflächen
Name[da]=Arbejdsområder
Name[et]=Tööruumid
Name[es]=Áreas de trabajo
Name[ru]=Рабочие области
Name[ro]=Spații de lucru
Name[ms]=Ruang Kerja
Name[ja]=ワークスペース
Name[om]=Iddoowwan hojii
Name[ca]=Espais de treball
Name[cy]=Mannau Gwaith
Name[cs]=Pracovní plochy
Name[pt]=Áreas de trabalho
Name[pa]=ਵਰਕਸਪੇਸਾਂ
Name[en_GB]=Workspaces
Name[hr]=Radni prostori
Name[hu]=Munkaterületek
Name[zh_CN]=工作区
Name[pl]=Obszary robocze
Name[uk]=Робочі простори
Name[vi]=Vùng làm việc
Name[is]=Vinnusvæði
Name[am]=የስራ ቦታዎች
Name[it]=Aree di lavoro
Name[nl]=Werkbladen
Name[fr]=Espaces de travail
Name[fr_CA]=Espaces de travail
Name[sr]=Радни простори
Name[sv]=Arbetsytor
Name[sl]=Delovni prostor
