[Desktop Entry]
Icon=cs-desktop-effects
Exec=cinnamon-settings effects
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Effects
Name[am]=ውጤቶች
Name[bg]=Ефекти
Name[ca]=Efectes
Name[ca@valencia]=Efectes
Name[cs]=Efekty
Name[cy]=Effeithiau
Name[da]=Effekter
Name[de]=Effekte
Name[el]=Εφέ
Name[eo]=Efektoj
Name[es]=Efectos
Name[es_AR]=Efectos
Name[et]=Efektid
Name[eu]=Efektuak
Name[fi]=Tehosteet
Name[fr]=Effets
Name[fr_CA]=Effets
Name[ga]=Maisíochtaí
Name[gd]=Buaidhean
Name[gl]=Efectos
Name[hr]=Efekti
Name[hu]=Effektusok
Name[id]=Efek
Name[is]=Skjábrellur
Name[it]=Effetti
Name[ja]=効果
Name[lt]=Efektai
Name[lv]=Efekti
Name[ms]=Kesan
Name[nb]=Effekter
Name[nl]=Effecten
Name[oc]=Efièches
Name[om]=galteelee
Name[pa]=ਪ੍ਰਭਾਵ
Name[pl]=Efekty
Name[pt]=Efeitos
Name[pt_BR]=Efeitos
Name[pt_PT]=Efeitos
Name[ro]=Efecte
Name[ru]=Эффекты
Name[sk]=Efekty
Name[sl]=Učinki
Name[sr]=Ефекти
Name[sr@ijekavianlatin]=Ефекти
Name[sr@latin]=Ефекти
Name[sv]=Effekter
Name[ta]=விளைவுகள்
Name[tg]=Таъсирҳо
Name[th]=ลูกเล่น
Name[tr]=Efektler
Name[uk]=Ефекти
Name[vi]=Hiệu ứng
Name[zh_CN]=特效
Name[zh_TW]=特效
Comment=Control Cinnamon visual effects.
Comment[am]=የ ሲናሞን መመልከቻ ውጤቶች መቆጣጠሪያ
Comment[bg]=Контролиране на визуалните ефекти на Cinnamon
Comment[ca]=Configurar efectes visuals de Cinnamon
Comment[ca@valencia]=Configurar efectes visuals de Cinnamon
Comment[cs]=Nastavení Cinnamon vizuálních efektů
Comment[cy]=Rheolwch effeitiau gwledol Cinnamon
Comment[da]=Kontrollér Cinnamons visuelle effekter
Comment[de]=Cinnamons visuelle Effekte kontrollieren
Comment[el]=Ρυθμίστε τα οπτικά εφέ του Cinnamon
Comment[es]=Configurar efectos visuales de Cinnamon
Comment[es_AR]=Configurar efectos visuales de Cinnamon
Comment[fi]=Hallitse Cinnamonin ilmettä.
Comment[fr]=Gérez les effets visuels de Cinnamon
Comment[fr_CA]=Gérez les effets visuels de Cinnamon
Comment[hr]=Upravljajte Cinnamon vizualnim efektima.
Comment[hu]=Cinnamon vizuális effektusok beállítása
Comment[id]=Atur efek visual Cinnamon
Comment[is]=Stýra viðmótsbrellum í Cinnamon.
Comment[lt]=Valdyti Cinnamon vaizdo efektus.
Comment[lv]=Pārvaldīt Cinnamon vizuālos efektus.
Comment[nl]=Visuele effecten van Cinnamon beheren.
Comment[pl]=Kontroluj efekty wizualne Cinnamona.
Comment[pt]=Controle os efeitos visuais do Cinnamon.
Comment[pt_BR]=Controle os efeitos visuais do Cinnamon.
Comment[pt_PT]=Controle os efeitos visuais do Cinnamon.
Comment[ro]=Controlează efectele visuale Cinnamon.
Comment[sk]=Kontrolovať vizuálne efekty Cinnamon
Comment[sl]=Upravljajte z vidnimi učinki Cinnamona
Comment[tg]=Идоракунии таъсирҳои визуалии Cinnamon
Comment[th]=ควบคุมผลภาพ Cinnamon
Comment[tr]=Cinnamon görsel efektlerini kontrol et
Comment[uk]=Управління візуальними ефектами Cinnamon
Comment[vi]=Điều khiển hiệu ứng trực quan Cinnamon.
