[Desktop Entry]
Icon=cs-details
Exec=cinnamon-settings info
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=System Info
Name[am]=የስርአት መረጃ
Name[ar]=معلومات النظام
Name[ast]=Información del sistema
Name[be]=Сістэмная інфармацыя
Name[be@latin]=Сістэмная інфармацыя
Name[bg]=Информация за системата
Name[bs]=Informacije o sistemu
Name[ca]=Informació del sistema
Name[ca@valencia]=Informació del sistema
Name[cs]=Systémové informace
Name[cy]=Gwybodaeth System
Name[da]=Systemoplysninger
Name[de]=Systeminformation
Name[de_DE]=Systeminformation
Name[el]=Πληροφορίες συστήματος
Name[eo]=Sisteminformoj
Name[es]=Información del sistema
Name[es_AR]=Información del sistema
Name[es_CL]=Información del sistema
Name[es_CO]=Información del sistema
Name[es_CR]=Información del sistema
Name[es_DO]=Información del sistema
Name[es_EC]=Información del sistema
Name[es_ES]=Información del sistema
Name[es_GT]=Información del sistema
Name[es_HN]=Información del sistema
Name[es_MX]=Información del sistema
Name[es_NI]=Información del sistema
Name[es_PA]=Información del sistema
Name[es_PE]=Información del sistema
Name[es_PR]=Información del sistema
Name[es_SV]=Información del sistema
Name[es_US]=Información del sistema
Name[es_UY]=Información del sistema
Name[es_VE]=Información del sistema
Name[et]=Süsteemi info
Name[eu]=Sistemaren informazioa
Name[fi]=Järjestelmätiedot
Name[fr]=Information système
Name[fr_CA]=Information système
Name[ga]=Faisnéis Córais
Name[gd]=Fiosrachadh mun t-siostam
Name[gl]=Información do sistema
Name[hr]=Informacije sustava
Name[hu]=Rendszerinformációk
Name[id]=Informasi Sistem
Name[is]=Kerfisupplýsingar
Name[it]=Informazioni di sistema
Name[ja]=システム情報
Name[ko]=시스템정보
Name[lo]=ຂໍ້ມູນລະບົບ
Name[lt]=Sistemos informacija
Name[lv]=Sistēmas informācija
Name[ms]=Maklumat Sistem
Name[ms_MY]=Maklumat Sistem
Name[nb]=Systeminformasjon
Name[nds]=Systeminformationen
Name[nl]=Systeeminformatie
Name[nl_NL]=Systeeminformatie
Name[oc]=Informacions sul sistèma
Name[om]=Odeeffanoo sirnaa
Name[pa]=ਸਿਸਟਮ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o systemie
Name[pt]=Informações do sistema
Name[pt_BR]=Informações do sistema
Name[pt_PT]=Informações do sistema
Name[ro]=Informații sistem
Name[ru]=О системе
Name[sk]=Systémové informácie
Name[sl]=Sistemski podatki
Name[sq]=Informacione mbi sistemin
Name[sr]=Подаци о систему
Name[sr@Latn]=Подаци о систему
Name[sr@ije]=Подаци о систему
Name[sr@ijekavian]=Подаци о систему
Name[sr@ijekavianlatin]=Подаци о систему
Name[sr@latin]=Подаци о систему
Name[sv]=Systeminformation
Name[ta]=கணினி தகவல்
Name[ta_LK]=கணினி தகவல்
Name[tg]=Иттилооти система
Name[th]=ข้อมูลระบบ
Name[tr]=Sistem Bilgisi
Name[uk]=Інформація про систему
Name[ur]=سسٹم معلومات
Name[ur_PK]=سسٹم معلومات
Name[vi]=Thông tin Hệ thống
Name[zh_CN]=系统信息
Name[zh_HK]=系統資訊
Name[zh_TW]=系統資訊
Comment=Display system information
Comment[am]=የ ስርአቱን መረጃ ማሳያ
Comment[ar]=إظهار معلومات النظام
Comment[be]=Паказаць сістэмная інфармацыю
Comment[be@latin]=Паказаць сістэмная інфармацыю
Comment[bg]=Покажи системна информация
Comment[bs]=Prikaži informacije o sistemu
Comment[ca]=Mostrar Informació del sistema
Comment[ca@valencia]=Mostra la informació del sistema
Comment[cs]=Zobrazit systémové informace
Comment[cy]=Dangos gwybodaeth system
Comment[da]=Vis systeminformation
Comment[de]=Systeminformationen anzeigen
Comment[de_DE]=Systeminformationen anzeigen
Comment[el]=Προβολή πληροφοριών για τον υπολογιστή
Comment[es]=Mostrar información del sistema
Comment[es_AR]=Mostrar información del sistema
Comment[es_CL]=Mostrar información del sistema
Comment[es_CO]=Mostrar información del sistema
Comment[es_CR]=Mostrar información del sistema
Comment[es_DO]=Mostrar información del sistema
Comment[es_EC]=Mostrar información del sistema
Comment[es_ES]=Mostrar información del sistema
Comment[es_GT]=Mostrar información del sistema
Comment[es_HN]=Mostrar información del sistema
Comment[es_MX]=Mostrar información del sistema
Comment[es_NI]=Mostrar información del sistema
Comment[es_PA]=Mostrar información del sistema
Comment[es_PE]=Mostrar información del sistema
Comment[es_PR]=Mostrar información del sistema
Comment[es_SV]=Mostrar información del sistema
Comment[es_US]=Mostrar información del sistema
Comment[es_UY]=Mostrar información del sistema
Comment[es_VE]=Mostrar información del sistema
Comment[et]=Süsteemi teabe näitamine
Comment[eu]=Bistaratu sistemaren informazioa
Comment[fi]=Näytä järjestelmätiedot
Comment[fr]=Afficher les informations du système
Comment[fr_CA]=Afficher les informations du système
Comment[gd]=Seall fiosrachadh mun t-siostam
Comment[gl]=Amosar a información do sistema
Comment[hr]=Prikaži informacije sustava
Comment[hu]=Rendszerinformációk megjelenítése
Comment[id]=Tampilkan informasi sistem
Comment[is]=Birta upplýsingar um kerfið
Comment[it]=Visualizza le informazioni di sistema
Comment[ja]=システム情報を表示
Comment[ko]=시스템정보 표시
Comment[lo]=ສະແດງຂໍ້ມູນກ່ຽວກັບລະບົບ
Comment[lt]=Rodyti sistemos informaciją
Comment[lv]=Attēlot sistēmas informāciju
Comment[ms]=Papar maklumat sistem
Comment[ms_MY]=Papar maklumat sistem
Comment[nb]=Vis systeminformasjon
Comment[nds]=Systeminformationen anzeigen
Comment[nl]=Systeeminformatie weergeven
Comment[nl_NL]=Systeeminformatie weergeven
Comment[pl]=Wyświetlaj informacje systemowe
Comment[pt]=Mostrar a informação do sistema
Comment[pt_BR]=Exibir informações do sistema
Comment[pt_PT]=Mostrar a informação do sistema
Comment[ro]=Arată informații despre sistem
Comment[ru]=Отображать информацию о системе
Comment[sk]=Zobraziť systémové informácie
Comment[sl]=Prikaži podrobnosti sistema
Comment[sq]=Shfaq informacione mbi sistemin
Comment[sr]=Прикажи податке о систему
Comment[sr@Latn]=Прикажи податке о систему
Comment[sr@ije]=Прикажи податке о систему
Comment[sr@ijekavian]=Прикажи податке о систему
Comment[sr@ijekavianlatin]=Прикажи податке о систему
Comment[sr@latin]=Прикажи податке о систему
Comment[sv]=Visa systeminformation
Comment[tg]=Намоиш додани иттилооти система
Comment[th]=แสดงข้อมูลระบบ
Comment[tr]=Sistem bilgisini göster
Comment[uk]=Показати системну інформацію
Comment[ur]=سسٹم معلومات دکھائیں
Comment[ur_PK]=سسٹم معلومات دکھائیں
Comment[vi]=Hiển thị thông tin hệ thống
Comment[zh_CN]=显示系统信息
Comment[zh_HK]=顯示系統資訊
Comment[zh_TW]=顯示系統資訊
