[Desktop Entry]
Icon=cs-fonts
Exec=cinnamon-settings fonts
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Font Selection
Name[af]=Kies lettertipe
Name[am]=የ ፊደል ምርጫዎች
Name[ar]=تحديد الخط
Name[ast]=Esbilla de fonte
Name[ay]=Qillqa kastanakan ajlliwi
Name[az]=Yazı biçiminin Seçimi
Name[be]=Выбар шрыфта
Name[bg]=Избор на шрифт
Name[br]=Diuzad nodrezhoù
Name[bs]=Izbor fonta
Name[ca]=Selecció de la lletra
Name[ca@valencia]=Selecció de la lletra
Name[cs]=Výběr písma
Name[cy]=Dewis Ffont
Name[da]=Valg af skrifttype
Name[de]=Schriftauswahl
Name[el]=Επιλογή Γραμματοσειράς
Name[eo]=Tiparelekto
Name[es]=Selección de las tipografías
Name[es_AR]=Selección de las tipografías
Name[et]=Kirjatüübi valik
Name[eu]=Letra-tipoen hautapena
Name[fa]=انتخاب فونت
Name[fi]=Fontit
Name[fr]=Sélection de polices
Name[fr_CA]=Sélection de police
Name[gd]=Taghadh a' chrutha-chlò
Name[gl]=Selección de tipos de letra
Name[he]=בחירת גופן
Name[hi]=मुद्रलिपि चयन
Name[hr]=Odabir slova
Name[hu]=Betűkészlet kiválasztása
Name[ia]=Selection del typo de litteras
Name[id]=Pilihan Fonta
Name[ie]=Selection de fonde
Name[is]=Velja letur
Name[it]=Selezione carattere
Name[ja]=フォントの選択
Name[ka]=ფონტის არჩევა
Name[kab]=Tafrayt n tsefsit
Name[ko]=글꼴 선택
Name[ku]=Hilbijartina Curetîpan
Name[la]=Selectio Typi
Name[lo]=ການເລືອກຟອນ
Name[lt]=Šriftų pasirinkimas
Name[lv]=Fontu izvēle
Name[mo]=Селектаря карактерелор
Name[ms]=Pemilihan Font
Name[nb]=Skriftvalg
Name[nds]=Schriftart auswählen
Name[nl]=Lettertypeselectie
Name[oc]=Selector de polissas
Name[pl]=Wybór czcionki
Name[pt]=Tipos de letra
Name[pt_BR]=Seleção de fonte
Name[ro]=Selecție fonturi
Name[ru]=Выбор шрифтов
Name[rue]=Убераня шріфтув
Name[sc]=Seletzione caràteres
Name[sk]=Výber písma
Name[sl]=Izbira pisave
Name[sq]=Zgjedhja e shkronjave
Name[sr]=Избор слова
Name[sr@ijekavian]=Избор слова
Name[sr@ijekavianlatin]=Избор слова
Name[sr@latin]=Izbor fontova
Name[sv]=Typsnittsval
Name[ta]=எழுத்துரு தேர்வு
Name[th]=การเลือกแบบอักษร
Name[tr]=Yazıtipi Seçimi
Name[uk]=Вибір шрифту
Name[ur]=فونٹ انتخاب
Name[uz]=SHriftlarni tanlash
Name[vi]=Chọn Kiểu chữ
Name[zh_CN]=选择字体
Name[zh_HK]=字型選擇
Name[zh_TW]=字型選擇
Comment=Configure system fonts
Comment[af]=Instellings vir stelsel-lettertipe
Comment[am]=የ ስርአቱን ፊደል ማሰናጃ
Comment[ar]=تكوين خطوط النظام
Comment[ast]=Configura les fontes del sistema
Comment[ay]=Sistema ukan qillqa kastanak mayjachaña
Comment[az]=Qurmaca yazı biçimlərini qur
Comment[be]=Наладзіць сістэмныя шрыфты
Comment[bg]=Конфигуриране на системни шрифтове
Comment[br]=Kefluniañ nodrezhoù ar reizhiad
Comment[bs]=Konfigurišite sistemke fontove
Comment[ca]=Configureu les lletres del sistema
Comment[ca@valencia]=Configureu les lletres del sistema
Comment[cs]=Nastavení systémových písem
Comment[cy]=Ffurfweddu ffontiau'r system
Comment[da]=Konfigurér systemskrifttyper
Comment[de]=Systemschriften konfigurieren
Comment[el]=Ρύθμιση γραμματοσειράς συστήματος
Comment[eo]=Agordi sistemtiparojn
Comment[es]=Configurar las tipografías del sistema
Comment[es_AR]=Configurar las tipografías del sistema
Comment[et]=Süsteemsete kirjatüüpide sätted
Comment[eu]=Konfiguratu sistemaren letra-tipoak
Comment[fa]=پیکربندی فونت‌های سیستم
Comment[fi]=Hallitse järjestelmän fontteja
Comment[fr]=Configurer les polices du système
Comment[fr_CA]=Configurer les polices du système
Comment[gd]=Rèitich cruthan-clò an t-siostaim
Comment[gl]=Configura os tipos de letra do sistema
Comment[he]=תיצור גופני מערכת
Comment[hi]=सिस्टम मुद्रलिपि विन्यास
Comment[hr]=Prilagodite slova sustava
Comment[hu]=Rendszer betűtípusok beállítása
Comment[ia]=Configura le typos de characteres de systema
Comment[id]=Pengaturan fonta sistem
Comment[is]=Stilla kerfisletur
Comment[it]=Configura il carattere di sistema
Comment[ja]=システムフォントの設定
Comment[kab]=Seɣwer tisefsa n unagraw
Comment[ko]=시스템 글꼴 설정
Comment[la]=Typum systematis ordina
Comment[lo]=ປັບແຕ່ງຟອນຂອງລະບົບ
Comment[lt]=Konfigūruoti sistemos šriftus
Comment[lv]=Konfigurēt sistēmas fontus
Comment[ms]=Konfigur sistem Font
Comment[nb]=Konfigurer systemskrifter
Comment[nds]=Systemschriftarten konfigurieren
Comment[nl]=Systeemlettertypen instellen
Comment[oc]=Configurar las polissas de caractèrs del sistèma
Comment[pl]=Konfiguracja czcionek systemu
Comment[pt]=Configurar tipo de letra
Comment[pt_BR]=Configurar fontes do sistema
Comment[ro]=Configurează fonturile sistemului
Comment[ru]=Настроить системные шрифты
Comment[rue]=Наладити сістемні шріфты
Comment[sc]=Cunfigura caràteres de sistema
Comment[sk]=Nastaviť systémové písma
Comment[sl]=Nastavljajte sistemske pisave
Comment[sq]=Konfiguro shkronjat e sistemit
Comment[sr]=Подешавање слова система
Comment[sr@ijekavian]=Подешавање слова система
Comment[sr@ijekavianlatin]=Подешавање слова система
Comment[sr@latin]=Postavke sistemskih fontova
Comment[sv]=Konfigurera systemets typsnitt
Comment[tg]=Танзимоти шрифтҳои низомвӣ
Comment[th]=กำหนดแบบอักษรของระบบ
Comment[tr]=Sistem yazı tiplerini yapılandır
Comment[uk]=Налаштування системних шрифтів
Comment[ur]=نظام کے فونٹ کو تشکیل دیں
Comment[uz]=Tizim shriftlarini sozlash
Comment[vi]=Cấu hình kiểu chữ hệ thống
Comment[zh_CN]=配置系统字体
Comment[zh_HK]=設定系統字型組態
Comment[zh_TW]=設定系統字型組態
Keywords=font;size;small;large;
Keywords[af]=lettertipe;grootte;klein;groot;
Keywords[am]=የ ፊደል መጠን: ትንሽ: ትልቅ;
Keywords[ar]=الخط، الحجم، صغير، كبير;
Keywords[ast]=fonte;tamañu;pequeñu;grande;lletra;lletres;fontes;
Keywords[ay]=qillqa kasta;ukch'a;jisk'a;jach'a;
Keywords[az]=yazı biçimi;kiçik;geniş;
Keywords[be]=шрыфт;памер;маленькі;вялікі;
Keywords[bg]=шрифт;размер;малък;голям;
Keywords[br]=nodrezh;ment;bihan;bras;
Keywords[bs]=font;veličina;malo;veliko;
Keywords[ca]=lletra;mida;petita;gran;
Keywords[ca@valencia]=lletra;mida;petita;gran;
Keywords[cs]=písmo;font;velikost;malé;velké;
Keywords[cy]=ffont;maint;bach;mawr;
Keywords[da]=skrifttype;størrelse;lille;stor;
Keywords[de]=Schriftart;Font;Größe;Klein;Groß;
Keywords[el]=γραμματοσειρά;μέγεθος;μικρά;μεγάλα;
Keywords[eo]=tiparo;grando;malgranda;granda;
Keywords[es]=tipografía;tamaño;pequeño;grande;
Keywords[es_AR]=tipografía;tamaño;pequeño;grande;
Keywords[et]=font;suurus;väike;suur;
Keywords[eu]=letra-tipoa;tamaina;txikia;handia;
Keywords[fa]=فونت، اندازه، کوچک، بزرگ;
Keywords[fi]=fontti;koko;pieni;iso;
Keywords[fr]=police;taille;petit;grand;
Keywords[fr_CA]=police;taille;petit;grand;
Keywords[ga]=clófhoireann;méid;beag;mór;
Keywords[gd]=cruth-clò;meud;beag;mòr;font;size;small;large;
Keywords[gl]=tipo de letra;tamaño;pequena;grande;
Keywords[he]=גופן;גודל;קטן;גדול;
Keywords[hi]=मुद्रलिपि;आकार;लघु;विशाल;
Keywords[hr]=slovo;veličina;malo;veliko;
Keywords[hu]=betűtípus;méret;kicsi;nagy;
Keywords[ia]=typo de characteres;dimension;parve;grande;
Keywords[id]=fonta;ukuran;kecil;besar;
Keywords[is]=letur;stærð;lítið;stórt;
Keywords[it]=carattere;dimensione;piccolo;grande;
Keywords[ja]=font;size;small;large;フォント;サイズ;大きさ;小さい;大きい;
Keywords[kab]=tasefsit;tiddi;tamecṭuḥt;tahrawnant;
Keywords[ko]=글꼴;크기;작게;크게;
Keywords[lo]=ຟອນ;ຂະໜາດ;ນ້ອຍ;ໃຫຍ່;
Keywords[lt]=šriftas;dydis;didelis;mažas;
Keywords[lv]=fonts;izmērs;mazi;lieli;
Keywords[ms]=fon;saiz;kecil;besar;
Keywords[nb]=skrifttype;størrelse;liten;stor;
Keywords[nds]=Schriftart;Größe;klein;groß;
Keywords[nl]=lettertype;grootte;klein;groot;
Keywords[oc]=polissa;talha;pichona;granda;
Keywords[pl]=czcionka;wielkość;mała;duża;
Keywords[pt]=letra;tamanho;grande;pequena;
Keywords[pt_BR]=fonte;tamanho;pequena;grande;
Keywords[ro]=font;dimensiune;mic;mare;
Keywords[ru]=шрифт;размер;маленький;большой;
Keywords[rue]=шріфт;розмір;малый;великый;
Keywords[sc]=caràtere;mannària;minore;mannu;
Keywords[sk]=písmo;veľkosť;malé;veľké;
Keywords[sl]=pisava;velikost;majhna;velika;
Keywords[sq]=shkronjat;madhësia;i vogël;i madh;
Keywords[sr]=писмо;слова;фонт;величина;мало;велико;
Keywords[sr@ijekavian]=писмо;слова;фонт;величина;мало;велико;
Keywords[sr@ijekavianlatin]=писмо;слова;фонт;величина;мало;велико;
Keywords[sr@latin]=font;veličina;mali;veliki;
Keywords[sv]=typsnitt;storlek;små;stort;
Keywords[ta]=எழுத்துரு;அளவு;சிறிய;பெரிய;
Keywords[tg]=шрифт;андоза;хурд;калон;
Keywords[th]=แบบอักษร;ขนาด;เล็ก;ใหญ่;
Keywords[tr]=font;boyut;küçük;büyük;
Keywords[uk]=шрифт;розмір;маленький;великий;
Keywords[ur]=فونٹ، سائز، چھوٹا، بڑا;
Keywords[uz]=shrift;o‘lcham;kichkina;katta;
Keywords[vi]=phông;cỡ;nhỏ;to;
Keywords[zh_CN]=font;size;small;large;字体;字号;大小;放大;缩小;
Keywords[zh_HK]=font;size;small;large;字型;大小;小;大;
Keywords[zh_TW]=字型;尺寸;小;大;
