[Desktop Entry]
Icon=cs-extensions
Exec=cinnamon-settings extensions
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Extensions
Name[af]=Uitbreidings
Name[am]=ተጨማሪዎች
Name[ar]=الملحقات
Name[ast]=Estensiones
Name[ay]=Jithitatayawinaka
Name[az]=Uzantılar
Name[be]=Пашырэнні
Name[bg]=Разширения
Name[br]=Askouezhioù
Name[bs]=Proširenja
Name[cs]=Rozšíření
Name[cy]=Estyniadau
Name[da]=Udvidelser
Name[de]=Erweiterungen
Name[el]=Επεκτάσεις
Name[eo]=Etendaĵoj
Name[es]=Extensiones
Name[es_AR]=Extensiones
Name[et]=Laiendid
Name[eu]=Hedapenak
Name[fa]=افزونه‌ها
Name[fi]=Laajennukset
Name[ga]=Iarmhíreanna
Name[gd]=Leudachain
Name[gl]=Extensións
Name[he]=הרחבות
Name[hi]=एक्‍सटेंशन
Name[hr]=Proširenja
Name[hu]=Bővítmények
Name[ia]=Extensiones
Name[id]=Ekstensi
Name[ie]=Extensiones
Name[is]=Viðbætur
Name[it]=Estensioni
Name[ja]=拡張機能
Name[ka]=გაფართოებები
Name[kab]=Isiɣzifen
Name[ko]=확장 프로그램
Name[ku]=Pêvek
Name[la]=Appendices
Name[lo]=ສ່ວນຂະຫຍາຍ
Name[lt]=Plėtiniai
Name[lv]=Papildinājumi
Name[ms]=Sambungan
Name[nb]=Utvidelser
Name[nds]=Erweiterungen
Name[nl]=Extensies
Name[pa]=ਐਕਸਟੈਂਸ਼ਨਾਂ
Name[pl]=Rozszerzenia
Name[pt]=Extensões
Name[pt_BR]=Extensões
Name[ro]=Extensii
Name[ru]=Расширения
Name[rue]=Росшыріня
Name[sc]=Estensiones
Name[sk]=Rozšírenia
Name[sl]=Razširitve
Name[sq]=Prapashtesat
Name[sr]=Проширења
Name[sr@ijekavian]=Проширења
Name[sr@ijekavianlatin]=Проширења
Name[sr@latin]=Ekstenzije
Name[sv]=Tillägg
Name[ta]=நீட்சிகள்
Name[tg]=Пасвандҳо
Name[th]=ส่วนขยาย
Name[tr]=Eklentiler
Name[uk]=Розширення
Name[ur]=ایکس ٹینشنز
Name[uz]=Kengaytmalar
Name[vi]=Phần mở rộng
Name[zh_CN]=扩展
Name[zh_HK]=擴充套件
Name[zh_TW]=擴充套件
Comment=Manage your Cinnamon extensions
Comment[af]=Bestuur u Cinnamon-uitbreidings
Comment[am]=የ ሲናሞን ተጨማሪዎች አስተዳዳሪ
Comment[ar]=إدارة ملحقات سينامُن
Comment[ast]=Alministra les tos estensiones Cinnamon
Comment[ay]=Cinnamon ukan jithitatayawinak irpaña
Comment[az]=Öz "Cinnamon" uzantılarınızı yönəldin
Comment[be]=Кiраванне пашырэннямi Cinnamon
Comment[bg]=Управление на Вашите разширения за Cinnamon
Comment[br]=Merañ askouezhioù Cinnamon
Comment[bs]=Upravljajte vašim Cinnamon proširenjima
Comment[ca]=Gestioneu les vostres extensions de Cinnamon
Comment[ca@valencia]=Gestioneu les vostres extensions de Cinnamon
Comment[cs]=Správa rozšíření pro prostředí Cinnamon
Comment[cy]=Rheoli eich estyniadau Cinnamon
Comment[da]=Administrér dine Cinnamon-udvidelser
Comment[de]=Cinnamon-Erweiterungen verwalten
Comment[el]=Διαχειρίσου τις επεκτάσεις του Cinnamon
Comment[eo]=Administri viajn Cinnamon-etendaĵojn
Comment[es]=Gestionar las extensiones de Cinnamon
Comment[es_AR]=Gestionar las extensiones de Cinnamon
Comment[et]=Sinu Cinnamoni laiendite haldamine
Comment[eu]=Kudeatu zure Cinnamon hedapenak
Comment[fa]=افزونه‌های Cinnamon را مدیریت کنید
Comment[fi]=Hallitse Cinnamon laajennuksia
Comment[fr]=Gérez vos extensions Cinnamon
Comment[fr_CA]=Gérer les extensions Cinnamon
Comment[gd]=Stiùirich na leudachain Cinnamon agad
Comment[gl]=Administra os engadidos de Cinnamon
Comment[he]=ניהול הרחבות סינמון
Comment[hi]=सिनेमन एक्सटेंशन प्रबंधन
Comment[hr]=Upravljajte svojim Cinnamon proširenjima
Comment[hu]=Cinnamon bővítmények kezelése
Comment[ia]=Administrar tu extensiones de Cinnamon
Comment[id]=Kelola ekstensi Cinnamon Anda
Comment[is]=Sýsla með stillingar fyrir Cinnamon viðbætur
Comment[it]=Gestisci le estensioni di Cinnamon
Comment[ja]=Cinnamon の拡張機能を管理します
Comment[kab]=Sefrek izsiɣzaf n Cinnamon
Comment[ko]=시나몬 확장 프로그램을 관리합니다
Comment[lo]=ຈັດການສ່ວນຂະຫຍາຍ Cinnamon ຂອງເຈົ້າ
Comment[lt]=Tvarkyti savo Cinnamon plėtinius
Comment[lv]=Pārvaldīt Cinnamon papildinājumus
Comment[ms]=Mengurus lanjutan Cinnamon
Comment[nb]=Håndter dine Cinnamon-utvidelser
Comment[nds]=Cinnamon Erweiterungen bearbeiten
Comment[nl]=Uw Cinnamon-extensies beheren
Comment[oc]=Gerir vòstras extensions de Cinnamon
Comment[pl]=Zarządzaj swoimi rozszerzeniami Cinnamon
Comment[pt]=Gerir extensões Cinnamon
Comment[pt_BR]=Gerenciar suas extensões do Cinnamon
Comment[ro]=Gestionează extensiile tale Cinnamon
Comment[ru]=Управление расширениями Cinnamon
Comment[rue]=Справованя росшырінями Cinnamon
Comment[sc]=Manìgia sas estensiones Cinnamon tuas
Comment[sk]=Spravuje vaše rozšírenia prostredia Cinnamon
Comment[sl]=Upravljajte z razširitvami Cinnamona
Comment[sq]=Menaxhoni prapashtesat e Cinnamon
Comment[sr]=Управљање проширењима Цимета
Comment[sr@ijekavian]=Управљање проширењима Цимета
Comment[sr@ijekavianlatin]=Управљање проширењима Цимета
Comment[sr@latin]=Upravljajte ekstenzijama Cinnamona
Comment[sv]=Hantera dina Cinnamon-tillägg
Comment[tg]=Идоракунии пасвандҳои Cinnamon
Comment[th]=จัดการส่วนขยาย Cinnamon ของคุณ
Comment[tr]=Cinnamon eklentilerini yönet
Comment[uk]=Керування розширеннями Cinnamon
Comment[ur]=اپنے سنامون کی ایکسٹینشن کا انتظام کریں
Comment[uz]=Sinnamon kengaytmalarini boshqarish
Comment[vi]=Quản lý Phần mở rộng Cinnamon
Comment[zh_CN]=扩展管理
Comment[zh_HK]=管理你的 Cinnamon 擴充套件
Comment[zh_TW]=管理您的 Cinnamon 擴充套件
Keywords=extension;addon;
Keywords[am]=ተጨማሪ መጨመሪያ;
Keywords[ar]=الملحق، الإضافة;
Keywords[ast]=estensión;addon;
Keywords[ay]=jithitatayawi;yapawi;
Keywords[az]=uzantılar;artırma;
Keywords[be]=пашырэнне;дадатак;
Keywords[bg]=разширение;добавка;
Keywords[br]=askouezh;enlugell;
Keywords[bs]=proširenje;dodatak;
Keywords[ca]=extensió;complement;
Keywords[ca@valencia]=extensió;complement;
Keywords[cs]=rozšíření;přídavek;
Keywords[cy]=estyniad;ychwanegyn;
Keywords[da]=udvidelse;tilføjelse;
Keywords[de]=Erweiterung;Zusatz;extension;addon;
Keywords[el]=επέκταση;πρόσθετο;
Keywords[en_GB]=extension;add-on;
Keywords[eo]=etendaĵo;aldonaĵo;
Keywords[es]=extensión;complemento;
Keywords[es_AR]=extensión;complemento;
Keywords[et]=laiendus;lisa;
Keywords[eu]=hedapena;gehigarria;
Keywords[fa]=افزودنی، افزونه;
Keywords[fi]=laajennus;liitännäinen;
Keywords[fr]=extension;add-on;
Keywords[fr_CA]=extension;add-on;
Keywords[ga]=iarmhír;forlíontán;
Keywords[gd]=leudachan;tuilleadain;extension;addon;
Keywords[gl]=extensión;engadido;
Keywords[he]=הרחבות;תוספים;
Keywords[hi]=एक्सटेंशन;साधन;
Keywords[hr]=proširenje;dodatak;
Keywords[hu]=kiterjesztés;bővítmény;
Keywords[id]=ekstensi;tambahan;
Keywords[is]=viðbót;hjálparforrit;
Keywords[it]=estensione;aggiunta;
Keywords[ja]=extension;addon;拡張機能;アドオン;
Keywords[kab]=asiɣzef;
Keywords[ko]=확장 프로그램;추가 기능;
Keywords[lo]=ສ່ວນຂະຫຍາຍ;addon;
Keywords[lt]=plėtinys;papildinys;
Keywords[lv]=paplašinājums;pievienojums;
Keywords[ms]=sambungan;tambahan;
Keywords[nb]=Utvidelse;tillegg;
Keywords[nds]=Erweiterung;Add-On;
Keywords[nl]=extensie;toevoeging;
Keywords[oc]=exension;suplement;
Keywords[pl]=rozszerzenie;dodatek;
Keywords[pt]=extensão;addon;
Keywords[pt_BR]=extensão;complemento;
Keywords[ro]=extensie;supliment;
Keywords[ru]=расширение;дополнение;
Keywords[rue]=росшыріня;прилога;
Keywords[sk]=rozšírenie;doplnok;
Keywords[sl]=razširitev;dodatek;
Keywords[sq]=prapashtesa;shtesë;
Keywords[sr]=проширење;додатак;
Keywords[sr@ijekavian]=проширење;додатак;
Keywords[sr@ijekavianlatin]=проширење;додатак;
Keywords[sr@latin]=ekstenzija;dodatak;
Keywords[sv]=utökning;tillägg;
Keywords[ta]=நீட்சி;
Keywords[tg]=пасванд;барномаи иловагӣ;
Keywords[th]=ส่วนขยาย;ส่วนเสริม;
Keywords[tr]=eklenti;
Keywords[uk]=розширення;додаток;
Keywords[ur]=ایکسٹینشن، ایڈ آن;
Keywords[uz]=kengaytma;qo‘shimcha;
Keywords[vi]=phần mở rộng;gắn thêm;
Keywords[zh_CN]=extension;addon;扩展;附加;
Keywords[zh_HK]=擴充套件;附加元件;
Keywords[zh_TW]=擴充套件;附加套件;
