[Desktop Entry]
Icon=cs-sound
Exec=cinnamon-settings sound
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Sound
Name[am]=ድምፅ
Name[ar]=الصوت
Name[ast]=Soníu
Name[be]=Гук
Name[be@latin]=Гук
Name[bg]=Звук
Name[bg_BG]=Звук
Name[bs]=Zvuk
Name[ca]=Àudio
Name[ca@valencia]=Àudio
Name[ca_ES@valencia]=Àudio
Name[cs]=Zvuk
Name[cs_CZ]=Zvuk
Name[cy]=Sain
Name[da]=Lyd
Name[da_DK]=Lyd
Name[de]=Klang
Name[de_DE]=Klang
Name[el]=Ήχος
Name[eo]=Sono
Name[es]=Sonido
Name[es_AR]=Sonido
Name[es_CL]=Sonido
Name[es_CO]=Sonido
Name[es_CR]=Sonido
Name[es_DO]=Sonido
Name[es_EC]=Sonido
Name[es_ES]=Sonido
Name[es_GT]=Sonido
Name[es_HN]=Sonido
Name[es_MX]=Sonido
Name[es_NI]=Sonido
Name[es_PA]=Sonido
Name[es_PE]=Sonido
Name[es_PR]=Sonido
Name[es_SV]=Sonido
Name[es_UY]=Sonido
Name[es_VE]=Sonido
Name[et]=Heli
Name[et_EE]=Heli
Name[eu]=Soinua
Name[eu_ES]=Soinua
Name[fi]=Ääni
Name[fi_FI]=Ääni
Name[fr]=Son
Name[fr_CA]=Son
Name[fr_FR]=Son
Name[gd]=Fuaim
Name[gl]=Son
Name[gl_ES]=Son
Name[hr]=Zvuk
Name[hu]=Hang
Name[hu_HU]=Hang
Name[id]=Suara
Name[id_ID]=Suara
Name[is]=Hljóð
Name[it]=Audio
Name[ja]=サウンド
Name[ja_JP]=サウンド
Name[ko]=소리
Name[ko_KR]=소리
Name[lt]=Garsas
Name[lt_LT]=Garsas
Name[lv]=Skaņa
Name[lv_LV]=Skaņa
Name[ms]=Bunyi
Name[nds]=Klang
Name[nl]=Geluid
Name[nl_NL]=Geluid
Name[oc]=Son
Name[pa]=ਆਵਾਜ਼
Name[pl]=Dźwięk
Name[pl_PL]=Dźwięk
Name[pt]=Som
Name[pt_BR]=Som
Name[pt_PT]=Som
Name[ro]=Sunet
Name[ro_RO]=Sunet
Name[ru]=Звук
Name[sk]=Zvuk
Name[sk_SK]=Zvuk
Name[sl]=Zvok
Name[sl_SI]=Zvok
Name[sq]=Zëri
Name[sr]=Звук
Name[sr@Latn]=Звук
Name[sr@ije]=Звук
Name[sr@ijekavianlatin]=Звук
Name[sr@latin]=Звук
Name[sr_RS]=Звук
Name[sv]=Ljud
Name[sv_SE]=Ljud
Name[ta]=ஒலி
Name[ta_LK]=ஒலி
Name[tg]=Садо
Name[th]=เสียง
Name[th_TH]=เสียง
Name[tr]=Ses
Name[uk]=Звук
Name[uk_UA]=Звук
Name[ur]=آواز
Name[ur_PK]=آواز
Name[vi]=Âm thanh
Name[vi_VN]=Âm thanh
Name[zh_CN]=声音
Name[zh_HK]=音效
Name[zh_TW]=音效
Comment=Change sound volume and sound events
Comment[am]=የድምፅ መጠን እና ሁኔታዎችን መቀየሪያ
Comment[ar]=غيّر شدة الصوت و أصوات الأحداث
Comment[be]=Змяненне гучнасці і прызначэнне гукаў для падзей
Comment[be@latin]=Змяненне гучнасці і прызначэнне гукаў для падзей
Comment[bg]=Промяна на силата на звука и звуците свързани със събития
Comment[bg_BG]=Промяна на силата на звука и звуците свързани със събития
Comment[bs]=Promijeni jačinu zvuka i zvučne događaje
Comment[ca]=Canvieu el volum del so i les incidències sonores
Comment[ca@valencia]=Canvieu el volum del so i les incidències sonores
Comment[ca_ES@valencia]=Canvieu el volum del so i les incidències sonores
Comment[cs]=Změnit hlasitost zvuku a zvuky událostí
Comment[cs_CZ]=Změnit hlasitost zvuku a zvuky událostí
Comment[cy]=Newid maint sain a digwyddiadau sain
Comment[da]=Ændr lydstyrke og lydhændelser
Comment[da_DK]=Ændr lydstyrke og lydhændelser
Comment[de]=Lautstärke ändern und Ereignissen Klänge zuweisen
Comment[de_DE]=Lautstärke ändern und Ereignissen Klänge zuweisen
Comment[el]=Αλλαγή έντασης ήχου και ηχητικών γεγονότων
Comment[eo]=Ŝanĝi sonlaŭtecon kaj soneventojn
Comment[es]=Cambiar el volumen y los eventos de sonido
Comment[es_AR]=Cambiar el volumen y los eventos de sonido
Comment[es_CL]=Cambiar el volumen y los eventos de sonido
Comment[es_CO]=Cambiar el volumen y los eventos de sonido
Comment[es_CR]=Cambiar el volumen y los eventos de sonido
Comment[es_DO]=Cambiar el volumen y los eventos de sonido
Comment[es_EC]=Cambiar el volumen y los eventos de sonido
Comment[es_ES]=Cambiar el volumen y los eventos de sonido
Comment[es_GT]=Cambiar el volumen y los eventos de sonido
Comment[es_HN]=Cambiar el volumen y los eventos de sonido
Comment[es_MX]=Cambiar el volumen y los eventos de sonido
Comment[es_NI]=Cambiar el volumen y los eventos de sonido
Comment[es_PA]=Cambiar el volumen y los eventos de sonido
Comment[es_PE]=Cambiar el volumen y los eventos de sonido
Comment[es_PR]=Cambiar el volumen y los eventos de sonido
Comment[es_SV]=Cambiar el volumen y los eventos de sonido
Comment[es_UY]=Cambiar el volumen y los eventos de sonido
Comment[es_VE]=Cambiar el volumen y los eventos de sonido
Comment[et]=Helivaljuse ja -sündmuste muutmine
Comment[et_EE]=Helivaljuse ja -sündmuste muutmine
Comment[eu]=Aldatu soinuaren bolumena eta soinuaren gertaerak
Comment[eu_ES]=Aldatu soinuaren bolumena eta soinuaren gertaerak
Comment[fi]=Muuta äänenvoimakkuutta ja äänitapahtumia
Comment[fi_FI]=Muuta äänenvoimakkuutta ja äänitapahtumia
Comment[fr]=Modifier le volume et des événements sonores
Comment[fr_CA]=Modifier le volume et des événements sonores
Comment[fr_FR]=Modifier le volume et des événements sonores
Comment[gd]=Atharraich àirde na fuaime is tachartasan fuaime
Comment[gl]=Cambiar o volume e os acontecementos de son
Comment[gl_ES]=Cambiar o volume e os acontecementos de son
Comment[hr]=Promijeni glasnoću zvuka i zvučne događaje
Comment[hu]=Hangerő és hangesemények módosítása
Comment[hu_HU]=Hangerő és hangesemények módosítása
Comment[id]=Ubah volume suara dan peristiwa suara
Comment[id_ID]=Ubah volume suara dan peristiwa suara
Comment[is]=Stilla hljóðstyrk og hljóðatvik
Comment[it]=Regola il volume dell'audio e quello degli eventi sonori
Comment[ja]=音量や音のイベントを変更します
Comment[ja_JP]=音量や音のイベントを変更します
Comment[ko]=사운드 음량과 사운드 이벤트를 바꿉니다
Comment[ko_KR]=사운드 음량과 사운드 이벤트를 바꿉니다
Comment[lt]=Keisti garsumą ir garso efektus
Comment[lt_LT]=Keisti garsumą ir garso efektus
Comment[lv]=Mainīt skaļumu un skaņas dažādiem notikumiem
Comment[lv_LV]=Mainīt skaļumu un skaņas dažādiem notikumiem
Comment[ms]=Ubah volum bunyi dan peristiwa bunyi
Comment[nl]=Geluidsvolume en -effecten wijzigen
Comment[nl_NL]=Geluidsvolume en -effecten wijzigen
Comment[oc]=Modificar lo volum e d'eveniments sonòrs
Comment[pl]=Zmiana głośności dźwięku i dźwięków zdarzeń
Comment[pl_PL]=Zmiana głośności dźwięku i dźwięków zdarzeń
Comment[pt]=Alterar volume de som e eventos sonoros
Comment[pt_BR]=Mudar o volume do som e os eventos sonoros
Comment[pt_PT]=Alterar volume de som e eventos sonoros
Comment[ro]=Modifică volumul și evenimentele sonore
Comment[ro_RO]=Modifică volumul și evenimentele sonore
Comment[ru]=Изменить громкость звука и звук событий
Comment[sk]=Zmeniť hlasitosť zvuku a zvuky udalostí
Comment[sk_SK]=Zmeniť hlasitosť zvuku a zvuky udalostí
Comment[sl]=Spreminjanje glasnosti zvoka in zvočnih dogodkov
Comment[sl_SI]=Spreminjanje glasnosti zvoka in zvočnih dogodkov
Comment[sq]=Ndryshoni volumin dhe ngjarjet e zërit
Comment[sr]=Измените јачину звука и догађаје звука
Comment[sr@Latn]=Измените јачину звука и догађаје звука
Comment[sr@ije]=Измените јачину звука и догађаје звука
Comment[sr@ijekavianlatin]=Измените јачину звука и догађаје звука
Comment[sr@latin]=Измените јачину звука и догађаје звука
Comment[sr_RS]=Измените јачину звука и догађаје звука
Comment[sv]=Ändra ljudvolym och ljudhändelser
Comment[sv_SE]=Ändra ljudvolym och ljudhändelser
Comment[ta]=ஒலியளவு மற்றும்  ஒலி நிகழ்வுகளை மாற்று
Comment[ta_LK]=ஒலியளவு மற்றும்  ஒலி நிகழ்வுகளை மாற்று
Comment[tg]=Тағйир додани баландии садо ва ҳодисаҳои садо
Comment[th]=ปรับความดังเสียงและตั้งค่าเสียงสำหรับเหตุการณ์ต่างๆ
Comment[th_TH]=ปรับความดังเสียงและตั้งค่าเสียงสำหรับเหตุการณ์ต่างๆ
Comment[tr]=Ses seviyesini ve ses olaylarını değiştir
Comment[uk]=Змінити гучність звуку та звукових подій
Comment[uk_UA]=Змінити гучність звуку та звукових подій
Comment[ur]=آواز کی گونج اور صوتی واقعات بدلیں
Comment[ur_PK]=آواز کی گونج اور صوتی واقعات بدلیں
Comment[vi]=Đổi âm lượng và sự kiện âm thanh
Comment[vi_VN]=Đổi âm lượng và sự kiện âm thanh
Comment[zh_CN]=更改音量和声音事件
Comment[zh_HK]=變更音效音量和音效事件
Comment[zh_TW]=變更音效音量與音效事件
