[Desktop Entry]
Icon=cs-mouse
Exec=cinnamon-settings mouse
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Mouse and Touchpad
Name[am]=አይጥ እና ተችፓድ
Name[ar]=الفأرة ولوحة اللمس
Name[ast]=Mur y touchpad
Name[ay]=Achakumpi wikuchiri pampampi
Name[az]=Siçan ilə Toxunuş-qolu
Name[be]=Мыш i сэнсарная пляцоўка
Name[bg]=Мишка и сензорен панел
Name[bs]=Miš i površina osjetljiva na dodir
Name[ca]=Ratolí i ratolí tàctil
Name[ca@valencia]=Ratolí i ratolí tàctil
Name[cs]=Myš a touchpad
Name[cy]=Llygoden a Phad Cyffwrdd
Name[da]=Mus og touchpad
Name[de]=Maus und Touchpad
Name[el]=Ποντίκι και Επιφάνεια Αφής
Name[eo]=Muso kaj tuŝplato
Name[es]=Ratón y panel táctil
Name[es_AR]=Ratón y panel táctil
Name[et]=Hiir ja puuteplaat
Name[eu]=Sagua eta ukipen-teklatua
Name[fa]=ماوس و پَد لمسی
Name[fi]=Hiiri ja kosketuslevy
Name[fr]=Souris et pavé tactile
Name[fr_CA]=Souris et pavé tactile
Name[ga]=Luch agus Ceap Tadhaill
Name[gd]=An luchag is am pada-suathaidh
Name[gl]=Rato e área táctil
Name[he]=עכבר ומשטח־מגע
Name[hi]=माउस व टचपैड
Name[hr]=Miš i touchpad
Name[hu]=Egér és érintőtábla
Name[ia]=Mus e pannello tactile
Name[id]=Tetikus dan Touchpad
Name[ie]=Mus e panel tactil
Name[is]=Mús og snertiplatti
Name[it]=Mouse e touchpad
Name[ja]=マウスとタッチパッド
Name[kab]=Taɣerdayt d telwiḥt tawallsant
Name[ko]=마우스와 터치패드
Name[la]=Mus et Tabula Tactilis
Name[lt]=Pelė ir jutiklinis kilimėlis
Name[lv]=Pele un skārienpaliktnis
Name[ms]=Tetikus dan Pad Sentuh
Name[nb]=Mus og styreplate
Name[nds]=Maus und Touchpad
Name[nl]=Muis en touchpad
Name[oc]=Mirga e pavat tactil
Name[om]=Hantuutee fi touchpad
Name[pa]=ਮਾਊਸ ਤੇ ਟੱਚਪੈਚ
Name[pl]=Mysz i panel dotykowy
Name[pt]=Rato e painel de toque
Name[pt_BR]=Mouse e Touchpad
Name[ro]=Maus și zonă tactilă
Name[ru]=Мышь и сенсорная панель
Name[rue]=Мыш тай тачпад
Name[sc]=Sòrighe e sòrighe tàtile
Name[sk]=Myš a touchpad
Name[sl]=Miška in sledilna ploščica
Name[sr]=Миш и додирна плочица
Name[sr@ijekavian]=Миш и додирна плочица
Name[sr@ijekavianlatin]=Миш и додирна плочица
Name[sr@latin]=Miš i tačped
Name[sv]=Mus och pekplatta
Name[ta]=சொடுக்கி மற்றும் தொடுதிட்டு
Name[tg]=Муш ва панели ламсӣ
Name[th]=เมาส์และทัชแพด
Name[tr]=Fare ve Dokunmatik Panel
Name[uk]=Миша та сенсорна панель
Name[ur]=ماؤس اور ٹچ پیڈ
Name[uz]=Sichqoncha va Tachpad
Name[vi]=Chuột và Bàn chạm chuột
Name[zh_CN]=鼠标和触摸板
Name[zh_HK]=滑鼠和觸控板
Name[zh_TW]=滑鼠與觸控板
Comment=Control mouse and touchpad settings
Comment[am]=የ አይጥ እና የ ተችፓድ ማሰናጃ መቆጣጠሪያ
Comment[ar]=إعدادات لوحة اللمس والتحكم في الفأرة
Comment[ast]=Axustes del touchpad ya del mur
Comment[ay]=Achakumpita wikuchañatak pampampit mayjachawi
Comment[az]=Siçan ilə toxunuş-qolu quruluşlarını yönəlt
Comment[be]=Налады мышы і сэнсарнай пляцоўкі
Comment[bg]=Контрол на мишката и настройки на тъчпада
Comment[bs]=Kontrole miša i površina osjetljiva na dodir
Comment[ca]=Ajusts de ratolí i ratolí tàctil
Comment[ca@valencia]=Ajusts de ratolí i ratolí tàctil
Comment[cs]=Nastavení myši a touchpadu
Comment[cy]=Gosodiadau rheoli llygoden a phad cyffwrdd
Comment[da]=Kontrollér muse- og touchpadindstillinger
Comment[de]=Maus- und Touchpad-Einstellungen verwalten
Comment[el]=Ρυθμίστε το ποντίκι και την επιφάνεια αφής
Comment[eo]=Regi agordojn de muso kaj tuŝplato
Comment[es]=Configuración del ratón y del panel táctil
Comment[es_AR]=Configuración del ratón y del panel táctil
Comment[et]=Juhtige hiire ja puuteplaadi seadeid
Comment[eu]=Kontrolatu sagua eta ukipen-teklatuaren ezarpenak
Comment[fa]=کنترل تنظیمات ماوس و پَد لمسی
Comment[fi]=Muuta hiiren ja kosketuslevyn asetuksia
Comment[fr]=Paramètres de contrôle de la souris et du pavé tactile
Comment[fr_CA]=Contrôler les paramètres de la souris et du pavé tactile
Comment[gd]=Stiùirich roghainnean na luchaige 's a' phada-shuathaidh
Comment[gl]=Controla os axustes do rato e da área táctil
Comment[he]=הגדרות שליטה בעכבר ובמשטח־מגע
Comment[hi]=माउस व टचपैड सेटिंग्स नियंत्रण
Comment[hr]=Upravljajte mišem i touchpad postavkama
Comment[hu]=Egér és érintőtábla beállítások
Comment[ia]=Controla le configurationes del mus e del pannello tactile
Comment[id]=Kendalikan pengaturan tetikus dan touchpad
Comment[is]=Sýsla með stillingar músa og snertiplatta
Comment[it]=Impostazioni mouse e touchpad
Comment[ja]=マウスとタッチパッド操作の設定
Comment[kab]=Senqed iɣewwaren n tɣerdayt d telwiḥt tawallsant
Comment[ko]=마우스와 터치패드 설정
Comment[lt]=Valdyti pelės ir jutiklinio kilimėlio nustatymus
Comment[lv]=Vadīt peles un skārienpalikņa iestatījumus
Comment[ms]=Tetapan kawalan tetikus dan pad sesentuh
Comment[nb]=Håndter mus- og styreplateinnstillinger
Comment[nds]=Maus und Touchpad-Einstellungen bearbeiten
Comment[nl]=Muis- en touchpadinstellingen beheren
Comment[oc]=Contrarotlatz los paramètres de la mirga e del pavat tactil
Comment[pl]=Kontroluj ustawienia myszki i panelu dotykowego
Comment[pt]=Controlar definições do rato e do painel de toque
Comment[pt_BR]=Controlar as configurações de mouse e touchpad
Comment[ro]=Control configurări maus și zonă tactilă
Comment[ru]=Настройка мыши и сенсорной панели
Comment[rue]=Рядованя штімовань мыши тай тачпада
Comment[sc]=Controlla sa cunfiguratzione de su sòrighe e de su sòrighe tàtile
Comment[sk]=Ovláda nastavenia myši a touchpadu
Comment[sl]=Upravljajte z nastavitvami miške in drsne ploščice
Comment[sr]=Управљање поставкама миша и додирне плочице
Comment[sr@ijekavian]=Управљање поставкама миша и додирне плочице
Comment[sr@ijekavianlatin]=Управљање поставкама миша и додирне плочице
Comment[sr@latin]=Upravljanje podešavanjima miša i tačpeda
Comment[sv]=Hantera inställningar för mus och pekplatta
Comment[tg]=Идоракунии танзимоти муш ва панели ламсӣ
Comment[th]=ควบคุมการตั้งค่าเมาส์และทัชแพด
Comment[tr]=Fare ve dokunmatik panel ayarlarını kontrol et
Comment[uk]=Керування налаштуваннями миші та сенсорної панелі
Comment[ur]=ماؤس اور ٹچ پیڈ کی ترتیبات معین کریں
Comment[uz]=Sichqoncha va tachpad parametrlarini nazorat qilish
Comment[vi]=Kiểm soát cài đặt chuột và bàn di chuột
Comment[zh_CN]=鼠标/触摸板设置
Comment[zh_HK]=控制滑鼠和觸控板設定
Comment[zh_TW]=管理滑鼠與觸控板設定
Keywords=mouse;touchpad;synaptic;double-click;
Keywords[am]=አይጥ ተችፓድ ሲናፕቲክ ሁለት ጊዜ-መጫኛ;
Keywords[ar]=الفأرة، لوحة اللمس، التشابك، النقر المزدوج;
Keywords[ast]=mur;touchpad;synaptic;doble clic;
Keywords[ay]=achaku;wikuchañatak pampa;synaptic;pä klik;ratón;panel táctil;doble clic;
Keywords[az]=siçan;toxunuş-qolu;sinaptik;iki-tık;
Keywords[be]=мыш;сэнсарная пляцоўка;synaptic;тачпад;
Keywords[bg]=мишка;сензорен панел;synaptic;двоен клик;
Keywords[bs]=miš;površina osjetljiva na dodir;synaptic;dvostruki klik;
Keywords[ca]=ratolí;ratolí tàctil;synaptic;doble clic;
Keywords[ca@valencia]=ratolí;ratolí tàctil;synaptic;doble clic;
Keywords[cs]=myš;touchpad;synaptic;dvojklik;
Keywords[cy]=llygoden;pad cyffwrdd;synaptig;clic dwbl;
Keywords[da]=mus;touchpad;synaptic;dobbeltklik;
Keywords[de]=Maus;Touchpad;Synaptic;Doppelklick;
Keywords[el]=ποντίκι;επιφάνεια αφής;synaptic;διπλό κλικ;
Keywords[eo]=muso;tuŝplato;synaptic;duoble alklaki;
Keywords[es]=ratón;panel táctil;doble clic;
Keywords[es_AR]=ratón;panel táctil;doble clic;
Keywords[et]=hiir;puuteplaat;synaptic;topeltklõps;
Keywords[eu]=sagua;ukipen-teklatua;synaptic;klik bikoitza;
Keywords[fa]=ماوس، پدِ لمسی، synaptic، کلیک-دوتایی;
Keywords[fi]=hiiri;kosketuslevy;synaptic;tuplaklikkaus;
Keywords[fr]=souris;pavé tactile;synaptic;double clic;
Keywords[fr_CA]=souris;pavé tactile;synaptic;double-clic;
Keywords[ga]=luch;ceap tadhaill;sionapsach;déchliceáil;
Keywords[gd]=luchag;pada-suathaidh;synaptic;briogadh dùbailte;mouse;touchpad;double-click;
Keywords[gl]=rato;área táctil;synaptic;dobre clic;
Keywords[he]=עכבר;משטח־מגע;סינאפטיק;הקשה כפולה;
Keywords[hi]=माउस;टचपैड;सिनेप्टिक;द्वि-क्लिक;
Keywords[hr]=miš;touchpad;synaptic;dvostruki-klik;
Keywords[hu]=mouse;touchpad;synaptic;double-click;egér;érintőtábla;synaptic;dupla kattintás;
Keywords[ia]=mus;pannello tactile;synaptic;clic duple;
Keywords[id]=tetikus;touchpad;sinaptik;klik ganda;
Keywords[is]=mús;bendill;snertiplatti;synaptic;tvísmella;
Keywords[it]=mouse;touchpad;synaptic;doppio clic;
Keywords[ja]=mouse;touchpad;synaptic;double-click;マウス;タッチパッド;ダブルクリック;
Keywords[kab]=taɣerdayt;talwiḥt;synaṭic;anqab uslig;
Keywords[ko]=마우스;터치패드;시냅틱;더블 클릭;
Keywords[lt]=pelė;synaptic;dvigubas paspaudimas;
Keywords[lv]=pele;skārienpaliktnis;sinaptiskais;dubultklikšķis;
Keywords[ms]=tetikus;pad sentuh;synaptic;dwi-klik;
Keywords[nb]=mus;styreplate;synaptic;dobbel-klikk;
Keywords[nds]=Maus;Touchpad;Synaptic;Doppelklick;
Keywords[nl]=muis;touchpad;aanraakveld;dubbelklik;
Keywords[pl]=mysz;panel dotykowy;synaptic;podwójne kliknięcie;
Keywords[pt]=rato;painel de toque;synaptic;dois cliques;
Keywords[pt_BR]=mouse;touchpad;synaptic;clique duplo;
Keywords[ro]=maus;zonă tactilă;synaptic;clic dublu;
Keywords[ru]=мышь;сенсорная панель;synaptic;двойное нажатие;
Keywords[rue]=мыш;тачпад;synaptic;двойноє клопканя;
Keywords[sc]=sòrighe;sòrighe tàtile;synaptic;clic dòpiu;
Keywords[sk]=myš;touchpad;synaptic;dvojklik;
Keywords[sl]=miška;sledilna ploščica;synaptic;dvojni klik;
Keywords[sr]=миш;додирна плочица;синаптик;двоклик;
Keywords[sr@ijekavian]=миш;додирна плочица;синаптик;двоклик;
Keywords[sr@ijekavianlatin]=миш;додирна плочица;синаптик;двоклик;
Keywords[sr@latin]=miš;tačped;sinaptički;dvoklik;
Keywords[sv]=mus;pekplatta;synaptic;dubbelklick;
Keywords[ta]=சுட்டி;தொடுமேடை;சினாப்டிக்;இரட்டைச் சொடுக்கு;
Keywords[tg]=муш;панели ламсӣ;synaptic;зеркунии дубора;
Keywords[th]=เมาส์;ทัชแพด;ไซนัปติก;คลิกสองครั้ง;
Keywords[tr]=fare;dokunmatik panel;synaptic;çift-tıklama;
Keywords[uk]=миша;сенсорна панель;synaptic;подвійне натискання;
Keywords[ur]=ماؤس، ٹچ پیڈ، سائنپٹک، دوہرا-کلک، ڈبل کلک;
Keywords[uz]=sichqoncha;tachpad;sinaptik;qo‘shaloq-bosish;
Keywords[vi]=chuột;bàn chạm chuột;synaptic;nhấp đúp;
Keywords[zh_CN]=mouse;touchpad;synaptic;double-click;鼠标;触摸板;新思;双击;
Keywords[zh_HK]=滑鼠;觸控板;synaptic;連按兩下;
Keywords[zh_TW]=滑鼠;觸控板;synaptic;雙擊;
