[Desktop Entry]
Icon=cs-actions
Exec=cinnamon-settings actions
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Actions
Comment=Manage your Actions
Keywords=action;
