[Desktop Entry]
Name=Desktop
Comment=Manage your desktop icons
Icon=cs-desktop
Exec=cinnamon-settings desktop
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name[gd]=Bàrr-deasc
Name[ga]=Deasc
Name[gl]=Escritorio
Name[tr]=Masaüstü
Name[ta]=பணிமேடை
Name[pt_BR]=Área de trabalho
Name[de]=Schreibtisch
Name[da]=Skrivebord
Name[zh_CN]=桌面
Name[eo]=Labortablo
Name[eu]=Mahaigaina
Name[et]=Töölaud
Name[es]=Escritorio
Name[ru]=Рабочий стол
Name[ro]=Spațiu de lucru
Name[ms]=Desktop
Name[ja]=デスクトップ
Name[ca]=Escriptori
Name[cy]=Bwrdd Gwaith
Name[cs]=Pracovní plocha
Name[pt]=Ambiente de trabalho
Name[pa]=ਡੈਸਕਟਾਪ
Name[pl]=Pulpit
Name[hr]=Radna površina
Name[zh_TW]=桌面
Name[hu]=Asztal
Name[en_GB]=Desktop
Name[uk]=Стільниця
Name[vi]=Màn hình làm việc
Name[is]=Skjáborð
Name[am]=ዴስክቶፕ
Name[it]=Scrivania
Name[id]=Desktop
Name[nl]=Bureaublad
Name[nb]=Skrivebord
Name[fr]=Bureau
Name[fr_CA]=Bureau
Name[sr]=Радна површина
Name[sv]=Skrivbord
Name[sl]=Namizje
