[Desktop Entry]
Name=Mouse and Touchpad
Comment=Control mouse and touchpad settings
Icon=/usr/lib/cinnamon-settings/data/icons/mouse.svg
Exec=cinnamon-settings mouse
Type=Application
OnlyShowIn=GNOME;
Categories=Settings;System;
Name[gd]=Luch agus Pada-suathaidh
Name[ga]=Luch agus Ceap Tadhaill
Name[gl]=Rato e área táctil
Name[tr]=Fare ve Dokunmatik Panel
Name[ta]=சொடுக்கி மற்றும் தொடுதிட்டு
Name[pt_BR]=Mouse e touchpad
Name[de]=Maus und Touchpad
Name[da]=Mus og touchpad
Name[eo]=Muso kaj tuŝplato
Name[et]=Hiir ja puuteplaat
Name[es]=Ratón y ratón táctil
Name[ru]=Мышь и сенсорная панель
Name[ro]=Maus și touchpad
Name[ms]=Tetikus dan Pad Sentuh
Name[ja]=マウスとタッチパッド
Name[om]=Hantuutee fi touchpad
Name[ca]=Ratolí i ratolí tàctil
Name[cy]=Llygoden a Phad Cyffwrdd
Name[cs]=Myš a touchpad
Name[pt]=Rato e painel de toque
Name[pa]=ਮਾਊਸ ਤੇ ਟੱਚਪੈਚ
Name[en_GB]=Mouse and Touchpad
Name[hr]=Miš i touchpad
Name[hu]=Egér és érintőtábla
Name[zh_CN]=鼠标和触摸板
Name[pl]=Mysz i panel dotykowy
Name[uk]=Миша та сенсорна панель
Name[vi]=Chuột và Bàn chạm chuột
Name[is]=Mús og snertiplatti
Name[it]=Mouse e touchpad
Name[id]=Mouse dan Touchpad
Name[nl]=Muis en touchpad
Name[fr]=Souris et pavé tactile
Name[fr_CA]=Souris et pavé tactile
Name[sr]=Миш и додирна табла
Name[sv]=Mus och pekplatta
Name[sl]=Miška in sledilna ploščica
