[Desktop Entry]
Icon=cs-power
Exec=cinnamon-settings power
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Power Management
Name[am]=የሐይል አስተዳዳሪ
Name[ar]=إدارة الطاقة
Name[ast]=Alministración d'enerxía
Name[be]=Кіраваньне сілкаваннем
Name[be@latin]=Кіраваньне сілкаваннем
Name[bg]=Управление на захранването
Name[bg_BG]=Управление на захранването
Name[bs]=Upravljanje napajanjem
Name[ca]=Gestió d'energia
Name[ca@valencia]=Gestió d'energia
Name[ca_ES@valencia]=Gestió d'energia
Name[cs]=Správa napájení
Name[cs_CZ]=Správa napájení
Name[cy]=Rheoli Pŵer
Name[da]=Strømstyring
Name[da_DK]=Strømstyring
Name[de]=Energieverwaltung
Name[de_DE]=Energieverwaltung
Name[el]=Διαχείριση Ενέργειας
Name[eo]=Energia administrado
Name[es]=Gestión de energía
Name[es_AR]=Gestión de energía
Name[es_CL]=Gestión de energía
Name[es_CO]=Gestión de energía
Name[es_CR]=Gestión de energía
Name[es_DO]=Gestión de energía
Name[es_EC]=Gestión de energía
Name[es_ES]=Gestión de energía
Name[es_GT]=Gestión de energía
Name[es_HN]=Gestión de energía
Name[es_MX]=Gestión de energía
Name[es_NI]=Gestión de energía
Name[es_PA]=Gestión de energía
Name[es_PE]=Gestión de energía
Name[es_PR]=Gestión de energía
Name[es_SV]=Gestión de energía
Name[es_US]=Gestión de energía
Name[es_UY]=Gestión de energía
Name[es_VE]=Gestión de energía
Name[et]=Toitehaldus
Name[eu]=Energia-kudeaketa
Name[fa]=مدیریت نیرو
Name[fa_IR]=مدیریت نیرو
Name[fi]=Virranhallinta
Name[fi_FI]=Virranhallinta
Name[fr]=Gestion d'alimentation
Name[fr_CA]=Gestion de Courant
Name[ga]=Bainisteoireacht Cumhachta
Name[gd]=Stiùireadh na cumhachd
Name[gl]=Xestión da enerxía
Name[gl_ES]=Xestión da enerxía
Name[he]=צריכת חשמל
Name[he_IL]=צריכת חשמל
Name[hr]=Upravljanje energijom
Name[hu]=Energiakezelő
Name[hu_HU]=Energiakezelő
Name[id]=Manajemen Daya
Name[id_ID]=Manajemen Daya
Name[is]=Aflstjórnun
Name[it]=Gestione dell'alimentazione
Name[ja]=電源管理
Name[ja_JP]=電源管理
Name[ko]=전원관리
Name[ko_KR]=전원관리
Name[lt]=Energijos valdymas
Name[lt_LT]=Energijos valdymas
Name[lv]=Barošanas pārvaldība
Name[lv_LV]=Barošanas pārvaldība
Name[ms]=Pengurusan Kuasa
Name[ms_MY]=Pengurusan Kuasa
Name[nb]=Strømstyring
Name[nb_NO]=Strømstyring
Name[nds]=Energieverwaltung
Name[nl]=Energiebeheer
Name[nl_NL]=Energiebeheer
Name[oc]=Gestion de l'alimentacion
Name[pa]=ਪਾਵਰ ਪਰਬੰਧ
Name[pl]=Zarządzanie energią
Name[pl_PL]=Zarządzanie energią
Name[pt]=Gestão de energia
Name[pt_BR]=Gerenciamento de Energia
Name[pt_PT]=Gestão de energia
Name[ro]=Administrare consum
Name[ro_RO]=Administrare consum
Name[ru]=Управление питанием
Name[sk]=Správa napájania
Name[sk_SK]=Správa napájania
Name[sl]=Upravljanje porabe energije
Name[sl_SI]=Upravljanje porabe energije
Name[sr]=Управљање напајањем
Name[sr@Latn]=Управљање напајањем
Name[sr@ije]=Управљање напајањем
Name[sr@ijekavianlatin]=Управљање напајањем
Name[sr@latin]=Управљање напајањем
Name[sv]=Strömhantering
Name[ta]=மின்சக்தி மேலாண்மை
Name[ta_LK]=மின்சக்தி மேலாண்மை
Name[tg]=Идоракунии барқ
Name[th]=การจัดการพลังงาน
Name[th_TH]=การจัดการพลังงาน
Name[tr]=Güç Yönetimi
Name[uk]=Керування живленням
Name[uk_UA]=Керування живленням
Name[ur]=توانائی کا انتظام
Name[ur_PK]=توانائی کا انتظام
Name[vi]=Quản lý Điện năng
Name[vi_VN]=Quản lý Điện năng
Name[zh_CN]=电源管理
Name[zh_HK]=電源管理
Name[zh_TW]=電源管理
Comment=Manage power settings
Comment[am]=የ ሐይል ማሰናጃዎች አስተዳዳሪ
Comment[ar]=إدارة إعدادات الطاقة
Comment[ast]=Axustes del alministrador d'enerxía
Comment[be]=Налады сілкавання
Comment[be@latin]=Налады сілкавання
Comment[bg]=Управление на настройките на захранването
Comment[bg_BG]=Управление на настройките на захранването
Comment[bs]=Upravljaj podešavanjem napajanja
Comment[ca]=Administrar configuració d'energia
Comment[ca@valencia]=Administra configuració d'energia
Comment[ca_ES@valencia]=Administra configuració d'energia
Comment[cs]=Správa nastavení napájení
Comment[cs_CZ]=Správa nastavení napájení
Comment[cy]=Rheoli'r gosodiadau pŵer
Comment[da]=Administrér strømstyring
Comment[da_DK]=Administrér strømstyring
Comment[de]=Energieeinstellungen verwalten
Comment[de_DE]=Energieeinstellungen verwalten
Comment[el]=Διαχείριση ρυθμίσεων ενέργειας
Comment[es]=Administrar configuración de energía
Comment[es_AR]=Administrar configuración de energía
Comment[es_CL]=Administrar configuración de energía
Comment[es_CO]=Administrar configuración de energía
Comment[es_CR]=Administrar configuración de energía
Comment[es_DO]=Administrar configuración de energía
Comment[es_EC]=Administrar configuración de energía
Comment[es_ES]=Administrar configuración de energía
Comment[es_GT]=Administrar configuración de energía
Comment[es_HN]=Administrar configuración de energía
Comment[es_MX]=Administrar configuración de energía
Comment[es_NI]=Administrar configuración de energía
Comment[es_PA]=Administrar configuración de energía
Comment[es_PE]=Administrar configuración de energía
Comment[es_PR]=Administrar configuración de energía
Comment[es_SV]=Administrar configuración de energía
Comment[es_US]=Administrar configuración de energía
Comment[es_UY]=Administrar configuración de energía
Comment[es_VE]=Administrar configuración de energía
Comment[eu]=Kudeatu energia-ezarpenak
Comment[fi]=Muuta virranhallinnan asetuksia
Comment[fi_FI]=Muuta virranhallinnan asetuksia
Comment[fr]=Gérer les paramètres d'alimentation
Comment[fr_CA]=Gérer les paramètres d'alimentation
Comment[gd]=Stiùirich roghainnean na cumhachd
Comment[gl]=Administra os axustes de enerxía
Comment[gl_ES]=Administra os axustes de enerxía
Comment[hr]=Upravljajte postavkama energije
Comment[hu]=Energiabeállítások kezelése
Comment[hu_HU]=Energiabeállítások kezelése
Comment[id]=Atur pengaturan Power
Comment[id_ID]=Atur pengaturan Power
Comment[is]=Sýsla með orkusparnaðarstillingar
Comment[it]=Gestisci impostazioni alimentazione
Comment[ja]=電源設定管理
Comment[ja_JP]=電源設定管理
Comment[ko]=전원설정 관리
Comment[ko_KR]=전원설정 관리
Comment[lt]=Tvarkyti energijos nustatymus
Comment[lt_LT]=Tvarkyti energijos nustatymus
Comment[lv]=Pārvaldīt barošanas iestatījumus
Comment[lv_LV]=Pārvaldīt barošanas iestatījumus
Comment[ms]=Mengurus tetapan kuasa
Comment[ms_MY]=Mengurus tetapan kuasa
Comment[nb]=Håndter strømsstyring
Comment[nb_NO]=Håndter strømsstyring
Comment[nds]=Energieeinstellungen verwalten
Comment[nl]=Energie-instellingen beheren
Comment[nl_NL]=Energie-instellingen beheren
Comment[pl]=Zarządzaj ustawieniami zasilania
Comment[pl_PL]=Zarządzaj ustawieniami zasilania
Comment[pt]=Gerir as definições de energia
Comment[pt_BR]=Gerenciar as configurações de energia
Comment[pt_PT]=Gerir as definições de energia
Comment[ro]=Gestionează setările consumului
Comment[ro_RO]=Gestionează setările consumului
Comment[ru]=Настройки питания
Comment[sk]=Spravovať nastavenia napájania
Comment[sk_SK]=Spravovať nastavenia napájania
Comment[sl]=Upravljajte z nastavitvami porabe energije
Comment[sl_SI]=Upravljajte z nastavitvami porabe energije
Comment[sq]=Menaxhoni parametrat e furnizimit të energjisë
Comment[sr]=Управљање поставкама напајања
Comment[sr@Latn]=Управљање поставкама напајања
Comment[sr@ije]=Управљање поставкама напајања
Comment[sr@ijekavianlatin]=Управљање поставкама напајања
Comment[sr@latin]=Управљање поставкама напајања
Comment[sv]=Hantera ströminställningar
Comment[tg]=Идоракунии танзимоти барқ
Comment[th]=จัดการการตั้งค่าพลังงาน
Comment[th_TH]=จัดการการตั้งค่าพลังงาน
Comment[tr]=Güç ayarlarını yönet
Comment[uk]=Керування налаштуваннями живлення
Comment[uk_UA]=Керування налаштуваннями живлення
Comment[ur]=توانائی کی ترتیبات کا انتظام
Comment[ur_PK]=توانائی کی ترتیبات کا انتظام
Comment[vi]=Quản lý thiết đặt năng lượng
Comment[vi_VN]=Quản lý thiết đặt năng lượng
Comment[zh_CN]=电源管理
Comment[zh_HK]=管理電源設定
Comment[zh_TW]=管理電源設定
