[Desktop Entry]
Icon=cs-tiling
Exec=cinnamon-settings tiling
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Window Tiling
Name[am]=መስኮት መከመሪያ
Name[ar]=تباعد النافذة
Name[ast]=Mosaicu de ventana
Name[ay]=Wintananakan walichawi
Name[az]=Pəncərə Döşəməsi
Name[be]=Падзел акна
Name[bg]=Показвай придвижването
Name[ca]=Ajust de finestres
Name[ca@valencia]=Ajust de finestres
Name[cs]=Uspořádávání oken do dlaždic
Name[cy]=Teilsio Ffenestri
Name[da]=Side om side-placering
Name[de]=Fensterkacheln
Name[el]=Πλακίδια Παραθύρων
Name[eo]=Fenestra kahelado
Name[es]=Ajuste de las ventanas
Name[es_AR]=Ajuste de las ventanas
Name[et]=Akende paanimine
Name[eu]=Leihoa lauzatzea
Name[fa]=کاشی‌کاری پنجره
Name[fi]=Vierekkäiset ikkunat
Name[fr]=Juxtaposition de fenêtres
Name[fr_CA]=Alignement de fenêtres
Name[gd]=Leacadh nan uinneagan
Name[gl]=Xanelas en mosaico
Name[he]=ריצוף חלונות
Name[hi]=विंडो अनुभाग प्रस्तुतिकरण
Name[hr]=Slaganje prozora
Name[hu]=Ablak mozaik
Name[ia]=Quadrellatura de fenestra
Name[id]=Pengubinan Jendela
Name[is]=Flísalagning glugga
Name[it]=Affiancamento finestre
Name[ja]=ウィンドウのタイル表示
Name[kab]=Aswati n isfuyla
Name[ko]=창 타일링
Name[lt]=Langų išdėliojimas
Name[nb]=Vindusorganisering
Name[nds]=Fensterkacheln
Name[nl]=Tegelen van vensters
Name[oc]=Juxtaposicion de fenèstras
Name[pl]=Ułożenie okien
Name[pt]=Arrumação de janelas
Name[pt_BR]=Janelas em mosaico
Name[ro]=Tiling fereastră
Name[ru]=Окна (прикрепление)
Name[rue]=Прикріпленя оболока
Name[sk]=Dláždenie okien
Name[sl]=Mozaičenje oken
Name[sr]=Поплочавање прозора
Name[sr@ijekavian]=Поплочавање прозора
Name[sr@ijekavianlatin]=Поплочавање прозора
Name[sr@latin]=Upločavanje prozora
Name[sv]=Fönster sida-vid-sida
Name[th]=การจัดวางหน้าต่าง
Name[tr]=Pencere Döşeme
Name[uk]=Віконна кладка
Name[ur]=ونڈو ٹائلنگ
Name[uz]=Oynani Qismlash
Name[vi]=Lát Cửa sổ
Name[zh_CN]=窗口平铺
Name[zh_HK]=視窗平舖
Name[zh_TW]=視窗平舖
Comment=Manage window tiling preferences
Comment[am]=የ መስኮት መደርደሪያ ምርጫዎች አስተዳዳሪ
Comment[ar]=إدارة تفضيلات تباعد النافذة
Comment[ast]=Xestionar axustes del mosaicu nes ventanes
Comment[ay]=Wintananakan walichawip irpaña
Comment[az]=Pəncərə döşəmə üstünlüklərini yönəlt
Comment[be]=Кіраваць параметрамі прымацавання і размяшчэння вокнаў
Comment[bg]=Управление подредбата на прозорците
Comment[bs]=Upravljaj postavkama pločastog prikaza prozora
Comment[ca]=Gestioneu les preferències de mosaic de finestres
Comment[ca@valencia]=Gestioneu les preferències de mosaic de finestres
Comment[cs]=Správa předvoleb uspořádávání oken do dlaždic
Comment[cy]=Rheoli dewisiadau teilsio ffenestri
Comment[da]=Administrér indstillinger for side om side-placering
Comment[de]=Kacheleinstellungen der Fenster verwalten
Comment[el]=Διαχείριση προτιμήσεων τοποθέτησης παραθύρων ως πλακίδια
Comment[eo]=Administri agordojn de fenestra kahelado
Comment[es]=Gestionar las preferencias del ajuste de las ventanas
Comment[es_AR]=Gestionar las preferencias del ajuste de las ventanas
Comment[et]=Seadiste akende paanimiste eelistusi
Comment[eu]=Kudeatu leihoak lauzatzeko hobespenak
Comment[fa]=مدیریت ترجیحات کاشی‌کاری پنجره ها
Comment[fi]=Muokkaa vierekkäisten ikkunoiden asetuksia
Comment[fr]=Gérer les préférences de juxtaposition des fenêtres
Comment[fr_CA]=Gérer les préférences de juxtaposition des fenêtres
Comment[gd]=Stiùirich roghainnean leacadh nan uinneagan
Comment[gl]=Administra as preferencias do mosaixo de xanelas
Comment[he]=ניהול העדפות ריצוף החלון
Comment[hi]=विंडो अनुभाग विन्यास हेतु प्रबंधन
Comment[hr]=Upravljajte osobitostima slaganja prozora
Comment[hu]=Ablak mozaik beállítások kezelése
Comment[ia]=Gerer le preferentias del pavimentation del fenestra
Comment[id]=Mengelola preferensi pengubinan jendela
Comment[is]=Sýsla með kjörstillingar fyrir uppröðun glugga
Comment[it]=Gestisci le preferenze di affiancamento delle finestre
Comment[ja]=ウィンドウのタイル表示の設定を管理
Comment[kab]=Sefrek ismenyifen n umlawy n isfuyla
Comment[ko]=창 타일링 설정 관리하기
Comment[lt]=Tvarkyti langų išdėliojimo nuostatas
Comment[ms]=Mengurus pilihan jubin tetingkap
Comment[nb]=Håndter innstillinger for vindusorganisering
Comment[nds]=Fensteranordnungseinstellungen verwalten
Comment[nl]=Voorkeuren beheren voor het tegelen van vensters
Comment[oc]=Gerir las preferéncias de juxtaposicion de las fenèstras
Comment[pl]=Zarządzaj preferencjami kafelkowania okien
Comment[pt]=Gerir preferências de disposição das janelas
Comment[pt_BR]=Gerenciar as definições das janelas em mosaico
Comment[ro]=Gestionează preferințele pentru tilingul ferestrelor
Comment[ru]=Управление параметрами мозаичного размещения окон
Comment[rue]=Справованя конфіґураціями мозаичної пологы оболокув
Comment[sk]=Spravuje predvoľby dláždenia okien
Comment[sl]=Upravljajte z možnostmi razpostavljanja oken
Comment[sr]=Управљање поставкама слагања прозора
Comment[sr@ijekavian]=Управљање поставкама слагања прозора
Comment[sr@ijekavianlatin]=Управљање поставкама слагања прозора
Comment[sr@latin]=Upravljanje preferencijama upločavanja prozora
Comment[sv]=Hantera inställningar för radning av fönster
Comment[tg]=Идоракунии хусусиятҳои лавҳабандии равзанаҳо
Comment[th]=จัดการค่าปรับแต่งการจัดวางหน้าต่าง
Comment[tr]=Pencere döşeme seçeneklerini yönet
Comment[uk]=Керування прилипанням вікон
Comment[ur]=ونڈو ٹائلنگ کی ترجیحات کا انتظام کریں
Comment[uz]=Oynani qismlari uchun parametrlarni boshqarish
Comment[vi]=Quản lý tuỳ thích lát cửa sổ
Comment[zh_CN]=管理窗口平铺样式
Comment[zh_HK]=管理視窗平舖喜好設定
Comment[zh_TW]=管理視窗平舖偏好設定
Keywords=window;tile;flip;tiling;snap;snapping;
Keywords[am]=መስኮት፡ መደርደሪያ ፡ መገልበጫ፡ መደርደሪያዎች፡ መቁረጫ፡ መቁረጫዎች;
Keywords[ar]=النافذة، التجانب، الانعكاس، التباعد، الالتقاط، التقاط;
Keywords[ast]=ventana;baldosa;baliar;mosaicu;afitar;
Keywords[ay]=wintana;walichaña;jaqukipaña;walichasina;thiyar lip'iña;thiyar lip'isiwi;ventana;ajustar;voltear;ajuste;anclar;anclaje;
Keywords[az]=pəncərə;döşək;çevirmək;döşəmə;çəkim;çəkilmə;
Keywords[be]=акно;тайл;пазіцыя;прыцягненне;прымацаванне;замацаванне;
Keywords[bg]=прозорец;подреждане;обръщане;прилепване;
Keywords[bs]=prozor;složi;pomakni;slaganje;poravnaj;poravnanje;
Keywords[ca]=finestra;rajola;voltejat;mosaic;clic;ajust a la quadrícula;
Keywords[ca@valencia]=finestra;rajola;voltejat;mosaic;clic;ajust a la quadrícula;
Keywords[cs]=okno;dlaždice;přetočení;uspořádávání;přichytit;přichycení;
Keywords[cy]=ffenestr;teil;ffeil;teilsio;snap;snapio;
Keywords[da]=vindue;flise;vend;side om side;fastgør;fastgørelse;
Keywords[de]=Fenster;Kacheln;Umschalten;Kacheln;Einrasten;Einrasten;
Keywords[el]=παράθυρο;πλακίδιο;αναστροφή;τοποθέτηση ως πλακίδια;λαβή;συγκράτηση;
Keywords[eo]=fenestro;kahelo;inversigi;kahelado;kapti;kaptado;
Keywords[es]=ventana;ajustar;voltear;ajuste;anclar;anclaje;
Keywords[es_AR]=ventana;ajustar;voltear;ajuste;anclar;anclaje;
Keywords[et]=aken;paigutamine;pööramine;jaotamine;kinnitus;kinnitamine;
Keywords[eu]=leihoa;lauza;irauli;lauzatzea;atxiki;atxikitzea;
Keywords[fa]=پنجره، کاشی، چرخاندن، کاشی‌کاری، چسبیدن، چسباندن;
Keywords[fi]=ikkuna;asettelu;käännös;vierekkäin;laatoitus;kohdistus;
Keywords[fr]=fenêtre;juxtaposition;basculer;ajuster;ajustement;
Keywords[fr_CA]=fenêtre;juxtaposition;basculer;aligner;alignement;
Keywords[gd]=uinneag;leac;flipeadh;flip;leacadh;greimich;greimeachadh;window;tile;flip;tiling;snap;snapping;
Keywords[gl]=xanela;baldosa;volteado;mosaico;axustar;axuste;
Keywords[he]=חלון;אריח;היפוך;ריצוף;צימוד;הצמדה;
Keywords[hi]=विंडो;अनुभाग;पलटना;अनुभाग प्रस्तुतिकरण;
Keywords[hr]=prozor;složi;pomakni;slaganje;poravnaj;poravnanje;
Keywords[hu]=ablak;mozaik;forgatás;mozaikba rendezés;igazított;igazítás;
Keywords[ia]=fenestra;quadrello;colpar legiermente;quadrellatura;fixar;fixation;
Keywords[id]=jendela;mode ubin;balik;mengubin;jepit;menjepit;
Keywords[is]=gluggi;flísar;fletta;flísaleggja;grip;grípa;
Keywords[it]=finestra;affianca;vibra;disponi;aggancia;agganciamento;
Keywords[ja]=window;tile;flip;tiling;snap;snapping;ウィンドウ;タイル;フリップ;タイル表示;スナップ;スナップ操作;
Keywords[kab]=asfaylu;amlaway;qluqel;swati;aswati;
Keywords[ko]=창;타일;뒤집기;타일링;스냅;스내핑;
Keywords[lt]=langas;iškloti;išklojimas;priglausti;priglaudimas;
Keywords[ms]=tetingkap;jubin;kalij;penjubinan;lekap;pelekapan;
Keywords[nb]=vindu;flis;snu;flislegging;fest;feste;
Keywords[nds]=Fenster;Kachel;schnipp;knicken;abgeknickt;
Keywords[nl]=venster;tegelen;omdraaien;tegelen;uitlijnen;
Keywords[om]=Foddaa;dalga tuula;fuggisa;dalga tuuluu;xaaxxuu;xaxxise;
Keywords[pl]=okno;płytka;odwracanie;kafelkowanie;przystawka;przyciąganie;
Keywords[pt]=janela;mosaico;inversão;ajuste;magnetismo;alinhar;
Keywords[pt_BR]=janela;mosaico;giro;ativar mosaico;encaixe;ativar encaixe;
Keywords[ro]=fereastră;tile;întoarce;tiling;snap;snapping;
Keywords[ru]=окно;позиция;притяжение;прикрепление;защищенная позиция;защищенное прикрепление;
Keywords[rue]=оболок;позіція;притяганя;прикріпленя;защитноє прикріпленя;защитноє прикріпленя;
Keywords[sk]=okno;dlaždice;pretočenie;dláždenie;prichytiť;prichytenie;
Keywords[sl]=okno;ploščica;zrcali;razpostavljanje;pripni;pripenjanje;
Keywords[sr]=прозор;сложи;преокрени;слагање;хватање;поравнање;
Keywords[sr@ijekavian]=прозор;сложи;преокрени;слагање;хватање;поравнање;
Keywords[sr@ijekavianlatin]=прозор;сложи;преокрени;слагање;хватање;поравнање;
Keywords[sr@latin]=prozor;uploči;preokreni;upločavanje;prilepi;prilepljivanje;
Keywords[sv]=fönster;rada;vänd;radning;fästa;fästning;
Keywords[tg]=равзана;лавҳа;табдил;лавҳабандӣ;часпонидан;часпиш;
Keywords[th]=หน้าต่าง;การจัดวาง;พลิก;สแนป;การสแนป;
Keywords[tr]=pencere;döşe;çevirme;döşeme;yasla;yaslama;
Keywords[uk]=вікно;позиція;притягування;прикріплення;захищена позиція;захищене прикріплення;
Keywords[ur]=ونڈو، عنوان، ٹائٹل، فلپ، ٹائلنگ، سنیپ;
Keywords[uz]=oyna;qism;burish;qismlash;tasvir;tasvirga olish;
Keywords[vi]=cửa sổ;ô;lật;lát;bám;bám dính;
Keywords[zh_CN]=window;tile;flip;tiling;snap;snapping;窗口;平铺;吸附;
Keywords[zh_HK]=視窗;平舖;翻轉;平舖;吸附;吸附;
Keywords[zh_TW]=視窗;平舖;翻躍;平舖;吸附;吸附;
