[Desktop Entry]
Icon=cs-panel
Exec=cinnamon-settings panel
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Panel
Name[af]=Paneel
Name[am]=ክፍል
Name[ar]=الشريط
Name[be]=Панэль
Name[be@latin]=Панэль
Name[bg]=Панел
Name[bn]=প্যানেল
Name[bn_IN]=প্যানেল
Name[ca]=Tauler
Name[ca@valencia]=Panell
Name[de]=Leiste
Name[de_DE]=Leiste
Name[el]=Γραμμή εργασιών
Name[eo]=Panelo
Name[et]=Paneel
Name[eu]=Panela
Name[fa]=صفحه‌ی‌ کنترل
Name[fa_AF]=صفحه‌ی‌ کنترل
Name[fi]=Paneeli
Name[fr]=Tableau de bord
Name[fr_CA]=Tableau de bord
Name[ga]=Painéal
Name[gd]=Panail
Name[he]=פאנל
Name[hi]=पट्टिका
Name[is]=Skjástika
Name[it]=Pannello
Name[ja]=パネル
Name[km]=បន្ទះ
Name[ko]=패널
Name[li]=Paneel
Name[lt]=Skydelis
Name[lv]=Panelis
Name[ml]=പാളി
Name[mr]=पटल
Name[nb]=Oppgavelinje
Name[nds]=Leiste
Name[ne]=प्यानल
Name[nl]=Paneel
Name[nl_NL]=Paneel
Name[oc]=Tablèu de bòrd
Name[om]=Moggaargii
Name[pa]=ਪੈਨਲ
Name[pt]=Painel
Name[pt_BR]=Painel
Name[pt_PT]=Painel
Name[ro]=Panou
Name[ru]=Панель
Name[rue]=Панель
Name[si]=පැනලය
Name[sl]=Pult
Name[so]=Baanelka
Name[sq]=Paneli
Name[sr]=Полица
Name[sr@Latn]=Tabla
Name[sr@ije]=Полица
Name[sr@ijekavian]=Полица
Name[sr@ijekavianlatin]=Полица
Name[sr@latin]=Tabla
Name[ta]=பலகை
Name[ta_LK]=பலகை
Name[te]=ప్యానల్
Name[tg]=Лавҳа
Name[th]=แผง
Name[ts]=Phenele
Name[uk]=Панель
Name[ur]=پینل
Name[ur_PK]=پینل
Name[uz]=Панел
Name[uz@cyrillic]=Панел
Name[vi]=Bảng
Name[zh_CN]=面板
Name[zh_HK]=面板
Name[zh_TW]=面板
Comment=Manage Cinnamon panel settings
Comment[am]=የሲናሞን ክፍል ማሰናጃዎች አስተዳዳሪ
Comment[ar]=إدارة خصائص شريط سينامُن
Comment[ast]=Axustes del alministrador del panel Cinnamon
Comment[be]=Кіраванне наладамі панэлі Cinnamon
Comment[be@latin]=Кіраванне наладамі панэлі Cinnamon
Comment[bg]=Управление на панела на Cinnamon
Comment[bs]=Upravljanje Cinnamon ploča
Comment[ca]=Administrar configuració de panell de Cinnamon
Comment[ca@valencia]=Administra la configuració del panell de Cinnamon
Comment[cs]=Správa Cinnamon panelu
Comment[cy]=Rheoli gosodiadau panel Cinnamon
Comment[da]=Administrér Cinnamon-panelindstillinger
Comment[de]=Cinnamons Leisteneinstellungen verwalten
Comment[de_DE]=Cinnamons Leisteneinstellungen verwalten
Comment[el]=Διαχείριση ρυθμίσεων γραμμής εργασιών Cinnamon
Comment[es]=Administrar configuración del panel de Cinnamon
Comment[es_AR]=Administrar configuración del panel de Cinnamon
Comment[es_CL]=Administrar configuración del panel de Cinnamon
Comment[es_CO]=Administrar configuración del panel de Cinnamon
Comment[es_CR]=Administrar configuración del panel de Cinnamon
Comment[es_DO]=Administrar configuración del panel de Cinnamon
Comment[es_EC]=Administrar configuración del panel de Cinnamon
Comment[es_ES]=Administrar configuración del panel de Cinnamon
Comment[es_GT]=Administrar configuración del panel de Cinnamon
Comment[es_HN]=Administrar configuración del panel de Cinnamon
Comment[es_MX]=Administrar configuración del panel de Cinnamon
Comment[es_NI]=Administrar configuración del panel de Cinnamon
Comment[es_PA]=Administrar configuración del panel de Cinnamon
Comment[es_PE]=Administrar configuración del panel de Cinnamon
Comment[es_PR]=Administrar configuración del panel de Cinnamon
Comment[es_SV]=Administrar configuración del panel de Cinnamon
Comment[es_US]=Administrar configuración del panel de Cinnamon
Comment[es_UY]=Administrar configuración del panel de Cinnamon
Comment[es_VE]=Administrar configuración del panel de Cinnamon
Comment[eu]=Kudeatu Cinnamon panel-ezarpenak
Comment[fi]=Muokkaa Cinnamonin paneelin asetuksia
Comment[fr]=Gérer les paramètres du tableau de bord de Cinnamon
Comment[fr_CA]=Gérer les paramètres du tableau de bord de Cinnamon
Comment[gd]=Stiùirich na roghainnean panail aig Cinnamon
Comment[gl]=Administra os axustes do panel de Cinnamon
Comment[hr]=Upravljajte postavkama Cinnamon panela
Comment[hu]=Cinnamon panel beállítások
Comment[id]=Atur pengaturan panel Cinnamon
Comment[is]=Sýsla með stillingar Cinnamon skjástika
Comment[it]=Gestisci impostazioni del pannello Cinnamon
Comment[ja]=Cinnamon パネル設定管理
Comment[ko]=시나몬 패널설정 관리
Comment[lt]=Tvarkyti Cinnamon skydelio nustatymus
Comment[lv]=Pārvaldīt Cinnamon paneļa iestatījumus
Comment[ms]=Mengurus tetapan panel Cinnamon
Comment[ms_MY]=Mengurus tetapan panel Cinnamon
Comment[nb]=Håndter innstillinger for oppgavelinjen i Cinnamon
Comment[nds]=Cinnamon Panel-Einstellungen verwalten
Comment[nl]=Instellingen van Cinnamonwerkbalk beheren
Comment[nl_NL]=Instellingen van Cinnamonwerkbalk beheren
Comment[pl]=Zarządzaj ustawieniami panelu Cinnamona
Comment[pt]=Gerir as definições do painel do Cinnamon
Comment[pt_BR]=Gerenciar as configurações do painel do Cinnamon
Comment[pt_PT]=Gerir as definições do painel do Cinnamon
Comment[ro]=Gestionează setările panoului Cinnamon
Comment[ru]=Управление настройками панели Cinnamon
Comment[sk]=Spravovať nastavenia panelov Cinnamon
Comment[sl]=Upravljajte z nastavitvami pulta Cinnamona
Comment[sq]=Menaxhoni parametrat e panelit të Cinnamon
Comment[sr]=Управљање поставкама полице Цимета
Comment[sr@Latn]=Управљање поставкама полице Цимета
Comment[sr@ije]=Управљање поставкама полице Цимета
Comment[sr@ijekavian]=Управљање поставкама полице Цимета
Comment[sr@ijekavianlatin]=Управљање поставкама полице Цимета
Comment[sr@latin]=Управљање поставкама полице Цимета
Comment[sv]=Hantera Cinnamons panelinställningar
Comment[tg]=Идоракунии танзимоти лавҳаи Cinnamon
Comment[th]=จัดการการตั้งค่าแผง Cinnamon
Comment[tr]=Cinnamon panel ayarlarını yönet
Comment[uk]=Керування налаштуваннями панелі Cinnamon
Comment[vi]=Quản lý thiết đặt bảng Cinnamon
Comment[zh_CN]=管理Cinnamon面板设置
Comment[zh_HK]=管理 Cinnamon 面板設定
Comment[zh_TW]=管理 Cinnamon 面板設定
