[Desktop Entry]
Icon=cs-applets
Exec=cinnamon-settings applets
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Applets
Name[af]=Toepassingtjies
Name[am]=ፕሮግራሞች
Name[ar]=البريمجات
Name[be]=Аплеты
Name[be@latin]=Аплеты
Name[be_BY]=Аплеты
Name[bg]=Аплети
Name[bg_BG]=Аплети
Name[bn]=অ্যাপলেট
Name[bn_IN]=অ্যাপলেট
Name[bs]=Apleti
Name[ca]=Miniaplicacions
Name[ca_ES]=Miniaplicacions
Name[cs]=Aplety
Name[cs_CZ]=Aplety
Name[csb]=Apletë
Name[cy]=Rhaglenigau
Name[da]=Panelprogrammer
Name[da_DK]=Panelprogrammer
Name[el]=Μικροεφαρμογές
Name[eo]=Aplikaĵetoj
Name[et]=Apletid
Name[et_EE]=Apletid
Name[eu]=Applet-ak
Name[fa]=ابزارک‌ها
Name[fa_AF]=ابزارک‌ها
Name[fa_IR]=ابزارک‌ها
Name[fi]=Paneelisovelmat
Name[fi_FI]=Paneelisovelmat
Name[ga]=Feidhmchláiríní
Name[gd]=Aplaidean
Name[gl]=Miniaplicativos
Name[gl_ES]=Miniaplicativos
Name[he]=יישומונים
Name[he_IL]=יישומונים
Name[hi]=एप्लेट्स
Name[hr]=Apleti
Name[hu]=Kisalkalmazások
Name[hu_HU]=Kisalkalmazások
Name[id]=Applet
Name[id_ID]=Applet
Name[is]=Smáforrit
Name[it]=Applet
Name[it_CH]=Applet
Name[it_IT]=Applet
Name[ja]=アプレット
Name[ja_JP]=アプレット
Name[kab]=Tiplatin
Name[km]=អាប់​ភ្លេត
Name[km_KH]=អាប់​ភ្លេត
Name[ko]=애플릿
Name[ko_KR]=애플릿
Name[lo]=ແອັບເພັດ
Name[lo_LA]=ແອັບເພັດ
Name[lt]=Įskiepiai
Name[lt_LT]=Įskiepiai
Name[lv]=Sīklietotnes
Name[lv_LV]=Sīklietotnes
Name[ml]=ആപ്‌ലെറ്റുകൾ
Name[ms]=Aplet
Name[ms_MY]=Aplet
Name[nb]=Miniprogrammer
Name[nb_NO]=Miniprogrammer
Name[ne]=एप्प्लेट्स
Name[nl]=Hulptoepassingen
Name[nl_NL]=Hulptoepassingen
Name[nn]=Småprogram
Name[nn_NO]=Småprogram
Name[om]=Apleetota
Name[pa]=ਐਪਲਿਟ
Name[pl]=Aplety
Name[pl_PL]=Aplety
Name[pt_BR]=Miniaplicativos
Name[ro]=Appleturi
Name[ro_RO]=Appleturi
Name[ru]=Апплеты
Name[rue]=Апплеты
Name[sk]=Aplety
Name[sk_SK]=Aplety
Name[sl]=Apleti
Name[sl_SI]=Apleti
Name[so]=Kaabayaasha
Name[sq]=Programthet
Name[sr]=Програмчићи
Name[sr@Latn]=Apleti
Name[sr@ije]=Програмчићи
Name[sr@ijekavianlatin]=Програмчићи
Name[sr@latin]=Apleti
Name[sr_RS]=Програмчићи
Name[sr_RS@latin]=Apleti
Name[sv]=Panelprogram
Name[ta]=குறுநிரல்கள்
Name[ta_LK]=குறுநிரல்கள்
Name[te]=ఆప్లెట్లు
Name[tg]=Барномаҳо
Name[th]=แอปเพล็ต
Name[th_TH]=แอปเพล็ต
Name[tr]=Uygulamacıklar
Name[tr_TR]=Uygulamacıklar
Name[ts]=Tiphurogireme-ntsongo
Name[uk]=Аплети
Name[uk_UA]=Аплети
Name[ur]=ایپلیٹ
Name[uz]=Апплетлар
Name[uz@cyrillic]=Апплетлар
Name[vi]=Tiểu trình
Name[vi_VN]=Tiểu trình
Name[zh_CN]=小程序
Name[zh_HK]=應用小程式
Name[zh_TW]=面板小程式
Comment=Manage Cinnamon applets
Comment[am]=የ ሲናሞን አፕሌቶች አስተዳዳሪ
Comment[ar]=إدارة بريمجات سينامُن
Comment[ast]=Alministra los applets de Cinnamon
Comment[be]=Кіраванне аплетамi Cinnamon
Comment[be@latin]=Кіраванне аплетамi Cinnamon
Comment[be_BY]=Кіраванне аплетамi Cinnamon
Comment[bg]=Управление на аплетите за Cinnamon
Comment[bg_BG]=Управление на аплетите за Cinnamon
Comment[bs]=Upravljaj Cinnamon apletima
Comment[ca]=Gestioneu les miniaplicacions de Cinnamon
Comment[ca@valencia]=Administra applets de Cinnamon
Comment[ca_ES]=Gestioneu les miniaplicacions de Cinnamon
Comment[ca_ES@valencia]=Administra applets de Cinnamon
Comment[cs]=Správa Cinnamon appletů
Comment[cs_CZ]=Správa Cinnamon appletů
Comment[cy]=Rheolwch raglenigau Cinnamon
Comment[da]=Administrér Cinnamon-panelprogrammer
Comment[da_DK]=Administrér Cinnamon-panelprogrammer
Comment[de]=Cinnamon-Applets verwalten
Comment[de_CH]=Cinnamon-Applets verwalten
Comment[de_DE]=Cinnamon-Applets verwalten
Comment[el]=Διαχείριση μικροεφαρμογών Cinnamon
Comment[es]=Administrar applets de Cinnamon
Comment[es_AR]=Administrar applets de Cinnamon
Comment[es_CL]=Administrar applets de Cinnamon
Comment[es_CO]=Administrar applets de Cinnamon
Comment[es_CR]=Administrar applets de Cinnamon
Comment[es_DO]=Administrar applets de Cinnamon
Comment[es_EC]=Administrar applets de Cinnamon
Comment[es_ES]=Administrar applets de Cinnamon
Comment[es_MX]=Administrar applets de Cinnamon
Comment[es_NI]=Administrar applets de Cinnamon
Comment[es_PA]=Administrar applets de Cinnamon
Comment[es_PE]=Administrar applets de Cinnamon
Comment[es_PR]=Administrar applets de Cinnamon
Comment[es_SV]=Administrar applets de Cinnamon
Comment[es_UY]=Administrar applets de Cinnamon
Comment[es_VE]=Administrar applets de Cinnamon
Comment[eu]=Kudeatu Cinnamon applet-ak
Comment[fa]=مدیریت اپلت‌های سینمون
Comment[fa_AF]=مدیریت اپلت‌های سینمون
Comment[fa_IR]=مدیریت اپلت‌های سینمون
Comment[fi]=Hallitse Cinnamon-sovelmia
Comment[fi_FI]=Hallitse Cinnamon-sovelmia
Comment[fr]=Gérer les applets de Cinnamon
Comment[fr_CA]=Gérer les applets Cinnamon
Comment[fr_FR]=Gérer les applets de Cinnamon
Comment[fy]=Cinnamon applets beheare
Comment[gd]=Stiùirich aplaidean Cinnamon
Comment[gl]=Administración dos miniaplicativos de Cinnamon
Comment[gl_ES]=Administración dos miniaplicativos de Cinnamon
Comment[hr]=Upravljajte Cinnamon apletima
Comment[hu]=Cinnamon kisalkalmazások kezelése
Comment[hu_HU]=Cinnamon kisalkalmazások kezelése
Comment[ia]=Administrar le applets de Cinnamon
Comment[id]=Atur applets Cinnamon
Comment[id_ID]=Atur applets Cinnamon
Comment[is]=Sýsla með Cinnamon forritlinga
Comment[it]=Gestione applet di Cinnamon
Comment[it_CH]=Gestione applet di Cinnamon
Comment[it_IT]=Gestione applet di Cinnamon
Comment[ja]=Cinnamon アプレットの管理
Comment[ja_JP]=Cinnamon アプレットの管理
Comment[kab]=Sefrek tiplatin n Cinnamon
Comment[ko]=시나몬 애플릿 관리
Comment[ko_KR]=시나몬 애플릿 관리
Comment[lo]=ຈັດການແອັບເພັດ Cinnamon
Comment[lo_LA]=ຈັດການແອັບເພັດ Cinnamon
Comment[lt]=Tvarkyti Cinnamon įskiepius
Comment[lt_LT]=Tvarkyti Cinnamon įskiepius
Comment[lv]=Pārvaldīt Cinnamon sīkrīkus
Comment[lv_LV]=Pārvaldīt Cinnamon sīkrīkus
Comment[ms]=Mengurus applet Cinnamon
Comment[ms_MY]=Mengurus applet Cinnamon
Comment[nb]=Håndter miniprogrammer i Cinnamon
Comment[nb_NO]=Håndter miniprogrammer i Cinnamon
Comment[nds]=Cinnamon Minianwendungen bearbeiten
Comment[nl]=Hulptoepassingen van Cinnamon beheren
Comment[nl_NL]=Hulptoepassingen van Cinnamon beheren
Comment[oc]=Gerir los applets de Cinnamon
Comment[pl]=Zarządzaj apletami Cinnamona
Comment[pl_PL]=Zarządzaj apletami Cinnamona
Comment[pt]=Gerir applets do Cinnamon
Comment[pt_BR]=Gerenciar miniaplicativos do Cinnamon
Comment[pt_PT]=Gerir applets do Cinnamon
Comment[ro]=Gestionează appleturile Cinnamon
Comment[ro_RO]=Gestionează appleturile Cinnamon
Comment[ru]=Управление апплетами Cinnamon
Comment[sc]=Manìgia applets de Cinnamon
Comment[sk]=Spravovať aplety prostredia Cinnamon
Comment[sk_SK]=Spravovať aplety prostredia Cinnamon
Comment[sl]=Upravljajte z apleti Cinnamona
Comment[sl_SI]=Upravljajte z apleti Cinnamona
Comment[sq]=Menaxho programthet e Cinnamon
Comment[sr]=Управљање програмчићима Цимета
Comment[sr@Latn]=Управљање програмчићима Цимета
Comment[sr@ije]=Управљање програмчићима Цимета
Comment[sr@ijekavianlatin]=Управљање програмчићима Цимета
Comment[sr@latin]=Управљање програмчићима Цимета
Comment[sr_RS]=Управљање програмчићима Цимета
Comment[sr_RS@latin]=Управљање програмчићима Цимета
Comment[sv]=Hantera Cinnamons panelprogram
Comment[tg]=Идоракунии зербарномаҳои Cinnamon
Comment[th]=จัดการแอปเพล็ตต่าง ๆ ของ Cinnamon
Comment[th_TH]=จัดการแอปเพล็ตต่าง ๆ ของ Cinnamon
Comment[tr]=Cinnamon uygulamacıklarını yönet
Comment[tr_TR]=Cinnamon uygulamacıklarını yönet
Comment[uk]=Керування аплетами Cinnamon
Comment[uk_UA]=Керування аплетами Cinnamon
Comment[ur]=سنامون کے ایپلیٹس کا انتظام
Comment[uz]=Синнамон апплетларини бошқариш
Comment[uz@cyrillic]=Синнамон апплетларини бошқариш
Comment[vi]=Quản lý tiểu dụng Cinnamon
Comment[vi_VN]=Quản lý tiểu dụng Cinnamon
Comment[zh_CN]=管理Cinnamon小程序
Comment[zh_HK]=管理 Cinnamon 應用小程式
Comment[zh_TW]=管理 Cinnamon 面板小程式
Keywords=applet;
Keywords[am]=አፕሌት;
Keywords[ar]=بُريْمِج;
Keywords[be]=аплет;
Keywords[be@latin]=аплет;
Keywords[be_BY]=аплет;
Keywords[bg]=аплет;
Keywords[bg_BG]=аплет;
Keywords[bs]=aplet;
Keywords[ca]=miniaplicació;
Keywords[ca_ES]=miniaplicació;
Keywords[cy]=rhaglennig;
Keywords[da]=panelprogram;
Keywords[da_DK]=panelprogram;
Keywords[de]=Applet;
Keywords[de_CH]=Applet;
Keywords[de_DE]=Applet;
Keywords[el]=μικροεφαρμογή;
Keywords[eo]=apleto;
Keywords[es]=miniaplicación;
Keywords[es_AR]=miniaplicación;
Keywords[es_CL]=miniaplicación;
Keywords[es_CO]=miniaplicación;
Keywords[es_CR]=miniaplicación;
Keywords[es_DO]=miniaplicación;
Keywords[es_EC]=miniaplicación;
Keywords[es_ES]=miniaplicación;
Keywords[es_MX]=miniaplicación;
Keywords[es_NI]=miniaplicación;
Keywords[es_PA]=miniaplicación;
Keywords[es_PE]=miniaplicación;
Keywords[es_PR]=miniaplicación;
Keywords[es_SV]=miniaplicación;
Keywords[es_UY]=miniaplicación;
Keywords[es_VE]=miniaplicación;
Keywords[et]=rakend;
Keywords[et_EE]=rakend;
Keywords[fa]=برنامک;
Keywords[fa_AF]=برنامک;
Keywords[fa_IR]=برنامک;
Keywords[fi]=sovelma;
Keywords[fi_FI]=sovelma;
Keywords[ga]=feidhmchláirín;
Keywords[gd]=aplaid;
Keywords[gl]=miniaplicativo;
Keywords[gl_ES]=miniaplicativo;
Keywords[hr]=aplet;
Keywords[hu]=kisalkalmazás;
Keywords[hu_HU]=kisalkalmazás;
Keywords[id]=aplet;
Keywords[id_ID]=aplet;
Keywords[is]=smáforrit;
Keywords[ja]=アプレット;
Keywords[ja_JP]=アプレット;
Keywords[kab]=Taplet;
Keywords[ko]=애플릿;
Keywords[ko_KR]=애플릿;
Keywords[lo]=ແອັບເພັດ;
Keywords[lo_LA]=ແອັບເພັດ;
Keywords[lt]=įskiepis;
Keywords[lt_LT]=įskiepis;
Keywords[lv]=sīkrīks;
Keywords[lv_LV]=sīkrīks;
Keywords[ms]=aplet;
Keywords[ms_MY]=aplet;
Keywords[nb]=miniprogram;
Keywords[nb_NO]=miniprogram;
Keywords[nds]=Minianwendung / Applet;
Keywords[nl]=hulptoepassing;
Keywords[nl_NL]=hulptoepassing;
Keywords[pa]=ਐਪਲਿਟ;
Keywords[pl]=aplet;
Keywords[pl_PL]=aplet;
Keywords[pt_BR]=miniaplicativo;
Keywords[ru]=апплет;
Keywords[sk]=aplet;
Keywords[sk_SK]=aplet;
Keywords[sl]=aplet;
Keywords[sl_SI]=aplet;
Keywords[sq]=programth;
Keywords[sr]=програмче;
Keywords[sr@Latn]=програмче;
Keywords[sr@ije]=програмче;
Keywords[sr@ijekavianlatin]=програмче;
Keywords[sr@latin]=програмче;
Keywords[sr_RS]=програмче;
Keywords[sr_RS@latin]=програмче;
Keywords[ta]=குறுநிரல்;
Keywords[ta_LK]=குறுநிரல்;
Keywords[tg]=зербарнома;
Keywords[th]=แอปเพล็ต;
Keywords[th_TH]=แอปเพล็ต;
Keywords[tr]=uygulamacık;
Keywords[tr_TR]=uygulamacık;
Keywords[uk]=аплет;
Keywords[uk_UA]=аплет;
Keywords[ur]=ایپلیٹ;
Keywords[uz]=апплет;
Keywords[uz@cyrillic]=апплет;
Keywords[vi]=tiểu trình;
Keywords[vi_VN]=tiểu trình;
Keywords[zh_CN]=小程序;
Keywords[zh_HK]=應用小程式;
Keywords[zh_TW]=面板小程式;
