[Desktop Entry]
Icon=cs-privacy
Exec=cinnamon-settings privacy
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Privacy
Name[am]=የ ግል
Name[ar]=الخصوصية
Name[ast]=Privacidá
Name[ay]=Jan yaqhipar churaña
Name[az]=Gizlilik
Name[be]=Прыватнасць
Name[bg]=Поверителност
Name[br]=Prevezded
Name[ca]=Privadesa
Name[ca@valencia]=Privadesa
Name[cs]=Soukromí
Name[cy]=Preifatwydd
Name[da]=Privatliv
Name[de]=Datenschutz
Name[el]=Ιδιωτικότητα
Name[eo]=Privateco
Name[es]=Privacidad
Name[es_AR]=Privacidad
Name[et]=Privaatsus
Name[eu]=Pribatutasuna
Name[fa]=حریم‌خصوصی
Name[fi]=Tietosuoja
Name[fr]=Confidentialité
Name[fr_CA]=Confidentialité
Name[gd]=Prìobhaideachd
Name[gl]=Intimidade
Name[he]=פרטיות
Name[hi]=निजता
Name[hr]=Privatnost
Name[hu]=Magánszféra
Name[ia]=Confidentialitate
Name[id]=Privasi
Name[ie]=Privatie
Name[is]=Friðhelgi
Name[ja]=個人情報
Name[ka]=პირადი ინფორმაცია
Name[kab]=Tusligt
Name[ko]=프라이버시
Name[ku]=Veşarî
Name[la]=Privata
Name[lt]=Privatumas
Name[lv]=Privātums
Name[ms]=Privasi
Name[nb]=Personvern
Name[nds]=Privatssphäre
Name[nl]=Privéleven
Name[oc]=Vida privada
Name[pl]=Prywatność
Name[pt]=Privacidade
Name[pt_BR]=Privacidade
Name[ro]=Confidențialitate
Name[ru]=Конфиденциальность
Name[rue]=Конфіденціалность
Name[sc]=Riservadesa
Name[sk]=Súkromie
Name[sl]=Zasebnost
Name[sq]=Privatësia
Name[sr]=Приватност
Name[sr@ijekavian]=Приватност
Name[sr@ijekavianlatin]=Приватност
Name[sr@latin]=Privatnost
Name[sv]=Sekretess
Name[th]=ความเป็นส่วนตัว
Name[tr]=Gizlilik
Name[uk]=Конфіденційність
Name[ur]=پرائیویسی
Name[uz]=Mahfiylik
Name[vi]=Riêng tư
Name[zh_CN]=隐私
Name[zh_HK]=私隱
Name[zh_TW]=隱私
Comment=Cinnamon privacy settings
Comment[am]=ሲናሞን የ ግል ማሰናጃ
Comment[ar]=إعدادات خصوصية سنامُن
Comment[ast]=Axustes de privacidá Cinnamon
Comment[ay]=Kunjams yaqhipar yatiyawi jan churataspa Cinnamonan
Comment[az]="Cinnamon" gizlilik quruluşları
Comment[be]=Налады прыватнасці ў Cinnamon
Comment[bg]=Настройки за поверителност на Cinnamon
Comment[ca]=Ajusts de privadesa de Cinnamon
Comment[ca@valencia]=Ajusts de privadesa de Cinnamon
Comment[cs]=Nastavení soukromí v prostředí Cinnamon
Comment[cy]=Gosodiadau preifatrwydd Cinnamon
Comment[da]=Cinnamon-privatlivsindstillinger
Comment[de]=Cinnamon-Datenschutzeinstellungen
Comment[el]=Ρυθμίσεις ιδιωτικότητας του Cinnamon
Comment[eo]=Privatecaj agordoj de Cinnamon
Comment[es]=Configuración de la privacidad de Cinnamon
Comment[es_AR]=Configuración de la privacidad de Cinnamon
Comment[et]=Cinnamoni privaatsussätted
Comment[eu]=Cinnamon pribatutasunaren ezarpenak
Comment[fa]=تنظیمات حریم‌خصوصی Cinnamon
Comment[fi]=Cinnamonin tietosuojan asetukset
Comment[fr]=Paramètres de confidentialité de Cinnamon
Comment[fr_CA]=Paramètres de confidentialité de Cinnamon
Comment[gd]=Roghainnean prìobhaideachd Cinnamon
Comment[gl]=Opciones de intimidade de Cinnamon
Comment[he]=הגדרות פרטיות סינמון
Comment[hi]=सिनेमन निजता सेटिंग्स
Comment[hr]=Cinnamon postavke privatnosti
Comment[hu]=Cinnamon magánszféra beállítások
Comment[ia]=Configuration de confidentialitate de Cinnamon
Comment[id]=Pengaturan privasi Cinnamon
Comment[ie]=Parametres de privatie de Cinnamon
Comment[is]=Gagnaleyndarstillingar Cinnamon
Comment[it]=Impostazioni privacy di Cinnamon
Comment[ja]=Cinnamon 個人情報の設定
Comment[kab]=Iɣewwaren usligen Cinnamon
Comment[ko]=시나몬 프라이버시 설정
Comment[lt]=Cinnamon privatumo nustatymai
Comment[lv]=Cinnamon privātuma iestatījumi
Comment[ms]=Tetapan privasi Cinnamon
Comment[nb]=Personverninnstillinger for Cinnamon
Comment[nds]=Cinnamon Privatsphäre Einstellungen
Comment[nl]=Instellingen van Cinnamon inzake privéleven
Comment[oc]=Paramètres de confidencialitat de Cinnamon
Comment[pl]=Ustawienia prywatności Cinnamon
Comment[pt]=Definições de privacidade Cinnamon
Comment[pt_BR]=Configurações de privacidade do Cinnamon
Comment[ro]=Setări confidențialitate Cinnamon
Comment[ru]=Настройки конфиденциальности Cinnamon
Comment[rue]=Штімованя конфіденціалности Cinnamon
Comment[sc]=Cunfiguratziones de riservadesa de Cinnamon
Comment[sk]=Nastavenia súkromia Cinnamon
Comment[sl]=Nastavitve zasebnosti Cinnamona
Comment[sq]=Parametrat e privatësisë të Cinnamon
Comment[sr]=Поставке приватности Цимета
Comment[sr@ijekavian]=Поставке приватности Цимета
Comment[sr@ijekavianlatin]=Поставке приватности Цимета
Comment[sr@latin]=Postavke privatnosti Cinnamona
Comment[sv]=Cinnamon integritetsinställningar
Comment[th]=การตั้งค่าความเป็นส่วนตัวของ Cinnamon
Comment[tr]=Cinnamon gizlilik ayarları
Comment[uk]=Параметри конфіденційности Cinnamon
Comment[ur]=سنامون پرائیویسی کی ترتیبات
Comment[uz]=Sinnamonning mahfiylik parametrlari
Comment[vi]=Cài đặt riêng tư Cinnamon
Comment[zh_CN]=Cinnamon隐私设置
Comment[zh_HK]=Cinnamon 私隱設定
Comment[zh_TW]=Cinnamon 隱私設定
Keywords=privacy;recent;gtk;private;
Keywords[am]=የ ግል: የ ቅርብ ጊዜ: gtk: የ ግል;
Keywords[ar]=الخصوصية، الاخيرة، gtk، الشخصي;
Keywords[ast]=privacidá;apocayá;gtk;priváu;
Keywords[ay]=jan yaqhipar churaña;jichhaki;gtk;jani yaqha jaqina;privacidad;reciente;privado;
Keywords[az]=gizlilik;sonuncu;gtk;özəl;
Keywords[be]=прыватнасць;нядаўнія;gtk;асабістыя;
Keywords[bg]=лично;текущо;gtk;частно;
Keywords[ca]=privadesa;recent;gtk;privat;
Keywords[ca@valencia]=privadesa;recent;gtk;privat;
Keywords[cs]=soukromí;nedávné;gtk;soukromé;
Keywords[cy]=preifatrwydd;diweddar;gtk;preifat;
Keywords[da]=privatliv;seneste;gtk;privat;
Keywords[de]=Datenschutz;Privatsphäre;Vertraulichkeit;Geheimhaltung;kürzlich;letzte;neueste;jüngste;
Keywords[el]=ιδιωτικότητα;πρόσφατο;gtk;ιδιωτικό;
Keywords[eo]=privateco;antaŭ nelonge;gtk;privata;
Keywords[es]=privacidad;reciente;gtk;privado;
Keywords[es_AR]=privacidad;reciente;gtk;privado;
Keywords[et]=privaatsus;gtk;
Keywords[eu]=pribatutasuna;azkenak;gtk;pribatua;
Keywords[fa]=حریم‌خصوصی، اخیر، gtk، خصوصی;
Keywords[fi]=yksityisyys;viimeiset;gtk;tietosuoja;
Keywords[fr]=confidentialité;récent;gtk;privé;
Keywords[fr_CA]=confidentialité;récent;gtk;privé;
Keywords[gd]=privacy;recent;gtk;private;prìobhaideahcd;o chionn goirid;prìobhaideach;
Keywords[gl]=intimidade;recente;gtk;privado;
Keywords[he]=פרטיות;לאחרונה;gtk;פרטי;
Keywords[hi]=निजता;हालिया;जीटीके;निजी;
Keywords[hr]=privatnost;nedavno;gtk;privatno;
Keywords[hu]=magánszféra;legutóbbi;gtk;magán;
Keywords[ia]=confidentialitate;recente;gtk;private;
Keywords[id]=privasi;baru-baru ini;gtk;pribadi;
Keywords[is]=friðhelgi;persónulegt;einka;gagnaleynd;gtk;
Keywords[it]=privacy;recenti;gtk;privato;
Keywords[ja]=privacy;recent;gtk;private;プライバシー;個人情報;最近使ったファイル;プライベート;
Keywords[kab]=tabadnit;melmi kan;gtk;uslig;
Keywords[ko]=프라이버시;최근;gtk;비공개;
Keywords[lt]=privatumas;paskiausi;gtk;privatu;
Keywords[ms]=Privasi;baru-baru ini;gtk;peribadi;
Keywords[nb]=personvern;nylig;gtk;privat;
Keywords[nds]=Datenschutz;kürzlich erfolgt;gtk;Privat;
Keywords[nl]=privéleven;onlangs;gtk;privé;
Keywords[pl]=prywatność;ostatnie;gtk;prywatny;
Keywords[pt]=privacidade;recentes;gtk;privado;
Keywords[pt_BR]=privacidade;recente;gtk;privado;
Keywords[ro]=confidențialitate;recent;gtk;confidențial;
Keywords[ru]=конфиденциальность;недавние;gtk;приватность;
Keywords[rue]=конфіденціалность;недавні;gtk;пріватность;
Keywords[sc]=riservadesa;reghente;gtk;privadu;
Keywords[sk]=súkromie;nedávno otvorené;gtk;súkromné;
Keywords[sl]=zasebnost;nedavno;gtk;zasebno;
Keywords[sq]=privatësia;të fundit;gtk;privat;
Keywords[sr]=приватност;скорашње;гтк;мир;
Keywords[sr@ijekavian]=приватност;скорашње;гтк;мир;
Keywords[sr@ijekavianlatin]=приватност;скорашње;гтк;мир;
Keywords[sr@latin]=privatnost;skorašnje;gtk;privatno;
Keywords[sv]=integritet;senaste;gtk;privat;
Keywords[th]=ความเป็นส่วนบุคคล;ล่าสุด;gtk;ส่วนบุคคล;
Keywords[tr]=gizlilik;son dosyalar;gtk;özel;
Keywords[uk]=конфіденційність;останні;GTK;приватне;
Keywords[ur]=پرائیوسی، حالیہ، جی ٹی کے، پرائیویٹ، نجی;
Keywords[uz]=mahfiylik;yaqindagi;gtk;mahfiy;
Keywords[vi]=riêng tư;gần đây;gtk;riêng tư;
Keywords[zh_CN]=隐私，最近，gtk，个人;
Keywords[zh_HK]=私隱;最近;GTK;私人;
Keywords[zh_TW]=隱私;最近;GTK;私人;
