[Desktop Entry]
Icon=cs-default-applications
Exec=cinnamon-settings default
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Preferred Applications
Name[am]=የ መረጥኩት መተግበሪያ
Name[ar]=التطبيقات المفضلة
Name[ast]=Aplicaciones preferíes
Name[az]=Üstünlük verilən Uyğulamalar
Name[be]=Пераважныя дастасаванні
Name[bg]=Предпочитани програми
Name[bn]=পছন্দের অ্যাপ্লিকেশন
Name[bs]=Preferirane aplikacije
Name[ca]=Aplicacions preferides
Name[ca@valencia]=Aplicacions preferides
Name[cs]=Upřednostňované aplikace
Name[cy]=Rhaglenni Dewisol
Name[da]=Foretrukne programmer
Name[de]=Bevorzugte Anwendungen
Name[el]=Προτιμώμενες Εφαρμογές
Name[eo]=Preferaj Aplikaĵoj
Name[es]=Aplicaciones favoritas
Name[es_AR]=Aplicaciones favoritas
Name[et]=Eelistatud rakendused
Name[eu]=Hobetsitako aplikazioak
Name[fi]=Oletussovellukset
Name[fr]=Applications préférées
Name[fr_CA]=Applications préférées
Name[gd]=Aplacaidean as fhearr leat
Name[gl]=Aplicativos preferidos
Name[he]=יישום מועדף
Name[hr]=Željene aplikacije
Name[hu]=Alapértelmezett alkalmazások
Name[ia]=Applicationes preferite
Name[id]=Aplikasi Pilihan
Name[ie]=Applicationes preferet
Name[is]=Sjálfgefin forrit
Name[it]=Applicazioni preferite
Name[ja]=お気に入りのアプリケーション
Name[kab]=Isnasen imenyafen
Name[ko]=기본 애플리케이션
Name[ku]=Sepanên ku Têne Tercîhkirin
Name[lo]=ໂປຣແກຣມທີ່ເລືອກ
Name[lt]=Pageidaujamos programos
Name[lv]=Noklusētās programmas
Name[ms]=Aplikasi Digemari
Name[nb]=Foretrukne programmer
Name[nds]=Bevorzugte Anwendungen
Name[nl]=Voorkeurstoepassingen
Name[oc]=Aplicacions preferidas
Name[pl]=Preferowane programy
Name[pt]=Aplicações Preferidas
Name[pt_BR]=Aplicativos Preferenciais
Name[ro]=Aplicații preferate
Name[ru]=Предпочитаемые приложения
Name[sc]=Aplicatziones preferidas
Name[sk]=Uprednostňované aplikácie
Name[sl]=Prednostni programi
Name[sq]=Programet e preferuara
Name[sr]=Омиљени програми
Name[sr@ijekavianlatin]=Омиљени програми
Name[sr@latin]=Омиљени програми
Name[sv]=Förvalda program
Name[th]=โปรแกรมที่ชอบ
Name[tr]=Tercih Edilen Uygulamalar
Name[uk]=Стандартні програми
Name[ur]=ترجیحی ایپلی کیشنز
Name[uz]=Танланган дастурлар
Name[vi]=Ứng dụng Ưa thích
Name[zh_CN]=首选应用程序
Name[zh_HK]=喜好的應用程式
Name[zh_TW]=偏好的應用程式
Comment=Preferred Applications
Comment[am]=የ መረጥኩት መተግበሪያ
Comment[ar]=التطبيقات المفضلة
Comment[ast]=Aplicaciones preferíes
Comment[az]=Üstünlük verilən Uyğulamalar
Comment[be]=Пераважныя дастасаванні
Comment[bg]=Предпочитани програми
Comment[bn]=পছন্দের অ্যাপ্লিকেশন
Comment[bs]=Preferirane aplikacije
Comment[ca]=Aplicacions preferides
Comment[ca@valencia]=Aplicacions preferides
Comment[cs]=Upřednostňované aplikace
Comment[cy]=Rhaglenni Dewisol
Comment[da]=Foretrukne programmer
Comment[de]=Bevorzugte Anwendungen
Comment[el]=Προτιμώμενες Εφαρμογές
Comment[eo]=Preferaj Aplikaĵoj
Comment[es]=Aplicaciones favoritas
Comment[es_AR]=Aplicaciones favoritas
Comment[et]=Eelistatud rakendused
Comment[eu]=Hobetsitako aplikazioak
Comment[fi]=Oletussovellukset
Comment[fr]=Applications préférées
Comment[fr_CA]=Applications préférées
Comment[gd]=Aplacaidean as fhearr leat
Comment[gl]=Aplicativos preferidos
Comment[he]=יישום מועדף
Comment[hr]=Željene aplikacije
Comment[hu]=Alapértelmezett alkalmazások
Comment[ia]=Applicationes preferite
Comment[id]=Aplikasi Pilihan
Comment[ie]=Applicationes preferet
Comment[is]=Sjálfgefin forrit
Comment[it]=Applicazioni preferite
Comment[ja]=お気に入りのアプリケーション
Comment[kab]=Isnasen imenyafen
Comment[ko]=기본 애플리케이션
Comment[ku]=Sepanên ku Têne Tercîhkirin
Comment[lo]=ໂປຣແກຣມທີ່ເລືອກ
Comment[lt]=Pageidaujamos programos
Comment[lv]=Noklusētās programmas
Comment[ms]=Aplikasi Digemari
Comment[nb]=Foretrukne programmer
Comment[nds]=Bevorzugte Anwendungen
Comment[nl]=Voorkeurstoepassingen
Comment[oc]=Aplicacions preferidas
Comment[pl]=Preferowane programy
Comment[pt]=Aplicações Preferidas
Comment[pt_BR]=Aplicativos Preferenciais
Comment[ro]=Aplicații preferate
Comment[ru]=Предпочитаемые приложения
Comment[sc]=Aplicatziones preferidas
Comment[sk]=Uprednostňované aplikácie
Comment[sl]=Prednostni programi
Comment[sq]=Programet e preferuara
Comment[sr]=Омиљени програми
Comment[sr@ijekavianlatin]=Омиљени програми
Comment[sr@latin]=Омиљени програми
Comment[sv]=Förvalda program
Comment[th]=โปรแกรมที่ชอบ
Comment[tr]=Tercih Edilen Uygulamalar
Comment[uk]=Стандартні програми
Comment[ur]=ترجیحی ایپلی کیشنز
Comment[uz]=Танланган дастурлар
Comment[vi]=Ứng dụng Ưa thích
Comment[zh_CN]=首选应用程序
Comment[zh_HK]=喜好的應用程式
Comment[zh_TW]=偏好的應用程式
Keywords=media;defaults;applications;programs;removable;browser;email;calendar;music;videos;photos;images;cd;autoplay;favorite;apps;
Keywords[ar]=الوسائط، المبدئية، التطبيقات، المزال، المتصفح، البريد الإلكتروني، التقويم، الموسيقى، المرئيات، الصور، القروص، التشغيل الآلي، المفضل;
Keywords[bg]=медия;стандартни;приложения;програми;преносими;браузър;имейл;календар;музика;видео;снимки;изображения;cd;автоматично;л'бими;приложения;
Keywords[ca]=mitjans;valors per defecte;aplicacions;programes;extraïble;navegador;correu electrònic;calendari;música;vídeos;fotos;imatges;CD;reproducció automàtica;preferits;
Keywords[ca@valencia]=mitjans;valors per defecte;aplicacions;programes;extraïble;navegador;correu electrònic;calendari;música;vídeos;fotos;imatges;CD;reproducció automàtica;preferits;
Keywords[cs]=média;výchozí;aplikace;programy;vyjímatelné;prohlížeč;e-mail;kalendář;hudba;videa;fotky;obrázky;cd;automatické spouštění;oblíbené;
Keywords[cy]=cyfryngau;rhagosodiadau;rhaglenni;symudadwy;porwr;e-bost;calendr;cerddoriaeth;fideos;ffotograffau;delweddau;cd;awtochwarae;hoff;apiau;
Keywords[da]=medier;standarder;programmer;applikationer;flytbar;browser;e-mail;kalender;musik;videoer;billeder;fotos;cd;automatisk afspilning;favorit;app;
Keywords[de]=Medien;Vorgaben;Standards;Anwendungen;Programme;entfernbar;Browser;E-Mail;Kalender;Musik;Videos;Fotos;Bilder;CD;automatische Wiedergabe;Favoriten;Apps;defaults;removable;email;calendar;photos;images;pictures;autoplay;favorite;
Keywords[en_GB]=media;defaults;applications;programs;removable;browser;email;calendar;music;videos;photos;images;cd;autoplay;favourite;apps;
Keywords[eo]=datumportilo;defaŭltoj;aplikaĵoj;programoj;demetebla;foliumilo;retpoŝto;kalendaro;muziko;filmetoj;fotoj;bildoj;lumdisko;aŭtomate ludi;preferaĵo;apoj;
Keywords[es]=medios;predeterminado;aplicaciones;programas;extraíble;explorador;correo;email;calendario;música;vídeos;fotos;imágenes;cd;reproducción automática;favorito;apps;
Keywords[es_AR]=medios;predeterminado;aplicaciones;programas;extraíble;explorador;correo;email;calendario;música;vídeos;fotos;imágenes;cd;reproducción automática;favorito;apps;
Keywords[eu]=multimedia;lehenetsiak;aplikazioak;programak;aldagarria;arakatzailea;posta;egutegia;musika;bideoak;argazkiak;irudiak;cd;erreproduzitu automatikoki;gogokoak;app-ak;
Keywords[fi]=media;oletukset;sovellukset;ohjelmat;poistettavat;selain;sähköposti;kalenteri;musiikki;videot;valokuvat;kuvat;cd;automaattitoisto;suosikki;sovellukset;
Keywords[fr]=médias;défaut;applications;programmes;amovible;navigateur;e-mail;courriel;agenda;musique;vidéos;photos;images;cd;lecture automatique;favorites;applications;
Keywords[fr_CA]=médias;défaut;applications;programmes;amovible;navigateur;e-mail;courriel;agenda;musique;vidéos;photos;images;cd;lecture automatique;favorites;applications;
Keywords[he]=מדיה;ברירות מחדל;יישומים;תוכניות;ניתנים להסרה;דפדפן;אימייל;לוח שנה;מוזיקה;וידאו;תמונות;צילומים;CD;נגינה אוטומטית;מועדפים;יישומונים;
Keywords[hr]=medija;zadano;aplikacije;programi;uklonjivo;preglednik;e-pošta;kalendar;glazba;video;fotografije;slike;cd;automatska reprodukcija;omiljeno;aplik;
Keywords[hu]=média;alapértelmezett;alkalmazások;programok;cserélhető;böngésző;e-mail;naptár;zene;videók;fényképek;fotók;képek;cd;automatikus;lejátszás;kedvenc;appok;
Keywords[ia]=medios;valores predefinite;applicationes;programmas;removibile;navigator;email;calendario;musica;videos;photos;imagines;cd;auto-reproduce;favorite;applicationes;
Keywords[is]=miðlar;sjálfgefið;forrit;útskiptanleg;vafri;póstur;dagatal;tónlist;vídeó;myndskeið;myndir;cd;sjálfspila;eftirlæti;smáforrit;forrit;
Keywords[it]=media;predefiniti;applicazioni;programmi;rimuovibili;browser;email;calendario;musica;video;foto;immagini;cd;autoplay;preferiti;apps;
Keywords[kab]=allal n teywalt;imezwar;isnasen;ahilen;allalen yettwakkasen;iminig;email;awitay;aẓawan;tividyutin;tiwtafin;tugniwin;cd;taɣuri tawurmant;inurifen;izegrar;
Keywords[ko]=미디어;기본;애플리케이션;프로그램;제거가능;브라우저;이메일;달력;음악;비디오;사진;이미지;cd;자동재생;즐겨찾기;앱;
Keywords[lt]=medija;numatytosios;programos;keičiamieji;naršyklė;el. paštas;kalendorius;muzika;vaizdo įrašai;video;nuotraukos;paveikslai;paveikslėliai;cd;automatinis paleidimas;mėgstamos;
Keywords[nl]=media;standaarden;toepassingen;programma's;verwijderbaar;webbrowser;email;kalender;muziek;video's;foto's;afbeeldingen;CD;automatisch afspelen;favoriet;
Keywords[pl]=media;ustawienia domyślne;aplikacje;programy;przenośne;przeglądarka;poczta elektroniczna;kalendarz;muzyka;filmy;zdjęcia;obrazy;cd;autoodtwarzanie;ulubione;aplikacje;
Keywords[pt]=media;predefinidos;aplicações;programas;removível;navegador;email;calendário;música;vídeos;fotos;imagens;CD;reprodução automática;favoritos;aplicações;
Keywords[pt_BR]=mídia;padrões;aplicativos;programas;removível;navegador;email;calendário;música;vídeos;fotos;imagens;cd;autoinício;favorito;apps;
Keywords[ro]=media;implicite;aplicații;programe;amovibile;browser;e-mail;calendar;muzică;clipuri video;fotografii;imagini;cd;redare automată;preferate;aplicații;
Keywords[ru]=носители;настройки по умолчанию;приложения;программы;съемные устройства;браузер;электронная почта;календарь;музыка;видео;фото;изображения;CD;автозапуск;избранное;
Keywords[sk]=médiá;predvolené;aplikácie;programy;odstrániteľné;prehliadač;email;kalendár;hudba;videá;fotky;obrázky;cd;autoprehrávače;obľúbené;appy;
Keywords[sl]=mediji;privezete;aplikacije;programi;izmenljiv;brskalnik;e-pošta;koledar;glasba;videi;fotografije;slike;cd;samodejno predvajanje;pribljubljeno;apps;
Keywords[sr]=медија;подразумевано;апликације;програми;уклоњиво;прегледач;е-пошта;календар;музика;видео;фотографија;слике;цд;аутоматска репродукција;омиљено аплик;
Keywords[sr@ijekavianlatin]=медија;подразумевано;апликације;програми;уклоњиво;прегледач;е-пошта;календар;музика;видео;фотографија;слике;цд;аутоматска репродукција;омиљено аплик;
Keywords[sr@latin]=медија;подразумевано;апликације;програми;уклоњиво;прегледач;е-пошта;календар;музика;видео;фотографија;слике;цд;аутоматска репродукција;омиљено аплик;
Keywords[sv]=media;standard;program;program;flyttbar;webbläsare;e-post;kalender;musik;videor;foton;bilder;cd;autoplay;favorit;appar;
Keywords[tr]=ortam;varsayılanlar;uygulamalar;programlar;çıkartılabilir;gözat;eposta;takvim;müzik;videolar;fotoğraflar;resimler;cd;otomatik oynat;sevilenler;uyg;
Keywords[uk]=носії;типові налаштування;додатки;програми;знімні пристрої;бровзер;електронна пошта;календар;музика;відео;світлини;зображення;CD;автозапуск;вибране;додатки;
Keywords[zh_CN]=媒体，默认，应用程序，程序，可移动，浏览器，电子邮件，日历，音乐，视频，照片，图像，CD，自动播放，收藏，应用程序;
