[Desktop Entry]
Icon=cs-nightlight
Exec=cinnamon-settings nightlight
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Night Light
Name[ca]=Llum nocturna
Name[ca@valencia]=Llum nocturna
Name[cs]=Noční osvětlení
Name[cy]=Golau Nos
Name[de]=Nachtmodus
Name[es]=Luz nocturna
Name[es_AR]=Luz nocturna
Name[fi]=Yövalo
Name[fr]=Mode nuit
Name[fr_CA]=Mode nuit
Name[he]=תאורת לילה
Name[it]=Luce notturna
Name[nl]=Nachtlicht
Name[oc]=Lum nuechenc
Name[pl]=Nocne światło
Name[pt]=Luz noturna
Name[pt_BR]=Luz noturna
Name[ro]=Lumină nocturnă
Name[sk]=Nočné svetlo
Name[sv]=Nattbelysning
Name[zh_CN]=夜灯
Comment=Reduce exposure to blue light
Comment[ca]=Redueix l'exposició a la llum blava
Comment[ca@valencia]=Redueix l'exposició a la llum blava
Comment[cs]=Snížení expozice modrého světla
Comment[es]=Reducir la exposición a la luz azul
Comment[es_AR]=Reducir la exposición a la luz azul
Comment[fi]=Vähennä siniselle valolle altistumista
Comment[fr]=Réduire l'exposition à la lumière blueue
Comment[fr_CA]=Réduire l'exposition à la lumière blueue
Comment[he]=צמצום חשיפה לאור כחול
Comment[it]=Riduci l'esposizione alla luce blu
Comment[nl]=Blootstelling aan blauw licht verminderen
Comment[pl]=Ogranicz ekspozycję na światło niebieskie
Comment[pt]=Reduzir a exposição à luz azul
Comment[pt_BR]=Reduzir exposição a luz azul
Comment[ro]=Reduce expunerea la lumina albastră
Comment[sk]=Zníženie ožarovania modrým svetlom
Comment[sv]=Minska exponeringen för blått ljus
Comment[zh_CN]=减少蓝光
Keywords=redshift;color;blue;light;filter;temperature;
Keywords[ca]=desplaçament al vermell;color;blau;llum;filtre;temperatura;
Keywords[ca@valencia]=desplaçament al vermell;color;blau;llum;filtre;temperatura;
Keywords[cs]=červený posuv;barva;modrá;světlo;filtr;teplota;
Keywords[en_GB]=redshift;colour;blue;light;filter;temperature;
Keywords[es]=corrimiento al rojo;color;azul;luz;filtro;temperatura;
Keywords[es_AR]=corrimiento al rojo;color;azul;luz;filtro;temperatura;
Keywords[fi]=redshift;color;blue;light;filter;temperature;väri;sini;valo;suodatin;värilämpö;
Keywords[fr]=redshift;coleur;bleu;lumière;filtre;température;
Keywords[fr_CA]=redshift;coleur;bleu;lumière;filtre;température;
Keywords[he]=טמפרטורה;מסנן;אור;כחול;צבע;רד־שיפט;redshift;color;blue;light;filter;temperature;
Keywords[it]=redshift;colore;blu;chiaro;filtro;temperatura;
Keywords[nl]=redshift;kleur;blauw;licht;filter;temperatuur;
Keywords[oc]=redshift;color;blau;lum;filtre;temperatura;
Keywords[pl]=przesunięcie ku czerwieni;kolor;niebieski;światło;filtr;temperatura;
Keywords[pt]=redshift;cor;azul;luz;filtro;temperatura;
Keywords[pt_BR]=desvio para o vermelho;cor;azul;luz;filtro;temperatura;
Keywords[ro]=redshift;culoare;albastru;lumină;filtru;temperatoră;
Keywords[sk]=redshift;farba;modrá;modré;svetlo;osvetlenie;filter;teplota;
Keywords[sv]=rödförskjutning;färg;blå;ljus;filter;temperatur;
Keywords[zh_CN]=红移，颜色，蓝，光线，过滤，温度;
