[Desktop Entry]
Name=Lock Screen
Comment=Manage screen lock settings
Icon=/usr/lib/cinnamon-settings/data/icons/screensaver.svg
Exec=cinnamon-settings screensaver
Type=Application
OnlyShowIn=GNOME;
Categories=Settings;
Name[gd]=Glais an sgrìn
Name[gl]=Bloquear a pantalla
Name[tr]=Ekranı Kilitle
Name[ta]=திரையைப் பூட்டுக
Name[pt_BR]=Bloquear Tela
Name[de]=Bildschirm sperren
Name[da]=Lås skærmen
Name[el]=Κλείδωμα Οθόνης
Name[eo]=Ŝlosi ekranon
Name[eu]=Blokeatu pantaila
Name[et]=Lukusta ekraan
Name[es]=Bloquear la pantalla
Name[ru]=Заблокировать экран
Name[ro]=Blocare ecran
Name[ms]=Kunci Skrin
Name[ja]=画面のロック
Name[ca]=Bloca la pantalla
Name[cy]=Cloi'r Sgrin
Name[cs]=Zamknout obrazovku
Name[pt]=Bloquear Ecrã
Name[en_GB]=Lock Screen
Name[hr]=Zaključaj zaslon
Name[hu]=Képernyő zárolása
Name[zh_CN]=锁定屏幕
Name[pl]=Blokada ekranu
Name[uk]=Заблокувати екран
Name[vi]=Khoá Màn hình
Name[is]=Læsa skjá
Name[am]=እስክሪን መቆለፊያ
Name[it]=Blocca lo schermo
Name[ar]=شاشة القفل
Name[id]=Kunci Layar
Name[nl]=Beeldscherm vergrendelen
Name[fr]=Verrouiller l'écran
Name[fi]=Lukitse näyttö
Name[fr_CA]=Verrouiller l'écran
Name[sr]=Закључај екран
Name[sv]=Lås Skärmen
Name[sl]=Zakleni zaslon
