[Desktop Entry]
Icon=cs-startup-programs
Exec=cinnamon-settings startup
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Startup Applications
Name[am]=መተግበሪያዎች ማስጀመሪያ
Name[ar]=برامج بدء التشغيل
Name[ast]=Aplicaciones d'aniciu
Name[bg]=Автоматично стартирани програми
Name[bg_BG]=Автоматично стартирани програми
Name[ca]=Aplicacions a l'inici
Name[ca@valencia]=Aplicacions a l'inici
Name[ca_ES]=Aplicacions a l'inici
Name[ca_ES@valencia]=Aplicacions a l'inici
Name[cs]=Aplikace spouštěné při přihlášení
Name[cs_CZ]=Aplikace spouštěné při přihlášení
Name[cy]=Rhaglenni Cychwyn
Name[da]=Opstartsprogrammer
Name[da_DK]=Opstartsprogrammer
Name[de]=Startprogramme
Name[de_CH]=Startprogramme
Name[de_DE]=Startprogramme
Name[el]=Προγράμματα εκκίνησης
Name[eo]=Aplikaĵoj post startigo
Name[es]=Aplicaciones al inicio
Name[es_AR]=Aplicaciones al inicio
Name[es_CL]=Aplicaciones al inicio
Name[es_CO]=Aplicaciones al inicio
Name[es_CR]=Aplicaciones al inicio
Name[es_DO]=Aplicaciones al inicio
Name[es_EC]=Aplicaciones al inicio
Name[es_ES]=Aplicaciones al inicio
Name[es_MX]=Aplicaciones al inicio
Name[es_NI]=Aplicaciones al inicio
Name[es_PA]=Aplicaciones al inicio
Name[es_PE]=Aplicaciones al inicio
Name[es_PR]=Aplicaciones al inicio
Name[es_SV]=Aplicaciones al inicio
Name[es_UY]=Aplicaciones al inicio
Name[es_VE]=Aplicaciones al inicio
Name[et]=Käivitatavad rakendused
Name[et_EE]=Käivitatavad rakendused
Name[eu]=Abioko aplikazioak
Name[fi]=Käynnistettävät sovellukset
Name[fi_FI]=Käynnistettävät sovellukset
Name[fr]=Applications au démarrage
Name[fr_CA]=Applications lancées au démarrage
Name[fr_FR]=Applications au démarrage
Name[fy]=Opstart Applikaasjes
Name[gd]=Aplacaidean tòiseachaidh
Name[gl]=Aplicativos de inicio
Name[gl_ES]=Aplicativos de inicio
Name[hr]=Pokrenute aplikacije
Name[hu]=Indítópult
Name[hu_HU]=Indítópult
Name[ia]=Applicationes de initio
Name[id]=Aplikasi Permulaan
Name[id_ID]=Aplikasi Permulaan
Name[is]=Ræsiforrit
Name[it]=Applicazioni d'avvio
Name[it_CH]=Applicazioni d'avvio
Name[it_IT]=Applicazioni d'avvio
Name[ja]=自動起動のアプリケーション
Name[ja_JP]=自動起動のアプリケーション
Name[ko]=시작 애플리케이션
Name[ko_KR]=시작 애플리케이션
Name[lo]=ໂປຣແກຣມເລີ່ມລະບົບ
Name[lo_LA]=ໂປຣແກຣມເລີ່ມລະບົບ
Name[lt]=Paleisties programos
Name[lt_LT]=Paleisties programos
Name[ms]=Aplikasi Permulaan
Name[ms_MY]=Aplikasi Permulaan
Name[nb]=Oppstartsprogrammer
Name[nb_NO]=Oppstartsprogrammer
Name[nds]=Systemstartprogramme
Name[nl]=Opstarttoepassingen
Name[nl_NL]=Opstarttoepassingen
Name[oc]=Aplicacions a l'aviada
Name[pl]=Programy startowe
Name[pl_PL]=Programy startowe
Name[pt]=Aplicações de Arranque
Name[pt_BR]=Aplicativos de Inicialização
Name[pt_PT]=Aplicações de Arranque
Name[ro]=Aplicații lansate la pornire
Name[ro_RO]=Aplicații lansate la pornire
Name[ru]=Автозагрузка
Name[sk]=Aplikácie po spustení
Name[sk_SK]=Aplikácie po spustení
Name[sl]=Začetni programi
Name[sl_SI]=Začetni programi
Name[sq]=Programet në nisje
Name[sr]=Почетни програми
Name[sr@Latn]=Почетни програми
Name[sr@ije]=Почетни програми
Name[sr@ijekavianlatin]=Почетни програми
Name[sr@latin]=Почетни програми
Name[sr_RS]=Почетни програми
Name[sr_RS@latin]=Почетни програми
Name[sv]=Uppstartsprogram
Name[th]=โปรแกรมเริ่มวาระ
Name[th_TH]=โปรแกรมเริ่มวาระ
Name[tr]=Başlangıç Uygulamaları
Name[tr_TR]=Başlangıç Uygulamaları
Name[uk]=Самозапуск проґрам
Name[uk_UA]=Самозапуск проґрам
Name[ur]=کمپیوڑر آغاز کی ایپلی کیشنز
Name[vi]=Ứng dụng Khởi chạy
Name[vi_VN]=Ứng dụng Khởi chạy
Name[zh_CN]=开机自启动程序
Name[zh_HK]=初始啟動程式
Name[zh_TW]=系統啟動應用程式
Comment=Manage your startup applications
Comment[am]=የሚጀምሩ መተግባሪያዎች አስተዳዳሪ
Comment[bg]=Управление на стартиращите приложения
Comment[bg_BG]=Управление на стартиращите приложения
Comment[ca]=Gestioneu les vostres aplicacions d'inici
Comment[ca@valencia]=Gestioneu les vostres aplicacions d'inici
Comment[ca_ES]=Gestioneu les vostres aplicacions d'inici
Comment[ca_ES@valencia]=Gestioneu les vostres aplicacions d'inici
Comment[cs]=Spravovat vaše aplikace při spuštění
Comment[cs_CZ]=Spravovat vaše aplikace při spuštění
Comment[cy]=Rheoli eich rhaglenni cychwyn
Comment[da]=Håndtér dine opstartsprogrammer
Comment[da_DK]=Håndtér dine opstartsprogrammer
Comment[de]=Ihre Startprogramme verwalten
Comment[de_CH]=Ihre Startprogramme verwalten
Comment[de_DE]=Ihre Startprogramme verwalten
Comment[el]=Διαχείριση των εφαρμογών εκκίνησης σου
Comment[es]=Gestionar las aplicaciones de inicio
Comment[es_AR]=Gestionar las aplicaciones de inicio
Comment[es_CL]=Gestionar las aplicaciones de inicio
Comment[es_CO]=Gestionar las aplicaciones de inicio
Comment[es_CR]=Gestionar las aplicaciones de inicio
Comment[es_DO]=Gestionar las aplicaciones de inicio
Comment[es_EC]=Gestionar las aplicaciones de inicio
Comment[es_ES]=Gestionar las aplicaciones de inicio
Comment[es_MX]=Gestionar las aplicaciones de inicio
Comment[es_NI]=Gestionar las aplicaciones de inicio
Comment[es_PA]=Gestionar las aplicaciones de inicio
Comment[es_PE]=Gestionar las aplicaciones de inicio
Comment[es_PR]=Gestionar las aplicaciones de inicio
Comment[es_SV]=Gestionar las aplicaciones de inicio
Comment[es_UY]=Gestionar las aplicaciones de inicio
Comment[es_VE]=Gestionar las aplicaciones de inicio
Comment[eu]=Kudeatu zure abioko aplikazioak
Comment[fi]=Hallinnoi automaattisesti käynnistyviä sovelluksia
Comment[fi_FI]=Hallinnoi automaattisesti käynnistyviä sovelluksia
Comment[fr]=Gérez vos applications au démarrage
Comment[fr_CA]=Gérez vos applications au démarrage
Comment[fr_FR]=Gérez vos applications au démarrage
Comment[gd]=Stiùirich na h-aplacaidean tòiseachaidh agad
Comment[gl]=Administrar os seus aplicativos do inicio
Comment[gl_ES]=Administrar os seus aplicativos do inicio
Comment[hr]=Upravljajte vašim pokrenutim aplikacijama
Comment[hu]=Bejelentkezéskor elindítandó alkalmazások
Comment[hu_HU]=Bejelentkezéskor elindítandó alkalmazások
Comment[ia]=Administrar tu applicationes de lanceamento initial
Comment[is]=Sýsla með forrit virkjuð í ræsingu
Comment[it]=Gestisci le tue applicazioni di avvio
Comment[it_CH]=Gestisci le tue applicazioni di avvio
Comment[it_IT]=Gestisci le tue applicazioni di avvio
Comment[ko]=여러분의 시작 애플리케이션을 관리하세요
Comment[ko_KR]=여러분의 시작 애플리케이션을 관리하세요
Comment[lt]=Valdykite savo paleidžiamas programas
Comment[lt_LT]=Valdykite savo paleidžiamas programas
Comment[ms]=Urus aplikasi permulaan anda
Comment[ms_MY]=Urus aplikasi permulaan anda
Comment[nb]=Håndter dine oppstartsprogrammer
Comment[nb_NO]=Håndter dine oppstartsprogrammer
Comment[nds]=Startanwendungen verwalten
Comment[nl]=Beheer uw opstarttoepassingen
Comment[nl_NL]=Beheer uw opstarttoepassingen
Comment[oc]=Gerissètz vòstras aplicacions a l'aviada
Comment[pl]=Zarządzaj programami startowymi
Comment[pl_PL]=Zarządzaj programami startowymi
Comment[pt]=Gerir as suas aplicações de arranque
Comment[pt_BR]=Gerencie seus aplicativos de inicialização
Comment[pt_PT]=Gerir as suas aplicações de arranque
Comment[ro]=Gestionează aplicațiile lansate la pornire
Comment[ro_RO]=Gestionează aplicațiile lansate la pornire
Comment[ru]=Управление автозапускаемыми приложениями
Comment[sk]=Spravovať aplikácie spúšťané automaticky po spustení pc
Comment[sk_SK]=Spravovať aplikácie spúšťané automaticky po spustení pc
Comment[sq]=Menaxhoni programet tuaja të nisjes
Comment[sr]=Управљање почетним програмиам
Comment[sr@Latn]=Управљање почетним програмиам
Comment[sr@ije]=Управљање почетним програмиам
Comment[sr@ijekavianlatin]=Управљање почетним програмиам
Comment[sr@latin]=Управљање почетним програмиам
Comment[sr_RS]=Управљање почетним програмиам
Comment[sr_RS@latin]=Управљање почетним програмиам
Comment[sv]=Hantera dina uppstartsprogram
Comment[th]=จัดการโปรแกรมเริ่มวาระของคุณ
Comment[th_TH]=จัดการโปรแกรมเริ่มวาระของคุณ
Comment[tr]=Başlangıç uygulamalarınızı yönetin
Comment[tr_TR]=Başlangıç uygulamalarınızı yönetin
Comment[uk]=Керування запуском Ваших додатків
Comment[uk_UA]=Керування запуском Ваших додатків
Comment[ur]=کمپیوڑر آغاز کی ایپلی کیشنز کا انتطام کریں
Comment[vi]=Quản lý ứng dụng khởi chạy của bạn
Comment[vi_VN]=Quản lý ứng dụng khởi chạy của bạn
Comment[zh_CN]=管理启动程序
Comment[zh_HK]=管理你的始動應用程式
Comment[zh_TW]=管理您的系統啟動應用程式
Keywords=startup;programs;boot;init;session;
Keywords[am]=የሚጀምሩ: ፕሮግራሞች: boot: ማስጀመሪያ: ክፍለ ጊዜ;
Keywords[ar]=بداية تشغيل، برامج، إقلاع، تهيئة، دورة;
Keywords[ast]=aniciu;programes;arranque;init;sesión;
Keywords[be]=аўтазапуск;праграмы;загрузкі;инициализация;сесія;
Keywords[be@latin]=аўтазапуск;праграмы;загрузкі;инициализация;сесія;
Keywords[be_BY]=аўтазапуск;праграмы;загрузкі;инициализация;сесія;
Keywords[bg]=стартиране;програми;сесия;
Keywords[bg_BG]=стартиране;програми;сесия;
Keywords[bs]=početak;programi;boot;inicijalizacija;sesija;
Keywords[ca]=inici;programes;arrencada;init;sessió;
Keywords[ca@valencia]=inici;programes;arrancada;inicialisar;sessió;
Keywords[ca_ES]=inici;programes;arrencada;init;sessió;
Keywords[ca_ES@valencia]=inici;programes;arrancada;inicialisar;sessió;
Keywords[cs]=zapínání;programy;boot;zahájení;sezení;
Keywords[cs_CZ]=zapínání;programy;boot;zahájení;sezení;
Keywords[cy]=cychwyn;rhaglenni;ymgychwyn;init;sesiwn;
Keywords[da]=opstart;programmer;boot;init;session;
Keywords[da_DK]=opstart;programmer;boot;init;session;
Keywords[de]=Start;Programme;Anwendungen;Startvorgang;Boot;initialisieren;Sitzung;
Keywords[de_CH]=Start;Programme;Anwendungen;Startvorgang;Boot;initialisieren;Sitzung;
Keywords[de_DE]=Start;Programme;Anwendungen;Startvorgang;Boot;initialisieren;Sitzung;
Keywords[el]=έναρξη;προγράμματα;εκκίνηση;συνεδρία;
Keywords[en_GB]=start-up;programs;boot;init;session;
Keywords[es]=inicio;programas;arranque;init;sesión;
Keywords[es_AR]=inicio;programas;arranque;init;sesión;
Keywords[es_CL]=inicio;programas;arranque;init;sesión;
Keywords[es_CO]=inicio;programas;arranque;init;sesión;
Keywords[es_CR]=inicio;programas;arranque;init;sesión;
Keywords[es_DO]=inicio;programas;arranque;init;sesión;
Keywords[es_EC]=inicio;programas;arranque;init;sesión;
Keywords[es_ES]=inicio;programas;arranque;init;sesión;
Keywords[es_MX]=inicio;programas;arranque;init;sesión;
Keywords[es_NI]=inicio;programas;arranque;init;sesión;
Keywords[es_PA]=inicio;programas;arranque;init;sesión;
Keywords[es_PE]=inicio;programas;arranque;init;sesión;
Keywords[es_PR]=inicio;programas;arranque;init;sesión;
Keywords[es_SV]=inicio;programas;arranque;init;sesión;
Keywords[es_UY]=inicio;programas;arranque;init;sesión;
Keywords[es_VE]=inicio;programas;arranque;init;sesión;
Keywords[eu]=abiaraztea;programak;abioa;init;saioa;
Keywords[fa]=راه‌اندازی، برنامه‌ها، بوت، اینیت، نشست;
Keywords[fa_AF]=راه‌اندازی، برنامه‌ها، بوت، اینیت، نشست;
Keywords[fa_IR]=راه‌اندازی، برنامه‌ها، بوت، اینیت، نشست;
Keywords[fi]=käynnistys;ohjelmat;boot;init;istunto;
Keywords[fi_FI]=käynnistys;ohjelmat;boot;init;istunto;
Keywords[fr]=demarrer;programmes;boot;init;session;
Keywords[fr_CA]=demarrer;programmes;boot;init;session;
Keywords[fr_FR]=demarrer;programmes;boot;init;session;
Keywords[fy]=tariedings;applikaasjes;boot;init;sessy;
Keywords[ga]=tosaigh;cláir;bútáil;init;seisiún;
Keywords[gd]=tòiseachadh;prògraman;bùtadh;init;seisean;startup;programs;boot;session;
Keywords[gl]=inicio;programas;arrinque;sesión;
Keywords[gl_ES]=inicio;programas;arrinque;sesión;
Keywords[hr]=pokrenuti;programi;pokretanje računala;pokretanje programa;sesija;
Keywords[hu]=indítás;programok;boot;folyamat;munkamenet;
Keywords[hu_HU]=indítás;programok;boot;folyamat;munkamenet;
Keywords[ia]=lanceamento initial;programmas;lanceamento initial;init;session;
Keywords[id]=startup;program;boot;init;sesi;
Keywords[id_ID]=startup;program;boot;init;sesi;
Keywords[is]=ræsing;forrit;ræsiforrit;init;seta;
Keywords[it]=avvio;programmi;boot;init;sessione;
Keywords[it_CH]=avvio;programmi;boot;init;sessione;
Keywords[it_IT]=avvio;programmi;boot;init;sessione;
Keywords[ja]=スタートアップ、プログラム、ブート、init、セッション;
Keywords[ja_JP]=スタートアップ、プログラム、ブート、init、セッション;
Keywords[ko]=시작;프로그램;시동;초기화;세션;
Keywords[ko_KR]=시작;프로그램;시동;초기화;세션;
Keywords[lo]=ເລີ່ມລະບົບ;ໂປຣແກຣມ;ເລີ່ມລະບົບ;init;session;
Keywords[lo_LA]=ເລີ່ມລະບົບ;ໂປຣແກຣມ;ເລີ່ມລະບົບ;init;session;
Keywords[lt]=pradžioje;programos;paleistis;įkrovimas;seansas;
Keywords[lt_LT]=pradžioje;programos;paleistis;įkrovimas;seansas;
Keywords[lv]=starta;programmas;sāknēšanas;inicializācija;sesija;
Keywords[lv_LV]=starta;programmas;sāknēšanas;inicializācija;sesija;
Keywords[ms]=permulaan;program;but;init;sesi;
Keywords[ms_MY]=permulaan;program;but;init;sesi;
Keywords[nb]=oppstart;programmer;boot;init;sessjon;
Keywords[nb_NO]=oppstart;programmer;boot;init;sessjon;
Keywords[nds]=Autostart;Programme;Boot;Initialisierung;Sitzung;
Keywords[nl]=opstarten;programma's;opstart;init;sessie;
Keywords[nl_NL]=opstarten;programma's;opstart;init;sessie;
Keywords[pa]=ਸਟਾਰਟਅੱਪ;ਕਾਰਜਾਂ;ਬੂਟ;ਇਨਿਟ;ਸ਼ੈਸ਼ਨ;
Keywords[pl]=startup;programy;boot;inicjalizacja;sesja;
Keywords[pl_PL]=startup;programy;boot;inicjalizacja;sesja;
Keywords[pt]=arranque;programas;boot;init;sessão;
Keywords[pt_BR]=inicialização;programas;boot;init;sessão;
Keywords[pt_PT]=arranque;programas;boot;init;sessão;
Keywords[ro]=pornire;programe;boot;init;sesiune;
Keywords[ro_RO]=pornire;programe;boot;init;sesiune;
Keywords[ru]=запуск;программы;загрузка;инициализация;сессия;
Keywords[sk]=spustenie;programy;boot;zavedenie;sedenie;relácia;
Keywords[sk_SK]=spustenie;programy;boot;zavedenie;sedenie;relácia;
Keywords[sl]=začetni;programi;zagon;začenjanje;seja;
Keywords[sl_SI]=začetni;programi;zagon;začenjanje;seja;
Keywords[sq]=nisje;programe;boot;init;seancë;
Keywords[sr]=покретање;програми;учитавање;почетни;сесија;
Keywords[sr@Latn]=покретање;програми;учитавање;почетни;сесија;
Keywords[sr@ije]=покретање;програми;учитавање;почетни;сесија;
Keywords[sr@ijekavianlatin]=покретање;програми;учитавање;почетни;сесија;
Keywords[sr@latin]=покретање;програми;учитавање;почетни;сесија;
Keywords[sr_RS]=покретање;програми;учитавање;почетни;сесија;
Keywords[sr_RS@latin]=покретање;програми;учитавање;почетни;сесија;
Keywords[sv]=uppstart;program;boot;init;session;
Keywords[ta]=தொடக்கம்;நிரல்கள்;துவக்கம்;ஆரம்பம்;அமர்வு;
Keywords[ta_LK]=தொடக்கம்;நிரல்கள்;துவக்கம்;ஆரம்பம்;அமர்வு;
Keywords[tg]=оғози кор;барномаҳо;роҳандозӣ;init;ҷаласа;
Keywords[th]=โปรแกรมเมื่อเริ่มระบบ;โปรแกรม;เริ่มระบบ;การเริ่มต้น;วาระ;
Keywords[th_TH]=โปรแกรมเมื่อเริ่มระบบ;โปรแกรม;เริ่มระบบ;การเริ่มต้น;วาระ;
Keywords[tr]=başlangış;uygulamalar;açılış;başlatma;oturum;
Keywords[tr_TR]=başlangış;uygulamalar;açılış;başlatma;oturum;
Keywords[uk]=запуск;проґрами;завантаження;ініціялізація;сесія;
Keywords[uk_UA]=запуск;проґрами;завантаження;ініціялізація;сесія;
Keywords[ur]=سٹارٹ اپ، آغازیہ، بوٹ، ان اٹ، سیشن، دورانیہ، نشست;
Keywords[vi]=khởi động;chương trình;khởi động;khởi tạo;phiên;
Keywords[vi_VN]=khởi động;chương trình;khởi động;khởi tạo;phiên;
Keywords[zh_CN]=startup;programs;boot;init;session;启动;程序;开机;初始化;会话;
Keywords[zh_HK]=始動;程式;開機;起始;作業階段;
Keywords[zh_TW]=系統啟動;程式;開機;起始;作業階段;
