[Desktop Entry]
Name=Desklets
Comment=Manage your Cinnamon desklets
Icon=/usr/lib/cinnamon-settings/data/icons/desklets.svg
Exec=cinnamon-settings desklets
Type=Application
OnlyShowIn=GNOME;
Categories=Settings;
Name[gd]=Aplaidean-dheasc
Name[ga]=Deiscíní
Name[gl]=Trebellos
Name[tr]=Masaüstü Uygulamacıkları
Name[ta]=திரை நிரல்கள்
Name[pt_BR]=Desklets
Name[de]=Desklets
Name[da]=Skrivebordsprogrammer
Name[eo]=Deskletoj
Name[es]=Desklets
Name[ru]=Десклеты
Name[ro]=Desklet-uri
Name[ms]=Desklet
Name[ja]=デスクレット
Name[ca]=Desklets
Name[cy]=Desgledi
Name[cs]=Desklety
Name[pt]=Desklets
Name[pa]=ਡੈਸਕਲੇਟਸ
Name[en_GB]=Desklets
Name[hr]=Deskleti
Name[zh_TW]=桌面小工具
Name[hu]=Asztalkalmazás
Name[zh_CN]=桌面小工具
Name[pl]=Desklety
Name[uk]=Десклети
Name[vi]=Tiểu trình màn hình
Name[is]=Skjáborðsgræjur
Name[am]=ዴስክሌቶች
Name[it]=Desklet
Name[id]=Desklet
Name[nl]=Desklets
Name[nb]=Skrivebordsprogrammer
Name[fr]=Desklets
Name[fr_CA]=Desklets
Name[sr]=Справице површи
Name[sv]=Desklets
Name[sl]=Apleti namizja
