[Desktop Entry]
Icon=cs-overview
Exec=cinnamon-settings hotcorner
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Hot Corners
Name[am]=ጠርዞች
Name[ar]=أركان ساخنة
Name[be]=Гарачы Кут
Name[be@latin]=Гарачы Кут
Name[be_BY]=Гарачы Кут
Name[bg]=Активни ъгли
Name[bg_BG]=Активни ъгли
Name[bs]=Uglovi ekrana
Name[ca]=Cantonades actives
Name[ca@valencia]=Cantons actius
Name[ca_ES]=Cantonades actives
Name[ca_ES@valencia]=Cantons actius
Name[cs]=Aktivní rohy
Name[cs_CZ]=Aktivní rohy
Name[cy]=Corneli Poeth
Name[da]=Aktive hjørner
Name[da_DK]=Aktive hjørner
Name[de]=Aktive Ecken
Name[de_CH]=Aktive Ecken
Name[de_DE]=Aktive Ecken
Name[el]=Ενεργές γωνίες
Name[es]=Esquinas activas
Name[es_AR]=Esquinas activas
Name[es_CL]=Esquinas activas
Name[es_CO]=Esquinas activas
Name[es_CR]=Esquinas activas
Name[es_DO]=Esquinas activas
Name[es_EC]=Esquinas activas
Name[es_ES]=Esquinas activas
Name[es_MX]=Esquinas activas
Name[es_NI]=Esquinas activas
Name[es_PA]=Esquinas activas
Name[es_PE]=Esquinas activas
Name[es_PR]=Esquinas activas
Name[es_SV]=Esquinas activas
Name[es_UY]=Esquinas activas
Name[es_VE]=Esquinas activas
Name[et]=Abistavad nurgad
Name[et_EE]=Abistavad nurgad
Name[eu]=Izkina beroak
Name[fi]=Toimintokulmat
Name[fi_FI]=Toimintokulmat
Name[fr]=Coins intelligents
Name[fr_CA]=Coins intelligents
Name[fr_FR]=Coins intelligents
Name[ga]=Cúinní teo
Name[gd]=Oiseanan teth
Name[gl]=Cantos activos
Name[gl_ES]=Cantos activos
Name[hr]=Kutovi zaslona
Name[hu]=Érzékeny sarkok
Name[hu_HU]=Érzékeny sarkok
Name[ia]=Angulos calide
Name[id]=Pojok Interaktif
Name[id_ID]=Pojok Interaktif
Name[is]=Virk skjáhorn
Name[it]=Angoli attivi
Name[it_CH]=Angoli attivi
Name[it_IT]=Angoli attivi
Name[ja]=ホットコーナー
Name[ja_JP]=ホットコーナー
Name[ko]=핫코너
Name[ko_KR]=핫코너
Name[lt]=Karštieji kampai
Name[lt_LT]=Karštieji kampai
Name[lv]=Aktīvie stūri
Name[lv_LV]=Aktīvie stūri
Name[ms]=Bucu Panas
Name[ms_MY]=Bucu Panas
Name[nb]=Aktive hjørner
Name[nb_NO]=Aktive hjørner
Name[nds]=Schnellzugriffsecken
Name[nl]=Actieve hoeken
Name[nl_NL]=Actieve hoeken
Name[pl]=Aktywne narożniki
Name[pl_PL]=Aktywne narożniki
Name[pt]=Locais de ativação
Name[pt_BR]=Cantos de Atalho
Name[pt_PT]=Locais de ativação
Name[ro]=Colțuri sensibile
Name[ro_RO]=Colțuri sensibile
Name[ru]=Горячие углы
Name[sk]=Aktívne rohy
Name[sk_SK]=Aktívne rohy
Name[sl]=Vroči koti
Name[sl_SI]=Vroči koti
Name[sq]=Këndet aktivë
Name[sr]=Вруће ивице
Name[sr@Latn]=Вруће ивице
Name[sr@ije]=Вруће ивице
Name[sr@ijekavianlatin]=Вруће ивице
Name[sr@latin]=Вруће ивице
Name[sr_RS]=Вруће ивице
Name[sr_RS@latin]=Вруће ивице
Name[sv]=Aktiva hörn
Name[tg]=Кунҷҳои тез
Name[th]=มุมที่น่าสนใจ
Name[th_TH]=มุมที่น่าสนใจ
Name[tr]=Etkin Köşeler
Name[tr_TR]=Etkin Köşeler
Name[uk]=Гарячі кути
Name[uk_UA]=Гарячі кути
Name[ur]=ہاٹ کونے
Name[vi]=Góc nóng
Name[vi_VN]=Góc nóng
Name[zh_CN]=热区
Name[zh_TW]=熱角
Comment=Manage hotcorner settings
Comment[ar]=إدارة إعدادات الركن الساخن
Comment[be]=Кіраванне наладамі гарачых кутоў
Comment[be@latin]=Кіраванне наладамі гарачых кутоў
Comment[be_BY]=Кіраванне наладамі гарачых кутоў
Comment[bg]=Управление на настройките на активните ъгли
Comment[bg_BG]=Управление на настройките на активните ъгли
Comment[bs]=Upravljaj postavkama uglova ekrana
Comment[ca]=Gestioneu els ajusts de les cantonades actives
Comment[ca@valencia]=Administra configuració de cantons actius
Comment[ca_ES]=Gestioneu els ajusts de les cantonades actives
Comment[ca_ES@valencia]=Administra configuració de cantons actius
Comment[cs]=Nastavení horkých rohů
Comment[cs_CZ]=Nastavení horkých rohů
Comment[cy]=Rheolwch osodiadau y gornel boeth
Comment[da]=Administrér indstillinger for aktive hjørner
Comment[da_DK]=Administrér indstillinger for aktive hjørner
Comment[de]=Einstellungen der aktiven Ecken verwalten
Comment[de_CH]=Einstellungen der aktiven Ecken verwalten
Comment[de_DE]=Einstellungen der aktiven Ecken verwalten
Comment[el]=Ρυθμίστε τις ενεργές γωνίες
Comment[es]=Administrar configuración de esquinas activas
Comment[es_AR]=Administrar configuración de esquinas activas
Comment[es_CL]=Administrar configuración de esquinas activas
Comment[es_CO]=Administrar configuración de esquinas activas
Comment[es_CR]=Administrar configuración de esquinas activas
Comment[es_DO]=Administrar configuración de esquinas activas
Comment[es_EC]=Administrar configuración de esquinas activas
Comment[es_ES]=Administrar configuración de esquinas activas
Comment[es_MX]=Administrar configuración de esquinas activas
Comment[es_NI]=Administrar configuración de esquinas activas
Comment[es_PA]=Administrar configuración de esquinas activas
Comment[es_PE]=Administrar configuración de esquinas activas
Comment[es_PR]=Administrar configuración de esquinas activas
Comment[es_SV]=Administrar configuración de esquinas activas
Comment[es_UY]=Administrar configuración de esquinas activas
Comment[es_VE]=Administrar configuración de esquinas activas
Comment[eu]=Kudeatu izkina beroen ezarpenak
Comment[fi]=Muuta toimintonurkkien asetuksia
Comment[fi_FI]=Muuta toimintonurkkien asetuksia
Comment[fr]=Gérez les paramètres des coins intelligents
Comment[fr_CA]=Gérer les paramètres des coins intelligents
Comment[fr_FR]=Gérez les paramètres des coins intelligents
Comment[gd]=Stiùirich roghainnean a' hotcorner
Comment[gl]=Administra os axustes dos recantos activos
Comment[gl_ES]=Administra os axustes dos recantos activos
Comment[hr]=Upravljajte postavkama kutova zaslona
Comment[hu]=Érzékeny sarok beállítása
Comment[hu_HU]=Érzékeny sarok beállítása
Comment[ia]=Administrar le preferentias de angulo calide
Comment[id]=Atur Pengaturan hotcorner
Comment[id_ID]=Atur Pengaturan hotcorner
Comment[is]=Sýsla með stillingar fyrir virk skjáhorn
Comment[it]=Gestisci impostazioni degli angoli attivi
Comment[it_CH]=Gestisci impostazioni degli angoli attivi
Comment[it_IT]=Gestisci impostazioni degli angoli attivi
Comment[ja]=ホットコーナー設定管理
Comment[ja_JP]=ホットコーナー設定管理
Comment[ko]=핫코너 설정 관리하기
Comment[ko_KR]=핫코너 설정 관리하기
Comment[lo]=ຈັດການການຕັ້ງຄ່າ hotcorner
Comment[lo_LA]=ຈັດການການຕັ້ງຄ່າ hotcorner
Comment[lt]=Tvarkyti karštųjų kampų nustatymus
Comment[lt_LT]=Tvarkyti karštųjų kampų nustatymus
Comment[lv]=Pērvaldīt aktīvo stūru iestatījumus
Comment[lv_LV]=Pērvaldīt aktīvo stūru iestatījumus
Comment[ms]=Mengurus tetapan hotcorner
Comment[ms_MY]=Mengurus tetapan hotcorner
Comment[nb]=Håndter aktive hjørner-innstillinger
Comment[nb_NO]=Håndter aktive hjørner-innstillinger
Comment[nds]=Schnellzugriffsecken-Einstellungen bearbeiten
Comment[nl]=Instellingen voor actieve hoeken beheren
Comment[nl_NL]=Instellingen voor actieve hoeken beheren
Comment[oc]=Gerissètz los paramètres dels caires intelligents
Comment[pl]=Zarządzaj ustawieniami aktywnego narożnika
Comment[pl_PL]=Zarządzaj ustawieniami aktywnego narożnika
Comment[pt]=Gerir as definições dos cantos
Comment[pt_BR]=Gerenciar as definições dos cantos
Comment[pt_PT]=Gerir as definições dos cantos
Comment[ro]=Gestionează setările colțurilor sensibile
Comment[ro_RO]=Gestionează setările colțurilor sensibile
Comment[ru]=Управление настройками горячих углов
Comment[sk]=Spravovať nastavenia aktívnych rohov
Comment[sk_SK]=Spravovať nastavenia aktívnych rohov
Comment[sl]=Upravljajte z nastavitvami hitrih kotov
Comment[sl_SI]=Upravljajte z nastavitvami hitrih kotov
Comment[sq]=Menaxhoni parametrat e këndeve aktivë
Comment[sr]=Управљање подешавањима врућих ивица
Comment[sr@Latn]=Управљање подешавањима врућих ивица
Comment[sr@ije]=Управљање подешавањима врућих ивица
Comment[sr@ijekavianlatin]=Управљање подешавањима врућих ивица
Comment[sr@latin]=Управљање подешавањима врућих ивица
Comment[sr_RS]=Управљање подешавањима врућих ивица
Comment[sr_RS@latin]=Управљање подешавањима врућих ивица
Comment[sv]=Hantera inställningar för aktiva hörn
Comment[tg]=Идоракунии танзимоти кунҷи тезкор
Comment[th]=จัดการการตั้งค่ามุมร้อน
Comment[th_TH]=จัดการการตั้งค่ามุมร้อน
Comment[tr]=Etkin köşe ayarlarını yönet
Comment[tr_TR]=Etkin köşe ayarlarını yönet
Comment[uk]=Керування налаштуваннями гарячих кутів
Comment[uk_UA]=Керування налаштуваннями гарячих кутів
Comment[ur]=ہاٹ کونے کی ترتیبات کا انتظام
Comment[vi]=Quản lý thiết đặt góc nóng
Comment[vi_VN]=Quản lý thiết đặt góc nóng
Comment[zh_CN]=热角设置
Comment[zh_HK]=管理 hotcorner 設定
Comment[zh_TW]=管理熱角設定
Keywords=hotcorner;overview;scale;expo;
Keywords[am]=ጠርዞች: ባጠቃላይ: መጠን: expo;
Keywords[ar]=أركان ساخنة، رؤية عامة، تحجيم، معرض;
Keywords[be]=гарачы кут;агляд;маштабаванне;экспазіцыя;
Keywords[be@latin]=гарачы кут;агляд;маштабаванне;экспазіцыя;
Keywords[be_BY]=гарачы кут;агляд;маштабаванне;экспазіцыя;
Keywords[bg]=Активен ъгъл;преглед;мащаб;експозиция;
Keywords[bg_BG]=Активен ъгъл;преглед;мащаб;експозиция;
Keywords[bs]=ugao ekrana;pregled;promjena veličine;prikaz radnih prostora;
Keywords[ca]=cantonada activa;vista general;escala;expo;
Keywords[ca@valencia]=cantó actiu;vista general;escala;exposició;
Keywords[ca_ES]=cantonada activa;vista general;escala;expo;
Keywords[ca_ES@valencia]=cantó actiu;vista general;escala;exposició;
Keywords[cs]=aktivní roh;přehled;scale;expo;
Keywords[cs_CZ]=aktivní roh;přehled;scale;expo;
Keywords[cy]=cornel poeth;trosolwg;graddfa;dangos;
Keywords[da]=aktiv hjørne;oversigt;skalér;vis arbejdsområder;
Keywords[da_DK]=aktiv hjørne;oversigt;skalér;vis arbejdsområder;
Keywords[de]=Aktive Ecke;Hotcorner;Übersicht;Fensterübersicht;Scale;Schreibtischübersicht;Arbeitsflächenübersicht;Expo;
Keywords[de_CH]=Aktive Ecke;Hotcorner;Übersicht;Fensterübersicht;Scale;Schreibtischübersicht;Arbeitsflächenübersicht;Expo;
Keywords[de_DE]=Aktive Ecke;Hotcorner;Übersicht;Fensterübersicht;Scale;Schreibtischübersicht;Arbeitsflächenübersicht;Expo;
Keywords[el]=ενεργή γωνία;επισκόπηση;κλίμακα;expo;
Keywords[es]=esquina activa;vista general;escala;expo;
Keywords[es_AR]=esquina activa;vista general;escala;expo;
Keywords[es_CL]=esquina activa;vista general;escala;expo;
Keywords[es_CO]=esquina activa;vista general;escala;expo;
Keywords[es_CR]=esquina activa;vista general;escala;expo;
Keywords[es_DO]=esquina activa;vista general;escala;expo;
Keywords[es_EC]=esquina activa;vista general;escala;expo;
Keywords[es_ES]=esquina activa;vista general;escala;expo;
Keywords[es_MX]=esquina activa;vista general;escala;expo;
Keywords[es_NI]=esquina activa;vista general;escala;expo;
Keywords[es_PA]=esquina activa;vista general;escala;expo;
Keywords[es_PE]=esquina activa;vista general;escala;expo;
Keywords[es_PR]=esquina activa;vista general;escala;expo;
Keywords[es_SV]=esquina activa;vista general;escala;expo;
Keywords[es_UY]=esquina activa;vista general;escala;expo;
Keywords[es_VE]=esquina activa;vista general;escala;expo;
Keywords[eu]=izkina beroa;ikuspegi orokorra;eskala;expo;
Keywords[fi]=toimintokulma;yleiskuva;levitysnäkymä;esittelynäkymä;
Keywords[fi_FI]=toimintokulma;yleiskuva;levitysnäkymä;esittelynäkymä;
Keywords[fr]=coins intelligents;vue d'ensemble;échelle;expo;
Keywords[fr_CA]=coins intelligents;vue d'ensemble;échelle;expo;
Keywords[fr_FR]=coins intelligents;vue d'ensemble;échelle;expo;
Keywords[ga]=cúinne te;osamharc;scála;expo;
Keywords[gd]=oisean teth;foir-shealladh;sgèile;hotcorner;overview;scale;expo;
Keywords[gl]=canto activo;vista xeral;escala;exposición;
Keywords[gl_ES]=canto activo;vista xeral;escala;exposición;
Keywords[hr]=kut zaslona;pregled;promjena veličine;prikaz radnih prostora;
Keywords[hu]=érzékeny sarkok;áttekintés;áttekintő;közszemle;
Keywords[hu_HU]=érzékeny sarkok;áttekintés;áttekintő;közszemle;
Keywords[ia]=angulo calide;vista general;scala;exposition;
Keywords[id]=pojok interaktif;overview;skala;ekspo;
Keywords[id_ID]=pojok interaktif;overview;skala;ekspo;
Keywords[is]=virk horn;hotcorner;yfirlit;scale;expo;
Keywords[it]=hotcorner;panoramica;scale;expo;
Keywords[it_CH]=hotcorner;panoramica;scale;expo;
Keywords[it_IT]=hotcorner;panoramica;scale;expo;
Keywords[ja]=ホットコーナー、外観、スケール、expo;
Keywords[ja_JP]=ホットコーナー、外観、スケール、expo;
Keywords[ko]=핫코너;전체 창 보기;스케일;작업 공간 보기;
Keywords[ko_KR]=핫코너;전체 창 보기;스케일;작업 공간 보기;
Keywords[lo]=hotcorner;ພາບລວມ;ປັບຂະໜາດ;expo;
Keywords[lo_LA]=hotcorner;ພາບລວມ;ປັບຂະໜາດ;expo;
Keywords[lt]=karštas kampas;peržiūra;dydžio keitimas;atvaizdavimas;
Keywords[lt_LT]=karštas kampas;peržiūra;dydžio keitimas;atvaizdavimas;
Keywords[ms]=bucu panas;selayang pandang;skala;ekspo;
Keywords[ms_MY]=bucu panas;selayang pandang;skala;ekspo;
Keywords[nb]=aktiv hjørne;overblikk;skaler;expo;
Keywords[nb_NO]=aktiv hjørne;overblikk;skaler;expo;
Keywords[nds]=Hotcornor;Übersicht;Skalierung;EXPO;
Keywords[nl]=actieve hoek;overzicht;schalen;expo;
Keywords[nl_NL]=actieve hoek;overzicht;schalen;expo;
Keywords[pl]=aktywny narożnik;przegląd;skala;ekspozycja;
Keywords[pl_PL]=aktywny narożnik;przegląd;skala;ekspozycja;
Keywords[pt]=local;resumo;escala;expo;
Keywords[pt_BR]=canto de atalho;visão geral;escala;exposição;
Keywords[pt_PT]=local;resumo;escala;expo;
Keywords[ro]=colț sensibil;prezentare generală;scală;expo;
Keywords[ro_RO]=colț sensibil;prezentare generală;scală;expo;
Keywords[ru]=горячий угол;обзор;масштабирование;экспозиция;
Keywords[sk]=aktívny roh;prehľad;mierka;expo;
Keywords[sk_SK]=aktívny roh;prehľad;mierka;expo;
Keywords[sl]=vroči kot;pregled;umeri;razstava;
Keywords[sl_SI]=vroči kot;pregled;umeri;razstava;
Keywords[sr]=врућа ивица;преглед;распростирање;размеравање;
Keywords[sr@Latn]=врућа ивица;преглед;распростирање;размеравање;
Keywords[sr@ije]=врућа ивица;преглед;распростирање;размеравање;
Keywords[sr@ijekavianlatin]=врућа ивица;преглед;распростирање;размеравање;
Keywords[sr@latin]=врућа ивица;преглед;распростирање;размеравање;
Keywords[sr_RS]=врућа ивица;преглед;распростирање;размеравање;
Keywords[sr_RS@latin]=врућа ивица;преглед;распростирање;размеравање;
Keywords[sv]=aktiva hörn;översikt;skala;exponering;
Keywords[tg]=кунҷи тезкор;пешнамоиш;миқёсбандӣ;намоиш;
Keywords[th]=มุมที่น่าสนใจ;ภาพรวม;สัดส่วน;แสดง;
Keywords[th_TH]=มุมที่น่าสนใจ;ภาพรวม;สัดส่วน;แสดง;
Keywords[tr]=Etkin köşe;genel bakış;ölçeklendirme;sergi;
Keywords[tr_TR]=Etkin köşe;genel bakış;ölçeklendirme;sergi;
Keywords[uk]=гарячий кут;огляд;масштабування;експозиція;
Keywords[uk_UA]=гарячий кут;огляд;масштабування;експозиція;
Keywords[ur]=ہاٹ کونے، جائزہ، سکیل، ایکسپو;
Keywords[vi]=góc nóng;toàn cảnh;định tỷ lệ;expo;
Keywords[vi_VN]=góc nóng;toàn cảnh;định tỷ lệ;expo;
Keywords[zh_CN]=hotcorner;overview;scale;expo;热区;概览;缩放;展览;全局;
Keywords[zh_HK]=hotcorner;概觀;比例縮放;expo;
Keywords[zh_TW]=熱角;總覽;視窗管理 (Scale);工作區管理 (Expo);
