[Desktop Entry]
Icon=cs-workspaces
Exec=cinnamon-settings workspaces
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Workspaces
Name[af]=Werkspasies
Name[am]=የ ስራ ቦታዎች
Name[ar]=مساحات العمل
Name[ast]=Estayes de trabayu
Name[ay]=Kawkhanakanti irnaqasi
Name[az]=İş Sahələri
Name[be]=Працоўныя прасторы
Name[bg]=Работни места
Name[br]=Tachennoù-labour
Name[bs]=Radne površine
Name[ca]=Espais de treball
Name[ca@valencia]=Espais de treball
Name[cs]=Pracovní plochy
Name[cy]=Mannau Gwaith
Name[da]=Arbejdsområder
Name[de]=Arbeitsflächen
Name[el]=Χώροι Εργασίας
Name[eo]=Laborspacoj
Name[es]=Áreas de trabajo
Name[es_AR]=Áreas de trabajo
Name[et]=Tööalad
Name[eu]=Laneko areak
Name[fa]=فضاهای کاری
Name[fi]=Työtilat
Name[fr]=Espaces de travail
Name[fr_CA]=Espaces de travail
Name[ga]=Spásanna Oibre
Name[gd]=Rumannan-obrach
Name[gl]=Espazos de traballo
Name[he]=מרחבי עבודה
Name[hi]=कार्यस्थल
Name[hr]=Radni prostori
Name[hu]=Munkaterületek
Name[ia]=Spatios de labor
Name[id]=Area kerja
Name[ie]=Labor-spacies
Name[is]=Vinnusvæði
Name[it]=Aree di lavoro
Name[ja]=ワークスペース
Name[ka]=სამუშაო სივრცეები
Name[kab]=Tallunin n umahil
Name[ko]=작업 공간
Name[ku]=Kargeh
Name[la]=Areae Laboris
Name[lo]=ພື້ນທີ່ເຮັດວຽກ
Name[lt]=Darbo sritys
Name[lv]=Darbvietas
Name[mo]=Медий де лукру
Name[ms]=Ruang Kerja
Name[nb]=Arbeidsområder
Name[nds]=Arbeitsflächen
Name[nl]=Werkbladen
Name[oc]=Espacis de trabalh
Name[om]=Iddoowwan hojii
Name[pa]=ਵਰਕਸਪੇਸਾਂ
Name[pl]=Obszary robocze
Name[pt]=Áreas de trabalho
Name[pt_BR]=Espaços de Trabalho
Name[ro]=Birouri
Name[ru]=Рабочие области
Name[rue]=Роботні
Name[sc]=Àreas de traballu
Name[sk]=Pracovné priestory
Name[sl]=Delovni prostor
Name[sq]=Hapësirat e punës
Name[sr]=Радни простори
Name[sr@ijekavian]=Радни простори
Name[sr@ijekavianlatin]=Радни простори
Name[sr@latin]=Radni prostori
Name[sv]=Arbetsytor
Name[ta]=பணியிடங்கள்
Name[tg]=Фазоҳои корӣ
Name[th]=พื้นที่ทำงาน
Name[tr]=Çalışma Alanları
Name[uk]=Робочі простори
Name[ur]=ورک سپیسز
Name[uz]=Ish joylari
Name[vi]=Vùng làm việc
Name[zh_CN]=工作区
Name[zh_HK]=工作區
Name[zh_TW]=工作區
Comment=Manage workspace preferences
Comment[am]=የ ስራ ቦታ ምርጫዎች አስተዳዳሪ
Comment[ar]=إدارة تفضيلات مساحة العمل
Comment[ast]=Xestionar axustes del espaciu de trabayu
Comment[ay]=Kawkhanti irnaqasi ajlliñanak irpaña
Comment[az]=İş sahəsi seçimlərini idarə et
Comment[be]=Кіраваць наладамі працоўных прастор
Comment[bg]=Управление на настройките за работни плотове
Comment[br]=Merañ gwellvezioù an holl dachennoù-labour
Comment[bs]=Upravljaj postavkama radne površine
Comment[ca]=Gestioneu les preferències dels espais de treball
Comment[ca@valencia]=Gestioneu les preferències dels espais de treball
Comment[cs]=Spravovat nastavení pracovních ploch
Comment[cy]=Rheoli dewisiadau mannau gwaith
Comment[da]=Administrér arbejdsområdeindstillinger
Comment[de]=Arbeitsflächeneinstellungen verwalten
Comment[el]=Ρυθμίστε τους χώρους εργασίας
Comment[eo]=Administri laborspacajn agordojn
Comment[es]=Gestionar las preferencias de las áreas de trabajo
Comment[es_AR]=Gestionar las preferencias de las áreas de trabajo
Comment[et]=Tööala eelistuste haldamine
Comment[eu]=Kudeatu laneko areen hobespenak
Comment[fa]=مدیریت ترجیحات فضای کاری
Comment[fi]=Hallitse työtilojen asetuksia
Comment[fr]=Gérer les préférences de l'espace de travail
Comment[fr_CA]=Gérer les préférences des espaces de travail
Comment[gd]=Stiùirich roghainnean nan rumannan-obrach
Comment[gl]=Administra as preferencias do espazo de traballo
Comment[he]=ניהול העדפות מרחבי עבודה
Comment[hi]=कार्यस्थल सेटिंग्स प्रबंधन
Comment[hr]=Upravljajte osobitostima radnog prostora
Comment[hu]=Munkaterület beállítások kezelése
Comment[ia]=Gerer le preferentias del spatio de labor
Comment[id]=Kelola preferensi ruang kerja
Comment[is]=Sýsla með kjörstillingar vinnusvæða
Comment[it]=Gestisci le preferenze delle aree di lavoro
Comment[ja]=ワークスペースの設定を管理
Comment[kab]=Sefrek ismenyifen n tallunt n umahil
Comment[ko]=작업 공간 설정 관리
Comment[la]=Praepositiones arearum laboris cura
Comment[lt]=Tvarkyti darbo srities nuostatas
Comment[lv]=Pārvaldīt darbvietas preferences
Comment[ms]=Mengurus pilihan ruang kerja
Comment[nb]=Håndter innstillinger for arbeidsområdene
Comment[nds]=Arbeitsflächeneinstellungen verwalten
Comment[nl]=Werkbladvoorkeuren beheren
Comment[oc]=Gerir las preferéncias de l'espaci de trabalh
Comment[pl]=Zarządzaj preferencjami obszarów roboczych
Comment[pt]=Gerir preferências da área de trabalho
Comment[pt_BR]=Gerenciar preferências de espaço de trabalho
Comment[ro]=Gestionează preferințele biroului
Comment[ru]=Настройки рабочих областей
Comment[rue]=Справованя конфіґурації роботні
Comment[sc]=Manìgia preferèntzias de s'àrea de traballu
Comment[sk]=Spravuje predvoľby pracovných priestorov
Comment[sl]=Upravljanje z možnostmi delovnih površin
Comment[sq]=Menaxho parapëlqimet e hapësirave të punës
Comment[sr]=Управљање поставкама радног простора
Comment[sr@ijekavian]=Управљање поставкама радног простора
Comment[sr@ijekavianlatin]=Управљање поставкама радног простора
Comment[sr@latin]=Upravljanje preferencijama radnog prostora
Comment[sv]=Hantera inställningar för arbetsyta
Comment[tg]=Идоракунии хусусиятҳои фазои корӣ
Comment[th]=จัดการค่าปรับแต่งพื้นที่ทำงาน
Comment[tr]=Çalışma alanı seçeneklerini yönet
Comment[uk]=Керувати параметрами робочого простору
Comment[ur]=ورک سپیس کی ترجیحات
Comment[uz]=Ish joyi parametrlarini boshqarish
Comment[vi]=Quản lý tuỳ thích vùng làm việc
Comment[zh_CN]=工作区设置
Comment[zh_HK]=管理工作區喜好設定
Comment[zh_TW]=管理工作區偏好設定
Keywords=workspace;osd;expo;monitor;
Keywords[am]=የ ስራ ቦታ: osd;expo;መመልከቻ;
Keywords[ar]=مساحة العمل، العرض على الشاشة، Expo، شاشة العرض;
Keywords[ast]=espaciu de trabayu;osd;expo;pantalla;
Keywords[ay]=kawkhanti irnaqasi;pantallan uñjaskis;uñachawi;munitura (monitor);
Keywords[az]=İş sahəsi;osd;ekspo;monitor;
Keywords[be]=працоўная прастора;экспазіцыя;манітор;
Keywords[bg]=работно място;osd;експозиция;монитор;
Keywords[bs]=radna površina;osd;expo;monitor;
Keywords[ca]=espai de treball;osd;expo;monitor;
Keywords[ca@valencia]=espai de treball;osd;expo;monitor;
Keywords[cs]=pracovní plocha;osd;přehled;monitor;
Keywords[cy]=man gwaith;osd;expo;monitor;
Keywords[da]=arbejdsområde;osd;vis arbejdsområder;skærm;
Keywords[de]=Arbeitsfläche;OSD;Bildschirmanzeige;Schreibtischübersicht;Arbeitsflächenübersicht;Expo;Monitor;
Keywords[el]=χώρος εργασίας;osd;expo;οθόνη;
Keywords[eo]=laborspaco;montri laborspacan nomon;ekspo;ekrano;
Keywords[es]=área de trabajo;visualización en pantalla;exposición;monitor;
Keywords[es_AR]=área de trabajo;visualización en pantalla;exposición;monitor;
Keywords[et]=tööala;osd;expo;kuvar;
Keywords[eu]=laneko area;osd;expo;monitorea;
Keywords[fa]=فضای کاری، osd، expo، نمایشگر;
Keywords[fi]=työtila;osd;esittelynäkymä;näyttö;
Keywords[fr]=espace de travail;osd;expo;moniteur;
Keywords[fr_CA]=espace de travail;osd;expo;moniteur;
Keywords[ga]=spás oibre;osd;expo;monatóir;
Keywords[gd]=rum-obrach;osd;expo;sealladair;workspace;monatair;
Keywords[gl]=espazo de traballo;osd;exposición;monitor;
Keywords[he]=מרחב עבודה;osd;אקספו;צג;
Keywords[hi]=कार्यस्थल;ऑनस्क्रीन डिस्प्ले;एक्सपो;मॉनिटर;
Keywords[hr]=radni prostor;osd;prikaz radnih prostora;zaslon računala;
Keywords[hu]=munkaterület;képernyőkijelzés;osd;közszemle;képernyő;
Keywords[ia]=spatio de labor;osd;expo;monitor;
Keywords[id]=ruang kerja;osd;expo;monitor;
Keywords[is]=vinnusvæði;stjórntexti;expo;skjár;
Keywords[it]=area di lavoro;osd;expo;monitor;
Keywords[ja]=workspace;osd;expo;monitor;ワークスペース;画面表示;エキスポ;エクスポ;モニター;
Keywords[kab]=tallunt n umahil;osd;expo;agdil;
Keywords[ko]=작업 공간;osd;작업 공간 표시;살펴보기;
Keywords[ms]=ruang kerja;osd;expo;monitor;
Keywords[nb]=arbeidsområde;osd;expo;skjerm;
Keywords[nds]=Arbeitsbereich;OSD;Expo;Monitor;
Keywords[nl]=werkblad;osd;expo;beeldscherm;
Keywords[om]=iddoo hojii;osd;***;torgii;
Keywords[pl]=Obszar roboczy;OSD;expo;monitor;
Keywords[pt]=área de trabalho;osd;expo;monitor;
Keywords[pt_BR]=espaço de trabalho;notificações na tela;modo expo;monitor;
Keywords[ro]=birou;osd;expo;monitor;
Keywords[ru]=рабочая область;экранная индикация;expo;монитор;
Keywords[rue]=роботня;osd;expo;монітор;
Keywords[sc]=àrea de traballu;osd;expo;ischermu;
Keywords[sk]=pracovný priestor;osd;expo;monitor;
Keywords[sl]=delovni prostor;osd;razstava;monitor;
Keywords[sr]=радни простор;простирање;осд;екран;
Keywords[sr@ijekavian]=радни простор;простирање;осд;екран;
Keywords[sr@ijekavianlatin]=радни простор;простирање;осд;екран;
Keywords[sr@latin]=radni prostor;prikaz na ekranu (OSD);pregled radnih prostora;monitor;
Keywords[sv]=arbetsyta;OSD;exponering;monitor;
Keywords[ta]=பணியிடம்;மேல் திரை காட்சி;கண்காட்சி;திரையகம்;
Keywords[tg]=фазои корӣ;osd;намоиш;монитор;
Keywords[th]=พื้นที่ทำงาน;osd;expo;หน้าจอ;
Keywords[tr]=çalışma alanı;osd;sergi;ekran;
Keywords[uk]=робочий простір;екранне сповіщення;експозиція;монітор;
Keywords[ur]=ورک سپیس، آن-سکرین ڈسپلے، OSD، ایکسپو، expo، مانیٹر;
Keywords[uz]=ish joyi;osd;ekspo;monitor;
Keywords[vi]=vùng làm việc;osd;expo;màn hình;
Keywords[zh_CN]=workspace;osd;expo;monitor;工作区;屏幕显示;显示器;展现;
Keywords[zh_HK]=工作區;OSD;expo;顯示器;
Keywords[zh_TW]=工作區;螢幕顯示 (OSD);工作區管理 (Expo);顯示器;
