[Desktop Entry]
Icon=cs-actions
Exec=cinnamon-settings actions
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Actions
Name[am]=ተግባሮች
Name[ar]=الإجراءات
Name[ast]=Aiciones
Name[ay]=Lurawinaka
Name[az]=Eyləmlər
Name[be]=Дзеянні
Name[bg]=Действия
Name[ca]=Accions
Name[ca@valencia]=Accions
Name[cs]=Akce
Name[cy]=Gweithredoedd
Name[da]=Handlinger
Name[de]=Aktionen
Name[el]=Ενέργειες
Name[eo]=Agoj
Name[es]=Acciones
Name[es_AR]=Acciones
Name[et]=Tegevused
Name[eu]=Ekintzak
Name[fa]=اقدامات
Name[fi]=Toiminnot
Name[gd]=Gnìomhan
Name[gl]=Accións
Name[he]=פעולות
Name[hi]=कार्य
Name[hr]=Radnje
Name[hu]=Műveletek
Name[ia]=Actiones
Name[id]=Tindakan
Name[ie]=Actiones
Name[is]=Aðgerðir
Name[it]=Azioni
Name[ja]=アクション
Name[ka]=ქმედებები
Name[kab]=Tigawin
Name[ko]=동작
Name[ku]=Tevger
Name[la]=Actiones
Name[lt]=Veiksmai
Name[nb]=Handlinger
Name[nds]=Aktionen
Name[nl]=Acties
Name[oc]=Accions
Name[pl]=Działania
Name[pt]=Ações
Name[pt_BR]=Ações
Name[ro]=Acțiuni
Name[ru]=Действия
Name[rue]=Дїї
Name[sc]=Atziones
Name[sk]=Akcie
Name[sl]=Dejanja
Name[sq]=Veprimet
Name[sr]=Радње
Name[sr@ijekavian]=Радње
Name[sr@ijekavianlatin]=Радње
Name[sr@latin]=Radnje
Name[sv]=Åtgärder
Name[th]=การทำงาน
Name[tr]=Aksiyonlar
Name[uk]=Дії
Name[ur]=عمل
Name[uz]=Amallar
Name[vi]=Hành động
Name[zh_CN]=动作
Name[zh_HK]=動作
Name[zh_TW]=動作
Comment=Manage your actions
Comment[ast]=Xestiona les tos aiciones
Comment[be]=Кіраваць вашымі дзеяннямі
Comment[ca]=Gestioneu les accions
Comment[ca@valencia]=Gestioneu les accions
Comment[cs]=Spravovat své akce
Comment[cy]=Rheoli eich gweithredoedd
Comment[da]=Håndtér dine handlinger
Comment[de]=Ihre Aktionen verwalten
Comment[el]=Διαχείριση των ενεργειών σας
Comment[eo]=Administri viajn agojn
Comment[es]=Gestione sus acciones
Comment[es_AR]=Gestione sus acciones
Comment[et]=Hallake oma tegevusi
Comment[eu]=Kudeatu zure ekintzak
Comment[fa]=اعمال خود را مدیریت کنید
Comment[fi]=Hallinnoi toimintoja
Comment[fr]=Gérez vos actions
Comment[fr_CA]=Gérer vos actions
Comment[he]=ניהול פעולות
Comment[hi]=अपने कार्यों को प्रबंधित करें
Comment[hu]=Műveletek kezelése
Comment[ia]=Gerer tu actiones
Comment[id]=Kelola tindakan Anda
Comment[is]=Sýslaðu með aðgerðirnar þínar
Comment[it]=Gestisci le tue azioni
Comment[ja]=アクションを管理します
Comment[ko]=동작 관리
Comment[nb]=Administrer handlingene dine
Comment[nl]=Uw acties beheren
Comment[pl]=Zarządzaj działaniami
Comment[pt]=Gerir as suas ações
Comment[pt_BR]=Gerencie suas ações
Comment[ro]=Gestionați-vă acțiunile
Comment[ru]=Управляйте своими действиями
Comment[sk]=Spravujte vaše akcie
Comment[sl]=Upravljajte svoja dejanja
Comment[sv]=Hantera dina åtgärder
Comment[tr]=Aksiyonları yönetin
Comment[uk]=Керуйте своїми діями
Comment[uz]=Harakatlaringizni boshqaring
Comment[vi]=Quản lý hành động của bạn
Comment[zh_CN]=管理你的动作
Comment[zh_TW]=管理您的動作
Keywords=action;
Keywords[ast]=aición;
Keywords[be]=дзеянне;
Keywords[ca]=acció;
Keywords[ca@valencia]=acció;
Keywords[cs]=akce;
Keywords[cy]=gweithred;
Keywords[da]=handling;
Keywords[de]=Aktion;
Keywords[el]=ενέργεια;
Keywords[eo]=ago;
Keywords[es]=acción;
Keywords[es_AR]=acción;
Keywords[et]=toiming;
Keywords[eu]=ekintza;
Keywords[fa]=عملیات;
Keywords[fi]=toiminto;
Keywords[he]=פעולה;
Keywords[hi]=कार्य;
Keywords[hu]=művelet;
Keywords[id]=tindakan;
Keywords[is]=aðgerð;
Keywords[it]=azione;
Keywords[ja]=action;アクション;
Keywords[ko]=동작;
Keywords[nb]=handling;
Keywords[nl]=actie;
Keywords[oc]=accion;
Keywords[pl]=działanie;
Keywords[pt]=ação;
Keywords[pt_BR]=ação;
Keywords[ro]=acţiune;
Keywords[ru]=действие;
Keywords[sk]=akcia;
Keywords[sl]=dejanje;
Keywords[sv]=åtgärd;
Keywords[tr]=aksiyon;
Keywords[uk]=дія;
Keywords[uz]=harakat;
Keywords[vi]=hành động;
Keywords[zh_CN]=动作;
Keywords[zh_TW]=動作;
