[Desktop Entry]
Icon=cs-thunderbolt
Exec=cinnamon-settings thunderbolt
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Thunderbolt™
Comment=Manage Thunderbolt™ and USB4 devices
Keywords=thunderbolt;usb;docking;station;hub;dock;
