[Desktop Entry]
Icon=cs-desktop
Exec=cinnamon-settings desktop
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Desktop
Name[af]=Werkskerm
Name[am]=ዴስክቶፕ
Name[ar]=سطح المكتب
Name[ast]=Escritoriu
Name[ay]=Iskrituryu
Name[az]=İş qoyacağı
Name[be]=Працоўны стол
Name[bg]=Работен плот
Name[br]=Burev
Name[ca]=Escriptori
Name[ca@valencia]=Escriptori
Name[cs]=Pracovní plocha
Name[cy]=Bwrdd Gwaith
Name[da]=Skrivebord
Name[de]=Schreibtisch
Name[el]=Επιφάνεια εργασίας
Name[eo]=Labortablo
Name[es]=Escritorio
Name[es_AR]=Escritorio
Name[et]=Töölaud
Name[eu]=Mahaigaina
Name[fa]=میزکار
Name[fi]=Pöytä
Name[fil]=Pook ng Likha
Name[fr]=Bureau
Name[fr_CA]=Bureau
Name[ga]=Deasc
Name[gl]=Escritorio
Name[he]=שולחן־עבודה
Name[hi]=डेस्कटॉप
Name[hr]=Radna površina
Name[hu]=Asztal
Name[ia]=Scriptorio
Name[ie]=Pupitre
Name[is]=Skjáborð
Name[ja]=デスクトップ
Name[ka]=სამუშაო მაგიდა
Name[kab]=Tanarit
Name[ko]=바탕화면
Name[ku]=Sermasê
Name[la]=Scriptorium
Name[lo]=ພື້ນທີ່ໜ້າຈໍ
Name[lt]=Darbalaukis
Name[lv]=Darbvirsma
Name[mo]=Спациу де лукру
Name[nb]=Skrivebord
Name[nl]=Bureaublad
Name[oc]=Burèu
Name[pa]=ਡੈਸਕਟਾਪ
Name[pl]=Pulpit
Name[pt]=Ambiente de trabalho
Name[pt_BR]=Área de Trabalho
Name[ro]=Birou
Name[ru]=Рабочий стол
Name[rue]=Роботный стул
Name[sc]=Iscrivania
Name[sk]=Pracovná plocha
Name[sl]=Namizje
Name[sq]=Desktopi
Name[sr]=Радна површ
Name[sr@ijekavian]=Радна површ
Name[sr@ijekavianlatin]=Радна површ
Name[sr@latin]=Radna površina
Name[sv]=Skrivbord
Name[ta]=பணிமேடை
Name[tg]=Мизи корӣ
Name[th]=พื้นโต๊ะ
Name[tl]=Pook ng likha
Name[tr]=Masaüstü
Name[uk]=Робочий стіл
Name[ur]=ڈیسک ٹاپ
Name[uz]=Ish stoli
Name[vi]=Màn hình chính
Name[zh_CN]=桌面
Name[zh_HK]=桌面
Name[zh_TW]=桌面
Comment=Manage your desktop icons
Comment[af]=Bestuur u werkskermikone
Comment[am]=የ ዴስክቶፕ ምልክቶች አስተዳዳሪ
Comment[ar]=إدارة أيقونات سطح المكتب
Comment[ast]=Xestiona los tos iconos d'escritoriu
Comment[ay]=Iskrituryu ukan saltanak irpaña
Comment[az]=İş qoyacağınızın simgələrini yönəldin
Comment[be]=Наладзіць значкі на працоўным стале
Comment[bg]=Управлявайте Вашите иконки на работния плот
Comment[bs]=Upravljajte vašim desktop ikonama
Comment[ca]=Gestioneu les vostres icones d'escriptori
Comment[ca@valencia]=Gestioneu les vostres icones d'escriptori
Comment[cs]=Správa ikon na ploše
Comment[cy]=Rheoli eiconau eich bwrdd gwaith
Comment[da]=Administrér dine skrivebordsikoner
Comment[de]=Schreibtischsymbole verwalten
Comment[el]=Διαχείριση εικονιδίων επιφάνειας εργασίας
Comment[eo]=Administri viajn labortablajn piktogramojn
Comment[es]=Gestionar los iconos del escritorio
Comment[es_AR]=Gestionar los iconos del escritorio
Comment[et]=Halda oma töölaua ikoone
Comment[eu]=Kudeatu mahaigaineko ikonoak
Comment[fa]=نماد‌های میزکارتان را مدیریت کنید
Comment[fi]=Hallitse pöydän kuvakkeita
Comment[fr]=Gérez vos icônes de bureaux
Comment[fr_CA]=Gérer vos icônes du bureau
Comment[gd]=Stiùirich ìomhaigheagan an deasga agad
Comment[gl]=Xestiona as iconas do escritorio
Comment[he]=ניהול הסמלי שולחן־העבודה
Comment[hi]=डेस्कटॉप आइकन प्रबंधन
Comment[hr]=Upravljajte svojim ikonama radne površine
Comment[hu]=Asztal ikonjainak kezelése
Comment[ia]=Gerer tu icones del scriptorio
Comment[id]=Atur icon di desktop
Comment[is]=Sýsla með táknmyndir á skjáborði
Comment[it]=Gestione delle icone sul desktop
Comment[ja]=デスクトップアイコンを管理します
Comment[kab]=Sefrek taykunin n tnarit-inek
Comment[ko]=바탕화면 아이콘을 관리합니다
Comment[la]=Icones scriptorii cura
Comment[lo]=ຈັດການໄອຄອນພື້ນທີ່ໜ້າຈໍຂອງເຈົ້າ
Comment[lt]=Tvarkyti darbalaukio piktogramas
Comment[lv]=Pārvaldīt savas darbvirsmas ikonas
Comment[ms]=Mengurus ikon desktop anda
Comment[nb]=Behandle skrivebordsikonene
Comment[nds]=Desktopsymbole bearbeiten
Comment[nl]=Uw bureaubladpictogrammen beheren
Comment[oc]=Gerir las icònas de vòstre burèu
Comment[pl]=Zarządzaj swoimi ikonami pulpitu
Comment[pt]=Gerir ícones do ambiente de trabalho
Comment[pt_BR]=Gerenciar seus ícones da área de trabalho
Comment[ro]=Gestionează pictogramele de pe birou
Comment[ru]=Настроить значки на рабочем столе
Comment[rue]=Справовати обрисы на роботному столови
Comment[sc]=Manìgia sas iconas de s'iscrivania
Comment[sk]=Spravuje vaše ikony pracovnej plochy
Comment[sl]=Upravljajte z ikonami namizja
Comment[sq]=Menaxhoni ikonat e desktopit tuaj
Comment[sr]=Управљање иконицама радне површи
Comment[sr@ijekavian]=Управљање иконицама радне површи
Comment[sr@ijekavianlatin]=Управљање иконицама радне површи
Comment[sr@latin]=Upravljanje ikonama na radnoj površini
Comment[sv]=Hantera dina skrivbordsikoner
Comment[tg]=Идоракунии нишонаҳои мизи корӣ
Comment[th]=จัดการไอคอนพื้นโต๊ะของคุณ
Comment[tr]=Masaüstü simgelerini yönet
Comment[uk]=Керування піктограмами робочого столу
Comment[ur]=ڈیسک ٹاپ کے آئکن کا انتظام کریں
Comment[uz]=Ish stolidagi rasmchalarni boshqarish
Comment[vi]=Quản lý các biểu tượng trên màn hình chính
Comment[zh_CN]=管理桌面图标
Comment[zh_HK]=管理你的桌面圖示
Comment[zh_TW]=管理您的桌面圖示
Keywords=desktop;home;button;trash;
Keywords[af]=werkskerm;tuis;knop;vullis;
Keywords[am]=ዴስክቶፕ : ቤት : ቁልፍ : ቆሻሻ;
Keywords[ar]=سطح المكتب، المجلد الرئيسي، الزر، سلة المهملات;
Keywords[ast]=escritoriu;home;botón;basura;
Keywords[ay]=iskrituryu;qalltawi;wutuna;t'una uchawi;
Keywords[az]=iş qoyacağı;ev;düymə;çöplük;
Keywords[be]=працоўны стол;хатняя;кнопка;сметніца;
Keywords[bg]=Работен плот;домашна папка;бутон;кошче;
Keywords[bs]=desktop;naslovna;dugme;smeće;
Keywords[ca]=escriptori;casa;botó;paperera;
Keywords[ca@valencia]=escriptori;casa;botó;paperera;
Keywords[cs]=plocha;domů;tlačítko;koš;
Keywords[cy]=bwrdd gwaith;cartref;botwm;sbwriel;
Keywords[da]=skrivebord;hjem;knap;papirkurv;
Keywords[de]=Arbeitsfläche;Schreibtisch;Persönlicher Ordner;Knopf;Papierkorb;Müll;desktop;home;button;trash;
Keywords[el]=επιφάνεια εργασίας;αρχικός φάκελος;κουμπί;απορρίματα;
Keywords[eo]=labortablo;hejmo;butono;rubujo;
Keywords[es]=escritorio;inicio;botón;papelera;
Keywords[es_AR]=escritorio;inicio;botón;papelera;
Keywords[et]=töölaud;kodu nupp;prügikast;
Keywords[eu]=mahaigaina;etxea;botoia;zakarrontzia;
Keywords[fa]=میزکار، خانه، دکمه، زباله‌دان;
Keywords[fi]=työpöytä;koti;näppäin;roskakori;
Keywords[fr]=bureau;dossier personnel;bouton;corbeille;poubelle;
Keywords[fr_CA]=bureau;index;bouton;corbeille;
Keywords[ga]=deasc;baile;cnaipe;bruscar;
Keywords[gd]=desktop;home;button;trash;dhachaigh;putan;sgudal;
Keywords[gl]=escritorio;cartafol persoal;botón;lixo;
Keywords[he]=שולחן־עבודה;בית;לחצן;סל מחזור;
Keywords[hi]=डेस्कटॉप;होम;बटन;ट्रैश;
Keywords[hr]=radna površina;osobna mapa;tipka;smeće;
Keywords[hu]=asztal;saját mappa;gomb;kuka;
Keywords[ia]=scriptorio;initio;button;immunditia;
Keywords[id]=desktop;rumah;tombol;tong sampah;
Keywords[is]=skjáborð;heimamappa;hnappur;rusl;
Keywords[it]=desktop;home;pulsante;cestino;
Keywords[ja]=desktop;home;button;trash;デスクトップ;ホーム;ボタン;ゴミ箱;
Keywords[kab]=tanarit;akaram udmawan;taqeffalt;taqerṭilt;iḍumman;
Keywords[ko]=바탕화면;홈;버튼;휴지통;
Keywords[lo]=ພື້ນທີ່ໜ້າຈໍ;ໜ້າທຳອິດ;ປູ່ມ;ຖັງຂີ້ເຫຍື້ອ;
Keywords[lt]=darbalaukis;namai;mygtukas;šiukšlinė;
Keywords[lv]=darbvirsma;mājas;poga;miskaste;
Keywords[ms]=desktop;rumah;butang;tong sampah;
Keywords[nb]=skrivebord;hjem;knapp;søppel;
Keywords[nds]=Desktop;Home;Knopf;Papierkorb;
Keywords[nl]=bureaublad;persoonlijke map;knop;prullenbak;
Keywords[om]=foddaa;ka'uumsa;qabduu;korboo balfaa;
Keywords[pa]=ਡੈਸਕਟਾੱਪ;ਘਰ;ਬਟਨ;ਕੂੜੇਦਾਨ;
Keywords[pl]=pulpit;home;przycisk;kosz;
Keywords[pt]=ambiente de trabalho;pasta pessoal;botão;lixo;
Keywords[pt_BR]=área de trabalho;pasta pessoal;botão;lixeira;
Keywords[ro]=birou;dosar personal;buton;gunoi;
Keywords[ru]=рабочий стол;домашняя;кнопка;корзина;
Keywords[rue]=роботный стул;домув;клопка;смітник;
Keywords[sc]=iscrivania;domo;butone;àliga;
Keywords[sk]=plocha;domov;tlačidlo;kôš;
Keywords[sl]=namizje;dom;gumb;smeti;
Keywords[sq]=desktop;shtëpi;buton;kosh;
Keywords[sr]=радна површ;лично;дугме;смеће;
Keywords[sr@ijekavian]=радна површ;лично;дугме;смеће;
Keywords[sr@ijekavianlatin]=радна површ;лично;дугме;смеће;
Keywords[sr@latin]=radna površina;lični direktorijum;dugme;kanta za smeće;
Keywords[sv]=skrivbord;hem;knapp;papperskorg;
Keywords[ta]=பணிமேடை;முகப்பு;பொத்தான்;குப்பை;
Keywords[tg]=мизи корӣ;асосӣ;тугма;сабад;
Keywords[th]=พื้นโต๊ะ;บ้าน;ปุ่ม;ถังขยะ;
Keywords[tr]=masaüstü;ev;düğme;çöp;
Keywords[uk]=робочий стіл;домашній каталог;кнопка;смітник;
Keywords[ur]=ڈیسک ٹاپ، ھوم، بٹن، ردی;
Keywords[uz]=ish stoli;asosiy jild;tugma;chiqindilar qutisi;
Keywords[vi]=màn hình chinh;thư mục chính;nút;thùng rác;
Keywords[zh_CN]=desktop;home;button;trash;桌面;按钮;回收站;主目录;
Keywords[zh_HK]=桌面;家目錄;按鈕;垃圾桶;
Keywords[zh_TW]=桌面;家屋;按鍵;回收筒;
