[Desktop Entry]
Icon=cs-sound
Exec=cinnamon-settings sound
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Sound
Name[am]=ድምጽ
Name[ar]=الصوت
Name[ast]=Soníu
Name[az]=Səs
Name[be]=Гук
Name[bg]=Звук
Name[bs]=Zvuk
Name[ca]=Àudio
Name[ca@valencia]=Àudio
Name[cs]=Zvuk
Name[cy]=Sain
Name[da]=Lyd
Name[de]=Klang
Name[el]=Ήχος
Name[eo]=Sono
Name[es]=Sonido
Name[es_AR]=Sonido
Name[et]=Heli
Name[eu]=Soinua
Name[fa]=صدا
Name[fi]=Ääni
Name[fr]=Son
Name[fr_CA]=Son
Name[fy]=Lûd
Name[ga]=Fuaim
Name[gd]=Fuaim
Name[gl]=Son
Name[he]=שמע
Name[hr]=Zvuk
Name[hu]=Hang
Name[hy]=Ձայն
Name[ia]=Sono
Name[id]=Suara
Name[ie]=Son
Name[is]=Hljóð
Name[it]=Audio
Name[ja]=サウンド
Name[kab]=Imesli
Name[kk]=Дыбыс
Name[ko]=소리
Name[ku]=Deng
Name[lo]=ສຽງ
Name[lt]=Garsas
Name[lv]=Skaņa
Name[ms]=Bunyi
Name[nb]=Lyd
Name[nds]=Klang
Name[nl]=Geluid
Name[oc]=Son
Name[pa]=ਆਵਾਜ਼
Name[pl]=Dźwięk
Name[pt]=Som
Name[pt_BR]=Som
Name[ro]=Sunet
Name[ru]=Звук
Name[sc]=Sonu
Name[sk]=Zvuk
Name[sl]=Zvok
Name[sq]=Zëri
Name[sr]=Звук
Name[sr@ijekavianlatin]=Звук
Name[sr@latin]=Звук
Name[sv]=Ljud
Name[ta]=ஒலி
Name[tg]=Садо
Name[th]=เสียง
Name[tr]=Ses
Name[uk]=Звук
Name[ur]=آواز
Name[uz]=Товуш
Name[vi]=Âm thanh
Name[zh_CN]=声音
Name[zh_HK]=聲音
Name[zh_TW]=音效
Comment=Manage sound settings
Comment[am]=የ ድምፅ ማሰናጃ አስተዳዳሪ
Comment[ar]=إدارة إعدادات الصوت
Comment[az]=Səs quruluşlarını yönəlt
Comment[bg]=Управление настройките на звука
Comment[ca]=Gestioneu els ajusts del so
Comment[ca@valencia]=Gestioneu els ajusts del so
Comment[cs]=Spravovat nastavení zvuku
Comment[cy]=Rheoli'r gosodiadau sain
Comment[da]=Håndtér lydindstillinger
Comment[de]=Klangeinstellungen verwalten
Comment[el]=Διαχείριση ρυθμίσεων ήχου
Comment[es]=Gestionar opciones de sonido
Comment[es_AR]=Gestionar opciones de sonido
Comment[eu]=Kudeatu soinuaren ezarpenak
Comment[fi]=Ääniasetusten hallinta
Comment[fr]=Gérer les paramètres audio
Comment[fr_CA]=Gérer les paramètres audio
Comment[he]=נהל הגדרות קול
Comment[hr]=Upravljanje postvkama zvuka
Comment[hu]=Hangbeállítások
Comment[ia]=Gerer le configurationes del sono
Comment[is]=Sýsla með hljóðstillingar
Comment[it]=Regolare le configurazioni del suono
Comment[kab]=Sefrek iɣewwaren n imesli
Comment[ko]=소리 설정 관리
Comment[lt]=Tvarkyti garso nustatymus
Comment[nl]=Geluidinstellingen beheren
Comment[pl]=Zarządzaj ustawieniami dźwięku
Comment[pt]=Gerir definições de som
Comment[pt_BR]=Gerenciar configuração de áudio
Comment[ro]=Gestionează setările de sunet
Comment[ru]=Управление настройками звука
Comment[sc]=Manìgia cunfiguratziones de sonu
Comment[sk]=Spravuje nastavenia zvuku
Comment[sl]=Upravljaj nastavitve zvoka
Comment[sr]=Управљајте подешавањима звука
Comment[sr@ijekavianlatin]=Управљајте подешавањима звука
Comment[sr@latin]=Управљајте подешавањима звука
Comment[sv]=Hantera ljudinställningar
Comment[th]=จัดการการตั้งค่าเสียง
Comment[tr]=Ses ayarlarını yönet
Comment[uk]=Керування налаштуваннями звуку
Comment[ur]=آواز کی ترتیبات انتظام
Comment[uz]=Товуш параметрларини бошқариш
Comment[zh_CN]=管理声音设置
Comment[zh_HK]=管理聲音設定
Comment[zh_TW]=管理音效設定
Keywords=sound;media;music;speakers;audio;
Keywords[am]=ድምፅ: መገናኛ: ሙዚቃ: ስፒከር: ድምፅ;
Keywords[ar]=الصوت، الوسائط، الموسيقى، مكبرات الصوت، الصوت;
Keywords[az]=səs;medya;çalğı;səsverənlər;səs;
Keywords[bg]=звук;медия;музика;говорители;аудио;
Keywords[ca]=so;mitjans;música;altaveus;àudio;
Keywords[ca@valencia]=so;mitjans;música;altaveus;àudio;
Keywords[cs]=zvuk;média;hudba;reproduktory;audio;
Keywords[cy]=sain;cyfrwng;cerddoriaeth;uchelseinyddion;sain;
Keywords[da]=lyd;medier;musik;højtalere;audio;
Keywords[de]=Klang;Sound;Audio;Ton;Medien;Musik;Lautsprecher;
Keywords[el]=ήχος;πολυμέσα;μουσική;ηχεία;
Keywords[es]=sonido;medios;música;altavoces;audio;
Keywords[es_AR]=sonido;medios;música;altavoces;audio;
Keywords[eu]=soinua;multimedia;musika;bozgorailuak;audioa;
Keywords[fi]=ääni;äänentoisto;media;musiikki;kaiutin;kaiuttimet;kuulokkeet;audio;sound;music;speakers;
Keywords[fr]=son;média;musique;haut-parleurs;audio;
Keywords[fr_CA]=son;média;musique;haut-parleurs;audio;
Keywords[he]=קול;מדיה;מוזיקה;רמקולים;אודיו;
Keywords[hr]=zvuk;medij;glazba;zvučnici;ton;
Keywords[hu]=sound;media;music;speakers;audio;hang;média;zene;hangszórók;
Keywords[ia]=sono;medios;musica;altoparlatores;audio;
Keywords[is]=hljóð;margmiðlun;tónlist;hátalarar;hljóðkerfi;
Keywords[it]=suono;media;musica;altoparlanti;audio;
Keywords[kab]=imesli;amidya;aẓawan;imsmeɣren n imesli;ameslaw;
Keywords[ko]=소리;미디어;음악;스피커;오디오;
Keywords[lt]=garsas;medija;muzika;garsiakalbiai;audio;
Keywords[nb]=lyd;media;musikk;høyttalere;audio;
Keywords[nl]=geluid;media;muziek;luidsprekers;audio;
Keywords[pl]=dźwięk;media;muzyka;głośniki;audio;
Keywords[pt]=som;media;música;altifalantes;áudio;
Keywords[pt_BR]=som;mídia;música;alto-falantes;áudio;
Keywords[ro]=sunet;media;muzică;boxe;audio;
Keywords[ru]=звук;медиа;музыка;колонки;аудио;
Keywords[sk]=zvuk;médiá;hudba;reproduktory;audio;
Keywords[sr]=звук;музика;звучници;аудио;
Keywords[sr@ijekavianlatin]=звук;музика;звучници;аудио;
Keywords[sr@latin]=звук;музика;звучници;аудио;
Keywords[sv]=ljud;media;musik;högtalare;ljud;
Keywords[th]=เสียง;สื่อ;เพลง;ลำโพง;
Keywords[tr]=ses;ortam;müzik;hoparlör;çalma;
Keywords[uk]=звук;медіа;музика;гучномовці;аудіо;
Keywords[ur]=آواز، ساؤنڈ، میڈیا، سپیکر، آڈیو، موسیقی;
Keywords[uz]=товуш;медиа;мусиқа;колонкалар;аудио;
Keywords[zh_CN]=声音、多媒体、音乐、扬声器、音频;
Keywords[zh_HK]=sound;media;music;speakers;audio;聲音;媒體;音樂;喇叭;音訊;
Keywords[zh_TW]=音效、媒體、音樂、揚聲器、音訊;
