[Desktop Entry]
Name=Account details
Comment=Change your user preferences and password
Icon=cs-user
Exec=cinnamon-settings user
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name[gd]=Mion-chunntasan a' chunntais
Name[gl]=Detalles da conta
Name[tr]=Hesap Ayrıntıları
Name[ta]=கணக்கு விவரங்கள்
Name[pt_BR]=Detalhes da conta
Name[de]=Kontodetails
Name[da]=Kontodetaljer
Name[zh_CN]=帐户详情
Name[et]=Konto üksikasjad
Name[es]=Detalles de cuenta
Name[ru]=Детали учётной записи
Name[ro]=Detalii cont
Name[ms]=Perincian akaun
Name[ja]=アカウントの詳細
Name[om]=Eenyummeessaa baldhaa
Name[ca]=Detalls del compte
Name[cs]=Podrobnosti o účtu
Name[pt]=Detalhes da conta
Name[pl]=Szczegóły konta
Name[hr]=Pojedinosti računa
Name[hu]=Fiók részletek
Name[en_GB]=Account details
Name[uk]=Дані облікового запису
Name[vi]=Chi tiết tài khoản
Name[is]=Nánar um notanda
Name[it]=Dettagli dell'account
Name[id]=Detail akun
Name[nl]=Accountdetails
Name[fr]=Détails du compte
Name[fr_CA]=Détails du compte
Name[sr]=Детаљи о налогу
Name[sv]=Kontodetaljer
Name[sl]=Podrobnosti računa
