[Desktop Entry]
Icon=cs-notifications
Exec=cinnamon-settings notifications
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Notifications
Name[af]=Kennisgewings
Name[am]=ማስታወቂያዎች
Name[ar]=الإشعارات
Name[be]=Паведамленні
Name[be@latin]=Паведамленні
Name[bg]=Известявания
Name[bn]=বিজ্ঞপ্তিসমূহ
Name[bn_IN]=বিজ্ঞপ্তিসমূহ
Name[bs]=Obavještenja
Name[ca]=Notificacions
Name[ca@valencia]=Notificacions
Name[cs]=Oznámení
Name[cy]=Hysbysiadau
Name[da]=Beskeder
Name[de]=Benachrichtigungen
Name[el]=Ειδοποιήσεις
Name[eo]=Atentigoj
Name[es]=Notificaciones
Name[es_AR]=Notificaciones
Name[et]=Teavitused
Name[eu]=Jakinarazpenak
Name[fa]=هشدارها
Name[fi]=Ilmoitukset
Name[fr_CA]=Avis
Name[ga]=Fógraí
Name[gd]=Fiosan
Name[gl]=Notificacións
Name[he]=התרעות
Name[hr]=Obavijesti
Name[hu]=Értesítések
Name[id]=Pemberitahuan
Name[is]=Tilkynningar
Name[it]=Notifiche
Name[ja]=通知メッセージ
Name[km]=ការ​ជូនដំណឹង​
Name[lt]=Pranešimai
Name[lv]=Paziņojumi
Name[ml]=അറിയിപ്പുകൾ
Name[mr]=सूचना
Name[ms]=Pemberitahuan
Name[nb]=Varslinger
Name[nds]=Benachrichtigungen
Name[ne]=सूचना
Name[nl]=Meldingen
Name[oc]=Notificacions
Name[pa]=ਸੂਚਨਾਵਾਂ
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[pt_BR]=Notificações
Name[ro]=Notificări
Name[ru]=Уведомления
Name[sk]=Oznámenia
Name[sl]=Obvestila
Name[sq]=Njoftime
Name[sr]=Обавештења
Name[sr@ijekavianlatin]=Обавештења
Name[sr@latin]=Obaveštenja
Name[sv]=Notifieringar
Name[ta]=அறிவிப்புகள்
Name[te]=గమనింపులు
Name[tg]=Огоҳиҳо
Name[th]=การแจ้งเตือน
Name[tr]=Bildirimler
Name[uk]=Повідомлення
Name[vi]=Thông báo
Name[zh_CN]=通知
Name[zh_HK]=通知
Name[zh_TW]=通知
Comment=Notification preferences
