[Desktop Entry]
Icon=cs-desklets
Exec=cinnamon-settings desklets
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Desklets
Name[am]=ዴስክሌቶች
Name[ar]=معلّقات
Name[be]=Дэсклеты
Name[be@latin]=Дэсклеты
Name[bg]=Десклети
Name[bg_BG]=Десклети
Name[bs]=Deskleti
Name[cs]=Desklety
Name[cs_CZ]=Desklety
Name[cy]=Desgledi
Name[da]=Skrivebordsprogrammer
Name[da_DK]=Skrivebordsprogrammer
Name[el]=Εφαρμογές Οθόνης
Name[eo]=Deskletoj
Name[eu]=Desklet-ak
Name[fa]=دسک‌لت
Name[fa_AF]=دسک‌لت
Name[fa_IR]=دسک‌لت
Name[fi]=Työpöytäsovelmat
Name[fi_FI]=Työpöytäsovelmat
Name[ga]=Deiscíní
Name[gl]=Trebellos
Name[gl_ES]=Trebellos
Name[hr]=Deskleti
Name[hu]=Asztalkalmazások
Name[hu_HU]=Asztalkalmazások
Name[id]=Desklet
Name[id_ID]=Desklet
Name[is]=Skjáborðsgræjur
Name[it]=Desklet
Name[ja]=デスクレット
Name[ja_JP]=デスクレット
Name[ko]=데스크릿
Name[ko_KR]=데스크릿
Name[lo]=ເດສເລັດ
Name[lo_LA]=ເດສເລັດ
Name[lt]=Ekrano programėlės
Name[lt_LT]=Ekrano programėlės
Name[lv]=Sīkrīki
Name[lv_LV]=Sīkrīki
Name[ms]=Desklet
Name[ms_MY]=Desklet
Name[nb]=Skrivebordsprogrammer
Name[nb_NO]=Skrivebordsprogrammer
Name[nl]=Minitoepassingen
Name[nl_NL]=Minitoepassingen
Name[pa]=ਡੈਸਕਲੇਟਸ
Name[pl]=Desklety
Name[pl_PL]=Desklety
Name[ro]=Deskleturi
Name[ro_RO]=Deskleturi
Name[ru]=Десклеты
Name[sk]=Desklety
Name[sk_SK]=Desklety
Name[sl]=Apleti namizja
Name[sl_SI]=Apleti namizja
Name[sq]=Desklet-ët
Name[sr]=Справице
Name[sr@Latn]=Справице
Name[sr@ije]=Справице
Name[sr@ijekavian]=Справице
Name[sr@ijekavianlatin]=Справице
Name[sr@latin]=Справице
Name[sv]=Skrivbordsprogram
Name[ta]=திரை நிரல்கள்
Name[ta_LK]=திரை நிரல்கள்
Name[tg]=Барномаҳои мизи корӣ
Name[th]=เดสก์เล็ต
Name[th_TH]=เดสก์เล็ต
Name[tr]=Masaüstü Uygulamacıkları
Name[uk]=Десклети
Name[uk_UA]=Десклети
Name[ur]=ڈیسکلیٹ
Name[ur_PK]=ڈیسکلیٹ
Name[uz]=Десклетлар
Name[uz@cyrillic]=Десклетлар
Name[vi]=Tiểu trình màn hình
Name[vi_VN]=Tiểu trình màn hình
Name[zh]=桌面小工具
Name[zh_CN]=桌面小工具
Name[zh_HK]=桌面小工具
Name[zh_TW]=桌面小程式
Comment=Manage your Cinnamon desklets
Comment[am]=የሲናሞን ዴስክሌትስ አስተዳዳሪ
Comment[ar]=إدارة معلقات سطح المكتب
Comment[ast]=Alministra los tos desklets de Cinnamon
Comment[be]=Кiраванне дэсклетамi Cinnamon
Comment[be@latin]=Кiраванне дэсклетамi Cinnamon
Comment[bg]=Управлявайте Вашите Cinnamon десклети
Comment[bg_BG]=Управлявайте Вашите Cinnamon десклети
Comment[bs]=Upravljajte vašim Cinnamon deskletima
Comment[ca]=Administrar desklets de Cinnamon
Comment[ca@valencia]=Administreu els desklets de Cinnamon
Comment[ca_ES@valencia]=Administreu els desklets de Cinnamon
Comment[cs]=Správa Cinnamon deskletů
Comment[cs_CZ]=Správa Cinnamon deskletů
Comment[cy]=Rheolwch eich desglenni Cinnamon chi
Comment[da]=Administrér dine Cinnamon-skrivebordsprogrammer
Comment[da_DK]=Administrér dine Cinnamon-skrivebordsprogrammer
Comment[de]=Cinnamon-Desklets verwalten
Comment[de_CH]=Cinnamon-Desklets verwalten
Comment[de_DE]=Cinnamon-Desklets verwalten
Comment[el]=Διαχείριση των εφαρμογών οθόνης του Cinnamon
Comment[es]=Administrar desklets de Cinnamon
Comment[es_419]=Administrar desklets de Cinnamon
Comment[es_AR]=Administrar desklets de Cinnamon
Comment[es_CL]=Administrar desklets de Cinnamon
Comment[es_CO]=Administrar desklets de Cinnamon
Comment[es_CR]=Administrar desklets de Cinnamon
Comment[es_DO]=Administrar desklets de Cinnamon
Comment[es_EC]=Administrar desklets de Cinnamon
Comment[es_ES]=Administrar desklets de Cinnamon
Comment[es_GT]=Administrar desklets de Cinnamon
Comment[es_HN]=Administrar desklets de Cinnamon
Comment[es_MX]=Administrar desklets de Cinnamon
Comment[es_NI]=Administrar desklets de Cinnamon
Comment[es_PA]=Administrar desklets de Cinnamon
Comment[es_PE]=Administrar desklets de Cinnamon
Comment[es_PR]=Administrar desklets de Cinnamon
Comment[es_SV]=Administrar desklets de Cinnamon
Comment[es_US]=Administrar desklets de Cinnamon
Comment[es_UY]=Administrar desklets de Cinnamon
Comment[es_VE]=Administrar desklets de Cinnamon
Comment[eu]=Kudeatu zure Cinnamon desklet-ak
Comment[fa]=دسک‌لت‌های سینمون‌تان را مدیریت کنید
Comment[fa_AF]=دسک‌لت‌های سینمون‌تان را مدیریت کنید
Comment[fa_IR]=دسک‌لت‌های سینمون‌تان را مدیریت کنید
Comment[fi]=Hallitse Cinnamon-sovelmia
Comment[fi_FI]=Hallitse Cinnamon-sovelmia
Comment[fr]=Gérez vos desklets Cinnamon
Comment[fr_CA]=Gérer vos desklets Cinnamon
Comment[gd]=Stiùirich na desklets Cinnamon agad
Comment[gl]=Administra os trebellos do Cinnamon
Comment[gl_ES]=Administra os trebellos do Cinnamon
Comment[hr]=Upravljajte Cinnamon deskletima
Comment[hu]=Cinnamon asztalkalmazások kezelése
Comment[hu_HU]=Cinnamon asztalkalmazások kezelése
Comment[ia]=Administrar tu desklets de Cinnamon
Comment[id]=Atur desklet Cinnamon
Comment[id_ID]=Atur desklet Cinnamon
Comment[is]=Sýsla með stillingar fyrir Cinnamon skjáborðsgræjur (desklets)
Comment[it]=Gestione dei desklets di Cinnamon
Comment[ja]=Cinnamon デスクレット管理
Comment[ja_JP]=Cinnamon デスクレット管理
Comment[ko]=시나몬 데스크릿을 관리합니다
Comment[ko_KR]=시나몬 데스크릿을 관리합니다
Comment[lo]=ຈັດການເດສເລັດ Cinnamon ຂອງເຈົ້າ
Comment[lo_LA]=ຈັດການເດສເລັດ Cinnamon ຂອງເຈົ້າ
Comment[lt]=Tvarkyti Cinnamon ekrano programėles
Comment[lt_LT]=Tvarkyti Cinnamon ekrano programėles
Comment[lv]=Pārvaldīt savus Cinnamon sīkrīkus
Comment[lv_LV]=Pārvaldīt savus Cinnamon sīkrīkus
Comment[ms]=Mengurus desklet Cinnamon anda
Comment[ms_MY]=Mengurus desklet Cinnamon anda
Comment[nb]=Behandle Cinnamon-skrivebordsprogrammene dine
Comment[nb_NO]=Behandle Cinnamon-skrivebordsprogrammene dine
Comment[nds]=Cinnamon Desklets bearbeiten
Comment[nl]=Beheer uw minitoepassingen voor Cinnamon
Comment[nl_NL]=Beheer uw minitoepassingen voor Cinnamon
Comment[pl]=Zarządaj swoimi deskletami Cinnamona
Comment[pl_PL]=Zarządaj swoimi deskletami Cinnamona
Comment[pt]=Gerir os seus desklets do Cinnamon
Comment[pt_BR]=Gerenciar os desklets do Cinnamon
Comment[pt_PT]=Gerir os seus desklets do Cinnamon
Comment[ro]=Gestionează deskleturile Cinnamon
Comment[ro_RO]=Gestionează deskleturile Cinnamon
Comment[ru]=Управление десклетами Cinnamon
Comment[sk]=Spravovať desklety Cinnamon
Comment[sk_SK]=Spravovať desklety Cinnamon
Comment[sl]=Upravljajte z apleti namizja Cinnamona
Comment[sl_SI]=Upravljajte z apleti namizja Cinnamona
Comment[sq]=Menaxhoni desklet-ët tuaj në Cinnamon
Comment[sr]=Управљање справицама Циметове површи
Comment[sr@Latn]=Управљање справицама Циметове површи
Comment[sr@ije]=Управљање справицама Циметове површи
Comment[sr@ijekavian]=Управљање справицама Циметове површи
Comment[sr@ijekavianlatin]=Управљање справицама Циметове површи
Comment[sr@latin]=Управљање справицама Циметове површи
Comment[sv]=Hantera Cinnamons skrivbordsprogram
Comment[tg]=Идоракунии барномаҳои мизи кории Cinnamon
Comment[th]=จัดการเดสก์เล็ต Cinnamon ของคุณ
Comment[th_TH]=จัดการเดสก์เล็ต Cinnamon ของคุณ
Comment[tr]=Cinnamon masaüstü uygulamacıklarını yönet
Comment[uk]=Керування десклетами Cinnamon
Comment[uk_UA]=Керування десклетами Cinnamon
Comment[ur]=اپنے سنامون کے ڈیسکلیٹ کا انتظام کریں
Comment[ur_PK]=اپنے سنامون کے ڈیسکلیٹ کا انتظام کریں
Comment[uz]=Синнамон десклетларни бошқариш
Comment[uz@cyrillic]=Синнамон десклетларни бошқариш
Comment[vi]=Quản lý tiểu dụng màn hình Cinnamon
Comment[vi_VN]=Quản lý tiểu dụng màn hình Cinnamon
Comment[zh]=管理桌面小工具
Comment[zh_CN]=管理桌面小工具
Comment[zh_HK]=管理你的 Cinnamon 桌面小工具
Comment[zh_TW]=管理您的 Cinnamon 桌面小程式
Keywords=desklet;desktop;slideshow;
Keywords[am]=ዴስክሌት : ዴስክቶፕ : ተንሸራታች : ማሳያ;
Keywords[ar]=معلقات، سطح مكتب، عرش شرائح;
Keywords[be]=дэсклет;працоўны стол;слайд-шоў;
Keywords[be@latin]=дэсклет;працоўны стол;слайд-шоў;
Keywords[bg]=десклет;работен плот;слайдшоу;
Keywords[bg_BG]=десклет;работен плот;слайдшоу;
Keywords[bs]=desklet;desktop;prezentacijski slajdovi;
Keywords[ca]=desklet;escriptori;mostra de diapositives;
Keywords[ca@valencia]=desklet;escriptori;presentació de diapositives;
Keywords[ca_ES@valencia]=desklet;escriptori;presentació de diapositives;
Keywords[cs]=desklet;plocha;prezentace;
Keywords[cs_CZ]=desklet;plocha;prezentace;
Keywords[cy]=desgled;bwrdd gwaith;sioesleidiau;
Keywords[da]=skrivebordsprogram;skrivebord;slideshow;
Keywords[da_DK]=skrivebordsprogram;skrivebord;slideshow;
Keywords[de]=Desklet;Arbeitsfläche;Desktop;Schreibtisch;Diaschau;Diashow;
Keywords[de_CH]=Desklet;Arbeitsfläche;Desktop;Schreibtisch;Diaschau;Diashow;
Keywords[de_DE]=Desklet;Arbeitsfläche;Desktop;Schreibtisch;Diaschau;Diashow;
Keywords[el]=εφαρμογές οθόνης;επιφάνεια εργασίας;προβολή διαφανειών;
Keywords[es]=desklet;escritorio;presentación de diapositivas;
Keywords[es_419]=desklet;escritorio;presentación de diapositivas;
Keywords[es_AR]=desklet;escritorio;presentación de diapositivas;
Keywords[es_CL]=desklet;escritorio;presentación de diapositivas;
Keywords[es_CO]=desklet;escritorio;presentación de diapositivas;
Keywords[es_CR]=desklet;escritorio;presentación de diapositivas;
Keywords[es_DO]=desklet;escritorio;presentación de diapositivas;
Keywords[es_EC]=desklet;escritorio;presentación de diapositivas;
Keywords[es_ES]=desklet;escritorio;presentación de diapositivas;
Keywords[es_GT]=desklet;escritorio;presentación de diapositivas;
Keywords[es_HN]=desklet;escritorio;presentación de diapositivas;
Keywords[es_MX]=desklet;escritorio;presentación de diapositivas;
Keywords[es_NI]=desklet;escritorio;presentación de diapositivas;
Keywords[es_PA]=desklet;escritorio;presentación de diapositivas;
Keywords[es_PE]=desklet;escritorio;presentación de diapositivas;
Keywords[es_PR]=desklet;escritorio;presentación de diapositivas;
Keywords[es_SV]=desklet;escritorio;presentación de diapositivas;
Keywords[es_US]=desklet;escritorio;presentación de diapositivas;
Keywords[es_UY]=desklet;escritorio;presentación de diapositivas;
Keywords[es_VE]=desklet;escritorio;presentación de diapositivas;
Keywords[eu]=desklet;mahaigaina;diaporama;
Keywords[fa]=دسک‌لت، دسکتاپ، اسلایدشو;
Keywords[fa_AF]=دسک‌لت، دسکتاپ، اسلایدشو;
Keywords[fa_IR]=دسک‌لت، دسکتاپ، اسلایدشو;
Keywords[fi]=sovelma;työpöytä;diaesitys;
Keywords[fi_FI]=sovelma;työpöytä;diaesitys;
Keywords[fr]=desklet;bureau;diaporama;
Keywords[fr_CA]=desklet;bureau;diaporama;
Keywords[ga]=deiscín;deasc;taispeántas sleamhnán;
Keywords[gd]=desklet;desktop;slideshow;taisbeanadh-shleamhnagan;
Keywords[gl]=trebello;escritorio;diaporama;
Keywords[gl_ES]=trebello;escritorio;diaporama;
Keywords[hr]=desklet;radna površina;promjena pozadine;
Keywords[hu]=asztalkalmazás;asztal;diavetítés;
Keywords[hu_HU]=asztalkalmazás;asztal;diavetítés;
Keywords[ia]=desklet;scriptorio;presentation de photos;
Keywords[is]=skjáborðsgræja;skjáborð;skyggnusýning;
Keywords[ja]=デスクレット、デスクトップ、スライドショー;
Keywords[ja_JP]=デスクレット、デスクトップ、スライドショー;
Keywords[ko]=데스크릿;바탕화면;슬라이드쇼;
Keywords[ko_KR]=데스크릿;바탕화면;슬라이드쇼;
Keywords[lo]=ເດສເລັດ;ພື້ນທີ່ໜ້າຈໍ;ສະໄລໂຊວ໌;
Keywords[lo_LA]=ເດສເລັດ;ພື້ນທີ່ໜ້າຈໍ;ສະໄລໂຊວ໌;
Keywords[lt]=programėlė;darbalaukis;skaidrių rodymas;
Keywords[lt_LT]=programėlė;darbalaukis;skaidrių rodymas;
Keywords[lv]=sīkrīks;darbvirsma;slīdrāde;
Keywords[lv_LV]=sīkrīks;darbvirsma;slīdrāde;
Keywords[ms]=desklet;desktop;paparan slaid;
Keywords[ms_MY]=desklet;desktop;paparan slaid;
Keywords[nb]=skrivebordsprogram;skrivebord;bildefremvisning;
Keywords[nb_NO]=skrivebordsprogram;skrivebord;bildefremvisning;
Keywords[nds]=Desklet;Desktop;Diashow;
Keywords[nl]=minitoepassing;bureaublad;diapresentatie;
Keywords[nl_NL]=minitoepassing;bureaublad;diapresentatie;
Keywords[pa]=ਡੈਸਕਲੇਟ;ਡੈਸਕਟਾੱਪ;ਸਲਾਇਡਸ਼ੋ;
Keywords[pl]=desklet;pulpit;pokaz slajdów;
Keywords[pl_PL]=desklet;pulpit;pokaz slajdów;
Keywords[pt]=desklet;ambiente de trabalho;apresentação;
Keywords[pt_BR]=desklet;área de trabalho;apresentação de slides;
Keywords[pt_PT]=desklet;ambiente de trabalho;apresentação;
Keywords[ru]=десклет;рабочий стол;слайд-шоу;
Keywords[sk]=desklet;plocha;prezentácia;
Keywords[sk_SK]=desklet;plocha;prezentácia;
Keywords[sl]=aplet namizja;namizje;predstavitev;
Keywords[sl_SI]=aplet namizja;namizje;predstavitev;
Keywords[sq]=desklet;desktop;prezantim;
Keywords[sr]=справица;површ;покретни приказ;
Keywords[sr@Latn]=справица;површ;покретни приказ;
Keywords[sr@ije]=справица;површ;покретни приказ;
Keywords[sr@ijekavian]=справица;површ;покретни приказ;
Keywords[sr@ijekavianlatin]=справица;површ;покретни приказ;
Keywords[sr@latin]=справица;површ;покретни приказ;
Keywords[sv]=desklet;skrivbord;bildspel;
Keywords[ta]=திரை நிரல்;பணிமேடை;சறுக்குகாட்சி;
Keywords[ta_LK]=திரை நிரல்;பணிமேடை;சறுக்குகாட்சி;
Keywords[tg]=барномаи мизи корӣ;мизи корӣ;намоиши слайдҳо;
Keywords[th]=เดสก์เล็ต;พื้นโต๊ะ;การนำเสนอภาพนิ่ง;
Keywords[th_TH]=เดสก์เล็ต;พื้นโต๊ะ;การนำเสนอภาพนิ่ง;
Keywords[tr]=masaüstü uygulamacığı;masaüstü;slayt gösterisi;
Keywords[uk]=десклет;стільниця;слайд-шоу;
Keywords[uk_UA]=десклет;стільниця;слайд-шоу;
Keywords[ur]=ڈیسکلیٹ، ڈیسک ٹاپ، سلائیدشو;
Keywords[ur_PK]=ڈیسکلیٹ، ڈیسک ٹاپ، سلائیدشو;
Keywords[uz]=десклет;иш столи;слайд-шоу;
Keywords[uz@cyrillic]=десклет;иш столи;слайд-шоу;
Keywords[vi]=tiểu trình màn hình làm việc;màn hình làm việc;trình chiếu;
Keywords[vi_VN]=tiểu trình màn hình làm việc;màn hình làm việc;trình chiếu;
Keywords[zh]=桌面小工具、桌面、背景切换;
Keywords[zh_CN]=桌面小工具、桌面、背景切换;
Keywords[zh_HK]=桌面小工具;桌面;幻燈片;
Keywords[zh_TW]=桌面小程式;桌面;幻燈片放映;
