[Desktop Entry]
Icon=cs-fonts
Exec=cinnamon-settings fonts
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Fonts
Name[am]=ፊደሎች
Name[ar]=الخطوط
Name[ast]=Fontes
Name[be]=Шрыфты
Name[be@latin]=Шрыфты
Name[bg]=Шрифтове
Name[bg_BG]=Шрифтове
Name[bs]=Fontovi
Name[ca]=Lletres
Name[ca@valencia]=Tipus de lletra
Name[ca_ES@valencia]=Tipus de lletra
Name[cs]=Písma
Name[cs_CZ]=Písma
Name[cy]=Ffontiau
Name[da]=Skrifttyper
Name[da_DK]=Skrifttyper
Name[de]=Schriften
Name[de_DE]=Schriften
Name[el]=Γραμματοσειρές
Name[eo]=Tiparoj
Name[es]=Tipos de letra
Name[es_AR]=Tipos de letra
Name[es_CL]=Tipos de letra
Name[es_CO]=Tipos de letra
Name[es_CR]=Tipos de letra
Name[es_DO]=Tipos de letra
Name[es_EC]=Tipos de letra
Name[es_ES]=Tipos de letra
Name[es_GT]=Tipos de letra
Name[es_HN]=Tipos de letra
Name[es_MX]=Tipos de letra
Name[es_NI]=Tipos de letra
Name[es_PA]=Tipos de letra
Name[es_PE]=Tipos de letra
Name[es_PR]=Tipos de letra
Name[es_SV]=Tipos de letra
Name[es_US]=Tipos de letra
Name[es_UY]=Tipos de letra
Name[es_VE]=Tipos de letra
Name[et]=Kirjatüübid
Name[eu]=Letra-tipoak
Name[fi]=Fontit
Name[fi_FI]=Fontit
Name[fil]=Pagmumulan ng
Name[fr]=Polices de caractères
Name[fr_CA]=Polices de caractères
Name[ga]=Clófhoirne
Name[gd]=Cruthan-clò
Name[gl]=Tipos de letra
Name[gl_ES]=Tipos de letra
Name[hr]=Slova
Name[hu]=Betűtípusok
Name[hu_HU]=Betűtípusok
Name[id]=Huruf
Name[id_ID]=Huruf
Name[is]=Letur
Name[it]=Caratteri
Name[ja]=フォント
Name[ja_JP]=フォント
Name[ko]=글꼴
Name[ko_KR]=글꼴
Name[lo]=ຟອນ
Name[lo_LA]=ຟອນ
Name[lt]=Šriftai
Name[lt_LT]=Šriftai
Name[lv]=Fonti
Name[lv_LV]=Fonti
Name[ms]=Fon
Name[ms_MY]=Fon
Name[nb]=Skrifttyper
Name[nb_NO]=Skrifttyper
Name[nds]=Schriftarten
Name[nl]=Lettertypen
Name[nl_NL]=Lettertypen
Name[oc]=Poliças
Name[pa]=ਫੋਂਟ
Name[pl]=Czcionki
Name[pl_PL]=Czcionki
Name[pt]=Tipo de letra
Name[pt_BR]=Fontes
Name[pt_PT]=Tipo de letra
Name[ro]=Fonturi
Name[ro_RO]=Fonturi
Name[ru]=Шрифты
Name[sk]=Písmo
Name[sk_SK]=Písmo
Name[sl]=Pisave
Name[sl_SI]=Pisave
Name[sq]=Shkronjat
Name[sr]=Фонтови
Name[sr@Latn]=Фонтови
Name[sr@ije]=Фонтови
Name[sr@ijekavianlatin]=Фонтови
Name[sr@latin]=Фонтови
Name[sv]=Teckensnitt
Name[ta]=எழுத்துருக்கள்
Name[ta_LK]=எழுத்துருக்கள்
Name[tg]=Шрифтҳо
Name[th]=แบบอักษร
Name[th_TH]=แบบอักษร
Name[tr]=Yazı Tipleri
Name[uk]=Шрифти
Name[uk_UA]=Шрифти
Name[ur]=فونٹ
Name[ur_PK]=فونٹ
Name[vi]=Phông chữ
Name[vi_VN]=Phông chữ
Name[zh_CN]=字体
Name[zh_HK]=字型
Name[zh_TW]=字型
Comment=Configure system fonts
Comment[am]=የ ስርአቱን ፊደል ማሰናጃ
Comment[ar]=إعداد خطوط النظام
Comment[ast]=Configura les fontes del sistema
Comment[be]=Наладзіць сістэмныя шрыфты
Comment[be@latin]=Наладзіць сістэмныя шрыфты
Comment[bg]=Конфигуриране на системни шрифтове
Comment[bg_BG]=Конфигуриране на системни шрифтове
Comment[bs]=Konfigurišite sistemke fontove
Comment[ca]=Administrar fonts del sistema
Comment[ca@valencia]=Administra fonts del sistema
Comment[ca_ES@valencia]=Administra fonts del sistema
Comment[cs]=Nastavení systémových písem
Comment[cs_CZ]=Nastavení systémových písem
Comment[cy]=Ffurfweddwch ffontiau'r system
Comment[da]=Konfigurér systemskrifttyper
Comment[da_DK]=Konfigurér systemskrifttyper
Comment[de]=Systemschriften konfigurieren
Comment[de_DE]=Systemschriften konfigurieren
Comment[el]=Ρύθμιση γραμματοσειράς συστήματος
Comment[es]=Administrar fuentes del sistema
Comment[es_AR]=Administrar fuentes del sistema
Comment[es_CL]=Administrar fuentes del sistema
Comment[es_CO]=Administrar fuentes del sistema
Comment[es_CR]=Administrar fuentes del sistema
Comment[es_DO]=Administrar fuentes del sistema
Comment[es_EC]=Administrar fuentes del sistema
Comment[es_ES]=Administrar fuentes del sistema
Comment[es_GT]=Administrar fuentes del sistema
Comment[es_HN]=Administrar fuentes del sistema
Comment[es_MX]=Administrar fuentes del sistema
Comment[es_NI]=Administrar fuentes del sistema
Comment[es_PA]=Administrar fuentes del sistema
Comment[es_PE]=Administrar fuentes del sistema
Comment[es_PR]=Administrar fuentes del sistema
Comment[es_SV]=Administrar fuentes del sistema
Comment[es_US]=Administrar fuentes del sistema
Comment[es_UY]=Administrar fuentes del sistema
Comment[es_VE]=Administrar fuentes del sistema
Comment[eu]=Konfiguratu sistemaren letra-tipoak
Comment[fi]=Hallitse järjestelmän fontteja
Comment[fi_FI]=Hallitse järjestelmän fontteja
Comment[fr]=Configurer les polices du système
Comment[fr_CA]=Configurer les polices du système
Comment[gd]=Rèitich cruthan-clò an t-siostaim
Comment[gl]=Configura os tipos de letra do sistema
Comment[gl_ES]=Configura os tipos de letra do sistema
Comment[hr]=Prilagodite slova sustava
Comment[hu]=Rendszer betűtípusok beállítása
Comment[hu_HU]=Rendszer betűtípusok beállítása
Comment[id]=Pengaturan font
Comment[id_ID]=Pengaturan font
Comment[is]=Stilla kerfisletur
Comment[it]=Configura il carattere di sistema
Comment[ja]=システムフォントの管理
Comment[ja_JP]=システムフォントの管理
Comment[ko]=시스템 글꼴 설정
Comment[ko_KR]=시스템 글꼴 설정
Comment[lo]=ປັບແຕ່ງຟອນຂອງລະບົບ
Comment[lo_LA]=ປັບແຕ່ງຟອນຂອງລະບົບ
Comment[lt]=Nustatyti sistemos šriftus
Comment[lt_LT]=Nustatyti sistemos šriftus
Comment[lv]=Konfigurēt sistēmas fontus
Comment[lv_LV]=Konfigurēt sistēmas fontus
Comment[ms]=Konfigur sistem Font
Comment[ms_MY]=Konfigur sistem Font
Comment[nb]=Konfigurer systemskrifter
Comment[nb_NO]=Konfigurer systemskrifter
Comment[nds]=Systemschriftarten konfigurieren
Comment[nl]=Systeemlettertypen instellen
Comment[nl_NL]=Systeemlettertypen instellen
Comment[pl]=Konfiguracja czcionek systemu
Comment[pl_PL]=Konfiguracja czcionek systemu
Comment[pt]=Configurar fontes do sistema
Comment[pt_BR]=Configurar fontes do sistema
Comment[pt_PT]=Configurar fontes do sistema
Comment[ro]=Configurează fonturile sistemului
Comment[ro_RO]=Configurează fonturile sistemului
Comment[ru]=Настроить системные шрифты
Comment[sk]=Nastaviť systémové písma
Comment[sk_SK]=Nastaviť systémové písma
Comment[sl]=Nastavljajte sistemske pisave
Comment[sl_SI]=Nastavljajte sistemske pisave
Comment[sq]=Konfiguro shkronjat e sistemit
Comment[sr]=Подешавање словних ликова система
Comment[sr@Latn]=Подешавање словних ликова система
Comment[sr@ije]=Подешавање словних ликова система
Comment[sr@ijekavianlatin]=Подешавање словних ликова система
Comment[sr@latin]=Подешавање словних ликова система
Comment[sv]=Konfigurera systemets teckensnitt
Comment[tg]=Танзимоти шрифтҳои системавӣ
Comment[th]=กำหนดแบบอักษรของระบบ
Comment[th_TH]=กำหนดแบบอักษรของระบบ
Comment[tr]=Sistem yazı tiplerini yapılandır
Comment[uk]=Налаштування системних шрифтів
Comment[uk_UA]=Налаштування системних шрифтів
Comment[ur]=نظام کے فونٹ کو تشکیل دیں
Comment[ur_PK]=نظام کے فونٹ کو تشکیل دیں
Comment[vi]=Cấu hình kiểu chữ hệ thống
Comment[vi_VN]=Cấu hình kiểu chữ hệ thống
Comment[zh_CN]=配置系统字体
Comment[zh_HK]=設定系統字型組態
Comment[zh_TW]=設定系統字型組態
