[Desktop Entry]
Name=Fonts
Comment=Configure system fonts
Icon=cs-fonts
Exec=cinnamon-settings fonts
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name[gd]=Cruth-clò
Name[ga]=Clófhoirne
Name[gl]=Tipos de letra
Name[tr]=Yazı Tipleri
Name[ta]=எழுத்துருக்கள்
Name[pt_BR]=Fontes
Name[de]=Schriften
Name[da]=Skrifttyper
Name[zh_CN]=字体
Name[el]=Γραμματοσειρές
Name[eo]=Tiparoj
Name[eu]=Letra-tipoak
Name[et]=Kirjatüübid
Name[es]=Tipos de letra
Name[ru]=Шрифты
Name[ro]=Fonturi
Name[ms]=Fon
Name[ja]=フォント
Name[ca]=Lletres
Name[cy]=Ffontiau
Name[cs]=Písma
Name[pt]=Tipo de letra
Name[pa]=ਫੋਂਟ
Name[pl]=Czcionki
Name[hr]=Slova
Name[zh_TW]=字型
Name[hu]=Betűtípusok
Name[en_GB]=Fonts
Name[uk]=Шрифти
Name[vi]=Phông chữ
Name[is]=Letur
Name[am]=ፊደሎች
Name[it]=Caratteri
Name[id]=Huruf
Name[nl]=Lettertypen
Name[nb]=Skrifttyper
Name[fr]=Polices de caractères
Name[fr_CA]=Polices de caractères
Name[sr]=Словоликови
Name[sv]=Teckensnitt
Name[sl]=Pisave
