[Desktop Entry]
Icon=cs-gestures
Exec=cinnamon-settings gestures
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Gestures
Name[be]=Жэсты
Name[ca]=Gestos
Name[ca@valencia]=Gestos
Name[cs]=Gesta
Name[cy]=Ystumiau
Name[de]=Gesten
Name[el]=Xειρονομίες
Name[es]=Gestos
Name[es_AR]=Gestos
Name[fi]=Eleet
Name[fr]=Gestuelles
Name[fr_CA]=Gestuelles
Name[it]=Gesture
Name[nl]=Gebaren
Name[pl]=Gesty
Comment=Manage touch gestures
Comment[be]=Кіраваць жэстамі
Comment[ca]=Gestiona els gestos tàctils
Comment[ca@valencia]=Gestiona els gestos tàctils
Comment[cs]=Správa dotykových gest
Comment[cy]=Rheoli ystumiau cyffwrdd
Comment[de]=Berührungsgesten verwalten
Comment[el]=Διαχειριστείτε τις χειρονομίες αφής
Comment[es]=Gestionar los gestos táctiles
Comment[es_AR]=Gestionar los gestos táctiles
Comment[et]=Puutesüst. haldamine
Comment[fi]=Hallitse kosketuseleitä
Comment[fr]=Gérer les gestuelles tactiles
Comment[fr_CA]=Gérer les gestuelles tactiles
Comment[it]=Gestisci le gesture
Comment[nl]=Aanraakgebaren beheren
Comment[pl]=Zarządzaj gestami dotykowymi
Keywords=gesture;swipe;pinch;touch;
Keywords[be]=жэст;свайп;прагортка;пракрутка;дотык;
Keywords[ca]=gest;lliscar;pessigar;tocar;
Keywords[ca@valencia]=gest;lliscar;pessigar;tocar;
Keywords[cs]=gesto;přejetí prstem;stisknutí;dotyk;
Keywords[cy]=ystumio;llusgo;pinsio;cyffwrdd;
Keywords[de]=gesture;swipe;pinch;touch;Geste;Wischen;Aufziehen;Berühren;
Keywords[el]=χειρονομία;σάρωση;τσίμπημα;άγγιγμα;
Keywords[es]=gesto;arrastrar;pellizcar;tocar;
Keywords[es_AR]=gesto;arrastrar;pellizcar;tocar;
Keywords[et]=žest;pühkimine;pigistamine;puudutamine;
Keywords[fi]=gesture;swipe;pinch;touch;eleet;pyyhkäisy;nipistä;kosketus;
Keywords[fr]=gestuelles;glissement;pincement;touche;
Keywords[fr_CA]=gestuelles;glissement;pincement;touche;
Keywords[it]=gesture;scorrimento;pizzicare;tocco;
Keywords[nl]=gebaar;vegen;knijpen;aanraken;
Keywords[pl]=gest;przeciągnięcie;uszczypnięcie;dotknięcie;
