[Desktop Entry]
Icon=cs-sound
Exec=cinnamon-settings sound
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Sound
Name[am]=ድምጽ
Name[ar]=الصوت
Name[ast]=Soníu
Name[az]=Səs
Name[be]=Гук
Name[bg]=Звук
Name[bs]=Zvuk
Name[ca]=Àudio
Name[ca@valencia]=Àudio
Name[cs]=Zvuk
Name[cy]=Sain
Name[da]=Lyd
Name[de]=Klang
Name[el]=Ήχος
Name[eo]=Sono
Name[es]=Sonido
Name[es_AR]=Sonido
Name[et]=Heli
Name[eu]=Soinua
Name[fa]=صدا
Name[fi]=Ääni
Name[fr]=Son
Name[fr_CA]=Son
Name[fy]=Lûd
Name[ga]=Fuaim
Name[gd]=Fuaim
Name[gl]=Son
Name[he]=שמע
Name[hr]=Zvuk
Name[hu]=Hang
Name[hy]=Ձայն
Name[ia]=Sono
Name[id]=Suara
Name[ie]=Son
Name[is]=Hljóð
Name[it]=Audio
Name[ja]=サウンド
Name[kab]=Imesli
Name[kk]=Дыбыс
Name[ko]=소리
Name[ku]=Deng
Name[lo]=ສຽງ
Name[lt]=Garsas
Name[lv]=Skaņa
Name[ms]=Bunyi
Name[nb]=Lyd
Name[nds]=Klang
Name[nl]=Geluid
Name[oc]=Son
Name[pa]=ਆਵਾਜ਼
Name[pl]=Dźwięk
Name[pt]=Som
Name[pt_BR]=Som
Name[ro]=Sunet
Name[ru]=Звук
Name[sc]=Sonu
Name[sk]=Zvuk
Name[sl]=Zvok
Name[sq]=Zëri
Name[sr]=Звук
Name[sr@ijekavianlatin]=Звук
Name[sr@latin]=Zvuk
Name[sv]=Ljud
Name[ta]=ஒலி
Name[tg]=Садо
Name[th]=เสียง
Name[tr]=Ses
Name[uk]=Звук
Name[ur]=آواز
Name[uz]=Товуш
Name[vi]=Âm thanh
Name[zh_CN]=声音
Name[zh_HK]=聲音
Name[zh_TW]=音效
Comment=Manage sound settings
Comment[am]=የ ድምፅ ማሰናጃ አስተዳዳሪ
Comment[ar]=إدارة إعدادات الصوت
Comment[az]=Səs quruluşlarını yönəlt
Comment[bg]=Управление настройките на звука
Comment[ca]=Gestioneu els ajusts del so
Comment[ca@valencia]=Gestioneu els ajusts del so
Comment[cs]=Spravovat nastavení zvuku
Comment[cy]=Rheoli'r gosodiadau sain
Comment[da]=Håndtér lydindstillinger
Comment[de]=Klangeinstellungen verwalten
Comment[el]=Διαχείριση ρυθμίσεων ήχου
Comment[eo]=Administri sonagordojn
Comment[es]=Gestionar la configuración del sonido
Comment[es_AR]=Gestionar la configuración del sonido
Comment[eu]=Kudeatu soinuaren ezarpenak
Comment[fi]=Ääniasetusten hallinta
Comment[fr]=Gérer les paramètres audio
Comment[fr_CA]=Gérer les paramètres audio
Comment[he]=נהל הגדרות קול
Comment[hr]=Upravljanje postvkama zvuka
Comment[hu]=Hangbeállítások
Comment[ia]=Gerer le configurationes del sono
Comment[id]=Mengelola pengaturan suara
Comment[is]=Sýsla með hljóðstillingar
Comment[it]=Regolare le configurazioni del suono
Comment[kab]=Sefrek iɣewwaren n imesli
Comment[ko]=소리 설정 관리
Comment[lt]=Tvarkyti garso nustatymus
Comment[nb]=Administrer lydinnstillinger
Comment[nl]=Geluidinstellingen beheren
Comment[pl]=Zarządzaj ustawieniami dźwięku
Comment[pt]=Gerir definições de som
Comment[pt_BR]=Gerenciar configuração de áudio
Comment[ro]=Gestionează setările de sunet
Comment[ru]=Управление настройками звука
Comment[sc]=Manìgia cunfiguratziones de sonu
Comment[sk]=Spravuje nastavenia zvuku
Comment[sl]=Upravljaj nastavitve zvoka
Comment[sr]=Управљајте подешавањима звука
Comment[sr@ijekavianlatin]=Управљајте подешавањима звука
Comment[sr@latin]=Upravljaj podešavanjima zvuka
Comment[sv]=Hantera ljudinställningar
Comment[th]=จัดการการตั้งค่าเสียง
Comment[tr]=Ses ayarlarını yönet
Comment[uk]=Керування налаштуваннями звуку
Comment[ur]=آواز کی ترتیبات انتظام
Comment[uz]=Товуш параметрларини бошқариш
Comment[zh_CN]=管理声音设置
Comment[zh_HK]=管理聲音設定
Comment[zh_TW]=管理音效設定
Keywords=sound;media;music;speakers;audio;microphone;headphone;
