[Desktop Entry]
Icon=cs-startup-programs
Exec=cinnamon-settings startup
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Startup Applications
Name[am]=መተግበሪያዎች ማስጀመሪያ
Name[ar]=برامج بدء التشغيل
Name[ast]=Aplicaciones d'aniciu
Name[bg]=Автоматично стартирани програми
Name[bg_BG]=Автоматично стартирани програми
Name[ca]=Aplicacions a l'inici
Name[ca@valencia]=Aplicacions a l'inici
Name[ca_ES@valencia]=Aplicacions a l'inici
Name[cs]=Aplikace spouštěné při přihlášení
Name[cs_CZ]=Aplikace spouštěné při přihlášení
Name[cy]=Rhaglenni Cychwyn
Name[da]=Opstartsprogrammer
Name[da_DK]=Opstartsprogrammer
Name[de]=Startprogramme
Name[de_DE]=Startprogramme
Name[el]=Προγράμματα εκκίνησης
Name[eo]=Aplikaĵoj post startigo
Name[es]=Aplicaciones al inicio
Name[es_AR]=Aplicaciones al inicio
Name[es_CL]=Aplicaciones al inicio
Name[es_CO]=Aplicaciones al inicio
Name[es_CR]=Aplicaciones al inicio
Name[es_DO]=Aplicaciones al inicio
Name[es_EC]=Aplicaciones al inicio
Name[es_ES]=Aplicaciones al inicio
Name[es_GT]=Aplicaciones al inicio
Name[es_HN]=Aplicaciones al inicio
Name[es_MX]=Aplicaciones al inicio
Name[es_NI]=Aplicaciones al inicio
Name[es_PA]=Aplicaciones al inicio
Name[es_PE]=Aplicaciones al inicio
Name[es_PR]=Aplicaciones al inicio
Name[es_SV]=Aplicaciones al inicio
Name[es_US]=Aplicaciones al inicio
Name[es_UY]=Aplicaciones al inicio
Name[es_VE]=Aplicaciones al inicio
Name[et]=Käivitatavad rakendused
Name[eu]=Abioko aplikazioak
Name[fi]=Käynnistettävät sovellukset
Name[fi_FI]=Käynnistettävät sovellukset
Name[fr]=Applications au démarrage
Name[fr_CA]=Applications au démarrage
Name[fy]=Opstart Applikaasjes
Name[gd]=Aplacaidean tòiseachaidh
Name[gl]=Aplicativos de inicio
Name[gl_ES]=Aplicativos de inicio
Name[hr]=Pokrenute aplikacije
Name[hu]=Indítópult
Name[hu_HU]=Indítópult
Name[id]=Aplikasi Permulaan
Name[id_ID]=Aplikasi Permulaan
Name[is]=Ræsiforrit
Name[it]=Applicazioni d'avvio
Name[ko]=시작프로그램
Name[ko_KR]=시작프로그램
Name[lo]=ໂປຣແກຣມເລີ່ມລະບົບ
Name[lo_LA]=ໂປຣແກຣມເລີ່ມລະບົບ
Name[lt]=Paleisties programos
Name[lt_LT]=Paleisties programos
Name[ms]=Aplikasi Permulaan
Name[ms_MY]=Aplikasi Permulaan
Name[nb]=Oppstartsprogrammer
Name[nb_NO]=Oppstartsprogrammer
Name[nds]=Systemstartprogramme
Name[nl]=Opstarttoepassingen
Name[nl_NL]=Opstarttoepassingen
Name[pl]=Programy startowe
Name[pl_PL]=Programy startowe
Name[pt]=Aplicações de Arranque
Name[pt_BR]=Aplicativos de sessão
Name[pt_PT]=Aplicações de Arranque
Name[ro]=Aplicații lansate la pornire
Name[ro_RO]=Aplicații lansate la pornire
Name[ru]=Автозагрузка
Name[sk]=Aplikácie po spustení
Name[sk_SK]=Aplikácie po spustení
Name[sl]=Začetni programi
Name[sl_SI]=Začetni programi
Name[sq]=Programet në nisje
Name[sr]=Почетни програми
Name[sr@Latn]=Почетни програми
Name[sr@ije]=Почетни програми
Name[sr@ijekavianlatin]=Почетни програми
Name[sr@latin]=Почетни програми
Name[sv]=Uppstartsprogram
Name[th]=โปรแกรมเริ่มวาระ
Name[th_TH]=โปรแกรมเริ่มวาระ
Name[tr]=Başlangıç Uygulamaları
Name[uk]=Автозапуск програм
Name[uk_UA]=Автозапуск програм
Name[ur]=کمپیوڑر آغاز کی ایپلی کیشنز
Name[ur_PK]=کمپیوڑر آغاز کی ایپلی کیشنز
Name[vi]=Ứng dụng Khởi chạy
Name[vi_VN]=Ứng dụng Khởi chạy
Name[zh_CN]=开机自启动程序
Name[zh_HK]=初始啟動程式
Name[zh_TW]=系統啟動應用程式
Comment=Manage your startup applications
Comment[bg]=Управление на стартиращите приложения
Comment[bg_BG]=Управление на стартиращите приложения
Comment[ca]=Gestiona les aplicacions d'inici
Comment[ca@valencia]=Gestiona les aplicacions d'inici
Comment[ca_ES@valencia]=Gestiona les aplicacions d'inici
Comment[cs]=Spravovat vaše aplikace při spuštění
Comment[cs_CZ]=Spravovat vaše aplikace při spuštění
Comment[cy]=Rheoli eich rhaglenni cychwyn
Comment[da]=Håndtér dine opstartsprogrammer
Comment[da_DK]=Håndtér dine opstartsprogrammer
Comment[de]=Ihre Startprogramme verwalten
Comment[de_DE]=Ihre Startprogramme verwalten
Comment[el]=Διαχείριση των εφαρμογών εκκίνησης σου
Comment[es]=Gestionar las aplicaciones de inicio
Comment[es_AR]=Gestionar las aplicaciones de inicio
Comment[es_CL]=Gestionar las aplicaciones de inicio
Comment[es_CO]=Gestionar las aplicaciones de inicio
Comment[es_CR]=Gestionar las aplicaciones de inicio
Comment[es_DO]=Gestionar las aplicaciones de inicio
Comment[es_EC]=Gestionar las aplicaciones de inicio
Comment[es_ES]=Gestionar las aplicaciones de inicio
Comment[es_GT]=Gestionar las aplicaciones de inicio
Comment[es_HN]=Gestionar las aplicaciones de inicio
Comment[es_MX]=Gestionar las aplicaciones de inicio
Comment[es_NI]=Gestionar las aplicaciones de inicio
Comment[es_PA]=Gestionar las aplicaciones de inicio
Comment[es_PE]=Gestionar las aplicaciones de inicio
Comment[es_PR]=Gestionar las aplicaciones de inicio
Comment[es_SV]=Gestionar las aplicaciones de inicio
Comment[es_US]=Gestionar las aplicaciones de inicio
Comment[es_UY]=Gestionar las aplicaciones de inicio
Comment[es_VE]=Gestionar las aplicaciones de inicio
Comment[eu]=Kudeatu zure abioko aplikazioak
Comment[fi]=Hallinnoi automaattisesti käynnistyviä sovelluksia
Comment[fi_FI]=Hallinnoi automaattisesti käynnistyviä sovelluksia
Comment[fr]=Gérez vos applications au démarrage
Comment[fr_CA]=Gérez vos applications au démarrage
Comment[gd]=Stiùirich na h-aplacaidean tòiseachaidh agad
Comment[gl]=Administrar os seus aplicativos do inicio
Comment[gl_ES]=Administrar os seus aplicativos do inicio
Comment[hr]=Upravljajte vašim pokrenutim aplikacijama
Comment[hu]=Bejelentkezéskor elindítandó alkalmazások
Comment[hu_HU]=Bejelentkezéskor elindítandó alkalmazások
Comment[is]=Sýsla með forrit virkjuð í ræsingu
Comment[it]=Gestisci le tue applicazioni di avvio
Comment[ko]=여러분의 시작 프로그램을 관리하세요
Comment[ko_KR]=여러분의 시작 프로그램을 관리하세요
Comment[lt]=Valdykite savo paleidžiamas programas
Comment[lt_LT]=Valdykite savo paleidžiamas programas
Comment[nb]=Håndter dine oppstartsprogrammer
Comment[nb_NO]=Håndter dine oppstartsprogrammer
Comment[nds]=Startanwendungen verwalten
Comment[nl]=Beheer uw opstarttoepassingen
Comment[nl_NL]=Beheer uw opstarttoepassingen
Comment[pl]=Zarządzaj aplikacjami startowymi
Comment[pl_PL]=Zarządzaj aplikacjami startowymi
Comment[pt]=Gerir as suas aplicações de arranque
Comment[pt_BR]=Gerencie seus aplicativos de inicialização
Comment[pt_PT]=Gerir as suas aplicações de arranque
Comment[ro]=Gestionează aplicațiile lansate la pornire
Comment[ro_RO]=Gestionează aplicațiile lansate la pornire
Comment[ru]=Управление автозапускаемыми приложениями
Comment[sk]=Spravovať aplikácie spúšťané automaticky po spustení pc
Comment[sk_SK]=Spravovať aplikácie spúšťané automaticky po spustení pc
Comment[sq]=Menaxhoni programet tuaja të nisjes
Comment[sv]=Hantera dina uppstartsprogram
Comment[th]=จัดการโปรแกรมเริ่มวาระของคุณ
Comment[th_TH]=จัดการโปรแกรมเริ่มวาระของคุณ
Comment[tr]=Başlangıç uygulamalarınızı yönetin
Comment[uk]=Керування запуском Ваших додатків
Comment[uk_UA]=Керування запуском Ваших додатків
Comment[ur]=کمپیوڑر آغاز کی ایپلی کیشنز کا انتطام کریں
Comment[ur_PK]=کمپیوڑر آغاز کی ایپلی کیشنز کا انتطام کریں
Comment[vi]=Quản lý ứng dụng khởi chạy của bạn
Comment[vi_VN]=Quản lý ứng dụng khởi chạy của bạn
Comment[zh_CN]=管理启动程序
Comment[zh_HK]=管理你的始動應用程式
Comment[zh_TW]=管理您的系統啟動應用程式
