[Desktop Entry]
Icon=cs-nightlight
Exec=cinnamon-settings nightlight
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Night Light
Name[ar]=الإضاءة الليلية
Name[be]=Начное святло
Name[ca]=Llum nocturna
Name[ca@valencia]=Llum nocturna
Name[cs]=Noční osvětlení
Name[cy]=Golau Nos
Name[da]=Nattelys
Name[de]=Nachtmodus
Name[el]=Νυχτερινός φωτισμός
Name[eo]=Noktlumo
Name[es]=Luz nocturna
Name[es_AR]=Luz nocturna
Name[et]=Öövalgustus
Name[eu]=Gaueko argia
Name[fa]=نور شب
Name[fi]=Yövalo
Name[fr]=Mode nuit
Name[fr_CA]=Mode nuit
Name[he]=תאורת לילה
Name[hu]=Éjszakai fény
Name[ia]=Luce nocturne
Name[is]=Næturlýsing
Name[it]=Luce notturna
Name[ja]=夜間モード
Name[ka]=ღამის სინათლე
Name[ko]=야간 모드
Name[nb]=Nattlys
Name[nl]=Nachtlicht
Name[oc]=Lum nuechenc
Name[pl]=Nocne światło
Name[pt]=Luz noturna
Name[pt_BR]=Luz noturna
Name[ro]=Lumină nocturnă
Name[ru]=Ночной свет
Name[sk]=Nočné svetlo
Name[sl]=Nočna osvetlitev
Name[sr]=Ноћно светло
Name[sr@ijekavian]=Ноћно светло
Name[sr@ijekavianlatin]=Ноћно светло
Name[sr@latin]=Ноћно светло
Name[sv]=Nattbelysning
Name[tr]=Gece Işığı
Name[uk]=Нічне світло
Name[vi]=Ánh sáng đêm
Name[zh_CN]=夜灯
Name[zh_TW]=夜光模式
Comment=Reduce exposure to blue light
Comment[ar]=قلل التعرض ألى الضوء الأزرق
Comment[be]=Зменшыць уздзеянне сіняга святла
Comment[ca]=Redueix l'exposició a la llum blava
Comment[ca@valencia]=Redueix l'exposició a la llum blava
Comment[cs]=Snížení expozice modrého světla
Comment[cy]=Lleihau amlygiad i olau glas
Comment[da]=Reducér eksponering til blåt lys
Comment[de]=Die Belichtung mit blauem Licht verringern
Comment[el]=Μείωση έκθεσης σε μπλε φως
Comment[eo]=Redukti eksponado al blua lumo
Comment[es]=Reducir la exposición a la luz azul
Comment[es_AR]=Reducir la exposición a la luz azul
Comment[et]=Vähenda kokkupuudet sinise valgusega
Comment[eu]=Murriztu argi urdinarekiko esposizioa
Comment[fa]=کاهش تابش نور آبی
Comment[fi]=Vähennä siniselle valolle altistumista
Comment[fr]=Réduire l’exposition à la lumière bleue
Comment[fr_CA]=Réduire l’exposition à la lumière bleue
Comment[he]=צמצום חשיפה לאור כחול
Comment[hu]=Csökkentse a kék fénynek való kitettséget
Comment[ia]=Reducer exposition al luce bluau
Comment[is]=Minnka útsetningu fyrir bláu ljósi
Comment[it]=Riduci l'esposizione alla luce blu
Comment[ja]=ブルーライトの照射量を軽減します
Comment[ko]=블루 라이트 노출 저감
Comment[nb]=Reduser eksponering for blått lys
Comment[nl]=Blootstelling aan blauw licht verminderen
Comment[pl]=Ogranicz ekspozycję na światło niebieskie
Comment[pt]=Reduzir a exposição à luz azul
Comment[pt_BR]=Reduzir exposição a luz azul
Comment[ro]=Reduce expunerea la lumina albastră
Comment[ru]=Сократить воздействие синего света
Comment[sk]=Zníženie ožarovania modrým svetlom
Comment[sl]=Zmanjšaj izpostavljenost modri svetlobi
Comment[sr]=Умањи изложеност на плаво светло
Comment[sr@ijekavian]=Умањи изложеност на плаво светло
Comment[sr@ijekavianlatin]=Умањи изложеност на плаво светло
Comment[sr@latin]=Умањи изложеност на плаво светло
Comment[sv]=Minska exponeringen för blått ljus
Comment[tr]=Mavi ışığa maruz kalmayı azaltır
Comment[uk]=Зменшити вплив синього світла
Comment[vi]=Giảm tiếp xúc ánh sáng xanh
Comment[zh_CN]=减少蓝光
Comment[zh_TW]=減低曝露在藍光下
Keywords=redshift;color;blue;light;filter;temperature;
Keywords[ar]=redshift، لون، أزرق، فاتح، مرشح، حرارة;
Keywords[be]=redshift;колер;сіні;блакітны;святло;фільтр;тэмпература;
Keywords[ca]=desplaçament al vermell;color;blau;llum;filtre;temperatura;
Keywords[ca@valencia]=desplaçament al vermell;color;blau;llum;filtre;temperatura;
Keywords[cs]=červený posuv;barva;modrá;světlo;filtr;teplota;
Keywords[cy]=redshift;lliw;glas;golau;hidlydd;tymheredd;
Keywords[da]=rødforskydning;farve;blå;lys;filter temperature;
Keywords[de]=Rotverschiebung;Farbe;Blau;Licht;Filter;Temperatur;redshift;color;blue;light;filter;temperature;
Keywords[el]=ερυθρή μετατόπιση;χρώμα;μπλε;φως;φίλτρο;θερμοκρασία;
Keywords[en_GB]=redshift;colour;blue;light;filter;temperature;
Keywords[eo]=ruĝenŝoviĝo;koloro;blua;lumo;filtrilo;temperaturo;
Keywords[es]=corrimiento al rojo;color;azul;luz;filtro;temperatura;
Keywords[es_AR]=corrimiento al rojo;color;azul;luz;filtro;temperatura;
Keywords[et]=Kohanda värvitemperatuuri;
Keywords[eu]=redshift;kolorea;urdina;argia;iragazkia;tenperatura;
Keywords[fa]=ردشیفت، رنگ، آبی، نور، فیلتر، دما;
Keywords[fi]=redshift;color;blue;light;filter;temperature;väri;sini;valo;suodatin;värilämpö;
Keywords[fr]=redshift;décalage vers le rouge;couleur;bleu;lumière;filtre;température;
Keywords[fr_CA]=redshift;décalage vers le rouge;couleur;bleu;lumière;filtre;température;
Keywords[he]=טמפרטורה;מסנן;אור;כחול;צבע;רד־שיפט;redshift;color;blue;light;filter;temperature;
Keywords[hu]=szín;kék;fény;szűrő;hőmérséklet;redshift;color;blue;light;filter;temperature;
Keywords[ia]=displaciamento-rubie;color;blau;clar;filtro;temperatura;
Keywords[is]=rauðvik;litur;blátt;ljós;sía;lithitastig;
Keywords[it]=redshift;colore;blu;chiaro;filtro;temperatura;
Keywords[ja]=redshift;color;blue;light;filter;temperature;色;ブルー;青;ライト;光;フィルター;温度;
Keywords[ko]=레드시프트;색;블루;라이트;필터;온도;
Keywords[nb]=rødforskyvning;farge;blå;lys;filter;temperatur;
Keywords[nl]=redshift;kleur;blauw;licht;filter;temperatuur;
Keywords[oc]=redshift;color;blau;lum;filtre;temperatura;
Keywords[pl]=przesunięcie ku czerwieni;kolor;niebieski;światło;filtr;temperatura;
Keywords[pt]=redshift;cor;azul;luz;filtro;temperatura;
Keywords[pt_BR]=desvio para o vermelho;cor;azul;luz;filtro;temperatura;
Keywords[ro]=redshift;culoare;albastru;lumină;filtru;temperatoră;
Keywords[ru]=красное смещение;цвет;синий;свет;фильтр;температура;
Keywords[sk]=redshift;farba;modrá;modré;svetlo;osvetlenie;filter;teplota;
Keywords[sl]=zamik rdeče;barva;modra;svetloba;filter;temperatura;
Keywords[sr]=црвени помак;боја;плава;светлост;филтер;температура;redshift;color;blue;light;filter;temperature;
Keywords[sr@ijekavian]=црвени помак;боја;плава;светлост;филтер;температура;redshift;color;blue;light;filter;temperature;
Keywords[sr@ijekavianlatin]=црвени помак;боја;плава;светлост;филтер;температура;redshift;color;blue;light;filter;temperature;
Keywords[sr@latin]=црвени помак;боја;плава;светлост;филтер;температура;redshift;color;blue;light;filter;temperature;
Keywords[sv]=rödförskjutning;färg;blå;ljus;filter;temperatur;
Keywords[tr]=redshift;renk;mavi;ışık;filtre;sıcaklık;
Keywords[uk]=червоне зміщення;колір;синій;світло;фільтр;температура;
Keywords[vi]=redshift;màu;ánh sáng xanh;bộ lọc;nhiệt độ;
Keywords[zh_CN]=红移，颜色，蓝，光线，过滤，温度;
Keywords[zh_TW]=紅移、顏色、藍、光線、過濾、温度;
