[Desktop Entry]
Icon=cs-panel
Exec=cinnamon-settings panel
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Panel
Name[af]=Paneel
Name[am]=ክፍል
Name[ar]=الشريط
Name[be]=Панэль
Name[be@latin]=Панэль
Name[be_BY]=Панэль
Name[bg]=Панел
Name[bg_BG]=Панел
Name[bn]=প্যানেল
Name[bn_IN]=প্যানেল
Name[ca]=Tauler
Name[ca@valencia]=Panell
Name[ca_ES]=Tauler
Name[ca_ES@valencia]=Panell
Name[de]=Leiste
Name[de_CH]=Leiste
Name[de_DE]=Leiste
Name[el]=Γραμμή εργασιών
Name[eo]=Panelo
Name[et]=Paneel
Name[et_EE]=Paneel
Name[eu]=Panela
Name[fa]=صفحه‌ی‌ کنترل
Name[fa_AF]=صفحه‌ی‌ کنترل
Name[fa_IR]=صفحه‌ی‌ کنترل
Name[fi]=Paneeli
Name[fi_FI]=Paneeli
Name[fr]=Tableau de bord
Name[fr_CA]=Tableau de bord
Name[fr_FR]=Tableau de bord
Name[ga]=Painéal
Name[gd]=Panail
Name[he]=פאנל
Name[he_IL]=פאנל
Name[hi]=पट्टिका
Name[ia]=Pannello
Name[is]=Skjástika
Name[it]=Pannello
Name[it_CH]=Pannello
Name[it_IT]=Pannello
Name[ja]=パネル
Name[ja_JP]=パネル
Name[km]=បន្ទះ
Name[km_KH]=បន្ទះ
Name[ko]=패널
Name[ko_KR]=패널
Name[li]=Paneel
Name[lt]=Skydelis
Name[lt_LT]=Skydelis
Name[lv]=Panelis
Name[lv_LV]=Panelis
Name[ml]=പാളി
Name[mr]=पटल
Name[nb]=Oppgavelinje
Name[nb_NO]=Oppgavelinje
Name[nds]=Leiste
Name[ne]=प्यानल
Name[nl]=Paneel
Name[nl_NL]=Paneel
Name[oc]=Tablèu de bòrd
Name[om]=Moggaargii
Name[pa]=ਪੈਨਲ
Name[pt]=Painel
Name[pt_BR]=Painel
Name[pt_PT]=Painel
Name[ro]=Panou
Name[ro_RO]=Panou
Name[ru]=Панель
Name[rue]=Панель
Name[si]=පැනලය
Name[sl]=Pult
Name[sl_SI]=Pult
Name[so]=Baanelka
Name[sq]=Paneli
Name[sr]=Полица
Name[sr@Latn]=Tabla
Name[sr@ije]=Полица
Name[sr@ijekavianlatin]=Полица
Name[sr@latin]=Tabla
Name[sr_RS]=Полица
Name[sr_RS@latin]=Tabla
Name[ta]=பலகை
Name[ta_LK]=பலகை
Name[te]=ప్యానల్
Name[tg]=Лавҳа
Name[th]=แผง
Name[th_TH]=แผง
Name[ts]=Phenele
Name[uk]=Панель
Name[uk_UA]=Панель
Name[ur]=پینل
Name[uz]=Панел
Name[uz@cyrillic]=Панел
Name[vi]=Bảng
Name[vi_VN]=Bảng
Name[zh_CN]=面板
Name[zh_HK]=面板
Name[zh_TW]=面板
Comment=Manage Cinnamon panel settings
Comment[am]=የሲናሞን ክፍል ማሰናጃዎች አስተዳዳሪ
Comment[ar]=إدارة خصائص شريط سينامُن
Comment[ast]=Axustes del alministrador del panel Cinnamon
Comment[be]=Кіраванне наладамі панэлі Cinnamon
Comment[be@latin]=Кіраванне наладамі панэлі Cinnamon
Comment[be_BY]=Кіраванне наладамі панэлі Cinnamon
Comment[bg]=Управление на панела на Cinnamon
Comment[bg_BG]=Управление на панела на Cinnamon
Comment[bs]=Upravljanje Cinnamon ploča
Comment[ca]=Gestioneu els ajusts del tauler de Cinnamon
Comment[ca@valencia]=Administra la configuració del panell de Cinnamon
Comment[ca_ES]=Gestioneu els ajusts del tauler de Cinnamon
Comment[ca_ES@valencia]=Administra la configuració del panell de Cinnamon
Comment[cs]=Správa Cinnamon panelu
Comment[cs_CZ]=Správa Cinnamon panelu
Comment[cy]=Rheoli gosodiadau panel Cinnamon
Comment[da]=Administrér Cinnamon-panelindstillinger
Comment[da_DK]=Administrér Cinnamon-panelindstillinger
Comment[de]=Cinnamons Leisteneinstellungen verwalten
Comment[de_CH]=Cinnamons Leisteneinstellungen verwalten
Comment[de_DE]=Cinnamons Leisteneinstellungen verwalten
Comment[el]=Διαχείριση ρυθμίσεων γραμμής εργασιών Cinnamon
Comment[es]=Administrar configuración del panel de Cinnamon
Comment[es_AR]=Administrar configuración del panel de Cinnamon
Comment[es_CL]=Administrar configuración del panel de Cinnamon
Comment[es_CO]=Administrar configuración del panel de Cinnamon
Comment[es_CR]=Administrar configuración del panel de Cinnamon
Comment[es_DO]=Administrar configuración del panel de Cinnamon
Comment[es_EC]=Administrar configuración del panel de Cinnamon
Comment[es_ES]=Administrar configuración del panel de Cinnamon
Comment[es_MX]=Administrar configuración del panel de Cinnamon
Comment[es_NI]=Administrar configuración del panel de Cinnamon
Comment[es_PA]=Administrar configuración del panel de Cinnamon
Comment[es_PE]=Administrar configuración del panel de Cinnamon
Comment[es_PR]=Administrar configuración del panel de Cinnamon
Comment[es_SV]=Administrar configuración del panel de Cinnamon
Comment[es_UY]=Administrar configuración del panel de Cinnamon
Comment[es_VE]=Administrar configuración del panel de Cinnamon
Comment[eu]=Kudeatu Cinnamon panel-ezarpenak
Comment[fi]=Muokkaa Cinnamonin paneelin asetuksia
Comment[fi_FI]=Muokkaa Cinnamonin paneelin asetuksia
Comment[fr]=Gérer les paramètres du tableau de bord de Cinnamon
Comment[fr_CA]=Gérer les paramètres du tableau de bord de Cinnamon
Comment[fr_FR]=Gérer les paramètres du tableau de bord de Cinnamon
Comment[gd]=Stiùirich na roghainnean panail aig Cinnamon
Comment[gl]=Administra os axustes do panel de Cinnamon
Comment[gl_ES]=Administra os axustes do panel de Cinnamon
Comment[hr]=Upravljajte postavkama Cinnamon panela
Comment[hu]=Cinnamon panel beállítások
Comment[hu_HU]=Cinnamon panel beállítások
Comment[ia]=Gerer le configuration del pannello de Cinnamon
Comment[id]=Atur pengaturan panel Cinnamon
Comment[id_ID]=Atur pengaturan panel Cinnamon
Comment[is]=Sýsla með stillingar Cinnamon skjástika
Comment[it]=Gestisci impostazioni del pannello Cinnamon
Comment[it_CH]=Gestisci impostazioni del pannello Cinnamon
Comment[it_IT]=Gestisci impostazioni del pannello Cinnamon
Comment[ja]=Cinnamon パネル設定管理
Comment[ja_JP]=Cinnamon パネル設定管理
Comment[ko]=시나몬 패널설정 관리
Comment[ko_KR]=시나몬 패널설정 관리
Comment[lt]=Tvarkyti Cinnamon skydelio nustatymus
Comment[lt_LT]=Tvarkyti Cinnamon skydelio nustatymus
Comment[lv]=Pārvaldīt Cinnamon paneļa iestatījumus
Comment[lv_LV]=Pārvaldīt Cinnamon paneļa iestatījumus
Comment[ms]=Mengurus tetapan panel Cinnamon
Comment[ms_MY]=Mengurus tetapan panel Cinnamon
Comment[nb]=Håndter innstillinger for oppgavelinjen i Cinnamon
Comment[nb_NO]=Håndter innstillinger for oppgavelinjen i Cinnamon
Comment[nds]=Cinnamon Panel-Einstellungen verwalten
Comment[nl]=Instellingen van Cinnamonwerkbalk beheren
Comment[nl_NL]=Instellingen van Cinnamonwerkbalk beheren
Comment[pl]=Zarządzaj ustawieniami panelu Cinnamona
Comment[pl_PL]=Zarządzaj ustawieniami panelu Cinnamona
Comment[pt]=Gerir as definições do painel do Cinnamon
Comment[pt_BR]=Gerenciar as configurações do painel do Cinnamon
Comment[pt_PT]=Gerir as definições do painel do Cinnamon
Comment[ro]=Gestionează setările panoului Cinnamon
Comment[ro_RO]=Gestionează setările panoului Cinnamon
Comment[ru]=Управление настройками панели Cinnamon
Comment[sk]=Spravovať nastavenia panelov Cinnamon
Comment[sk_SK]=Spravovať nastavenia panelov Cinnamon
Comment[sl]=Upravljajte z nastavitvami pulta Cinnamona
Comment[sl_SI]=Upravljajte z nastavitvami pulta Cinnamona
Comment[sq]=Menaxhoni parametrat e panelit të Cinnamon
Comment[sr]=Управљање поставкама полице Цимета
Comment[sr@Latn]=Управљање поставкама полице Цимета
Comment[sr@ije]=Управљање поставкама полице Цимета
Comment[sr@ijekavianlatin]=Управљање поставкама полице Цимета
Comment[sr@latin]=Управљање поставкама полице Цимета
Comment[sr_RS]=Управљање поставкама полице Цимета
Comment[sr_RS@latin]=Управљање поставкама полице Цимета
Comment[sv]=Hantera Cinnamons panelinställningar
Comment[tg]=Идоракунии танзимоти лавҳаи Cinnamon
Comment[th]=จัดการการตั้งค่าแผง Cinnamon
Comment[th_TH]=จัดการการตั้งค่าแผง Cinnamon
Comment[tr]=Cinnamon panel ayarlarını yönet
Comment[tr_TR]=Cinnamon panel ayarlarını yönet
Comment[uk]=Керування налаштуваннями панелі Cinnamon
Comment[uk_UA]=Керування налаштуваннями панелі Cinnamon
Comment[ur]=سنامون پینل کی ترتیبات کا انتظام کریں
Comment[vi]=Quản lý thiết đặt bảng Cinnamon
Comment[vi_VN]=Quản lý thiết đặt bảng Cinnamon
Comment[zh_CN]=管理Cinnamon面板设置
Comment[zh_HK]=管理 Cinnamon 面板設定
Comment[zh_TW]=管理 Cinnamon 面板設定
Keywords=panel;height;bottom;top;autohide;size;layout;
Keywords[am]=ክፍል: እርዝመት: ከ ታች: ከ ላይ: በራሱ መደበቂያ: መጠን: እቅድ;
Keywords[ar]=الشريط، والطول، أسفل، أعلى، إخفاء تلقائي والحجم والتصميم;
Keywords[bg]=панел;височина;долу;горе;скриване;подредба;
Keywords[bg_BG]=панел;височина;долу;горе;скриване;подредба;
Keywords[ca]=tauler;alçada;inferior;superior;autoocultar;mida;disposició;
Keywords[ca@valencia]=tauler;alçada;inferior;superior;autoocultar;mida;disposició;
Keywords[ca_ES]=tauler;alçada;inferior;superior;autoocultar;mida;disposició;
Keywords[ca_ES@valencia]=tauler;alçada;inferior;superior;autoocultar;mida;disposició;
Keywords[cs]=panel;výška;spodní;horní;automatické skrytí;výška;rozvržení;
Keywords[cs_CZ]=panel;výška;spodní;horní;automatické skrytí;výška;rozvržení;
Keywords[cy]=panel;uchder;isaf;brig;awtoguddio;maint;cynllun;
Keywords[da]=panel;højde;bund;top;skjul automatisk;størrelse;layout;
Keywords[da_DK]=panel;højde;bund;top;skjul automatisk;størrelse;layout;
Keywords[de]=Leiste;Paneel;Höhe;Untern;Oben;automatisch verbergen;automatisch verstecken;Größe;Ansicht;Anordnung;Layout;
Keywords[de_CH]=Leiste;Paneel;Höhe;Untern;Oben;automatisch verbergen;automatisch verstecken;Größe;Ansicht;Anordnung;Layout;
Keywords[de_DE]=Leiste;Paneel;Höhe;Untern;Oben;automatisch verbergen;automatisch verstecken;Größe;Ansicht;Anordnung;Layout;
Keywords[el]=Γραμμή εργαλείων;ύψος;κάτω;πάνω;αυτόματη απόκρυψη;μέγεθος;διάταξη;
Keywords[es]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_AR]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_CL]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_CO]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_CR]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_DO]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_EC]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_ES]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_MX]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_NI]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_PA]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_PE]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_PR]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_SV]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_UY]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[es_VE]=panel;altura;inferior;superior;autoocultar;tamaño;disposición;
Keywords[eu]=panela;altuera;behea;goia;ezkutatu automatikoki;tamaina;diseinua;
Keywords[fi]=paneeli;korkeus;pohja;yläosa;automaattinen piilotus;koko;asettelu;
Keywords[fi_FI]=paneeli;korkeus;pohja;yläosa;automaattinen piilotus;koko;asettelu;
Keywords[fr]=tableau de bord;hauteur;bas;haut;masquer;taille;disposition;
Keywords[fr_CA]=tableau de bord;hauteur;bas;haut;masquer;tailler;disposition;
Keywords[fr_FR]=tableau de bord;hauteur;bas;haut;masquer;taille;disposition;
Keywords[gd]=panel;height;bottom;top;autohide;size;layout;panail;àirde;bonn;barr;falach;meud;co-dhealbhachd;
Keywords[gl]=panel;altura;inferior;superior;autoagochar;tamaño;disposición;
Keywords[gl_ES]=panel;altura;inferior;superior;autoagochar;tamaño;disposición;
Keywords[hr]=panel;visina;dno;vrh;automatsko sakrivanje;veličina;raspored;
Keywords[hu]=panel;magasság;lent;fent;automatikus elrejtés;méret;hagyományos;elrendezés;
Keywords[hu_HU]=panel;magasság;lent;fent;automatikus elrejtés;méret;hagyományos;elrendezés;
Keywords[ia]=pannello;altessa;pede;summitate;auto occultar;dimension;disposition;
Keywords[is]=spjald;stika;hæð;neðst;efst;sjálfvirk felun;stærð;hefðbundið;framsetning;útlit;
Keywords[it]=pannello;altezza;fondo;cima;nascondi automaticamente;dimensione;disposizione;
Keywords[it_CH]=pannello;altezza;fondo;cima;nascondi automaticamente;dimensione;disposizione;
Keywords[it_IT]=pannello;altezza;fondo;cima;nascondi automaticamente;dimensione;disposizione;
Keywords[ko]=패널;높이;아래;위;자동 숨김;크기;레이아웃;
Keywords[ko_KR]=패널;높이;아래;위;자동 숨김;크기;레이아웃;
Keywords[lt]=skydelis;aukštis;apačia;viršus;automatiškai slėpti;dydis;išdėstymas;
Keywords[lt_LT]=skydelis;aukštis;apačia;viršus;automatiškai slėpti;dydis;išdėstymas;
Keywords[ms]=panel;tinggi;bawah;atas;auto sembunyi;saiz;susun atur;
Keywords[ms_MY]=panel;tinggi;bawah;atas;auto sembunyi;saiz;susun atur;
Keywords[nb]=oppgavelinje;høyde;bunn;topp;skjul automatisk;størrelse;utforming;
Keywords[nb_NO]=oppgavelinje;høyde;bunn;topp;skjul automatisk;størrelse;utforming;
Keywords[nds]=Fenster;Höhe;Unten;Oben;automatisch ausblenden;Größe;Layout;
Keywords[nl]=werkbalk;hoogte;onderaan;bovenaan;automatisch verbergen;grootte;vormgeving;
Keywords[nl_NL]=werkbalk;hoogte;onderaan;bovenaan;automatisch verbergen;grootte;vormgeving;
Keywords[pl]=panel;wysokość;przycisk;góra;automatyczne ukrywanie;rozmiar;układ;
Keywords[pl_PL]=panel;wysokość;przycisk;góra;automatyczne ukrywanie;rozmiar;układ;
Keywords[pt]=painel;altura;fundo;superior;esconder automático;tamanho;layout;
Keywords[pt_BR]=painel;altura;fundo;superior;auto esconder;tamanho;layout;
Keywords[pt_PT]=painel;altura;fundo;superior;esconder automático;tamanho;layout;
Keywords[ro]=panou;înălțime;jos;sus;ascundere automată;dimensiune;aranjament;
Keywords[ro_RO]=panou;înălțime;jos;sus;ascundere automată;dimensiune;aranjament;
Keywords[ru]=панель;высота;внизу;вверху;автоскрытие;размер;слой;
Keywords[sk]=panel;výška;spodok;vrch;automatické skrývanie;veľkosť;rozloženie;
Keywords[sk_SK]=panel;výška;spodok;vrch;automatické skrývanie;veľkosť;rozloženie;
Keywords[sq]=paneli;lartësia;poshtë;lart;vetë-fshih;përmasat;faqosja;
Keywords[sr]=полица;висина;доле;горе;самоскривање;величина;распоред;
Keywords[sr@Latn]=полица;висина;доле;горе;самоскривање;величина;распоред;
Keywords[sr@ije]=полица;висина;доле;горе;самоскривање;величина;распоред;
Keywords[sr@ijekavianlatin]=полица;висина;доле;горе;самоскривање;величина;распоред;
Keywords[sr@latin]=полица;висина;доле;горе;самоскривање;величина;распоред;
Keywords[sr_RS]=полица;висина;доле;горе;самоскривање;величина;распоред;
Keywords[sr_RS@latin]=полица;висина;доле;горе;самоскривање;величина;распоред;
Keywords[sv]=panel;höjd;nederkant;överkant;dölj automatiskt;storlek;upplägg;
Keywords[th]=พาเนล;ความสูง;ข้างล่าง;ข้างบน;ซ่อนอัตโนมัติ;ขนาด;แผนผัง;
Keywords[th_TH]=พาเนล;ความสูง;ข้างล่าง;ข้างบน;ซ่อนอัตโนมัติ;ขนาด;แผนผัง;
Keywords[tr]=panel;yükseklik;alt;üst;otomatik;gizle;boyut;düzen;
Keywords[tr_TR]=panel;yükseklik;alt;üst;otomatik;gizle;boyut;düzen;
Keywords[uk]=Панель;висота;знизу;вгорі;самочинне приховування;розмір;розташування;
Keywords[uk_UA]=Панель;висота;знизу;вгорі;самочинне приховування;розмір;розташування;
Keywords[ur]=پینل، اونچائی، نیچے، اوپر، چھپائیں، سائز، حجم، خاکہ;
Keywords[vi]=bảng;chiều cao;đáy;đỉnh;tự động ẩn;kích thước;bố trí;
Keywords[vi_VN]=bảng;chiều cao;đáy;đỉnh;tự động ẩn;kích thước;bố trí;
Keywords[zh_CN]=面板，高度，底部，顶部，自动隐藏，大小，布局;
Keywords[zh_HK]=面板;高度;底部;頂部;自動隱藏;大小;佈局;
Keywords[zh_TW]=面板;高度;底端;頂端;自動隱藏;尺寸;配置;
