[Desktop Entry]
Icon=cs-applets
Exec=cinnamon-settings applets
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Applets
Name[af]=Toepassingtjies
Name[am]=ፕሮግራሞች
Name[ar]=البريمجات
Name[be]=Аплеты
Name[be@latin]=Аплеты
Name[bg]=Аплети
Name[bg_BG]=Аплети
Name[bn]=অ্যাপলেট
Name[bn_IN]=অ্যাপলেট
Name[bs]=Apleti
Name[cs]=Aplety
Name[cs_CZ]=Aplety
Name[csb]=Apletë
Name[cy]=Rhaglenigau
Name[da]=Panelprogrammer
Name[da_DK]=Panelprogrammer
Name[el]=Μικροεφαρμογές
Name[eo]=Aplikaĵetoj
Name[et]=Apletid
Name[eu]=Applet-ak
Name[fa]=ابزارک‌ها
Name[fa_IR]=ابزارک‌ها
Name[fi]=Paneelisovelmat
Name[fi_FI]=Paneelisovelmat
Name[ga]=Feidhmchláiríní
Name[gd]=Aplaidean
Name[gl]=Miniaplicativos
Name[gl_ES]=Miniaplicativos
Name[he]=יישומונים
Name[he_IL]=יישומונים
Name[hi]=एप्लेट्स
Name[hr]=Apleti
Name[hu]=Kisalkalmazások
Name[hu_HU]=Kisalkalmazások
Name[id]=Applet
Name[id_ID]=Applet
Name[is]=Smáforrit
Name[it]=Applet
Name[ja]=アプレット
Name[ja_JP]=アプレット
Name[km]=អាប់​ភ្លេត
Name[km_KH]=អាប់​ភ្លេត
Name[ko]=애플릿
Name[ko_KR]=애플릿
Name[lo]=ແອັບເພັດ
Name[lo_LA]=ແອັບເພັດ
Name[lt]=Įskiepiai
Name[lt_LT]=Įskiepiai
Name[lv]=Sīklietotnes
Name[lv_LV]=Sīklietotnes
Name[ml]=ആപ്‌ലെറ്റുകൾ
Name[ms]=Aplet
Name[ms_MY]=Aplet
Name[nb]=Miniprogrammer
Name[nb_NO]=Miniprogrammer
Name[ne]=एप्प्लेट्स
Name[nl]=Hulptoepassingen
Name[nl_NL]=Hulptoepassingen
Name[nn]=Småprogram
Name[nn_NO]=Småprogram
Name[om]=Apleetota
Name[pa]=ਐਪਲਿਟ
Name[pl]=Aplety
Name[pl_PL]=Aplety
Name[pt_BR]=Miniaplicativos
Name[ro]=Appleturi
Name[ro_RO]=Appleturi
Name[ru]=Апплеты
Name[rue]=Апплеты
Name[sk]=Applety
Name[sk_SK]=Applety
Name[sl]=Apleti
Name[sl_SI]=Apleti
Name[so]=Kaabayaasha
Name[sq]=Programthe
Name[sr]=Програмчићи
Name[sr@Latn]=Apleti
Name[sr@ije]=Програмчићи
Name[sr@ijekavianlatin]=Програмчићи
Name[sr@latin]=Apleti
Name[sv]=Panelprogram
Name[ta]=குறுநிரல்கள்
Name[ta_LK]=குறுநிரல்கள்
Name[te]=ఆప్లెట్లు
Name[tg]=Барномаҳо
Name[th]=แอปเพล็ต
Name[th_TH]=แอปเพล็ต
Name[tr]=Uygulamacıklar
Name[ts]=Tiphurogireme-ntsongo
Name[uk]=Аплети
Name[uk_UA]=Аплети
Name[ur]=ایپلیٹ
Name[ur_PK]=ایپلیٹ
Name[uz]=Апплетлар
Name[uz@cyrillic]=Апплетлар
Name[vi]=Tiểu trình
Name[vi_VN]=Tiểu trình
Name[zh_CN]=小程序
Name[zh_HK]=應用小程式
Name[zh_TW]=面板小程式
Comment=Manage Cinnamon applets
Comment[am]=የ ሲናሞን አፕሌቶች አስተዳዳሪ
Comment[ar]=إدارة بريمجات سينامُن
Comment[ast]=Alministra los applets de Cinnamon
Comment[be]=Кіраванне аплетамi Cinnamon
Comment[be@latin]=Кіраванне аплетамi Cinnamon
Comment[bg]=Управление на аплетите за Cinnamon
Comment[bg_BG]=Управление на аплетите за Cinnamon
Comment[bs]=Upravljaj Cinnamon apletima
Comment[ca]=Administrar applets de Cinnamon
Comment[ca@valencia]=Administra applets de Cinnamon
Comment[ca_ES@valencia]=Administra applets de Cinnamon
Comment[cs]=Správa Cinnamon appletů
Comment[cs_CZ]=Správa Cinnamon appletů
Comment[cy]=Rheolwch raglenigau Cinnamon
Comment[da]=Administrér Cinnamon-panelprogrammer
Comment[da_DK]=Administrér Cinnamon-panelprogrammer
Comment[de]=Cinnamon-Applets verwalten
Comment[de_DE]=Cinnamon-Applets verwalten
Comment[el]=Διαχείριση μικροεφαρμογών Cinnamon
Comment[es]=Administrar applets de Cinnamon
Comment[es_AR]=Administrar applets de Cinnamon
Comment[es_CL]=Administrar applets de Cinnamon
Comment[es_CO]=Administrar applets de Cinnamon
Comment[es_CR]=Administrar applets de Cinnamon
Comment[es_DO]=Administrar applets de Cinnamon
Comment[es_EC]=Administrar applets de Cinnamon
Comment[es_ES]=Administrar applets de Cinnamon
Comment[es_GT]=Administrar applets de Cinnamon
Comment[es_HN]=Administrar applets de Cinnamon
Comment[es_MX]=Administrar applets de Cinnamon
Comment[es_NI]=Administrar applets de Cinnamon
Comment[es_PA]=Administrar applets de Cinnamon
Comment[es_PE]=Administrar applets de Cinnamon
Comment[es_PR]=Administrar applets de Cinnamon
Comment[es_SV]=Administrar applets de Cinnamon
Comment[es_US]=Administrar applets de Cinnamon
Comment[es_UY]=Administrar applets de Cinnamon
Comment[es_VE]=Administrar applets de Cinnamon
Comment[eu]=Kudeatu Cinnamon applet-ak
Comment[fi]=Hallitse Cinnamon-sovelmia
Comment[fi_FI]=Hallitse Cinnamon-sovelmia
Comment[fr]=Gérer les applets de Cinnamon
Comment[fr_CA]=Gérer les applets Cinnamon
Comment[fy]=Cinnamon applets beheare
Comment[gd]=Stiùirich aplaidean Cinnamon
Comment[gl]=Administración dos miniaplicativos de Cinnamon
Comment[gl_ES]=Administración dos miniaplicativos de Cinnamon
Comment[hr]=Upravljajte Cinnamon apletima
Comment[hu]=Cinnamon kisalkalmazások kezelése
Comment[hu_HU]=Cinnamon kisalkalmazások kezelése
Comment[id]=Atur applets Cinnamon
Comment[id_ID]=Atur applets Cinnamon
Comment[is]=Sýsla með Cinnamon forritlinga
Comment[it]=Gestione applet di Cinnamon
Comment[ja]=Cinnamon アプレットの管理
Comment[ja_JP]=Cinnamon アプレットの管理
Comment[ko]=시나몬 애플릿 관리
Comment[ko_KR]=시나몬 애플릿 관리
Comment[lo]=ຈັດການແອັບເພັດ Cinnamon
Comment[lo_LA]=ຈັດການແອັບເພັດ Cinnamon
Comment[lt]=Tvarkyti Cinnamon įskiepius
Comment[lt_LT]=Tvarkyti Cinnamon įskiepius
Comment[lv]=Pārvaldīt Cinnamon sīkrīkus
Comment[lv_LV]=Pārvaldīt Cinnamon sīkrīkus
Comment[ms]=Mengurus applet Cinnamon
Comment[ms_MY]=Mengurus applet Cinnamon
Comment[nb]=Håndter miniprogrammer i Cinnamon
Comment[nb_NO]=Håndter miniprogrammer i Cinnamon
Comment[nds]=Cinnamon Minianwendungen bearbeiten
Comment[nl]=Hulptoepassingen van Cinnamon beheren
Comment[nl_NL]=Hulptoepassingen van Cinnamon beheren
Comment[pl]=Zarządzaj apletami Cinnamona
Comment[pl_PL]=Zarządzaj apletami Cinnamona
Comment[pt]=Gerir applets do Cinnamon
Comment[pt_BR]=Gerenciar miniaplicativos do Cinnamon
Comment[pt_PT]=Gerir applets do Cinnamon
Comment[ro]=Gestionează appleturile Cinnamon
Comment[ro_RO]=Gestionează appleturile Cinnamon
Comment[ru]=Управление апплетами Cinnamon
Comment[sk]=Spravovať aplety Cinnamon
Comment[sk_SK]=Spravovať aplety Cinnamon
Comment[sl]=Upravljajte z apleti Cinnamona
Comment[sl_SI]=Upravljajte z apleti Cinnamona
Comment[sq]=Menaxho programthet e Cinnamon
Comment[sr]=Управљање програмчићима Цимета
Comment[sr@Latn]=Управљање програмчићима Цимета
Comment[sr@ije]=Управљање програмчићима Цимета
Comment[sr@ijekavianlatin]=Управљање програмчићима Цимета
Comment[sr@latin]=Управљање програмчићима Цимета
Comment[sv]=Hantera Cinnamons panelprogram
Comment[tg]=Идоракунии зербарномаҳои Cinnamon
Comment[th]=จัดการแอปเพล็ตต่าง ๆ ของ Cinnamon
Comment[th_TH]=จัดการแอปเพล็ตต่าง ๆ ของ Cinnamon
Comment[tr]=Cinnamon uygulamacıklarını yönet
Comment[uk]=Керування аплетами Cinnamon
Comment[uk_UA]=Керування аплетами Cinnamon
Comment[ur]=سنامون کے ایپلیٹس کا انتظام
Comment[ur_PK]=سنامون کے ایپلیٹس کا انتظام
Comment[uz]=Синнамон апплетларини бошқариш
Comment[uz@cyrillic]=Синнамон апплетларини бошқариш
Comment[vi]=Quản lý tiểu dụng Cinnamon
Comment[vi_VN]=Quản lý tiểu dụng Cinnamon
Comment[zh_CN]=管理Cinnamon小程序
Comment[zh_HK]=管理 Cinnamon 應用小程式
Comment[zh_TW]=管理 Cinnamon 面板小程式
