[Desktop Entry]
Icon=cs-keyboard
Exec=cinnamon-settings keyboard
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Keyboard
Name[af]=Sleutelbord
Name[am]=የፊደል ገበታ
Name[ar]=لوحة المفاتيح
Name[be]=Клавіятура
Name[be@latin]=Клавіятура
Name[bg]=Клавиатура
Name[bn]=কীবোর্ড
Name[bn_IN]=কীবোর্ড
Name[bs]=Tastatura
Name[ca]=Teclat
Name[ca@valencia]=Teclat
Name[cs]=Klávesnice
Name[csb]=Klawiatura
Name[cy]=Bysellfwrdd
Name[da]=Tastatur
Name[de]=Tastatur
Name[el]=Πληκτρολόγιο
Name[eo]=Klavaro
Name[es]=Teclado
Name[es_AR]=Teclado
Name[et]=Klaviatuur
Name[eu]=Teklatua
Name[fa]=صفحه‌کلید
Name[fi]=Näppäimistö
Name[fo]=Knappaborð
Name[fr]=Clavier
Name[fr_CA]=Clavier
Name[ga]=Méarchlár
Name[gd]=Meur-chlàr
Name[gl]=Teclado
Name[he]=מקלדת
Name[hi]=कीबोर्ड
Name[hr]=Tipkovnica
Name[hu]=Billentyűzet
Name[id]=Papan ketik
Name[is]=Lyklaborð
Name[it]=Tastiera
Name[ja]=キーボード
Name[jv]=Kibot
Name[ka]=კლავიატურა
Name[km]=ក្ដារចុច
Name[kn]=ಕೀಲಿಮಣೆ
Name[ko]=키보드
Name[la]=Claviatura
Name[li]=Toetsebord
Name[lo]=ເເປ້ນພີມ
Name[lt]=Klaviatūra
Name[lv]=Tastatūra
Name[ml]=കീബോര്‍ഡ്
Name[mr]=कळफलक
Name[ms]=Papan Kekunci
Name[nb]=Tastatur
Name[nds]=Tastatur
Name[ne]=कीबोर्ड
Name[nl]=Toetsenbord
Name[nn]=Tastatur
Name[oc]=Clavièr
Name[om]=Gabatee furtuu
Name[pa]=ਕੀਬੋਰਡ
Name[pl]=Klawiatura
Name[pt]=Teclado
Name[pt_BR]=Teclado
Name[pt_PT]=Teclado
Name[ro]=Tastatură
Name[ru]=Клавиатура
Name[rue]=Клавїатура
Name[si]=යතුරුපුවරුව
Name[sk]=Klávesnica
Name[sl]=Tipkovnica
Name[so]=Kiiboorka
Name[sq]=Tastiera
Name[sr]=Тастатура
Name[sr@ijekavianlatin]=Тастатура
Name[sr@latin]=Tastatura
Name[sv]=Tangentbord
Name[ta]=விசைப்பலகை
Name[te]=కీబోర్డు
Name[tg]=Клавиатура
Name[th]=แป้นพิมพ์
Name[tpi]=Kibot
Name[tr]=Klavye
Name[ts]=Khibodo
Name[uk]=Клавіатура
Name[ur]=کی بورڈ
Name[uz]=Клавиатура
Name[uz@cyrillic]=Клавиатура
Name[vi]=Bàn phím
Name[zh_CN]=键盘
Name[zh_HK]=鍵盤
Name[zh_TW]=鍵盤
Comment=Manage keyboard settings and shortcuts
Comment[am]=የፊደል ገበታ ማሰናጃዎች እና የ አቋራጭ ቁልፍ አስተዳዳሪ
Comment[bg]=Управление на клавишните настройки и преки пътища
Comment[ca]=Administrar configuració de teclat i dreceres
Comment[ca@valencia]=Administrar configuració de teclat i dreceres
Comment[cs]=Nastavení klásenice a klávesových zkratek
Comment[da]=Administrér tastaturindstillinger og genveje
Comment[de]=Tastatureinstellungen und Tastenkombination verwalten
Comment[el]=Διαχείριση ρυθμίσεων πληκτρολογίου και  πλήκτρων συντόμευσης
Comment[es]=Administrar configuración de teclado y accesos directos
Comment[es_AR]=Administrar configuración de teclado y accesos directos
Comment[fr]=Gérer les paramètres du clavier et les raccourcis
Comment[fr_CA]=Gérer les paramètres du clavier et les raccourcis
Comment[hr]=Upravljajte postavkama i prečacima tipkovnice
Comment[hu]=Billentyűzet beállítások és billentyűparancsok kezelése
Comment[id]=Atur pengaturan keyboard dan shortcuts
Comment[is]=Sýsla með stillingar lyklaborðs og flýtilykla
Comment[it]=Gestisci impostazioni e scorciatoie da tastiera
Comment[lt]=Tvarkyti klaviatūros nustatymus ir klavišų derinius
Comment[lv]=Pārvaldīt tastatūras iestatījumus un saīsnes
Comment[ms]=Mengurus tetapan papan kekunci dan pintasan
Comment[nl]=Toetsenbordinstellingen en sneltoetsen beheren
Comment[pl]=Zarządzaj ustawieniami klawiatury i skrótami
Comment[pt]=Geir as definições de teclado e atalhos
Comment[pt_BR]=Geir as definições de teclado e atalhos
Comment[pt_PT]=Geir as definições de teclado e atalhos
Comment[ro]=Gestionează setările tastaturii și taste scurtături
Comment[sk]=Spravovať nastavenia klávesnice a klávesových skratiek
Comment[sl]=Upravljajte z nastavitvami in bližnjicami tipkovnice
Comment[sv]=Hantera tangentbordsinställningar och genvägar
Comment[tg]=Идоракунии миёнбурҳо ва танзимоти клавиатура
Comment[th]=จัดการการตั้งค่าแป้นพิมพ์และทางลัด
Comment[tr]=Klavye ayarlarını ve kısayollarını yönet
Comment[uk]=Керування налаштуваннями клавіатури та ярликами
Comment[vi]=Quản lý thiết đặt bàn phím và phím tắt
Comment[zh_TW]=管理鍵盤設定與捷徑
