[Desktop Entry]
Icon=cs-keyboard
Exec=cinnamon-settings keyboard
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Keyboard
Name[af]=Sleutelbord
Name[am]=የፊደል ገበታ
Name[ar]=لوحة المفاتيح
Name[ast]=Tecláu
Name[az]=Klaviatura
Name[be]=Клавіятура
Name[be@latin]=Клавіятура
Name[bg]=Клавиатура
Name[bn]=কীবোর্ড
Name[bn_IN]=কীবোর্ড
Name[bs]=Tastatura
Name[ca]=Teclat
Name[ca@valencia]=Teclat
Name[cs]=Klávesnice
Name[csb]=Klawiatura
Name[cy]=Bysellfwrdd
Name[da]=Tastatur
Name[de]=Tastatur
Name[de_DE]=Tastatur
Name[el]=Πληκτρολόγιο
Name[eo]=Klavaro
Name[es]=Teclado
Name[es_AR]=Teclado
Name[es_CL]=Teclado
Name[es_CO]=Teclado
Name[es_CR]=Teclado
Name[es_DO]=Teclado
Name[es_EC]=Teclado
Name[es_ES]=Teclado
Name[es_GT]=Teclado
Name[es_HN]=Teclado
Name[es_MX]=Teclado
Name[es_NI]=Teclado
Name[es_PA]=Teclado
Name[es_PE]=Teclado
Name[es_PR]=Teclado
Name[es_SV]=Teclado
Name[es_US]=Teclado
Name[es_UY]=Teclado
Name[es_VE]=Teclado
Name[et]=Klaviatuur
Name[eu]=Teklatua
Name[fa]=صفحه‌کلید
Name[fa_AF]=صفحه‌کلید
Name[fi]=Näppäimistö
Name[fo]=Knappaborð
Name[fr]=Clavier
Name[fr_CA]=Clavier
Name[fy]=Toetseboerd
Name[ga]=Méarchlár
Name[gd]=Meur-chlàr
Name[gl]=Teclado
Name[he]=מקלדת
Name[hi]=कीबोर्ड
Name[hr]=Tipkovnica
Name[hu]=Billentyűzet
Name[hy]=Ստեղնաշար
Name[id]=Papan ketik
Name[is]=Lyklaborð
Name[it]=Tastiera
Name[ja]=キーボード
Name[jv]=Kibot
Name[ka]=კლავიატურა
Name[km]=ក្ដារចុច
Name[kn]=ಕೀಲಿಮಣೆ
Name[ko]=키보드
Name[la]=Claviatura
Name[li]=Toetsebord
Name[lo]=ແປ້ນພີມ
Name[lt]=Klaviatūra
Name[lv]=Tastatūra
Name[ml]=കീബോര്‍ഡ്
Name[mr]=कळफलक
Name[ms]=Papan Kekunci
Name[ms_MY]=Papan Kekunci
Name[nb]=Tastatur
Name[nds]=Tastatur
Name[ne]=कीबोर्ड
Name[nl]=Toetsenbord
Name[nl_NL]=Toetsenbord
Name[nn]=Tastatur
Name[oc]=Clavièr
Name[om]=Gabatee furtuu
Name[pa]=ਕੀਬੋਰਡ
Name[pl]=Klawiatura
Name[pt]=Teclado
Name[pt_BR]=Teclado
Name[pt_PT]=Teclado
Name[ro]=Tastatură
Name[ru]=Клавиатура
Name[rue]=Клавїатура
Name[si]=යතුරුපුවරුව
Name[sk]=Klávesnica
Name[sl]=Tipkovnica
Name[so]=Kiiboorka
Name[sq]=Tastiera
Name[sr]=Тастатура
Name[sr@Latn]=Tastatura
Name[sr@ije]=Тастатура
Name[sr@ijekavian]=Тастатура
Name[sr@ijekavianlatin]=Тастатура
Name[sr@latin]=Tastatura
Name[sv]=Tangentbord
Name[ta]=விசைப்பலகை
Name[ta_LK]=விசைப்பலகை
Name[te]=కీబోర్డు
Name[tg]=Клавиатура
Name[th]=แป้นพิมพ์
Name[tl]=Tiklado
Name[tpi]=Kibot
Name[tr]=Klavye
Name[ts]=Khibodo
Name[uk]=Клавіатура
Name[ur]=کی بورڈ
Name[ur_PK]=کی بورڈ
Name[uz]=Клавиатура
Name[uz@cyrillic]=Клавиатура
Name[vi]=Bàn phím
Name[zh_CN]=键盘
Name[zh_HK]=鍵盤
Name[zh_TW]=鍵盤
Comment=Manage keyboard settings and shortcuts
Comment[am]=የፊደል ገበታ ማሰናጃዎች እና የ አቋራጭ ቁልፍ አስተዳዳሪ
Comment[ar]=إدارة إعدادات لوحة المفاتيح والاختصارات
Comment[be]=Кіраванне наладамі клавіятуры і гарачымі клавішамі
Comment[be@latin]=Кіраванне наладамі клавіятуры і гарачымі клавішамі
Comment[bg]=Управление на клавишните настройки и преки пътища
Comment[bs]=Upravljaj postavkama tastature i prečica
Comment[ca]=Administrar configuració de teclat i dreceres
Comment[ca@valencia]=Administrar configuració i atalls de teclat
Comment[cs]=Nastavení klásenice a klávesových zkratek
Comment[cy]=Rheoli gosodiadau a llwybrau byr bysellfwrdd
Comment[da]=Administrér tastaturindstillinger og genveje
Comment[de]=Tastatureinstellungen und Tastenkombination verwalten
Comment[de_DE]=Tastatureinstellungen und Tastenkombination verwalten
Comment[el]=Διαχείριση ρυθμίσεων πληκτρολογίου και  πλήκτρων συντόμευσης
Comment[es]=Administrar configuración de teclado y accesos directos
Comment[es_AR]=Administrar configuración de teclado y accesos directos
Comment[es_CL]=Administrar configuración de teclado y accesos directos
Comment[es_CO]=Administrar configuración de teclado y accesos directos
Comment[es_CR]=Administrar configuración de teclado y accesos directos
Comment[es_DO]=Administrar configuración de teclado y accesos directos
Comment[es_EC]=Administrar configuración de teclado y accesos directos
Comment[es_ES]=Administrar configuración de teclado y accesos directos
Comment[es_GT]=Administrar configuración de teclado y accesos directos
Comment[es_HN]=Administrar configuración de teclado y accesos directos
Comment[es_MX]=Administrar configuración de teclado y accesos directos
Comment[es_NI]=Administrar configuración de teclado y accesos directos
Comment[es_PA]=Administrar configuración de teclado y accesos directos
Comment[es_PE]=Administrar configuración de teclado y accesos directos
Comment[es_PR]=Administrar configuración de teclado y accesos directos
Comment[es_SV]=Administrar configuración de teclado y accesos directos
Comment[es_US]=Administrar configuración de teclado y accesos directos
Comment[es_UY]=Administrar configuración de teclado y accesos directos
Comment[es_VE]=Administrar configuración de teclado y accesos directos
Comment[eu]=Kudeatu teklatuaren ezarpen eta laster-teklak
Comment[fi]=Muuta näppäimistön asetuksia ja pikanäppäimiä
Comment[fr]=Gérer les paramètres du clavier et les raccourcis
Comment[fr_CA]=Gérer les paramètres et les raccourcis du clavier
Comment[gd]=Stiùirich roghainnean is ath-ghoiridean a' mheur-chlàir
Comment[gl]=Administra os atallos e axustes do teclado
Comment[hr]=Upravljajte postavkama i prečacima tipkovnice
Comment[hu]=Billentyűzet beállítások és billentyűparancsok kezelése
Comment[id]=Atur pengaturan keyboard dan shortcuts
Comment[is]=Sýsla með stillingar lyklaborðs og flýtilykla
Comment[it]=Gestisci impostazioni e scorciatoie da tastiera
Comment[ja]=キーボード設定・ショートカットの管理
Comment[ko]=키보드 설정과 바로가기 관리
Comment[lt]=Tvarkyti klaviatūros nustatymus ir klavišų derinius
Comment[lv]=Pārvaldīt tastatūras iestatījumus un saīsnes
Comment[ms]=Mengurus tetapan papan kekunci dan pintasan
Comment[ms_MY]=Mengurus tetapan papan kekunci dan pintasan
Comment[nb]=Håndter tastaturinnstillinger og hurtigtaster
Comment[nds]=Tastatureinstellungen und Verknüpfungen verwalten
Comment[nl]=Toetsenbordinstellingen en sneltoetsen beheren
Comment[nl_NL]=Toetsenbordinstellingen en sneltoetsen beheren
Comment[pl]=Zarządzaj ustawieniami klawiatury i skrótami
Comment[pt]=Geir as definições de teclado e atalhos
Comment[pt_BR]=Gerenciar as configurações de teclado e atalhos
Comment[pt_PT]=Geir as definições de teclado e atalhos
Comment[ro]=Gestionează setările tastaturii și scurtăturile
Comment[ru]=Управление настройками клавиатуры и горячими клавишами
Comment[sk]=Spravovať nastavenia klávesnice a klávesových skratiek
Comment[sl]=Upravljajte z nastavitvami in bližnjicami tipkovnice
Comment[sr]=Управљање поставкама тастатуре и пречицама
Comment[sr@Latn]=Управљање поставкама тастатуре и пречицама
Comment[sr@ije]=Управљање поставкама тастатуре и пречицама
Comment[sr@ijekavian]=Управљање поставкама тастатуре и пречицама
Comment[sr@ijekavianlatin]=Управљање поставкама тастатуре и пречицама
Comment[sr@latin]=Управљање поставкама тастатуре и пречицама
Comment[sv]=Hantera tangentbordsinställningar och genvägar
Comment[tg]=Идоракунии миёнбурҳо ва танзимоти клавиатура
Comment[th]=จัดการการตั้งค่าแป้นพิมพ์และทางลัด
Comment[tr]=Klavye ayarlarını ve kısayollarını yönet
Comment[uk]=Керування параметрами роботи клавіатури та клавіатурними скороченнями
Comment[ur]=کیبورڈ کی ترتیبات اور شارٹ کٹ
Comment[ur_PK]=کیبورڈ کی ترتیبات اور شارٹ کٹ
Comment[vi]=Quản lý thiết đặt bàn phím và phím tắt
Comment[zh_CN]=键盘和快捷键设置
Comment[zh_HK]=管理鍵盤設定與快速鍵
Comment[zh_TW]=管理鍵盤設定與快捷鍵組合
