[Desktop Entry]
Icon=cs-thunderbolt
Exec=cinnamon-settings thunderbolt
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Thunderbolt
Comment=Manage Thunderbolt and USB4 devices
Comment[ca]=Gestiona dispositius Thunderbolt i USB4
Comment[ca@valencia]=Gestiona dispositius Thunderbolt i USB4
Comment[da]=Håndtér Thunderbolt- og USB4-enheder
Comment[eo]=Mastrumi Ekfulmo kaj USB4-aparatojn
Comment[es]=Administrar dispositivos Thunderbolt y USB4
Comment[es_AR]=Administrar dispositivos Thunderbolt y USB4
Comment[fi]=Hallitse Thunderbolt- ja USB4-laitteita
Comment[fr]=Gérer Thunderbolt et les périphériques USB4
Comment[fr_CA]=Gérer Thunderbolt et les périphériques USB4
Comment[hu]=Thunderbolt és USB 4 eszközök kezelése
Comment[is]=Sýsla með Thunderbolt og USB4-tæki
Comment[it]=Gestisci dispositivi Thunderbolt e USB4
Comment[ja]=Thunderbolt と USB4 デバイスを管理
Comment[ko]=썬더볼트 및 USB4 장치 관리
Comment[lv]=Pārvaldīt Thunderbolt un USB4 ierīces
Comment[nl]=Thunderbolt- en USB4-apparaten beheren
Comment[oc]=Gerir los periferics Thunderbolt e USB4
Comment[pl]=Zarządzanie urządzeniami Thunderbolt i USB4
Keywords=thunderbolt;usb;docking;station;hub;dock;
Keywords[ca]=thunderbolt;usb;docking;station;estació;hub;dock;
Keywords[ca@valencia]=thunderbolt;usb;docking;station;estació;hub;dock;
Keywords[da]=thunderbolt;usb;docking;station;hub;dock;dok;
Keywords[eo]=ekfulmo;usb;endokigo;doko;nabo;doko;
Keywords[es]=thunderbolt;usb;docking;estación;hub;dock;
Keywords[es_AR]=thunderbolt;usb;docking;estación;hub;dock;
Keywords[fi]=thunderbolt;usb;liitos;asema;keskitin;telakka;
Keywords[hu]=Thunderbolt;USB;dokkolóállomás;HUB;dokkoló;
Keywords[ja]=thunderbolt;usb;docking;station;hub;dock;サンダーボルト;ドッキング;ステーション;ハブ;ドック;
Keywords[ko]=썬더볼트;usb;도킹;스테이션;허브;독;
Keywords[lv]=thunderbolt;usb;dokošana;stacija;centrmezgls;doks;
Keywords[oc]=thunderbolt;usb;dock;estacion;hub;dock;
Keywords[pl]=thunderbolt;usb;dokowanie;stacja;hub;stacja dokująca;
