[Desktop Entry]
Icon=cs-universal-access
Exec=cinnamon-settings universal-access
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Accessibility
Name[af]=Toeganklikheid
Name[am]=በቀላሉ የሚደረስበት
Name[ar]=تسهيل الوصول
Name[ast]=Accesibilidá
Name[az]=Əlçatımlılıq
Name[az_AZ]=Əlçatımlılıq
Name[be]=Дадатковыя магчымасці
Name[be@latin]=Дадатковыя магчымасці
Name[be_BY]=Дадатковыя магчымасці
Name[bg]=Достъпност
Name[bg_BG]=Достъпност
Name[bn]=প্রবেশযোগ্যতা
Name[bn_IN]=প্রবেশযোগ্যতা
Name[bs]=Pristupačnost
Name[ca]=Accessibilitat
Name[ca@valencia]=Accessibilitat
Name[ca_ES]=Accessibilitat
Name[ca_ES@valencia]=Accessibilitat
Name[crh]=Erişilebilirlik
Name[cs]=Zpřístupnění
Name[cs_CZ]=Zpřístupnění
Name[csb]=Przistãpnosc
Name[cy]=Hygyrchedd
Name[da]=Tilgængelighed
Name[da_DK]=Tilgængelighed
Name[de]=Barrierefreiheit
Name[de_CH]=Barrierefreiheit
Name[de_DE]=Barrierefreiheit
Name[el]=Προσβασιμότητα
Name[eo]=Alirebleco
Name[es]=Accesibilidad
Name[es_419]=Accesibilidad
Name[es_AR]=Accesibilidad
Name[es_CL]=Accesibilidad
Name[es_CO]=Accesibilidad
Name[es_CR]=Accesibilidad
Name[es_DO]=Accesibilidad
Name[es_EC]=Accesibilidad
Name[es_ES]=Accesibilidad
Name[es_GT]=Accesibilidad
Name[es_HN]=Accesibilidad
Name[es_MX]=Accesibilidad
Name[es_NI]=Accesibilidad
Name[es_PA]=Accesibilidad
Name[es_PE]=Accesibilidad
Name[es_PR]=Accesibilidad
Name[es_SV]=Accesibilidad
Name[es_US]=Accesibilidad
Name[es_UY]=Accesibilidad
Name[es_VE]=Accesibilidad
Name[et]=Hõlbustus
Name[eu]=Erabilerraztasuna
Name[fa]=دسترس‌پذیری
Name[fa_AF]=دسترس‌پذیری
Name[fa_IR]=دسترس‌پذیری
Name[fi]=Esteettömyys
Name[fi_FI]=Esteettömyys
Name[fil]=Pagkarating
Name[fr]=Accessibilité
Name[fr_CA]=Accessibilité
Name[fr_FR]=Accessibilité
Name[fy]=Tagonklikens
Name[ga]=Inrochtaineacht
Name[gd]=Ruigsinneachd
Name[gl]=Accesibilidade
Name[gl_ES]=Accesibilidade
Name[he]=נגישות
Name[he_IL]=נגישות
Name[hr]=Pristupačnost
Name[hu]=Akadálymentesítés
Name[hu_HU]=Akadálymentesítés
Name[hy]=Մատչելիություն
Name[ia]=Accessibilitate
Name[id]=Aksesibilitas
Name[id_ID]=Aksesibilitas
Name[is]=Auðveldað aðgengi
Name[it]=Accessibilità
Name[it_IT]=Accessibilità
Name[ja]=ユーザ補助
Name[ja_JP]=ユーザ補助
Name[kab]=Tuffart
Name[kk]=Қол жетерлілік
Name[km]=មធ្យោបាយ​ងាយស្រួល
Name[km_KH]=មធ្យោបាយ​ងាយស្រួល
Name[kn]=ನಿಲುಕಣೆ (ಆಕ್ಸೆಸಿಬಿಲಿಟಿ)
Name[ko]=편리한 기능
Name[ko_KR]=편리한 기능
Name[la]=Adcessibilitas
Name[lo]=ການຊ່ວຍການເຂົ້າເຖິງ
Name[lo_LA]=ການຊ່ວຍການເຂົ້າເຖິງ
Name[lt]=Prieinamumas
Name[lt_LT]=Prieinamumas
Name[lv]=Pieejamība
Name[lv_LV]=Pieejamība
Name[ml]=ഉപയോഗലഭ്യത
Name[ml_IN]=ഉപയോഗലഭ്യത
Name[mr]=सुलभता
Name[ms]=Kebolehcapaian
Name[ms_MY]=Kebolehcapaian
Name[nb]=Tilgjengelighet
Name[nb_NO]=Tilgjengelighet
Name[nds]=Zugänglichkeit
Name[ne]=पहुँचयोग्य
Name[nl]=Toegankelijkheid
Name[nl_NL]=Toegankelijkheid
Name[nn]=Tilgjengefunksjonar
Name[nn_NO]=Tilgjengefunksjonar
Name[oc]=Accessibilitat
Name[om]=Gahiinsa
Name[pa]=ਅਸੈੱਸਬਿਲਟੀ
Name[pl]=Ułatwienia dostępu
Name[pl_PL]=Ułatwienia dostępu
Name[pt]=Acessibilidade
Name[pt_BR]=Acessibilidade
Name[pt_PT]=Acessibilidade
Name[ro]=Accesibilitate
Name[ro_RO]=Accesibilitate
Name[ru]=Специальные возможности
Name[rue]=Доступ
Name[sc]=Atzessibilidade
Name[si]=ප්‍රවේශතාවය
Name[sk]=Zjednodušenie ovládania
Name[sk_SK]=Zjednodušenie ovládania
Name[sl]=Dostopnost
Name[sl_SI]=Dostopnost
Name[so]=Sahlidda
Name[sq]=Përdorshmëria
Name[sr]=Приступачност
Name[sr@Latn]=Pristupačnost
Name[sr@ije]=Приступачност
Name[sr@ijekavian]=Приступачност
Name[sr@ijekavianlatin]=Приступачност
Name[sr@latin]=Pristupačnost
Name[sr_RS]=Приступачност
Name[sv]=Tillgänglighet
Name[ta]=அணுகல்தன்மை
Name[ta_LK]=அணுகல்தன்மை
Name[te]=ప్రాప్తత
Name[tg]=Қобилияти дастрасӣ
Name[th]=สิ่งอำนวยความสะดวก
Name[th_TH]=สิ่งอำนวยความสะดวก
Name[tl]=Pagkarating
Name[tr]=Erişilebilirlik
Name[tr_TR]=Erişilebilirlik
Name[ts]=Mfikelelo
Name[tt]=Алу
Name[tt@iqtelif]=Алу
Name[uk]=Спеціяльні можливости
Name[uk_UA]=Спеціяльні можливости
Name[ur]=رسائی
Name[ur_PK]=رسائی
Name[uz]=Фойдаланишга рухсат мавжудлиги
Name[uz@cyrillic]=Фойдаланишга рухсат мавжудлиги
Name[vi]=Khả năng Truy cập
Name[vi_VN]=Khả năng Truy cập
Name[zh_CN]=辅助功能
Name[zh_HK]=無障礙存取
Name[zh_TW]=無障礙
Comment=Configure accessibility features
Comment[bg]=Конфигуриране на функциите за достъпност
Comment[bg_BG]=Конфигуриране на функциите за достъпност
Comment[ca]=Configura les funcions d'accessibilitat
Comment[ca@valencia]=Configura les funcions d'accessibilitat
Comment[ca_ES]=Configura les funcions d'accessibilitat
Comment[ca_ES@valencia]=Configura les funcions d'accessibilitat
Comment[cs]=Nastavení vlastností zpřístupnění
Comment[cs_CZ]=Nastavení vlastností zpřístupnění
Comment[cy]=Ffurfweddu dewisiadau hygyrchedd
Comment[da]=Konfigurér tilgængelighedsfunktioner
Comment[da_DK]=Konfigurér tilgængelighedsfunktioner
Comment[de]=Barrierefreiheitsfunktionen konfigurieren
Comment[de_CH]=Barrierefreiheitsfunktionen konfigurieren
Comment[de_DE]=Barrierefreiheitsfunktionen konfigurieren
Comment[el]=Προσαρμογή λειτουργιών προσβασιμότητας
Comment[es]=Configurar las funciones de accesibilidad
Comment[es_419]=Configurar las funciones de accesibilidad
Comment[es_AR]=Configurar las funciones de accesibilidad
Comment[es_CL]=Configurar las funciones de accesibilidad
Comment[es_CO]=Configurar las funciones de accesibilidad
Comment[es_CR]=Configurar las funciones de accesibilidad
Comment[es_DO]=Configurar las funciones de accesibilidad
Comment[es_EC]=Configurar las funciones de accesibilidad
Comment[es_ES]=Configurar las funciones de accesibilidad
Comment[es_GT]=Configurar las funciones de accesibilidad
Comment[es_HN]=Configurar las funciones de accesibilidad
Comment[es_MX]=Configurar las funciones de accesibilidad
Comment[es_NI]=Configurar las funciones de accesibilidad
Comment[es_PA]=Configurar las funciones de accesibilidad
Comment[es_PE]=Configurar las funciones de accesibilidad
Comment[es_PR]=Configurar las funciones de accesibilidad
Comment[es_SV]=Configurar las funciones de accesibilidad
Comment[es_US]=Configurar las funciones de accesibilidad
Comment[es_UY]=Configurar las funciones de accesibilidad
Comment[es_VE]=Configurar las funciones de accesibilidad
Comment[eu]=Konfiguratu erabilerraztasun ezaugarriak
Comment[fi]=Hallitse esteettömyysasetuksia
Comment[fi_FI]=Hallitse esteettömyysasetuksia
Comment[fr]=Configuration des fonctionnalités d'accessibilité
Comment[fr_CA]=Configuration des fonctionnalités d'accessibilité
Comment[fr_FR]=Configuration des fonctionnalités d'accessibilité
Comment[hr]=Prilagodi značajke pristupaćnosti
Comment[hu]=Akadálymentesítési szolgáltatások beállítása
Comment[hu_HU]=Akadálymentesítési szolgáltatások beállítása
Comment[ia]=Configurar le characteristicas de accessibilitate
Comment[id]=Konfigurasi fitur aksesibilitas
Comment[id_ID]=Konfigurasi fitur aksesibilitas
Comment[is]=Stilla auðveldað aðgengi
Comment[it]=Configura le caratteristiche di accessibilità
Comment[it_IT]=Configura le caratteristiche di accessibilità
Comment[kab]=Aswalo n tmesɣent  n tuffart
Comment[ko]=편리한 기능 설정하기
Comment[ko_KR]=편리한 기능 설정하기
Comment[lt]=Konfigūruoti prieinamumo ypatybes
Comment[lt_LT]=Konfigūruoti prieinamumo ypatybes
Comment[nl]=Toegankelijkheidsfuncties instellen
Comment[nl_NL]=Toegankelijkheidsfuncties instellen
Comment[pl]=Konfiguruj funkcje ułatwienia dostępu
Comment[pl_PL]=Konfiguruj funkcje ułatwienia dostępu
Comment[pt]=Configurar as funções de acessibilidade.
Comment[pt_BR]=Configure recursos de acessibilidade
Comment[pt_PT]=Configurar as funções de acessibilidade.
Comment[ro]=Configurează caracteristicile de accesibilitate
Comment[ro_RO]=Configurează caracteristicile de accesibilitate
Comment[ru]=Настройка специальных возможностей
Comment[sc]=Configura sas propriedades de atzessibilidade
Comment[sk]=Konfigurovať funkcie zjednodušenia ovládania
Comment[sk_SK]=Konfigurovať funkcie zjednodušenia ovládania
Comment[sr]=Подесите функције приступачности
Comment[sr@Latn]=Подесите функције приступачности
Comment[sr@ije]=Подесите функције приступачности
Comment[sr@ijekavian]=Подесите функције приступачности
Comment[sr@ijekavianlatin]=Подесите функције приступачности
Comment[sr@latin]=Подесите функције приступачности
Comment[sr_RS]=Подесите функције приступачности
Comment[sv]=Ställ in tillgänglighets egenskaper
Comment[th]=ตั้งค่าคุณลักษณะการเข้าถึง
Comment[th_TH]=ตั้งค่าคุณลักษณะการเข้าถึง
Comment[tr]=Erişilebilirlik özelliklerini yapılandırın
Comment[tr_TR]=Erişilebilirlik özelliklerini yapılandırın
Comment[uk]=Налаштування спеціяльних можливостей
Comment[uk_UA]=Налаштування спеціяльних можливостей
Comment[ur]=رسائی کے فیچر تشکیل دیں
Comment[ur_PK]=رسائی کے فیچر تشکیل دیں
Comment[zh_CN]=配置辅助功能
Comment[zh_HK]=設定無障礙存取功能
Comment[zh_TW]=調整無障礙輔助功能
Keywords=magnifier;talk;access;zoom;keys;contrast;
Keywords[am]=ማጉያ : መነጋገሪያ : ፍቃድ : ማሳያ : ቁልፎች : ማነፃፅሪያ;
Keywords[ar]=عدسة، تكلم، ولوج، تكبير، مفاتيح، تباين;
Keywords[ast]=lente;falar;accesu;zoom;tecles;contraste;
Keywords[be]=лупа;казаць;доступ;zoom;ключы;кантраснасць;
Keywords[be@latin]=лупа;казаць;доступ;zoom;ключы;кантраснасць;
Keywords[be_BY]=лупа;казаць;доступ;zoom;ключы;кантраснасць;
Keywords[bg]=лупа;говор;достъп;мащаб;клавиши;контраст;
Keywords[bg_BG]=лупа;говор;достъп;мащаб;клавиши;контраст;
Keywords[bs]=povećalo;govor;pristup;zumiranje;kontrast;
Keywords[ca]=lupa;veu;accés;zoom;tecles;contrast;
Keywords[ca@valencia]=lupa;parlar;accés;zoom;tecles;contrast;
Keywords[ca_ES]=lupa;veu;accés;zoom;tecles;contrast;
Keywords[ca_ES@valencia]=lupa;parlar;accés;zoom;tecles;contrast;
Keywords[cs]=lupa;mluvení;přístup;přiblížení;kontrast;
Keywords[cs_CZ]=lupa;mluvení;přístup;přiblížení;kontrast;
Keywords[cy]=chwyddwr;siarad;mynediad;chwyddo. allweddi;cyferbyniad;
Keywords[da]=lup;tal;tilgængelighed;forstør;formindsk;taster;kontrast;
Keywords[da_DK]=lup;tal;tilgængelighed;forstør;formindsk;taster;kontrast;
Keywords[de]=Lupe;sprechen;Zugriff;Zoom;Vergrößern;Tasten;Kontrast;
Keywords[de_CH]=Lupe;sprechen;Zugriff;Zoom;Vergrößern;Tasten;Kontrast;
Keywords[de_DE]=Lupe;sprechen;Zugriff;Zoom;Vergrößern;Tasten;Kontrast;
Keywords[el]=μεγεθυντής;συνομιλία;πρόσβαση;μεγέθυνση;πλήκτρα;αντίθεση;
Keywords[es]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_419]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_AR]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_CL]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_CO]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_CR]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_DO]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_EC]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_ES]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_GT]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_HN]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_MX]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_NI]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_PA]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_PE]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_PR]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_SV]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_US]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_UY]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[es_VE]=lupa;hablar;acceso;zoom;teclas;contraste;
Keywords[eu]=lupa;hitz egin;sarbidea;zooma;teklak;kontrastea;
Keywords[fa]=ذره‌بین، سخن، دسترسی، زوم، کلیدها، کنتراست;
Keywords[fa_AF]=ذره‌بین، سخن، دسترسی، زوم، کلیدها، کنتراست;
Keywords[fa_IR]=ذره‌بین، سخن، دسترسی، زوم، کلیدها، کنتراست;
Keywords[fi]=suurennuslasi;puhe;pääsy;suurennus;näppäimet;kontrasti;
Keywords[fi_FI]=suurennuslasi;puhe;pääsy;suurennus;näppäimet;kontrasti;
Keywords[fr]=loupe;parole;accès;zoom;touches;contraste;
Keywords[fr_CA]=loupe;parler;accès;zoom;clés;contraste;
Keywords[fr_FR]=loupe;parole;accès;zoom;touches;contraste;
Keywords[fy]=fergrutglês;skilje;tagong;fergrutsje;kaaien;kontrast;
Keywords[ga]=formhéadaitheoir;caint;rochtain;súmáil;eochracha;codarsnacht;
Keywords[gd]=meudaichear;còmhradh;cothrom;sùm;iuchraichean;iomsgaradh;magnifier;talk;access;zoom;keys;contrast;
Keywords[gl]=lupa;conversa;acceso;zoom;chaves;contraste;
Keywords[gl_ES]=lupa;conversa;acceso;zoom;chaves;contraste;
Keywords[hr]=povećalo;govor;pristup;uvećanje;tipke;kontrast;
Keywords[hu]=nagyító;csevegés;hozzáférés;nagyítás;kulcsok;kontraszt;
Keywords[hu_HU]=nagyító;csevegés;hozzáférés;nagyítás;kulcsok;kontraszt;
Keywords[ia]=aggranditor;confabular;accesso;zoom;claves;contrasto;
Keywords[id]=kaca pembesar;bicara;akses;perbesar;kunci;kontras;
Keywords[id_ID]=kaca pembesar;bicara;akses;perbesar;kunci;kontras;
Keywords[is]=skjástækkun;tal;aðgengi;aðdráttur;lyklar;birtuskil;
Keywords[it]=lente d'ingrandimento;parlato;accesso;zoom;chiavi;contrasto;
Keywords[it_IT]=lente d'ingrandimento;parlato;accesso;zoom;chiavi;contrasto;
Keywords[ja]=拡大鏡、トーク、アクセス、ズーム、キー、コントラスト;
Keywords[ja_JP]=拡大鏡、トーク、アクセス、ズーム、キー、コントラスト;
Keywords[kab]=tlinint;awal;adduf;zoom;tiqeffalin;tamarit;
Keywords[ko]=돋보기;톡;연결;줌;키;대비;
Keywords[ko_KR]=돋보기;톡;연결;줌;키;대비;
Keywords[lo]=magnifier;ເວົ້າ;ເຂົ້າເຖິງ;ຊູມ;keys;contrast;
Keywords[lo_LA]=magnifier;ເວົ້າ;ເຂົ້າເຖິງ;ຊູມ;keys;contrast;
Keywords[lt]=vaizdo didinimas;įgarsinimas;kita prieiga;mygtukai;kontrastas;
Keywords[lt_LT]=vaizdo didinimas;įgarsinimas;kita prieiga;mygtukai;kontrastas;
Keywords[lv]=palielinātājs;runāt;piekļuve;tālummaiņa;atslēgas;kontrasts;
Keywords[lv_LV]=palielinātājs;runāt;piekļuve;tālummaiņa;atslēgas;kontrasts;
Keywords[ms]=pembesar;bual;capaian;zum;kekunci;beza jelas;
Keywords[ms_MY]=pembesar;bual;capaian;zum;kekunci;beza jelas;
Keywords[nb]=forstørrelsesglass;snakk;tilgang;forstørr;nøkler;kontrast;
Keywords[nb_NO]=forstørrelsesglass;snakk;tilgang;forstørr;nøkler;kontrast;
Keywords[nds]=Lupe;sprechen;Zugang;Zoom;Tasten;Kontrast;
Keywords[nl]=vergrootglas;spraak;toegang;zoomen;toetsen;contrast;
Keywords[nl_NL]=vergrootglas;spraak;toegang;zoomen;toetsen;contrast;
Keywords[pa]=ਮੈਗਨੀਫਾਇਰ;ਟਾੱਕ;ਅੱਕਸੈੱਸ;ਜ਼ੂਮ;ਚਾਬੀਆਂ;ਕੋਂਟਰਾਸਟ;
Keywords[pl]=lupa;rozmowy;dostęp;powiększenie;klucze;kontrast;
Keywords[pl_PL]=lupa;rozmowy;dostęp;powiększenie;klucze;kontrast;
Keywords[pt]=amplificador;conversa;acesso;ampliação;teclas;contraste;
Keywords[pt_BR]=lupa;fala;acesso;zoom;teclas;contraste;
Keywords[pt_PT]=amplificador;conversa;acesso;ampliação;teclas;contraste;
Keywords[ro]=lupă;conversație;acces;mărire;taste;contrast;
Keywords[ro_RO]=lupă;conversație;acces;mărire;taste;contrast;
Keywords[ru]=лупа;разговор;доступ;масштабирование;ключи;контрастность;
Keywords[sc]=lente de ismanniadura;faeddare;atzessu;zoom;tastos;cuntrastu;
Keywords[sk]=lupa;hovorenie;prístup;priblíženie;kľúče;kontrast;
Keywords[sk_SK]=lupa;hovorenie;prístup;priblíženie;kľúče;kontrast;
Keywords[sl]=povečevalno steklo;govor;dostop;približanje;tipke;kontrast;
Keywords[sl_SI]=povečevalno steklo;govor;dostop;približanje;tipke;kontrast;
Keywords[sr]=лупа;говор;приступ;увеличавање;дугмад;контраст;
Keywords[sr@Latn]=лупа;говор;приступ;увеличавање;дугмад;контраст;
Keywords[sr@ije]=лупа;говор;приступ;увеличавање;дугмад;контраст;
Keywords[sr@ijekavian]=лупа;говор;приступ;увеличавање;дугмад;контраст;
Keywords[sr@ijekavianlatin]=лупа;говор;приступ;увеличавање;дугмад;контраст;
Keywords[sr@latin]=лупа;говор;приступ;увеличавање;дугмад;контраст;
Keywords[sr_RS]=лупа;говор;приступ;увеличавање;дугмад;контраст;
Keywords[sv]=förstoringsglas;tal;åtkomst;zoom;nycklar;kontrast;
Keywords[ta]=உருப்பெருக்கி;பேச்சு;அணுகல்;பெரிதாக்குதல்;விசைகள்;வேறுபாடு;
Keywords[ta_LK]=உருப்பெருக்கி;பேச்சு;அணுகல்;பெரிதாக்குதல்;விசைகள்;வேறுபாடு;
Keywords[tg]=бузургнамо;гуфтугӯ;дастрасӣ;танзими андоза;калидҳо;контраст;
Keywords[th]=แว่นขยาย;เครื่องอ่านออกเสียงข้อความ;การเข้าถึง;ย่อ/ขยาย;แป้น;ความสว่าง;
Keywords[th_TH]=แว่นขยาย;เครื่องอ่านออกเสียงข้อความ;การเข้าถึง;ย่อ/ขยาย;แป้น;ความสว่าง;
Keywords[tr]=büyüteç;konuşma;erişim;büyütme;anahtarlar;kontrast;
Keywords[tr_TR]=büyüteç;konuşma;erişim;büyütme;anahtarlar;kontrast;
Keywords[uk]=лупа;розмова;доступ;масштабування;ключі;контрастність;
Keywords[uk_UA]=лупа;розмова;доступ;масштабування;ключі;контрастність;
Keywords[ur]=میگنی فائر، ٹاک(talk)، رسائی، زوم، کلیدیں، تناسب امتزاج(contrast);
Keywords[ur_PK]=میگنی فائر، ٹاک(talk)، رسائی، زوم، کلیدیں، تناسب امتزاج(contrast);
Keywords[uz]=лупа;суҳбат;рухсат бериш;масштабни ўзгартириш;калитлар;контраст;
Keywords[uz@cyrillic]=лупа;суҳбат;рухсат бериш;масштабни ўзгартириш;калитлар;контраст;
Keywords[vi]=kính phóng đại;nói chuyện;truy cập;thu phóng;phím;tương phản;
Keywords[vi_VN]=kính phóng đại;nói chuyện;truy cập;thu phóng;phím;tương phản;
Keywords[zh_CN]=magnifier;talk;access;zoom;keys;contrast;放大;语音;访问;辅助;缩放;键;联系人;
Keywords[zh_HK]=magnifier;talk;access;zoom;keys;contrast;放大鏡;聊天;存取;縮放;按鍵;對比度;
Keywords[zh_TW]=放大鏡;聊天;存取;縮放;按鍵;對比;
