[Desktop Entry]
Icon=cs-themes
Exec=cinnamon-settings themes
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Themes
Name[af]=Temas
Name[am]=ገፅታዎች
Name[ar]=الثيمات
Name[ast]=Temes
Name[ay]=Taqpach uñjawinaka
Name[az]=Örtüklər
Name[be]=Тэмы
Name[bg]=Теми
Name[bn]=থীম
Name[br]=Temoù
Name[bs]=Teme
Name[ca]=Temes
Name[ca@valencia]=Temes
Name[crh]=temalar
Name[cs]=Motivy vzhledu
Name[csb]=Mòtiwë
Name[cy]=Themâu
Name[da]=Temaer
Name[de]=Themen
Name[el]=Θέματα
Name[eo]=Etosoj
Name[es]=Temas
Name[es_AR]=Temas
Name[et]=Teemad
Name[eu]=Gaiak
Name[fa]=قالب‌ها
Name[fi]=Teemat
Name[fil]=Mga Tema
Name[fr]=Thèmes
Name[fr_CA]=Thèmes
Name[fy]=Tema's
Name[ga]=Téamaí
Name[gd]=Ùrlaran
Name[gl]=Temas
Name[he]=ערכות נושא
Name[hi]=थीम्स
Name[hr]=Teme
Name[hu]=Témák
Name[hy]=Թեմաներ
Name[ia]=Themas
Name[id]=Tema
Name[ie]=Temas
Name[is]=Þemu
Name[it]=Temi
Name[ja]=テーマ
Name[ka]=თემები
Name[kab]=Isental
Name[kk]=Нақыштар
Name[km]=ស្បែក
Name[ko]=테마
Name[ku]=Dirb
Name[la]=Themata
Name[li]=Thema's
Name[lo]=ລັກສະນະ
Name[lt]=Apipavidalinimai
Name[lv]=Motīvi
Name[ml]=രംഗവിധാനങ്ങൾ
Name[mo]=Теме визуале
Name[mr]=थीम्स
Name[ms]=Tema
Name[nap]=Temi
Name[nb]=Temaer
Name[nds]=Themen
Name[ne]=थेमहरु
Name[nl]=Thema's
Name[nn]=Drakter
Name[oc]=Tèmas
Name[om]=Bifoota
Name[pa]=ਥੀਮ
Name[pl]=Motywy
Name[pt]=Temas
Name[pt_BR]=Temas
Name[ro]=Teme
Name[ru]=Темы
Name[rue]=Темы
Name[sc]=Temas
Name[si]=තේමාවන්
Name[sk]=Motívy
Name[sl]=Teme
Name[so]=Siimyadda
Name[sq]=Temat
Name[sr]=Теме
Name[sr@ijekavian]=Теме
Name[sr@ijekavianlatin]=Теме
Name[sr@latin]=Teme
Name[sv]=Teman
Name[ta]=தள வடிவங்கள்
Name[te]=అలంకారాలు
Name[tg]=Мавзӯҳо
Name[th]=ชุดตกแต่ง
Name[tl]=Mga Tema
Name[tr]=Temalar
Name[ts]=Nkongomelo
Name[tt]=Темы
Name[uk]=Теми
Name[ur]=تھیمز
Name[uz]=Mavzular
Name[vi]=Giao diện
Name[xh]=Umxholo
Name[zh_CN]=主题
Name[zh_HK]=佈景主題
Name[zh_TW]=佈景主題
Comment=Manage themes to change how your desktop looks
Comment[am]=የ እርስዎ ዴስክቶፕ ገጽታ ምን እንደሚመስል መቆጣጠሪያ
Comment[ar]=إدارة الثيمات لتغيير كيفية ظهور سطح المكتب
Comment[ast]=Alministra los temes y camuda l'aspeutu del to escritoriu
Comment[ay]=Iskrituryu (escritorio) mayjaptayañatakix, taqpacha uñjaw irpaña
Comment[az]=İş qoyacağının görünüşünü dəyişmək üçün örtükləri yönəldin
Comment[be]=Кіраваць тэмамі знешняга выгляду працоўнага стала
Comment[bg]=Управлявайте темите, за да промените вида на вашия работен плот
Comment[br]=Merañ temoù da cheñch neuz ar burev
Comment[bs]=Upravljaj temama da promijenite kako vaš desktop izgleda
Comment[ca]=Gestioneu els temes per canviar l'aparença del vostre escriptori
Comment[ca@valencia]=Gestioneu els temes per canviar l'aparença del vostre escriptori
Comment[cs]=Spravovat motivy a změnit tak vzhled pracovního prostředí
Comment[cy]=Rheoli themâu er mwyn newid sut olwg sydd ar eich sgrin
Comment[da]=Administrér temaer for at ændre, hvordan dit skrivebord ser ud
Comment[de]=Themen verwalten, um das Aussehen des Schreibtischs zu verändern
Comment[el]=Ρυθμίστε τα θέματα και αλλάξτε την εμφάνιση του υπολογιστή
Comment[eo]=Administri etosojn por ŝanĝi la aspekton de via labortablo
Comment[es]=Gestionar temas para cambiar el aspecto del escritorio
Comment[es_AR]=Gestionar temas para cambiar el aspecto del escritorio
Comment[et]=Teemade haldamine töölaua välimuse kohandamiseks
Comment[eu]=Kudeatu gaiak zure mahaigainaren itxura aldatzeko
Comment[fa]=مدیریت تم ها برای تغییر ظاهر میزکارتان
Comment[fi]=Muuta pöydän ulkonäköä teemojen avulla
Comment[fr]=Gérer les thèmes pour changer l'apparence du bureau
Comment[fr_CA]=Gérer les thèmes pour changer l’apparence de votre bureau
Comment[gd]=Stiùirich ùrlaran gus an coltas a tha air an deasg agad atharrachadh
Comment[gl]=Administra os temas do escritorio
Comment[he]=ניהול ערכות נושא לשינוי מראה מצג שולחן־העבודה
Comment[hi]=डेस्कटॉप स्वरुप हेतु थीम प्रबंधन
Comment[hr]=Upravljajte temama za promjenu izgleda vaše radne površine
Comment[hu]=Témák kezelése az asztal kinézetének megváltoztatásához
Comment[ia]=Gere le themas pro cambiar le apparentia de tu scriptorio
Comment[id]=Mengatur tema untuk mengubah tampilan desktop Anda
Comment[is]=Sýsla með þemu til að breyta útliti skjáborðsins
Comment[it]=Gestisci i temi per cambiare l'aspetto del desktop
Comment[ja]=テーマを管理し、デスクトップの外観を変更します
Comment[kab]=Sefrek isental iwakken ad tbeddeleḍ timeẓri n tnarit-inek
Comment[ko]=테마 관리는 여러분의 컴퓨터를 달라 보이게 할 겁니다
Comment[la]=Themata ad faciem scriptorii mutandam cura
Comment[lt]=Tvarkykite apipavidalinimus darbalaukio vaizdui pakeisti
Comment[lv]=Pārvaldīt motīvus, lai mainītu jūsu darbvirsmas izskatu
Comment[ms]=Mengurus tema untuk tukar bagaimana rupa desktop anda
Comment[nb]=Tilpass tema for å endre hvordan skrivebordet ser ut
Comment[nds]=Themen verwalten, um den Desktop auf Ihre Bedürfnisse einzurichten
Comment[nl]=Thema's beheren om te veranderen hoe uw bureaublad eruit ziet
Comment[oc]=Gerir los tèmas per cambiar l'aparéncia del burèu
Comment[pl]=Zarządzaj motywami, aby zmienić wygląd pulpitu
Comment[pt]=Gerir temas para o ambiente de trabalho
Comment[pt_BR]=Gerenciar temas para mudar o visual da sua área de trabalho
Comment[ro]=Gestionează temele pentru a schimba aspectul desktopului
Comment[ru]=Управление темами внешнего вида рабочего стола
Comment[rue]=Справованя темами вонкашнього виду роботного стола
Comment[sc]=Manìgia temas pro cambiare s'aspetu de s'iscrivania tua
Comment[sk]=Spravuje motívy na zmenu vzhľadu prostredia
Comment[sl]=Upravljajte s temami za spreminjanje izgleda vašega namizja
Comment[sq]=Menaxhoni temat për të ndryshuar si duket desktopi juaj
Comment[sr]=Управљајте темама да измените изглед радне површи
Comment[sr@ijekavian]=Управљајте темама да измените изглед радне површи
Comment[sr@ijekavianlatin]=Управљајте темама да измените изглед радне површи
Comment[sr@latin]=Upravljajte temama da biste promenili izgled Vaše radne površine
Comment[sv]=Hantera teman för att ändra hur ditt skrivbord ser ut
Comment[tg]=Идоракунии мавзӯҳо ва намуди зоҳирии мизи корӣ
Comment[th]=จัดการชุดตกแต่งเพื่อเปลี่ยนว่าจะให้พื้นโต๊ะของคุณมีมุมมองอย่างไรบ้าง
Comment[tr]=Masaüstü görüntünüzü özelleştirmek için temaları yönetin
Comment[uk]=Керуйте темами, щоб змінити вигляд Вашого робочого столу
Comment[uz]=Ish stoli koʻrinishini oʻzgartirish uchun mavzularni boshqaring
Comment[vi]=Quản lý chủ đề để thay đổi giao diện màn hình chính
Comment[zh_CN]=管理主体以改变您桌面的外貌
Comment[zh_HK]=管理佈景主題以變更你的桌面外觀
Comment[zh_TW]=管理佈景主題以變更您的桌面外觀
Keywords=themes;style;
Keywords[am]=ገጽታዎች ፡ ዘዴ;
Keywords[ar]=الثيمات;الأسلوب;
Keywords[ast]=temes;estilu;
Keywords[ay]=taqpach uñjawinaka;kasta;temas;estilo;
Keywords[az]=örtüklər;biçim;
Keywords[be]=тэмы;стыль;
Keywords[bg]=тема;стил;
Keywords[br]=temoù;stil;
Keywords[bs]=teme;stilovi;
Keywords[ca]=temes;estil;
Keywords[ca@valencia]=temes;estil;
Keywords[cs]=motivy;styl;
Keywords[cy]=themâu;arddulliau;
Keywords[da]=temaer;stil;
Keywords[de]=Themen;Thema;themes;Stilarten;Style;Design;Aussehen;Darstellung;Erscheinungsbild;Motiv;
Keywords[el]=θέμα;εμφάνιση;στύλ;
Keywords[eo]=etosoj;stilo;
Keywords[es]=temas;estilo;
Keywords[es_AR]=temas;estilo;
Keywords[et]=teemad;stiil;
Keywords[eu]=gaiak;estiloa;
Keywords[fa]=تم ها، سبک;
Keywords[fi]=teemat;tyyli;
Keywords[fr]=thèmes;style;
Keywords[fr_CA]=thèmes;style;
Keywords[ga]=téamaí;stíl;
Keywords[gd]=tèamaichean;stoidhle;
Keywords[gl]=temas;estilo;
Keywords[he]=ערכות־נושא;סגנון;
Keywords[hi]=थीम;शैली;
Keywords[hr]=teme;izgled;
Keywords[hu]=témák;stílus;
Keywords[ia]=themas;stilo;
Keywords[id]=tema;gaya;
Keywords[ie]=temas;stil;
Keywords[is]=þemu;stíll;
Keywords[it]=tema;stile;
Keywords[ja]=themes;style;テーマ;スタイル;
Keywords[ka]=თემები;სტილი;
Keywords[kab]=isental;aɣanib;
Keywords[ko]=테마;스타일;
Keywords[lt]=apipavidalinimai;stilius;
Keywords[lv]=motīvi;stils;
Keywords[ms]=tema;gaya;
Keywords[nb]=temaer;stil;
Keywords[nds]=Themen;Stil;
Keywords[nl]=thema's;stijl;
Keywords[oc]=tèma;estil;
Keywords[om]=dhamsawwan;haalata;
Keywords[pl]=motywy;style;
Keywords[pt]=temas;estilo;
Keywords[pt_BR]=temas;estilo;
Keywords[ro]=teme;stil;
Keywords[ru]=темы;стиль;
Keywords[rue]=темы;стіль;
Keywords[sc]=temas;istile;
Keywords[sk]=motívy;témy;štýl;
Keywords[sl]=teme;slog;
Keywords[sq]=temat;stili;
Keywords[sr]=тема;начин приказа;
Keywords[sr@ijekavian]=тема;начин приказа;
Keywords[sr@ijekavianlatin]=тема;начин приказа;
Keywords[sr@latin]=teme;stilovi;
Keywords[sv]=tema;stil;
Keywords[ta]=அலங்காரங்கள்;பாணி;
Keywords[tg]=мавзӯъ;сабк;
Keywords[th]=ชุดตกแต่ง;รูปแบบ;
Keywords[tr]=temalar;stiller;
Keywords[uk]=теми;стиль;
Keywords[ur]=شکل(theme)، انداز (style);
Keywords[uz]=mavzular;uslub;
Keywords[vi]=chủ đề;kiểu dáng;
Keywords[zh_CN]=主题，样式;
Keywords[zh_HK]=佈景主題;樣式;
Keywords[zh_TW]=佈景主題;樣式;
