[Desktop Entry]
Icon=cs-extensions
Exec=cinnamon-settings extensions
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Extensions
Name[am]=ተጨማሪዎች
Name[ar]=إضافات
Name[ast]=Estensiones
Name[be]=Пашырэнні
Name[be@latin]=Пашырэнні
Name[be_BY]=Пашырэнні
Name[bg]=Разширения
Name[bg_BG]=Разширения
Name[bs]=Proširenja
Name[cs]=Rozšíření
Name[cs_CZ]=Rozšíření
Name[cy]=Estyniadau
Name[da]=Udvidelser
Name[da_DK]=Udvidelser
Name[de]=Erweiterungen
Name[de_CH]=Erweiterungen
Name[de_DE]=Erweiterungen
Name[el]=Επεκτάσεις
Name[eo]=Etendaĵoj
Name[es]=Extensiones
Name[es_419]=Extensiones
Name[es_AR]=Extensiones
Name[es_CL]=Extensiones
Name[es_CO]=Extensiones
Name[es_CR]=Extensiones
Name[es_DO]=Extensiones
Name[es_EC]=Extensiones
Name[es_ES]=Extensiones
Name[es_GT]=Extensiones
Name[es_HN]=Extensiones
Name[es_MX]=Extensiones
Name[es_NI]=Extensiones
Name[es_PA]=Extensiones
Name[es_PE]=Extensiones
Name[es_PR]=Extensiones
Name[es_SV]=Extensiones
Name[es_US]=Extensiones
Name[es_UY]=Extensiones
Name[es_VE]=Extensiones
Name[et]=Laiendid
Name[eu]=Hedapenak
Name[fa]=ضمیمه‌ها
Name[fa_AF]=ضمیمه‌ها
Name[fa_IR]=ضمیمه‌ها
Name[fi]=Laajennukset
Name[fi_FI]=Laajennukset
Name[ga]=Iarmhíreanna
Name[gd]=Leudachain
Name[gl]=Extensións
Name[gl_ES]=Extensións
Name[hr]=Proširenja
Name[hu]=Kiterjesztések
Name[hu_HU]=Kiterjesztések
Name[ia]=Extensiones
Name[id]=Ekstensi
Name[id_ID]=Ekstensi
Name[is]=Viðbætur
Name[it]=Estensioni
Name[it_IT]=Estensioni
Name[ja]=拡張機能
Name[ja_JP]=拡張機能
Name[kab]=Isiɣzifen
Name[ko]=확장 프로그램
Name[ko_KR]=확장 프로그램
Name[lo]=ສ່ວນຂະຫຍາຍ
Name[lo_LA]=ສ່ວນຂະຫຍາຍ
Name[lt]=Plėtiniai
Name[lt_LT]=Plėtiniai
Name[lv]=Papildinājumi
Name[lv_LV]=Papildinājumi
Name[ms]=Sambungan
Name[ms_MY]=Sambungan
Name[nb]=Utvidelser
Name[nb_NO]=Utvidelser
Name[nds]=Erweiterungen
Name[nl]=Extensies
Name[nl_NL]=Extensies
Name[pa]=ਐਕਸਟੈਂਸ਼ਨਾਂ
Name[pl]=Rozszerzenia
Name[pl_PL]=Rozszerzenia
Name[pt]=Extensões
Name[pt_BR]=Extensões
Name[pt_PT]=Extensões
Name[ro]=Extensii
Name[ro_RO]=Extensii
Name[ru]=Расширения
Name[sk]=Rozšírenia
Name[sk_SK]=Rozšírenia
Name[sl]=Razširitve
Name[sl_SI]=Razširitve
Name[sq]=Prapashtesat
Name[sr]=Проширења
Name[sr@Latn]=Проширења
Name[sr@ije]=Проширења
Name[sr@ijekavian]=Проширења
Name[sr@ijekavianlatin]=Проширења
Name[sr@latin]=Проширења
Name[sr_RS]=Проширења
Name[sv]=Tillägg
Name[ta]=நீட்சிகள்
Name[ta_LK]=நீட்சிகள்
Name[tg]=Пасвандҳо
Name[th]=ส่วนขยาย
Name[th_TH]=ส่วนขยาย
Name[tr]=Eklentiler
Name[tr_TR]=Eklentiler
Name[uk]=Розширення
Name[uk_UA]=Розширення
Name[ur]=ایکس ٹینشنز
Name[ur_PK]=ایکس ٹینشنز
Name[vi]=Phần mở rộng
Name[vi_VN]=Phần mở rộng
Name[zh_CN]=扩展
Name[zh_HK]=擴充套件
Name[zh_TW]=擴充套件
Comment=Manage your Cinnamon extensions
Comment[am]=የሲናሞን ተጨማሪዎች አስተዳዳሪ
Comment[ar]=إدارة إضافات سينامُن
Comment[ast]=Alministra les tos estensiones Cinnamon
Comment[be]=Кiраванне пашырэннямi Cinnamon
Comment[be@latin]=Кiраванне пашырэннямi Cinnamon
Comment[be_BY]=Кiраванне пашырэннямi Cinnamon
Comment[bg]=Управление на Вашите разширения за Cinnamon
Comment[bg_BG]=Управление на Вашите разширения за Cinnamon
Comment[bs]=Upravljajte vašim Cinnamon proširenjima
Comment[ca]=Gestioneu les vostres extensions de Cinnamon
Comment[ca@valencia]=Administra extensions de Cinnamon
Comment[ca_ES]=Gestioneu les vostres extensions de Cinnamon
Comment[ca_ES@valencia]=Administra extensions de Cinnamon
Comment[cs]=Správa Cinnamon rozšíření
Comment[cs_CZ]=Správa Cinnamon rozšíření
Comment[cy]=Rheolwch eich estyniadau Cinnamon
Comment[da]=Administrér dine Cinnamon-udvidelser
Comment[da_DK]=Administrér dine Cinnamon-udvidelser
Comment[de]=Cinnamon-Erweiterungen verwalten
Comment[de_CH]=Cinnamon-Erweiterungen verwalten
Comment[de_DE]=Cinnamon-Erweiterungen verwalten
Comment[el]=Διαχειρίσου τις επεκτάσεις του Cinnamon
Comment[es]=Administrar extensiones de Cinnamon
Comment[es_419]=Administrar extensiones de Cinnamon
Comment[es_AR]=Administrar extensiones de Cinnamon
Comment[es_CL]=Administrar extensiones de Cinnamon
Comment[es_CO]=Administrar extensiones de Cinnamon
Comment[es_CR]=Administrar extensiones de Cinnamon
Comment[es_DO]=Administrar extensiones de Cinnamon
Comment[es_EC]=Administrar extensiones de Cinnamon
Comment[es_ES]=Administrar extensiones de Cinnamon
Comment[es_GT]=Administrar extensiones de Cinnamon
Comment[es_HN]=Administrar extensiones de Cinnamon
Comment[es_MX]=Administrar extensiones de Cinnamon
Comment[es_NI]=Administrar extensiones de Cinnamon
Comment[es_PA]=Administrar extensiones de Cinnamon
Comment[es_PE]=Administrar extensiones de Cinnamon
Comment[es_PR]=Administrar extensiones de Cinnamon
Comment[es_SV]=Administrar extensiones de Cinnamon
Comment[es_US]=Administrar extensiones de Cinnamon
Comment[es_UY]=Administrar extensiones de Cinnamon
Comment[es_VE]=Administrar extensiones de Cinnamon
Comment[eu]=Kudeatu zure Cinnamon hedapenak
Comment[fa]=ضمیمه‌های سینمون‌تان را مدیریت کنید
Comment[fa_AF]=ضمیمه‌های سینمون‌تان را مدیریت کنید
Comment[fa_IR]=ضمیمه‌های سینمون‌تان را مدیریت کنید
Comment[fi]=Hallitse Cinnamon-laajennuksia
Comment[fi_FI]=Hallitse Cinnamon-laajennuksia
Comment[fr]=Gérez vos extensions Cinnamon
Comment[fr_CA]=Gérer les extensions Cinnamon
Comment[fr_FR]=Gérez vos extensions Cinnamon
Comment[gd]=Stiùirich na leudachain Cinnamon agad
Comment[gl]=Administra os engadidos de Cinnamon
Comment[gl_ES]=Administra os engadidos de Cinnamon
Comment[hr]=Upravljajte svojim Cinnamon proširenjima
Comment[hu]=Cinnamon kiterjesztések  kezelése
Comment[hu_HU]=Cinnamon kiterjesztések  kezelése
Comment[ia]=Administrar tu extensiones de Cinnamon
Comment[id]=Pengaturan extensions Cinnamon
Comment[id_ID]=Pengaturan extensions Cinnamon
Comment[is]=Sýsla með stillingar fyrir Cinnamon viðbætur
Comment[it]=Gestisci le estensioni di Cinnamon
Comment[it_IT]=Gestisci le estensioni di Cinnamon
Comment[ja]=Cinnamon エクステンションの管理
Comment[ja_JP]=Cinnamon エクステンションの管理
Comment[kab]=Sefrek izsiɣzaf n Cinamon
Comment[ko]=시나몬 확장 프로그램을 관리합니다
Comment[ko_KR]=시나몬 확장 프로그램을 관리합니다
Comment[lo]=ຈັດການສ່ວນຂະຫຍາຍ Cinnamon ຂອງເຈົ້າ
Comment[lo_LA]=ຈັດການສ່ວນຂະຫຍາຍ Cinnamon ຂອງເຈົ້າ
Comment[lt]=Tvarkyti savo Cinnamono plėtinius
Comment[lt_LT]=Tvarkyti savo Cinnamono plėtinius
Comment[lv]=Pārvaldīt Cinnamon papildinājumus
Comment[lv_LV]=Pārvaldīt Cinnamon papildinājumus
Comment[ms]=Mengurus lanjutan Cinnamon
Comment[ms_MY]=Mengurus lanjutan Cinnamon
Comment[nb]=Håndter dine Cinnamon-utvidelser
Comment[nb_NO]=Håndter dine Cinnamon-utvidelser
Comment[nds]=Cinnamon Erweiterungen bearbeiten
Comment[nl]=Uw Cinnamon-extensies beheren
Comment[nl_NL]=Uw Cinnamon-extensies beheren
Comment[oc]=Gerir vòstras extensions de Cinnamon
Comment[pl]=Zarządzaj swoimi rozszerzeniami Cinnamona
Comment[pl_PL]=Zarządzaj swoimi rozszerzeniami Cinnamona
Comment[pt]=Gerir as suas extensões do Cinnamon
Comment[pt_BR]=Gerenciar suas extensões do Cinnamon
Comment[pt_PT]=Gerir as suas extensões do Cinnamon
Comment[ro]=Gestionează extensiile tale Cinnamon
Comment[ro_RO]=Gestionează extensiile tale Cinnamon
Comment[ru]=Управление расширениями Cinnamon
Comment[sk]=Spravovať vaše rozšírenia prostredia Cinnamon
Comment[sk_SK]=Spravovať vaše rozšírenia prostredia Cinnamon
Comment[sl]=Upravljajte z razširitvami Cinnamona
Comment[sl_SI]=Upravljajte z razširitvami Cinnamona
Comment[sq]=Menaxhoni prapashtesat e Cinnamon
Comment[sr]=Управљање проширењима Цимета
Comment[sr@Latn]=Управљање проширењима Цимета
Comment[sr@ije]=Управљање проширењима Цимета
Comment[sr@ijekavian]=Управљање проширењима Цимета
Comment[sr@ijekavianlatin]=Управљање проширењима Цимета
Comment[sr@latin]=Управљање проширењима Цимета
Comment[sr_RS]=Управљање проширењима Цимета
Comment[sv]=Hantera dina Cinnamon-tillägg
Comment[tg]=Идоракунии пасвандҳои Cinnamon
Comment[th]=จัดการส่วนขยาย Cinnamon ของคุณ
Comment[th_TH]=จัดการส่วนขยาย Cinnamon ของคุณ
Comment[tr]=Cinnamon eklentilerini yönet
Comment[tr_TR]=Cinnamon eklentilerini yönet
Comment[uk]=Керування розширеннями Cinnamon
Comment[uk_UA]=Керування розширеннями Cinnamon
Comment[ur]=اپنے سنامون کی ایکسٹینشن کا انتظام کریں
Comment[ur_PK]=اپنے سنامون کی ایکسٹینشن کا انتظام کریں
Comment[vi]=Quản lý phần mở rộng Cinnamon
Comment[vi_VN]=Quản lý phần mở rộng Cinnamon
Comment[zh_CN]=扩展管理
Comment[zh_HK]=管理你的 Cinnamon 擴充套件
Comment[zh_TW]=管理您的 Cinnamon 擴充套件
Keywords=extension;addon;
Keywords[am]=ተጨማሪ መጨመሪያ;
Keywords[ar]=إضافة، إضافات;
Keywords[ast]=estensión;addon;amiestu;
Keywords[be]=пашырэнне;дадатак;
Keywords[be@latin]=пашырэнне;дадатак;
Keywords[be_BY]=пашырэнне;дадатак;
Keywords[bg]=разширение;добавка;
Keywords[bg_BG]=разширение;добавка;
Keywords[bs]=proširenje;dodatak;
Keywords[ca]=extensió;complement;
Keywords[ca@valencia]=extensió;complement;
Keywords[ca_ES]=extensió;complement;
Keywords[ca_ES@valencia]=extensió;complement;
Keywords[cs]=rozšíření;addon;
Keywords[cs_CZ]=rozšíření;addon;
Keywords[cy]=estyniad;ychwanegyn;
Keywords[da]=udvidelse;tilføjelse;
Keywords[da_DK]=udvidelse;tilføjelse;
Keywords[de]=Erweiterung;Zusatz;extension;addon;
Keywords[de_CH]=Erweiterung;Zusatz;extension;addon;
Keywords[de_DE]=Erweiterung;Zusatz;extension;addon;
Keywords[el]=επέκταση;πρόσθετο;
Keywords[en_GB]=extension;add-on;
Keywords[es]=extensión;complemento;
Keywords[es_419]=extensión;complemento;
Keywords[es_AR]=extensión;complemento;
Keywords[es_CL]=extensión;complemento;
Keywords[es_CO]=extensión;complemento;
Keywords[es_CR]=extensión;complemento;
Keywords[es_DO]=extensión;complemento;
Keywords[es_EC]=extensión;complemento;
Keywords[es_ES]=extensión;complemento;
Keywords[es_GT]=extensión;complemento;
Keywords[es_HN]=extensión;complemento;
Keywords[es_MX]=extensión;complemento;
Keywords[es_NI]=extensión;complemento;
Keywords[es_PA]=extensión;complemento;
Keywords[es_PE]=extensión;complemento;
Keywords[es_PR]=extensión;complemento;
Keywords[es_SV]=extensión;complemento;
Keywords[es_US]=extensión;complemento;
Keywords[es_UY]=extensión;complemento;
Keywords[es_VE]=extensión;complemento;
Keywords[eu]=hedapena;gehigarria;
Keywords[fa]=ضمیمه، افزونه;
Keywords[fa_AF]=ضمیمه، افزونه;
Keywords[fa_IR]=ضمیمه، افزونه;
Keywords[fi]=laajennus;liitännäinen;
Keywords[fi_FI]=laajennus;liitännäinen;
Keywords[fr]=extension;add-on;
Keywords[fr_CA]=extension;add-on;
Keywords[fr_FR]=extension;add-on;
Keywords[ga]=iarmhír;forlíontán;
Keywords[gd]=leudachan;tuilleadain;extension;addon;
Keywords[gl]=extensión;engadido;
Keywords[gl_ES]=extensión;engadido;
Keywords[hr]=proširenje;dodatak;
Keywords[hu]=kiterjesztés;bővítmény;
Keywords[hu_HU]=kiterjesztés;bővítmény;
Keywords[id]=ekstensi;tambahan;
Keywords[id_ID]=ekstensi;tambahan;
Keywords[is]=viðbót;hjálparforrit;
Keywords[it]=estensione;aggiunta;
Keywords[it_IT]=estensione;aggiunta;
Keywords[ja]=拡張機能、アドオン;
Keywords[ja_JP]=拡張機能、アドオン;
Keywords[kab]=Asiɣzef;
Keywords[ko]=확장 프로그램;추가 기능;
Keywords[ko_KR]=확장 프로그램;추가 기능;
Keywords[lo]=ສ່ວນຂະຫຍາຍ;addon;
Keywords[lo_LA]=ສ່ວນຂະຫຍາຍ;addon;
Keywords[lt]=plėtinys;papildinys;
Keywords[lt_LT]=plėtinys;papildinys;
Keywords[lv]=paplašinājums;pievienojums;
Keywords[lv_LV]=paplašinājums;pievienojums;
Keywords[ms]=sambungan;tambahan;
Keywords[ms_MY]=sambungan;tambahan;
Keywords[nb]=Utvidelse;tillegg;
Keywords[nb_NO]=Utvidelse;tillegg;
Keywords[nds]=Erweiterung;Add-On;
Keywords[nl]=extensie;toevoeging;
Keywords[nl_NL]=extensie;toevoeging;
Keywords[pl]=rozszerzenie;dodatek;
Keywords[pl_PL]=rozszerzenie;dodatek;
Keywords[pt]=extensão;extra;
Keywords[pt_BR]=extensão;complemento;
Keywords[pt_PT]=extensão;extra;
Keywords[ro]=extensie;supliment;
Keywords[ro_RO]=extensie;supliment;
Keywords[ru]=расширение;дополнение;
Keywords[sk]=rozšírenie;addon;
Keywords[sk_SK]=rozšírenie;addon;
Keywords[sl]=razširitev;dodatek;
Keywords[sl_SI]=razširitev;dodatek;
Keywords[sq]=prapashtesa;shtesë;
Keywords[sr]=проширење;додатак;
Keywords[sr@Latn]=проширење;додатак;
Keywords[sr@ije]=проширење;додатак;
Keywords[sr@ijekavian]=проширење;додатак;
Keywords[sr@ijekavianlatin]=проширење;додатак;
Keywords[sr@latin]=проширење;додатак;
Keywords[sr_RS]=проширење;додатак;
Keywords[sv]=utvidgning;tillägg;
Keywords[ta]=நீட்சி;
Keywords[ta_LK]=நீட்சி;
Keywords[tg]=пасванд;барномаи иловагӣ;
Keywords[th]=ส่วนขยาย;ส่วนเสริม;
Keywords[th_TH]=ส่วนขยาย;ส่วนเสริม;
Keywords[tr]=eklenti;
Keywords[tr_TR]=eklenti;
Keywords[uk]=розширення;додаток;
Keywords[uk_UA]=розширення;додаток;
Keywords[ur]=ایکسٹینشن، ایڈ آن;
Keywords[ur_PK]=ایکسٹینشن، ایڈ آن;
Keywords[vi]=phần mở rộng;gắn thêm;
Keywords[vi_VN]=phần mở rộng;gắn thêm;
Keywords[zh_CN]=extension;addon;扩展;附加;
Keywords[zh_HK]=擴充套件;附加元件;
Keywords[zh_TW]=擴充套件;附加套件;
