[Desktop Entry]
Icon=cs-general
Exec=cinnamon-settings general
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=General
Name[am]=ባጠቃላይ
Name[ar]=عام
Name[ast]=Xeneral
Name[be]=Агульны
Name[be@latin]=Агульны
Name[bg]=Общи
Name[bs]=Opšte
Name[cs]=Obecné
Name[cy]=Cyffredinol
Name[da]=Generelt
Name[de]=Allgemein
Name[de_DE]=Allgemein
Name[el]=Γενικές Ρυθμίσεις
Name[eo]=Ĝenerala
Name[et]=Üldine
Name[eu]=Orokorra
Name[fi]=Yleinen
Name[fr]=Général
Name[fr_CA]=Général
Name[ga]=Ginearálta
Name[gd]=Coitcheann
Name[gl]=Xeral
Name[hr]=Općenito
Name[hu]=Általános
Name[id]=Umum
Name[is]=Almennt
Name[it]=Generali
Name[ja]=一般
Name[ko]=일반
Name[lo]=ທົ່ວໄປ
Name[lt]=Bendra
Name[lv]=Vispārīgi
Name[ms]=Am
Name[ms_MY]=Am
Name[nb]=Generelt
Name[nds]=Allgemein
Name[nl]=Algemeen
Name[nl_NL]=Algemeen
Name[om]=Waliigala
Name[pa]=ਸਧਾਰਨ
Name[pl]=Ogólne
Name[pt]=Geral
Name[pt_BR]=Geral
Name[pt_PT]=Geral
Name[ru]=Общие
Name[sk]=Všeobecné
Name[sl]=Splošno
Name[sq]=Të përgjithshme
Name[sr]=Опште
Name[sr@Latn]=Опште
Name[sr@ije]=Опште
Name[sr@ijekavian]=Опште
Name[sr@ijekavianlatin]=Опште
Name[sr@latin]=Опште
Name[sv]=Allmänt
Name[ta]=பொது
Name[ta_LK]=பொது
Name[tg]=Умумӣ
Name[th]=ทั่วไป
Name[tr]=Genel
Name[uk]=Загальні
Name[ur]=عمومی
Name[ur_PK]=عمومی
Name[vi]=Tổng quát
Name[zh_CN]=常规
Name[zh_HK]=一般
Name[zh_TW]=一般
Comment=Miscellaneous Cinnamon preferences
Comment[am]=የተለያዩ የ ሲናሞን ምርጫዎች
Comment[ar]=تفضيلات أخرى لـ: سينامُن
Comment[be]=Розныя налады Cinnamon
Comment[be@latin]=Розныя налады Cinnamon
Comment[bg]=Други настройки на Cinnamon
Comment[bs]=Razne Cinnamon postavke
Comment[ca]=Preferències diverses de Cinnamon
Comment[ca@valencia]=Preferències diverses de Cinnamon
Comment[cs]=Ostatní nastavení Cinnamonu
Comment[cy]=Dewisiadau amrywiol Cinnamon
Comment[da]=Diverse Cinnamon-indstillinger
Comment[de]=Verschiedene Cinnamon-Einstellungen
Comment[de_DE]=Verschiedene Cinnamon-Einstellungen
Comment[el]=Διάφορες προτιμήσεις του Cinnamon
Comment[es]=Preferencias diversas de Cinnamon
Comment[es_AR]=Preferencias diversas de Cinnamon
Comment[es_CL]=Preferencias diversas de Cinnamon
Comment[es_CO]=Preferencias diversas de Cinnamon
Comment[es_CR]=Preferencias diversas de Cinnamon
Comment[es_DO]=Preferencias diversas de Cinnamon
Comment[es_EC]=Preferencias diversas de Cinnamon
Comment[es_ES]=Preferencias diversas de Cinnamon
Comment[es_GT]=Preferencias diversas de Cinnamon
Comment[es_HN]=Preferencias diversas de Cinnamon
Comment[es_MX]=Preferencias diversas de Cinnamon
Comment[es_NI]=Preferencias diversas de Cinnamon
Comment[es_PA]=Preferencias diversas de Cinnamon
Comment[es_PE]=Preferencias diversas de Cinnamon
Comment[es_PR]=Preferencias diversas de Cinnamon
Comment[es_SV]=Preferencias diversas de Cinnamon
Comment[es_US]=Preferencias diversas de Cinnamon
Comment[es_UY]=Preferencias diversas de Cinnamon
Comment[es_VE]=Preferencias diversas de Cinnamon
Comment[eu]=Askotariko Cinnamon hobespenak
Comment[fi]=Sekalaisia Cinnamonin asetuksia
Comment[fr]=Préférences diverses de Cinnamon
Comment[fr_CA]=Préférences diverses de Cinnamon
Comment[gd]=Measgachadh de roghainnean Cinnamon
Comment[gl]=Preferencias variadas para Cinnamon
Comment[hr]=Ostale Cinnamon osobitosti
Comment[hu]=Egyéb Cinnamon beállítások
Comment[id]=Macam-macam preferensi Cinnamon
Comment[is]=Ýmsar stillingar fyrir Cinnamon
Comment[it]=Preferenze varie di Cinnamon
Comment[ja]=その他 Cinnamon 設定オプション
Comment[ko]=그밖의 시나몬설정
Comment[lt]=Kitos Cinnamon nuostatos
Comment[lv]=Dažādi Cinnamon iestatījumi
Comment[ms]=Pilihan Cinnamon pelbagai
Comment[ms_MY]=Pilihan Cinnamon pelbagai
Comment[nb]=Diverse innstillinger for Cinnamon
Comment[nds]=Sonstige Cinnamon-Einstellungen
Comment[nl]=Verschillende Cinnamonvoorkeuren
Comment[nl_NL]=Verschillende Cinnamonvoorkeuren
Comment[pl]=Różne preferencje Cinnamona
Comment[pt]=Preferências diversas do Cinnamon
Comment[pt_BR]=Preferências diversas do Cinnamon
Comment[pt_PT]=Preferências diversas do Cinnamon
Comment[ro]=Alte preferințe Cinnamon
Comment[ru]=Различные настройки Cinnamon
Comment[sk]=Rôzne predvoľby Cinnamon
Comment[sl]=Razne možnosti Cinnamona
Comment[sq]=Parapëlqime të përziera të Cinnamon
Comment[sr]=Несврстане поставке Цимета
Comment[sr@Latn]=Несврстане поставке Цимета
Comment[sr@ije]=Несврстане поставке Цимета
Comment[sr@ijekavian]=Несврстане поставке Цимета
Comment[sr@ijekavianlatin]=Несврстане поставке Цимета
Comment[sr@latin]=Несврстане поставке Цимета
Comment[sv]=Diverse inställningar för Cinnamon
Comment[tg]=Хусусиятҳои гуногун дар Cinnamon
Comment[th]=การตั้งค่าเบ็ดเตล็ด Cinnamon ขั้นสูง
Comment[tr]=Muhtelif Cinnamon seçenekleri
Comment[uk]=Різні параметри Cinnamon
Comment[ur]=متفرق، سنامون کی ترجیحات
Comment[ur_PK]=متفرق، سنامون کی ترجیحات
Comment[vi]=Tuỳ thích Cinnamon linh tinh
Comment[zh_CN]=其他Cinnamon偏好设置
Comment[zh_HK]=Cinnamon 雜項偏好設定
Comment[zh_TW]=其他 Cinnamon 偏好設定
