[Desktop Entry]
Icon=cs-notifications
Exec=cinnamon-settings notifications
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Notifications
Name[af]=Kennisgewings
Name[am]=ማስታወቂያዎች
Name[ar]=الإشعارات
Name[ast]=Notificaciones
Name[ay]=Yatiyawinaka
Name[az]=Bildirişlər
Name[be]=Апавяшчэнні
Name[bg]=Известявания
Name[bn]=বিজ্ঞপ্তি
Name[br]=Kemennoù
Name[bs]=Obavještenja
Name[ca]=Notificacions
Name[ca@valencia]=Notificacions
Name[crh]=bildirimler
Name[cs]=Oznámení
Name[cy]=Hysbysiadau
Name[da]=Underretninger
Name[de]=Meldungen
Name[el]=Ειδοποιήσεις
Name[eo]=Atentigoj
Name[es]=Notificaciones
Name[es_AR]=Notificaciones
Name[et]=Teavitused
Name[eu]=Jakinarazpenak
Name[fa]=اعلان‌ها
Name[fi]=Ilmoitukset
Name[fil]=Mga Abiso
Name[fr_CA]=Avis
Name[fy]=Notifikaasjes
Name[ga]=Fógraí
Name[gd]=Brathan
Name[gl]=Notificacións
Name[he]=הודעות
Name[hi]=अधिसूचनाएँ
Name[hr]=Obavijesti
Name[hsb]=Zdźělenki
Name[hu]=Értesítések
Name[hy]=Ծանուցումներ
Name[ia]=Notificationes
Name[id]=Pemberitahuan
Name[ie]=Notificationes
Name[is]=Tilkynningar
Name[it]=Notifiche
Name[ja]=通知
Name[ka]=გაფრთხილებები
Name[kab]=Tilɣa
Name[kk]=Мәлімдемелер
Name[km]=ការ​ជូនដំណឹង​
Name[ko]=알림
Name[ku]=Hişyarî
Name[la]=Nuntiationes
Name[lo]=ການແຈ້ງເຕືອນ
Name[lt]=Pranešimai
Name[lv]=Paziņojumi
Name[ml]=അറിയിപ്പുകൾ
Name[mr]=सूचना
Name[ms]=Pemberitahuan
Name[nap]=Avviso
Name[nb]=Varslinger
Name[nds]=Benachrichtigungen
Name[ne]=सूचना
Name[nl]=Meldingen
Name[oc]=Notificacions
Name[pa]=ਸੂਚਨਾਵਾਂ
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[pt_BR]=Notificações
Name[ro]=Notificări
Name[ru]=Уведомления
Name[rue]=Уповісткы
Name[sc]=Notìficas
Name[sk]=Oznámenia
Name[sl]=Obvestila
Name[sq]=Njoftimet
Name[sr]=Обавештења
Name[sr@ijekavian]=Обавештења
Name[sr@ijekavianlatin]=Обавештења
Name[sr@latin]=Obaveštenja
Name[sv]=Aviseringar
Name[sw]=Taarifa
Name[ta]=அறிவிப்புகள்
Name[te]=గమనింపులు
Name[tg]=Огоҳиҳо
Name[th]=การแจ้งเตือน
Name[tl]=Mga Abiso
Name[tr]=Bildirimler
Name[tt]=Хәбәр итү
Name[uk]=Сповіщення
Name[ur]=اطلاعات
Name[uz]=Bildirishnomalar
Name[vi]=Thông báo
Name[xh]=Izaziso
Name[zgh]=ⵜⵉⵏⵖⵎⵉⵙⵉⵏ
Name[zh_CN]=通知
Name[zh_HK]=通知
Name[zh_TW]=通知
Comment=Notification preferences
Comment[am]=የ ማስታወቂያ ምርጫዎች
Comment[ar]=تفضيلات الإخطار
Comment[ast]=Preferencies de les notificaciones
Comment[ay]=Yatiyawinakan ajlliñanaka
Comment[az]=Bildiriş üstünlükləri
Comment[be]=Налады апавяшчэнняў
Comment[bg]=Настройки за известяване
Comment[bn]=বিজ্ঞপ্তি বিষয়ে পছন্দ
Comment[br]=Gwellvezioù ar c'hemennoù
Comment[ca]=Preferències de notificació
Comment[ca@valencia]=Preferències de notificació
Comment[cs]=Předvolby oznamování
Comment[cy]=Dewisiadau hysbysu
Comment[da]=Præferencer for underretninger
Comment[de]=Benachrichtigungseinstellungen
Comment[el]=Προτιμήσεις ειδοποιήσεων
Comment[eo]=Sciigaj agordoj
Comment[es]=Preferencias de las notificaciones
Comment[es_AR]=Preferencias de las notificaciones
Comment[et]=Teavitamise eelistused
Comment[eu]=Jakinerazpenen hobespenak
Comment[fa]=ترجیحات اعلان
Comment[fi]=Ilmoitusten asetukset
Comment[fr]=Préférences des notifications
Comment[fr_CA]=Préférences des notifications
Comment[gd]=Roghainnean nam brathan
Comment[gl]=Preferencias da notificación
Comment[he]=העדפות הודעות
Comment[hi]=अधिसूचना सेटिंग्स
Comment[hr]=Osobitosti obavijesti
Comment[hu]=Értesítések beállításai
Comment[ia]=Preferentias de notification
Comment[id]=Preferensi pemberitahuan
Comment[ie]=Preferenties de notificationes
Comment[is]=Valkostir kerfistilkynninga
Comment[it]=Preferenze di notifica
Comment[ja]=通知の設定
Comment[kab]=Tisezmal usmenyif
Comment[ko]=알림 설정
Comment[lt]=Pranešimų nuostatos
Comment[ms]=Tetapan notifikasi
Comment[nb]=Varslingsinnstillinger
Comment[nds]=Benachrichtigungseinstellungen
Comment[nl]=Meldingsvoorkeuren
Comment[oc]=Preferéncias de las notificacions
Comment[pl]=Preferencje powiadamiania
Comment[pt]=Preferências de notificação
Comment[pt_BR]=Preferências de notificação
Comment[ro]=Preferințe notificări
Comment[ru]=Настройки уведомлений
Comment[rue]=Конфіґурація увідоменя
Comment[sc]=Preferèntzias de notìficas
Comment[sk]=Predvoľby oznámení
Comment[sl]=Možnosti obvestil
Comment[sq]=Parapëlqimet e njoftimeve
Comment[sr]=Поставке обавештења
Comment[sr@ijekavian]=Поставке обавештења
Comment[sr@ijekavianlatin]=Поставке обавештења
Comment[sr@latin]=Preferencije za obaveštenja
Comment[sv]=Aviseringsinställningar
Comment[th]=ตั้งค่าการแจ้งเตือน
Comment[tr]=Bildirim tercihleri
Comment[uk]=Налаштування сповіщень
Comment[ur]=اطلاعیہ ترجیحات
Comment[uz]=Eslatmalar parametrlari
Comment[vi]=Tùy thích thông báo
Comment[zh_CN]=通知设置
Comment[zh_HK]=通知喜好設定
Comment[zh_TW]=通知偏好設定
Keywords=notifications;
Keywords[af]=notifikasies;
Keywords[am]=ማስታወቂያዎች;
Keywords[ar]=الإخطارات;
Keywords[ast]=notificaciones;
Keywords[ay]=yatiyawinaka;
Keywords[az]=bildirişlər;
Keywords[be]=апавяшчэнні;паведамленні;
Keywords[bg]=известяване;
Keywords[bn]=বিজ্ঞপ্তিসমূহ;
Keywords[br]=kemennoù;
Keywords[ca]=notificacions;
Keywords[ca@valencia]=notificacions;
Keywords[cs]=oznámení;
Keywords[cy]=hysbysiadau;
Keywords[da]=underretninger;
Keywords[de]=Benachrichtigungen;
Keywords[el]=ειδοποιήσεις;
Keywords[eo]=sciigoj;
Keywords[es]=notificaciones;
Keywords[es_AR]=notificaciones;
Keywords[et]=teavitused;
Keywords[eu]=jakinarazpenak;
Keywords[fa]=اعلان ها;
Keywords[fi]=ilmoitukset;
Keywords[gd]=brathan;
Keywords[gl]=notificacións;
Keywords[he]=הודעות;
Keywords[hi]=अधिसूचनाएँ;
Keywords[hr]=obavijesti;
Keywords[hu]=értesítések;
Keywords[ia]=notificationes;
Keywords[id]=pemberitahuan;
Keywords[ie]=notificationes;
Keywords[is]=tilkynningar;
Keywords[it]=notifiche;
Keywords[ja]=notifications;通知;
Keywords[kab]=tisezmal;
Keywords[ko]=알림;
Keywords[lt]=pranešimai;
Keywords[ms]=notifikasi;
Keywords[nb]=varslinger;
Keywords[nds]=Benachrichtigungen;
Keywords[nl]=meldingen;
Keywords[oc]=notificacions;
Keywords[pl]=powiadomienia;
Keywords[pt]=notificações;
Keywords[pt_BR]=notificações;
Keywords[ro]=notificări;
Keywords[ru]=уведомления;
Keywords[rue]=увідоменя;
Keywords[sc]=notìficas;
Keywords[sk]=oznámenia;
Keywords[sl]=obvestila;
Keywords[sr]=обавештења;
Keywords[sr@ijekavian]=обавештења;
Keywords[sr@ijekavianlatin]=обавештења;
Keywords[sr@latin]=obaveštenja;
Keywords[sv]=aviseringar;
Keywords[th]=การแจ้งเตือน;
Keywords[tr]=bildirimler;
Keywords[uk]=сповіщення;
Keywords[ur]=اطلاعات;
Keywords[uz]=eslatmalar;
Keywords[vi]=thông báo;
Keywords[zh_CN]=通知;
Keywords[zh_HK]=通知;
Keywords[zh_TW]=通知;
