[Desktop Entry]
Exec=cinnamon-settings-users
Icon=system-users
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
OnlyShowIn=GNOME;
Keywords=Preferences;Settings;
Name=Users and Groups
Name[af]=Users and Groups
Name[am]=Users and Groups
Name[ar]=Users and Groups
Name[ast]=Users and Groups
Name[be]=Users and Groups
Name[bg]=Users and Groups
Name[bn]=Users and Groups
Name[bs]=Users and Groups
Name[ca]=Users and Groups
Name[cs]=Users and Groups
Name[csb]=Users and Groups
Name[cy]=Users and Groups
Name[da]=Users and Groups
Name[de]=Users and Groups
Name[el]=Users and Groups
Name[en_AU]=Users and Groups
Name[en_CA]=Users and Groups
Name[en_GB]=Users and Groups
Name[eo]=Users and Groups
Name[es]=Users and Groups
Name[et]=Users and Groups
Name[eu]=Users and Groups
Name[fa]=Users and Groups
Name[fi]=Users and Groups
Name[fil]=Users and Groups
Name[fo]=Users and Groups
Name[fr]=Users and Groups
Name[fr_CA]=Users and Groups
Name[ga]=Users and Groups
Name[gd]=Users and Groups
Name[gl]=Users and Groups
Name[gu]=Users and Groups
Name[he]=Users and Groups
Name[hi]=Users and Groups
Name[hr]=Users and Groups
Name[hu]=Users and Groups
Name[ia]=Users and Groups
Name[id]=Users and Groups
Name[is]=Users and Groups
Name[it]=Users and Groups
Name[ja]=Users and Groups
Name[jv]=Users and Groups
Name[km]=Users and Groups
Name[kn]=Users and Groups
Name[ko]=Users and Groups
Name[ksw]=Users and Groups
Name[ky]=Users and Groups
Name[la]=Users and Groups
Name[lt]=Users and Groups
Name[lv]=Users and Groups
Name[mk]=Users and Groups
Name[ml]=Users and Groups
Name[mr]=Users and Groups
Name[ms]=Users and Groups
Name[nb]=Users and Groups
Name[nds]=Users and Groups
Name[ne]=Users and Groups
Name[nl]=Users and Groups
Name[nn]=Users and Groups
Name[pa]=Users and Groups
Name[pl]=Users and Groups
Name[pt]=Users and Groups
Name[pt_BR]=Users and Groups
Name[ro]=Users and Groups
Name[ru]=Users and Groups
Name[rue]=Users and Groups
Name[si]=Users and Groups
Name[sk]=Users and Groups
Name[sl]=Users and Groups
Name[so]=Users and Groups
Name[sq]=Users and Groups
Name[sr]=Users and Groups
Name[sr@ijekavianlatin]=Users and Groups
Name[sr@latin]=Users and Groups
Name[sv]=Users and Groups
Name[ta]=Users and Groups
Name[te]=Users and Groups
Name[th]=Users and Groups
Name[tlh]=Users and Groups
Name[tr]=Users and Groups
Name[ts]=Users and Groups
Name[uk]=Users and Groups
Name[ur]=Users and Groups
Name[uz]=Users and Groups
Name[vi]=Users and Groups
Name[yi]=Users and Groups
Name[zh_CN]=Users and Groups
Name[zh_HK]=Users and Groups
Name[zh_TW]=Users and Groups
Comment=Add or remove users and groups
Comment[af]=Add or remove users and groups
Comment[am]=Add or remove users and groups
Comment[ar]=Add or remove users and groups
Comment[ast]=Add or remove users and groups
Comment[be]=Add or remove users and groups
Comment[bg]=Add or remove users and groups
Comment[bn]=Add or remove users and groups
Comment[bs]=Add or remove users and groups
Comment[ca]=Add or remove users and groups
Comment[cs]=Add or remove users and groups
Comment[csb]=Add or remove users and groups
Comment[cy]=Add or remove users and groups
Comment[da]=Add or remove users and groups
Comment[de]=Add or remove users and groups
Comment[el]=Add or remove users and groups
Comment[en_AU]=Add or remove users and groups
Comment[en_CA]=Add or remove users and groups
Comment[en_GB]=Add or remove users and groups
Comment[eo]=Add or remove users and groups
Comment[es]=Add or remove users and groups
Comment[et]=Add or remove users and groups
Comment[eu]=Add or remove users and groups
Comment[fa]=Add or remove users and groups
Comment[fi]=Add or remove users and groups
Comment[fil]=Add or remove users and groups
Comment[fo]=Add or remove users and groups
Comment[fr]=Add or remove users and groups
Comment[fr_CA]=Add or remove users and groups
Comment[ga]=Add or remove users and groups
Comment[gd]=Add or remove users and groups
Comment[gl]=Add or remove users and groups
Comment[gu]=Add or remove users and groups
Comment[he]=Add or remove users and groups
Comment[hi]=Add or remove users and groups
Comment[hr]=Add or remove users and groups
Comment[hu]=Add or remove users and groups
Comment[ia]=Add or remove users and groups
Comment[id]=Add or remove users and groups
Comment[is]=Add or remove users and groups
Comment[it]=Add or remove users and groups
Comment[ja]=Add or remove users and groups
Comment[jv]=Add or remove users and groups
Comment[km]=Add or remove users and groups
Comment[kn]=Add or remove users and groups
Comment[ko]=Add or remove users and groups
Comment[ksw]=Add or remove users and groups
Comment[ky]=Add or remove users and groups
Comment[la]=Add or remove users and groups
Comment[lt]=Add or remove users and groups
Comment[lv]=Add or remove users and groups
Comment[mk]=Add or remove users and groups
Comment[ml]=Add or remove users and groups
Comment[mr]=Add or remove users and groups
Comment[ms]=Add or remove users and groups
Comment[nb]=Add or remove users and groups
Comment[nds]=Add or remove users and groups
Comment[ne]=Add or remove users and groups
Comment[nl]=Add or remove users and groups
Comment[nn]=Add or remove users and groups
Comment[pa]=Add or remove users and groups
Comment[pl]=Add or remove users and groups
Comment[pt]=Add or remove users and groups
Comment[pt_BR]=Add or remove users and groups
Comment[ro]=Add or remove users and groups
Comment[ru]=Add or remove users and groups
Comment[rue]=Add or remove users and groups
Comment[si]=Add or remove users and groups
Comment[sk]=Add or remove users and groups
Comment[sl]=Add or remove users and groups
Comment[so]=Add or remove users and groups
Comment[sq]=Add or remove users and groups
Comment[sr]=Add or remove users and groups
Comment[sr@ijekavianlatin]=Add or remove users and groups
Comment[sr@latin]=Add or remove users and groups
Comment[sv]=Add or remove users and groups
Comment[ta]=Add or remove users and groups
Comment[te]=Add or remove users and groups
Comment[th]=Add or remove users and groups
Comment[tlh]=Add or remove users and groups
Comment[tr]=Add or remove users and groups
Comment[ts]=Add or remove users and groups
Comment[uk]=Add or remove users and groups
Comment[ur]=Add or remove users and groups
Comment[uz]=Add or remove users and groups
Comment[vi]=Add or remove users and groups
Comment[yi]=Add or remove users and groups
Comment[zh_CN]=Add or remove users and groups
Comment[zh_HK]=Add or remove users and groups
Comment[zh_TW]=Add or remove users and groups
