[Desktop Entry]
Icon=cs-date-time
Exec=cinnamon-settings calendar
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Date & Time
Name[af]=Datum en Tyd
Name[am]=ቀን & ሰአት
Name[ar]=التاريخ والوقت
Name[ast]=Data & hora
Name[ay]=Uru jakhumpi urasampi
Name[az]=Gün ilə Vaxt
Name[be]=Дата і час
Name[bg]=Дата и час
Name[br]=Deiziad hag eur
Name[bs]=Datum i vrijeme
Name[ca]=Data i hora
Name[ca@valencia]=Data i hora
Name[cs]=Datum a čas
Name[cy]=Dyddiad ac Amser
Name[da]=Dato og tid
Name[de]=Datum & Zeit
Name[el]=Ημερομηνία & Ώρα
Name[eo]=Dato kaj tempo
Name[es]=Fecha y hora
Name[es_AR]=Fecha y hora
Name[et]=Kuupäev & kellaaeg
Name[eu]=Data eta ordua
Name[fa]=تاریخ و زمان
Name[fi]=Päivä ja aika
Name[fr]=Date & Heure
Name[fr_CA]=Date et heure
Name[fy]=Datum en Tiid
Name[gd]=Ceann-là ⁊ Àm
Name[gl]=Data e hora
Name[he]=תאריך וזמן
Name[hi]=दिनांक व समय
Name[hr]=Datum i Vrijeme
Name[hu]=Dátum és idő
Name[ia]=Data & tempore
Name[id]=Tanggal & Waktu
Name[ie]=Date e hora
Name[is]=Dagsetning og tími
Name[it]=Data e ora
Name[ja]=日付と時刻
Name[ka]=თარიღი & დრო
Name[kab]=Azemz & Akud
Name[ko]=날짜 & 시간
Name[ku]=Roj & Dem
Name[la]=Dies Horaque
Name[lo]=ວັນແລະເວລາ
Name[lt]=Data ir laikas
Name[lv]=Datums un laiks
Name[mo]=Датэ ши орэ
Name[ms]=Tarikh & Masa
Name[nb]=Dato og klokkeslett
Name[nds]=Datum & Zeit
Name[nl]=Datum en tijd
Name[oc]=Data & ora
Name[pa]=ਮਿਤੀ ਤੇ ਸਮਾਂ
Name[pl]=Data i godzina
Name[pt]=Data e hora
Name[pt_BR]=Data e Hora
Name[ro]=Dată și oră
Name[ru]=Дата и время
Name[rue]=Дата и час
Name[sc]=Data e oràriu
Name[sk]=Dátum a čas
Name[sl]=Datum in čas
Name[sq]=Data dhe Ora
Name[sr]=Датум и време
Name[sr@ijekavian]=Датум и време
Name[sr@ijekavianlatin]=Датум и време
Name[sr@latin]=Datum i vreme
Name[sv]=Datum och tid
Name[szl]=Data i czas
Name[ta]=தேதியும் நேரமும்
Name[tg]=Сана ва вақт:
Name[th]=วันที่และเวลา
Name[tr]=Tarih & Zaman
Name[uk]=Дата та час
Name[ur]=وقت اور تاريخ
Name[uz]=Sana & Vaqt
Name[vi]=Ngày giờ
Name[zgh]=ⴰⵙⴰⴽⵓⴷ ⴷ ⵡⴰⴽⵓⴷ
Name[zh_CN]=日期和时间
Name[zh_HK]=日期與時間
Name[zh_TW]=日期與時間
Comment=Manage date and time settings
Comment[af]=Bestuur datum- en tydinstellings
Comment[am]=የ ቀን እና ሰአት ማሰናጃ አስተዳዳሪ
Comment[ar]=إدارة إعدادات التاريخ والوقت
Comment[ast]=Alministra los axustes de data y tiempu
Comment[ay]=Uru jakhumpi urampi (hora) mayjachaña
Comment[az]=Gün, vaxt quruluşlarını yönəlt
Comment[be]=Кіраваць наладамi даты і часу
Comment[bg]=Управление на часа и датата
Comment[br]=Merañ arventennoù an deiziad hag an eur
Comment[bs]=Upravljajte postavkama datuma i vremena
Comment[ca]=Gestioneu els ajusts de la data i l'hora
Comment[ca@valencia]=Gestioneu els ajusts de la data i l'hora
Comment[cs]=Nastavení data a času
Comment[cy]=Rheoli gosodiadau dyddiad ac amser
Comment[da]=Administrér dato- og tidsindstillinger
Comment[de]=Datum- und Zeiteinstellungen verwalten
Comment[el]=Διαχειρίσου τις ρυθμίσεις ημερομηνίας και ώρας
Comment[eo]=Administri agordojn de dato kaj tempo
Comment[es]=Gestionar la configuración de la fecha y la hora
Comment[es_AR]=Gestionar la configuración de la fecha y la hora
Comment[et]=Kuupäeva ja kellaaja sätete haldamine
Comment[eu]=Kudeatu data eta orduaren ezarpenak
Comment[fa]=مدیریت تنظیمات تاریخ و زمان
Comment[fi]=Muuta aikaan liittyviä asetuksia
Comment[fr]=Gérer les paramètres de date et d'heure
Comment[fr_CA]=Gérer les paramètres de date et d’heure
Comment[gd]=Stiùirich roghainnean a' chinn-là 's an ama
Comment[gl]=Administrar a configuración de data e hora
Comment[he]=ניהול הגדרות תאריך וזמן
Comment[hi]=दिनांक व समय सेटिंग्स प्रबंधन
Comment[hr]=Upravljajte postavkama datuma i vremena
Comment[hu]=Dátum és idő beállítások kezelése
Comment[ia]=Administrar configurationes de data e tempore
Comment[id]=Atur pengaturan tanggal dan waktu
Comment[is]=Sýsla með stillingar fyrir dagsetningu og tíma
Comment[it]=Impostazioni data e ora
Comment[ja]=日付と時刻の設定を管理
Comment[kab]=Sefrek iɣewwaṛen n wazemz akked wakud
Comment[ko]=날짜 및 시간 설정 관리
Comment[la]=Configurationem diei and horae cura
Comment[lo]=ຈັດການການຕັ້ງຄ່າວັນແລະເວລາ
Comment[lt]=Keisti datos ir laiko nustatymus
Comment[lv]=Pārvaldīt datuma un laika iestatījumus
Comment[ms]=Mengurus tetapan tarikh dan masa
Comment[nb]=Behandle innstillinger for dato og tid
Comment[nds]=Datums- und Zeiteinstellung bearbeiten
Comment[nl]=Instellingen voor datum en tijd beheren
Comment[oc]=Gerir los paramètres de data e d'ora
Comment[pl]=Zarządzaj ustawieniami daty i czasu
Comment[pt]=Gerir definições de data e de hora
Comment[pt_BR]=Gerenciar configurações de data e hora
Comment[ro]=Gestionează setările datei și orei
Comment[ru]=Управление параметрами даты и времени
Comment[rue]=Справованя даты тай часу
Comment[sc]=Manìgia cunfiguratziones de data e oràriu
Comment[sk]=Spravuje nastavenia dátumu a času
Comment[sl]=Upravljajte z nastavitvami datuma in časa
Comment[sq]=Menaxho parametrat e datës dhe orës
Comment[sr]=Управљање поставкама датума и времена
Comment[sr@ijekavian]=Управљање поставкама датума и времена
Comment[sr@ijekavianlatin]=Управљање поставкама датума и времена
Comment[sr@latin]=Upravljaj podešavanjima datuma i vremena
Comment[sv]=Hantera datum och tidsinställningar
Comment[tg]=Идоракунии танзимоти вақт ва сана
Comment[th]=จัดการการตั้งค่าวันและเวลา
Comment[tr]=Tarih ve zaman ayarlarını yönet
Comment[uk]=Керування налаштуваннями дати та часу
Comment[ur]=وقت اور تاریخ کی ترتیبات کا انتظام  کریں
Comment[uz]=Sana va vaqt sozlamalarini boshqarish
Comment[vi]=Quản lý cài đặt ngày và giờ
Comment[zh_CN]=管理时间/日期设置
Comment[zh_HK]=管理日期與時間設定
Comment[zh_TW]=管理日期與時間設定
Keywords=time;date;calendar;format;network;sync;
Keywords[af]=tyd;datum;kalender;formaat;netwerk;sinchroniseer;
Keywords[am]=ሰአት : ቀን : ቀን መቁጠሪያ : አቀራረብ : ኔትዎርክ : ማስማሚያ;
Keywords[ar]=الوقت، التاريخ، التنسيق، الشبكة، المزامنة;
Keywords[ast]=tiempu;hora;data;calendariu;calandariu;formatu;rede;sincronizar;sincronización;
Keywords[ay]=ura;uru jakhu;pacha-mara-jakhu;utt'ayawi;llika;pacha kikipayaña;hora;fecha;calendario;formato;red;sincronización;
Keywords[az]=vaxt;gün;ilgün;boyut;tor işi;sinxronlaşma;
Keywords[be]=час;дата;каляндар;фармат;сетка;сінхранізацыя;
Keywords[bg]=време;дата;календар;формат;мрежа;синхронизиране;
Keywords[bs]=vrijeme;datum;kalendar;format;mreža;sinhronizacija;
Keywords[ca]=hora;data;calendari;format;xarxa;sincronització;
Keywords[ca@valencia]=hora;data;calendari;format;xarxa;sincronització;
Keywords[cs]=čas;datum;kalendář;formát;síť;synchronizace;
Keywords[cy]=amser;dyddiad;calendr;fformat;rhwydwaith;cydweddu;
Keywords[da]=tid;dato;kalender;format;netværk;synkronisering;
Keywords[de]=Zeit;Datum;Kalender;Format;Netzwerk;Synchronisierung;
Keywords[el]=ώρα;ημερομηνία;ημερολόγιο;μορφοποίηση;δίκτυο;συγχρονισμός;
Keywords[eo]=tempo;dato;kalendaro;aranĝo;reto;sinkronigi;
Keywords[es]=hora;fecha;calendario;formato;red;sincronización;
Keywords[es_AR]=hora;fecha;calendario;formato;red;sincronización;
Keywords[et]=aeg;kellaaeg;kuupäev;kalender;vorming;võrk;sünkroniseerimine;
Keywords[eu]=ordua;data;egutegia;formatua;sarea;sinkronizazioa;
Keywords[fa]=زمان، تاریخ، تقویم، قالب‌بندی، شبکه، هم‌زمانی;
Keywords[fi]=aika;päiväys;kalenteri;formaatti;verkko;synkronointi;
Keywords[fr]=heure;date;calendrier;format;réseau;synchronisation;
Keywords[fr_CA]=heure;date;calendrier;format;réseau;synchronisation;
Keywords[fy]=tiid;datum;kalinder;opset;netwurk;syngronisaasje;
Keywords[ga]=am;dáta;féilire;formáid;líonra;sync;
Keywords[gd]=àm;tìm;ceann-là;mìosachan;fòrmat;lìonra;sioncronachadh;tìm;ceann-latha;mìosachan;fòrmat;lìonra;sionc;
Keywords[gl]=hora;data;calendario;formato;rede;sincronización;
Keywords[he]=זמן;תאריך;לוח שנה;תבנית;רשת;סנכרון;
Keywords[hi]=समय;दिनांक;दिनदर्शिका;प्रारूप;नेटवर्क;समकालीन;
Keywords[hr]=vrijeme;datum;kalendar;format;mreža;usklađivanje;
Keywords[hu]=idő;dátum;naptár;formátum;hálózat;szinkronizálás;
Keywords[ia]=tempore;data;calendario;formato;rete;synchronisation;
Keywords[id]=waktu;tanggal;kalender;format;jaringan;cocokkan;
Keywords[is]=tími;dagsetning;cdagatal;snið;netkerfi;samstilling;
Keywords[it]=ora;data;calendario;formato;rete;sync;
Keywords[ja]=time;date;calendar;format;network;sync;時刻;時間;日付;カレンダー;フォーマット;形式;書式;ネットワーク;同期;
Keywords[kab]=akud;azemz;awiyat;amasal;aẓeṭṭa;amtawi;
Keywords[ko]=시간;날짜;달력;형식;네트워크;동기화;
Keywords[lo]=ເວລາ;ວັນ;ປະຕິທິນ;ຮູບແບບ;ເຄືອຂ່າຍ;ຊິງຄ໌;
Keywords[lt]=laikas;data;kalendorius;formatas;tinklas;sinchronizacija;
Keywords[lv]=laiks;datums;kalendārs;formāts;tīkls;sinhronizācija;
Keywords[ms]=masa;tarikh;kalendar;format;rangkaian;segerak;
Keywords[nb]=tid;dato;kalender;format;nettverk;synkroniser;
Keywords[nds]=Zeit;Datum;Kalender;Format;Netzwerk;Synchronisation;
Keywords[nl]=tijd;datum;kalender;bestandtype;netwerk;synchroniseren;
Keywords[oc]=ora;data;calendièr;calendari;format;ret;malhum;sincronizacion;
Keywords[pa]=ਸਮਾਂ;ਮਿਤੀ;ਕਲੈੰਡਰ;ਸਵਰੂਪ;ਨੈੱਟਵਰਕ;sync;
Keywords[pl]=czas;data;kalendarz;format;sieć;synchronizacja;
Keywords[pt]=hora;data;calendário;formato;rede;sincronização;
Keywords[pt_BR]=hora;data;calendário;formato;rede;sincronização;
Keywords[ro]=timp;dată;calendar;format;rețea;sincronizare;
Keywords[ru]=время;дата;календарь;формат;сеть;синхронизация;
Keywords[rue]=час;дата;календарь;формат;мрежа;сінхронізація;
Keywords[sc]=oràriu;data;calendàriu;formatu;retza;sinc;
Keywords[sk]=čas;dátum;kalendár;formát;siete;synchorizácia;
Keywords[sl]=čas;datum;koledar;oblika;omrežje;usklajevanje;
Keywords[sq]=ora;data;kalendari;formati;rrjeti;sinkronizo;
Keywords[sr]=време;датум;календар;формат;мрежа;усклађивање;
Keywords[sr@ijekavian]=време;датум;календар;формат;мрежа;усклађивање;
Keywords[sr@ijekavianlatin]=време;датум;календар;формат;мрежа;усклађивање;
Keywords[sr@latin]=vreme;datum;kalendar;format;mreža;usklađivanje;
Keywords[sv]=tid;datum;kalender;format;nätverk;synkronisering;
Keywords[ta]=நேரம்;தேதி;நாட்காட்டி;வடிவம்;பிணையம்;ஒத்திசைவு;
Keywords[tg]=вақт;сана;тақвим;формат;шабака;ҳамоҳангсозӣ;
Keywords[th]=เวลา;วัน;ปฏิทิน;รูปแบบ;เครือข่าย;การโอนข้อมูล;
Keywords[tr]=zaman;tarih;takvim;biçim;ağ;eşitleme;
Keywords[uk]=час;дата;календар;формат;мережа;синхронізація;
Keywords[ur]=وقت، تاریخ، تقویم، ساخت، نیٹورک، سنک، کالینڈر، فارمیٹ;
Keywords[uz]=vaqt;sana;kalendar;format;tarmoq;sync;
Keywords[vi]=thời gian;ngày tháng;lịch;định dạng;mạng;đồng bộ;
Keywords[zh_CN]=time;date;calendar;format;network;sync;时间;日期;日历;日程;格式;网络;同步;
Keywords[zh_HK]=時間;日期;日曆;格式;網絡;同步;
Keywords[zh_TW]=時間;日期;行事曆;格式;網路;同步;
