[Desktop Entry]
Name=Hot Corners
Comment=Manage hotcorner settings
Icon=cs-overview
Exec=cinnamon-settings hotcorner
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name[gd]=Oiseanan teth
Name[ga]=Cúinní teo
Name[gl]=Cantos activos
Name[tr]=Etkin Köşeler
Name[pt_BR]=Cantos de atalho
Name[de]=Aktive Ecken
Name[da]=Aktive hjørner
Name[zh_CN]=热区
Name[et]=Abistavad nurgad
Name[es]=Esquinas activas
Name[ru]=Горячие углы
Name[ro]=Colțuri sensibile
Name[ms]=Bucu Panas
Name[ja]=ホットコーナー
Name[ca]=Cantonades actives
Name[cy]=Corneli Poeth
Name[cs]=Aktivní rohy
Name[pt]=Local de ativação
Name[pl]=Aktywne narożniki
Name[hr]=Kutovi zaslona
Name[hu]=Érzékeny sarkok
Name[en_GB]=Hot Corners
Name[uk]=Гарячі кути
Name[vi]=Góc nóng
Name[is]=Virk skjáhorn
Name[it]=Pulsante attività (Hot Corner)
Name[id]=Pojok Interaktif
Name[nl]=Actieve hoeken
Name[fr]=Coins intelligents
Name[fr_CA]=Coins intelligents
Name[sr]=Вруће ивице
Name[sv]=Aktiva hörn
Name[sl]=Vroči koti
