[Desktop Entry]
Name=Windows
Comment=Manage window preferences
Icon=cs-windows
Exec=cinnamon-settings windows
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name[gd]=Uinneagan
Name[ga]=Fuinneoga
Name[gl]=Xanelas
Name[tr]=Pencereler
Name[ta]=சாளரங்கள்
Name[pt_BR]=Janelas
Name[de]=Fenster
Name[da]=Vinduer
Name[zh_CN]=窗口
Name[eo]=Fenestroj
Name[et]=Windows
Name[es]=Ventanas
Name[ru]=Окна
Name[ro]=Ferestre
Name[ms]=Tetingkap
Name[ja]=ウィンドウ
Name[om]=Foddaalee
Name[ca]=Finestres
Name[cy]=Ffenestri
Name[cs]=Okna
Name[pt]=Janelas
Name[pa]=ਵਿੰਡੋਜ਼
Name[pl]=Okna
Name[hr]=Prozori
Name[hu]=Ablakok
Name[en_GB]=Windows
Name[uk]=Вікна
Name[vi]=Cửa sổ
Name[is]=Gluggar
Name[am]=መስኮቶች
Name[it]=Finestre
Name[id]=Jendela-jendela
Name[nl]=Vensters
Name[fr]=Fenêtres
Name[fr_CA]=Fenêtres
Name[sr]=Прозори
Name[sv]=Fönster
Name[sl]=Okna
