[Desktop Entry]
Exec=cinnamon-settings-users
Icon=system-users
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=false
OnlyShowIn=X-Cinnamon;
Keywords=Preferences;Settings;
Name=Users and Groups
Name[af]=Users and Groups
Name[am]=ተጠቃሚዎች እና ቡድኖች
Name[ar]=Users and Groups
Name[ast]=Users and Groups
Name[be]=Users and Groups
Name[be@latin]=Users and Groups
Name[bg]=Users and Groups
Name[bn]=Users and Groups
Name[bn_IN]=Users and Groups
Name[bs]=Users and Groups
Name[ca]=Usuaris i grups
Name[ca@valencia]=Usuaris i grups
Name[cs]=Uživatelé a skupiny
Name[csb]=Users and Groups
Name[cy]=Users and Groups
Name[da]=Brugere og grupper
Name[de]=Benutzer und Gruppen
Name[el]=Users and Groups
Name[en_AU]=Users and Groups
Name[en_CA]=Users and Groups
Name[en_GB]=Users and Groups
Name[eo]=Users and Groups
Name[es]=Usuarios y Grupos
Name[et]=Users and Groups
Name[eu]=Erabiltzaileak eta taldeak
Name[fa]=Users and Groups
Name[fi]=Käyttäjät ja Ryhmät
Name[fil]=Users and Groups
Name[fo]=Users and Groups
Name[fr]=Utilisateurs et groupes
Name[fr_CA]=Utilisateurs et groupes
Name[ga]=Users and Groups
Name[gd]=Cleachdaichean agus buidhnean
Name[gl]=Users and Groups
Name[gu]=Users and Groups
Name[he]=Users and Groups
Name[hi]=Users and Groups
Name[hr]=Korisnici i grupe
Name[hu]=Users and Groups
Name[ia]=Users and Groups
Name[id]=Pengguna dan Grup
Name[is]=Notendur og hópar
Name[it]=Users and Groups
Name[ja]=ユーザとグループの管理
Name[jv]=Users and Groups
Name[ka]=Users and Groups
Name[km]=Users and Groups
Name[kn]=Users and Groups
Name[ko]=Users and Groups
Name[ksw]=Users and Groups
Name[ky]=Users and Groups
Name[la]=Users and Groups
Name[li]=Gebroekers en groepe
Name[lt]=Users and Groups
Name[lv]=Users and Groups
Name[mk]=Users and Groups
Name[ml]=Users and Groups
Name[mr]=Users and Groups
Name[ms]=Pengguna dan Kumpulan
Name[nb]=Brukere og grupper
Name[nds]=Users and Groups
Name[ne]=Users and Groups
Name[nl]=Gebruikers en groepen
Name[nn]=Users and Groups
Name[pa]=Users and Groups
Name[pl]=Użytkownicy i grupy
Name[pt]=Utilizadores e Grupos
Name[pt_BR]=Usuários e Grupos
Name[ro]=Users and Groups
Name[ru]=Пользователи и группы
Name[rue]=Users and Groups
Name[si]=Users and Groups
Name[sk]=Users and Groups
Name[sl]=Uporabniki in skupine
Name[so]=Users and Groups
Name[sq]=Users and Groups
Name[sr]=Корисници и групе
Name[sr@ijekavianlatin]=Корисници и групе
Name[sr@latin]=Корисници и групе
Name[sv]=Användare och Grupper
Name[ta]=பயனர்கள் மற்றும் குழுக்கள்
Name[te]=Users and Groups
Name[th]=Users and Groups
Name[tlh]=Users and Groups
Name[tpi]=Users and Groups
Name[tr]=Kullanıcılar ve Gruplar
Name[ts]=Users and Groups
Name[ug]=ئىشلەتكۈچىلەر ۋە گۇرۇپپىلار
Name[uk]=Користувачі та групи
Name[ur]=Users and Groups
Name[uz]=Users and Groups
Name[uz@cyrillic]=Users and Groups
Name[vi]=Người dùng và Nhóm
Name[yi]=Users and Groups
Name[zh_CN]=用户和用户组
Name[zh_HK]=使用者及羣組
Name[zh_TW]=Users and Groups
Comment=Add or remove users and groups
Comment[af]=Add or remove users and groups
Comment[am]=ተጠቃሚዎች እና ቡድኖች መጨመሪያ ወይንም ማስወገጃ
Comment[ar]=اضافة أو ازالة المستخدمين والمجموعات
Comment[ast]=Add or remove users and groups
Comment[be]=Add or remove users and groups
Comment[be@latin]=Add or remove users and groups
Comment[bg]=Add or remove users and groups
Comment[bn]=Add or remove users and groups
Comment[bn_IN]=Add or remove users and groups
Comment[bs]=Add or remove users and groups
Comment[ca]=Afegiu o suprimiu usuaris i grups
Comment[ca@valencia]=Afegiu o suprimiu usuaris i grups
Comment[cs]=Přidat nebo odstranit uživatele a skupiny
Comment[csb]=Add or remove users and groups
Comment[cy]=Add or remove users and groups
Comment[da]=Tilføj eller fjern brugere og grupper
Comment[de]=Benutzer und Gruppen hinzufügen oder entfernen
Comment[el]=Add or remove users and groups
Comment[en_AU]=Add or remove users and groups
Comment[en_CA]=Add or remove users and groups
Comment[en_GB]=Add or remove users and groups
Comment[eo]=Add or remove users and groups
Comment[es]=Añadir o quitar usuarios y grupos
Comment[et]=Add or remove users and groups
Comment[eu]=Gehitu edo ezabatu erabiltzaileak eta taldeak
Comment[fa]=Add or remove users and groups
Comment[fi]=Lisää tai poista käyttäjiä ja ryhmiä
Comment[fil]=Add or remove users and groups
Comment[fo]=Add or remove users and groups
Comment[fr]=Ajouter ou supprimer des utilisateurs et des groupes
Comment[fr_CA]=Ajouter ou supprimer des utilisateurs et des groupes
Comment[ga]=Add or remove users and groups
Comment[gd]=Cuir ris no thoir às cleachdaichean agus buidhnean
Comment[gl]=Add or remove users and groups
Comment[gu]=Add or remove users and groups
Comment[he]=Add or remove users and groups
Comment[hi]=Add or remove users and groups
Comment[hr]=Dodaj ili ukloni korisnike i grupe
Comment[hu]=Add or remove users and groups
Comment[ia]=Add or remove users and groups
Comment[id]=Tambah atau hapus pemakai dan kelompoknya
Comment[is]=Bæta við eða fjarlægja notendur og hópa
Comment[it]=Add or remove users and groups
Comment[ja]=ユーザ及びグループの追加や削除
Comment[jv]=Add or remove users and groups
Comment[ka]=Add or remove users and groups
Comment[km]=Add or remove users and groups
Comment[kn]=Add or remove users and groups
Comment[ko]=Add or remove users and groups
Comment[ksw]=Add or remove users and groups
Comment[ky]=Add or remove users and groups
Comment[la]=Add or remove users and groups
Comment[li]=Gebroekers en groepe toevoege of verwijdere
Comment[lt]=Add or remove users and groups
Comment[lv]=Add or remove users and groups
Comment[mk]=Add or remove users and groups
Comment[ml]=Add or remove users and groups
Comment[mr]=Add or remove users and groups
Comment[ms]=Tambah atau buang pengguna dan kumpulan
Comment[nb]=Legg til eller fjern brukere og grupper
Comment[nds]=Add or remove users and groups
Comment[ne]=Add or remove users and groups
Comment[nl]=Gebruikers en groepen toevoegen of verwijderen
Comment[nn]=Add or remove users and groups
Comment[pa]=Add or remove users and groups
Comment[pl]=Dodawanie lub usuwanie użytkowników i grup
Comment[pt]=Adicionar ou remover utilizadores e grupos
Comment[pt_BR]=Adicionar ou remover usuários e grupos
Comment[ro]=Add or remove users and groups
Comment[ru]=Добавить или удалить пользователей или группы
Comment[rue]=Add or remove users and groups
Comment[si]=Add or remove users and groups
Comment[sk]=Add or remove users and groups
Comment[sl]=Dodajte ali odstranite uporabnike in skupine
Comment[so]=Add or remove users and groups
Comment[sq]=Add or remove users and groups
Comment[sr]=Додајте или уклоните кориснике и групе
Comment[sr@ijekavianlatin]=Додајте или уклоните кориснике и групе
Comment[sr@latin]=Додајте или уклоните кориснике и групе
Comment[sv]=Lägg till eller ta bort användare och grupper
Comment[ta]=பயனர் மற்றும் குழுக்களை சேர் அல்லது நீக்கு
Comment[te]=Add or remove users and groups
Comment[th]=Add or remove users and groups
Comment[tlh]=Add or remove users and groups
Comment[tpi]=Add or remove users and groups
Comment[tr]=Kullanıcıları ve grupları ekle ya da sil
Comment[ts]=Add or remove users and groups
Comment[ug]=ئىشلەتكۈچى ۋە گۇرۇپپا قوش ياكى ئۆچۈر
Comment[uk]=Додавати або вилучати користувачів та групи
Comment[ur]=Add or remove users and groups
Comment[uz]=Add or remove users and groups
Comment[uz@cyrillic]=Add or remove users and groups
Comment[vi]=Thêm hay loại bỏ người dùng và nhóm
Comment[yi]=Add or remove users and groups
Comment[zh_CN]=添加或删除用户和组
Comment[zh_HK]=新增或移除使用者及羣組
Comment[zh_TW]=Add or remove users and groups
