[Desktop Entry]
Icon=cs-windows
Exec=cinnamon-settings windows
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Windows
Name[am]=መስኮቶች
Name[ar]=النوافذ
Name[ast]=Ventanes
Name[be]=Вокны
Name[be@latin]=Вокны
Name[bg]=Прозорци
Name[bg_BG]=Прозорци
Name[bs]=Prozori
Name[ca]=Finestres
Name[ca@valencia]=Finestres
Name[ca_ES@valencia]=Finestres
Name[cs]=Okna
Name[cs_CZ]=Okna
Name[cy]=Ffenestri
Name[da]=Vinduer
Name[da_DK]=Vinduer
Name[de]=Fenster
Name[de_CH]=Fenster
Name[de_DE]=Fenster
Name[el]=Παράθυρα
Name[eo]=Fenestroj
Name[es]=Ventanas
Name[es_419]=Ventanas
Name[es_AR]=Ventanas
Name[es_CL]=Ventanas
Name[es_CO]=Ventanas
Name[es_CR]=Ventanas
Name[es_DO]=Ventanas
Name[es_EC]=Ventanas
Name[es_ES]=Ventanas
Name[es_GT]=Ventanas
Name[es_HN]=Ventanas
Name[es_MX]=Ventanas
Name[es_NI]=Ventanas
Name[es_PA]=Ventanas
Name[es_PE]=Ventanas
Name[es_PR]=Ventanas
Name[es_SV]=Ventanas
Name[es_US]=Ventanas
Name[es_UY]=Ventanas
Name[es_VE]=Ventanas
Name[eu]=Leihoak
Name[fi]=Ikkunat
Name[fi_FI]=Ikkunat
Name[fil]=Mga dungawan
Name[fr]=Fenêtres
Name[fr_CA]=Fenêtres
Name[ga]=Fuinneoga
Name[gd]=Uinneagan
Name[gl]=Xanelas
Name[gl_ES]=Xanelas
Name[hr]=Prozori
Name[hu]=Ablakok
Name[hu_HU]=Ablakok
Name[ia]=Fenestras
Name[id]=Jendela-jendela
Name[id_ID]=Jendela-jendela
Name[is]=Gluggar
Name[it]=Finestre
Name[ja]=ウィンドウ
Name[ja_JP]=ウィンドウ
Name[ko]=창
Name[ko_KR]=창
Name[lo]=ໜ້າຕ່າງ
Name[lo_LA]=ໜ້າຕ່າງ
Name[lt]=Langai
Name[lt_LT]=Langai
Name[lv]=Logi
Name[lv_LV]=Logi
Name[ms]=Tetingkap
Name[ms_MY]=Tetingkap
Name[nb]=Vinduer
Name[nb_NO]=Vinduer
Name[nds]=Fenster
Name[nl]=Vensters
Name[nl_NL]=Vensters
Name[oc]=Fenèstras
Name[om]=Foddaalee
Name[pa]=ਵਿੰਡੋਜ਼
Name[pl]=Okna
Name[pl_PL]=Okna
Name[pt]=Janelas
Name[pt_BR]=Janelas
Name[pt_PT]=Janelas
Name[ro]=Ferestre
Name[ro_RO]=Ferestre
Name[ru]=Окна
Name[sk]=Okná
Name[sk_SK]=Okná
Name[sl]=Okna
Name[sl_SI]=Okna
Name[sq]=Dritaret
Name[sr]=Прозори
Name[sr@Latn]=Прозори
Name[sr@ije]=Прозори
Name[sr@ijekavian]=Прозори
Name[sr@ijekavianlatin]=Прозори
Name[sr@latin]=Прозори
Name[sv]=Fönster
Name[ta]=சாளரங்கள்
Name[ta_LK]=சாளரங்கள்
Name[th]=หน้าต่าง
Name[th_TH]=หน้าต่าง
Name[tr]=Pencereler
Name[uk]=Вікна
Name[uk_UA]=Вікна
Name[ur]=ونڈوز
Name[ur_PK]=ونڈوز
Name[vi]=Cửa sổ
Name[vi_VN]=Cửa sổ
Name[zh]=窗口
Name[zh_CN]=窗口
Name[zh_HK]=視窗
Name[zh_TW]=視窗
Comment=Manage window preferences
Comment[am]=የመስኮት ምርጫዎች አስተዳዳሪ
Comment[ar]=إدارة تفضيلات النافذة
Comment[be]=Кіраванне наладамі вокнаў
Comment[be@latin]=Кіраванне наладамі вокнаў
Comment[bg]=Управление настройките на прозорците
Comment[bg_BG]=Управление настройките на прозорците
Comment[bs]=Upravljaj postavkama prozora
Comment[ca]=Administrar les preferències de finestres
Comment[ca@valencia]=Administra les preferències de finestres
Comment[ca_ES@valencia]=Administra les preferències de finestres
Comment[cs]=Změnit nastavení chování oken
Comment[cs_CZ]=Změnit nastavení chování oken
Comment[cy]=Rheoli dewisiadau ffenestr
Comment[da]=Administrér vinduesindstillinger
Comment[da_DK]=Administrér vinduesindstillinger
Comment[de]=Fenstereinstellungen verwalten
Comment[de_CH]=Fenstereinstellungen verwalten
Comment[de_DE]=Fenstereinstellungen verwalten
Comment[el]=Ρυθμίστε τις επιλογές παραθύρων
Comment[es]=Administrar las preferencias de ventanas
Comment[es_419]=Administrar las preferencias de ventanas
Comment[es_AR]=Administrar las preferencias de ventanas
Comment[es_CL]=Administrar las preferencias de ventanas
Comment[es_CO]=Administrar las preferencias de ventanas
Comment[es_CR]=Administrar las preferencias de ventanas
Comment[es_DO]=Administrar las preferencias de ventanas
Comment[es_EC]=Administrar las preferencias de ventanas
Comment[es_ES]=Administrar las preferencias de ventanas
Comment[es_GT]=Administrar las preferencias de ventanas
Comment[es_HN]=Administrar las preferencias de ventanas
Comment[es_MX]=Administrar las preferencias de ventanas
Comment[es_NI]=Administrar las preferencias de ventanas
Comment[es_PA]=Administrar las preferencias de ventanas
Comment[es_PE]=Administrar las preferencias de ventanas
Comment[es_PR]=Administrar las preferencias de ventanas
Comment[es_SV]=Administrar las preferencias de ventanas
Comment[es_US]=Administrar las preferencias de ventanas
Comment[es_UY]=Administrar las preferencias de ventanas
Comment[es_VE]=Administrar las preferencias de ventanas
Comment[eu]=Kudeatu leiho-hobespenak
Comment[fi]=Muokkaa ikkunoiden asetuksia
Comment[fi_FI]=Muokkaa ikkunoiden asetuksia
Comment[fr]=Gérer les préférences de la fenêtre
Comment[fr_CA]=Gérer les préférences des fenêtres
Comment[gd]=Stiùirich roghainnean nan uinneagan
Comment[gl]=Administra as preferencias da xanela
Comment[gl_ES]=Administra as preferencias da xanela
Comment[hr]=Upravljajte osobitostima prozora
Comment[hu]=Ablak beállítások kezelése
Comment[hu_HU]=Ablak beállítások kezelése
Comment[ia]=Gerer le preferentias de fenestra
Comment[id]=Atur preferensi jendela
Comment[id_ID]=Atur preferensi jendela
Comment[is]=Sýsla með kjörstillingar glugga
Comment[it]=Gestisci preferenze finesta
Comment[ja]=ウインドウ管理の設定
Comment[ja_JP]=ウインドウ管理の設定
Comment[ko]=창 설정을 관리합니다
Comment[ko_KR]=창 설정을 관리합니다
Comment[lt]=Tvarkyti lango nuostatas
Comment[lt_LT]=Tvarkyti lango nuostatas
Comment[lv]=Pārvaldīt logu preferences
Comment[lv_LV]=Pārvaldīt logu preferences
Comment[ms]=Mengurus pilihan tetingkap
Comment[ms_MY]=Mengurus pilihan tetingkap
Comment[nb]=Håndter vindusinnstillinger
Comment[nb_NO]=Håndter vindusinnstillinger
Comment[nds]=Fenster-Einstellungen bearbeiten
Comment[nl]=Venstervoorkeuren beheren
Comment[nl_NL]=Venstervoorkeuren beheren
Comment[pl]=Zarządzaj preferencjami okien
Comment[pl_PL]=Zarządzaj preferencjami okien
Comment[pt]=Gerir preferências de janelas
Comment[pt_BR]=Gerenciar preferências de janelas
Comment[pt_PT]=Gerir preferências de janelas
Comment[ro]=Gestionează preferințele ferestrelor
Comment[ro_RO]=Gestionează preferințele ferestrelor
Comment[ru]=Управление настройками окон
Comment[sk]=Spravovať predvoľby okien
Comment[sk_SK]=Spravovať predvoľby okien
Comment[sl]=Upravljajte z možnostmi oken
Comment[sl_SI]=Upravljajte z možnostmi oken
Comment[sq]=Menaxhoni parapëlqimet e dritares
Comment[sr]=Управљање поставкама прозора
Comment[sr@Latn]=Управљање поставкама прозора
Comment[sr@ije]=Управљање поставкама прозора
Comment[sr@ijekavian]=Управљање поставкама прозора
Comment[sr@ijekavianlatin]=Управљање поставкама прозора
Comment[sr@latin]=Управљање поставкама прозора
Comment[sv]=Hantera fönsterinställningar
Comment[tg]=Идоракунии хусусиятҳои равзана
Comment[th]=จัดการการตั้งค่าหน้าต่างขั้นสูง
Comment[th_TH]=จัดการการตั้งค่าหน้าต่างขั้นสูง
Comment[tr]=Pencere tercihlerini yönet
Comment[uk]=Керувати параметрами вікон
Comment[uk_UA]=Керувати параметрами вікон
Comment[ur]=ونڈو کی ترجیحات
Comment[ur_PK]=ونڈو کی ترجیحات
Comment[vi]=Quản lý tuỳ thích cửa sổ
Comment[vi_VN]=Quản lý tuỳ thích cửa sổ
Comment[zh]=管理窗口样式
Comment[zh_CN]=管理窗口样式
Comment[zh_HK]=管理視窗喜好設定
Comment[zh_TW]=管理視窗偏好設定
Keywords=windows;titlebar;edge;switcher;window list;attention;focus;
Keywords[ar]=نوافذ، شريط العنوان، حافة، مبّدل، قائمة النوافذ، انتباه، تركيز;
Keywords[be]=вокны;загаловак;край;пераключацель;спіс вокнаў;увага;фокус;
Keywords[be@latin]=вокны;загаловак;край;пераключацель;спіс вокнаў;увага;фокус;
Keywords[bg]=прозорец;заглавна лента;ръб;превключване;списък с прозорци;внимание;фокус;
Keywords[bg_BG]=прозорец;заглавна лента;ръб;превключване;списък с прозорци;внимание;фокус;
Keywords[bs]=prozori;traka naslova;ivica;mjenjač;lista prozora;pažnja;fokus;
Keywords[ca]=finestres;barra de títol;vora;interruptor;llista de finestres;atenció;enfocament;
Keywords[ca@valencia]=finestres;barra de títol;bord;interruptor;llista de finestres;atenció;enfocament;
Keywords[ca_ES@valencia]=finestres;barra de títol;bord;interruptor;llista de finestres;atenció;enfocament;
Keywords[cs]=okna;nadpisy;strany;přepínáč;seznam oken;pozornost;zaměřit;
Keywords[cs_CZ]=okna;nadpisy;strany;přepínáč;seznam oken;pozornost;zaměřit;
Keywords[cy]=ffenestri;bar teitl;ymyl;newidydd;rhestr ffenestr;sylw;canolbwyntio;
Keywords[da]=vinduer;titellinie;kant;skifter;vinduesliste;opmærksomhed;fokus;
Keywords[da_DK]=vinduer;titellinie;kant;skifter;vinduesliste;opmærksomhed;fokus;
Keywords[de]=Fenster;Titelleiste;Umrandung;Umschalter;Fensterliste;Aufmerksamkeit;Fokus;
Keywords[de_CH]=Fenster;Titelleiste;Umrandung;Umschalter;Fensterliste;Aufmerksamkeit;Fokus;
Keywords[de_DE]=Fenster;Titelleiste;Umrandung;Umschalter;Fensterliste;Aufmerksamkeit;Fokus;
Keywords[el]=παράθυρα;γραμμή τίτλου;άκρη;διακόπτης;λίστα παραθύρων;προσοχή;εστίαση;
Keywords[es]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_419]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_AR]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_CL]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_CO]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_CR]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_DO]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_EC]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_ES]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_GT]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_HN]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_MX]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_NI]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_PA]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_PE]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_PR]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_SV]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_US]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_UY]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[es_VE]=ventanas;barra de título;borde;interruptor;lista de ventanas;atención;enfoque;
Keywords[eu]=leihoa;titulu-barra;ertza;aldatzailea;leiho-zerrenda;arreta;fokua;
Keywords[fi]=ikkunat;otsikkopalkki;reuna;vaihtaja;ikkunalista;huomio;keskitys;
Keywords[fi_FI]=ikkunat;otsikkopalkki;reuna;vaihtaja;ikkunalista;huomio;keskitys;
Keywords[fr]=fenêtre;barre de titre;bord;commutateur;liste de fenêtre;attention;focus;
Keywords[fr_CA]=fenêtres;barre de titre;bord;commutateur;liste de fenêtres;attention;focus;
Keywords[ga]=fuinneoga;barra teidil;imeall;lascóir;liosta fuinneoige;aird;fócas;
Keywords[gd]=uinneagan. bàr-tiotail;oir;suidsear;liosta nan uinneagan;aire;fòcas;windows;titlebar;edge;switcher;window list;attention;focus;
Keywords[gl]=xanelas;barra de título;bordo;cambiador;lista de xanelas;atención;foco;
Keywords[gl_ES]=xanelas;barra de título;bordo;cambiador;lista de xanelas;atención;foco;
Keywords[hr]=prozori;naslovna traka;rub;prijelaz;popis prozora;upozorenje;fokus;
Keywords[hu]=ablakok;címsor;él;váltó;ablaklista;figyelem;fókusz;
Keywords[hu_HU]=ablakok;címsor;él;váltó;ablaklista;figyelem;fókusz;
Keywords[ia]=fenestras;barra de titulo;bordo;commutator;lista del fenestras;attention;foco;
Keywords[id]=jendela;bar judul;ujung;pemindah;daftar jendela;perhatian;fokus;
Keywords[id_ID]=jendela;bar judul;ujung;pemindah;daftar jendela;perhatian;fokus;
Keywords[is]=gluggar;titilslá;jaðar;skiptir;gluggalisti;kvaðning;athygli;fókus;virkni;
Keywords[it]=finestre;barra del titolo;margine;switcher;elenco finestre;attenzione;focus;
Keywords[ja]=ウィンドウ、タイトルバー、エッジ、スイッチャーウィンドウリスト、注意、フォーカス;
Keywords[ja_JP]=ウィンドウ、タイトルバー、エッジ、スイッチャーウィンドウリスト、注意、フォーカス;
Keywords[ko]=창;제목;엣지;스위처;창 목록;집중;포커스;
Keywords[ko_KR]=창;제목;엣지;스위처;창 목록;집중;포커스;
Keywords[lv]=logi;virsraksta josla;mala;pārslēdzējs;logu saraksts;uzmanība;fokuss;
Keywords[lv_LV]=logi;virsraksta josla;mala;pārslēdzējs;logu saraksts;uzmanība;fokuss;
Keywords[ms]=tetingkap;palang tajuk;pinggir;penukar;senarai tetingkap;perhatian;fokus;
Keywords[ms_MY]=tetingkap;palang tajuk;pinggir;penukar;senarai tetingkap;perhatian;fokus;
Keywords[nb]=vindu;tittellinje;kant;bryter;vindusliste;oppmerksomhet;fokus;
Keywords[nb_NO]=vindu;tittellinje;kant;bryter;vindusliste;oppmerksomhet;fokus;
Keywords[nl]=vensters;titelbalk;rand;wisselaar;vensterlijst;aandacht;scherpstelling;
Keywords[nl_NL]=vensters;titelbalk;rand;wisselaar;vensterlijst;aandacht;scherpstelling;
Keywords[om]=foddaawwan;kabala mataduree;qarree;jijjirtuu;tarree foddaa;hubadhu;xiyyeeffadhu;
Keywords[pl]=okna;pasek tytułowy;krawędź;przełącznik;lista okien;uwaga;skupienie;
Keywords[pl_PL]=okna;pasek tytułowy;krawędź;przełącznik;lista okien;uwaga;skupienie;
Keywords[pt]=janelas;barra de título;limite;comutador;lista de janelas;foco;
Keywords[pt_BR]=janelas;barra de título;margem;alternador;lista de janelas;atenção;foco;
Keywords[pt_PT]=janelas;barra de título;limite;comutador;lista de janelas;foco;
Keywords[ro]=ferestre;bară de titlu;margine;comutator;listă de ferestre;atenție;focus;
Keywords[ro_RO]=ferestre;bară de titlu;margine;comutator;listă de ferestre;atenție;focus;
Keywords[ru]=окна;заголовок;край;переключатель;список окон;внимание;фокус;
Keywords[sk]=okná;nadpisy;strany;prepínáč;zoznam okien;pozornosť;zamerať;
Keywords[sk_SK]=okná;nadpisy;strany;prepínáč;zoznam okien;pozornosť;zamerať;
Keywords[sl]=okna;nazivna vrstica;rob;preklopnik;seznam oken;pozornost;žarišče;
Keywords[sl_SI]=okna;nazivna vrstica;rob;preklopnik;seznam oken;pozornost;žarišče;
Keywords[sr]=прозори;насловна трака;ивица;измењивач;списак прозора;пажња;жижа;
Keywords[sr@Latn]=прозори;насловна трака;ивица;измењивач;списак прозора;пажња;жижа;
Keywords[sr@ije]=прозори;насловна трака;ивица;измењивач;списак прозора;пажња;жижа;
Keywords[sr@ijekavian]=прозори;насловна трака;ивица;измењивач;списак прозора;пажња;жижа;
Keywords[sr@ijekavianlatin]=прозори;насловна трака;ивица;измењивач;списак прозора;пажња;жижа;
Keywords[sr@latin]=прозори;насловна трака;ивица;измењивач;списак прозора;пажња;жижа;
Keywords[sv]=fönster;titelrad;kant;växlare;fönster lista;uppmärksamhet;fokus;
Keywords[ta]=சாளரங்கள்;தலைப்புபட்டி;முனை;மாற்றி;சாளர பட்டியல்;கவனம்;குவிப்பு;
Keywords[ta_LK]=சாளரங்கள்;தலைப்புபட்டி;முனை;மாற்றி;சாளர பட்டியல்;கவனம்;குவிப்பு;
Keywords[tg]=равзанаҳо;навори унвон;канор;ивазкунанда;рӯйхати равзана;диққат;марказ;
Keywords[th]=หน้าต่าง;แถบชื่อเรื่อง;ขอบเขต;ตัวสลับ;รายการหน้าต่าง;คำเตือน;โฟกัส;
Keywords[th_TH]=หน้าต่าง;แถบชื่อเรื่อง;ขอบเขต;ตัวสลับ;รายการหน้าต่าง;คำเตือน;โฟกัส;
Keywords[tr]=pencereler;başlık çubuğu;kenar;değiştirici;pencere listesi;uyarı;odaklanma;
Keywords[uk]=вікна;заголовок;край;перемикач;перелік вікон;увага;фокус;
Keywords[uk_UA]=вікна;заголовок;край;перемикач;перелік вікон;увага;фокус;
Keywords[vi]=cửa sổ;thanh tiêu đề;cạnh;bộ chuyển;danh sách cửa sổ;chú ý;tiêu điểm;
Keywords[vi_VN]=cửa sổ;thanh tiêu đề;cạnh;bộ chuyển;danh sách cửa sổ;chú ý;tiêu điểm;
Keywords[zh]=windows;titlebar;edge;switcher;window list;attention;focus;窗口;标题栏;边缘;切换器;窗口列表;注意;焦点;
Keywords[zh_CN]=windows;titlebar;edge;switcher;window list;attention;focus;窗口;标题栏;边缘;切换器;窗口列表;注意;焦点;
Keywords[zh_HK]=視窗;標題列;邊緣;切換器;視窗清單;注意;焦點;
Keywords[zh_TW]=視窗;標題列;邊緣;切換器;視窗列表;注意;焦點;
