[Desktop Entry]
Exec=env WEBKIT_DISABLE_COMPOSITING_MODE=1 cinnamon-settings
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=false
OnlyShowIn=X-Cinnamon;
Keywords=Preferences;Settings;
Name=System Settings
Name[af]=Stelsel instellings
Name[am]=ስርአት ማሰናጃ
Name[ar]=إعدادات النظام
Name[ast]=Axustes del sistema
Name[ay]=Sistema ukat mayjachawi
Name[az]=Qurmaca Quruluşları
Name[be]=Сістэмныя налады
Name[bg]=Системни настройки
Name[bn]=সিস্টেমের সেটিং
Name[br]=Arventennoù ar reizhiad
Name[bs]=Sistemske postavke
Name[ca]=Ajusts del sistema
Name[ca@valencia]=Ajusts del sistema
Name[cs]=Nastavení systému
Name[cy]=Gosodiadau'r System
Name[da]=Systemindstillinger
Name[de]=Systemeinstellungen
Name[el]=Ρυθμίσεις Συστήματος
Name[eo]=Sistemaj agordoj
Name[es]=Configuración del sistema
Name[es_AR]=Configuración del sistema
Name[et]=Süsteemi seaded
Name[eu]=Sistemaren ezarpenak
Name[fa]=تنظیمات سیستم
Name[fi]=Järjestelmäasetukset
Name[fil]=Mga Setting ng System
Name[fr]=Paramètres système
Name[fr_CA]=Paramètres système
Name[fy]=Systeem ynstellingen
Name[ga]=Socruithe Córais
Name[gd]=Roghainnean an t-siostaim
Name[gl]=Axustes do sistema
Name[he]=הגדרות מערכת
Name[hi]=सिस्टम सेटिंग्स
Name[hr]=Postavke sustava
Name[hsb]=Nastajenja systema
Name[hu]=Rendszerbeállítások
Name[hy]=Համակարգի կարգավորումները
Name[ia]=Configurationes del systema
Name[id]=Pengaturan Sistem
Name[ie]=Parametres del sistema
Name[is]=Kerfisstillingar
Name[it]=Impostazioni di sistema
Name[ja]=システムの設定
Name[jv]=seting sistem
Name[ka]=სისტემის პარამეტრები
Name[kab]=Iɣewwaṛen n unagraw
Name[kk]=Жүйе баптаулары
Name[km]=ការ​កំណត់​ប្រព័ន្ធ
Name[kn]=ವ್ಯವಸ್ಥೆಯ ಸಂಯೋಜನೆಗಳು
Name[ko]=시스템 설정
Name[ku]=Mîhengên pergalê
Name[la]=Configuratio Systematis
Name[li]=Systeeminsjtellinge
Name[lo]=ການຕັ້ງຄ່າລະບົບ
Name[lt]=Sistemos nustatymai
Name[lv]=Sistēmas iestatījumi
Name[mai]=सिस्टम सेटिंग
Name[mr]=सिस्टम सेटिंग्स्
Name[ms]=Tetapan Sistem
Name[my]=စနစ် ကနောက်ခံ
Name[nap]=Settaggi d''o Sistema
Name[nb]=Systeminnstillinger
Name[nds]=Systemeinstellungen
Name[ne]=प्रणाली सेटिङ
Name[nl]=Systeeminstellingen
Name[oc]=Paramètres del sistèma
Name[om]=Qindaainoota sirnaa
Name[pa]=ਸਿਸਟਮ ਸੈਟਿੰਗ
Name[pl]=Ustawienia systemowe
Name[pt]=Definições do sistema
Name[pt_BR]=Configurações do sistema
Name[ro]=Setări sistem
Name[ru]=Параметры системы
Name[rue]=Сістемні штімованя
Name[sc]=Cunfiguratziones de sistema
Name[si]=පද්ධති සැකසුම්
Name[sk]=Systémové nastavenia
Name[sl]=Sistemske nastavitve
Name[sq]=Parametrat e sistemit
Name[sr]=Поставке система
Name[sr@ijekavian]=Поставке система
Name[sr@ijekavianlatin]=Поставке система
Name[sr@latin]=Sistemska podešavanja
Name[sv]=Systeminställningar
Name[ta]=கணினி அமைப்புகள்
Name[te]=సిస్టమ్ అమర్పులు
Name[tg]=Танзимоти низом
Name[th]=ค่าตั้งระบบ
Name[tl]=Mga Settings ukol  sa Sistema
Name[tr]=Sistem Ayarları
Name[ug]=سىستېما تەڭشىكى
Name[uk]=Системні налаштування
Name[ur]=سسٹم کی ترتیبات
Name[uz]=Tizim sozlamalari
Name[vi]=Cài đặt Hệ thống
Name[zgh]=ⵜⵉⵙⵖⴰⵍ ⵏ ⵓⵏⴳⵔⴰⵡ
Name[zh_CN]=系统设置
Name[zh_HK]=系統設定
Name[zh_TW]=系統設定
Comment=Control Center
Comment[af]=Kontrole sentrum
Comment[am]=መቆጣጠሪያ ማእከል
Comment[ar]=مركز التحكم
Comment[ast]=Centru de control
Comment[ay]=Iñasir taypi
Comment[az]=Yönətmə Ortası
Comment[be]=Цэнтр кіравання
Comment[bg]=Контролен център
Comment[bn]=নিয়ন্ত্রণ কেন্দ্র
Comment[bs]=Upravljački centar
Comment[ca]=Centre de control
Comment[ca@valencia]=Centre de control
Comment[cs]=Ovládací panely
Comment[cy]=Canolfan Rheoli
Comment[da]=Kontrolcenter
Comment[de]=Steuerzentrale
Comment[el]=Κέντρο Ελέγχου
Comment[en_CA]=Control Centre
Comment[en_GB]=Control Centre
Comment[eo]=Stircentro
Comment[es]=Centro de control
Comment[es_AR]=Centro de control
Comment[et]=Juhtimiskeskus
Comment[eu]=Kontrolgunea
Comment[fa]=مرکز کنترل
Comment[fi]=Ohjauskeskus
Comment[fil]=Kontrol Senter
Comment[fo]=Stýris-miðdepil
Comment[fr]=Centre de Contrôle
Comment[fr_CA]=Centre de Contrôle
Comment[fy]=Behear Sintrum
Comment[ga]=Lárionad Rialaithe
Comment[gd]=An t-ionad smachd
Comment[gl]=Centro de control
Comment[he]=מרכז הבקרה
Comment[hi]=कन्ट्रोल सेन्टर
Comment[hr]=Upravljačko središte
Comment[hsb]=Rjadowanišćo
Comment[hu]=Vezérlőpult
Comment[hy]=Կառավարման կենտրոն
Comment[ia]=Pannello de controlo
Comment[id]=Pusat Kendali
Comment[ie]=Centre de control
Comment[is]=Stjórnborð
Comment[it]=Centro di controllo
Comment[ja]=コントロールセンター
Comment[jv]=Pusate ngengatur
Comment[ka]=მართვის ცენტრი
Comment[kab]=Amas n wenzaḍ
Comment[kk]=Басқару орталығы
Comment[km]=មជ្ឈមណ្ឌល​បញ្ជា
Comment[ko]=제어판
Comment[ku]=Navenda Kontrolê
Comment[la]=Centrum Regiminis
Comment[li]=Configurasiesjerm
Comment[lo]=ສູນຄວບຄຸມ
Comment[lt]=Valdymo centras
Comment[lv]=Vadības centrs
Comment[mr]=नियंत्रण केंद्र
Comment[ms]=Pusat Kawalan
Comment[my]=ထိန်းချုပ်ရေး စင်တာ
Comment[nap]=Centro 'e cuntroll'
Comment[nb]=Kontrollsenter
Comment[nds]=Kontrollzentrum
Comment[ne]=नियन्त्रण केन्द्र
Comment[nl]=Configuratiecentrum
Comment[oc]=Centre de contraròtle
Comment[om]=Wiirtuu to'annaa
Comment[pa]=ਕੰਟਰੋਲ ਸੈਂਟਰ
Comment[pl]=Centrum sterowania
Comment[pt]=Centro de controlo
Comment[pt_BR]=Centro de Controle
Comment[ro]=Centru de control
Comment[ru]=Центр управления
Comment[rue]=Центер контрола
Comment[sc]=Tzentru de controllu
Comment[si]=පාලන මධ්‍යස්ථානය
Comment[sk]=Centrum ovládania
Comment[sl]=Nadzorno središče
Comment[sq]=Qendra e kontrollit
Comment[sr]=Управљачки центар
Comment[sr@ijekavian]=Управљачки центар
Comment[sr@ijekavianlatin]=Управљачки центар
Comment[sr@latin]=Kontrolni centar
Comment[sv]=Hantera inställningar
Comment[ta]=கட்டுப்பாட்டு மையம்
Comment[te]=నియంత్రణా కేంద్రం
Comment[tg]=Маркази идоракунӣ
Comment[th]=ศูนย์ควบคุม
Comment[tl]=Sentro ng Kontrol
Comment[tr]=Cinnamon Denetim Merkezi
Comment[ug]=باشقۇرۇش مەركىزى
Comment[uk]=Центр керування
Comment[ur]=کنڑول مرکز
Comment[uz]=Nazorat markazi
Comment[vi]=Trung tâm Điều khiển
Comment[zh_CN]=控制中心
Comment[zh_HK]=控制中心
Comment[zh_TW]=控制中心
