[Desktop Entry]
Icon=cs-privacy
Exec=cinnamon-settings privacy
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Privacy
Name[am]=የ ግል
Name[ar]=الخصوصية
Name[ast]=Privacidá
Name[bg]=Поверителност
Name[bg_BG]=Поверителност
Name[ca]=Privadesa
Name[ca@valencia]=Privacitat
Name[ca_ES@valencia]=Privacitat
Name[cs]=Soukromí
Name[cs_CZ]=Soukromí
Name[cy]=Preifatwydd
Name[da]=Privatliv
Name[da_DK]=Privatliv
Name[de]=Datenschutz
Name[de_DE]=Datenschutz
Name[el]=Ιδιωτικότητα
Name[eo]=Privateco
Name[es]=Privacidad
Name[es_AR]=Privacidad
Name[es_CL]=Privacidad
Name[es_CO]=Privacidad
Name[es_CR]=Privacidad
Name[es_DO]=Privacidad
Name[es_EC]=Privacidad
Name[es_ES]=Privacidad
Name[es_GT]=Privacidad
Name[es_HN]=Privacidad
Name[es_MX]=Privacidad
Name[es_NI]=Privacidad
Name[es_PA]=Privacidad
Name[es_PE]=Privacidad
Name[es_PR]=Privacidad
Name[es_SV]=Privacidad
Name[es_US]=Privacidad
Name[es_UY]=Privacidad
Name[es_VE]=Privacidad
Name[et]=Privaatsus
Name[eu]=Pribatutasuna
Name[fi]=Yksityisyys
Name[fi_FI]=Yksityisyys
Name[fr]=Confidentialité
Name[fr_CA]=Confidentialité
Name[gd]=Prìobhaideachd
Name[gl]=Intimidade
Name[gl_ES]=Intimidade
Name[hr]=Privatnost
Name[hu]=Magánszféra
Name[hu_HU]=Magánszféra
Name[id]=Privasi
Name[id_ID]=Privasi
Name[is]=Friðhelgi
Name[ko]=프라이버시
Name[ko_KR]=프라이버시
Name[lt]=Privatumas
Name[lt_LT]=Privatumas
Name[ms]=Privasi
Name[ms_MY]=Privasi
Name[nb]=Personvern
Name[nb_NO]=Personvern
Name[nds]=Privatssphäre
Name[nl]=Privéleven
Name[nl_NL]=Privéleven
Name[pl]=Prywatność
Name[pl_PL]=Prywatność
Name[pt]=Privacidade
Name[pt_BR]=Privacidade
Name[pt_PT]=Privacidade
Name[ro]=Confidențialitate
Name[ro_RO]=Confidențialitate
Name[ru]=Конфиденциальность
Name[sk]=Súkromný
Name[sk_SK]=Súkromný
Name[sl]=Zasebnost
Name[sl_SI]=Zasebnost
Name[sq]=Privatësia
Name[sr]=Приватност
Name[sr@Latn]=Приватност
Name[sr@ije]=Приватност
Name[sr@ijekavianlatin]=Приватност
Name[sr@latin]=Приватност
Name[sv]=Sekretess
Name[th]=ความเป็นส่วนตัว
Name[th_TH]=ความเป็นส่วนตัว
Name[tr]=Gizlilik
Name[uk]=Конфіденційність
Name[uk_UA]=Конфіденційність
Name[ur]=پرائیویسی
Name[ur_PK]=پرائیویسی
Name[vi]=Riêng tư
Name[vi_VN]=Riêng tư
Name[zh_CN]=隐私
Name[zh_HK]=私隱
Name[zh_TW]=隱私
Comment=Cinnamon privacy settings
Comment[ar]=خيارات الخصوصية لسينامُن
Comment[ast]=Axustes de privacidá Cinnamon
Comment[bg]=Настройки за поверителност на Cinnamon
Comment[bg_BG]=Настройки за поверителност на Cinnamon
Comment[ca]=Configuració de privadesa de Cinnamon
Comment[ca@valencia]=Opcions de privacitat de Cinnamon
Comment[ca_ES@valencia]=Opcions de privacitat de Cinnamon
Comment[cs]=Nastevení soukromí v prostředí Cinnamon
Comment[cs_CZ]=Nastevení soukromí v prostředí Cinnamon
Comment[cy]=Gosodiadau preifatrwydd Cinnamon
Comment[da]=Cinnamon-privatlivsindstillinger
Comment[da_DK]=Cinnamon-privatlivsindstillinger
Comment[de]=Cinnamon-Datenschutzeinstellungen
Comment[de_DE]=Cinnamon-Datenschutzeinstellungen
Comment[el]=Ρυθμίσεις ιδιωτικότητας του Cinnamon
Comment[es]=Opciones de privacidad de Cinnamon
Comment[es_AR]=Opciones de privacidad de Cinnamon
Comment[es_CL]=Opciones de privacidad de Cinnamon
Comment[es_CO]=Opciones de privacidad de Cinnamon
Comment[es_CR]=Opciones de privacidad de Cinnamon
Comment[es_DO]=Opciones de privacidad de Cinnamon
Comment[es_EC]=Opciones de privacidad de Cinnamon
Comment[es_ES]=Opciones de privacidad de Cinnamon
Comment[es_GT]=Opciones de privacidad de Cinnamon
Comment[es_HN]=Opciones de privacidad de Cinnamon
Comment[es_MX]=Opciones de privacidad de Cinnamon
Comment[es_NI]=Opciones de privacidad de Cinnamon
Comment[es_PA]=Opciones de privacidad de Cinnamon
Comment[es_PE]=Opciones de privacidad de Cinnamon
Comment[es_PR]=Opciones de privacidad de Cinnamon
Comment[es_SV]=Opciones de privacidad de Cinnamon
Comment[es_US]=Opciones de privacidad de Cinnamon
Comment[es_UY]=Opciones de privacidad de Cinnamon
Comment[es_VE]=Opciones de privacidad de Cinnamon
Comment[eu]=Cinnamon pribatutasunaren ezarpenak
Comment[fi]=Cinnamonin tietosuoja-asetukset
Comment[fi_FI]=Cinnamonin tietosuoja-asetukset
Comment[fr]=Paramètres de confidentialité de Cinnamon
Comment[fr_CA]=Paramètres de confidentialité de Cinnamon
Comment[gd]=Roghainnean prìobhaideachd Cinnamon
Comment[gl]=Opciones de intimidade de Cinnamon
Comment[gl_ES]=Opciones de intimidade de Cinnamon
Comment[hr]=Cinnamon postavke privatnosti
Comment[hu]=Cinnamon magánszféra beállítások
Comment[hu_HU]=Cinnamon magánszféra beállítások
Comment[id]=Pengaturan privasi cinnamon
Comment[id_ID]=Pengaturan privasi cinnamon
Comment[is]=Gagnaleyndarstillingar Cinnamon
Comment[it]=Impostazioni privacy di Cinnamon
Comment[ko]=시나몬 프라이버시 설정
Comment[ko_KR]=시나몬 프라이버시 설정
Comment[lt]=Cinnamon privatumo nustatymai
Comment[lt_LT]=Cinnamon privatumo nustatymai
Comment[ms]=Tetapan privasi Cinnamon
Comment[ms_MY]=Tetapan privasi Cinnamon
Comment[nb]=Personverninnstillinger for Cinnamon
Comment[nb_NO]=Personverninnstillinger for Cinnamon
Comment[nds]=Cinnamon Privatsphäre Einstellungen
Comment[nl]=Instellingen van Cinnamon inzake privéleven
Comment[nl_NL]=Instellingen van Cinnamon inzake privéleven
Comment[pl]=Ustawienia prywatności Cinnamon
Comment[pl_PL]=Ustawienia prywatności Cinnamon
Comment[pt]=Configurações de privacidade do Cinnamon
Comment[pt_BR]=Configurações de privacidade do Cinnamon
Comment[pt_PT]=Configurações de privacidade do Cinnamon
Comment[ro]=Setări confidențialitate Cinnamon
Comment[ro_RO]=Setări confidențialitate Cinnamon
Comment[ru]=Настройки конфиденциальности Cinnamon
Comment[sk]=Nastavenia súkromia Cinnamon
Comment[sk_SK]=Nastavenia súkromia Cinnamon
Comment[sl]=Nastavitve zasebnosti Cinnamona
Comment[sl_SI]=Nastavitve zasebnosti Cinnamona
Comment[sq]=Parametrat e privatësisë të Cinnamon
Comment[sr]=Управљање приватношћу Цимета
Comment[sr@Latn]=Управљање приватношћу Цимета
Comment[sr@ije]=Управљање приватношћу Цимета
Comment[sr@ijekavianlatin]=Управљање приватношћу Цимета
Comment[sr@latin]=Управљање приватношћу Цимета
Comment[sv]=Cinnamon integritetsinställningar
Comment[th]=ค่าตั้งความเป็นส่วนตัวของ Cinnamon
Comment[th_TH]=ค่าตั้งความเป็นส่วนตัวของ Cinnamon
Comment[tr]=Cinnamon gizlilik ayarları
Comment[uk]=Налаштування конфіденційності Cinnamon
Comment[uk_UA]=Налаштування конфіденційності Cinnamon
Comment[ur]=سنامون پرائیویسی کی ترتیبات
Comment[ur_PK]=سنامون پرائیویسی کی ترتیبات
Comment[vi]=Thiết đặt riêng tư Cinnamon
Comment[vi_VN]=Thiết đặt riêng tư Cinnamon
Comment[zh_CN]=Cinnamon隐私设置
Comment[zh_HK]=Cinnamon 私隱設定
Comment[zh_TW]=Cinnamon 隱私設定
