[Desktop Entry]
Icon=cs-desktop
Exec=cinnamon-settings desktop
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Desktop
Name[am]=ዴስክቶፕ
Name[bg]=Работен плот
Name[ca]=Escriptori
Name[ca@valencia]=Escriptori
Name[cs]=Pracovní plocha
Name[cy]=Bwrdd Gwaith
Name[da]=Skrivebord
Name[de]=Schreibtisch
Name[el]=Επιφάνεια εργασίας
Name[eo]=Labortablo
Name[es]=Escritorio
Name[es_AR]=Escritorio
Name[et]=Töölaud
Name[eu]=Mahaigaina
Name[fi]=Työpöytä
Name[fr]=Bureau
Name[fr_CA]=Bureau
Name[ga]=Deasc
Name[gd]=Bàrr-deasc
Name[gl]=Escritorio
Name[hr]=Radna površina
Name[hu]=Asztal
Name[is]=Skjáborð
Name[it]=Scrivania
Name[ja]=デスクトップ
Name[lt]=Darbastalis
Name[lv]=Darbvirsma
Name[nb]=Skrivebord
Name[nl]=Bureaublad
Name[oc]=Burèu
Name[pa]=ਡੈਸਕਟਾਪ
Name[pl]=Pulpit
Name[pt]=Ambiente de trabalho
Name[pt_BR]=Área de trabalho
Name[pt_PT]=Ambiente de trabalho
Name[ro]=Spațiu de lucru
Name[ru]=Рабочий стол
Name[sk]=Pracovná plocha
Name[sl]=Namizje
Name[sr]=Радна површина
Name[sr@ijekavianlatin]=Радна површина
Name[sr@latin]=Радна површина
Name[sv]=Skrivbord
Name[ta]=பணிமேடை
Name[tg]=Мизи корӣ
Name[th]=พื้นโต๊ะ
Name[tr]=Masaüstü
Name[uk]=Стільниця
Name[vi]=Màn hình làm việc
Name[zh_CN]=桌面
Name[zh_TW]=桌面
Comment=Manage your desktop icons
Comment[am]=የ ዴስክቶፕ ምልክቶች አስተዳዳሪ
Comment[bg]=Управлявайте Вашите иконки на работния плот
Comment[ca]=Administrar icones de l'escriptori
Comment[ca@valencia]=Administrar icones de l'escriptori
Comment[cs]=Správa ikon na ploše
Comment[cy]=Rheolwch eiconau'ch bwrdd gwaith
Comment[da]=Administrér dine skrivebordsikoner
Comment[de]=Schreibtischsymbole verwalten
Comment[el]=Διαχείριση εικονιδίων επιφάνειας εργασίας
Comment[es]=Administrar iconos del escritorio
Comment[es_AR]=Administrar iconos del escritorio
Comment[fi]=Hallitse työpöytäsi kuvakkeita
Comment[fr]=Gérez vos icones de bureaux
Comment[fr_CA]=Gérez vos icones de bureaux
Comment[hr]=Upravljajte svojim ikonama radne površine
Comment[hu]=Asztal ikonjainak kezelése
Comment[id]=Atur icon di desktop
Comment[is]=Sýsla með táknmyndir á skjáborði
Comment[lt]=Tvarkyti darbastalio piktogramas
Comment[lv]=Pārvaldīt savas darbvirsmas ikonas
Comment[nl]=Uw bureaubladpictogrammen beheren
Comment[pl]=Zarządzaj swoimi ikonami pulpitu
Comment[pt]=Gerir os seus ícones
Comment[pt_BR]=Gerir os seus ícones
Comment[pt_PT]=Gerir os seus ícones
Comment[ro]=Gestionează iconițele tale de pe desctop
Comment[ru]=Настроить значки на рабочем столе
Comment[sk]=Spravovať ikony plochy
Comment[sl]=Upravljajte z ikonami namizja
Comment[tg]=Идоракунии нишонаҳои мизи корӣ
Comment[th]=จัดการไอคอนพื้นโต๊ะของคุณ
Comment[tr]=Masaüstü simgelerini yönet
Comment[uk]=Керування піктограмами стільниці
Comment[vi]=Quản lý biểu tượng màn hình của bạn
