[Desktop Entry]
Exec=cinnamon-settings
Icon=preferences-system
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
OnlyShowIn=GNOME;
Keywords=Preferences;Settings;
Name=System Settings
Name[af]=System Settings
Name[am]=ስርአት ማሰናጃ
Name[ar]=إعدادات النظام
Name[ast]=System Settings
Name[be]=System Settings
Name[bg]=System Settings
Name[bn]=System Settings
Name[bs]=System Settings
Name[ca]=Configuració del sistema
Name[cs]=Nastavení systému
Name[csb]=System Settings
Name[cy]=Gosodiadau System
Name[da]=Systemindstillinger
Name[de]=Systemeinstellungen
Name[el]=System Settings
Name[en_AU]=System Settings
Name[en_CA]=System Settings
Name[en_GB]=System Settings
Name[eo]=System Settings
Name[es]=System Settings
Name[et]=Süsteemi seaded
Name[eu]=Sistemaren ezarpenak
Name[fa]=تنظیمات سیستم
Name[fi]=System Settings
Name[fil]=System Settings
Name[fo]=System Settings
Name[fr]=Paramètres système
Name[fr_CA]=Paramètres système
Name[ga]=Socruithe Córais
Name[gd]=Suidheachaidhean an t-siostaim
Name[gl]=Preferencias do sistema
Name[gu]=System Settings
Name[he]=הגדרות מערכת
Name[hi]=System Settings
Name[hr]=Postavke sustava
Name[hu]=Rendszerbeállítások
Name[ia]=System Settings
Name[id]=Pengaturan Sistem
Name[is]=Kerfisstillingar
Name[it]=Impostazioni di sistema
Name[ja]=システム設定
Name[jv]=System Settings
Name[km]=System Settings
Name[kn]=System Settings
Name[ko]=System Settings
Name[ksw]=System Settings
Name[ky]=System Settings
Name[la]=System Settings
Name[lt]=System Settings
Name[lv]=System Settings
Name[mk]=System Settings
Name[ml]=System Settings
Name[mr]=System Settings
Name[ms]=Tetapan Sistem
Name[nb]=System Innstillinger
Name[nds]=System Settings
Name[ne]=System Settings
Name[nl]=Systeeminstellingen
Name[nn]=System Settings
Name[pa]=ਸਿਸਟਮ ਸੈਟਿੰਗ
Name[pl]=Ustawienia systemowe
Name[pt]=Definições do sistema
Name[pt_BR]=Configurações do Sistema
Name[ro]=System Settings
Name[ru]=Системные настройки
Name[rue]=System Settings
Name[si]=System Settings
Name[sk]=System Settings
Name[sl]=Sistemske nastavitve
Name[so]=System Settings
Name[sq]=System Settings
Name[sr]=Подешавања система
Name[sr@ijekavianlatin]=Подешавања система
Name[sr@latin]=Подешавања система
Name[sv]=Systeminställningar
Name[ta]=System Settings
Name[te]=System Settings
Name[th]=System Settings
Name[tlh]=System Settings
Name[tr]=Sistem Ayarları
Name[ts]=System Settings
Name[uk]=Системні параметри
Name[ur]=System Settings
Name[uz]=System Settings
Name[vi]=Thiết lập Hệ thống
Name[yi]=System Settings
Name[zh_CN]=系统设置
Name[zh_HK]=System Settings
Name[zh_TW]=系統設定
Comment=Control Center
Comment[af]=Control Center
Comment[am]=መቆጣጠሪያ ማእከል
Comment[ar]=مركز التحكّم
Comment[ast]=Control Center
Comment[be]=Control Center
Comment[bg]=Control Center
Comment[bn]=Control Center
Comment[bs]=Control Center
Comment[ca]=Centre de Control
Comment[cs]=Ovládací centrum
Comment[csb]=Control Center
Comment[cy]=Canolfan Reoli
Comment[da]=Kontrolcenter
Comment[de]=Kontrollzentrum
Comment[el]=Control Center
Comment[en_AU]=Control Center
Comment[en_CA]=Control Center
Comment[en_GB]=Control Centre
Comment[eo]=Control Center
Comment[es]=Centro de control
Comment[et]=Juhtimiskeskus
Comment[eu]=Kontrolgunea
Comment[fa]=مرکز کنترل
Comment[fi]=Control Center
Comment[fil]=Control Center
Comment[fo]=Control Center
Comment[fr]=Centre de Contrôle
Comment[fr_CA]=Centre de Contrôle
Comment[ga]=Lárionad Rialaithe
Comment[gd]=Ionad smachd
Comment[gl]=Centro de control
Comment[gu]=Control Center
Comment[he]=מרכז הבקרה
Comment[hi]=Control Center
Comment[hr]=Središte upravljanja
Comment[hu]=Vezérlőpult
Comment[ia]=Control Center
Comment[id]=Pusat Kendali
Comment[is]=Stjórnborð
Comment[it]=Centro di controllo
Comment[ja]=コントロールセンター
Comment[jv]=Control Center
Comment[km]=Control Center
Comment[kn]=Control Center
Comment[ko]=Control Center
Comment[ksw]=Control Center
Comment[ky]=Control Center
Comment[la]=Control Center
Comment[lt]=Control Center
Comment[lv]=Control Center
Comment[mk]=Control Center
Comment[ml]=Control Center
Comment[mr]=Control Center
Comment[ms]=Pusat Kawalan
Comment[nb]=Kontrollsenter
Comment[nds]=Control Center
Comment[ne]=Control Center
Comment[nl]=Configuratiecentrum
Comment[nn]=Control Center
Comment[pa]=ਕੰਟਰੋਲ ਸੈਂਟਰ
Comment[pl]=Centrum sterowania
Comment[pt]=Centro de controlo
Comment[pt_BR]=Central de Controle
Comment[ro]=Control Center
Comment[ru]=Центр управления
Comment[rue]=Control Center
Comment[si]=Control Center
Comment[sk]=Control Center
Comment[sl]=Nadzorno središče
Comment[so]=Control Center
Comment[sq]=Control Center
Comment[sr]=Управљачки центар
Comment[sr@ijekavianlatin]=Управљачки центар
Comment[sr@latin]=Управљачки центар
Comment[sv]=Control Center
Comment[ta]=Control Center
Comment[te]=Control Center
Comment[th]=Control Center
Comment[tlh]=Control Center
Comment[tr]=Denetim Merkezi
Comment[ts]=Control Center
Comment[uk]=Центр керування
Comment[ur]=Control Center
Comment[uz]=Control Center
Comment[vi]=Trung tâm Điều khiển
Comment[yi]=Control Center
Comment[zh_CN]=控制中心
Comment[zh_HK]=Control Center
Comment[zh_TW]=控制台
