[Desktop Entry]
Icon=cs-desktop-effects
Exec=cinnamon-settings effects
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Effects
Name[am]=ውጤቶች
Name[ar]=تأثيرات
Name[ast]=Efeutos
Name[be]=Спецэфекты
Name[be@latin]=Спецэфекты
Name[bg]=Ефекти
Name[bg_BG]=Ефекти
Name[bs]=Efekti
Name[ca]=Efectes
Name[ca@valencia]=Efectes
Name[ca_ES@valencia]=Efectes
Name[cs]=Efekty
Name[cs_CZ]=Efekty
Name[cy]=Effeithiau
Name[da]=Effekter
Name[da_DK]=Effekter
Name[de]=Effekte
Name[de_DE]=Effekte
Name[el]=Εφέ
Name[eo]=Efektoj
Name[es]=Efectos
Name[es_AR]=Efectos
Name[es_CL]=Efectos
Name[es_CO]=Efectos
Name[es_CR]=Efectos
Name[es_DO]=Efectos
Name[es_EC]=Efectos
Name[es_ES]=Efectos
Name[es_GT]=Efectos
Name[es_HN]=Efectos
Name[es_MX]=Efectos
Name[es_NI]=Efectos
Name[es_PA]=Efectos
Name[es_PE]=Efectos
Name[es_PR]=Efectos
Name[es_SV]=Efectos
Name[es_US]=Efectos
Name[es_UY]=Efectos
Name[es_VE]=Efectos
Name[et]=Efektid
Name[eu]=Efektuak
Name[fi]=Tehosteet
Name[fi_FI]=Tehosteet
Name[fr]=Effets
Name[fr_CA]=Effets
Name[ga]=Maisíochtaí
Name[gd]=Èifeachdan
Name[gl]=Efectos
Name[gl_ES]=Efectos
Name[hr]=Efekti
Name[hu]=Effektusok
Name[hu_HU]=Effektusok
Name[id]=Efek
Name[id_ID]=Efek
Name[is]=Viðmótsbrellur
Name[it]=Effetti
Name[ja]=効果
Name[ja_JP]=効果
Name[ko]=효과
Name[ko_KR]=효과
Name[lo]=ເອັບເຟັກ
Name[lo_LA]=ເອັບເຟັກ
Name[lt]=Efektai
Name[lt_LT]=Efektai
Name[lv]=Efekti
Name[lv_LV]=Efekti
Name[ms]=Kesan
Name[ms_MY]=Kesan
Name[nb]=Effekter
Name[nb_NO]=Effekter
Name[nds]=Effekte
Name[nl]=Effecten
Name[nl_NL]=Effecten
Name[oc]=Efièches
Name[om]=galteelee
Name[pa]=ਪ੍ਰਭਾਵ
Name[pl]=Efekty
Name[pl_PL]=Efekty
Name[pt]=Efeitos
Name[pt_BR]=Efeitos
Name[pt_PT]=Efeitos
Name[ro]=Efecte
Name[ro_RO]=Efecte
Name[ru]=Эффекты
Name[sk]=Efekty
Name[sk_SK]=Efekty
Name[sl]=Učinki
Name[sl_SI]=Učinki
Name[sq]=Efektet
Name[sr]=Дејства
Name[sr@Latn]=Дејства
Name[sr@ije]=Дејства
Name[sr@ijekavianlatin]=Дејства
Name[sr@latin]=Дејства
Name[sv]=Effekter
Name[ta]=விளைவுகள்
Name[ta_LK]=விளைவுகள்
Name[tg]=Таъсирҳо
Name[th]=ลูกเล่น
Name[th_TH]=ลูกเล่น
Name[tr]=Efektler
Name[uk]=Ефекти
Name[uk_UA]=Ефекти
Name[ur]=اثرات
Name[ur_PK]=اثرات
Name[vi]=Hiệu ứng
Name[vi_VN]=Hiệu ứng
Name[zh_CN]=特效
Name[zh_HK]=效果
Name[zh_TW]=效果
Comment=Control Cinnamon visual effects.
Comment[am]=የ ሲናሞን መመልከቻ ውጤቶች መቆጣጠሪያ
Comment[ar]=التحكم في تأثيرات سينامُن المرئية.
Comment[be]=Кіраванне візуальнымі эфектамі Cinnamon
Comment[be@latin]=Кіраванне візуальнымі эфектамі Cinnamon
Comment[bg]=Контролиране на визуалните ефекти на Cinnamon
Comment[bg_BG]=Контролиране на визуалните ефекти на Cinnamon
Comment[bs]=Upravljaj Cinnamon vizuelnim efektima
Comment[ca]=Configurar efectes visuals de Cinnamon
Comment[ca@valencia]=Configurar efectes visuals de Cinnamon
Comment[ca_ES@valencia]=Configurar efectes visuals de Cinnamon
Comment[cs]=Nastavení Cinnamon vizuálních efektů
Comment[cs_CZ]=Nastavení Cinnamon vizuálních efektů
Comment[cy]=Rheolwch effeitiau gwledol Cinnamon,
Comment[da]=Kontrollér Cinnamons visuelle effekter
Comment[da_DK]=Kontrollér Cinnamons visuelle effekter
Comment[de]=Cinnamons visuelle Effekte steuern.
Comment[de_DE]=Cinnamons visuelle Effekte steuern.
Comment[el]=Ρυθμίστε τα οπτικά εφέ του Cinnamon
Comment[es]=Configurar efectos visuales de Cinnamon
Comment[es_AR]=Configurar efectos visuales de Cinnamon
Comment[es_CL]=Configurar efectos visuales de Cinnamon
Comment[es_CO]=Configurar efectos visuales de Cinnamon
Comment[es_CR]=Configurar efectos visuales de Cinnamon
Comment[es_DO]=Configurar efectos visuales de Cinnamon
Comment[es_EC]=Configurar efectos visuales de Cinnamon
Comment[es_ES]=Configurar efectos visuales de Cinnamon
Comment[es_GT]=Configurar efectos visuales de Cinnamon
Comment[es_HN]=Configurar efectos visuales de Cinnamon
Comment[es_MX]=Configurar efectos visuales de Cinnamon
Comment[es_NI]=Configurar efectos visuales de Cinnamon
Comment[es_PA]=Configurar efectos visuales de Cinnamon
Comment[es_PE]=Configurar efectos visuales de Cinnamon
Comment[es_PR]=Configurar efectos visuales de Cinnamon
Comment[es_SV]=Configurar efectos visuales de Cinnamon
Comment[es_US]=Configurar efectos visuales de Cinnamon
Comment[es_UY]=Configurar efectos visuales de Cinnamon
Comment[es_VE]=Configurar efectos visuales de Cinnamon
Comment[eu]=Kontrolatu Cinnamonen efektu bisualak
Comment[fi]=Hallitse Cinnamonin ilmettä.
Comment[fi_FI]=Hallitse Cinnamonin ilmettä.
Comment[fr]=Gérez les effets visuels de Cinnamon
Comment[fr_CA]=Contrôler les effets visuels de Cinnamon
Comment[gd]=Stiùirich èifeachdan lèirsinneach Cinnamon.
Comment[gl]=Control dos efectos visuais de Cinnamon.
Comment[gl_ES]=Control dos efectos visuais de Cinnamon.
Comment[hr]=Upravljajte Cinnamon vizualnim efektima.
Comment[hu]=Cinnamon vizuális effektusok beállítása
Comment[hu_HU]=Cinnamon vizuális effektusok beállítása
Comment[id]=Atur efek visual Cinnamon
Comment[id_ID]=Atur efek visual Cinnamon
Comment[is]=Stýra viðmótsbrellum í Cinnamon.
Comment[it]=Controllo effetti grafici di Cinnamon
Comment[ja]=Cinnamon ビジュアルエフェクトコントロール
Comment[ja_JP]=Cinnamon ビジュアルエフェクトコントロール
Comment[ko]=시나몬 비주얼 효과를 조절합니다.
Comment[ko_KR]=시나몬 비주얼 효과를 조절합니다.
Comment[lo]=ຈັດການ Cinnamon visual effects.
Comment[lo_LA]=ຈັດການ Cinnamon visual effects.
Comment[lt]=Valdyti Cinnamon vaizdo efektus.
Comment[lt_LT]=Valdyti Cinnamon vaizdo efektus.
Comment[lv]=Pārvaldīt Cinnamon vizuālos efektus.
Comment[lv_LV]=Pārvaldīt Cinnamon vizuālos efektus.
Comment[ms]=Kawalan kesan visual Cinnamon
Comment[ms_MY]=Kawalan kesan visual Cinnamon
Comment[nb]=Styr Cinnamons visuelle effekter
Comment[nb_NO]=Styr Cinnamons visuelle effekter
Comment[nds]=Cinnamons Visuelle Effekte bearbeiten
Comment[nl]=Visuele effecten van Cinnamon beheren.
Comment[nl_NL]=Visuele effecten van Cinnamon beheren.
Comment[pl]=Kontroluj efekty wizualne Cinnamona.
Comment[pl_PL]=Kontroluj efekty wizualne Cinnamona.
Comment[pt]=Controle os efeitos visuais do Cinnamon.
Comment[pt_BR]=Controle os efeitos visuais do Cinnamon
Comment[pt_PT]=Controle os efeitos visuais do Cinnamon.
Comment[ro]=Controlează efectele vizuale Cinnamon.
Comment[ro_RO]=Controlează efectele vizuale Cinnamon.
Comment[ru]=Управление визуальными эффектами Cinnamon.
Comment[sk]=Kontrolovať vizuálne efekty Cinnamon
Comment[sk_SK]=Kontrolovať vizuálne efekty Cinnamon
Comment[sl]=Upravljajte z vidnimi učinki Cinnamona
Comment[sl_SI]=Upravljajte z vidnimi učinki Cinnamona
Comment[sq]=Efektet vizuale të Cinnamon.
Comment[sr]=Управљање дејствима површи Цимета.
Comment[sr@Latn]=Управљање дејствима површи Цимета.
Comment[sr@ije]=Управљање дејствима површи Цимета.
Comment[sr@ijekavianlatin]=Управљање дејствима површи Цимета.
Comment[sr@latin]=Управљање дејствима површи Цимета.
Comment[sv]=Styr Cinnamons visuella effekter.
Comment[tg]=Идоракунии таъсирҳои визуалии Cinnamon
Comment[th]=ควบคุมผลภาพ Cinnamon
Comment[th_TH]=ควบคุมผลภาพ Cinnamon
Comment[tr]=Cinnamon görsel efektlerini kontrol et
Comment[uk]=Керування візуальними ефектами Cinnamon
Comment[uk_UA]=Керування візуальними ефектами Cinnamon
Comment[ur]=سنامون کے نمائشی تاثرات کو کنٹرول کریں
Comment[ur_PK]=سنامون کے نمائشی تاثرات کو کنٹرول کریں
Comment[vi]=Điều khiển hiệu ứng trực quan Cinnamon.
Comment[vi_VN]=Điều khiển hiệu ứng trực quan Cinnamon.
Comment[zh_CN]=控制 Cinnamon 显示特效。
Comment[zh_HK]=控制 Cinnamon 視覺效果。
Comment[zh_TW]=管理 Cinnamon 視覺效果。
