[Desktop Entry]
Name=Extensions
Comment=Manage your Cinnamon extensions
Icon=/usr/lib/cinnamon-settings/data/icons/extensions.svg
Exec=cinnamon-settings extensions
Type=Application
OnlyShowIn=GNOME;
Categories=Settings;
Name[gd]=Leudachain
Name[ga]=Iarmhíreanna
Name[gl]=Extensións
Name[tr]=Eklentiler
Name[ta]=நீட்சிகள்
Name[pt_BR]=Extensões
Name[de]=Erweiterungen
Name[da]=Udvidelser
Name[el]=Επεκτάσεις
Name[eo]=Etendaĵoj
Name[et]=Laiendid
Name[es]=Extensiones
Name[ru]=Расширения
Name[ro]=Extensii
Name[ms]=Sambungan
Name[ja]=拡張機能
Name[ca]=Extensions
Name[cy]=Estyniadau
Name[cs]=Rozšíření
Name[pt]=Extensões
Name[pa]=ਐਕਸਟੈਂਸ਼ਨਾਂ
Name[en_GB]=Extensions
Name[hr]=Proširenja
Name[hu]=Kiterjesztések
Name[zh_CN]=扩展
Name[pl]=Rozszerzenia
Name[uk]=Розширення
Name[vi]=Phần mở rộng
Name[is]=Viðbætur
Name[am]=ተጨማሪዎች
Name[it]=Estensioni
Name[id]=Ekstensi
Name[nl]=Extensies
Name[nb]=Utvidelser
Name[fr]=Extensions
Name[fr_CA]=Extensions
Name[sr]=Проширења
Name[sv]=Tillägg
Name[sl]=Razširitve
