[Desktop Entry]
Icon=cs-online-accounts
Exec=cinnamon-settings online-accounts
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Online Accounts
Name[am]=የ መስመር ላይ መግለጫ
Name[ar]=الحسابات عبر الإنترنت
Name[ar_AR]=الحسابات عبر الإنترنت
Name[ar_MA]=الحسابات عبر الإنترنت
Name[az]=Bağlantılı Oturumlar
Name[bg]=Онлайн акаунти
Name[bg_BG]=Онлайн акаунти
Name[ca]=Comptes en línia
Name[ca@valencia]=Comptes en línia
Name[ca_ES@valencia]=Comptes en línia
Name[cs]=On-line účty
Name[cs_CZ]=On-line účty
Name[cy]=Cyfrifon Ar-lein
Name[da]=Onlinekonti
Name[de]=Internetkonten
Name[de_CH]=Internetkonten
Name[de_DE]=Internetkonten
Name[el]=Online Λογαριασμοί
Name[es]=Cuentas en línea
Name[es_419]=Cuentas en línea
Name[es_AR]=Cuentas en línea
Name[es_CL]=Cuentas en línea
Name[es_CO]=Cuentas en línea
Name[es_CR]=Cuentas en línea
Name[es_DO]=Cuentas en línea
Name[es_EC]=Cuentas en línea
Name[es_ES]=Cuentas en línea
Name[es_MX]=Cuentas en línea
Name[es_NI]=Cuentas en línea
Name[es_PA]=Cuentas en línea
Name[es_PE]=Cuentas en línea
Name[es_PR]=Cuentas en línea
Name[es_SV]=Cuentas en línea
Name[es_US]=Cuentas en línea
Name[es_UY]=Cuentas en línea
Name[es_VE]=Cuentas en línea
Name[eu]=Lineako kontuak
Name[fi]=Verkkotilit
Name[fi_FI]=Verkkotilit
Name[fr]=Comptes en ligne
Name[fr_CA]=Comptes en ligne
Name[fr_FR]=Comptes en ligne
Name[hr]=Mrežni računi
Name[hu]=Online fiókok
Name[hu_HU]=Online fiókok
Name[ia]=Contos online
Name[id]=Akun Daring
Name[id_ID]=Akun Daring
Name[is]=Aðgangar á neti
Name[it]=Account Online
Name[it_IT]=Account Online
Name[kab]=Imiḍanen ɣef uẓeḍḍa
Name[ko]=온라인 계정
Name[ko_KR]=온라인 계정
Name[lt]=Internetinės paskyros
Name[lt_LT]=Internetinės paskyros
Name[nl]=Internetaccounts
Name[nl_NL]=Internetaccounts
Name[pl]=Konta usług online
Name[pl_PL]=Konta usług online
Name[pt]=Contas Online
Name[pt_BR]=Contas Online
Name[pt_PT]=Contas Online
Name[ro]=Conturi Online
Name[ro_RO]=Conturi Online
Name[ru]=Сетевые учётные записи
Name[sc]=Contos in lìnia
Name[sk]=Účty služieb
Name[sk_SK]=Účty služieb
Name[sl]=Spletni računi
Name[sl_SI]=Spletni računi
Name[sr]=Интернет Налози
Name[sr@Latn]=Интернет Налози
Name[sr@cyrillic]=Интернет Налози
Name[sr@ije]=Интернет Налози
Name[sr@ijekavianlatin]=Интернет Налози
Name[sr@latin]=Интернет Налози
Name[sr_RS]=Интернет Налози
Name[sr_RS@latin]=Интернет Налози
Name[sv]=Nätkonton
Name[th]=บัญชีออนไลน์
Name[th_TH]=บัญชีออนไลน์
Name[tr]=Çevrimiçi Hesaplar
Name[uk]=Онлайн облікові записи
Name[uk_UA]=Онлайн облікові записи
Name[zh]=在线账户
Name[zh_CN]=在线账户
Comment=Connect to your online accounts
Comment[am]=ወደ እርስዎ የ መስመር ላይ መግለጫ መገናኛ
Comment[ar]=الاتصال بحساباتك على الإنترنت
Comment[ar_AR]=الاتصال بحساباتك على الإنترنت
Comment[ar_MA]=الاتصال بحساباتك على الإنترنت
Comment[az]=Bağlantılı oturumlarınıza bağlanın
Comment[bg]=Връзка с вашите онлайн акаунти
Comment[bg_BG]=Връзка с вашите онлайн акаунти
Comment[ca]=Connecteu-vos als vostres comptes en línia
Comment[ca@valencia]=Connecteu-vos als vostres comptes en línia
Comment[ca_ES@valencia]=Connecteu-vos als vostres comptes en línia
Comment[cs]=Připojit se ke svým online účtům
Comment[cs_CZ]=Připojit se ke svým online účtům
Comment[cy]=Cysylltwch i'ch cyfrifon ar-lein
Comment[da]=Forbind til dine onlinekonti
Comment[de]=Zu Ihren Internetkonten verbinden
Comment[de_CH]=Zu Ihren Internetkonten verbinden
Comment[de_DE]=Zu Ihren Internetkonten verbinden
Comment[el]=Συνδεθείτε στους λογαριασμούς σας στο διαδίκτυο
Comment[es]=Conectar a las cuentas en línea
Comment[es_419]=Conectar a las cuentas en línea
Comment[es_AR]=Conectar a las cuentas en línea
Comment[es_CL]=Conectar a las cuentas en línea
Comment[es_CO]=Conectar a las cuentas en línea
Comment[es_CR]=Conectar a las cuentas en línea
Comment[es_DO]=Conectar a las cuentas en línea
Comment[es_EC]=Conectar a las cuentas en línea
Comment[es_ES]=Conectar a las cuentas en línea
Comment[es_MX]=Conectar a las cuentas en línea
Comment[es_NI]=Conectar a las cuentas en línea
Comment[es_PA]=Conectar a las cuentas en línea
Comment[es_PE]=Conectar a las cuentas en línea
Comment[es_PR]=Conectar a las cuentas en línea
Comment[es_SV]=Conectar a las cuentas en línea
Comment[es_US]=Conectar a las cuentas en línea
Comment[es_UY]=Conectar a las cuentas en línea
Comment[es_VE]=Conectar a las cuentas en línea
Comment[eu]=Konektatu zure lineako kontuetara
Comment[fi]=Yhdistä verkkotileihisi
Comment[fi_FI]=Yhdistä verkkotileihisi
Comment[fr]=Connectez vos comptes en ligne
Comment[fr_CA]=Connectez vos comptes en ligne
Comment[fr_FR]=Connectez vos comptes en ligne
Comment[hr]=Povežite se sa svojim mrežnim računima
Comment[hu]=Csatlakozás az online fiókokhoz
Comment[hu_HU]=Csatlakozás az online fiókokhoz
Comment[ia]=Connecter al conto online
Comment[is]=Tengstu notandaaðgöngum þínum á netinu
Comment[it]=Connetti i tuoi account online
Comment[it_IT]=Connetti i tuoi account online
Comment[kab]=Qqen ɣer imiḍanen-inek ɣef uẓeḍḍa
Comment[ko]=온라인 계정에 연결
Comment[ko_KR]=온라인 계정에 연결
Comment[lt]=Prisijunkite prie savo internetinių paskyrų
Comment[lt_LT]=Prisijunkite prie savo internetinių paskyrų
Comment[nl]=Verbinding maken met uw internetaccounts
Comment[nl_NL]=Verbinding maken met uw internetaccounts
Comment[pl]=Podłącz swoje konta online
Comment[pl_PL]=Podłącz swoje konta online
Comment[pt]=Conetar-se às suas contas on-line
Comment[pt_BR]=Conecte-se às suas contas on-line
Comment[pt_PT]=Conetar-se às suas contas on-line
Comment[ro]=Conectează-te la conturile tale online
Comment[ro_RO]=Conectează-te la conturile tale online
Comment[ru]=Подключение к вашим сетевым учётным записям
Comment[sc]=Connete a sos contos in lìnia tuos
Comment[sk]=Pripojte sa k vašim účtom služieb
Comment[sk_SK]=Pripojte sa k vašim účtom služieb
Comment[sr]=Повежите ваше интернет налоге
Comment[sr@Latn]=Повежите ваше интернет налоге
Comment[sr@cyrillic]=Повежите ваше интернет налоге
Comment[sr@ije]=Повежите ваше интернет налоге
Comment[sr@ijekavianlatin]=Повежите ваше интернет налоге
Comment[sr@latin]=Повежите ваше интернет налоге
Comment[sr_RS]=Повежите ваше интернет налоге
Comment[sr_RS@latin]=Повежите ваше интернет налоге
Comment[sv]=Anslut till dina nätkonton
Comment[tr]=Çevrimiçi hesaplarınıza bağlanın
Comment[uk]=Підключитися до своїх онлайн-облікових записів
Comment[uk_UA]=Підключитися до своїх онлайн-облікових записів
Comment[zh]=连接到您的在线账户
Comment[zh_CN]=连接到您的在线账户
Keywords=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[am]=ጉግል: ፌስቡክ: ትዊተር: ያሁ: ዌብ: በ መስመር ላይ: ውይይት: ቀን መቁጠሪያ: ደብዳቤ: ግንኙነት: owncloud;kerberos;imap;smtp;pocket;readitlater;መግለጫ;
Keywords[ar]=جوجل، فيسبوك، تويتر، ياهو، الإنترنت، الدردشة، التقويم، البريد، الاتصال، الحساب;owncloud;kerberos;imap;smtp;pocket;readitlater;
Keywords[ar_AR]=جوجل، فيسبوك، تويتر، ياهو، الإنترنت، الدردشة، التقويم، البريد، الاتصال، الحساب;owncloud;kerberos;imap;smtp;pocket;readitlater;
Keywords[ar_MA]=جوجل، فيسبوك، تويتر، ياهو، الإنترنت، الدردشة، التقويم، البريد، الاتصال، الحساب;owncloud;kerberos;imap;smtp;pocket;readitlater;
Keywords[az]=google;facebook;twitter;yahoo;tor;bağlantılı;danışıq;ilgün;göndəriş;bağlantılar;owncloud;kerberos;imap;smtp;pocket;readitlater;oturum;
Keywords[ca]=google;facebook;twitter;yahoo;web;online;chat;calendari;email;contacte;owncloud;kerberos;imap;smtp;pocket;readitlater;compte;
Keywords[ca@valencia]=google;facebook;twitter;yahoo;web;online;chat;calendari;email;contacte;owncloud;kerberos;imap;smtp;pocket;readitlater;compte;
Keywords[ca_ES@valencia]=google;facebook;twitter;yahoo;web;online;chat;calendari;email;contacte;owncloud;kerberos;imap;smtp;pocket;readitlater;compte;
Keywords[cs]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;účet;
Keywords[cs_CZ]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;účet;
Keywords[cy]=google;facebook;twitter;yahoo;gwe;ar-lein;sgwrs;calendr;e-bost;cysylltiad;owncloud;kerberos;imap;smtp;pocket;readitlater;cyfrif;
Keywords[da]=google;facebook;twitter;yahoo;web;online;chat;kalender;mail;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;konto;
Keywords[de]=Kalender;Konto;Nachrichten;Unterhaltung;Netz;Post;Internet;Verbunden;E-Mail;google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[de_CH]=Kalender;Konto;Nachrichten;Unterhaltung;Netz;Post;Internet;Verbunden;E-Mail;google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[de_DE]=Kalender;Konto;Nachrichten;Unterhaltung;Netz;Post;Internet;Verbunden;E-Mail;google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[el]=google;facebook;twitter;yahoo;ιστός;online;συζήτηση;ημερολόγιο;αλληλογραφίαl;επαφή;owncloud;kerberos;imap;smtp;pocket;readitlater;λογαριασμός;
Keywords[es]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_419]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_AR]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_CL]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_CO]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_CR]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_DO]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_EC]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_ES]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_MX]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_NI]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_PA]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_PE]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_PR]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_SV]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_US]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_UY]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[es_VE]=google;facebook;twitter;yahoo;web;online;chat;calendario;email;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;cuenta;
Keywords[eu]=google;facebook;twitter;yahoo;web;linean;txata;egutegia;posta elektronikoa;kontaktuak;owncloud;kerberos;imap;smtp;pocket;readitlater;kontua;
Keywords[fi]=google;facebook;twitter;yahoo;web;verkko;chat;kalenteri;posti;yhteydet;owncloud;kerberos;imap;smtp;pocket;readitlater;tili;
Keywords[fi_FI]=google;facebook;twitter;yahoo;web;verkko;chat;kalenteri;posti;yhteydet;owncloud;kerberos;imap;smtp;pocket;readitlater;tili;
Keywords[fr]=compte;google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;
Keywords[fr_CA]=compte;google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;
Keywords[fr_FR]=compte;google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;
Keywords[hr]=google;facebook;twitter;yahoo;web;mreža;razgovori;kalendar;pošta;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;račun;
Keywords[hu]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;onlájn;csevegés;cset;naptár;kalendárium;névjegyek;kapcsolatok;hitelesítés;fiók;felhasználó;
Keywords[hu_HU]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;onlájn;csevegés;cset;naptár;kalendárium;névjegyek;kapcsolatok;hitelesítés;fiók;felhasználó;
Keywords[ia]=google;facebook;twitter;yahoo;web;online;chat;calendario;e-mail;contacto;nube-proprie;kerberos;imap;smtp;pocket;lege-lo-postea;conto;
Keywords[is]=Google;Facebook;Twitter;Yahoo;Vefur;Netið;Spjall;Dagatal;Póstur;Tengiliðir;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;aðgangur;
Keywords[it]=google;facebook;twitter;yahoo;web;online;chat;calendario;e-mail;contatti;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[it_IT]=google;facebook;twitter;yahoo;web;online;chat;calendario;e-mail;contatti;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[ko]=구글;페이스북;트위터;야후;웹;온라인;채팅;달력;메일;연락처;owncloud;kerberos;imap;smtp;pocket;readitlater;계정;
Keywords[ko_KR]=구글;페이스북;트위터;야후;웹;온라인;채팅;달력;메일;연락처;owncloud;kerberos;imap;smtp;pocket;readitlater;계정;
Keywords[lt]=google;facebook;twitter;yahoo;saitynas;internetas;pokalbiai;kalendorius;paštas;kontaktas;owncloud;kerberos;imap;smtp;pocket;readitlater;paskyra;
Keywords[lt_LT]=google;facebook;twitter;yahoo;saitynas;internetas;pokalbiai;kalendorius;paštas;kontaktas;owncloud;kerberos;imap;smtp;pocket;readitlater;paskyra;
Keywords[pl]=google;facebook;twitter;yahoo;web;online;czat;kalendarz;poczta;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;konto;
Keywords[pl_PL]=google;facebook;twitter;yahoo;web;online;czat;kalendarz;poczta;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;konto;
Keywords[pt]=conta google;facebook;twitter;yahoo;web;online;chat;calendário;e-mail;contactos;owncloud;kerberos;imap;smtp;pocket;readitlater;
Keywords[pt_BR]=google;facebook;twitter;yahoo;web;online;chat;calendário;e-mail;contatos;owncloud;kerberos;imap;smtp;pocket;readitlater;conta;
Keywords[pt_PT]=conta google;facebook;twitter;yahoo;web;online;chat;calendário;e-mail;contactos;owncloud;kerberos;imap;smtp;pocket;readitlater;
Keywords[sk]=google;facebook;twitter;yahoo;web;online;chat;rozhovor;kalendár;mail;pošta;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;účet;
Keywords[sk_SK]=google;facebook;twitter;yahoo;web;online;chat;rozhovor;kalendár;mail;pošta;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;účet;
Keywords[sr]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;налог;
Keywords[sr@Latn]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;налог;
Keywords[sr@cyrillic]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;налог;
Keywords[sr@ije]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;налог;
Keywords[sr@ijekavianlatin]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;налог;
Keywords[sr@latin]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;налог;
Keywords[sr_RS]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;налог;
Keywords[sr_RS@latin]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;налог;
Keywords[sv]=google;facebook;twitter;yahoo;webb;online;chatt;kalender;e-post;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;konto;
Keywords[tr]=google;facebook;twitter;yahoo;web;çevrimiçi;sohbet;takvim;eposta;iletişim;owncloud;kerberos;imap;smtp;pocket;readitlater;hesap;
Keywords[zh]=google;facebook;twitter;yahoo;网络;在线;聊天;日历;邮件;联络;owncloud;kerberos;imap;smtp;pocket;readitlater;帐号;
Keywords[zh_CN]=google;facebook;twitter;yahoo;网络;在线;聊天;日历;邮件;联络;owncloud;kerberos;imap;smtp;pocket;readitlater;帐号;
