[Desktop Entry]
Icon=cs-universal-access
Exec=cinnamon-settings universal-access
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Accessibility
Name[af]=Toeganklikheid
Name[am]=በቀላሉ የሚደረስበት
Name[ar]=تسهيل الوصول
Name[ast]=Accesibilidá
Name[be]=Дадатковыя магчымасці
Name[be@latin]=Дадатковыя магчымасці
Name[bg]=Достъпност
Name[bn]=প্রবেশযোগ্যতা
Name[bn_IN]=প্রবেশযোগ্যতা
Name[bs]=Pristupačnost
Name[ca]=Accessibilitat
Name[ca@valencia]=Accessibilitat
Name[cs]=Zpřístupnění
Name[csb]=Przistãpnosc
Name[cy]=Hygyrchedd
Name[da]=Tilgængelighed
Name[de]=Barrierefreiheit
Name[de_DE]=Barrierefreiheit
Name[el]=Προσβασιμότητα
Name[eo]=Alirebleco
Name[es]=Accesibilidad
Name[es_AR]=Accesibilidad
Name[es_CL]=Accesibilidad
Name[es_CO]=Accesibilidad
Name[es_CR]=Accesibilidad
Name[es_DO]=Accesibilidad
Name[es_EC]=Accesibilidad
Name[es_ES]=Accesibilidad
Name[es_GT]=Accesibilidad
Name[es_HN]=Accesibilidad
Name[es_MX]=Accesibilidad
Name[es_NI]=Accesibilidad
Name[es_PA]=Accesibilidad
Name[es_PE]=Accesibilidad
Name[es_PR]=Accesibilidad
Name[es_SV]=Accesibilidad
Name[es_US]=Accesibilidad
Name[es_UY]=Accesibilidad
Name[es_VE]=Accesibilidad
Name[et]=Hõlbustus
Name[eu]=Irisgarritasuna
Name[fa]=دسترس‌پذیری
Name[fa_AF]=دسترس‌پذیری
Name[fi]=Esteettömyys
Name[fil]=Pagkarating
Name[fr]=Accessibilité
Name[fr_CA]=Accessibilité
Name[fy]=Tagonklikens
Name[ga]=Inrochtaineacht
Name[gd]=Ruigsinneachd
Name[gl]=Accesibilidade
Name[he]=נגישות
Name[hr]=Pristupačnost
Name[hu]=Akadálymentesítés
Name[hy]=Մատչելիություն
Name[id]=Aksesibilitas
Name[is]=Auðveldað aðgengi
Name[it]=Accessibilità
Name[ja]=ユーザ補助
Name[km]=មធ្យោបាយ​ងាយស្រួល
Name[kn]=ನಿಲುಕಣೆ (ಆಕ್ಸೆಸಿಬಿಲಿಟಿ)
Name[ko]=접근성
Name[la]=Adcessibilitas
Name[lo]=ການຊ່ວຍການເຂົ້າເຖິງ
Name[lt]=Prieinamumas
Name[lv]=Pieejamība
Name[ml]=ഉപയോഗലഭ്യത
Name[mr]=सुलभता
Name[ms]=Kebolehcapaian
Name[ms_MY]=Kebolehcapaian
Name[nb]=Tilgjengelighet
Name[nds]=Zugänglichkeit
Name[ne]=पहुँचयोग्य
Name[nl]=Toegankelijkheid
Name[nl_NL]=Toegankelijkheid
Name[nn]=Tilgjengefunksjonar
Name[oc]=Accessibilitat
Name[om]=Gahiinsa
Name[pa]=ਅਸੈੱਸਬਿਲਟੀ
Name[pl]=Ułatwienia dostępu
Name[pt]=Acessibilidade
Name[pt_BR]=Acessibilidade
Name[pt_PT]=Acessibilidade
Name[ro]=Accesibilitate
Name[ru]=Специальные возможности
Name[rue]=Доступ
Name[si]=ප්‍රවේශතාවය
Name[sk]=Prístupnosť
Name[sl]=Dostopnost
Name[so]=Sahlidda
Name[sq]=Përdorshmëria
Name[sr]=Приступачност
Name[sr@Latn]=Pristupačnost
Name[sr@ije]=Приступачност
Name[sr@ijekavian]=Приступачност
Name[sr@ijekavianlatin]=Приступачност
Name[sr@latin]=Pristupačnost
Name[sv]=Tillgänglighet
Name[ta]=அணுகல்தன்மை
Name[ta_LK]=அணுகல்தன்மை
Name[te]=ప్రాప్తత
Name[tg]=Қобилияти дастрасӣ
Name[th]=สิ่งอำนวยความสะดวก
Name[tl]=Pagkarating
Name[tr]=Erişilebilirlik
Name[ts]=Mfikelelo
Name[uk]=Спеціальні можливості
Name[ur]=رسائی
Name[ur_PK]=رسائی
Name[uz]=Фойдаланишга рухсат мавжудлиги
Name[uz@cyrillic]=Фойдаланишга рухсат мавжудлиги
Name[vi]=Khả năng Truy cập
Name[zh_CN]=辅助功能
Name[zh_HK]=無障礙存取
Name[zh_TW]=無障礙
Comment=Configure accessibility features
