[Desktop Entry]
Icon=cs-backgrounds
Exec=cinnamon-settings backgrounds
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Backgrounds
Name[am]=መደቦች
Name[bg]=Фон
Name[ca]=Fons del escriptori
Name[ca@valencia]=Fons del escriptori
Name[cs]=Pozadí
Name[cy]=Cefndiroedd
Name[da]=Baggrunde
Name[de]=Hintergrundbilder
Name[el]=Ταπετσαρία οθόνης
Name[eo]=Fonoj
Name[es]=Fondos
Name[es_AR]=Fondos
Name[et]=Taustad
Name[eu]=Atzeko planoak
Name[fi]=Taustat
Name[fr]=Fonds d'écran
Name[fr_CA]=Fonds d'écran
Name[ga]=Cúlraí
Name[gd]=Cùl-ionadan
Name[gl]=Fondos
Name[hr]=Pozadine
Name[hu]=Háttérképek
Name[id]=Latar belakang
Name[is]=Bakgrunnar
Name[it]=Sfondi
Name[ja]=背景
Name[lt]=Fonai
Name[lv]=Fona attēli
Name[ms]=Latar Belakang
Name[nb]=Bakgrunner
Name[nl]=Achtergronden
Name[oc]=Rèire plans
Name[pa]=ਬੈਕਗਰਾਉਂਡ
Name[pl]=Tła
Name[pt]=Fundos
Name[pt_BR]=Planos de Fundo
Name[pt_PT]=Fundos
Name[ro]=Fundale
Name[ru]=Фоновые рисунки
Name[sk]=Pozadia
Name[sl]=Ozadja
Name[sr]=Позадине
Name[sr@ijekavianlatin]=Позадине
Name[sr@latin]=Позадине
Name[sv]=Bakgrundsbilder
Name[ta]=பின்னணிகள்
Name[tg]=Пасзаминаҳо
Name[th]=พื้นหลัง
Name[tr]=Arkaplanlar
Name[uk]=Зображення тла
Name[vi]=Hình nền
Name[zh_CN]=背景
Name[zh_TW]=背景
Comment=Change your desktop's background
Comment[am]=የዴስክቶፕ መደብ መቀየሪያ
Comment[bg]=Промяна на фона на работния плот
Comment[ca]=Canviar el fons de l'escriptori
Comment[ca@valencia]=Canviar el fons de l'escriptori
Comment[cs]=Změna pozadí plochy
Comment[cy]=Newidiwch gefndir eich bwrdd gwaith
Comment[da]=Ændr din skrivebordsbaggrund
Comment[de]=Schreibtischhintergrund ändern
Comment[el]=Άλλαξε την εικόνα της επιφάνειας εργασίας
Comment[es]=Cambiar el fondo de escritorio
Comment[es_AR]=Cambiar el fondo de escritorio
Comment[fr]=Changer le fond d'écran
Comment[fr_CA]=Changer le fond d'écran
Comment[hr]=Promijenite pozadinu svoje redne površine
Comment[hu]=Asztal hátterének megváltoztatása
Comment[id]=Ubah background desktop
Comment[is]=Breyta bakgrunni skjáborðs
Comment[it]=Cambia sfondo scrivania
Comment[lt]=Pakeisti darbastalio foną
Comment[lv]=Mainīt darbvirsmas fona attēlu
Comment[ms]=Tukar latar belakang desktop
Comment[nl]=Verander de achtergrond van uw bureaublad
Comment[pl]=Zmień tło pulpitu
Comment[pt]=Mudar o fundo do seu ambiente de trabalho
Comment[pt_BR]=Mudar o fundo do seu ambiente de trabalho
Comment[pt_PT]=Mudar o fundo do seu ambiente de trabalho
Comment[ro]=Schimbă fundalul suprafeței tale de lucru (desctop)
Comment[ru]=Изменить обои рабочего стола
Comment[sk]=Zmeniť pozadie plochy
Comment[sl]=Spremenite ozadje namizja
Comment[sv]=Byt skrivbordsbakgrund
Comment[tg]=Тағйир додани пасзаминаи мизи корӣ
Comment[th]=เปลี่ยนพื้นหลังบนพื้นโต๊ะของคุณ
Comment[tr]=Masaüstü arkaplan resmini değiştir
Comment[uk]=Змінити тло стільниці
Comment[vi]=Đổi nền màn hình làm việc
Comment[zh_CN]=修改桌面背景
Comment[zh_TW]=置換您的桌面背景
