[Desktop Entry]
Icon=cs-themes
Exec=cinnamon-settings themes
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Themes
Name[af]=Temas
Name[am]=ገፅታዎች
Name[ar]=السِمات
Name[ast]=Temes
Name[be]=Тэмы
Name[be@latin]=Тэмы
Name[bg]=Теми
Name[bn]=থিমসমূহ
Name[bn_IN]=থিমসমূহ
Name[bs]=Teme
Name[ca]=Temes
Name[ca@valencia]=Temes
Name[cs]=Motivy
Name[csb]=Mòtiwë
Name[cy]=Themâu
Name[da]=Temaer
Name[de]=Themen
Name[de_DE]=Themen
Name[el]=Θέματα
Name[eo]=Etosoj
Name[es]=Temas
Name[es_AR]=Temas
Name[es_CL]=Temas
Name[es_CO]=Temas
Name[es_CR]=Temas
Name[es_DO]=Temas
Name[es_EC]=Temas
Name[es_ES]=Temas
Name[es_GT]=Temas
Name[es_HN]=Temas
Name[es_MX]=Temas
Name[es_NI]=Temas
Name[es_PA]=Temas
Name[es_PE]=Temas
Name[es_PR]=Temas
Name[es_SV]=Temas
Name[es_US]=Temas
Name[es_UY]=Temas
Name[es_VE]=Temas
Name[et]=Teemad
Name[eu]=Gaiak
Name[fa]=قالب‌ها
Name[fa_AF]=قالب‌ها
Name[fi]=Teemat
Name[fil]=Mga Tema
Name[fr]=Thèmes
Name[fr_CA]=Thèmes
Name[fy]=Tema's
Name[ga]=Téamaí
Name[gd]=Ùrlaran
Name[gl]=Temas
Name[he]=ערכות
Name[hi]=थीम्स
Name[hr]=Teme
Name[hu]=Témák
Name[hy]=Թեմաներ
Name[id]=Tema
Name[is]=Þemu
Name[it]=Temi
Name[ja]=テーマ
Name[km]=ស្បែក
Name[ko]=테마
Name[li]=Thema's
Name[lo]=ລັກສະນະ
Name[lt]=Stiliai
Name[lv]=Motīvi
Name[ml]=രംഗവിധാനങ്ങൾ
Name[mr]=थीम्स
Name[ms]=Tema
Name[ms_MY]=Tema
Name[nb]=Temaer
Name[nds]=Themen
Name[ne]=थेमहरु
Name[nl]=Thema's
Name[nl_NL]=Thema's
Name[nn]=Drakter
Name[oc]=Tèmas
Name[om]=Bifoota
Name[pa]=ਥੀਮ
Name[pl]=Motywy
Name[pt]=Temas
Name[pt_BR]=Temas
Name[pt_PT]=Temas
Name[ro]=Teme
Name[ru]=Темы
Name[rue]=Теми
Name[si]=තේමාවන්
Name[sk]=Motívy vzhľadu
Name[sl]=Teme
Name[so]=Siimyadda
Name[sq]=Temat
Name[sr]=Теме
Name[sr@Latn]=Teme
Name[sr@ije]=Теме
Name[sr@ijekavian]=Теме
Name[sr@ijekavianlatin]=Теме
Name[sr@latin]=Teme
Name[sv]=Teman
Name[ta]=தள வடிவங்கள்
Name[ta_LK]=தள வடிவங்கள்
Name[te]=అలంకారాలు
Name[tg]=Мавзӯҳо
Name[th]=ชุดตกแต่ง
Name[tl]=Mga Tema
Name[tr]=Temalar
Name[ts]=Nkongomelo
Name[uk]=Теми
Name[ur]=تھیمز
Name[ur_PK]=تھیمز
Name[uz]=Ташқи кўринишлар
Name[uz@cyrillic]=Ташқи кўринишлар
Name[vi]=Giao diện
Name[zh_CN]=主题
Name[zh_HK]=佈景主題
Name[zh_TW]=佈景主題
Comment=Manage themes to change how your desktop looks
Comment[am]=የ እርስዎ ዴስክቶፕ ገጽታ ምን እንደሚመስል መቆጣጠሪያ
Comment[ar]=إدارة السمات اتغيير مظهر سطح المكتب
Comment[ast]=Alministra los temes y camuda l'aspeutu del to escritoriu
Comment[be]=Кіраванне тэмамі знешняга выгляду працоўнага стала
Comment[be@latin]=Кіраванне тэмамі знешняга выгляду працоўнага стала
Comment[bg]=Управлявайте темите, за да промените вида на вашия десктоп
Comment[bs]=Upravljaj temama da promijenite kako vaš desktop izgleda
Comment[ca]=Administrar temes per canviar l'aparença de l'escriptori
Comment[ca@valencia]=Administra els temes per a canviar l'aspecte de l'escriptori
Comment[cs]=Nastavení témat, která mění vzhled vašeho prostředí
Comment[cy]=Rheoli themâu er mwyn newid sut olwg sydd ar eich sgrin
Comment[da]=Administrér temaer for at ændre, hvordan dit skrivebord ser ud
Comment[de]=Themen verwalten, um das Aussehen des Schreibtischs zu verändern
Comment[de_DE]=Themen verwalten, um das Aussehen des Schreibtischs zu verändern
Comment[el]=Ρυθμίστε τα θέματα και αλλάξτε την εμφάνιση του υπολογιστή
Comment[es]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_AR]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_CL]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_CO]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_CR]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_DO]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_EC]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_ES]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_GT]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_HN]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_MX]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_NI]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_PA]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_PE]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_PR]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_SV]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_US]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_UY]=Administrar temas para cambiar el aspecto del escritorio
Comment[es_VE]=Administrar temas para cambiar el aspecto del escritorio
Comment[eu]=Kudeatu gaiak zure mahaigainaren itxura aldatzeko
Comment[fi]=Muuta työpöydän ulkonäköä teemojen avulla
Comment[fr]=Gérer les thèmes pour changer l'apparence du bureau
Comment[fr_CA]=Gérer les thèmes pour changer l'apparence du bureau
Comment[gd]=Stiùirich ùrlaran gus an coltas a tha air an deasg agad atharrachadh
Comment[gl]=Administra os temas do escritorio
Comment[hr]=Upravljajte temama za promjenu izgleda vaše radne površine
Comment[hu]=Témák kezelése az asztal kinézetének megváltoztatásához
Comment[id]=Mengatur tema untuk mengubah tampilan desktop anda
Comment[is]=Sýsla með þemu til að breyta útliti skjáborðsins
Comment[it]=Gestisci i temi per cambiare l'aspetto dek desktop
Comment[ko]=테마 관리는 여러분의 컴퓨터를 달라 보이게 할 겁니다
Comment[lt]=Tvarkykite stilius darbalaukio vaizdui pakeisti
Comment[lv]=Pārvaldīt motīvus, lai mainītu jūsu darbvirsmas izskatu
Comment[ms]=Mengurus tema untuk tukar bagaimana rupa desktop anda
Comment[ms_MY]=Mengurus tema untuk tukar bagaimana rupa desktop anda
Comment[nds]=Themen verwalten, um den Desktop auf Ihre Bedürfnisse einzurichten
Comment[nl]=Thema's beheren om te veranderen hoe uw bureaublad eruit ziet
Comment[nl_NL]=Thema's beheren om te veranderen hoe uw bureaublad eruit ziet
Comment[pl]=Zarządzaj motywami, aby zmienić wygląd pulpitu
Comment[pt]=Gerir temas para mudar como o seu ambiente de trabalho aparenta
Comment[pt_BR]=Gerenciar temas para mudar aparência em sua área de trabalho
Comment[pt_PT]=Gerir temas para mudar como o seu ambiente de trabalho aparenta
Comment[ro]=Gestionează temele pentru a schimba aspectul desktopului
Comment[ru]=Управление темами внешнего вида рабочего стола
Comment[sk]=Spravovať témy na úpravu výzoru prostredia
Comment[sl]=Upravljajte s temami za spreminjanje izgleda vašega namizja
Comment[sq]=Menaxhoni temat për të ndryshuar si duket desktopi juaj
Comment[sr]=Управљање темама ради измене изгледа радног простора
Comment[sr@Latn]=Управљање темама ради измене изгледа радног простора
Comment[sr@ije]=Управљање темама ради измене изгледа радног простора
Comment[sr@ijekavian]=Управљање темама ради измене изгледа радног простора
Comment[sr@ijekavianlatin]=Управљање темама ради измене изгледа радног простора
Comment[sr@latin]=Управљање темама ради измене изгледа радног простора
Comment[sv]=Hantera teman för att ändra hur ditt skrivbord ser ut
Comment[tg]=Идоракунии мавзӯҳо ва намуди зоҳирии мизи корӣ
Comment[th]=จัดการชุดตกแต่งเพื่อเปลี่ยนว่าจะให้พื้นโต๊ะของคุณมีมุมมองอย่างไรบ้าง
Comment[tr]=Masaüstü görüntünüzü özelleştirmek için temaları yönetin
Comment[uk]=Керуйте темами, щоб змінити вигляд Вашої стільниці
Comment[vi]=Quản lý chủ đề để thay đổi dáng vẻ màn hình làm việc
Comment[zh_CN]=管理主体以改变您桌面的外貌
Comment[zh_HK]=管理佈景主題以變更你的桌面外觀
Comment[zh_TW]=管理佈景主題以變更您的桌面外觀
