[Desktop Entry]
Icon=cs-user
Exec=cinnamon-settings user
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Account details
Name[am]=የ መግለጫ ዝርዝሮች
Name[ar]=تفاصيل الحساب
Name[ast]=Detalles de cuenta
Name[ay]=Apnaqirin juk'amp yatiyawinaka
Name[az]=Oturum ayrıntıları
Name[be]=Дэталі ўліковага запісу
Name[bg]=Данни за акаунта
Name[br]=Munudoù ar gont
Name[bs]=Detalji o računu
Name[ca]=Detalls del compte
Name[ca@valencia]=Detalls del compte
Name[cs]=Podrobnosti o účtu
Name[cy]=Manylion cyfrif
Name[da]=Kontodetaljer
Name[de]=Kontodetails
Name[el]=Λεπτομέρειες λογαριασμού
Name[eo]=Kontodetaloj
Name[es]=Detalles de la cuenta
Name[es_AR]=Detalles de la cuenta
Name[et]=Konto üksikasjad
Name[eu]=Kontuaren xehetasunak
Name[fa]=جزئیات حساب
Name[fi]=Tilin tiedot
Name[fr]=Détails du compte
Name[fr_CA]=Détails du compte
Name[fy]=Akkount details
Name[gd]=Mion-fhiosrachadh a' chunntais
Name[gl]=Detalles da conta
Name[he]=פרטי חשבון
Name[hi]=उपयोक्ता विवरण
Name[hr]=Pojedinosti računa
Name[hu]=Fiók részletek
Name[ia]=Detalios del conto
Name[id]=Detail akun
Name[is]=Nánar um notanda
Name[it]=Dettagli dell'account
Name[ja]=アカウントの詳細
Name[kab]=Ifatusen n umiḍan
Name[ko]=사용자 정보
Name[lt]=Paskyros informacija
Name[lv]=Detalizēta informācija par kontu
Name[ms]=Perincian akaun
Name[nb]=Kontodetaljer
Name[nds]=Konto - Einzelheiten
Name[nl]=Accountdetails
Name[oc]=Informacions del compte
Name[om]=Eenyummeessaa baldhaa
Name[pa]=ਅਕਾਊਂਟ ਵੇਰਵਾ
Name[pl]=Szczegóły konta
Name[pt]=Detalhes da conta
Name[pt_BR]=Detalhes da Conta
Name[ro]=Detalii cont
Name[ru]=Детали учётной записи
Name[rue]=Детайлы акаунта
Name[sc]=Detàllios de su contu
Name[sk]=Podrobnosti o účte
Name[sl]=Podrobnosti računa
Name[sq]=Detajet e llogarisë
Name[sr]=Детаљи о налогу
Name[sr@ijekavian]=Детаљи о налогу
Name[sr@ijekavianlatin]=Детаљи о налогу
Name[sr@latin]=Detalji o nalogu
Name[sv]=Kontodetaljer
Name[ta]=கணக்கு விவரங்கள்
Name[tg]=Тафсилоти ҳисоб
Name[th]=รายละเอียดบัญชีผู้ใช้
Name[tr]=Hesap Ayrıntıları
Name[uk]=Дані облікового запису
Name[ur]=کھاتے کی تفصیلات دکھائیں
Name[uz]=Akkaunt tavsilotlari
Name[vi]=Chi tiết tài khoản
Name[zh_CN]=帐户详情
Name[zh_HK]=帳號詳細資料
Name[zh_TW]=帳號詳細資訊
Comment=Change your user preferences and password
Comment[am]=የ እርስዎን የመጠቀሚያ ምርጫዎች እና የመግቢያ ቃል መቀየሪያ
Comment[ar]=تغيير تفضيلات المستخدم وكلمة المرور الخاصة بك
Comment[ast]=Camuda les tos preferencies d'usuariu ya conseña
Comment[ay]=Apnaqirin ajllitanakap ukhamarak jamasat aru mayjaptayaña
Comment[az]=Öz işlədən üstünlükləriniz ilə keçid sözünüzü dəyişin
Comment[be]=Змяніць налады карыстальніка і пароль
Comment[bg]=Променете Вашите потребителски настройки и парола
Comment[bs]=Promijeni korisničke postavke i šifru
Comment[ca]=Canvieu les preferències i la contrasenya del vostre usuari
Comment[ca@valencia]=Canvieu les vostres preferències d'usuari i la vostra contrasenya
Comment[cs]=Změnit předvolby pro uživatele a heslo
Comment[cy]=Newid eich dewisiadau defnyddiwr a chyfrinair
Comment[da]=Ændr dine brugerindstillinger og din adgangskode
Comment[de]=Kontoeinstellungen und Passwort ändern
Comment[el]=Αλλάξτε τις προτιμήσεις χρήστη σας και τον κωδικό πρόσβασης
Comment[eo]=Ŝanĝi viajn uzantajn preferojn kaj pasvorton
Comment[es]=Cambiar las preferencias del usuario y su contraseña
Comment[es_AR]=Cambiar las preferencias del usuario y su contraseña
Comment[et]=Oma kasutajaeelistuste ja parooli muutmine
Comment[eu]=Aldatu erabiltzailearen hobespenak eta pasahitza
Comment[fa]=ترجیحات کاربر و گذرواژه خود را تغییر دهید
Comment[fi]=Muuta käyttäjäasetuksiasi ja salasanaasi
Comment[fr]=Changez vos préférences utilisateur et votre mot de passe
Comment[fr_CA]=Modifier vos paramètres d’utilisateur et votre mot de passe
Comment[gd]=Atharraich roghainnean a' chleachdaiche 's am facal-faire agad
Comment[gl]=Cambia as preferencias e o contrasinal do usuario
Comment[he]=שינוי העדפות משתמש וסיסמה
Comment[hi]=उपयोक्ता सेटिंग्स व कूटशब्द बदलें
Comment[hr]=Promijenite svoje osobitosti korisnika i lozinke
Comment[hu]=Felhasználói beállítások és jelszavak módosítása
Comment[ia]=Cambiar tu preferentias de usator e contrasigno
Comment[id]=Ubah kata kunci dan preferensi Anda
Comment[is]=Breyta notandastillingum þínum og lykilorði
Comment[it]=Modifica preferenze utente e password
Comment[ja]=個人設定とパスワードを変更します
Comment[kab]=Snifel ismenyifen inek n useqdac akked wawal n uɛeddi
Comment[ko]=사용자 설정과 비밀번호를 바꿉니다
Comment[lt]=Keisti naudotojo nuostatas ir slaptažodį
Comment[lv]=Mainīt savas lietotāja vēlmes un paroli
Comment[ms]=Tukar pilihan pengguna dan kata laluan
Comment[nb]=Endre dine brukerinnstillinger og passord
Comment[nds]=Ändern Sie Ihre Benutzereinstellungen und Passwort
Comment[nl]=Verander uw gebruikersvoorkeuren en wachtwoord
Comment[oc]=Cambiar vòstras preferéncias utilizaire e vòstre senhal
Comment[pl]=Zmień swoje preferencje użytkownika i hasło
Comment[pt]=Alterar preferências e palavra-passe do utilizador
Comment[pt_BR]=Mudar senha e preferências do usuário
Comment[ro]=Schimbați preferințele pentru utilizator și parolă
Comment[ru]=Изменить пользовательские настройки и пароль
Comment[rue]=Перемінити хосновательські конфіґурації тай паролу
Comment[sc]=Càmbia sas preferèntzias de usuàriu e sa paràula crae tuas
Comment[sk]=Zmeniť vaše používateľské predvoľby a heslo
Comment[sl]=Spremenite uporabniške možnosti in geslo
Comment[sq]=Ndrysho parapëlqimet e përdoruesit dhe fjalëkalimin
Comment[sr]=Промени поставке вашег налога и лозинку
Comment[sr@ijekavian]=Промени поставке вашег налога и лозинку
Comment[sr@ijekavianlatin]=Промени поставке вашег налога и лозинку
Comment[sr@latin]=Promenite Vaše korisničke preferencije i lozinku
Comment[sv]=Ändra dina användarinställnigar och lösenord
Comment[tg]=Тағйир додани хусусиятҳо ва пароли корбар
Comment[th]=เปลี่ยนการตั้งค่าผู้ใช้ขั้นสูงและรหัสผ่านของคุณ
Comment[tr]=Kullanıcı tercihlerini ve parolasını değiştir
Comment[uk]=Змінити ваші налаштування користувача та пароль
Comment[ur]=اپنی ترجیحات یا پاسورڈ بدلیں
Comment[uz]=Parametrlar va parolingizni o‘zgartiring
Comment[vi]=Thay đổi tuỳ thích và mật khẩu người dùng của bạn
Comment[zh_CN]=修改用户设置和密码
Comment[zh_HK]=變更你的使用者喜好設定與密碼
Comment[zh_TW]=變更您的使用者偏好設定與密碼
Keywords=user;account;information;details;password;
Keywords[af]=gebruiker;rekening;informasie;besonderhede;wagwoord;
Keywords[am]=ተጠቃሚ: መግለጫ: መረጃ: ዝርዝር: የ መግቢያ ቃል:;
Keywords[ar]=المستخدم، الحساب، المعلومات، التفاصيل، كلمة السر;
Keywords[ast]=usuariu;cuenta;información;detalles;conseña;
Keywords[ay]=apnaqiri;apnaqirin yatiyawi;yatiyawi;juk'amp yatiyawi;jamasat aru;usuario;cuenta;información;detalles;contraseña;
Keywords[be]=карыстальнік;уліковы запіс;інфармацыя;падрабязнасці;пароль;
Keywords[bg]=потребител;акаунт;информация;детайли;парола;
Keywords[br]=arveriad;kont;titouroù;munudoù;ger-tremen;
Keywords[ca]=usuari;compte;informació;detalls;contrasenya;
Keywords[ca@valencia]=usuari;compte;informació;detalls;contrasenya;
Keywords[cs]=uživatel;účet;informace;podrobnosti;heslo;
Keywords[cy]=defnyddiwr;cyfrif;gwybodaeth;manylion;cyfrinair;
Keywords[da]=bruger;konto;information;detaljer;adgangskode;kodeord;password;
Keywords[de]=Benutzer;Konto;Informationen;Details;Passwort;user;account;
Keywords[el]=χρήστης;λογαριασμός;πληροφορίες;λεπτομέρειες;συνθηματικό;
Keywords[eo]=uzanto;konto;informoj;detaloj;pasvorto;
Keywords[es]=usuario;cuenta;información;detalles;contraseña;
Keywords[es_AR]=usuario;cuenta;información;detalles;contraseña;
Keywords[et]=kasutaja;konto;info;teave;üksikasjad;detailid;parool;
Keywords[eu]=erabiltzailea;kontua;informazioa;xehetasunak;pasahitza;
Keywords[fa]=کاربر، حساب، اطلاعات، جزئیات، گذرواژه;
Keywords[fi]=käyttäjä;tili;tiedot;yksityiskohdat;salasana;
Keywords[fr]=utilisateur;compte;information;détails;mot de passe;
Keywords[fr_CA]=utilisateur;compte;information;détails;mot de passe;
Keywords[he]=משתמש;חשבון;מידע;פרטים;סיסמה;ser;account;information;details;password;
Keywords[hi]=उपयोक्ता;अकाउंट;जानकारी;विवरण;कूटशब्द;
Keywords[hr]=korisnik;račun;informacija;pojedinosti;lozinka;
Keywords[hu]=felhasználó;fiók;információ;részletek;jelszó;user;account;information;details;password;
Keywords[ia]=usator;conto;informationes;detalios;contrasigno;
Keywords[id]=pengguna;akun;informasi;rincian;sandi;
Keywords[is]=notandi;aðgangur;reikningur;notandaupplýsingar;nánar;lykilorð;
Keywords[it]=utente;account;informazioni;dettagli;password;
Keywords[ja]=user;account;information;details;password;ユーザー;アカウント;情報;詳細;パスワード;
Keywords[kab]=aseqdac;amiḍan;talɣut;talqayt;awal uffir;
Keywords[ko]=사용자;계정;정보;자세한 내용;비밀번호;
Keywords[lt]=naudotojas;paskyra;abonementas;informacija;išsamiau;slaptažodis;
Keywords[nb]=bruker;konto;informasjon;detaljer;passord;
Keywords[nl]=gebruiker;account;informatie;details;wachtwoord;
Keywords[pl]=użytkownik;konto;informacja;szczegóły;hasło;
Keywords[pt]=utilizador;conta;informação;detalhes;palavra-passe;
Keywords[pt_BR]=usuário;conta;informação;detalhes;senha;
Keywords[ro]=utilizator;cont;informații;detalii;parolă;
Keywords[ru]=пользователь;учетная запись;информация;детали;пароль;
Keywords[rue]=хосновач;акаунт;інфо;детайлы;парола;
Keywords[sk]=používateľ;užívateľ;účet;informácie;informácia;podrobnosti;detaily;heslo;
Keywords[sl]=uporabnik;račun;informacija;podrobnosti;geslo;
Keywords[sr]=корисник;налог;информације;детаљи;лозинка;
Keywords[sr@ijekavian]=корисник;налог;информације;детаљи;лозинка;
Keywords[sr@ijekavianlatin]=корисник;налог;информације;детаљи;лозинка;
Keywords[sr@latin]=korisnik;nalog;informacije;detalji;lozinka;
Keywords[sv]=användaren;konto;information;detaljer;lösenord;
Keywords[tr]=kullanıcı;hesap;bilgi;ayrıntı;parola;
Keywords[uk]=користувач;обліківка;інформація;деталі;пароль;
Keywords[uz]=foydalanuvchi;hisob;ma'lumot;tafsilotlar;parol;
Keywords[vi]=người dùng;tài khoản;thông tin;chi tiết;mật khẩu;
Keywords[zh_CN]=用户，帐户，信息，详情，密码;
Keywords[zh_HK]=使用者;帳號;資訊;詳細資訊;密碼;
Keywords[zh_TW]=使用者;帳號;資訊;詳細資訊;密碼;
