[Desktop Entry]
Icon=cs-keyboard
Exec=cinnamon-settings keyboard
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Keyboard
Name[af]=Sleutelbord
Name[am]=የፊደል ገበታ
Name[ar]=لوحة المفاتيح
Name[ast]=Tecláu
Name[ay]=Tiklaru (teclado)
Name[az]=Düyməlik
Name[be]=Клавіятура
Name[bg]=Клавиатура
Name[bn]=কিবোর্ড
Name[br]=Touchennaoueg
Name[bs]=Tastatura
Name[ca]=Teclat
Name[ca@valencia]=Teclat
Name[crh]=Klavye
Name[cs]=Klávesnice
Name[csb]=Klawiatura
Name[cy]=Bysellfwrdd
Name[da]=Tastatur
Name[de]=Tastatur
Name[el]=Πληκτρολόγιο
Name[eo]=Klavaro
Name[es]=Teclado
Name[es_AR]=Teclado
Name[et]=Klaviatuur
Name[eu]=Teklatua
Name[fa]=صفحه‌کلید
Name[fi]=Näppäimistö
Name[fo]=Knappaborð
Name[fr]=Clavier
Name[fr_CA]=Clavier
Name[fy]=Toetseboerd
Name[ga]=Méarchlár
Name[gd]=Meur-chlàr
Name[gl]=Teclado
Name[he]=מקלדת
Name[hi]=कीबोर्ड
Name[hr]=Tipkovnica
Name[hsb]=Tastatura
Name[hu]=Billentyűzet
Name[hy]=Ստեղնաշար
Name[ia]=Claviero
Name[ie]=Tastatura
Name[is]=Lyklaborð
Name[it]=Tastiera
Name[ja]=キーボード
Name[jv]=Kibot
Name[ka]=კლავიატურა
Name[kab]=Anasiw
Name[kk]=Пернетақта
Name[km]=ក្ដារចុច
Name[kn]=ಕೀಲಿಮಣೆ
Name[ko]=키보드
Name[ku]=Klavye
Name[la]=Claviatura
Name[li]=Toetsebord
Name[lo]=ແປ້ນພີມ
Name[lt]=Klaviatūra
Name[lv]=Tastatūra
Name[ml]=കീബോര്‍ഡ്
Name[mr]=कळफलक
Name[ms]=Papan Kekunci
Name[nap]=Tastiera
Name[nb]=Tastatur
Name[nds]=Tastatur
Name[ne]=कीबोर्ड
Name[nl]=Toetsenbord
Name[nn]=Tastatur
Name[oc]=Clavièr
Name[om]=Gabatee furtuu
Name[pa]=ਕੀਬੋਰਡ
Name[pl]=Klawiatura
Name[pt]=Teclado
Name[pt_BR]=Teclado
Name[ro]=Tastatură
Name[ru]=Клавиатура
Name[rue]=Клавїатура
Name[sc]=Tastiera
Name[si]=යතුරුපුවරුව
Name[sk]=Klávesnica
Name[sl]=Tipkovnica
Name[so]=Kiiboorka
Name[sq]=Tastiera
Name[sr]=Тастатура
Name[sr@ijekavian]=Тастатура
Name[sr@ijekavianlatin]=Тастатура
Name[sr@latin]=Tastatura
Name[sv]=Tangentbord
Name[szl]=Tastatura
Name[ta]=விசைப்பலகை
Name[te]=కీబోర్డు
Name[tg]=Ҳарфкалид
Name[th]=แป้นพิมพ์
Name[tl]=Tiklado
Name[tpi]=Kibot
Name[tr]=Klavye
Name[ts]=Khibodo
Name[tt]=Төймәсар
Name[uk]=Клавіатура
Name[ur]=کی بورڈ
Name[uz]=Klaviatura
Name[vi]=Bàn phím
Name[zgh]=ⵜⴰⵏⴰⵙⵜ
Name[zh_CN]=键盘
Name[zh_HK]=鍵盤
Name[zh_TW]=鍵盤
Comment=Manage keyboard settings and shortcuts
Comment[am]=የፊደል ገበታ ማሰናጃዎች እና የ አቋራጭ ቁልፍ አስተዳዳሪ
Comment[ar]=إدارة إعدادات لوحة المفاتيح والاختصارات
Comment[ast]=Xestionar axustes ya atayos de tecláu
Comment[ay]=Tiklat ukhamaraki jank'a tiklanakat mayjachawi irpaña
Comment[az]=Düyməlik quruluşlarını ya da qısayolları yönəlt
Comment[be]=Кіраванне наладамі клавіятуры і гарачымі клавішамі
Comment[bg]=Управление на клавишните настройки и преки пътища
Comment[bs]=Upravljaj postavkama tastature i prečica
Comment[ca]=Gestioneu els ajusts del teclat i les dreceres
Comment[ca@valencia]=Gestioneu els ajusts del teclat i les dreceres
Comment[cs]=Nastavení klávesnice a klávesových zkratek
Comment[cy]=Rheoli gosodiadau a llwybrau byr bysellfwrdd
Comment[da]=Administrér tastaturindstillinger og genveje
Comment[de]=Tastatureinstellungen und Tastenkombinationen verwalten
Comment[el]=Διαχείριση ρυθμίσεων πληκτρολογίου και  πλήκτρων συντόμευσης
Comment[eo]=Administri klavaran agordon kaj fulmoklavojn
Comment[es]=Gestionar la configuración del teclado y los atajos
Comment[es_AR]=Gestionar la configuración del teclado y los atajos
Comment[et]=Halda klaviatuuri seadeid ja otseteid
Comment[eu]=Kudeatu teklatuaren ezarpen eta laster-teklak
Comment[fa]=مدیریت تنظیمات و میانبر های صفحه‌کلید
Comment[fi]=Muuta näppäimistön asetuksia ja pikanäppäimiä
Comment[fr]=Gérer les paramètres du clavier et les raccourcis
Comment[fr_CA]=Gérer les paramètres et les raccourcis du clavier
Comment[gd]=Stiùirich roghainnean is ath-ghoiridean a' mheur-chlàir
Comment[gl]=Administra os atallos e axustes do teclado
Comment[he]=ניהול הגדרות מקלדת וקיצורי דרך
Comment[hi]=कुंजीपटल सेटिंग्स व शॉर्टकट प्रबंधन
Comment[hr]=Upravljajte postavkama i prečacima tipkovnice
Comment[hu]=Billentyűzet beállítások és billentyűparancsok kezelése
Comment[ia]=Administrar le configurationes de claviero e le vias breve
Comment[id]=Kelola pengaturan papan tik dan pintasan
Comment[is]=Sýsla með stillingar lyklaborðs og flýtilykla
Comment[it]=Gestisci impostazioni e scorciatoie da tastiera
Comment[ja]=キーボードの設定とショートカットを管理
Comment[kab]=Sefrek iɣewwaren n unasiw d iberdan igezmen
Comment[ko]=키보드 설정과 단축키 관리
Comment[lt]=Tvarkyti klaviatūros nustatymus ir sparčiuosius klavišus
Comment[lv]=Pārvaldīt tastatūras iestatījumus un saīsnes
Comment[ms]=Mengurus tetapan papan kekunci dan pintasan
Comment[nb]=Håndter tastaturinnstillinger og hurtigtaster
Comment[nds]=Tastatureinstellungen und Verknüpfungen verwalten
Comment[nl]=Toetsenbordinstellingen en sneltoetsen beheren
Comment[oc]=Gerir los paramètres del clavièr e los acorchis
Comment[pl]=Zarządzaj ustawieniami klawiatury i skrótami
Comment[pt]=Gerir definições de teclado e atalhos
Comment[pt_BR]=Gerenciar as configurações de teclado e atalhos
Comment[ro]=Gestionează setările tastaturii și scurtăturile
Comment[ru]=Управление настройками клавиатуры и горячими клавишами
Comment[rue]=Справованя штімованями клавешници вадь комбінацію клопок
Comment[sc]=Manìgia cunfiguratzione de tecladu e incurtzaduras
Comment[sk]=Spravuje nastavenia klávesnice a klávesových skratiek
Comment[sl]=Upravljajte z nastavitvami in bližnjicami tipkovnice
Comment[sr]=Управљање поставкама тастатуре и пречицама
Comment[sr@ijekavian]=Управљање поставкама тастатуре и пречицама
Comment[sr@ijekavianlatin]=Управљање поставкама тастатуре и пречицама
Comment[sr@latin]=Upravljanje podešavanjima tastature i prečicama
Comment[sv]=Hantera tangentbordsinställningar och genvägar
Comment[tg]=Идоракунии миёнбурҳо ва танзимоти ҳарфкалид
Comment[th]=จัดการการตั้งค่าแป้นพิมพ์และแป้นลัด
Comment[tr]=Klavye ayarlarını ve kısayollarını yönet
Comment[uk]=Керування параметрами роботи клавіатури та клавіатурними скороченнями
Comment[ur]=کیبورڈ کی ترتیبات اور شارٹ کٹ
Comment[uz]=Klaviatura parametrlarini va tez usullarni (shortcuts) boshqarish
Comment[vi]=Quản lý cài đặt bàn phím và phím tắt
Comment[zh_CN]=键盘和快捷键设置
Comment[zh_HK]=管理鍵盤設定與快速鍵
Comment[zh_TW]=管理鍵盤設定與快捷鍵組合
Keywords=keyboard;shortcut;hotkey;
Keywords[am]=የፊደል ገበታ : አቋራጭ : ትኩስ ቁልፍ;
Keywords[ar]=لوحة المفاتيح، الاختصار، المفتاح الساخن;
Keywords[ast]=tecláu;accesu direutu;atayu;
Keywords[ay]=tikladu;jank'a tikla;teclado;atajo;tecla de acceso rápido;atajo;
Keywords[az]=düyməlik;qısayol;isti düymə;
Keywords[be]=клавіятура;ярлык;гарачыя клавішы;
Keywords[bg]=клавиатура;кратки пътища;бързи клавиши;
Keywords[bs]=tastatura;prečica;tipka prečice;
Keywords[ca]=teclat;drecera;tecla directa;
Keywords[ca@valencia]=teclat;drecera;tecla d'accés ràpid;
Keywords[cs]=klávesnice;zkratka;hotkey;
Keywords[cy]=bysellfwrdd;llwybr byr;bysell boeth;
Keywords[da]=tastatur;genvej;genvejstast;
Keywords[de]=Tastatur;Tastenkombination;Schnelltaste;Tastenkürzel;shortcut;hotkey;
Keywords[el]=πληκτρολόγιο;συντομεύσεις;συντόμευση;
Keywords[eo]=klavaro;fulmoklavo;rapidklavo;
Keywords[es]=teclado;atajo;tecla de acceso rápido;
Keywords[es_AR]=teclado;atajo;tecla de acceso rápido;
Keywords[et]=klaviatuur;otsetee;kiirklahv;
Keywords[eu]=teklatua;lasterbidea;laster-tekla;
Keywords[fa]=صفحه‌کلید، میانبر، کلید میانبر;
Keywords[fi]=näppäimistö;pikanäppäin;toimintonappi;
Keywords[fr]=clavier;raccourci;raccourci;
Keywords[fr_CA]=clavier;raccourci;raccourci clavier;
Keywords[ga]=méarchlár;aicearra;eochair aicearra;
Keywords[gd]=meur-chlàr;ath-ghoirid;keyboard;shortcut;hotkey;
Keywords[gl]=teclado;atallo;acceso rápido;
Keywords[he]=מקלדת;קיצורי-דרך;מקשים-חמים;
Keywords[hi]=कुंजीपटल;शॉर्टकट;
Keywords[hr]=tipkovnica;prečac;tipka prečaca;
Keywords[hu]=billentyűzet;gyorsbillentyű;gombok;
Keywords[ia]=claviero;via-breve;clave calide;
Keywords[id]=papan tik;shortcut;hotkey;
Keywords[is]=lyklaborð;flýtilykill;flýtihnappur;stytting;lyklasamsetning;
Keywords[it]=tastiera;scorciatoia;hotkey;
Keywords[ja]=keyboard;shortcut;hotkey;キーボード;ショートカット;ホットキー;
Keywords[kab]=anasiw;abrid igezmen;abrid iigezmen n unasiw;
Keywords[ko]=키보드;단축키;핫 키;
Keywords[lt]=klaviatūra;nuoroda;karštasis klavišas;spartieji klavišai;susiejimas;
Keywords[lv]=tastatūra;īsceļš;"karstais taustiņš";
Keywords[ms]=papan kekunci;pintasan;kekunci panas;
Keywords[nb]=tastatur;snarvei;hurtigtast;
Keywords[nds]=Tastatur;Verknüpfung;Hotkey;
Keywords[nl]=toetsenbord;sneltoets;actieve toets;
Keywords[om]=Gabateefurtuu;qaxxaamura;ariingaa;
Keywords[pl]=klawiatura;skrót;skrót klawiszowy;
Keywords[pt]=teclado;atalho;acelerador;
Keywords[pt_BR]=teclado;atalho;tecla de atalho;
Keywords[ro]=tastatură;scurtătură;tastă rapidă;
Keywords[ru]=клавиатура;ярлык;горячие клавиши;
Keywords[rue]=клавешниця;комбінація;злука клопок;
Keywords[sc]=tecladu;incurtzadura;teclas de issèberu lestru;
Keywords[sk]=klávesnica;skratky;horúce klávesy;klávesová skratka;
Keywords[sl]=tipkovnica;bližnjica;hitra tipka;
Keywords[sr]=тастатура;пречица;
Keywords[sr@ijekavian]=тастатура;пречица;
Keywords[sr@ijekavianlatin]=тастатура;пречица;
Keywords[sr@latin]=tastatura;prečica;prečica;
Keywords[sv]=tangentbord;genväg;hotkey;
Keywords[ta]=விசைப்பலகை;குறுக்குவழி;குறுக்குவிசை;
Keywords[tg]=ҳарфкалид;миёнбур;тугмаи тезкор;
Keywords[th]=แป้นพิมพ์;ทางลัด;ฮอตคีย์;
Keywords[tr]=klavye;kısayol;kısayol tuşu;
Keywords[uk]=клавіатура;лейба;гарячі клавіші;
Keywords[ur]=کیبورڈ، شارٹ کٹ، ہاٹ کی;
Keywords[uz]=klaviatura;tez usullar (shortcuts);uyg‘oq tugunlar (hotkeys);
Keywords[vi]=bàn phím;phím tắt;phím nóng;
Keywords[zh_CN]=keyboard;shortcut;hotkey;键盘;快捷键;热键;
Keywords[zh_HK]=鍵盤;快速鍵;hotkey;
Keywords[zh_TW]=鍵盤;快捷鍵組合;熱鍵;
