[Desktop Entry]
Name=Menu Editor
Comment=Edit the entries of the Cinnamon menu applet
Exec=cinnamon-menu-editor
Icon=alacarte
OnlyShowIn=X-Cinnamon;
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=false
