[Desktop Entry]
Icon=cs-display
Exec=cinnamon-settings display
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Display
Name[af]=Vertoon
Name[am]=ማሳያ
Name[ar]=العرض
Name[ay]=Uñjachawi
Name[az]=Göstərmə
Name[be]=Дысплэй
Name[bg]=Екран
Name[bs]=Prikaz
Name[ca]=Pantalla
Name[ca@valencia]=Pantalla
Name[cs]=Displej
Name[cy]=Dangosydd
Name[da]=Skærm
Name[de]=Bildschirm
Name[el]=Οθόνη
Name[eo]=Ekrano
Name[es]=Monitor
Name[es_AR]=Monitor
Name[et]=Kuva
Name[eu]=Pantaila
Name[fa]=نمایش
Name[fi]=Näyttö
Name[fr]=Affichage
Name[fr_CA]=Affichage
Name[fy]=Sjen litte
Name[ga]=Taispeáin
Name[gd]=Uidheam-taisbeanaidh
Name[gl]=Amosar
Name[he]=תצוגה
Name[hi]=प्रदर्शन
Name[hr]=Zaslon
Name[hsb]=Wobrazowka
Name[hu]=Kijelző
Name[hy]=Էկրան
Name[ia]=Schermo
Name[id]=Tampilan
Name[is]=Skjár
Name[it]=Schermo
Name[ja]=ディスプレイ
Name[ka]=ეკრანი
Name[kab]=Sken
Name[kk]=Дисплей
Name[km]=ទិដ្ឋភាព
Name[ko]=디스플레이
Name[ku]=Nîşandan
Name[la]=Ostenditor
Name[lo]=ຈໍພາບ
Name[lt]=Ekranas
Name[lv]=Displejs
Name[ml]=ഡിസ്പ്ലേ
Name[mr]=डिस्पले
Name[ms]=Paparan
Name[nap]=Scherm
Name[nb]=Skjerm
Name[nds]=Bildschirm
Name[ne]=देखाउनुहोस्
Name[nl]=Beeldscherm
Name[oc]=Afichatge
Name[pa]=ਡਿਸਪਲੇਅ
Name[pl]=Ekran
Name[pt]=Ecrã
Name[pt_BR]=Monitor
Name[ro]=Afișare
Name[ru]=Экран
Name[sc]=Ischermu
Name[si]=ප්‍රදර්ශනය කරන්න
Name[sk]=Zobrazenie
Name[sl]=Zaslon
Name[so]=Soo bandhig
Name[sq]=Ekrani
Name[sr]=Приказ
Name[sr@ijekavian]=Приказ
Name[sr@ijekavianlatin]=Приказ
Name[sr@latin]=Ekran
Name[sv]=Skärm
Name[ta]=காட்சி
Name[te]=ప్రదర్శన
Name[tg]=Дисплей
Name[th]=จอแสดงผล
Name[tr]=Ekran
Name[ts]=Nkombiso
Name[uk]=Екран
Name[ur]=ڈسپلے
Name[uz]=Ekran
Name[vi]=Hiển thị
Name[zh_CN]=显示
Name[zh_HK]=顯示器
Name[zh_TW]=顯示
Comment=Manage display settings
Comment[am]=የ ማሳያ ማሰናጃ አስተዳዳሪ
Comment[ar]=اعدادات التحكم بالشاشة
Comment[ay]=Pantallan mayjachawi irpaña
Comment[be]=Кіраваць наладамі дысплэя
Comment[bg]=Управление настройките на дисплея
Comment[ca]=Gestiona la configuració de visualització
Comment[ca@valencia]=Gestiona la configuració de visualització
Comment[cs]=Spravovat nastavení zobrazení
Comment[cy]=Rheoli gosodiadau dangosydd
Comment[da]=Håndtér skærmindstillinger
Comment[de]=Bildschirmeinstellungen verwalten
Comment[el]=Διαχείριση ρυθμίσεων οθόνης
Comment[eo]=Administri ekranagordojn
Comment[es]=Gestionar la configuración de la pantalla
Comment[es_AR]=Gestionar la configuración de la pantalla
Comment[et]=Kuva seadete haldamine
Comment[eu]=Kudeatu bistaratze-ezarpenak
Comment[fi]=Hallitse näyttöasetuksia
Comment[fr]=Gérer les paramètres d'affichage
Comment[fr_CA]=Gérer les paramètres d'affichage
Comment[he]=ניהול הגדרות תצוגה
Comment[hi]=डिस्प्ले सेटिंग्स प्रबंधन
Comment[hr]=Upravljajte postavkama zaslona
Comment[hu]=Megjelenítés beállításai
Comment[ia]=Non remover o perdita de datos pote evenir.
Comment[id]=Mengelola setelan tampilan
Comment[is]=Sýsla með skjástillingar
Comment[it]=Gestisci le impostazioni dello schermo
Comment[ja]=ディスプレイ設定の管理
Comment[kab]=Sefrek iɣewwaṛen n ubeqqeḍ
Comment[ko]=디스플레이 설정 관리
Comment[la]=Monitorii configurationem cura
Comment[lt]=Tvarkyti ekrano nustatymus
Comment[nl]=Scherminstellingen beheren
Comment[oc]=Gerir los paramètres d’afichatge
Comment[pl]=Zarządzaj ustawieniami wyświetlania
Comment[pt]=Gerir definições do ecrã
Comment[pt_BR]=Gerência de configuração de exibição
Comment[ro]=Gestionează configurația afișajului
Comment[ru]=Задать настройки дисплея
Comment[sk]=Spravovať nastavenia zobrazenia
Comment[sl]=Prilagodi nastavitve zaslona
Comment[sr]=Управљајте поставкама екрана
Comment[sr@ijekavian]=Управљајте поставкама екрана
Comment[sr@ijekavianlatin]=Управљајте поставкама екрана
Comment[sr@latin]=Upravljanje podešavanjima ekrana
Comment[sv]=Hantera skärminställningar
Comment[tr]=Görüntü ayarlarını yönet
Comment[uk]=Керування налаштуваннями дисплею
Comment[uz]=Displey sozlamalarini boshqarish
Comment[vi]=Thiết lập quản lý hiển thị
Comment[zh_CN]=管理显示设置
Comment[zh_HK]=管理顯示設定
Comment[zh_TW]=管理顯示設定
Keywords=display;screen;monitor;layout;resolution;dual;lcd;
Keywords[am]=ማሳያ፡ መመልከቻ፡ መቆጣጠሪያ፡ እቅድ፡ ሪዞሊሽን፡ ጥንድ፡ lcd;
Keywords[ar]=العرض، الشاشة، جهاز العرض، التخطيط، الدقة، ثنائي، شاشات الكريستال السائل;
Keywords[ast]=pantalla;monitor;resolución;lcd;
Keywords[ay]=uñjachawi;pantalla;pantall uñjawi;kunjams uskuta;pantallan qawqha ch'aqanakanisa;payani;LCD;visualización;monitor;distribución;resolución;dual;
Keywords[az]=göstərmə;göstərici;göstərən;düzən;çözünürlük;ikili;dkg (lcd);
Keywords[be]=дысплэй;экран;манітор;макет;resolution;двайны;lcd;
Keywords[bg]=дисплей;екран;монитор;оформление;резолюция;двоен;lcd;
Keywords[bn]=ডিসপ্লে;স্ক্রীন;মনিটর;বিন্যাস;রেজলুশন;দ্বৈত;এল.সি.ডি;
Keywords[bs]=prikaz;ekran;monitor;raspored;rezolucija;dvostruko;lcd;
Keywords[ca]=visualització;pantalla;monitor;disposició;resolució;dual;lcd;
Keywords[ca@valencia]=visualització;pantalla;monitor;disposició;resolució;dual;lcd;
Keywords[cs]=displej;obrazovka;monitor;rozvržení;rozlišení;dual;lcd;
Keywords[cy]=dangos;sgrin;dangosydd;cynllun;cydraniad;deuol;lcd;
Keywords[da]=skærm;layout;opløsning;dual;lcd;
Keywords[de]=Anzeige;display;Bildschirm;Monitor;Anordnung;Darstellung;Layout;Auflösung;Dual;LCD;
Keywords[el]=εμφάνιση;οθόνη;διάταξη;ανάλυση;διπλή;lcd;
Keywords[eo]=montri;ekrano;monitoro;aranĝo;distingivo;duala;likvakristala ekrano;
Keywords[es]=visualización;pantalla;monitor;distribución;resolución;dual;LCD;
Keywords[es_AR]=visualización;pantalla;monitor;distribución;resolución;dual;LCD;
Keywords[et]=kuva;ekraan;kuvar;paigutus;lahutus;duaalne;lcd;
Keywords[eu]=bistaratu;pantaila;monitorea;diseinua;bereizmena;bikoitza;lcd;
Keywords[fa]=نمایش، صفحه، نمایشگر، چینش، رزولوشن، دوتایی، ای‌سی‌دی;
Keywords[fi]=näyttö;kuvaruutu;monitori;sijoittelu;resoluutio;kaksinkertainen;lcd;
Keywords[fr]=affichage;écran;moniteur;mise en page;résolution;double;lcd;
Keywords[fr_CA]=affichage;écran;moniteur;mise en page;résolution;double;lcd;
Keywords[fy]=werjefte;skerm;monitor;yndieling;resolúsje;dûbel;lcd;
Keywords[ga]=taispeáint;scáileán;monatóir;leagan amach;taifeach;mód déach;lcd;
Keywords[gd]=taisbeanadh;sgrìn;monatair;sealladair;co-dhealbhachd;dùmhlachd-bhreacaidh;dùbailte;lcd;display;screen;monitor;layout;resolution;dual;
Keywords[gl]=ver;pantalla;monitor;deseño;resolución;dual;lcd;
Keywords[he]=מצג;מסך;צג;פריסה;יחס דחיסה;זוגי;LCD;
Keywords[hi]=डिस्प्ले;स्क्रीन;मॉनिटर;अभिन्यास;रेजोलुशन;द्वि;एलसीडी;
Keywords[hr]=prikaz;zaslon;zaslon računala;izlaz;razlučivost;dvostruko;lcd;
Keywords[hu]=kijelző;képernyő;kijelző;monitor;elrendezés;felbontás;kettős;lcd;
Keywords[ia]=schermo;pagina;monitor;disposition;deliberation;dual;lcd;
Keywords[id]=tampilan;layar;monitor;keluaran;resolusi;dual;lcd;
Keywords[is]=birting;skjár;framsetning;upplausn;margir skjáir;lcd;plasma;
Keywords[it]=display;schermo;monitor;layout;risoluzione;doppio;lcd;
Keywords[ja]=display;screen;monitor;layout;resolution;dual;lcd;ディスプレイ;スクリーン;画面;モニター;レイアウト;解像度;2 画面;液晶ディスプレイ;
Keywords[kab]=askan;agdil;asefrak;layout;tabadut;uslig;lcd;
Keywords[ko]=디스플레이;스크린;모니터;배치;해상도;듀얼;LCD;
Keywords[lo]=ສະແດງຜົນ;ຈໍ;ຈໍ;ແບບ;ຄວາມລະອຽດ;dual;lcd;
Keywords[lt]=ekranas;vaizdas;monitorius;išdėstymas;raiška;dualumas;dvigubas;LCD;
Keywords[lv]=displejs;ekrāns;monitors;izkārtojums;izšķirtspēja;dubultais;lcd;
Keywords[ms]=paparan;skrin;monitor;bentangan;resolusi;dwi;lcd;
Keywords[nap]=display;schermo;monitor;layout;risoluzion;dual;lcd;
Keywords[nb]=skjerm;skjerm;monitor;utforming;oppløsning;dobbel;lcd;
Keywords[nds]=Anzeige;Bildschirm;Monitor;Layout;Auflösung;Dual;LCD;
Keywords[nl]=beeldscherm;scherm;monitor;vormgeving;resolutie;tweevoudig;lcd;
Keywords[pa]=ਡਿਸਪਲੇ;ਸਕਰੀਨ;ਮਨੀਟਰ;ਲੇਆਉਟ;ਰੇਸੋਲੁਸ਼ਨ;ਦੋਹਰੀ;ਐਲਸੀਡੀ;
Keywords[pl]=wyświetlacz;ekran;monitor;układ;rozdzielczość;dual;lcd;
Keywords[pt]=exibição;ecrã;monitor;esquema;resolução;lcd;
Keywords[pt_BR]=exibição;tela;monitor;leiaute;resolução;dual;lcd;
Keywords[ro]=afișaj;ecran;monitor;aranjament;rezoluție;dual;lcd;
Keywords[ru]=дисплей;экран;монитор;слой;разрешение;двойной;LCD;
Keywords[sc]=ischermu;bisore;assentu;resolutzione;duale;LCD;
Keywords[sk]=displej;obrazovka;monitor;rozloženie;rozlíšenie;dual;lcd;
Keywords[sl]=prikaz;zaslon;monitor;postavitev;dvojni;lcd;
Keywords[sq]=ekran;monitor;faqosje;rezolucion;dyfish;lcd;
Keywords[sr]=приказ;екран;монитор;излаз;размера;двоструко;лцд;
Keywords[sr@ijekavian]=приказ;екран;монитор;излаз;размера;двоструко;лцд;
Keywords[sr@ijekavianlatin]=приказ;екран;монитор;излаз;размера;двоструко;лцд;
Keywords[sr@latin]=displej;ekran;monitor;prikaz;rezolucija;dvojni;lcd;
Keywords[sv]=visa;skärm;monitor;layout;upplösning;dual;lcd;
Keywords[ta]=காட்சி;திரை;திரையகம்;தளவமைப்பு;பிரிதிறன்;இரட்டை;எல்சிடி;
Keywords[tg]=дисплей;экран;монитор;тарҳбандӣ;возеҳӣ;дучанд;lcd;
Keywords[th]=การแสดงผล;จอแสดงผล;จอแสดงผล;เค้าโครง;ความละเอียดของจอภาพ;จอคู่;จอ lcd;
Keywords[tr]=görüntü;ekran;monitör;düzen;çözünürlük;çift;lcd;
Keywords[uk]=дисплей;екран;монітор;шар;чіткість;подвійний;LCD;
Keywords[ur]=ڈسپلے، سکرین، مانیٹر، خاکہ، ریزولوشن، ڈؤل، ایل سی ڈی;
Keywords[uz]=displey;ekran;monitor;alfavit;ruxsat berilgan xususiyat;qo‘sh;lsd;
Keywords[vi]=hiển thị;màn hình;màn hình;bố trí;độ phân giải;đôi;lcd;
Keywords[zh_CN]=display;screen;monitor;layout;resolution;dual;lcd;显示;屏幕;显示器;布局;分辨率;双屏;液晶;
Keywords[zh_HK]=display;screen;monitor;layout;resolution;dual;LCD;顯示;熒幕;顯示器;佈局;解像度;雙;
Keywords[zh_TW]=顯示;螢幕;顯示器;配置;解析度;雙;LCD;
